Repository meshery/meshery, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, component/ui, component/mesheryctl

.github/labeler.yml:

area/docs:
- docs/**/*
area/ci:
- '.github/**/*'      
component/ui:
- 'ui/**/*'
- 'provider-ui/**/*'
component/mesheryctl:
- 'mesheryctl/**/*'

[Docs] Updated swagger docs for REST API
  docs/_data/swagger.yml
  helpers/swagger.yaml
Labels: area/docs

Update dependabot.yml
  .github/dependabot.yml
Labels: area/ci

added extensions setting into user preferences
  ui/components/NavigatorExtension.js
  ui/components/UserPreferences.js
Labels: component/ui

Edit word 'Health check'
  docs/pages/guides/mesheryctl/running-system-checks-using-mesheryctl.md
Labels: area/docs

Remove temp ruby version
  docs/.ruby-version
Labels: area/docs

some changes
  cmd/main.go
  models/default_local_provider.go
  models/preference_persister.go
  models/remote_provider.go
  models/smiresults_persister.go
  models/test_profiles_persister.go
Labels: none

Added the version validation in the channel command
  mesheryctl/internal/cli/root/system/channel.go
Labels: component/mesheryctl
