Repository meshery/meshery, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, component/ui, component/server, component/mesheryctl, component/extensions, area/lifecycle, kubernetes, framework/helm, framework/graphql, component/database, playground

new wrappers for view.go file
  mesheryctl/internal/cli/root/filter/view.go
Labels: component/mesheryctl

new wrappers for list.go file
  mesheryctl/internal/cli/root/filter/list.go
Labels: component/mesheryctl

new wrappers for delete.go file
  mesheryctl/internal/cli/root/filter/delete.go
Labels: component/mesheryctl

Apply suggestions from code review
  mesheryctl/internal/cli/root/filter/import.go
Labels: component/mesheryctl

introduce pagination for filter list command and search term for better user experience
  mesheryctl/internal/cli/root/filter/list.go
Labels: component/mesheryctl

capitalizing 1st letters of error messages
  mesheryctl/internal/cli/root/filter/error.go
Labels: component/mesheryctl

capitalizing 1st letters of error messages
  mesheryctl/internal/cli/root/filter/error.go
Labels: component/mesheryctl

[CI] Enhance Edge Release Channel with Versioning
  docs/pages/project/contributing/ci-build-and-release.md
Labels: area/docs

fix:meshkit for pattern subcommand done
  mesheryctl/internal/cli/root/config/error.go
  mesheryctl/internal/cli/root/pattern/apply.go
  mesheryctl/internal/cli/root/pattern/delete.go
  mesheryctl/internal/cli/root/pattern/error.go
  mesheryctl/internal/cli/root/pattern/list.go
  mesheryctl/internal/cli/root/pattern/view.go
  mesheryctl/pkg/utils/auth.go
  mesheryctl/pkg/utils/error.go
Labels: component/mesheryctl

Fixed nighthawk unmarshall bug
  server/helpers/load_test_interface.go
Labels: component/server

Remove comment in load_test_interface.go file
  server/helpers/load_test_interface.go
Labels: component/server

Fix lint checks
  server/helpers/load_test_interface.go
Labels: component/server

Fix Lint
  server/helpers/load_test_interface.go
Labels: component/server

latest discussion data files added
  docs/_data/discuss/meshery.json
  docs/_data/discuss/mesheryctl.json
Labels: area/docs

New Meshmodel components generated
  scripts/component_generation/dump.csv
  server/meshmodel/components/cass-operator/0.41.0/CassandraDatacenter.json
  server/meshmodel/components/cass-operator/0.41.0/CassandraTask.json
  server/meshmodel/components/hydra/0.28.2/OAuth2Client.json
  server/meshmodel/components/k8ssandra/1.6.0-20230322112356-286e39ac/CassandraBackup.json
  server/meshmodel/components/k8ssandra/1.6.0-20230322112356-286e39ac/CassandraRestore.json
Labels: component/server

added mesheryctl-system & meshery designs docs in a easy to understand way w/signoff
  docs/Gemfile.lock
  docs/assets/img/meshery-design/create-design.png
  docs/assets/img/meshery-design/design-location.png
  docs/assets/img/meshery-design/import-design.png
  docs/pages/guides/meshery-design.md
  docs/pages/guides/mesheryctl/mesheryctl_system.md
Labels: area/docs

first commit
  docs/Gemfile.lock
  docs/_sass/layout.scss
Labels: area/docs

Update Gemfile.lock
  docs/Gemfile.lock
Labels: area/docs

"system model view" command is added
  mesheryctl/internal/cli/root/system/model.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

"system model list" command is added
  mesheryctl/internal/cli/root/error.go
  mesheryctl/internal/cli/root/system/error.go
  mesheryctl/internal/cli/root/system/model.go
  mesheryctl/internal/cli/root/system/system.go
  mesheryctl/internal/cli/root/version.go
Labels: component/mesheryctl

error and links are added for list command
  mesheryctl/internal/cli/root/system/model.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

added docs on meshery design & system model cmd w/signoff
  docs/assets/img/meshery-design/create-design.png
  docs/assets/img/meshery-design/design-location.png
  docs/assets/img/meshery-design/import-design.png
  docs/pages/guides/meshery-design.md
  docs/pages/guides/mesheryctl/mesheryctl_system.md
Labels: area/docs

meshery-design & meshryctl-system commands w/signoff
  docs/pages/guides/meshery-design.md
  docs/pages/guides/mesheryctl/mesheryctl_system.md
Labels: area/docs

✨ description added using CURL
  docs/Gemfile.lock
  docs/pages/reference/rest-api-reference.md
Labels: area/docs

fix svgs paths
  scripts/component_updater/main.go
Labels: none

lint
  scripts/component_updater/main.go
Labels: none

removed console
  ui/components/Modal.js
Labels: component/ui

📝suggested change by asubedy
  docs/pages/reference/rest-api-reference.md
Labels: area/docs

resolve issues with import statements
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/UploadImport.js
Labels: component/ui

resolve issues with import statements
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/UploadImport.js
Labels: component/ui

make precommit hook executable
  ui/.husky/pre-commit
Labels: component/ui

remove unwanted console logs
  ui/components/Filters.js
Labels: component/ui

.github/labeler.yml:

area/docs:
  - "docs/**/*"
area/ci:
  - ".github/**/*"
component/ui:
  - "ui/**/*"
  - "provider-ui/**/*"
component/server:
  - "server/**/*"
component/mesheryctl:
  - "mesheryctl/**/*"
component/extensions:
  - "install/docker-extension/**/*"
  - "ui/components/ExtensionSandbox.js"
  - "ui/remote-component.config.js"
area/lifecycle:
  - "install/*"
kubernetes:
  - "install/deployment_yamls/*"  
framework/helm:
  - "install/kubernetes/helm/**/*"
framework/graphql:
  - "server/internal/graphql/*"
component/database:
  - "server/internal/sql/*"
playground:
  - "install/playground/**/*"
