Repository meshery/meshery, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, component/ui, component/server, component/mesheryctl, component/extensions, area/lifecycle, kubernetes, framework/helm, framework/graphql, component/database, playground

.github/labeler.yml:

area/docs:
  - "docs/**/*"
area/ci:
  - ".github/**/*"
component/ui:
  - "ui/**/*"
  - "provider-ui/**/*"
component/server:
  - "server/**/*"
component/mesheryctl:
  - "mesheryctl/**/*"
component/extensions:
  - "install/docker-extension/**/*"
  - "ui/components/ExtensionSandbox.js"
  - "ui/remote-component.config.js"
area/lifecycle:
  - "install/*"
kubernetes:
  - "install/deployment_yamls/*"  
framework/helm:
  - "install/kubernetes/helm/**/*"
framework/graphql:
  - "server/internal/graphql/*"
component/database:
  - "server/internal/sql/*"
playground:
  - "install/playground/**/*"

fix:getting port on which meshery server is running
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/view.go
  mesheryctl/internal/cli/root/filter/delete.go
  mesheryctl/internal/cli/root/filter/import.go
  mesheryctl/internal/cli/root/filter/view.go
  mesheryctl/internal/cli/root/pattern/delete.go
  mesheryctl/internal/cli/root/pattern/view.go
  mesheryctl/pkg/utils/helpers.go
  server/models/remote_provider.go
Labels: component/server, component/mesheryctl

Update hierarchical_inv_wasm_filters.json
  server/meshmodel/relationships/hierarchical_inv_wasm_filters.json
Labels: component/server

fix:getting port on which meshery server is running
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/view.go
  mesheryctl/internal/cli/root/filter/delete.go
  mesheryctl/internal/cli/root/filter/view.go
  mesheryctl/internal/cli/root/pattern/delete.go
  mesheryctl/internal/cli/root/pattern/view.go
Labels: component/mesheryctl

Update mesheryctl perf docs
  mesheryctl/internal/cli/root/perf/apply.go
Labels: component/mesheryctl

Added a file input option
  ui/components/MesheryPerformance/index.js
Labels: component/ui

support accpeting the custom components from extensiosn
  ui/components/Modal.js
  ui/components/Modals/ImportModal.js
  ui/components/Modals/PublishModal.js
  ui/components/NavigatorExtension.js
  ui/components/UploadImport.js
Labels: component/ui

latest discussion data files added
  docs/_data/discuss/meshery.json
  docs/_data/discuss/mesheryctl.json
Labels: area/docs

gix go.sum entry
  scripts/component_updater/go.sum
Labels: none

Update docs/pages/guides/configuration-management.md
  docs/pages/guides/configuration-management.md
Labels: area/docs

feat :removed duplication and fixed typo
  docs/_data/toc.yml
  docs/pages/extensions/meshmap/publishing-a-design.md
Labels: area/docs

Update meshmodel search by name
  server/handlers/component_handler.go
Labels: component/server

Added instructions to update error codes
  mesheryctl/internal/cli/root/error.go
  mesheryctl/internal/cli/root/filter/error.go
  mesheryctl/internal/cli/root/mesh/error.go
  mesheryctl/internal/cli/root/perf/error.go
  mesheryctl/internal/cli/root/system/error.go
  mesheryctl/pkg/utils/error.go
  server/cmd/error.go
  server/handlers/error.go
  server/helpers/error.go
  server/internal/graphql/model/error.go
  server/internal/graphql/resolver/error.go
  server/models/error.go
  server/models/meshmodel/core/error.go
  server/models/pattern/core/error.go
Labels: component/server, component/mesheryctl

update wasm filter metdata
  server/meshmodel/components/meshery/1.0.0/WASMFilter.json
Labels: component/server

[Docs] Release Notes for Meshery
  docs/_releases/v0.6.110.md
Labels: area/docs

latest discussion data files added
  docs/_data/discuss/meshery.json
  docs/_data/discuss/mesheryctl.json
Labels: area/docs

[Docs] Test status of adapter
  docs/_compatibility/meshery-istio/07-22-2023-02-55-07_42d37c3b.md
Labels: area/docs

[Docs] Test status of adapter
  docs/_compatibility/meshery-istio/07-22-2023-03-00-07_42d37c3b.md
Labels: area/docs

[Docs] Test status of adapter
  docs/_compatibility/meshery-istio/07-22-2023-03-04-07_42d37c3b.md
Labels: area/docs

[Docs] Test status of adapter
  docs/_compatibility/meshery-traefik-mesh/07-22-2023-03-05-07_d61d4265.md
Labels: area/docs

[Docs] Test status of adapter
  docs/_compatibility/meshery-traefik-mesh/07-22-2023-05-48-07_85e431e6.md
Labels: area/docs

[Docs] Test status of adapter
  docs/_compatibility/meshery-traefik-mesh/07-22-2023-05-52-07_85e431e6.md
Labels: area/docs

[Docs] Test status of adapter
  docs/_compatibility/meshery-traefik-mesh/07-22-2023-05-55-07_85e431e6.md
Labels: area/docs

updates endpoints
  server/handlers/component_handler.go
  server/handlers/relationship_handlers.go
  server/models/handlers.go
Labels: component/server

remove func
  server/handlers/component_handler.go
  server/models/handlers.go
Labels: component/server

Update toc.yml
  docs/_data/toc.yml
Labels: area/docs

Update toc.yml
  docs/_data/toc.yml
Labels: area/docs

Migrated UploadImport modal to Modal
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/Modal.js
  ui/themes/rjsf.js
Labels: component/ui

Migrate filter table publish and import modal
  ui/components/Filters.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryPatterns.js
  ui/components/Modal.js
Labels: component/ui

fix design publish modal
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
Labels: component/ui

Rename --config to --wasm-config with shorthand -w and add shorthand -c for global config flag in mesheryctl filter import
  mesheryctl/internal/cli/root/filter/import.go
  mesheryctl/internal/cli/root/root.go
Labels: component/mesheryctl

add support to provision crds/operators by default
  server/cmd/main.go
  server/handlers/component_generation.go
  server/handlers/component_handler.go
  server/handlers/content_modifier.go
  server/handlers/design_engine_handler.go
  server/handlers/handler_instance.go
  server/handlers/k8sconfig_handler.go
  server/handlers/meshery_application_handler.go
  server/handlers/relationship_handlers.go
  server/internal/graphql/resolver/meshmodel.go
  server/meshmodel/helper.go
  server/models/k8s_components_registration.go
  server/models/meshmodel/core/register.go
  server/models/pattern/core/pattern.go
  server/models/pattern/patterns/patterns.go
  server/models/pattern/resource/selector/selector.go
  server/models/pattern/stages/provision.go
  server/models/pattern/stages/svc_provider.go
  ui/components/MesherySnackbarWrapper.js
Labels: component/ui, component/server

lint fixes
  server/cmd/main.go
  server/handlers/component_generation.go
  server/handlers/component_handler.go
  server/handlers/contexts_handler.go
  server/handlers/database_handlers.go
  server/handlers/design_engine_handler.go
  server/handlers/fetch_results_handler.go
  server/handlers/k8sconfig_handler.go
  server/handlers/meshery_application_handler.go
  server/handlers/meshery_filter_handler.go
  server/handlers/meshery_pattern_handler.go
  server/handlers/performance_profiles_handler.go
  server/handlers/relationship_handlers.go
  server/handlers/schedule_handlers.go
  server/handlers/user_handler.go
  server/helpers/adapters_tracker.go
  server/internal/graphql/resolver/adaptor.go
  server/internal/graphql/resolver/meshmodel.go
  server/meshmodel/helper.go
  server/models/database_summary.go
  server/models/k8s_components_registration.go
  server/models/meshery_filter.go
  server/models/meshery_meshmodels_api_response.go
  server/models/meshery_pattern_persister.go
  server/models/meshmodel/core/register.go
  server/models/pattern/core/pattern.go
  server/models/pattern/patterns/patterns.go
  server/models/pattern/stages/provision.go
  server/models/pattern/utils/utils.go
  server/models/user.go
Labels: component/server

creating new error Wrappers for filter package
  mesheryctl/internal/cli/root/filter/error.go
Labels: component/mesheryctl

status code error function
  mesheryctl/internal/cli/root/filter/error.go
Labels: component/mesheryctl

new returned error wrappers
  mesheryctl/internal/cli/root/filter/import.go
Labels: component/mesheryctl

adjusting indents
  mesheryctl/internal/cli/root/filter/error.go
Labels: component/mesheryctl

added hostID and Hostname
  server/handlers/component_handler.go
  server/handlers/relationship_handlers.go
  server/helpers/helpers.go
Labels: component/server

latest discussion data files added
  docs/_data/discuss/meshery.json
  docs/_data/discuss/mesheryctl.json
Labels: area/docs

New Meshmodel components generated
  scripts/component_generation/dump.csv
  server/meshmodel/components/edp-component-operator/0.13.0-SNAPSHOT.8/EDPComponent.json
Labels: component/server

new error wrappers
  mesheryctl/internal/cli/root/filter/error.go
Labels: component/mesheryctl
