Repository meshery/meshery, pull requests merged in 2019-10, with the labels that each got.

#344 Linking to new contributors guide
  CONTRIBUTING.md
Labels: bug, chore

#349 📝 404.html updated
  docs/404.html
Labels: hacktoberfest

#339 #304 - Collapsible Side Navigation
  ui/components/Navigator.js
  ui/pages/_app.js
  ui/static/img/sidebar-collapse-toggle-icon.svg
Labels: hacktoberfest

#370 issue/366 - Bug: Header Line wrapping in mobile view
  ui/components/Header.js
Labels: hacktoberfest, ui

#383 fix: Page title line wrap
  ui/components/Header.js
Labels: hacktoberfest

#372 update apiversion for deployments to apps/v1 to support k8s 1.16
  deployment_yamls/k8s/k8s-1-16-deployments/meshery-deployment.yaml
  deployment_yamls/k8s/k8s-1-16-deployments/meshery-istio-deployment.yaml
  deployment_yamls/k8s/k8s-1-16-deployments/meshery-linkerd-deployment.yaml
Labels: hacktoberfest

#396 Docs: Including drafts and livereload in docs Makefile
  docs/Makefile
Labels: docs

#401 check existing yaml file in .meshery
  mesheryctl/cmd/cleanup.go
  mesheryctl/cmd/logs.go
  mesheryctl/cmd/start.go
  mesheryctl/cmd/update.go
Labels: hacktoberfest

#404 fixed edit link in docs
  docs/_includes/editable.html
Labels: hacktoberfest

#421 capitalize tooltip
  ui/components/DashboardComponent.js
Labels: hacktoberfest

#431 #410 Docs: Added Prometheus section and description
  docs/pages/management.md
Labels: hacktoberfest

#427 Separated platforms from Installation page into their own pages
  docs/_data/toc.yml
  docs/pages/installation/docker.md
  docs/pages/installation/eks.md
  docs/pages/installation/gke.md
  docs/pages/installation/index.md
  docs/pages/installation/kubernetes.md
  docs/pages/installation/minikube.md
Labels: hacktoberfest

#424 Enhance create documentation issue link
  docs/_includes/editable.html
Labels: hacktoberfest

#425 404 page updates
  docs/_includes/permalinks.html
  docs/_includes/toc.html
  docs/pages/404.md
Labels: docs, enhancement

#443 Add CNAME
  CNAME
Labels: docs
