Repository meshery/meshery, pull requests merged in 2019-09, with the labels that each got.

#238 #232 solved lint issues
  mesheryctl/cmd/init.go
  mesheryctl/cmd/logs.go
  mesheryctl/cmd/start.go
  mesheryctl/cmd/vars.go
Labels: mesheryctl

#237 Improve Makefile readability
  Makefile
Labels: chore

#250 Updating git commit sign-off examples
  CONTRIBUTING.md
  README.md
Labels: chore

#240 #91 check for meshery_1 container running before opening browser
  cmd/main.go
  go.mod
  go.sum
  mesheryctl/cmd/cleanup.go
  mesheryctl/cmd/init.go
  mesheryctl/cmd/logs.go
  mesheryctl/cmd/root.go
  mesheryctl/cmd/start.go
  mesheryctl/cmd/status.go
  mesheryctl/cmd/stop.go
  mesheryctl/cmd/update.go
  mesheryctl/cmd/vars.go
Labels: mesheryctl

#292 icon for load generators
  ui/static/img/performance.svg
Labels: ui
