Repository meshery/meshery, pull requests merged in 2020-07, with the labels that each got.

#1183 chore: remove deprecated packages installed
  go.sum
Labels: chore

#1185 Run CI Go tests locally
  Makefile
  go.mod
Labels: area/ci

#1179 [Docs]: updated GKE and EKS pages
  docs/pages/installation/eks.md
  docs/pages/installation/gke.md
Labels: docs

#1202 [meshery:mesheryctl] : Implemented version API on server and ctl
  Makefile
  docs/pages/architecture.md
  go.mod
  handlers/server_spec_handler.go
  mesheryctl/cmd/mesheryctl/main.go
  mesheryctl/internal/cli/root/version.go
  models/handlers.go
  router/server.go
Labels: component/mesheryctl, enhancement, language/go

#1159 [provider-ui] - Add initial support for Cypress
  Makefile
  provider-ui/.eslintignore
  provider-ui/.gitignore
  provider-ui/cypress.json
  provider-ui/cypress/fixtures/example.json
  provider-ui/cypress/integration/canary_spec.js
  provider-ui/cypress/plugins/index.js
  provider-ui/cypress/support/commands.js
  provider-ui/cypress/support/index.js
  provider-ui/package-lock.json
  provider-ui/package.json
Labels: area/ui

#1203 [CI] Docker, Kubernetes, Helm manifests updated to "stable" release channel
  Dockerfile
  docker-compose.yaml
  install/deployment_yamls/k8s/k8s-1-16-deployments/meshery-cpx-deployment.yaml
  install/deployment_yamls/k8s/k8s-1-16-deployments/meshery-deployment.yaml
  install/deployment_yamls/k8s/k8s-1-16-deployments/meshery-istio-deployment.yaml
  install/deployment_yamls/k8s/k8s-1-16-deployments/meshery-linkerd-deployment.yaml
  install/deployment_yamls/k8s/meshery-consul-deployment.yaml
  install/deployment_yamls/k8s/meshery-cpx-deployment.yaml
  install/deployment_yamls/k8s/meshery-deployment.yaml
  install/deployment_yamls/k8s/meshery-istio-deployment.yaml
  install/deployment_yamls/k8s/meshery-linkerd-deployment.yaml
  install/deployment_yamls/k8s/meshery-nsm-deployment.yaml
  install/deployment_yamls/k8s/meshery-octarine-deployment.yaml
  install/kubernetes/helm/meshery/Chart.yaml
  install/kubernetes/helm/meshery/charts/mesheryistio/Chart.yaml
  install/kubernetes/helm/meshery/charts/mesheryistio/values.yaml
  install/kubernetes/helm/meshery/charts/mesherylinkerd/Chart.yaml
  install/kubernetes/helm/meshery/charts/mesherylinkerd/values.yaml
  install/kubernetes/helm/meshery/values.yaml
  install/mesheryapp.dockerapp/docker-compose.yml
  install/mesheryapp.dockerapp/metadata.yml
Labels: area/ci, area/lifecycle, kind/chore

#1208 [Docs] Meshery Adapters update
  docs/_adapters/app-mesh.md
  docs/_adapters/consul.md
  docs/_adapters/cpx.md
  docs/_adapters/istio.md
  docs/_adapters/kuma.md
  docs/_adapters/linkerd.md
  docs/_adapters/maesh.md
  docs/_adapters/octarine/octarine.md
  docs/_adapters/sofamesh.md
  docs/_adapters/tanzu-sm.md
  docs/_data/toc.yml
  docs/pages/service-meshes/adapters.md
  docs/pages/service-meshes/index.md
Labels: area/docs

#1220 [docs]: add nighthawk as a load generator
  docs/pages/extensibility.md
Labels: area/docs

#1218 meshery 1214 [docs] Add all Supported Platforms to the list
  docs/pages/installation/platforms.md
Labels: area/docs

#1236 [mehsery-helm-charts] Fix the deployment issue `InvalidImageName`
  install/kubernetes/helm/meshery/Chart.yaml
  install/kubernetes/helm/meshery/charts/mesheryistio/Chart.yaml
  install/kubernetes/helm/meshery/charts/mesheryistio/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/mesherylinkerd/Chart.yaml
  install/kubernetes/helm/meshery/charts/mesherylinkerd/templates/deployment.yaml
  install/kubernetes/helm/meshery/templates/deployment.yaml
Labels: area/workloads, kind/bug

#1242 [mesheryctl] fatal error due to missing meshery.yaml
  mesheryctl/internal/cli/root/root.go
Labels: component/mesheryctl

#1245 [meshery]:Added initial kubeconfig
  ui/components/MeshConfigComponent.js
Labels: area/ui, kind/bug, language/javascript

#1247 hotfix: Meshery settings page not building
  ui/components/MeshConfigComponent.js
  ui/cypress/integration/sample_spec.js
Labels: area/tests, area/ui

#1234 fix: Improve the error message in server-version
  mesheryctl/internal/cli/root/version.go
Labels: component/mesheryctl, language/go

#1255 docs: Mention about run-tests in contributing.md
  CONTRIBUTING.md
Labels: area/docs

#1296 [mesheryctl][ci] docker env vars for release tag and commit sha
  .github/workflows/ci.yml
Labels: area/ci, component/mesheryctl

#1244 [UI]Feat: Performance Tests: A drop-down list for the `Duration` field
  ui/components/MesheryPerformanceComponent.js
  ui/package.json
  ui/pages/_app.js
  ui/public/static/style/index.css
Labels: area/ui, language/javascript

#1305 chore: conflict in lock.json
  ui/package-lock.json
Labels: area/ui, kind/chore

#1301 [Docs]: Add documentation for installation on KinD
  docs/pages/installation/kinD.md
Labels: area/docs

#1312 Fixed versioning issue
  .goreleaser.yml
  Dockerfile
  Makefile
  cmd/main.go
  handlers/server_spec_handler.go
  mesheryctl/Makefile
  mesheryctl/cmd/mesheryctl/main.go
  mesheryctl/internal/cli/root/cfg/cfg.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/version.go
Labels: component/mesheryctl, kind/bug

#1310 chore: Change the slider toggle color scheme
  ui/components/UserPreference.js
Labels: area/ui, language/javascript, pr/do-not-merge
