Repository meshery/meshery, pull requests merged in 2020-04, with the labels that each got.

#780 Start of rest api docs
  docs/pages/extensibility.md
Labels: docs

#806 Docs: Update Scoop documentation
  README.md
  docs/pages/installation/index.md
Labels: docs

#814 feat: adding security & static checks
  .github/workflows/ci.yml
  handlers/common_handlers.go
  handlers/events_streamer.go
  handlers/fetch_results_handler.go
  handlers/grafana_handlers.go
  handlers/handler_instance.go
  handlers/k8sconfig_handler.go
  handlers/load_test_handler.go
  handlers/load_test_preferences_handler.go
  handlers/mesh_ops_handlers.go
  handlers/middlewares.go
  handlers/session_sync_handler.go
  mesheryctl/cmd/start.go
  models/default_local_provider.go
  models/grafana_helper.go
  models/load-test.go
  models/meshery_remote_provider.go
  models/prometheus_helper.go
  tools-config/revive-lint.toml
  tools-config/staticcheck.conf
Labels: enhancement

#809 feat: adding vet to CI workflow
  .github/workflows/ci.yml
  handlers/events_streamer.go
  mesheryctl/cmd/root.go
Labels: enhancement

#832 feat: Restore Go_Tests and finalise CI Actions
  .github/workflows/ci.yml
Labels: enhancement

#845 docker-compose check for Windows removed
  mesheryctl/cmd/vars.go
Labels: mesheryctl

#851 [mesheryctl] add `--reset` flag to `mesheryctl stop`
  docs/pages/guides/mesheryctl.md
  docs/pages/overview.md
  mesheryctl/cmd/cleanup.go
  mesheryctl/cmd/root.go
  mesheryctl/cmd/stop.go
Labels: mesheryctl

#808 mesheryctl: Improve error checking in perf subcommand
  go.mod
  go.sum
  mesheryctl/cmd/perf.go
  mesheryctl/cmd/start.go
Labels: enhancement, mesheryctl

#865 [docs] adapter updates: initial NSM, tweaks on Octarine, rename NSX SM
  docs/_adapters/nsm.md
  docs/_adapters/nsm/icmp-responder-example-2.svg
  docs/_adapters/nsm/icmp-responder-example.svg
  docs/_adapters/nsm/nsm.md
  docs/_adapters/nsm/vpp-icmp-responder-example-2.svg
  docs/_adapters/nsm/vpp-icmp-responder-example.svg
  docs/_adapters/octarine.md
  docs/_adapters/tanzu-sm.md
  docs/assets/img/performance-management/meshery-and-grafana.png
  docs/pages/guides/multiple-of-the-same-adapter.md
  docs/pages/management.md
Labels: docs

#884 [mesheryctl] add `--skip-update` to `mesheryctl start`
  mesheryctl/cmd/start.go
  mesheryctl/cmd/update.go
Labels: enhancement, mesheryctl

#911 mesheryCTL: Added support for accpeting file as input in perf command
  handlers/load_test_handler.go
  mesheryctl/cmd/perf.go
  models/benchmark_spec.go
  models/load-test.go
Labels: area/performance, mesheryctl

#914 fix: go-releaser for mesheryctl & model rename
  .goreleaser.yml
  cmd/main.go
  go.mod
  go.sum
  handlers/handler_instance.go
  handlers/load_test_handler.go
  mesheryctl/cmd/perf.go
  models/grafana_helper.go
  models/handlers.go
  models/performance_spec.go
  models/prometheus_helper.go
Labels: mesheryctl

#918 UI: Add deep linking for tabs in Settings page
  ui/components/MesherySettings.js
Labels: area/ui

#922 mesheryctl: Feature/cli login
  handlers/middlewares.go
  mesheryctl/cmd/helpers.go
  mesheryctl/cmd/perf.go
  mesheryctl/cmd/vars.go
  models/default_local_provider.go
  models/meshery_remote_provider.go
  models/providers.go
  models/remote_auth.go
  router/server.go
  ui/components/User.js
Labels: mesheryctl
