Repository meshery/meshery, pull requests merged in 2020-12, with the labels that each got.

#2006 [Docs] brew instructions
  docs/_data/toc.yml
  docs/_includes/installation_prerequisites.html
  docs/pages/guides/working-with-mesheryctl.md
  docs/pages/installation/aks.md
  docs/pages/installation/docker.md
  docs/pages/installation/eks.md
  docs/pages/installation/gke.md
  docs/pages/installation/index.md
  docs/pages/installation/kinD.md
  docs/pages/installation/kubernetes.md
  docs/pages/installation/minikube.md
  docs/pages/installation/windows.md
Labels: area/docs, language/markdown

#2013 Kalradev/meshsync/endpoint
  cmd/main.go
  go.mod
  go.sum
  handlers/meshsync_handlers.go
  models/handlers.go
  nats/nats.go
  router/server.go
Labels: component/api, language/go, pr/do-not-merge

#2030 [Docs] README: fix for link to quick start guide
  docs/pages/installation/index.md
Labels: area/docs, language/markdown

#2035 [Docs] Fix broken links
  docs/_adapters/octarine/octarine.md
Labels: area/docs, language/markdown

#2023 [Docs] Jekyll upgrade; Gemfile.lock tracking
  .gitignore
  docs/Gemfile.lock
Labels: area/docs

#2036 switched to docs.meshery.io
  .github/ISSUE_TEMPLATE/documentation.md
  README.md
  docs/README.md
  docs/_adapters/app-mesh.md
  docs/_adapters/consul/consul.md
  docs/_adapters/cpx.md
  docs/_adapters/istio/istio.md
  docs/_adapters/kuma/kuma.md
  docs/_adapters/linkerd.md
  docs/_adapters/maesh.md
  docs/_adapters/nginx-sm.md
  docs/_adapters/nsm/nsm.md
  docs/_adapters/octarine/octarine.md
  docs/_adapters/osm/osm.md
  docs/_adapters/tanzu-sm.md
  docs/_config.yml
  docs/_includes/footer.html
  docs/pages/es/architecture.md
  docs/pages/es/functionality/performance.md
  docs/pages/es/index.md
  docs/pages/es/installation/platforms.md
  docs/pages/es/overview.md
  docs/pages/getting-started/overview.md
  docs/pages/getting-started/project/index.md
  docs/pages/index.html
  docs/pages/installation/aks.md
  docs/pages/installation/docker.md
  docs/pages/installation/eks.md
  docs/pages/installation/gke.md
  docs/pages/installation/index.md
  docs/pages/installation/kinD.md
  docs/pages/installation/kubernetes.md
  docs/pages/installation/minikube.md
  docs/pages/installation/platforms.md
  docs/pages/installation/windows.md
  docs/pages/reference/extensibility.md
  handlers/load_test_handler.go
  mesheryctl/pkg/utils/helpers.go
  models/validators.go
Labels: area/ci, area/docs, language/markdown

#1791 fix: restructure mesheryctl version error handling
  mesheryctl/internal/cli/root/version.go
Labels: component/mesheryctl, kind/bug

#2037 [UI] Resize sidebar to accomodate external links
  ui/components/Navigator.js
Labels: area/ui, language/javascript

#2038 [Docs] Adapter behavior notes
  docs/_adapters/linkerd.md
  docs/pages/functionality/management.md
Labels: area/docs, language/markdown

#2017 [Docs] Copy-to-clipboard fix
  docs/_adapters/nsm/nsm.md
  docs/_config.yml
  docs/_includes/head.html
  docs/_includes/installation_prerequisites.html
  docs/_sass/adapters.scss
  docs/_sass/clipboard.scss
  docs/_sass/installation.scss
  docs/assets/css/main.css
  docs/assets/css/sass.scss
  docs/assets/js/main.js
  docs/pages/es/installation/docker.md
  docs/pages/guides/meshery-metrics.md
  docs/pages/guides/upgrade.md
  docs/pages/guides/working-with-mesheryctl.md
  docs/pages/index.html
  docs/pages/installation/aks.md
  docs/pages/installation/gke.md
  docs/pages/installation/index.md
  docs/pages/installation/kinD.md
  docs/pages/installation/kubernetes.md
  docs/pages/installation/minikube.md
  docs/pages/installation/windows.md
Labels: area/docs, language/javascript, language/markdown

#2027 Fix invalid markdown lifecycle management page
  docs/pages/functionality/management.md
Labels: area/docs, language/markdown

#2034 [Docs] Update Content menu
  .gitignore
  docs/_includes/installation_prerequisites.html
  docs/pages/concepts/architecture/architecture.md
  docs/pages/concepts/architecture/service-meshes/adapters.md
  docs/pages/concepts/architecture/service-meshes/index.md
  docs/pages/concepts/index.md
  docs/pages/concepts/performance.md
  docs/pages/es/architecture.md
  docs/pages/es/installation/aks.md
  docs/pages/es/installation/docker.md
  docs/pages/es/installation/eks.md
  docs/pages/es/installation/gke.md
  docs/pages/es/installation/index.md
  docs/pages/es/installation/kinD.md
  docs/pages/es/installation/kubernetes.md
  docs/pages/es/installation/minikube.md
  docs/pages/es/installation/platforms.md
  docs/pages/es/installation/windows.md
  docs/pages/es/overview.md
  docs/pages/es/project/CONTRIBUTING-gitflow.md
  docs/pages/es/project/contributing.md
  docs/pages/es/project/index.md
  docs/pages/es/project/security-vulnerabilities.md
  docs/pages/functionality/management.md
  docs/pages/functionality/performance.md
  docs/pages/getting-started/project/index.md
  docs/pages/guides/index.md
  docs/pages/guides/interpreting-performance-test-results.md
  docs/pages/guides/meshery-metrics.md
  docs/pages/guides/multiple-of-the-same-adapter.md
  docs/pages/guides/sample-apps.md
  docs/pages/guides/upgrade.md
  docs/pages/guides/working-with-mesheryctl.md
  docs/pages/installation/aks.md
  docs/pages/installation/docker.md
  docs/pages/installation/gke.md
  docs/pages/installation/kinD.md
  docs/pages/installation/kubernetes.md
  docs/pages/installation/minikube.md
  docs/pages/installation/windows.md
  docs/pages/reference/extensibility.md
  docs/pages/reference/index.md
  docs/pages/reference/mesheryctl-commands.md
Labels: area/docs, language/markdown

#2045 [Docs] restructure 1
  docs/_adapters/consul/consul.md
  docs/_adapters/cpx.md
  docs/_adapters/istio/istio.md
  docs/_adapters/kuma/kuma.md
  docs/_adapters/linkerd.md
  docs/_adapters/nsm/nsm.md
  docs/_adapters/osm/osm.md
  docs/_adapters/tanzu-sm.md
  docs/_data/toc.yml
  docs/_includes/adapter-status.html
  docs/_layouts/default.html
  docs/assets/css/main.css
  docs/pages/concepts/architecture/architecture.md
  docs/pages/concepts/architecture/service-meshes/adapters.md
  docs/pages/concepts/architecture/service-meshes/index.md
  docs/pages/functionality/index.md
  docs/pages/functionality/management.md
  docs/pages/functionality/performance.md
  docs/pages/functionality/service-mesh-interface.md
  docs/pages/getting-started/overview.md
  docs/pages/getting-started/project/FAQ.md
  docs/pages/getting-started/project/contributing.md
  docs/pages/getting-started/project/index.md
  docs/pages/getting-started/project/releases.md
  docs/pages/getting-started/project/security-vulnerabilities.md
  docs/pages/guides/index.md
  docs/pages/guides/interpreting-performance-test-results.md
  docs/pages/guides/meshery-metrics.md
  docs/pages/guides/multiple-of-the-same-adapter.md
  docs/pages/guides/sample-apps.md
  docs/pages/guides/upgrade.md
  docs/pages/installation/aks.md
  docs/pages/installation/docker.md
  docs/pages/installation/eks.md
  docs/pages/installation/gke.md
  docs/pages/installation/index.md
  docs/pages/installation/minikube.md
Labels: area/docs, language/markdown

#2046 Leecalcote/docs update
  docs/_adapters/consul/consul.md
  docs/_layouts/default.html
  docs/pages/guides/sample-apps.md
  docs/pages/guides/upgrade.md
  docs/pages/guides/working-with-mesheryctl.md
  docs/pages/index.md
  docs/pages/installation/aks.md
  docs/pages/installation/docker.md
  docs/pages/installation/eks.md
  docs/pages/installation/gke.md
  docs/pages/installation/index.md
  docs/pages/installation/kinD.md
  docs/pages/installation/kubernetes.md
  docs/pages/installation/minikube.md
  docs/pages/installation/platforms.md
  docs/pages/installation/windows.md
  docs/pages/reference/mesheryctl-commands.md
Labels: area/docs, language/markdown

#2048 fixes #2044
  docs/pages/concepts/architecture/architecture.md
Labels: area/docs, language/markdown

#2049 CI: Fixed slack notification for repo stars
  .github/workflows/slack.yml
Labels: area/ci

#2051 correct usage of env
  .github/workflows/slack.yml
Labels: area/ci

#2064 [Docs] Added Release Notes v0.4.23, v0.4.24, v0.4.25 to Docs Releases page
  docs/pages/getting-started/project/releases.md
Labels: area/docs, language/markdown

#2069 Restructure adapter dashboard
  ui/components/MesheryAdapterPlayComponent.js
Labels: area/ui, language/javascript

#2068 Updated CONTRIBUTING.md to reflect update to Go 1.15
  CONTRIBUTING.md
Labels: language/markdown

#2052 [mesheryctl] Implement meshery update prompt mesheryctl
  handlers/server_spec_handler.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/api, component/mesheryctl, language/go

#2073 fixes for grafana bug
  go.mod
  go.sum
  models/grafana_helper.go
Labels: language/go

#1990 feat: add channel switch in mesheryctl
  mesheryctl/internal/cli/root/system/channel.go
  mesheryctl/internal/cli/root/system/system.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl, language/go

#2074 Made first row selectable in the Results section
  ui/components/MesheryResults.js
Labels: area/ui, language/javascript

#2032 Remove default location from usage test and let cobra handle that
  mesheryctl/internal/cli/root/root.go
Labels: component/mesheryctl, language/go, pr/do-not-merge

#2085 [Docs] Update minikube installation instructions
  docs/pages/installation/minikube.md
Labels: area/docs, language/markdown

#2083 [Docs] Clipboard Plugin - Fix styling
  docs/_sass/clipboard.scss
  docs/assets/img/performance-management/grafana-dashboard.png
  docs/pages/functionality/performance.md
  docs/pages/guides/working-with-mesheryctl.md
  docs/pages/installation/gke.md
Labels: area/docs, language/markdown

#2082 feat: seperate website build from meshery
  .github/workflows/ci.yml
  .github/workflows/documentation-build.yml
  docs/README.md
  docs/assets/img/adapters/consul/consul-imagehub-success.pngZone.Identifier
  docs/assets/img/adapters/consul/consul-sample-app.pngZone.Identifier
Labels: area/ci, area/docs

#2096 feat: invoke nighthawk in meshery
  Dockerfile
Labels: area/performance, kind/feature

#2080 Add GIT_VERSION argument
  .github/workflows/build-and-release.yml
Labels: area/ci

#2081 Add Grafana Charts to the Service Mesh Management Page
  ui/components/GrafanaComponent.js
  ui/components/GrafanaCustomChart.js
  ui/components/GrafanaCustomCharts.js
  ui/components/GrafanaDateRangePicker.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/pages/management.js
Labels: area/ui, language/javascript

#2103 Correct `channel` command execution message
  mesheryctl/internal/cli/root/system/channel.go
Labels: component/mesheryctl, language/go

#2102 [MeshMap] User Preferences for zoom level
  handlers/k8sconfig_handler.go
  handlers/mesh_ops_handlers.go
  handlers/provider_handler.go
  handlers/user_handler.go
  models/preference.go
  models/preference_bitcask_persister.go
  models/preference_map_persister.go
  ui/components/UserPreference.js
  ui/components/visualize/Elements.js
  ui/components/visualize/MesheryVisualizeComponent.js
  ui/components/visualize/styles/styleContainer.js
  ui/cypress/fixtures/stats.json
  ui/cypress/integration/e2e/userpreference_spec.js
  ui/cypress/integration/integration/userpreference_spec.js
  ui/package-lock.json
  ui/package.json
  ui/pages/userpreference.js
Labels: area/ui, component/api, language/go, language/javascript, pr/draft

#2101 [Docs] Restructure Meshery Extensibility docs; Publish Meshery Adapter extensibility details
  docs/_data/toc.yml
  docs/pages/concepts/architecture/service-meshes/adapters.md
  docs/pages/es/functionality/performance.md
  docs/pages/extensibility/adapters.md
  docs/pages/extensibility/extensibility.md
  docs/pages/extensibility/load-generators.md
  docs/pages/extensibility/providers.md
  docs/pages/functionality/performance.md
  docs/pages/installation/index.md
  docs/pages/reference/extensibility.md
Labels: area/docs, language/markdown

#2106 [Docs] Fix extensibility links
  docs/pages/extensibility/adapters.md
  docs/pages/extensibility/extensibility.md
  docs/pages/extensibility/providers.md
Labels: area/docs, language/markdown

#2079 [Docs] Fix WSL1 hide/show button UX issue
  docs/assets/css/main.css
  docs/pages/es/installation/windows.md
  docs/pages/installation/windows.md
Labels: area/docs, language/markdown

#2124 Fetch version from ldflags
  handlers/server_spec_handler.go
  mesheryctl/internal/cli/root/version.go
Labels: component/api, component/mesheryctl, language/go

#2039 CI: Modified to create changelog file for release
  .github/workflows/release-drafter.yml
Labels: area/ci

#2084 [Docs] Update site permalinks
  docs/_adapters/app-mesh.md
  docs/_adapters/consul/consul.md
  docs/_adapters/cpx.md
  docs/_adapters/istio/istio.md
  docs/_adapters/kuma/kuma.md
  docs/_adapters/linkerd.md
  docs/_adapters/maesh.md
  docs/_adapters/nginx-sm.md
  docs/_adapters/octarine/octarine.md
  docs/_adapters/osm/osm.md
  docs/_adapters/tanzu-sm.md
  docs/_includes/breadcrumbs.html
  docs/_includes/head.html
  docs/_includes/sidebar.html
  docs/pages/concepts/architecture/architecture.md
  docs/pages/concepts/architecture/service-meshes/adapters.md
  docs/pages/concepts/architecture/service-meshes/index.md
  docs/pages/es/installation/docker.md
  docs/pages/es/installation/eks.md
  docs/pages/es/installation/gke.md
  docs/pages/es/installation/index.md
  docs/pages/es/installation/kubernetes.md
  docs/pages/es/installation/minikube.md
  docs/pages/es/installation/platforms.md
  docs/pages/es/installation/windows.md
  docs/pages/functionality/management.md
  docs/pages/functionality/performance.md
  docs/pages/getting-started/project/index.md
  docs/pages/guides/interpreting-performance-test-results.md
  docs/pages/guides/meshery-metrics.md
  docs/pages/guides/sample-apps.md
  docs/pages/guides/working-with-mesheryctl.md
  docs/pages/installation/aks.md
  docs/pages/installation/docker.md
  docs/pages/installation/eks.md
  docs/pages/installation/gke.md
  docs/pages/installation/index.md
  docs/pages/installation/kinD.md
  docs/pages/installation/kubernetes.md
  docs/pages/installation/minikube.md
  docs/pages/installation/platforms.md
  docs/pages/installation/windows.md
  docs/pages/search.html
Labels: area/docs, language/markdown

#2108 [mesheryctl] Revert interactive prompt to classic y/n
  go.mod
  go.sum
  handlers/server_spec_handler.go
Labels: component/api, language/go

#2132 Name change from Maesh to Traefik Mesh
  docs/_adapters/traefik-mesh.md
  docs/_config.yml
  docs/_data/toc.yml
  docs/assets/img/service-meshes/traefik-mesh.svg
Labels: area/docs, language/markdown

#2131 CI: Fix for release drafter CI creating release note file job.
  .github/workflows/release-drafter.yml
Labels: area/ci

#2133 CI: Fix for release drafter CI creating release note file job.
  .github/workflows/release-drafter.yml
Labels: area/ci

#2129 Added SMP versioning
  handlers/load_test_handler.go
  handlers/load_test_meshes_handler.go
  handlers/load_test_preferences_handler.go
  models/bitcask_test_profiles_persister.go
  models/default_local_provider.go
  models/meshery_remote_provider.go
  models/providers.go
  models/validators.go
Labels: component/api, language/go

#2135 Broken SMP reference; broken prompt-ui references
  go.sum
  handlers/load_test_handler.go
  handlers/load_test_meshes_handler.go
  handlers/load_test_preferences_handler.go
  handlers/server_spec_handler.go
  models/bitcask_test_profiles_persister.go
  models/default_local_provider.go
  models/meshery_remote_provider.go
  models/providers.go
  models/validators.go
Labels: component/api, language/go

#2144 [Meshery] NATS subscriber implementation
  cmd/main.go
  go.mod
  go.sum
  helpers/istio_scan.go
  helpers/kubernetes.go
  helpers/kubernetes_scan.go
  nats/nats.go
Labels: language/go

#2142 [API] Restructure user preferences endpoint
  ui/components/User.js
  ui/components/UserPreferences.js
  ui/cypress/integration/e2e/userpreference_spec.js
  ui/cypress/integration/integration/userpreference_spec.js
  ui/pages/user/preferences.js
Labels: area/ui, language/javascript

#2130 [Meshery] Implemented NATS subscriber
  cmd/main.go
  go.mod
  go.sum
  helpers/istio_scan.go
  helpers/kubernetes.go
  helpers/kubernetes_scan.go
  nats/nats.go
Labels: language/go

#2145 [WIP] UI Extension points
  cmd/main.go
  handlers/provider_handler.go
  handlers/remote_components_handler.go
  handlers/ui_handler.go
  models/default_local_provider.go
  models/handlers.go
  models/providers.go
  models/remote_auth.go
  models/remote_provider.go
  provider-ui/components/ProviderComponent.js
  router/server.go
  ui/components/ExtensionSandbox.js
  ui/components/Header.js
  ui/components/Navigator.js
  ui/components/NavigatorExtension.js
  ui/next.config.js
  ui/package-lock.json
  ui/package.json
  ui/pages/_app.js
  ui/pages/extension/[component].js
  ui/remote-component.config.js
  ui/utils/ExtensionPointSchemaValidator.js
  ui/utils/normalizeURI.js
Labels: area/ui, component/api, language/go, language/javascript

#2149 remove outdate brew install instructions
  docs/pages/reference/mesheryctl-commands.md
Labels: area/docs, language/markdown

#2143 updated traefik mesh status
  README.md
Labels: language/markdown

#2151 [Extensibility] Update on Remote Providers and Extension Points
  docs/assets/img/architecture/Meshery_Extension_Points.png
  docs/pages/extensibility/extensibility.md
  docs/pages/extensibility/providers.md
Labels: area/docs, language/markdown

#2155 Move from SAAS_BASE_URL env variable to PROVIDER_BASE_URLS
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Makefile
  cmd/main.go
  docker-compose.yaml
  docs/pages/es/project/contributing.md
  docs/pages/getting-started/project/contributing.md
  handlers/fetch_results_handler.go
  handlers/load_test_handler.go
  install/deployment_yamls/k8s/k8s-1-16-deployments/meshery-deployment.yaml
  install/deployment_yamls/k8s/meshery-deployment.yaml
  install/kubernetes/helm/meshery/values.yaml
  install/mesheryapp.dockerapp/docker-compose.yml
  models/default_local_provider.go
  models/handlers.go
  models/remote_auth.go
  models/remote_provider.go
Labels: area/ci, area/docs, component/api, language/go, language/markdown

#2156 None provider version synced with meshery versions
  models/default_local_provider.go
Labels: language/go

#2153 [Extensibility] Addition of GraphQL
  docs/_adapters/osm/osm.md
  docs/_adapters/traefik-mesh.md
  docs/assets/img/architecture/meshery-object-model.svg
  docs/assets/img/architecture/meshery-operator-and-meshsync.svg
  docs/pages/concepts/architecture/architecture.md
  docs/pages/concepts/performance.md
  docs/pages/extensibility/api.md
  docs/pages/extensibility/extensibility.md
  docs/pages/extensibility/providers.md
  docs/pages/functionality/performance.md
Labels: area/docs, language/markdown
