Repository meshery/meshery, pull requests merged in 2020-06, with the labels that each got.

#1094 feat: ES-Lint rules enforced & restored
  ui/.eslintignore
  ui/.eslintrc.js
  ui/components/GrafanaCustomGaugeChart.js
  ui/components/GrafanaDateRangePicker.js
  ui/components/GrafanaMetricsCompare.js
  ui/components/GrafanaSelectionComponent.js
  ui/components/MeshAdapterConfigComponent.js
  ui/components/MesheryChart.js
  ui/components/MesheryChartDialog.js
  ui/components/MesheryConfigSteps.js
  ui/components/MesheryDateTimePicker.js
  ui/components/MesheryNotification.js
  ui/components/MesheryPerformanceComponent.js
  ui/components/MesheryPlayComponent.js
  ui/components/MesheryResultDialog.js
  ui/components/MesheryResults.js
  ui/components/Navigator.js
  ui/components/PageContext.js
  ui/components/PrometheusComponent.js
  ui/components/PrometheusSelectionComponent.js
  ui/components/ReactSelectWrapper.js
  ui/components/User.js
  ui/components/UserPreference.js
  ui/components/load-test-timer-dialog.js
  ui/pages/_app.js
  ui/pages/_document.js
Labels: area/ui

#1103 [DOC]:Modify the document of the Meshery chart installing sections
  install/kubernetes/helm/meshery/Chart.yaml
  install/kubernetes/helm/meshery/README.md
Labels: docs

#974 feat: Addition of performance defaults in settings
  handlers/load_test_handler.go
  handlers/load_test_preferences_handler.go
  ui/components/MesheryPerformanceComponent.js
  ui/components/MesherySettings.js
  ui/components/MesherySettingsPerformanceComponent.js
  ui/lib/store.js
Labels: area/performance

#1151 ui: Added toggle Switch to hide Headers
  ui/components/MesheryPerformanceComponent.js
Labels: area/ui

#1173 fix: loadTest preference fetching error
  go.mod
  go.sum
  ui/components/MesheryPerformanceComponent.js
  ui/lib/store.js
Labels: area/performance, fix

#1177 chore: Remove obsolete configure client route
  ui/components/MesheryConfigSteps.js
  ui/pages/configure.js
Labels: area/ui, chore
