Repository meshery/meshery, pull requests merged in 2020-10, with the labels that each got.

#1619 update meshery architecture diagrams
  docs/assets/img/architecture/Meshery-architecture-diagram.svg
  docs/assets/img/architecture/Meshery-client-architecture.svg
  docs/assets/img/architecture/Meshery-provider-architecture.svg
  docs/assets/img/architecture/meshery-architecture-clients.svg
  docs/assets/img/architecture/meshery-architecture-providers.svg
  docs/assets/img/architecture/meshery-architecture.svg
  docs/pages/architecture.md
Labels: area/docs, language/markdown

#1624 SMI table Tweaks
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryResults.js
  ui/components/MesherySMIResults.js
Labels: area/ui, language/javascript

#1614 [Docs] Updated adapter docs
  docs/_adapters/istio/istio.md
  docs/_adapters/kuma.md
  docs/_adapters/osm.md
  docs/pages/functionality/management.md
Labels: area/docs, language/markdown

#1554 Run Conformance Test through CLI
  mesheryctl/internal/cli/root/mesh/mesh.go
  mesheryctl/internal/cli/root/mesh/validate.go
  mesheryctl/internal/cli/root/root.go
Labels: component/mesheryctl, language/go

#1640 [mesheryctl] Inform user of latest Meshery server version
  go.mod
  go.sum
  mesheryctl/internal/cli/root/version.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#1672 [mesheryctl] Generate cluster access for Minikube clusters
  docs/pages/guides/mesheryctl.md
  docs/pages/installation/minikube.md
  mesheryctl/cmd/mesheryctl/main.go
  mesheryctl/internal/cli/root/perf/perf.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/config.go
  mesheryctl/internal/cli/root/system/logs.go
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/internal/cli/root/system/restart.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/internal/cli/root/system/system.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/pkg/utils/helpers.go
  ui/public/static/img/nsm-white.svg
Labels: area/docs, component/mesheryctl

#1689 security: update ui deps to avoid DOS
  provider-ui/package-lock.json
  provider-ui/package.json
  ui/package-lock.json
  ui/package.json
Labels: area/ui, security

#1719 [Docs] feature update
  docs/assets/css/main.css
  docs/pages/installation/windows.md
Labels: area/docs, kind/enhancement

#1648 Added SMP Logo in ReadMe
  README.md
  docs/assets/img/readme/smp-dark-text.svg
Labels: hacktoberfest

#1765 enh: populate loadGenerator in SMP results
  go.mod
  go.sum
  handlers/load_test_handler.go
  models/load-test.go
  models/performance_spec.go
Labels: area/performance

#1777 fix: ubuntu sh is linked to dash
  mesheryctl/pkg/utils/scripts.go
Labels: component/mesheryctl, kind/bug

#1780 Generate meshery config dir at mesheryctl init
  mesheryctl/internal/cli/root/root.go
Labels: component/mesheryctl

#1783 [Docs] Architecture diagrams
  docs/assets/img/architecture/Meshery-architecture-diagram.svg
  docs/assets/img/architecture/Meshery-architecture-diagrams.svg
  docs/assets/img/architecture/Meshery-client-architecture.svg
  docs/assets/img/architecture/Meshery-provider-architecture.svg
  docs/assets/img/architecture/meshery-architecture.svg
  docs/assets/img/architecture/meshery-object-model.svg
  docs/assets/img/architecture/meshery-settings-and-preferences.svg
  docs/pages/architecture.md
Labels: area/docs

#1775 Translation of the minikube quick start page to es.
  docs/pages/es/installation/minikube.md
Labels: language/es
