Repository meshery/meshery, pull requests merged in 2020-11, with the labels that each got.

#1790 Traducción Instalación en windows
  docs/pages/es/installation/windows.md
Labels: hacktoberfest, hacktoberfest-approved, language/es

#1809 translate of the platform page to spanish
  docs/pages/es/installation/platforms.md
Labels: language/es

#1812 fix: system status gives empty output if meshery is not running
  mesheryctl/internal/cli/root/system/status.go
Labels: kind/enhancement

#1859 [mesheryctl] Read user consent before starting Docker daemon in PreReqCheck
  mesheryctl/pkg/utils/helpers.go
  package-lock.json
Labels: component/mesheryctl

#1874 feat: add AKS support in mesheryctl
  mesheryctl/internal/cli/root/system/config.go
  mesheryctl/pkg/utils/scripts.go
Labels: component/mesheryctl, kind/enhancement

#1871 Docs: add AKS installation instructions for Meshery
  docs/pages/installation/aks.md
Labels: area/docs

#1875 fix: bash script to utilise dynamic input
  mesheryctl/internal/cli/root/system/config.go
  mesheryctl/pkg/utils/scripts.go
Labels: kind/bug

#1898 chore: meshery workflow fires up on release
  .github/workflows/ci.yml
Labels: area/ci

#1793 Add partial translation of functionality section
  docs/pages/es/functionality/index.md
  docs/pages/es/functionality/management.md
  docs/pages/es/functionality/performance.md
  docs/pages/es/functionality/smi-conformance.md
Labels: language/es

#1804 Ccoss2020 fixes1803
  docs/pages/es/architecture.md
Labels: language/es

#1742 Overview page spanish translation
  docs/pages/es/overview.md
Labels: language/es

#1916 [UI] revert to older mui-datatables library
  ui/package.json
Labels: area/ui, priority/urgent

#1959 fix: docker builds failures in CI
  .github/workflows/build-and-release.yml
  .github/workflows/ci.yml
  Dockerfile
Labels: area/ci, kind/bug

#1979 fix: backend build for meshery
  .github/workflows/ci.yml
  go.mod
  go.sum
Labels: area/ci, kind/bug

#1982 fix: undefined error in perf results
  ui/components/MesheryResultDialog.js
Labels: area/ui, language/javascript

#1983 fix: use docker hyper kit which was disabled
  .github/workflows/build-and-release.yml
  .github/workflows/ci.yml
Labels: area/ci

#1987 Added reset function call in update
  mesheryctl/internal/cli/root/system/update.go
Labels: component/mesheryctl, language/go

#1988 CI: Modified to get star count in slack notification
  .github/workflows/slack.yml
Labels: area/ci

#1989 fix: config command looks up invalid file location
  go.sum
  mesheryctl/internal/cli/root/system/config.go
Labels: component/mesheryctl, language/go

#1946 [Docs] Clipboard plugin
  docs/_adapters/consul/consul.md
  docs/_adapters/cpx.md
  docs/_adapters/istio/istio.md
  docs/_adapters/kuma/kuma.md
  docs/_adapters/linkerd.md
  docs/_adapters/nsm/nsm.md
  docs/_adapters/octarine/octarine.md
  docs/_includes/footer.html
  docs/_includes/head.html
  docs/_layouts/default.html
  docs/_layouts/page.html
  docs/_layouts/post.html
  docs/assets/css/main.css
  docs/assets/js/main.js
  docs/pages/guides/meshery-metrics.md
  docs/pages/guides/multiple-of-the-same-adapter.md
  docs/pages/guides/sample-apps.md
  docs/pages/guides/upgrade.md
  docs/pages/guides/working-with-mesheryctl.md
  docs/pages/installation/aks.md
  docs/pages/installation/docker.md
  docs/pages/installation/eks.md
  docs/pages/installation/gke.md
  docs/pages/installation/index.md
  docs/pages/installation/kinD.md
  docs/pages/installation/kubernetes.md
  docs/pages/installation/minikube.md
  docs/pages/installation/windows.md
Labels: area/docs, language/javascript, language/markdown, pr/draft
