Repository meshery/meshery, pull requests merged in 2020-05, with the labels that each got.

#920 [Docs] Add Citrix logo to architecture diagram
  docs/assets/images/meshery-architecture.svg
Labels: docs

#953 fix: export not working for provider UI
  .github/workflows/ci.yml
  provider-ui/pages/_document.js
Labels: area/ui

#951 feat: bring dependencies inline with each other
  .github/workflows/ci.yml
  provider-ui/package-lock.json
  provider-ui/package.json
  ui/package-lock.json
  ui/package.json
Labels: area/ui, chore, dependencies

#959 [ui] bug: reverting nextjs package
  go.sum
  ui/package-lock.json
  ui/package.json
Labels: area/ui, dependencies

#947 feat: show configure button when metrics are not configured
  ui/components/DashboardComponent.js
Labels: area/ui

#978 fix: Deprecate the billboard due to invalid function args
  ui/package-lock.json
  ui/package.json
Labels: area/ui

#980 feat: Addition of title for routes of Meshery & indentation rule
  ui/.eslintrc.js
  ui/components/CustomToolbarSelect.js
  ui/components/DashboardComponent.js
  ui/components/GrafanaComponent.js
  ui/components/GrafanaCustomChart.js
  ui/components/GrafanaCustomCharts.js
  ui/components/GrafanaDateRangePicker.js
  ui/components/MeshConfigComponent.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryConfigSteps.js
  ui/components/MesheryPerformanceComponent.js
  ui/components/MesheryResultDialog.js
  ui/components/MesheryResults.js
  ui/components/MesherySettings.js
  ui/components/PrometheusSelectionComponent.js
  ui/components/User.js
  ui/lib/chartjs-formatter.js
  ui/lib/event-types.js
  ui/lib/path.js
  ui/lib/store.js
  ui/pages/_app.js
  ui/pages/configure.js
  ui/pages/index.js
  ui/pages/management.js
  ui/pages/performance.js
  ui/pages/results.js
  ui/pages/settings.js
  ui/pages/userpreference.js
  ui/ui_dev_server.js
Labels: area/ui, enhancement

#986 fix: Remove next.js deprecations
  install/kubernetes/helm/meshery/Chart.yaml
  ui/components/Header.js
  ui/components/MesheryPerformanceComponent.js
  ui/components/MesheryPlayComponent.js
  ui/components/Navigator.js
  ui/components/PrometheusSelectionComponent.js
  ui/pages/_app.js
  ui/public/static/img/ascva
  ui/public/static/img/citrix-light-gray.svg
  ui/public/static/img/citrix.svg
  ui/public/static/img/consul-white.svg
  ui/public/static/img/consul.svg
  ui/public/static/img/dashboard-screenshot.png
  ui/public/static/img/grafana_icon.svg
  ui/public/static/img/istio-blue.svg
  ui/public/static/img/istio-white.svg
  ui/public/static/img/istio.svg
  ui/public/static/img/kubernetes.svg
  ui/public/static/img/linkerd-white.svg
  ui/public/static/img/linkerd.svg
  ui/public/static/img/meshery-logo-old.png
  ui/public/static/img/meshery-logo-text.png
  ui/public/static/img/meshery-logo.png
  ui/public/static/img/meshery-logo/meshery-dark-text.png
  ui/public/static/img/meshery-logo/meshery-logo-dark-text.png
  ui/public/static/img/meshery-logo/meshery-logo-dark.png
  ui/public/static/img/meshery-logo/meshery-logo-light-text.png
  ui/public/static/img/meshery-logo/meshery-logo-shadow.svg
  ui/public/static/img/meshery-logo/meshery-logo-white.png
  ui/public/static/img/meshery-logo/meshery-logo.svg
  ui/public/static/img/meshery-logo/meshery-text-dark.png
  ui/public/static/img/meshery-logo/meshery-text-white.png
  ui/public/static/img/nsm-white.svg
  ui/public/static/img/nsm.svg
  ui/public/static/img/octarine-white.svg
  ui/public/static/img/octarine.svg
  ui/public/static/img/performance.svg
  ui/public/static/img/prometheus_logo_orange_circle.svg
Labels: area/ui, javascript

#997 [UI] Removed LazyLoad React package
  ui/components/GrafanaCustomCharts.js
Labels: area/ui, chore

#949 feat: UI Server improvisations & commands revamping
  provider-ui/package.json
  provider-ui/ui_dev_server.js
  ui/package.json
  ui/ui_dev_server.js
Labels: area/ui, enhancement

#1003 [mesheryctl] Add the mesheryctl build as multiple platforms
  go.sum
  mesheryctl/Makefile
  mesheryctl/cmd/root.go
Labels: mesheryctl

#988 feat: Initiation of Cypress UI Testing for Meshery-UI
  .github/workflows/ci.yml
  Dockerfile
  ui/.gitignore
  ui/cypress.json
  ui/cypress/fixtures/example.json
  ui/cypress/integration/sample_spec.js
  ui/cypress/plugins/index.js
  ui/cypress/support/commands.js
  ui/cypress/support/index.js
  ui/package-lock.json
  ui/package.json
Labels: area/ci

#1021 mesheryctl: Group commands into categories
  .gitignore
  .goreleaser.yml
  Makefile
  docs/pages/guides/mesheryctl.md
  mesheryctl/Makefile
  mesheryctl/cmd/helpers.go
  mesheryctl/cmd/mesheryctl/main.go
  mesheryctl/internal/cli/root/perf/perf.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/cleanup.go
  mesheryctl/internal/cli/root/system/logs.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/internal/cli/root/system/system.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/internal/cli/root/version.go
  mesheryctl/main.go
  mesheryctl/pkg/utils/helpers.go
Labels: mesheryctl

#1018 [Docs] Consolidate images folders
  README.md
  docs/pages/architecture.md
Labels: docs

#1027 [mesheryctl]: Change cleanup -> reset command
  docs/pages/guides/mesheryctl.md
  docs/pages/installation/index.md
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/internal/cli/root/system/system.go
Labels: mesheryctl

#1039 [Docs] Update "create docs issue" hyperlink to use square brackets in PR title, not colon
  README.md
  docs/_includes/editable.html
Labels: chore, docs

#1042 [meshery] Support KinD doc
  README.md
  docs/VERSION
  docs/_data/toc.yml
  docs/pages/installation/kinD.md
  docs/pages/installation/kubernetes.md
  docs/pages/installation/platforms.md
  install/kubernetes/helm/meshery/values.yaml
Labels: docs

#1041 [Docs] Initialize AKS platform instructions
  docs/pages/installation/aks.md
  docs/pages/installation/eks.md
Labels: docs

#1052 updated meshery bash script.
  meshery
Labels: mesheryctl
