Repository meshery/meshery, pull requests merged in 2020-09, with the labels that each got.

#1107 feat: Add pre-commit hook for lint
  Makefile
  go.sum
  provider-ui/package-lock.json
  ui/._package.json
  ui/package-lock.json
  ui/package.json
  ui/pages/management.js
Labels: area/ui, kind/enhancement

#1539 feat: add deployment yamls for meshery-kuma adapter
  install/deployment_yamls/k8s/meshery-kuma-deployment.yaml
  install/deployment_yamls/k8s/meshery-kuma-service.yaml
Labels: area/lifecycle, kind/enhancement

#1560 fix: labeler config file
  .github/labeler.yml
  ui/ui_dev_server.js
Labels: language/javascript

#1570 CI: establish edge release channel
  .github/workflows/build-and-release.yml
  .github/workflows/ci.yml
Labels: area/ci, area/lifecycle, kind/feature

#1572 Fix: build and release pipelines of Meshery
  .github/workflows/build-and-release.yml
Labels: kind/bug

#1575 fix: docker build arguement missing
  .github/workflows/build-and-release.yml
Labels: kind/bug

#1496 Replace hardcoded docs url with a constant.
  docs/_data/navigation.yml
  docs/_includes/footer.html
  docs/_includes/header.html
  docs/assets/css/main.css
  docs/pages/functionality/management.md
  mesheryctl/pkg/utils/helpers.go
Labels: area/docs, component/mesheryctl, language/go, language/markdown

#1580 Changed OSM network port from 10010 to 10009
  docs/_adapters/osm.md
Labels: area/docs, language/markdown

#1583 Improve URL matching regex pattern.
  ui/components/MesheryPerformanceComponent.js
Labels: area/ui, language/javascript

#1586 docs: remove the deprecated make action
  .github/autolabeler.yml
  CONTRIBUTING.md
Labels: area/docs, language/markdown

#1587 added missing windows installation steps
  docs/pages/installation/index.md
  docs/pages/installation/windows.md
Labels: area/docs, language/markdown

#1592 fix: welcome bot configuration
  .github/config.yml
Labels: area/ci, kind/bug

#1596 Fix some frond-end console waring
  ui/components/DashboardComponent.js
  ui/components/Header.js
  ui/components/Navigator.js
Labels: area/ui, language/javascript

#1505 feat: complete nighthawk integration with meshery
  Makefile
  docs/.gitignore
  go.mod
  go.sum
  handlers/load_test_handler.go
  handlers/load_test_preferences_handler.go
  helpers/load_test_interface.go
  provider-ui/package-lock.json
  ui/components/MesheryPerformanceComponent.js
  ui/components/MesherySettingsPerformanceComponent.js
  ui/package-lock.json
Labels: kind/feature

#1595 READ-ME Updated with 4.1 release notes
  docs/pages/project/releases.md
Labels: area/docs, language/markdown

#1600 added release notes v0.4.3
  docs/pages/project/releases.md
Labels: area/docs, language/markdown

#1601 feat: package nighthawk with meshery
  docker-compose.yaml
Labels: kind/enhancement

#1609 Fixed broken image Signed-off-by: Bart Kalanski <bkalanski@gmail.com>
  README.md
Labels: language/markdown

#1607 Meshery releases documentation update w/ sign off
  docs/pages/project/releases.md
Labels: area/docs, language/markdown

#1613 Fix URL validation.
  ui/components/MesheryPerformanceComponent.js
Labels: area/ui, language/javascript

#1618 Conforming to Navigation Conformances
  ui/components/MesheryResults.js
  ui/components/MesherySMIResults.js
  ui/components/Navigator.js
  ui/lib/store.js
  ui/pages/smi_results.js
Labels: area/ui, language/javascript
