Repository meshery/meshery, pull requests merged in 2021-06, with the labels that each got.

#3087 Kuma Adapter URL fixed
  Makefile
Labels: area/devops

#3081 [Docs] Universally append
  docs/_includes/head.html
  docs/pages/reference/mesheryctl/commands/mesheryctl-mesh.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-pattern.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-perf.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-system-channel.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-system-context.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-system.md
  docs/pages/reference/mesheryctl/commands/mesheryctl.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-pattern-apply.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-pattern-list.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-pattern-view.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-completion.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-start.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-stop.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-update.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-syschannel-view.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-syscontext-create.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-syscontext-delete.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-syscontext-switch.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-syscontext-view.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-version.md
Labels: area/docs

#3119 Fix "Service Meshes" e2e test
  ui/cypress/integration/e2e/settings_spec.js
Labels: area/ci

#3071 [Docs]Corrected error command in Quick Start Guide
  docs/pages/installation/index.md
Labels: area/docs, area/lifecycle

#3037 [Patterns] Add support for deploying applications using meshery
  cmd/main.go
  handlers/meshery_pattern_handler.go
  handlers/oam_handler.go
  models/oam/core/v1alpha1/application_component.go
  models/oam/core/v1alpha1/application_configuration.go
  models/oam/core/v1alpha1/core_types.go
  models/oam/core/v1alpha1/scope_definition.go
  models/oam/core/v1alpha1/trait_definition.go
  models/oam/core/v1alpha1/workload_definition.go
  models/pattern/graph.go
  models/pattern/graph_test.go
  models/pattern/parallel_process.go
  models/pattern/pattern.go
  models/pattern/patterns/application/application.go
  models/pattern/patterns/application/argo.go
  models/pattern/patterns/application/argo/v1alpha1/analysis_types.go
  models/pattern/patterns/application/argo/v1alpha1/types.go
  models/pattern/patterns/application/engine.go
  models/pattern/patterns/patterns.go
  models/pattern/planner.go
  models/pattern/queue.go
  models/pattern/register.go
  models/pattern/utils.go
  models/pattern/utils/k8s.go
  models/pattern/utils/utils.go
  models/pattern/validate.go
  oam/workloads/application.meshery.layer5.io.schema.json
  oam/workloads/application_definition.json
Labels: component/patterns

#3070 [Docs] `mesheryctl pattern delete` page added
  docs/_data/mesheryctlcommands/pattern/delete/commands/delete.yaml
  docs/_data/mesheryctlcommands/pattern/delete/flags/delete-file.yaml
  docs/package-lock.json
  docs/pages/reference/mesheryctl-commands.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-pattern-delete.md
Labels: area/docs, component/mesheryctl

#3115 refactor mesheryctl
  mesheryctl/internal/cli/root/system/logs.go
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/internal/cli/root/system/restart.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#3132 [WIP] Eliminate unnecessary warning when changing endpoint
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#3120 Updated Docs about the installation of Meshery with Windows w/signoff
  docs/pages/installation/windows.md
Labels: area/docs

#3135 Generate and upload coverage report for unit tests
  .github/workflows/ci.yml
  codecov.yml
  coverage.txt
  mesheryctl/internal/cli/root/config/config_test.go
Labels: language/go

#3140 Bug: system start does not change platform if config file is already created
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#3144 Fix the user Profile shifting issue in Meshery UI
  ui/components/User.js
Labels: component/ui

#3133 fix[UI]: Make Meshery logo stick to the top in Navigator
  ui/components/Navigator.js
Labels: component/ui

#3002 [Docs] - Update command reference pages
  docs/_data/mesheryctlcommands/lifecycle/system/configure/command/config.yaml
  docs/_data/mesheryctlcommands/lifecycle/system/configure/flag/token.yaml
  docs/pages/reference/mesheryctl-commands.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-config.md
Labels: area/docs, component/mesheryctl

#3152 [Docs] Meshery Adapters page
  docs/_data/mesheryctlcommands/lifecycle/system/configure/command/config.yaml
  docs/_data/mesheryctlcommands/lifecycle/system/configure/flag/token.yaml
  docs/pages/reference/mesheryctl-commands.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-config.md
  ui/components/Navigator.js
  ui/components/User.js
Labels: area/docs

#3146 Fixed `handleOperatorClick` chip
  .github/workflows/ci.yml
  ui/components/MeshConfigComponent.js
Labels: component/meshsync, component/ui

#3157 Handle API key change in Grafana Marics Settings
  ui/components/GrafanaComponent.js
  ui/components/GrafanaConfigComponent.js
Labels: component/ui

#3129 Tooltip UI for Load generators
  ui/components/MesheryPerformance/index.js
Labels: component/ui

#3160 Created the release for v.0.5.15
  docs/_releases/v0.5.15.md
Labels: area/docs

#3142 recommiting mesheryctl system missing pages
  docs/_data/mesheryctlcommands/lifecycle/system/logs/command/logs.yml
  docs/_data/mesheryctlcommands/lifecycle/system/reset/command/reset.yml
  docs/_data/mesheryctlcommands/lifecycle/system/restart/command/restart.yml
  docs/_data/mesheryctlcommands/lifecycle/system/restart/flag/skip-update.yml
  docs/_data/mesheryctlcommands/lifecycle/system/subcommands/log.yaml
  docs/_data/mesheryctlcommands/lifecycle/system/subcommands/restart.yaml
  docs/pages/reference/mesheryctl-commands.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-logs.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-reset.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-restart.md
Labels: area/docs, component/mesheryctl

#3141 Updated the favicon of Meshery Docs w/signoff
  docs/assets/favicons/android-144x144.png
  docs/assets/favicons/android-192x192.png
  docs/assets/favicons/android-chrome-144x144.png
  docs/assets/favicons/android-chrome-192x192.png
  docs/assets/favicons/android-chrome-512x512.png
  docs/assets/favicons/apple-touch-icon-precomposed.png
  docs/assets/favicons/apple-touch-icon.png
  docs/assets/favicons/favicon-16x16.png
  docs/assets/favicons/favicon-32x32.png
  docs/assets/favicons/favicon.ico
  docs/assets/favicons/mstile-150x150.png
Labels: area/docs

#3086 [Docs] - Added status command files
  docs/_data/mesheryctlcommands/lifecycle/system/status/command/status.yaml
  docs/_data/mesheryctlcommands/lifecycle/system/subcommands/status.yaml
  docs/pages/reference/mesheryctl-commands.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-status.md
Labels: area/docs

#3177 Update CodeCov report configuration
  .github/workflows/ci.yml
  codecov.yml
Labels: area/ci, area/tests

#3082 [mesheryctl] `mesheryctl perf` subcommands
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/list.go
  mesheryctl/internal/cli/root/perf/perf.go
  mesheryctl/internal/cli/root/perf/view.go
  models/meshery_perf_api_response.go
Labels: area/performance, component/mesheryctl

#3181 Reverted `gqlpraser`, Addon Resolvers Fix and added Make commands
  Makefile
  docs/Makefile
  docs/Rakefile
  docs/lib/tasks/helper.rb
  docs/lib/tasks/renderer.rb
  docs/lib/tasks/templates/default.md.haml
  docs/pages/reference/graphql-api-reference.md
  internal/graphql/resolver/addons.go
  internal/graphql/resolver/error.go
Labels: component/api, framework/graphql

#3186 Added Application UI
  ui/components/MesheryApplications.js
  ui/components/Navigator.js
  ui/pages/configuration/applications.js
  ui/public/static/img/web-applications.svg
Labels: area/workloads, component/ui

#3190 [Docs] - Fixed CI Failing Issue Due to Error in Syntax of Main FIle
  docs/_data/mesheryctlcommands/lifecycle/system/subcommands/reset.yaml
  docs/pages/reference/mesheryctl-commands.md
Labels: area/docs, kind/bug

#3202 Add dynamic Management Pane UI
  handlers/oam_handler.go
  handlers/ui_handler.go
  models/pattern/register.go
  provider-ui/package-lock.json
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/Switch.js
  ui/components/MesheryMeshInterface/PatternService/index.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
  ui/components/MesheryMeshInterface/index.js
  ui/package-lock.json
  ui/package.json
  ui/pages/management/[mesh].js
  ui/pages/management/index.js
  ui/utils/hooks/useStateCB.js
Labels: component/patterns, component/ui

#3193 Fix #3192: Fix installation steps in mesheryctl bash file
  meshery
Labels: component/mesheryctl

#3188 [ui] Update grammar in operator removal message
  ui/components/MeshConfigComponent.js
Labels: component/ui

#3196 Added the new releases of meshery to Docs
  docs/_releases/v0.5.18.md
  docs/_releases/v0.5.19.md
  docs/_releases/v0.5.20.md
  docs/_releases/v0.5.21.md
  docs/_releases/v0.5.22.md
  docs/_releases/v0.5.23.md
Labels: area/docs

#3149 [Docs] `mesheryctl system mesh validate` page added
  docs/_data/mesheryctlcommands/meshes/validate/flag/adapter.yaml
  docs/_data/mesheryctlcommands/meshes/validate/flag/namespace.yaml
  docs/_data/mesheryctlcommands/meshes/validate/flag/spec.yaml
  docs/_data/mesheryctlcommands/meshes/validate/flag/tokenpath.yaml
  docs/_data/mesheryctlcommands/meshes/validate/subcommand/validate.yaml
  docs/pages/reference/mesheryctl-commands.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-mesh-validate.md
Labels: area/docs, component/mesheryctl

#3191 changes for kubeconfig validation
  go.mod
  go.sum
  handlers/k8sconfig_handler.go
  handlers/session_sync_handler.go
  internal/graphql/resolver/helpers.go
  internal/graphql/resolver/operator.go
Labels: pr/do-not-merge

#3227 [mesheryctl] Wait for pods to terminate on `system stop`
  go.mod
  go.sum
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#3233 fix edge channel deployments
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#3225 Fix Meshery logo click behaviour
  ui/components/User.js
Labels: component/ui

#3067 [Docs] Release Notes for Meshery v0.5.25
  docs/_releases/v0.5.25.md
Labels: area/ci, kind/chore

#3213 CRUD for applications
  cmd/main.go
  handlers/meshery_application_handler.go
  models/default_local_provider.go
  models/handlers.go
  models/meshery_application.go
  models/meshery_application_persister.go
  models/providers.go
  models/remote_provider.go
  router/server.go
  ui/components/MesheryApplications.js
Labels: area/workloads, component/ui

#3252 Partial Bugfix for #3245 ( Kubernetes part )
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#3249 [UI]Update remote-component.config.js
  ui/remote-component.config.js
Labels: component/ui

#3265 [Roadmap] Adding milestone hyperlinks
  ROADMAP.md
Labels: area/docs

#3137 Unit Testing Setup
  .github/workflows/ci.yml
  go.mod
  go.sum
  mesheryctl/internal/cli/root/perf/fixtures/profile.api.response.golden
  mesheryctl/internal/cli/root/perf/fixtures/result.api.response.golden
  mesheryctl/internal/cli/root/perf/fixtures/token.golden
  mesheryctl/internal/cli/root/perf/list_test.go
  mesheryctl/internal/cli/root/perf/testdata/profile.no.token.golden
  mesheryctl/internal/cli/root/perf/testdata/profile.output.golden
  mesheryctl/internal/cli/root/perf/testdata/result.no.token.golden
  mesheryctl/internal/cli/root/perf/testdata/result.output.golden
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/channel_test.go
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/internal/cli/root/system/check_test.go
  mesheryctl/internal/cli/root/system/testdata/check/check.output.golden
  mesheryctl/pkg/utils/formatter.go
  mesheryctl/pkg/utils/healthcheck_test.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/testing.go
Labels: area/tests, component/mesheryctl

#3229 [Docs] Fix and cleanup issues in Meshery docs
  docs/_data/errorref/mesheryctl_errors_export.json
  docs/_data/mesheryctlcommands/lifecycle/system-channel/set/command/set.yaml
  docs/_data/mesheryctlcommands/lifecycle/system-channel/switch/command/switch.yaml
  docs/_data/mesheryctlcommands/lifecycle/system/configure/command/config.yaml
  docs/_data/mesheryctlcommands/lifecycle/system/configure/example/aks.yaml
  docs/_data/mesheryctlcommands/lifecycle/system/configure/example/eks.yaml
  docs/_data/mesheryctlcommands/lifecycle/system/configure/example/gke.yaml
  docs/_data/mesheryctlcommands/lifecycle/system/configure/flag/token.yaml
  docs/_data/mesheryctlcommands/lifecycle/system/update/command/update.yaml
  docs/_data/mesheryctlcommands/meshes/validate/flag/adapter.yaml
  docs/_data/mesheryctlcommands/meshes/validate/flag/namespace.yaml
  docs/_data/mesheryctlcommands/meshes/validate/flag/spec.yaml
  docs/_data/mesheryctlcommands/meshes/validate/flag/tokenpath.yaml
  docs/pages/reference/mesheryctl-commands.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-mesh.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-pattern.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-perf.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-system-channel.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-system-context.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-system.md
  docs/pages/reference/mesheryctl/commands/mesheryctl.md
  docs/pages/reference/mesheryctl/commands/mesheryctl_command_template.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-pattern-apply.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-pattern-delete.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-pattern-list.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-pattern-view.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-completion.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-config.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-logs.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-mesh-validate.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-reset.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-restart.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-start.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-status.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-stop.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-update.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-syschannel-set.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-syschannel-switch.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-syschannel-view.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-syscontext-create.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-syscontext-delete.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-syscontext-switch.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-syscontext-view.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-version.md
Labels: area/docs, component/mesheryctl

#3218 updated performance docs
  docs/_data/mesheryctlcommands/performance/apply/command/apply.yaml
  docs/_data/mesheryctlcommands/performance/apply/flag/concurrent-requests.yaml
  docs/_data/mesheryctlcommands/performance/apply/flag/duration.yaml
  docs/_data/mesheryctlcommands/performance/apply/flag/file.yaml
  docs/_data/mesheryctlcommands/performance/apply/flag/load-generator.yaml
  docs/_data/mesheryctlcommands/performance/apply/flag/mesh.yaml
  docs/_data/mesheryctlcommands/performance/apply/flag/name.yaml
  docs/_data/mesheryctlcommands/performance/apply/flag/profile.yaml
  docs/_data/mesheryctlcommands/performance/apply/flag/qps.yaml
  docs/_data/mesheryctlcommands/performance/apply/flag/url.yaml
  docs/_data/mesheryctlcommands/performance/commands/perf.yaml
  docs/_data/mesheryctlcommands/performance/flags/-name.yaml
  docs/_data/mesheryctlcommands/performance/flags/concurrent-requests.yaml
  docs/_data/mesheryctlcommands/performance/flags/duration.yaml
  docs/_data/mesheryctlcommands/performance/flags/file.yaml
  docs/_data/mesheryctlcommands/performance/flags/load-generator.yaml
  docs/_data/mesheryctlcommands/performance/flags/mesh.yaml
  docs/_data/mesheryctlcommands/performance/flags/output-format.yaml
  docs/_data/mesheryctlcommands/performance/flags/profile.yaml
  docs/_data/mesheryctlcommands/performance/flags/qps.yaml
  docs/_data/mesheryctlcommands/performance/flags/token.yaml
  docs/_data/mesheryctlcommands/performance/flags/url.yaml
  docs/_data/mesheryctlcommands/performance/list/command/list.yaml
  docs/_data/mesheryctlcommands/performance/view/command/view.yaml
  docs/pages/reference/mesheryctl-commands.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-perf.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-perf-apply.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-perf-list.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-perf-view.md
Labels: area/docs

#3116 Updated Jekyll tutorial to Meshery Documentation
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#3235 [Docs] Release Notes for Meshery v0.5.26
  docs/_releases/v0.5.26.md
Labels: area/ci, kind/chore

#3264 Adds a New Line for the finalMSG
  mesheryctl/internal/cli/root/system/stop.go
Labels: component/mesheryctl

#3254 [mesheryctl] `perf apply` Performance-id replaced with performance-name
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/perf.go
Labels: component/mesheryctl

#3075 Open API Docs #2
  Makefile
  docs/_data/swagger.yml
  go.mod
  handlers/doc.go
  handlers/fetch_results_handler.go
  handlers/load_test_handler.go
  handlers/oam_handler.go
  handlers/performance_profiles_handler.go
  helpers/swagger.yaml
  models/meshery_performance_api_response.go
Labels: area/docs

#3259 Refactor some part of helpers and split into related packages
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/context/create.go
  mesheryctl/pkg/utils/auth.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/healthcheck.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl
