Repository meshery/meshery, pull requests merged in 2021-04, with the labels that each got.

#2649 Add support for patternfiles for default/none provider
  cmd/main.go
  models/default_local_provider.go
  models/meshery_pattern.go
  models/meshery_pattern_persister.go
Labels: area/performance

#2613 Add Kubernetes instructions - part 2
  docs/pages/installation/kubernetes.md
  provider-ui/package-lock.json
  ui/package-lock.json
Labels: area/docs

#2646 Fix release drafter workflow
  .github/workflows/release-drafter.yml
Labels: area/ci

#2643 [docs] add `minikube tunnel` to minikube installation docs
  docs/pages/installation/minikube.md
Labels: area/lifecycle

#2659 Replace the install steps to follow the style of Atifact Hub
  docs/pages/installation/kubernetes.md
Labels: area/docs

#2660 Removed usage/help when platform not available.
  mesheryctl/internal/cli/root/system/start.go
Labels: area/ux, component/mesheryctl, language/go

#2654 [mesheryctl] Moved support for `pattern` command directly under `mesheryctl`
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/internal/cli/root/root.go
Labels: component/mesheryctl, kind/feature

#2673 [CI] mesheryctl: ignore publishing of ARM6 + Windows combo
  .goreleaser.yml
  mesheryctl/README.md
Labels: area/ci, component/mesheryctl

#2666 [mesheryctl] `system restart` command deletes the pods on meshery namespace and leave the services running
  mesheryctl/internal/cli/root/system/restart.go
Labels: component/mesheryctl

#2676 [mesheryctl][k8s] Minor changes for `system restart` in logs
  mesheryctl/internal/cli/root/system/restart.go
Labels: component/mesheryctl

#2679 [meshery] return 404 when `api/experimental/patternfile/{id}` fetched with invalid id
  handlers/extensions.go
  handlers/meshery_pattern_handler.go
  handlers/performance_profiles_handler.go
  handlers/schedule_handlers.go
Labels: component/api, kind/bug, language/go

#2674 [WIP][Meshery] Fix Kube API authentication issue with GKE
  go.sum
  handlers/k8sconfig_handler.go
Labels: area/lifecycle, component/mesheryctl

#2675 Add the CI for auto release the Helm chart
  .github/workflows/helm-ci.yml
  ct.yaml
Labels: area/ci, area/lifecycle

#2702 A brief proposal for the manage of Error code Reference
  docs/_data/error_references/err_categories.yml
  docs/_data/error_references/err_descriptions.yml
  docs/_data/toc.yml
  docs/pages/reference/error-code-reference.md
Labels: area/docs

#2713 [Mesheryctl] Added list to context
  mesheryctl/internal/cli/root/system/context/context.go
  mesheryctl/internal/cli/root/system/context/list.go
Labels: component/mesheryctl

#2718 Include UserID in the patterns reponse JSON
  go.sum
  models/meshery_pattern.go
Labels: area/patterns

#2705 Add API for importing pattern files from github
  handlers/meshery_pattern_handler.go
  models/default_local_provider.go
  models/handlers.go
  models/providers.go
  models/remote_provider.go
  router/server.go
Labels: area/patterns

#2650 [Security] Static analysis using CodeQL
  .github/workflows/codeql-analysis.yml
Labels: area/ci, security

#2671 [mesheryctl] Added `pattern view`
  mesheryctl/internal/cli/root/pattern/pattern.go
  mesheryctl/internal/cli/root/pattern/view.go
Labels: area/patterns, component/mesheryctl

#2727 Update Broken Link at Meshery Docs Nginx-SM Page
  docs/_adapters/nginx-sm.md
Labels: area/docs

#2725 [UI] Add commas to one thousandth place
  ui/components/MesheryPerformance/Dashboard.js
  ui/components/MesheryPerformance/PerformanceCard.js
Labels: area/ux, component/ui

#2734 add v0.5.0 to mesheryctl roadmap
  ROADMAP.md
Labels: area/docs, component/mesheryctl

#2743 [mesheryctl] `mesheryctl exp preflight` to verify environment readiness for a Meshery deloyment
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/pkg/utils/healthcheck.go
Labels: component/mesheryctl

#2736 Meshery Operator - Lifecycle Management
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/platform.go
Labels: area/lifecycle, component/mesheryctl

#2757 [CI] Helm Chart Releaser Workflow: update helm chart location
  .github/workflows/helm-ci.yml
Labels: area/ci, area/lifecycle

#2764 [Meshery] - Fixed Provider UI Dropdown Issue
  provider-ui/components/ProviderComponent.js
Labels: kind/bug

#2748 API endpoints for WASM filter CRUD
  cmd/main.go
  handlers/filter_handlers.go
  models/default_local_provider.go
  models/handlers.go
  models/meshery_filter.go
  models/meshery_filter_persister.go
  models/providers.go
  models/remote_provider.go
  router/server.go
Labels: area/filters, component/api, component/server

#2772 [mesheryctl] fix gloabl help message
  mesheryctl/internal/cli/root/perf/perf.go
Labels: component/mesheryctl
