Repository meshery/meshery, pull requests merged in 2021-07, with the labels that each got.

#3343 [Chore] Replacing `/layer5io/meshery` with `/meshery/meshery`
  .github/ISSUE_TEMPLATE/component_mesheryctl.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/config.yml
  .goreleaser.yml
  ADOPTERS.md
  CONTRIBUTING-gitflow.md
  CONTRIBUTING.md
  Dockerfile
  SECURITY.md
  docs/README.md
  docs/_adapters/app-mesh.md
  docs/_adapters/consul/consul.md
  docs/_adapters/cpx.md
  docs/_adapters/istio/istio.md
  docs/_adapters/kuma/kuma.md
  docs/_adapters/linkerd.md
  docs/_adapters/nginx-sm.md
  docs/_adapters/nsm/nsm.md
  docs/_adapters/octarine/octarine.md
  docs/_adapters/osm/osm.md
  docs/_adapters/tanzu-sm.md
  docs/_adapters/traefik-mesh.md
  docs/_config.yml
  docs/_config_dev.yml
  docs/_data/navigation.yml
  docs/pages/es/installation/index.md
  docs/pages/es/installation/kinD.md
  docs/pages/es/installation/kubernetes.md
  docs/pages/es/project/CONTRIBUTING-gitflow.md
  docs/pages/es/project/contributing.md
  docs/pages/es/project/security-vulnerabilities.md
  docs/pages/extensibility/adapters.md
  docs/pages/project/contributing/CONTRIBUTING-gitflow.md
  meshery
  mesheryctl/Makefile
  mesheryctl/README.md
  mesheryctl/pkg/constants/definitions.go
  proposals/meshery.md
  provider-ui/package.json
  ui/components/Navigator.js
  ui/package.json
Labels: kind/chore

#3299 Upgraded from `/api/mesh/scan` (deprecated) to `getControlPlanes` query for `MesheryPerformanceComponent`
  ui/components/MesheryPerformance/index.js
Labels: area/performance

#3262 Patterns Meshsync interrelation
  cmd/main.go
  handlers/oam_handler.go
  helpers/helpers.go
  models/default_local_provider.go
  models/meshery_results_persister.go
  models/pattern/patterns/application/application.go
  models/pattern/patterns/application/argo.go
  models/pattern/patterns/application/engine.go
  models/pattern/utils/k8s.go
  models/pattern_resource.go
  models/pattern_resource_persister.go
  models/providers.go
  models/remote_provider.go
Labels: component/patterns

#3357 Upgraded grafana sdk and some Grafana :bug: fixes
  errorutil_analyze_errors.json
  errorutil_analyze_summary.json
  errorutil_errors_export.json
  go.mod
  go.sum
  models/error.go
  models/grafana_helper.go
  ui/components/DashboardComponent.js
  ui/components/GrafanaComponent.js
  ui/components/GrafanaCustomChart.js
  ui/components/PrometheusComponent.js
Labels: area/performance

#3342 Open API Docs #4
  handlers/common_handlers.go
  handlers/doc.go
  handlers/load_test_preferences_handler.go
  handlers/middlewares.go
  handlers/user_handler.go
  mesheryctl/internal/cli/root/config/testwith/mesheryctl.yaml
  mesheryctl/pkg/utils/auth.go
  models/default_local_provider.go
  models/preference.go
  models/remote_provider.go
  provider-ui/lib/data-fetch.js
  provider-ui/ui_dev_server.js
  router/server.go
  ui/components/User.js
  ui/lib/data-fetch.js
  ui/ui_dev_server.js
Labels: component/api

#3383 [Docs] Created Release note for v0.5.27 to v0.5.29
  docs/_releases/v0.5.25.md
  docs/_releases/v0.5.27.md
  docs/_releases/v0.5.28.md
  docs/_releases/v0.5.29.md
Labels: area/docs

#3267 [Docs] Release Notes for Meshery v0.5.30
  docs/_releases/v0.5.30.md
Labels: area/ci, kind/chore

#3288 [Unit Testing] Unit Testing for `mesheryctl perf`
  .github/workflows/ci.yml
  .github/workflows/go-testing-ci.yml
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/apply_test.go
  mesheryctl/internal/cli/root/perf/fixtures/apply.create.profile.response.golden
  mesheryctl/internal/cli/root/perf/fixtures/apply.fetch.profile.response.golden
  mesheryctl/internal/cli/root/perf/fixtures/apply.no.protocol.response.golden
  mesheryctl/internal/cli/root/perf/fixtures/apply.run.existing.perf.test.response.golden
  mesheryctl/internal/cli/root/perf/fixtures/apply.run.new.perf.test.response.golden
  mesheryctl/internal/cli/root/perf/fixtures/apply.run.new.profile.test.response.golden
  mesheryctl/internal/cli/root/perf/fixtures/list.profile.api.response.golden
  mesheryctl/internal/cli/root/perf/fixtures/list.result.api.response.golden
  mesheryctl/internal/cli/root/perf/fixtures/view.invalid.profile.api.response.golden
  mesheryctl/internal/cli/root/perf/fixtures/view.profile.api.response.golden
  mesheryctl/internal/cli/root/perf/fixtures/view.result.api.response.golden
  mesheryctl/internal/cli/root/perf/list_test.go
  mesheryctl/internal/cli/root/perf/testdata/apply.invalid.url.output.golden
  mesheryctl/internal/cli/root/perf/testdata/apply.no.protocol.output.golden
  mesheryctl/internal/cli/root/perf/testdata/apply.no.url.output.golden
  mesheryctl/internal/cli/root/perf/testdata/apply.success.output.golden
  mesheryctl/internal/cli/root/perf/testdata/list.profile.output.golden
  mesheryctl/internal/cli/root/perf/testdata/list.result.output.golden
  mesheryctl/internal/cli/root/perf/testdata/no.token.golden
  mesheryctl/internal/cli/root/perf/testdata/result.no.token.golden
  mesheryctl/internal/cli/root/perf/testdata/view.invalid.profile.output.golden
  mesheryctl/internal/cli/root/perf/testdata/view.profile.output.golden
  mesheryctl/internal/cli/root/perf/testdata/view.result.output.golden
  mesheryctl/internal/cli/root/perf/view.go
  mesheryctl/internal/cli/root/perf/view_test.go
  mesheryctl/internal/cli/root/system/check_test.go
  mesheryctl/pkg/utils/TestConfig.yaml
  mesheryctl/pkg/utils/fixtures/validate.version.github.golden
  mesheryctl/pkg/utils/testing.go
Labels: area/tests, component/mesheryctl

#3388 [Docs] Release Notes for Meshery v0.5.32
  docs/_releases/v0.5.32.md
Labels: area/ci, kind/chore

#3198 Gracefully handling invalid meshconfig errors
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/channel.go
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#3197 [UI] New Notification Design implementation
  ui/components/MesheryNotification.js
  ui/components/MesherySnackbarWrapper.js
  ui/pages/_app.js
Labels: component/ui

#3403 broker connection issue fixed for plugins
  Makefile
  cmd/main.go
  errorutil_analyze_errors.json
  errorutil_analyze_summary.json
  go.mod
  go.sum
  handlers/graphql.go
  internal/graphql/graphql.go
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/operator.go
  models/default_local_provider.go
  models/handlers.go
  models/providers.go
  models/remote_provider.go
  router/server.go
Labels: component/extensions

#3272 [README] add: Community Forum
  README.md
Labels: area/docs

#3402 [Docs] Release Notes for Meshery v0.5.32
  docs/_releases/v0.5.32.md
Labels: area/ci, kind/chore

#3417 Bump next js to 11.0.1 in provider ui
  provider-ui/components/PageContext.js
  provider-ui/components/ProviderComponent.js
  provider-ui/next.config.js
  provider-ui/package-lock.json
  provider-ui/package.json
  provider-ui/pages/_app.js
  provider-ui/public/static/favicon.ico
  provider-ui/public/static/img/meshery-logo/meshery-dark-text.png
  provider-ui/public/static/img/meshery-logo/meshery-logo-dark-text.png
  provider-ui/public/static/img/meshery-logo/meshery-logo-dark.png
  provider-ui/public/static/img/meshery-logo/meshery-logo-light-text.png
  provider-ui/public/static/img/meshery-logo/meshery-logo-shadow.svg
  provider-ui/public/static/img/meshery-logo/meshery-logo-white.png
  provider-ui/public/static/img/meshery-logo/meshery-logo.svg
  provider-ui/public/static/img/meshery-logo/meshery-text-dark.png
  provider-ui/public/static/img/meshery-logo/meshery-text-white.png
Labels: component/ui

#3419 Feature/ayush khandelwal 007/metrics overhaul
  ui/components/GrafanaCustomChart.js
  ui/components/GrafanaCustomCharts.js
  ui/components/GrafanaDateRangePicker.js
  ui/remote-component.config.js
Labels: component/ui

#3253 [mesheryctl] `mesheryctl system check`
  handlers/server_spec_handler.go
  mesheryctl/Makefile
  mesheryctl/internal/cli/root/constants/constants.go
  mesheryctl/internal/cli/root/perf/perf.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/channel.go
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/internal/cli/root/version.go
Labels: component/mesheryctl

#3256 Activity indicator: system start on kubernetes
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/pkg/utils/healthcheck.go
Labels: component/mesheryctl

#3425 [Provider UI] Fix broken logo image
  provider-ui/package-lock.json
  ui/package-lock.json
Labels: component/ui

#3296 [CI][WIP] integrating error codes utility into CI
  .github/workflows/error-ref-publisher.yaml
Labels: area/ci, area/docs

#3421 [Docs] Release Notes for Meshery v0.5.33
  docs/_releases/v0.5.33.md
Labels: area/ci, kind/chore

#3368 Open API Docs #5
  docs/_data/swagger.yml
  handlers/common_handlers.go
  handlers/doc.go
  handlers/schedule_handlers.go
  helpers/swagger.yaml
  models/schedule.go
Labels: component/api

#3431 Added repository check while executing ci pipeline
  .github/workflows/build-and-release-edge.yml
Labels: area/ci

#3442 [CI] Mesheryctl goreleaser missing release version
  .goreleaser.yml
Labels: area/ci, component/mesheryctl

#3428 [Docs] Release Notes for Meshery v0.5.35
  docs/_releases/v0.5.35.md
Labels: area/ci, kind/chore

#3453 Update missing release pages in doc
  docs/_releases/v0.4.1.md
  docs/_releases/v0.4.10.md
  docs/_releases/v0.5.31.md
  docs/_releases/v0.5.34.md
  docs/_releases/v0.5.35.md
Labels: area/docs

#3437 [CI] - Added Meshery UI Figma File Link
  .github/label-commenter-config.yml
Labels: area/ci

#3443 [Docs] Release Notes for Meshery v0.5.36
  docs/_releases/v0.5.36.md
Labels: area/ci, kind/chore

#3457 [Docs] - Refactored Old Docs with Emoji
  .github/release-drafter.yml
  docs/_releases/v0.4.23.md
  docs/_releases/v0.4.24.md
  docs/_releases/v0.4.25.md
  docs/_releases/v0.4.26.md
  docs/_releases/v0.4.27.md
  docs/_releases/v0.5.0-beta-1.md
  docs/_releases/v0.5.0-beta-2.md
  docs/_releases/v0.5.0-beta-3.md
  docs/_releases/v0.5.0-beta-4.md
  docs/_releases/v0.5.0-rc-1.md
  docs/_releases/v0.5.0-rc-2.md
  docs/_releases/v0.5.0-rc-3.md
  docs/_releases/v0.5.0-rc-4.md
  docs/_releases/v0.5.0-rc-5.md
  docs/_releases/v0.5.0-rc-6.md
  docs/_releases/v0.5.0.md
  docs/_releases/v0.5.1.md
  docs/_releases/v0.5.10.md
  docs/_releases/v0.5.11.md
  docs/_releases/v0.5.12.md
  docs/_releases/v0.5.13.md
  docs/_releases/v0.5.14.md
  docs/_releases/v0.5.15.md
  docs/_releases/v0.5.16.md
  docs/_releases/v0.5.17.md
  docs/_releases/v0.5.18.md
  docs/_releases/v0.5.19.md
  docs/_releases/v0.5.20.md
  docs/_releases/v0.5.21.md
  docs/_releases/v0.5.22.md
  docs/_releases/v0.5.23.md
  docs/_releases/v0.5.24.md
  docs/_releases/v0.5.25.md
  docs/_releases/v0.5.26.md
  docs/_releases/v0.5.27.md
  docs/_releases/v0.5.28.md
  docs/_releases/v0.5.29.md
  docs/_releases/v0.5.3.md
  docs/_releases/v0.5.30.md
  docs/_releases/v0.5.31.md
  docs/_releases/v0.5.32.md
  docs/_releases/v0.5.33.md
  docs/_releases/v0.5.34.md
  docs/_releases/v0.5.35.md
  docs/_releases/v0.5.4.md
  docs/_releases/v0.5.6.md
  docs/_releases/v0.5.7.md
  docs/_releases/v0.5.9.md
Labels: area/docs, framework/jekyll, language/markdown

#3461 [mesheryctl] Fix for `mesheryctl version` Not Set in stable releases
  .goreleaser.yml
Labels: area/ci, component/mesheryctl

#3454 Profile cards changes
  ui/components/FlipCard.js
  ui/components/MesheryPerformance/PerformanceCard.js
  ui/components/MesheryPerformance/PerformanceProfileGrid.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
Labels: area/performance, component/ui

#3397 Updated the meshkit error for performance_profiles_handler and provider_handler
  component_info.json
  errorutil_analyze_errors.json
  errorutil_analyze_summary.json
  errorutil_errors_export.json
  handlers/error.go
  handlers/performance_profiles_handler.go
  handlers/provider_handler.go
Labels: area/performance, area/tests

#3460 Changed Notification Message Wrapping and Bell Button On Click
  ui/components/MesheryNotification.js
  ui/components/MesherySnackbarWrapper.js
Labels: area/ux, component/ui

#3432 skip workflow run on forks
  .github/workflows/build-and-release.yml
  .github/workflows/error-ref-publisher.yaml
  .github/workflows/invitations.yml
  .github/workflows/notify-providers.yaml
  .github/workflows/preview-site.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-notes.yml
  .github/workflows/slack.yml
Labels: area/ci

#3455 Nithish/pattern UI imp
  ui/components/MesheryPatterns.js
Labels: component/patterns, component/ui

#3464 [UI] Application actions and endpoints envoked
  ui/components/MesheryApplications.js
Labels: area/workloads, component/ui

#3449 [mesheryctl] Fix `mesheryctl mesh validate`
  mesheryctl/internal/cli/root/mesh/validate.go
Labels: component/mesheryctl

#3430 [mesheryctl] system `start` and `stop` Integration Testing
  .github/workflows/go-testing-ci.yml
  mesheryctl/internal/cli/root/system/fixtures/.meshery/config.yaml
  mesheryctl/internal/cli/root/system/start_stop_test.go
  mesheryctl/pkg/utils/testing.go
Labels: area/tests, component/mesheryctl

#3458 [Docs] Release Notes for Meshery v0.5.37
  docs/_releases/v0.5.37.md
Labels: area/ci, kind/chore

#3507 [mesheryctl] channel switch: update in confirmation verbiage
  mesheryctl/internal/cli/root/system/channel.go
Labels: component/mesheryctl

#3452 updated the wide mobile view
  docs/_sass/overview.scss
  docs/assets/css/main.css
  docs/pages/installation/index.md
Labels: area/docs

#3499 [CI] Add label and function for `component/mesheryctl`
  .github/label-commenter-config.yml
Labels: area/ci

#3515 [Fix]: Re-enable support for patterns, filters and applications in local provider
  models/default_local_provider.go
Labels: component/providers

#3516 adding alias for bitcask repo
  go.mod
  go.sum
Labels: kind/chore, language/go

#3519 Add icon dependencies for remote provider
  ui/remote-component.config.js
Labels: component/providers, component/ui

#3521 [CI] Add ignore paths for notify providers
  .github/workflows/notify-providers.yaml
Labels: area/ci

#3489 [mesheryctl] `mesheryctl pattern apply -f <github-url>`
  mesheryctl/internal/cli/root/constants/constants.go
  mesheryctl/internal/cli/root/pattern/apply.go
  mesheryctl/internal/cli/root/pattern/list.go
  mesheryctl/internal/cli/root/pattern/pattern.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl, component/patterns

#3532 [UI] Pass remote provider page titles verbatim
  ui/components/ExtensionSandbox.js
  ui/pages/extension/[component].js
Labels: component/providers

#3529 creating issue/dco check label text
  .github/label-commenter-config.yml
Labels: area/ci

#3527 [CI] error codes utility runner workflow
  .github/workflows/error-codes-updater.yaml
  .github/workflows/error-ref-publisher.yaml
  .gitignore
  Makefile
  errorutil_analyze_errors.json
  errorutil_analyze_summary.json
  errorutil_errors_export.json
  helpers/component_info.json
Labels: area/ci

#3546 refactor mesheryctl 1 - Add getters and setters to config and refactor start.go
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/system/channel_test.go
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/internal/cli/root/system/login.go
  mesheryctl/internal/cli/root/system/logs.go
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/internal/cli/root/system/restart.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/internal/cli/root/system/update.go
Labels: component/mesheryctl

#3408 Issue #3401/Added field token-location in meshery system context view
  mesheryctl/internal/cli/root/system/context/view.go
Labels: component/mesheryctl

#3551 typo fixed
  docs/pages/project/contributing/contributing-cli.md
  docs/pages/project/contributing/contributing-guidelines.md
Labels: area/docs

#3548 Add settings page path to exportPathMap
  ui/next.config.js
Labels: component/ui

#3535 perf: Delete the `apt-get` lists after installing something
  Dockerfile
Labels: area/ci, area/devops

#3541 [mesheryctl] Tests for `mesheryctl system status`
  mesheryctl/internal/cli/root/system/start_stop_test.go
  mesheryctl/internal/cli/root/system/system_test.go
Labels: area/tests, component/mesheryctl

#3557 Add Docs regarding writing Unit and Integration Testing
  docs/pages/project/contributing/contributing-cli.md
Labels: area/docs

#3564 Sets default value for namespace in management page
  ui/components/MesheryAdapterPlayComponent.js
Labels: area/lifecycle, component/ui

#3284 [mesheryctl] fix: Added description for the `system logs` command
  docs/_data/mesheryctlcommands/lifecycle/system/logs/command/logs.yml
  mesheryctl/internal/cli/root/system/logs.go
Labels: component/mesheryctl

#3561 [Mesheryctl] server_spec_handler (meshkit)
  handlers/error.go
  handlers/server_spec_handler.go
Labels: component/mesheryctl

#3542 [Meshery] Reworking `/experiment/pattern` endpoints
  docs/_data/swagger.yml
  handlers/meshery_pattern_handler.go
  handlers/oam_handler.go
  helpers/swagger.yaml
  mesheryctl/internal/cli/root/pattern/apply.go
  mesheryctl/internal/cli/root/pattern/delete.go
  mesheryctl/internal/cli/root/pattern/list.go
  mesheryctl/internal/cli/root/pattern/view.go
  router/server.go
  ui/components/MesheryMeshInterface/index.js
  ui/components/MesheryPatterns.js
Labels: component/api, component/server

#3556 [CI] Upgrade Meshery to Golang 1.16
  go.mod
Labels: area/ci, language/go

#3567 graphql refactor
  cmd/main.go
  go.mod
  go.sum
  handlers/graphql.go
  handlers/handler_instance.go
  handlers/k8sconfig_handler.go
  handlers/mesh_ops_handlers.go
  handlers/middlewares.go
  handlers/oam_handler.go
  handlers/session_sync_handler.go
  install/deployment_yamls/k8s/meshery-deployment.yaml
  internal/graphql/graphql.go
  internal/graphql/resolver/addons.go
  internal/graphql/resolver/control-plane.go
  internal/graphql/resolver/kubernetes.go
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/operator.go
  internal/graphql/resolver/resolver.go
  internal/graphql/resolver/schema.resolvers.go
  models/handlers.go
  router/server.go
Labels: framework/graphql

#3572 Restored satrt as it was intended
  docs/pages/project/contributing/contributing-cli.md
  docs/pages/project/contributing/contributing-guidelines.md
Labels: area/docs

#3575 made error codes component table mobile friendly
  docs/pages/reference/error-codes.md
Labels: area/docs

#3589 updated golang version in dockerfile
  Dockerfile
Labels: area/ci

#3593 update goreleaser-action version in the workflow
  .github/workflows/mesheryctl-ci.yml
Labels: area/ci

#3591 [CI] bump golanglint version to 1.41.x
  .github/workflows/ci.yml
Labels: area/ci

#3592 mesheryctl refactor 3
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/channel.go
  mesheryctl/internal/cli/root/system/channel_test.go
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/internal/cli/root/system/config.go
  mesheryctl/internal/cli/root/system/logout.go
  mesheryctl/internal/cli/root/system/logs.go
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/internal/cli/root/system/restart.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/internal/cli/root/version.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#3587 Added documentation of some features in the contributing docs
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#3412 [Docs] REST API: `/perf` endpoint
  handlers/doc.go
  handlers/fetch_results_handler.go
  handlers/load_test_handler.go
  handlers/load_test_preferences_handler.go
  handlers/user_handler.go
  mesheryctl/internal/cli/root/config/testwith/mesheryctl.yaml
  mesheryctl/internal/cli/root/perf/apply.go
  models/handlers.go
  router/server.go
  ui/components/CustomToolbarSelect.js
  ui/components/MesheryPerformance/index.js
  ui/components/MesheryResults.js
  ui/components/MesherySettingsPerformanceComponent.js
Labels: component/api

#3545 Adding mesheryctl errors to meshkit errors
  go.sum
  mesheryctl/internal/cli/root/system/error.go
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#3601 update golint to revive
  .golangci.yml
Labels: area/ci

#3602 Fix mesheryctl lint errors
  mesheryctl/internal/cli/root/system/channel.go
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/internal/cli/root/system/context/view.go
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#3605 [CI] Docs: escape liquid tags
  docs/Gemfile.lock
  docs/pages/project/contributing/contributing-docs.md
Labels: area/ci, area/docs

#3503 Separate CI build test for meshery and provider UI
  .github/workflows/ci.yml
  Makefile
Labels: area/ci

#3603 Kumarabd/feature/ci
  go.mod
  go.sum
  handlers/error.go
  handlers/mesh_ops_handlers.go
  handlers/oam_handler.go
  handlers/server_spec_handler.go
  helpers/error.go
  internal/graphql/generated/generated.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/helpers.go
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/operator.go
  internal/graphql/resolver/resolver.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
  internal/sql/map.go
  models/pattern/patterns/application/application.go
  models/pattern/patterns/patterns.go
Labels: pr/do-not-merge

#3512 Updating the error docs
  docs/pages/project/contributing/contributing-error.md
Labels: area/docs

#3596 Fix import path for bitcask
  .github/dependabot.yml
  docs/_releases/v0.4.26.md
  docs/pages/concepts/architecture/database.md
  go.mod
  go.sum
  models/bitcask_smiresults_persister.go
  models/bitcask_test_profiles_persister.go
  models/preference_bitcask_persister.go
Labels: dependencies, kind/chore

#3544 Add support for custom callback URL in meshery server
  cmd/main.go
  go.sum
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/helpers_test.go
  mesheryctl/pkg/utils/platform.go
  models/remote_provider.go
Labels: component/providers

#3611 [CI] Updated the meshkit utility runner for the mesheryctl error codes
  .github/workflows/error-codes-updater.yaml
  mesheryctl/Makefile
  mesheryctl/helpers/component_info.json
Labels: area/ci

#3522 Issue #3508/ added token command for CRUD operations
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/system/system.go
  mesheryctl/internal/cli/root/system/token.go
Labels: component/mesheryctl, pr/do-not-merge

#3594 [DOCS] meshery UI contributing
  docs/pages/project/contributing/contributing-ui.md
Labels: area/docs, component/ui

#3649 [mesheryctl] Added PreRunE Health Checks for multiple system commands
  mesheryctl/internal/cli/root/system/login.go
  mesheryctl/internal/cli/root/system/logs.go
  mesheryctl/internal/cli/root/system/restart.go
  mesheryctl/internal/cli/root/system/status.go
Labels: component/mesheryctl

#3578 [Docs] Open API: Provider endpoint
  handlers/doc.go
  handlers/provider_handler.go
Labels: area/docs, component/api

#3562 added check for docker or kubernetes platform
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#3665 patch NavigatetoBrowser for missing xdg-open
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#3595 [UI] block fetch to grafana or prometheus if not configured
  ui/components/DashboardComponent.js
  ui/components/MeshConfigComponent.js
  ui/components/MesherySettings.js
  ui/cypress/integration/e2e/settings_spec.js
Labels: area/performance, language/go

#3555 [mesheryctl] Unit tests for `system context`
  mesheryctl/internal/cli/root/system/context/context.go
  mesheryctl/internal/cli/root/system/context/context_test.go
  mesheryctl/internal/cli/root/system/context/fixtures/.meshery/TestContext.yaml
  mesheryctl/internal/cli/root/system/context/list.go
  mesheryctl/internal/cli/root/system/context/testdata/Added `local3` context 
  mesheryctl/internal/cli/root/system/context/testdata/ExpectedAdd.yaml
  mesheryctl/internal/cli/root/system/context/testdata/ExpectedDelete.yaml
  mesheryctl/internal/cli/root/system/context/testdata/ExpectedSwitch.yaml
  mesheryctl/internal/cli/root/system/context/testdata/addExpected.golden
  mesheryctl/internal/cli/root/system/context/testdata/delete.context.golden
  mesheryctl/internal/cli/root/system/context/testdata/deleteExpected.golden
  mesheryctl/internal/cli/root/system/context/testdata/listExpected.golden
  mesheryctl/internal/cli/root/system/context/testdata/switch.context.golden
  mesheryctl/internal/cli/root/system/context/testdata/switchExpected.golden
  mesheryctl/internal/cli/root/system/context/testdata/view.golden
  mesheryctl/internal/cli/root/system/context/testdata/view.notexist.golden
  mesheryctl/internal/cli/root/system/context/testdata/viewAllExpected.golden
  mesheryctl/internal/cli/root/system/context/testdata/viewWithContextExpected.golden
  mesheryctl/pkg/utils/testing.go
Labels: area/tests, component/mesheryctl

#3675 system start fails with empty platform flag
  mesheryctl/internal/cli/root/system/context/context.go
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl, priority/urgent

#3463 [mesheryctl] Backup meshconfig: Version fixes
  mesheryctl/internal/cli/root/version.go
Labels: component/mesheryctl

#3685 [mesheryctl]Check for Meshery server status before opening in browser
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#3495 [mesheryctl] Add GET request step in HealthCheck
  mesheryctl/pkg/utils/healthcheck.go
Labels: component/mesheryctl

#3501 Connection Wizard
  ui/components/ConnectionWizard/ConfigComponents/Kubernetes.js
  ui/components/ConnectionWizard/ConfigComponents/Metrics.js
  ui/components/ConnectionWizard/ConfigComponents/ServiceMesh.js
  ui/components/ConnectionWizard/DataPanels/Kubernetes.js
  ui/components/ConnectionWizard/DataPanels/MesheryOperator.js
  ui/components/ConnectionWizard/DataPanels/Metrics.js
  ui/components/ConnectionWizard/DataPanels/ServiceMesh.js
  ui/components/ConnectionWizard/Screens/KubernetesScreen.js
  ui/components/ConnectionWizard/Screens/MesheryOperatorScreen.js
  ui/components/ConnectionWizard/Screens/MetricsScreen.js
  ui/components/ConnectionWizard/Screens/ServiceMeshScreen.js
  ui/components/ConnectionWizard/ScrollIndicator.js
  ui/components/ConnectionWizard/ServiceCard.js
  ui/components/ConnectionWizard/Stepper.js
  ui/components/ConnectionWizard/helpers/kubernetesHelpers.js
  ui/components/ConnectionWizard/helpers/mesheryOperator.js
  ui/components/ConnectionWizard/helpers/metrics.js
  ui/components/ConnectionWizard/helpers/serviceMeshes.js
  ui/components/ConnectionWizard/icons/ConsulIcon.js
  ui/components/ConnectionWizard/icons/GrafanaIcon.js
  ui/components/ConnectionWizard/icons/KubernetesIcon.js
  ui/components/ConnectionWizard/icons/LinkerdIcon.js
  ui/components/ConnectionWizard/icons/MesheryOperatorIcon.js
  ui/components/ConnectionWizard/icons/OpenServiceMeshIcon.js
  ui/components/ConnectionWizard/icons/PrometheusIcon.js
  ui/components/ConnectionWizard/icons/icons.js
  ui/components/ConnectionWizard/index.js
  ui/components/VerticalCarousel/VerticalCarousel.js
  ui/lib/store.js
  ui/package.json
  ui/pages/_document.js
  ui/pages/connectivity_wizard.js
Labels: component/ui

#3450 [CI] Fix release drafter
  .github/workflows/release-notes.yml
Labels: area/ci, pr/do-not-merge

#3682 update to pkg/browser to open URLs
  .github/workflows/go-testing-ci.yml
  go.mod
  go.sum
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#3666 [mesheryctl] fixes in `system check`
  mesheryctl/internal/cli/root/system/check.go
Labels: component/mesheryctl, pr/do-not-merge

#3585 [mesheryctl] Gracefully handle errors when platform is unavailable
  mesheryctl/pkg/utils/healthcheck.go
Labels: component/mesheryctl, language/go

#3581 ui: Change Navigator Design according to latest requirements
  ui/components/Navigator.js
  ui/package-lock.json
  ui/public/static/img/drawer-icons/conformance_svg.js
  ui/public/static/img/drawer-icons/lifecycle_mgmt_svg.js
  ui/public/static/img/drawer-icons/pattern_svg.js
  ui/public/static/img/drawer-icons/performance-icon_svg.js
  ui/public/static/img/drawer-icons/performance_svg.js
  ui/public/static/img/drawer-icons/servicemeshinterface-icon-white_svg.js
  ui/public/static/img/drawer-icons/smp-white-text_svg.js
Labels: component/ui

#3695 ui: Align adapter cards and make it vertically even
  ui/components/MesheryAdapterPlayComponent.js
Labels: component/ui

#3534 [CI] Added GraphQL API Documentation Workflow
  .github/workflows/graphql.yml
Labels: area/docs, framework/graphql

#3703 [CI] use multiline if statements
  .github/workflows/invitations.yml
Labels: area/ci

#3708 [mesheryctl] Integration Test for `system logs`
  mesheryctl/internal/cli/root/system/system_test.go
Labels: area/tests, component/mesheryctl

#3710 Fix for Perf Test getting invoked
  handlers/load_test_handler.go
Labels: area/performance
