Repository meshery/meshery, pull requests merged in 2021-10, with the labels that each got.

#4281 Update perf docs: instructions to download token and update action configuration
  docs/assets/img/performance-management/chart.png
  docs/assets/img/performance-management/dashboard.png
  docs/assets/img/performance-management/grafana-dashboard.png
  docs/assets/img/performance-management/meshery-and-grafana.png
  docs/pages/guides/performance-management.md
Labels: area/docs

#4282 added remote dependency for icon
  ui/remote-component.config.js
Labels: hacktoberfest, component/extensions

#4286 Update ROADMAP.md
  ROADMAP.md
Labels: area/docs

#4284 added undefined check in columns
  ui/components/GrafanaCustomChart.js
Labels: area/performance

#4212 Import using url - Patterns and Filters
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
Labels: component/patterns, component/filters

#3960 [Performance] Performance REST API migration to GraphQL
  handlers/fetch_results_handler.go
  handlers/load_test_handler.go
  handlers/performance_profiles_handler.go
  internal/graphql/generated/generated.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/performance.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
  models/default_local_provider.go
  models/providers.go
  models/remote_provider.go
  ui/components/MesheryPerformance/Dashboard.js
  ui/components/MesheryPerformance/PerformanceCalendar.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/graphql/queries/FetchAllResultsQuery.js
  ui/components/graphql/queries/PerformanceProfilesQuery.js
  ui/components/graphql/queries/__generated__/FetchAllResultsQuery.graphql.js
  ui/components/graphql/queries/__generated__/PerformanceProfilesQuery.graphql.js
Labels: area/performance, language/go, framework/graphql

#4134 [mesheryctl] Add unit tests for utils/platform
  .gitignore
  mesheryctl/internal/cli/root/system/logs.go
  mesheryctl/internal/cli/root/system/logs_test.go
  mesheryctl/internal/cli/root/system/system_test.go
  mesheryctl/pkg/utils/fixtures/TestConfig.yaml
  mesheryctl/pkg/utils/fixtures/platform/TestChangeEndpointConfig.yaml
  mesheryctl/pkg/utils/fixtures/platform/TestConfig.yaml
  mesheryctl/pkg/utils/fixtures/platform/getmanifesturl.blob.golden
  mesheryctl/pkg/utils/fixtures/platform/getmanifesturl.other.golden
  mesheryctl/pkg/utils/fixtures/platform/listmanifest.api.err.response.golden
  mesheryctl/pkg/utils/fixtures/platform/listmanifest.api.response.golden
  mesheryctl/pkg/utils/fixtures/platform/manifesturl.api.response.golden
  mesheryctl/pkg/utils/fixtures/platform/manifesturl.empty.api.response.golden
  mesheryctl/pkg/utils/fixtures/platform/manifesturl.err.api.response.golden
  mesheryctl/pkg/utils/fixtures/platform/manifesturl.latest.api.response.golden
  mesheryctl/pkg/utils/fixtures/platform/original/TestChangeEndpointConfig.yaml
  mesheryctl/pkg/utils/fixtures/platform/original/TestConfig.yaml
  mesheryctl/pkg/utils/fixtures/validate.version.github.golden
  mesheryctl/pkg/utils/platform.go
  mesheryctl/pkg/utils/platform_test.go
  mesheryctl/pkg/utils/testdata/platform/changeconfigendpoint.expect.docker.golden
  mesheryctl/pkg/utils/testdata/platform/changeconfigendpoint.expect.kubernetes.golden
  mesheryctl/pkg/utils/testdata/platform/changeplatform.invalid.golden
  mesheryctl/pkg/utils/testdata/platform/changeplatform.valid.golden
  mesheryctl/pkg/utils/testdata/platform/downloadmanifests.expect.golden
  mesheryctl/pkg/utils/testdata/platform/downloadoperatormanifest/downloadoperatormanifest.default.expect.golden
  mesheryctl/pkg/utils/testdata/platform/downloadoperatormanifest/downloadoperatormanifest.default.meshery_v1alpha1_meshsync.golden
  mesheryctl/pkg/utils/testdata/platform/downloadoperatormanifest/downloadoperatormanifest.meshery_v1alpha1_broker.expect.golden
  mesheryctl/pkg/utils/testdata/platform/getmanifesturl.expect.blob.golden
  mesheryctl/pkg/utils/testdata/platform/getmanifesturl.expect.other.golden
  mesheryctl/pkg/utils/testdata/platform/listmanifest.expect.err.golden
  mesheryctl/pkg/utils/testdata/platform/listmanifest.expect.golden
  mesheryctl/pkg/utils/testdata/platform/manifesturl.expect.golden
  mesheryctl/pkg/utils/testdata/platform/manifesturl.out.err.golden
  mesheryctl/pkg/utils/testdata/platform/manifesturl.out.latest.golden
  mesheryctl/pkg/utils/testdata/platform/manifesturlempty.out.err.golden
  mesheryctl/pkg/utils/testing.go
  mesheryctl/pkg/utils/utils_test.go
Labels: component/mesheryctl, area/tests

#4316 changed modal styles to maintain consistency
  ui/components/MesheryPerformance/PerformanceProfileTable.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/PromptComponent.js
  ui/package-lock.json
Labels: hacktoberfest, component/ui

#4328 Kubernetes as default platform to deploy Meshery
  docs/pages/installation/quick-start.md
  mesheryctl/pkg/utils/helpers.go
Labels: area/docs, component/mesheryctl

#4330 Fix mesheryctl static analysis bugs
  mesheryctl/internal/cli/root/app/list.go
  mesheryctl/internal/cli/root/filter/list.go
  mesheryctl/internal/cli/root/mesh/deploy.go
  mesheryctl/internal/cli/root/pattern/list.go
  mesheryctl/internal/cli/root/system/start.go
Labels: kind/bug, component/mesheryctl

#4323 use alpine compatible version of jsonschema util
  Dockerfile
Labels: area/ci

#4331 [error-codes.md] Add anchors for error codes in documentation
  docs/pages/reference/error-codes.md
Labels: area/docs

#4321 Update README.md
  README.md
Labels: kind/chore

#4455 fetching PrometheusClient directly from Prometheus API
  models/prometheus_helper.go
Labels: area/performance, component/ui

#4526 [Docs] Fixed Functionality button link
  docs/pages/index.md
Labels: area/docs
