Repository meshery/meshery, pull requests merged in 2021-09, with the labels that each got.

#4023 system context
  mesheryctl/internal/cli/root/system/context.go
  mesheryctl/internal/cli/root/system/context/context.go
  mesheryctl/internal/cli/root/system/context/create.go
  mesheryctl/internal/cli/root/system/context/delete.go
  mesheryctl/internal/cli/root/system/context/list.go
  mesheryctl/internal/cli/root/system/context/switch.go
  mesheryctl/internal/cli/root/system/context/view.go
  mesheryctl/internal/cli/root/system/context_test.go
  mesheryctl/internal/cli/root/system/fixtures/.meshery/TestContext.yaml
  mesheryctl/internal/cli/root/system/system.go
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedAdd.yaml
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedDelete.yaml
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedSwitch.yaml
  mesheryctl/internal/cli/root/system/testdata/context/addExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/createContext.golden
  mesheryctl/internal/cli/root/system/testdata/context/delete.context.golden
  mesheryctl/internal/cli/root/system/testdata/context/deleteExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/listExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/switch.context.golden
  mesheryctl/internal/cli/root/system/testdata/context/switchExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/view.golden
  mesheryctl/internal/cli/root/system/testdata/context/view.notexist.golden
  mesheryctl/internal/cli/root/system/testdata/context/viewAllExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/viewWithContextExpected.golden
  mesheryctl/pkg/utils/TestConfig.yaml
Labels: component/mesheryctl

#4046 [UI] The SMP vertical divider is now aligned properly
  ui/components/MesheryPerformance/Dashboard.js
Labels: component/ui

#4048 [CI]Updated the issue/remind label to run on PR's
  .github/label-commenter-config.yml
Labels: area/ci

#4045 [UI] add help tooltip to icon
  ui/components/ConnectionWizard/Screens/MetricsScreen.js
  ui/components/ConnectionWizard/Screens/ServiceMeshScreen.js
  ui/components/ConnectionWizard/helpers/mesheryOperator.js
  ui/components/GrafanaComponent.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
  ui/components/PrometheusComponent.js
Labels: language/javascript, component/extensions

#4040 [UI] Improved UI in Performance Profile test results
  ui/components/MesheryChart.js
  ui/lib/chartjs-formatter.js
Labels: area/performance, component/ui

#4047 Added tests for `mesheryctl/internal/cli/root/config`
  mesheryctl/internal/cli/root/config/config_test.go
Labels: component/mesheryctl

#4081 correct typo in roadmap.md
  ROADMAP.md
Labels: kind/chore

#4015 [UI] [Connection Wizard] Scrolling issues in Adapter
  ui/components/VerticalCarousel/VerticalCarousel.js
Labels: area/ux

#3875 Enhancement for MeshSync Settings Page
  cmd/main.go
  go.mod
  go.sum
  internal/graphql/generated/generated.go
  internal/graphql/graphql.go
  internal/graphql/model/helpers.go
  internal/graphql/model/models_gen.go
  internal/graphql/model/operator_helper.go
  internal/graphql/resolver/error.go
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/operator.go
  internal/graphql/resolver/resolver.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
  models/remote_provider.go
  ui/components/MeshConfigComponent.js
  ui/components/graphql/mutations/__generated__/AddonStatusMutation.graphql.js
  ui/components/graphql/mutations/__generated__/OperatorStatusMutation.graphql.js
  ui/components/graphql/queries/DeployMeshSyncQuery.js
  ui/components/graphql/queries/DeployNatsQuery.js
  ui/components/graphql/queries/__generated__/DeployMeshSyncQuery.graphql.js
  ui/components/graphql/queries/__generated__/DeployNatsQuery.graphql.js
  ui/components/graphql/queries/__generated__/OperatorStatusQuery.graphql.js
  ui/components/graphql/subscriptions/MeshSyncStatusSubscription.js
  ui/components/graphql/subscriptions/OperatorStatusSubscription.js
  ui/components/graphql/subscriptions/__generated__/MeshSyncStatusSubscription.graphql.js
  ui/components/graphql/subscriptions/__generated__/OperatorStatusSubscription.graphql.js
  ui/public/static/img/nats-icon-color.svg
Labels: component/ui, area/lifecycle

#4098 [Extension] remove description on tooltip
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
Labels: language/javascript, component/extensions

#4082 [CI] bundle seed content into Docker image
  .github/workflows/ci.yml
  Dockerfile
Labels: area/ci, area/lifecycle

#4099 Added DelusionalOptimist to CI Maintainers
  MAINTAINERS.md
Labels: kind/chore

#4112 [Extensions] dependency add for meshery extensions
  ui/remote-component.config.js
Labels: component/ui, component/extensions

#4109 Fix performance profile retrieval issue
  internal/graphql/resolver/performance.go
  models/remote_auth.go
  models/remote_provider.go
Labels: component/providers

#4115 [Install] Kubernetes: Support v1.22 CRD v1
  install/kubernetes/helm/meshery/charts/meshery-operator/templates/crds.yaml
Labels: area/lifecycle, area/devops

#4114 [Install] K8s: Enable 'meshery-server' Service Account with approve p…
  install/deployment_yamls/k8s/service-account.yaml
  install/kubernetes/helm/meshery/charts/meshery-cpx/templates/clusterrole.yaml
  install/kubernetes/helm/meshery/charts/meshery-istio/templates/clusterrole.yaml
  install/kubernetes/helm/meshery/charts/meshery-operator/templates/clusterrole.yaml
  install/kubernetes/helm/meshery/charts/meshery-traefik-mesh/templates/clusterrole.yaml
  install/kubernetes/helm/meshery/templates/clusterrole.yaml
Labels: area/lifecycle, area/devops

#4118 [Install] Adapter: Kubernetes Manifests for NGINX Service Mesh
  install/deployment_yamls/k8s/meshery-nginx-deployment.yaml
  install/deployment_yamls/k8s/meshery-nginx-service.yaml
  install/deployment_yamls/k8s/meshery-nginx-sm-deployment.yaml
  install/deployment_yamls/k8s/meshery-nginx-sm-service.yaml
Labels: area/lifecycle, area/devops

#4083 Fetch manifest if not present during `system stop` for kubernetes
  mesheryctl/internal/cli/root/system/stop.go
Labels: component/mesheryctl

#4012 [UI] [Connection Wizard] Change operator inactive state color
  ui/components/ConnectionWizard/icons/MesheryOperatorIcon.js
Labels: component/ui

#3901 migrate to meshkit errors in reset.go/ restart.go
  mesheryctl/internal/cli/root/system/error.go
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/internal/cli/root/system/restart.go
Labels: component/mesheryctl

#4106 [UI] User Preferences: Display Wait Indicator
  ui/components/ExtensionSandbox.js
Labels: component/ui, area/ux

#4116 [Pattern] add default value for pattern files, capitalize each word as title prop
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
Labels: language/javascript, component/ui, component/patterns

#4136 [mesheryctl]api rate limit issue and failing tests
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/fixtures/.meshery/meshery.yaml
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/testdata/reset/reset_docker.output.golden
  mesheryctl/internal/cli/root/system/testdata/reset/reset_kubernetes.output.golden
  mesheryctl/internal/cli/root/system/update.go
Labels: component/mesheryctl

#4124 [Docs] Avoid port conflict for NGINX-SM and TANZU-SM and update the tanzu-sm.md
  docs/_adapters/tanzu-sm.md
Labels: area/docs, service-mesh/tanzu, service-mesh/nginx-sm

#4041 Improve The Graph UI in Performance Profiles Page
  ui/components/MesheryChart.js
Labels: area/performance, component/ui

#4138 fix the performance graph bug
  ui/components/MesheryChart.js
Labels: area/performance, component/ui

#4141 Added Traefik Mesh Lab to docs
  docs/_adapters/traefik-mesh.md
Labels: area/docs

#4021 Fixed all broken links
  docs/_adapters/consul/consul.md
  docs/_adapters/cpx.md
  docs/_adapters/istio/istio.md
  docs/_adapters/kuma/kuma.md
  docs/_adapters/linkerd.md
  docs/_adapters/nginx-sm.md
  docs/_adapters/octarine/octarine.md
  docs/_adapters/traefik-mesh.md
Labels: area/docs

#4126 [UI] Fix Runtime Error
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/PerformanceProfileTable.js
  ui/components/MesheryPerformance/PerformanceResults.js
  ui/components/MesheryResults.js
  ui/components/MesherySMIResults.js
Labels: component/ui

#4152 add reference to programatically submit form
  ui/components/MesheryMeshInterface/PatternService/index.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
Labels: component/providers

#4153 Fix prometheus and grafana discovery
  ui/components/MesherySettings.js
Labels: area/performance

#4155 [Extensions] Add Play/Pause icon for meshmap
  ui/remote-component.config.js
Labels: component/providers

#4160 Fix invalid edges json schema
  oam/traits/meshmap.meshery.layer5.io.schema.json
Labels: component/patterns

#4163 fix nginx-sm manifests
  install/deployment_yamls/k8s/meshery-nginx-deployment.yaml
  install/deployment_yamls/k8s/meshery-nginx-service.yaml
  install/deployment_yamls/k8s/meshery-nginx-sm-deployment.yaml
  install/deployment_yamls/k8s/meshery-nginx-sm-service.yaml
Labels: service-mesh/nginx-sm

#4159 [Application] Fix - distinguishing between url and file upload/import of Meshery applications
  ui/components/MesheryApplications.js
Labels: component/ui

#4151 [CI] updated current workflows to put appropriate labels on PRs according to the files changed.
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: area/ci

#4164 [Extensions] New Verify icon: doublecheckicon
  ui/remote-component.config.js
Labels: component/ui

#4169 Fix performance dashboard appearance
  ui/components/MesheryPerformance/Dashboard.js
  ui/components/MesheryPerformance/PerformanceCalendar.js
Labels: area/performance, area/ux

#4084 Added more tests for `mesheryctl/internal/cli/root/config`
  mesheryctl/internal/cli/root/config/config_test.go
Labels: component/mesheryctl, area/tests

#4175 fix: broken link in adapters
  docs/Gemfile.lock
  docs/_adapters/tanzu-sm.md
  docs/_adapters/traefik-mesh.md
Labels: area/docs

#4166 mesheryctl: Fix system start --reset to reset the meshconfig before s…
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#4132 tag for k8s - channel switch
  mesheryctl/internal/cli/root/system/restart.go
  mesheryctl/internal/cli/root/system/testdata/reset/TestResetContexts.yaml
  mesheryctl/internal/cli/root/system/testdata/reset/reset_kubernetes.output.golden
Labels: component/mesheryctl

#4173 Added support for seeded content in local provider
  cmd/main.go
  models/default_local_provider.go
  provider-ui/package-lock.json
  ui/package-lock.json
Labels: kind/enhancement, area/lifecycle, component/patterns, component/filters

#4196 Fix meshery-operator helm chart
  install/kubernetes/helm/meshery/charts/meshery-operator/templates/crds.yaml
Labels: component/meshsync, area/lifecycle

#4205 fix seed content registration bugs
  cmd/main.go
  models/default_local_provider.go
  models/error.go
Labels: component/applications, component/patterns, component/filters

#4210 Added remote dependency
  ui/remote-component.config.js
Labels: component/extensions

#4176 [mesheryctl] Add unit tests for utils/sse-client.go
  mesheryctl/pkg/utils/fixtures/sse_client/loop.error.golden
  mesheryctl/pkg/utils/fixtures/sse_client/loop.success.golden
  mesheryctl/pkg/utils/sse-client.go
  mesheryctl/pkg/utils/sse-client_test.go
  mesheryctl/pkg/utils/testdata/sse_client/loop.expect.error.golden
  mesheryctl/pkg/utils/testdata/sse_client/loop.expect.success.golden
Labels: component/mesheryctl, area/tests

#4183 [mesheryctl]add subcommands for system config command
  mesheryctl/internal/cli/root/system/config.go
Labels: component/mesheryctl

#4226 [CI] label commenter modified
  .github/label-commenter-config.yml
Labels: area/ci

#4228 detailed description for login and logout
  docs/_data/mesheryctlcommands/cmds.yml
Labels: area/docs, component/mesheryctl

#4206 add open service mesh lab to docs
  docs/_adapters/osm/osm.md
Labels: area/docs

#4222 centered the icons and the chevron
  ui/components/Navigator.js
Labels: component/ui

#4188 added filter deploy post and delete
  handlers/doc.go
  handlers/meshery_filter_handler.go
  models/handlers.go
  router/server.go
Labels: component/api

#4237 [manifests] update cluster role verbs for `meshery-server` service account
  install/deployment_yamls/k8s/service-account.yaml
Labels: area/lifecycle

#4225 Performance Management with Meshery
  docs/assets/img/performance-management/chart.png
  docs/assets/img/performance-management/comparison-table.png
  docs/assets/img/performance-management/comparison.png
  docs/assets/img/performance-management/dashboard.png
  docs/assets/img/performance-management/grafana-dashboard.png
  docs/assets/img/performance-management/meshery-and-grafana.png
  docs/assets/img/performance-management/performance-management-dashboard.png
  docs/assets/img/performance-management/performance-profiles.png
  docs/assets/img/performance-management/result-chart.png
  docs/assets/img/performance-management/results-table.png
  docs/assets/img/performance-management/running-tests-spinner.png
  docs/assets/img/performance-management/running-tests.png
  docs/pages/guides/performance-management.md
Labels: area/docs, area/performance

#4043 added beta badge
  ui/components/Header.js
  ui/components/Navigator.js
  ui/lib/store.js
Labels: component/ui

#4244 [mesheryctl] add missing struct fields for k8s manifests
  mesheryctl/pkg/utils/compose.go
Labels: kind/bug, component/mesheryctl, area/lifecycle

#4243 The link in Contributing.md is rectified
  CONTRIBUTING.md
Labels: area/docs

#4239 Update the mesheryctl contributing docs to include using contexts to write to central struct
  docs/pages/project/contributing/contributing-cli.md
Labels: area/docs, component/mesheryctl

#4241 [Extension] Modify RJSF custom string field styles
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/package-lock.json
Labels: component/extensions

#4238 UX improvements in mesh command
  mesheryctl/internal/cli/root/mesh/deploy.go
Labels: component/mesheryctl

#4251 [Broadcast] Readjust fields for latest Meshkit broadcaster
  go.mod
  go.sum
  internal/graphql/model/helpers.go
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/operator.go
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/Navigator.js
Labels: component/server

#4248 osm error codes are generated now
  docs/pages/reference/error-codes.md
Labels: area/docs, service-mesh/osm

#4258 [mesheryctl] Refactor kubeconfig setting logic in `config.go`
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/config.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#4254 Adds k8s native pattern component generation
  go.sum
  handlers/k8sconfig_handler.go
  internal/store/store.go
  models/pattern/core/register.go
Labels: component/patterns

#4263 Added meshkit style errors and comments
  Dockerfile
  handlers/k8sconfig_handler.go
  internal/store/store.go
  models/pattern/core/error.go
  models/pattern/core/register.go
Labels: area/tests

#4268 added maximize and minimize to application
  ui/components/MesheryApplications.js
Labels: component/ui

#4264 [performance] fix bugs related to load generators
  helpers/load_test_interface.go
Labels: area/performance

#4266 [UI] Updated the UI of confirmation prompt
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/PromptComponent.js
Labels: component/ui, area/ux

#4271 [UI] Add smp icon
  ui/public/static/img/service-mesh-pattern.png
Labels: component/ui

#4272 use latest version of jsonschema utility in meshery container image
  Dockerfile
Labels: area/ci, component/patterns

#4276 Fix pinning version on latest channel in Docker platform
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#4252 first draft on guide to authenticate
  docs/assets/img/token/token.png
  docs/pages/guides/mesheryctl/authenticate-with-meshery-via-cli.md
Labels: area/docs

#4278 added maximize and minimize to filters
  ui/components/Filters.js
Labels: component/ui

#4279 [CI] e2e tests for multiple k8s versions using meshery-smp-action
  .github/workflows/multiversionk8s-e2e.yaml
Labels: area/ci, area/tests

#4090 Add instructions for installing Meshery on EKS cluster
  .github/workflows/graphql.yml
  docs/_data/mesheryctlcommands/cmds.yml
  docs/pages/installation/aks.md
  docs/pages/installation/eks.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-start.md
  ui/public/static/img/drawer-icons/performance-icon_svg.js
Labels: area/docs, area/lifecycle

#4277 Added support for k8s pattern generation
  go.mod
  go.sum
  handlers/k8sconfig_handler.go
  models/pattern/core/register.go
  models/pattern/patterns/k8s/service/service.go
  oam/workloads/service.k8s.meshery.layer5.io.schema.json
  oam/workloads/service.k8s_definition.json
  provider-ui/package-lock.json
  ui/package-lock.json
Labels: component/patterns
