Repository meshery/meshery, pull requests merged in 2021-11, with the labels that each got.

#4473 [mesheryctl] Fetching latest relase tag via web-scraping.
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/version.go
  mesheryctl/pkg/utils/platform.go
  mesheryctl/pkg/utils/testing.go
Labels: component/mesheryctl

#4550 Create docs for configuration management with patterns, filters and applications
  docs/assets/img/configuration-management/image-hub.png
  docs/assets/img/configuration-management/meshery-applications-seeded.png
  docs/assets/img/configuration-management/meshery-applications.png
  docs/assets/img/configuration-management/meshery-filters.png
  docs/assets/img/configuration-management/meshery-patterns.png
  docs/assets/img/configuration-management/pattern-configure-button.png
  docs/assets/img/configuration-management/pattern-configure.png
  docs/assets/img/configuration-management/pattern-edit.png
  docs/assets/img/configuration-management/pattern-import.png
  docs/pages/functionality/application-management.md
  docs/pages/guides/configuration-management.md
Labels: area/docs

#4551 [CI] Set Node version to LTS for docker builds
  Dockerfile
Labels: pr/dependencies

#4554 [CI] Golang deps: pinning openapi deps
  go.mod
  go.sum
  provider-ui/package-lock.json
  ui/package-lock.json
Labels: area/ci, component/ui, language/go

#4544 [mesheryctl] minor changes to installation script
  meshery
Labels: component/mesheryctl

#4562 docs: fix language in functionality
  docs/pages/es/functionality/index.md
Labels: area/docs

#4564 fix routing for system redirects
  docs/pages/reference/mesheryctl/commands/mesheryctl-system.md
Labels: area/docs

#4410 Fix JSHint W014
  ui/components/ConnectionWizard/DataPanels/Metrics.js
  ui/components/ConnectionWizard/Screens/KubernetesScreen.js
  ui/components/ConnectionWizard/helpers/kubernetesHelpers.js
  ui/components/ConnectionWizard/helpers/metrics.js
  ui/components/DashboardComponent.js
  ui/components/ExtensionSandbox.js
  ui/components/GrafanaConfigComponent.js
  ui/components/GrafanaCustomChart.js
  ui/components/GrafanaCustomCharts.js
  ui/components/GrafanaDisplaySelection.js
  ui/components/GrafanaMetricsCompare.js
  ui/components/Header.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/PrometheusConfigComponent.js
Labels: component/ui, security

#4333 [meshery server]Sqlite migration | CU-1h1xjj2
  cmd/main.go
  go.mod
  go.sum
  internal/graphql/resolver/error.go
  internal/graphql/resolver/kubernetes.go
  models/bitcask_smiresults_persister.go
  models/bitcask_test_profiles_persister.go
  models/default_local_provider.go
  models/preference.go
  models/preference_bitcask_persister.go
  models/preference_persister.go
  models/remote_provider.go
  models/smi-test.go
  models/smiresults_persister.go
  models/test_profiles_persister.go
  provider-ui/package-lock.json
  ui/package-lock.json
Labels: component/database

#4545 [Broker] add broker url to handler config
  handlers/middlewares.go
  internal/graphql/resolver/meshsync.go
  models/handlers.go
  models/providers.go
Labels: component/meshsync

#4566 [UI] custom table header for selected row
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/PerformanceProfileTable.js
Labels: component/ui

#4524 Add earliest supported service mesh version to each adapter
  docs/_adapters/app-mesh.md
  docs/_adapters/consul/consul.md
  docs/_adapters/cpx.md
  docs/_adapters/istio/istio.md
  docs/_adapters/kuma/kuma.md
  docs/_adapters/linkerd.md
  docs/_adapters/nginx-sm.md
  docs/_adapters/nsm/nsm.md
  docs/_adapters/octarine/octarine.md
  docs/_adapters/osm/osm.md
  docs/_adapters/tanzu-sm.md
  docs/_adapters/traefik-mesh.md
  docs/pages/concepts/architecture/service-meshes/adapters.md
  docs/pages/concepts/architecture/service-meshes/index.md
Labels: area/docs

#4574 [Security] opencontainers/runc v1.0.0-rc95 // indirect; CVE-2021-30465
  go.mod
  go.sum
Labels: security

#4568 Fix issue 4411 (intermittent ci fail on cypress 'search Cluster Deployment & ping k8s cluster' integration test)
  ui/cypress/integration/integration/discoverCluster_spec.js
Labels: area/ci, component/ui

#4575 [Security] nats-serverv2 CVE-2021-3127
  go.mod
  go.sum
Labels: security

#4548 Updated Load-generator.md
  docs/pages/extensibility/load-generators.md
Labels: area/docs, issue/dco

#4518 [UI] Counter in Performance Profile fixed
  ui/components/MesheryPerformance/PerformanceProfileTable.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
Labels: area/performance, component/ui

#4478 Updated the Docs
  docs/pages/installation/kubernetes.md
Labels: area/docs

#4378 Add the Broker page in spanish
  docs/pages/es/concepts/architecture/broker.md
Labels: area/docs, language/es

#4558 added the same structure for spanish page as it is for english page
  docs/pages/es/functionality/index.md
  docs/pages/es/functionality/management.md
  docs/pages/es/functionality/performance.md
  docs/pages/es/functionality/smi-conformance.md
  docs/pages/es/index.md
Labels: area/docs

#4514 Deprication notice for Kubernetes manifests and update Helm install instructions
  docs/pages/installation/kinD.md
  docs/pages/installation/kubernetes.md
Labels: area/docs

#4547 Fix running tests with saved profile `mesheryctl perf apply [profile-name]`
  handlers/performance_profiles_handler.go
  mesheryctl/internal/cli/root/perf/apply.go
Labels: component/mesheryctl

#4439 [Dashboard] Fix DB mutex from concurrent read/write and refactoring gql subs
  cmd/main.go
  internal/graphql/resolver/meshsync.go
  ui/components/DashboardComponent.js
  ui/components/graphql/subscriptions/ControlPlaneSubscription.js
  ui/components/graphql/subscriptions/DataPlanesSubscription.js
Labels: component/ui

#4590 [mesheryctl] `perf apply` add support for overriding values set in the test configuration file with flags
  docs/pages/guides/performance-management.md
  handlers/load_test_handler.go
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/error.go
  models/performance_profiles.go
Labels: area/docs, component/mesheryctl

#4585 fix CVE-2021-23440
  ui/package-lock.json
  ui/package.json
Labels: component/ui, security

#4593 [doc] fix routing for command-reference redirects
  docs/pages/reference/error-codes.md
  docs/pages/reference/graphql-api-reference.md
  docs/pages/reference/mesheryctl/commands/index.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-app.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-mesh.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-pattern.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-perf.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-system-channel.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-system-context.md
  docs/pages/reference/mesheryctl/commands/mesheryctl.md
  docs/pages/reference/mesheryctl/commands/mesheryctl_command_template.md
  docs/pages/reference/rest-api-reference.md
Labels: area/docs

#4599 [UI] mapped event_type null to success notification
  ui/components/MesheryNotification.js
Labels: component/ui

#4594 [docs] note on using meshkit logger and an elaborate example
  docs/pages/project/contributing/contributing-error.md
Labels: area/docs

#4600 [Chore] Updating security report mailing list
  SECURITY.md
  docs/pages/project/security-vulnerabilities.md
Labels: area/docs, security

#4591 [SECURTIY] fix GHSA-r628-mhmh-qjhw
  ui/package-lock.json
  ui/package.json
Labels: component/ui, security

#4587 [Security] Fix CVE-2021-29060
  ui/package-lock.json
  ui/package.json
Labels: component/ui, security

#4586 Patch CVE 2021-23343
  ui/package-lock.json
  ui/package.json
Labels: component/ui, security

#4588 [Security] Fix CVE 2020 28469
  ui/package-lock.json
  ui/package.json
Labels: component/ui, security

#4601 [Security] Fix "Zip Slip" vulnerability with meshery's remote provider
  models/remote_provider.go
Labels: security, component/server

#4623 [Docs] Add 'Connecting to Remote Providers' section in Troubleshooting Guide
  docs/pages/reference/troubleshooting/installation.md
Labels: area/docs

#4629 [Docs] Fix: Display adapters' earliest version
  docs/_includes/adapter-status.html
Labels: area/docs

#4603 [Extension] RJSF and Pattern Service Form extension
  docs/_data/toc.yml
  docs/pages/extensibility/extensibility.md
  docs/pages/extensibility/providers.md
  docs/pages/extensibility/ui.md
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/index.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
  ui/components/MesheryMeshInterface/PatternServiceFormCore.js
  ui/components/NavigatorExtension.js
  ui/pages/extension/[component].js
  ui/remote-component.config.js
Labels: area/docs, component/ui, component/extensions

#4631 Update docs for meshery-smp-action and `mesheryctl perf` updates
  docs/pages/guides/performance-management.md
Labels: area/docs

#4598 [Security] fix CVE-2020-26160 with dgrijalva/jwt-go
  go.mod
  go.sum
  models/remote_auth.go
Labels: security, component/server

#4635 [Docs] Enhance: Warning Section for Replacing logrus
  docs/pages/project/contributing/contributing-error.md
Labels: area/docs

#4632 [Extensions] Terminal and sessions icon
  ui/public/static/img/logs.svg
  ui/public/static/img/smi-conformance-no-trim.svg
  ui/public/static/img/terminal.svg
Labels: component/ui, component/extensions

#4645 fixed failing builds
  Dockerfile
Labels: area/ci

#4644 Add RJSF docs
  docs/pages/extensibility/ui.md
Labels: area/docs, component/extensions

#4643 [Extension] add remote config
  ui/remote-component.config.js
Labels: component/ui

#4646 [Extensions] smi-icon-extension
  ui/public/static/img/smi-conformance-small.svg
Labels: component/ui

#4464 [Pattern] New Pattern Configurator UI
  ui/components/ConfiguratorWrapper.js
  ui/components/MesheryApplications.js
  ui/components/MesheryMeshInterface/LazyPatternServiceForm.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/Accordion.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ArrayFieldTemlate.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/DescriptionField.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/components/MesheryMeshInterface/PatternService/Switch.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
  ui/components/MesheryMeshInterface/helpers.js
  ui/components/MesheryMeshInterface/index.js
  ui/components/MesheryPatterns.js
  ui/components/configuratorComponents/CodeEditor.js
  ui/components/configuratorComponents/NameToIcon.js
  ui/components/configuratorComponents/patternConfigurator.js
  ui/pages/configuration/patterns.js
  ui/public/static/img/pattcolor.svg
  ui/public/static/img/pattwhite.svg
  ui/themes/index.js
  ui/themes/rjsf.js
  ui/utils/context/schemaSet.js
  ui/utils/nameMapper.js
  ui/utils/utils.js
  ui/utils/workloadFilter.js
Labels: component/ui, component/patterns

#4465 [UI] Changes in Navigator
  ui/components/DashboardComponent.js
  ui/components/Navigator.js
  ui/pages/_app.js
Labels: component/ui

#4656 espanol button link fixed and extra code deleted w/signoff
  docs/_includes/header.html
Labels: area/docs

#4650 Fixed broken link
  docs/pages/project/contributing/meshery-server.md
Labels: area/docs

#4654 fixed liquid syntax error
  docs/pages/extensibility/ui.md
Labels: area/docs

#4628 Refine examples in perf commands
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/perf.go
  mesheryctl/internal/cli/root/perf/profile.go
  mesheryctl/internal/cli/root/perf/result.go
Labels: component/mesheryctl

#4658 [UI] Scrollbar styles fix globally
  ui/pages/_app.js
Labels: component/ui

#4641 switch to helm based operator deployments in meshery server
  cmd/main.go
  internal/graphql/model/error.go
  internal/graphql/model/helpers.go
  internal/graphql/model/meshsync_helper.go
  internal/graphql/model/operator_helper.go
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/operator.go
Labels: component/meshsync, area/lifecycle, component/server

#4653 refactor: move from io/ioutil to io and os packages
  handlers/grafana_handlers.go
  handlers/k8sconfig_handler.go
  handlers/load_test_handler.go
  handlers/load_test_preferences_handler.go
  handlers/oam_handler.go
  handlers/prometheus_handlers.go
  mesheryctl/internal/cli/root/app/list.go
  mesheryctl/internal/cli/root/app/list_test.go
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/onboard.go
  mesheryctl/internal/cli/root/app/view.go
  mesheryctl/internal/cli/root/filter/apply.go
  mesheryctl/internal/cli/root/filter/delete.go
  mesheryctl/internal/cli/root/filter/list.go
  mesheryctl/internal/cli/root/filter/list_test.go
  mesheryctl/internal/cli/root/filter/view.go
  mesheryctl/internal/cli/root/mesh/deploy.go
  mesheryctl/internal/cli/root/mesh/validate.go
  mesheryctl/internal/cli/root/pattern/apply.go
  mesheryctl/internal/cli/root/pattern/delete.go
  mesheryctl/internal/cli/root/pattern/list.go
  mesheryctl/internal/cli/root/pattern/list_test.go
  mesheryctl/internal/cli/root/pattern/view.go
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/profile.go
  mesheryctl/internal/cli/root/perf/profile_test.go
  mesheryctl/internal/cli/root/perf/result.go
  mesheryctl/internal/cli/root/perf/result_test.go
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/internal/cli/root/system/config.go
  mesheryctl/internal/cli/root/system/context_test.go
  mesheryctl/internal/cli/root/system/login.go
  mesheryctl/internal/cli/root/system/logout.go
  mesheryctl/internal/cli/root/system/token_test.go
  mesheryctl/internal/cli/root/version.go
  mesheryctl/pkg/utils/auth.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/helpers_test.go
  mesheryctl/pkg/utils/platform.go
  mesheryctl/pkg/utils/platform_test.go
  mesheryctl/pkg/utils/sse-client_test.go
  mesheryctl/pkg/utils/testing.go
  models/default_local_provider.go
  models/grafana_helper.go
  models/pattern/core/register.go
  models/remote_auth.go
  models/remote_provider.go
Labels: component/mesheryctl

#4663 [bugs] fix bugs while unarchiving provider pkg
  models/remote_provider.go
Labels: component/extensions, component/providers

#4660 Pattern Configurator: Fix issues with PAtternConfigurator
  ui/components/MesheryMeshInterface/LazyPatternServiceForm.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
  ui/components/MesheryMeshInterface/PatternServiceFormCore.js
  ui/components/MesheryMeshInterface/helpers.js
  ui/components/MesheryMeshInterface/index.js
  ui/components/MesheryPatterns.js
  ui/components/configuratorComponents/CodeEditor.js
  ui/components/configuratorComponents/CustomBreadCrumb.js
  ui/components/configuratorComponents/patternConfigurator.js
  ui/package-lock.json
  ui/pages/_app.js
  ui/themes/app.js
  ui/themes/index.js
  ui/themes/rjsf.js
  ui/utils/utils.js
Labels: component/ui, component/patterns

#4424 Fix JSHint errors
  ui/lib/chartjs-formatter.js
Labels: component/ui, issue/remind

#4557 [mesheryctl] `system dashboard`
  mesheryctl/internal/cli/root/system/dashboard.go
  mesheryctl/internal/cli/root/system/system.go
Labels: component/mesheryctl, pr/do-not-merge

#4668 [bug] fix failing operator installation due to malformed version
  internal/graphql/model/helpers.go
Labels: area/lifecycle

#4672 Workflowforadapters
  .github/workflows/testadapters.yaml
  docs/pages/project/ci-build-and-release.md
Labels: area/docs, area/ci

#4676 fixed invalid yaml
  .github/workflows/testadapters.yaml
Labels: area/ci

#4677 removed extra sleep time from workflow
  .github/workflows/testadapters.yaml
Labels: area/ci

#4686 Broken URL FIX
  docs/pages/extensibility/adapters.md
Labels: area/docs

#4687 Added provider option in adapter's core workflow
  .github/workflows/testadapters.yaml
  docs/pages/project/ci-build-and-release.md
Labels: area/docs, area/ci

#4680 [chore] minor update in error
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/internal/cli/root/system/error.go
Labels: component/mesheryctl
