Repository meshery/meshery, pull requests merged in 2021-01, with the labels that each got.

#2189 Promote Meshery Adapter for Traefik Mesh to beta
  Makefile
  go.mod
  ui/components/DashboardComponent.js
  ui/components/MeshAdapterConfigComponent.js
  ui/components/MesheryPlayComponent.js
  ui/components/Navigator.js
  ui/public/static/img/traefikmesh-light.svg
  ui/public/static/img/traefikmesh.svg
Labels: area/ui, language/javascript

#2163 [mesheryctl] Split config functionality and refractor
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/context/create.go
  mesheryctl/internal/cli/root/system/context/delete.go
  mesheryctl/internal/cli/root/system/context/view.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl, language/go

#2146 Add parameters on the chart's readme
  Makefile
  go.mod
  go.sum
  install/kubernetes/helm/meshery/Chart.yaml
  install/kubernetes/helm/meshery/README.md
  install/kubernetes/helm/meshery/charts/meshery-consul/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-consul/README.md
  install/kubernetes/helm/meshery/charts/meshery-istio/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-istio/README.md
  install/kubernetes/helm/meshery/charts/meshery-kuma/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-kuma/README.md
  install/kubernetes/helm/meshery/charts/meshery-linkerd/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-linkerd/README.md
  install/kubernetes/helm/meshery/charts/meshery-nsm/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-nsm/README.md
  install/kubernetes/helm/meshery/charts/meshery-osm/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-osm/README.md
Labels: language/markdown

#2192 fix: ci issues in ui
  .github/workflows/ci.yml
Labels: area/ci

#2197 [Docs] Update to Meshery Extension Point diagram
  docs/assets/img/architecture/Meshery_Extension_Points.png
  docs/assets/img/architecture/meshery-object-model.svg
  docs/assets/img/architecture/meshery_extension_points.svg
  docs/assets/img/architecture/meshery_logical_object_model.svg
  docs/pages/concepts/architecture/architecture.md
  docs/pages/extensibility/extensibility.md
Labels: area/docs, language/markdown

#2139 [CI] Add e2e test for /settings > Environment
  .github/workflows/ci.yml
  ui/components/MeshConfigComponent.js
  ui/components/MesherySettings.js
  ui/cypress/integration/e2e/settings_spec.js
Labels: area/ci, area/tests, area/ui, language/javascript

#2200 Add release_channel to the version api response and remove radio buttons from the UI
  .github/workflows/build-and-release.yml
  .github/workflows/ci.yml
  .goreleaser.yml
  Dockerfile
  Makefile
  cmd/main.go
  handlers/server_spec_handler.go
  mesheryctl/Makefile
  mesheryctl/internal/cli/root/cfg/cfg.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/version.go
  ui/components/DashboardComponent.js
Labels: area/ci, area/ui, component/api, component/mesheryctl, language/go, language/javascript

#2199 Replace hardcoded URL with Endpoints from context
  .gitignore
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/config/testwith/mesheryctl.yaml
  mesheryctl/internal/cli/root/mesh/validate.go
  mesheryctl/internal/cli/root/perf/perf.go
  mesheryctl/internal/cli/root/system/config.go
  mesheryctl/internal/cli/root/system/system.go
  mesheryctl/internal/cli/root/version.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl, language/go

#2220 [CI] Fix netlify CI tests
  docs/Gemfile.lock
  netlify.toml
Labels: area/docs

#2230 Remove cfg.go and its remnants from a faulty merge
  mesheryctl/internal/cli/root/cfg/cfg.go
  mesheryctl/internal/cli/root/version.go
Labels: component/mesheryctl, language/go

#1995 [mesheryctl] Add support for EKS config
  go.sum
  mesheryctl/internal/cli/root/system/config.go
  mesheryctl/pkg/utils/scripts.go
Labels: component/mesheryctl, language/go

#2229 Realign pic in Functionality section of main README
  README.md
Labels: language/markdown

#2205 Added Relay Environment
  ui/.babelrc
  ui/lib/relayEnvironment.js
  ui/package-lock.json
  ui/package.json
  ui/remote-component.config.js
Labels: area/ui, language/javascript

#2216 Replace route2 to intercept command in Cypress tests
  provider-ui/cypress.json
  provider-ui/cypress/integration/provider-ui_spec.js
  ui/cypress.json
  ui/cypress/integration/e2e/userpreference_spec.js
  ui/cypress/integration/integration/userpreference_spec.js
Labels: area/ui, language/javascript

#2233 [UI] Add Favicon for both provider ui and ui
  go.sum
  mesheryctl/pkg/utils/scripts.go
  provider-ui/pages/_document.js
  provider-ui/static/favicon.ico
  ui/pages/_document.js
  ui/public/static/favicon.ico
Labels: area/ui, component/mesheryctl, language/go, language/javascript

#2227 remotecomponent for userpref
  ui/components/RemoteUserPref.js
  ui/components/UserPreferences.js
  ui/pages/user/preferences.js
Labels: area/ui, language/javascript

#2209 mesheryctl: Added current-context for system channel command
  mesheryctl/internal/cli/root/system/channel.go
  mesheryctl/pkg/utils/helpers.go
  models/mesheryctl_config.go
Labels: component/mesheryctl, language/go

#2235 [Docs] minikube guide - typo-fix
  docs/pages/installation/minikube.md
Labels: area/docs, language/markdown

#2238 Fix performance test result download
  mesheryctl/internal/cli/root/system/channel.go
  models/remote_provider.go
Labels: component/mesheryctl, language/go

#2240 Runtime Error Fix
  ui/components/DashboardComponent.js
Labels: area/ui, language/javascript

#2243 Adding Operator Settings in Environments Tab
  go.mod
  go.sum
  handlers/operator.go
  ui/components/MeshConfigComponent.js
  ui/public/static/img/meshery-operator.svg
Labels: area/ui, component/api, language/go, language/javascript

#2244 Add stats collection
  models/remote_provider.go
  ui/components/UserPreferences.js
  ui/pages/_document.js
Labels: area/ui, language/go, language/javascript

#2236 [mesheryctl] Dynamically modified docker-compose based on current-context
  mesheryctl/internal/cli/root/perf/perf.go
  mesheryctl/internal/cli/root/system/channel.go
  mesheryctl/internal/cli/root/system/config.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/system.go
  mesheryctl/pkg/utils/compose.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl, language/go

#2249 A hackish but working solution for Upgrading Meshery
  docs/pages/guides/upgrade.md
Labels: area/docs, language/markdown

#2252 [Docs] Build and Release (CI) page
  docs/_data/toc.yml
  docs/pages/project/CONTRIBUTING-gitflow.md
  docs/pages/project/FAQ.md
  docs/pages/project/ci-build-and-release.md
  docs/pages/project/contributing.md
  docs/pages/project/index.md
  docs/pages/project/releases.md
  docs/pages/project/security-vulnerabilities.md
Labels: area/docs, language/markdown

#2218 [CI] Add e2e tests to Settings > Service Meshes / consul
  .github/workflows/ci.yml
  provider-ui/cypress.json
  ui/components/MeshAdapterConfigComponent.js
  ui/components/MesherySettings.js
  ui/cypress.json
  ui/cypress/integration/e2e/settings_spec.js
Labels: area/ci, area/ui, language/javascript

#2255 This PR fixes Link for SMP project
  docs/pages/guides/interpreting-performance-test-results.md
Labels: area/docs, language/markdown

#2258 [CI] Implement Code Coverage for Cypress tests
  .github/workflows/ci.yml
  provider-ui/.babelrc
  provider-ui/.gitignore
  provider-ui/cypress.json
  provider-ui/cypress/plugins/index.js
  provider-ui/cypress/support/index.js
  provider-ui/package-lock.json
  provider-ui/package.json
  provider-ui/pages/api/__coverage__.js
  ui/.babelrc
  ui/.gitignore
  ui/cypress.json
  ui/cypress/plugins/index.js
  ui/cypress/support/index.js
  ui/package-lock.json
  ui/package.json
  ui/pages/api/__coverage__.js
Labels: area/ci, area/ui, language/javascript

#2259 [Docs] FAQ: Running Meshery Locally
  docs/pages/project/FAQ.md
Labels: area/docs, language/markdown

#2150 changes for MESHSYNC persistence
  Makefile
  cmd/main.go
  docker-compose.yaml
  go.mod
  go.sum
  handlers/operator.go
  helpers/kubernetes.go
  mesheryctl/internal/cli/root/system/start.go
  models/default_local_provider.go
  models/handlers.go
  models/providers.go
  models/remote_provider.go
  router/server.go
  ui/components/MeshConfigComponent.js
  ui/public/static/img/meshery-operator.svg
Labels: area/ui, component/api, component/mesheryctl, language/go, language/javascript, pr/do-not-merge

#2265 [mesheryctl] Make 'system reset' context aware
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/system/reset.go
Labels: component/mesheryctl

#2263 Promote Traefik Mesh
  docker-compose.yaml
Labels: area/lifecycle, service-mesh/traefik-mesh

#2287 [mesheryctl] Feature: `system reset` should ask confirmation from the user
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#2288 [mesheryctl] Feature: `system reset --context/-c` to temporarily change context
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#2299 [mesheryctl] Feature: `--verbose` `-v` global flags for verbose logs
  mesheryctl/internal/cli/root/root.go
Labels: component/mesheryctl

#2301 [CI] goreleaser publish mesheryctl even for prereleases
  .goreleaser.yml
Labels: area/ci
