Repository meshery/meshery, pull requests merged in 2021-05, with the labels that each got.

#2724 Remote Pattern Imports
  handlers/meshery_pattern_handler.go
  internal/sql/map.go
  mesheryctl/internal/cli/root/pattern/apply.go
  mesheryctl/internal/cli/root/pattern/delete.go
  mesheryctl/internal/cli/root/pattern/view.go
  models/default_local_provider.go
  models/handlers.go
  models/meshery_pattern.go
  models/meshery_pattern_persister.go
  models/providers.go
  models/remote_provider.go
  models/walker/github.go
  provider-ui/package-lock.json
  router/server.go
  ui/components/MesheryPatterns.js
  ui/package-lock.json
Labels: component/patterns, pr/do-not-merge

#2815 [Meshery] Add a check for validity of downloaded meshery.zip file
  meshery
Labels: area/lifecycle, component/mesheryctl

#2744 Add patterns list subcommand
  mesheryctl/internal/cli/root/pattern/list.go
  mesheryctl/internal/cli/root/pattern/pattern.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/platform.go
  models/meshery_patterns_api_response.go
Labels: component/mesheryctl

#2812 [CI] Add GitHub action for labeler
  .github/config.yml
  .github/label-commenter-config.yml
  .github/workflows/label-commenter.yml
Labels: area/ci

#2818 change patternfile enpoint
  mesheryctl/internal/cli/root/pattern/list.go
Labels: component/mesheryctl

#2817 [CI] Migrate Action Trigger to layer5io GH org
  .github/workflows/notify-providers.yaml
Labels: area/ci

#2816 [WIP] Automatically updating meshconfig file w/signoff
  mesheryctl/internal/cli/root/version.go
Labels: component/mesheryctl

#2836 Disclose the CVE-2021-31856 in Meshery Docs under List of Announced Vulnerabilities
  docs/_data/vulnerabilities/announce.yml
  docs/pages/project/security-vulnerabilities.md
Labels: security

#2819 MeshKit v0.2.9
  go.mod
Labels: dependencies

#2712 Meshkit errors exports
  docs/_data/error_references/err_categories.yml
  docs/_data/error_references/err_descriptions.yml
  docs/_data/errorref/kuma_errors_export.json
  docs/_data/errorref/linkerd_errors_export.json
  docs/_data/errorref/mesherylibrary_errors_export.json
  docs/_data/errorref/meshkit_errors_export.json
  docs/_data/toc.yml
  docs/pages/reference/error-code-reference.md
  docs/pages/reference/error-codes.md
Labels: area/docs, component/mesheryctl, component/meshsync

#2857 [MesheryUI] Added icons highlighting in header of meshery dashboard
  ui/components/Header.js
Labels: component/ui

#2868 Resolved the overlapping of Divider line with the card border
  provider-ui/components/ProviderComponent.js
Labels: component/ui

#2877 Fixing operator lifecycle in system stop
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#2761 Display endpoint based on platform
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#2882 Added Filter UI file
  ui/components/Filters.js
Labels: component/filters, component/ui

#2899 [WIP] Updating docs about operator and endpoints
  docs/pages/concepts/architecture/operator.md
  docs/pages/guides/mesheryctl/working-with-mesheryctl.md
Labels: area/docs, component/meshsync

#2891 [mesheryctl] Invoke kubernetes checks independent of PreRunE and platform
  mesheryctl/internal/cli/root/system/check.go
Labels: component/mesheryctl, kind/enhancement

#2886 [WIP] Applying operator for docker on start and stop
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/pkg/utils/platform.go
Labels: area/lifecycle, component/mesheryctl

#2821 [mesheryctl] CRUD for WASM filters
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/internal/cli/root/filter/apply.go
  mesheryctl/internal/cli/root/filter/delete.go
  mesheryctl/internal/cli/root/filter/filter.go
  mesheryctl/internal/cli/root/filter/list.go
  mesheryctl/internal/cli/root/filter/view.go
  models/meshery_filter_api_response.go
Labels: component/mesheryctl, kind/feature

#2914 Fixed bug with deploying Meshery operator on platform: Docker
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#2915 Fix `system logs`
  mesheryctl/internal/cli/root/system/logs.go
Labels: component/mesheryctl

#2926 Fix system update for `platform: kubernetes`
  mesheryctl/internal/cli/root/system/restart.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#2922 Fix system status and IsMesheryRunning
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#2930 Update system status and system logs
  mesheryctl/internal/cli/root/system/logs.go
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#2934 [UI] Icons scaled with all browser zoom in/out
  ui/components/Header.js
  ui/components/MesheryNotification.js
Labels: component/ui

#2929 [mesheryctl] Add skip-update flag on `system restart` cmd
  mesheryctl/internal/cli/root/system/restart.go
Labels: component/mesheryctl

#2951 Change endpoint in meshconfig(platform: Docker)
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#2966 [UI] Navigation Menu Icon Scale with zoom in/out
  ui/components/Header.js
  ui/components/Navigator.js
Labels: component/ui

#2985 [Docs] [WIP] Modify command reference doc pages
  docs/Gemfile.lock
  docs/pages/reference/mesheryctl/commands/mesheryctl-pattern.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-perf.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-system-channel.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-system-context.md
  docs/pages/reference/mesheryctl/commands/mesheryctl-system.md
  docs/pages/reference/mesheryctl/commands/mesheryctl.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-pattern-list.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-pattern-view.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-start.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-stop.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-syschannel-view.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-syscontext-create.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-syscontext-view.md
Labels: area/docs, component/mesheryctl

#2974 [Docs]: page for `mesheryctl system update`
  docs/_data/mesheryctlcommands/lifecycle/system/update/command/update.yaml
  docs/_data/mesheryctlcommands/lifecycle/system/update/flag/skip-reset.yaml
  docs/pages/reference/mesheryctl-commands.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-update.md
Labels: area/docs, component/mesheryctl

#2988 [Docs] Service mesh pattern management
  docs/_data/toc.yml
  docs/pages/functionality/patterns.md
Labels: area/docs, component/patterns

#2982 [CI] Helm: Test of helm chart releaser for remote repo
  install/kubernetes/helm/meshery/Chart.yaml
Labels: area/ci, area/devops

#2995 [mesheryctl] system context list: improve msg for listing missing contexts
  mesheryctl/internal/cli/root/system/context/list.go
Labels: component/mesheryctl

#2993 [CI] Makefile: `make site` for conveniently building docs
  Makefile
Labels: area/ci

#2999 Fixed doc commands in root makefile
  Makefile
Labels: area/devops

#2927 [Meshery UI] - Updated Meshery Provider UI
  provider-ui/components/ProviderComponent.js
  provider-ui/cypress.json
  provider-ui/cypress/integration/provider-ui_spec.js
Labels: component/ui

#3007 Add contributing guidelines for mesheryctl
  docs/_data/toc.yml
  docs/pages/reference/contributing-guidelines.md
  meshery
  mesheryctl/internal/cli/root/root.go
  mesheryctl/pkg/utils/helpers.go
Labels: area/docs

#2989 [Docs] Automatic Graphql Docs Generation
  docs/Gemfile
  docs/Gemfile.lock
  docs/Rakefile
  docs/_data/GraphQL/EnumerationTypes.yaml
  docs/_data/GraphQL/Mutations.yaml
  docs/_data/GraphQL/ObjectTypes.yaml
  docs/_data/GraphQL/Queries.yaml
  docs/_data/GraphQL/Subscriptions.yaml
  docs/_data/toc.yml
  docs/lib/tasks/helper.rb
  docs/lib/tasks/renderer.rb
  docs/lib/tasks/templates/default.md.haml
  docs/pages/extensibility/api.md
  docs/pages/extensibility/graphql-reference.md
  go.mod
  go.sum
  internal/graphql/generated/generated.go
  internal/graphql/gqlgen.yml
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
  internal/graphql/schema/schema.graphqls
  ui/components/graphql/mutations/AddonStatusMutation.js
  ui/components/graphql/mutations/OperatorStatusMutation.js
  ui/components/graphql/mutations/__generated__/AddonStatusMutation.graphql.js
  ui/components/graphql/mutations/__generated__/OperatorStatusMutation.graphql.js
  ui/components/graphql/queries/__generated__/AddonsStatusQuery.graphql.js
  ui/components/graphql/queries/__generated__/ControlPlanesQuery.graphql.js
  ui/components/graphql/subscriptions/__generated__/AddonStatusSubscription.graphql.js
  ui/components/graphql/subscriptions/__generated__/ControlPlaneSubscription.graphql.js
  ui/package.json
Labels: area/docs, component/api

#3010 [Docs] Contributing / Project / Overview section restructure
  Makefile
  docs/_data/toc.yml
  docs/pages/getting-started/overview.md
  docs/pages/project/FAQ.md
  docs/pages/project/ci-build-and-release.md
  docs/pages/project/community.md
  docs/pages/project/contributing/CONTRIBUTING-gitflow.md
  docs/pages/project/contributing/contributing-cli.md
  docs/pages/project/contributing/contributing-guidelines.md
  docs/pages/project/contributing/contributing-ui.md
  docs/pages/project/contributing/contributing.md
  docs/pages/project/index.md
  docs/pages/project/releases.md
  docs/pages/project/security-vulnerabilities.md
Labels: area/docs

#3014 Config file input box visibility fix
  ui/components/MeshConfigComponent.js
Labels: component/ui

#3008 Added Confirmation when Channel is Set
  mesheryctl/internal/cli/root/system/channel.go
Labels: component/mesheryctl

#3006 Namespace drop box to be responsive
  ui/components/MesheryAdapterPlayComponent.js
Labels: component/ui

#2998 Fix `context create`: Use values from template context
  mesheryctl/internal/cli/root/system/context/create.go
Labels: component/mesheryctl

#2980 [mesheryctl] Validating versions and gracefully handling invalid versions
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/pkg/constants/definitions.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#2887 [mesheryctl] (child) View Performance Profile’s Configuration …
  mesheryctl/internal/cli/root/perf/perf.go
  mesheryctl/internal/cli/root/perf/view.go
Labels: area/performance, component/mesheryctl

#3026 reference changed for introducing meshery
  docs/pages/getting-started/overview.md
  docs/pages/index.md
Labels: area/docs

#3005 [update] Filter UI
  ui/components/Filters.js
  ui/components/Navigator.js
  ui/pages/configuration/filters.js
  ui/public/static/img/web-filters.svg
Labels: component/filters, component/ui

#3027 [mesheryctl] Improved UX for `mesheryctl system check --pre`
  mesheryctl/internal/cli/root/system/check.go
Labels: component/mesheryctl, kind/enhancement

#3050 Namespace input and chip overlap fix
  ui/components/MesheryAdapterPlayComponent.js
Labels: component/ui

#3051 Add base branch to the create-pull-request Github Action
  .github/workflows/release-notes.yml
Labels: area/ci, area/docs

#3055 Fix Release Notes Drafter
  .github/workflows/release-drafter.yml
Labels: area/ci

#3056 [CI] Remove unused hooks for Docker image building
  hooks/build
  hooks/push
Labels: area/ci

#3022 [Docs] mesheryctl: Create a subcommand for system logs, restart and reset
  docs/_data/mesheryctlcommands/lifecycle/system/log/command/logs.yml
  docs/_data/mesheryctlcommands/lifecycle/system/reset/command/reset.yml
  docs/_data/mesheryctlcommands/lifecycle/system/restart/command/restart.yml
  docs/_releases/v0.5.15.md
  docs/pages/reference/mesheryctl-commands.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-logs.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-reset.md
  docs/pages/reference/mesheryctl/subcommands/mesheryctl-sys-restart.md
Labels: area/docs

#3012 Open API Documentation #1
  .gitignore
  Makefile
  docs/Gemfile.lock
  docs/_data/swagger.yml
  docs/_data/toc.yml
  docs/_layouts/swagger.html
  docs/_sass/swagger.scss
  docs/assets/css/sass.scss
  docs/pages/reference/graphql-api-reference.md
  docs/pages/reference/rest-api-reference.md
  go.mod
  go.sum
  handlers/doc.go
  handlers/meshery_pattern_handler.go
  router/server.go
  swagger.yaml
Labels: area/docs, component/api

#2928 [mesheryctl] List subcommand under `mesheryctl perf`
  go.mod
  go.sum
  mesheryctl/internal/cli/root/perf/list.go
  mesheryctl/internal/cli/root/perf/perf.go
  models/meshery_perf_api_response.go
  models/performance_profiles.go
Labels: area/performance, component/mesheryctl

#3073 Added Filters and removed edit option
  ui/components/Filters.js
  ui/pages/configuration/filters.js
Labels: component/filters

#3001 Fix operator lifecycle for update and reset
  mesheryctl/internal/cli/root/system/context/create.go
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl
