Repository meshery/meshery, pull requests merged in 2021-03, with the labels that each got.

#2463 [mesheryctl] Added adapters flag
  mesheryctl/internal/cli/root/system/context/create.go
Labels: component/mesheryctl

#2497 [mesheryctl] platform: kubernetes support for `system stop` command
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#2505 [mesheryctl] added update prompt
  mesheryctl/internal/cli/root/root.go
Labels: component/mesheryctl

#2492 reverted to graphql resolvers
  cmd/main.go
  go.mod
  go.sum
  handlers/handler_instance.go
  handlers/mesh_ops_handlers.go
  handlers/operator.go
  handlers/session_sync_handler.go
  helpers/kubernetes.go
  internal/graphql/generated/generated.go
  internal/graphql/graphql.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/addons.go
  internal/graphql/resolver/control-plane.go
  internal/graphql/resolver/error.go
  internal/graphql/resolver/helper.go
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/operator.go
  internal/graphql/resolver/resolver.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphqls
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/pkg/utils/helpers.go
  models/default_local_provider.go
  models/providers.go
  models/remote_provider.go
  provider-ui/package-lock.json
  ui/components/DashboardComponent.js
  ui/components/MeshConfigComponent.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/graphql/mutations/AddonStatusMutation.js
  ui/components/graphql/mutations/OperatorStatusMutation.js
  ui/components/graphql/mutations/__generated__/AddonStatusMutation.graphql.js
  ui/components/graphql/mutations/__generated__/OperatorStatusMutation.graphql.js
  ui/components/graphql/queries/AddonsStatusQuery.js
  ui/components/graphql/queries/ControlPlanesQuery.js
  ui/components/graphql/queries/OperatorStatusQuery.js
  ui/components/graphql/queries/__generated__/AddonsStatusQuery.graphql.js
  ui/components/graphql/queries/__generated__/ControlPlanesQuery.graphql.js
  ui/components/graphql/queries/__generated__/OperatorStatusQuery.graphql.js
  ui/components/graphql/queries/meshScan.js
  ui/components/graphql/subscriptions/AddonStatusSubscription.js
  ui/components/graphql/subscriptions/ControlPlaneSubscription.js
  ui/components/graphql/subscriptions/MeshSyncStatusSubscription.js
  ui/components/graphql/subscriptions/OperatorStatusSubscription.js
  ui/components/graphql/subscriptions/__generated__/AddonStatusSubscription.graphql.js
  ui/components/graphql/subscriptions/__generated__/ControlPlaneSubscription.graphql.js
  ui/components/graphql/subscriptions/__generated__/MeshSyncStatusSubscription.graphql.js
  ui/components/graphql/subscriptions/__generated__/OperatorStatusSubscription.graphql.js
  ui/components/graphql/subscriptions/meshScanSubscription.js
  ui/package-lock.json
Labels: component/meshsync

#2513 [mesheryctl] Modified system config command to use go-client
  mesheryctl/internal/cli/root/system/config.go
Labels: component/mesheryctl

#2548 adding mesheryctl commands doc template
  docs/pages/reference/mesheryctl/commands/mesheryctl_command_template.md
Labels: area/docs

#2466 [CI][Integration] Cypress Testing for the "Service Mesh" configuration
  ui/components/MeshAdapterConfigComponent.js
  ui/cypress/fixtures/getMeshAdapters.json
  ui/cypress/fixtures/postMeshManage.json
  ui/cypress/integration/integration/settings_spec.js
Labels: area/ci

#2559 [mesheryctl] Add --platform flag to `system context create` to support platform: kubernetes
  mesheryctl/internal/cli/root/system/context/create.go
Labels: component/mesheryctl

#2550 [mesheryctl] platform: kubernetes support for `system status` command
  go.mod
  go.sum
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#2554 [meshery] Changes to meshery bash script for better user experience
  meshery
Labels: component/mesheryctl

#2564 [Bug Fix] Minor fix for Relay 11.0.0
  ui/components/DashboardComponent.js
  ui/components/MeshConfigComponent.js
  ui/components/MesheryAdapterPlayComponent.js
Labels: kind/bug

#2563 [mesheryctl] consistent formatting of client and server version
  mesheryctl/internal/cli/root/version.go
Labels: component/mesheryctl

#2560 [mesheryctl] system reset platform(kubernetes) aware, refactoring
  mesheryctl/internal/cli/root/system/config.go
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/internal/cli/root/system/system.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#2549 Add support for performance profiles
  cmd/main.go
  handlers/fetch_results_handler.go
  handlers/load_test_handler.go
  handlers/meshery_pattern_handler.go
  handlers/performance_profiles_handler.go
  handlers/schedule_handlers.go
  models/bitcask_performance_profiles_persister.go
  models/bitcask_results_persister.go
  models/default_local_provider.go
  models/handlers.go
  models/load-test.go
  models/performance_profiles.go
  models/providers.go
  models/remote_provider.go
  models/schedule.go
  router/server.go
  ui/components/FlipCard.js
  ui/components/GenericModal.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryChart.js
  ui/components/MesheryMetrics.js
  ui/components/MesheryPerformance/Dashboard.js
  ui/components/MesheryPerformance/PerformanceCalendar.js
  ui/components/MesheryPerformance/PerformanceCard.js
  ui/components/MesheryPerformance/PerformanceProfileGrid.js
  ui/components/MesheryPerformance/PerformanceProfileTable.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesheryPerformance/PerformanceResults.js
  ui/components/MesheryPerformance/index.js
  ui/components/MesheryPerformanceComponent.js
  ui/components/MesheryResults.js
  ui/components/Navigator.js
  ui/components/NavigatorExtension.js
  ui/components/load-test-timer-dialog.js
  ui/next.config.js
  ui/package-lock.json
  ui/package.json
  ui/pages/performance/index.js
  ui/pages/performance/profiles.js
  ui/pages/performance/results.js
  ui/pages/results.js
Labels: area/performance

#2567 [GH Issue Template] Add issue template for mesheryctl and edit mesheryctl README
  .github/ISSUE_TEMPLATE/component_mesheryctl.md
  mesheryctl/README.md
Labels: area/devops, kind/chore

#2568 [CI] Conditional CI for mesheryctl
  .github/workflows/ci.yml
  .github/workflows/mesheryctl-ci.yml
Labels: area/ci

#2585 changes meshery service port
  install/deployment_yamls/k8s/meshery-service.yaml
  install/kubernetes/helm/meshery/values.yaml
Labels: area/devops, area/lifecycle

#2592 [mesheryctl] platform: kubernetes support for `mesheryctl system logs` command
  mesheryctl/internal/cli/root/system/logs.go
Labels: component/mesheryctl

#2583 [WIP] Added version check for config.yaml
  mesheryctl/internal/cli/root/config/config.go
Labels: component/mesheryctl

#2602 bug fix for mesheryctl auto redireect
  mesheryctl/internal/cli/root/system/context/create.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl
