Repository meshery/meshery, pull requests merged in 2021-08, with the labels that each got.

#3689 Added SSE client for CLI to wait for operation to end
  mesheryctl/internal/cli/root/mesh/deploy.go
  mesheryctl/internal/cli/root/mesh/validate.go
  mesheryctl/pkg/utils/sse-client.go
Labels: component/mesheryctl

#3772 Delete extra golden file in testdata
  mesheryctl/internal/cli/root/system/context/testdata/createContext.golden 
Labels: component/mesheryctl

#3775 MeshSync DB fix
  internal/graphql/model/control_plane_helper.go
  internal/graphql/model/helpers.go
  internal/graphql/resolver/addons.go
  internal/graphql/resolver/control-plane.go
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/resolver.go
Labels: component/database, framework/graphql

#3757 updated the contributing docs
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#3698 Added MeshSync Chip, Snackbar and Toolbar
  ui/components/MeshConfigComponent.js
  ui/public/static/img/meshsync.svg
Labels: component/ui

#3687 Added a save icon in the save button
  ui/components/MesheryPerformance/index.js
  ui/components/MesherySettingsPerformanceComponent.js
Labels: component/ui, issue/remind

#3643 Open API docs for application endpoint
  handlers/doc.go
  handlers/meshery_application_handler.go
  handlers/oam_handler.go
Labels: component/api

#3789 [meshery] changes to installer script for missing utilities
  meshery
Labels: component/mesheryctl, area/lifecycle

#3786 [mesheryctl] Delete older application command
  mesheryctl/internal/cli/root/application/apply.go
  mesheryctl/internal/cli/root/application/delete.go
  mesheryctl/internal/cli/root/application/list.go
  mesheryctl/internal/cli/root/application/pattern.go
  mesheryctl/internal/cli/root/application/view.go
  mesheryctl/internal/cli/root/experimental/experimental.go
Labels: component/mesheryctl

#3788 Changed docker compose default location
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#3783 [GraphQL] Query Performance fetch all results based on Performance Profile ID
  go.sum
  handlers/fetch_results_handler.go
  internal/graphql/generated/generated.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/performance.go
  internal/graphql/resolver/resolver.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
  models/default_local_provider.go
  models/load-test.go
  models/providers.go
  models/remote_provider.go
Labels: framework/graphql

#3773 [Docs] Add notes to fix Ruby version problems in Meshery docs
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#3779 [UI] Meshery Navigator Menu Re-iteration
  ui/components/Navigator.js
Labels: component/ui, framework/react

#3737 [mesheryctl] Unit Tests for `system token`
  mesheryctl/internal/cli/root/system/context/context_test.go
  mesheryctl/internal/cli/root/system/testdata/token/create.golden
  mesheryctl/internal/cli/root/system/testdata/token/create.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_default.golden
  mesheryctl/internal/cli/root/system/testdata/token/create_default.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_err.golden
  mesheryctl/internal/cli/root/system/testdata/token/create_err.yaml
  mesheryctl/internal/cli/root/system/testdata/token/delete.golden
  mesheryctl/internal/cli/root/system/testdata/token/delete_default.golden
  mesheryctl/internal/cli/root/system/testdata/token/delete_default.yaml
  mesheryctl/internal/cli/root/system/testdata/token/delete_err.golden
  mesheryctl/internal/cli/root/system/testdata/token/delete_err.yaml
  mesheryctl/internal/cli/root/system/testdata/token/list.golden
  mesheryctl/internal/cli/root/system/testdata/token/list.yaml
  mesheryctl/internal/cli/root/system/testdata/token/list_err.golden
  mesheryctl/internal/cli/root/system/testdata/token/set.golden
  mesheryctl/internal/cli/root/system/testdata/token/set.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set_default.golden
  mesheryctl/internal/cli/root/system/testdata/token/set_default.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set_err.golden
  mesheryctl/internal/cli/root/system/testdata/token/set_err.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set_reset.yaml
  mesheryctl/internal/cli/root/system/testdata/token/view.golden
  mesheryctl/internal/cli/root/system/testdata/token/view.yaml
  mesheryctl/internal/cli/root/system/testdata/token/view_err.golden
  mesheryctl/internal/cli/root/system/token.go
  mesheryctl/internal/cli/root/system/token_test.go
  mesheryctl/pkg/utils/testing.go
Labels: component/mesheryctl

#3714 [mesheryctl] Tests for `mesheryctl pattern` commands
  mesheryctl/internal/cli/root/pattern/fixtures/list.pattern.api.response.golden
  mesheryctl/internal/cli/root/pattern/fixtures/list.pattern.local.api.response.golden
  mesheryctl/internal/cli/root/pattern/fixtures/local.token.golden
  mesheryctl/internal/cli/root/pattern/fixtures/token.golden
  mesheryctl/internal/cli/root/pattern/fixtures/view.pattern.api.response.golden
  mesheryctl/internal/cli/root/pattern/list_test.go
  mesheryctl/internal/cli/root/pattern/testdata/list.pattern.local.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/list.pattern.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/view.pattern.output.golden
  mesheryctl/internal/cli/root/pattern/view_test.go
  mesheryctl/pkg/utils/testing.go
  models/meshery_patterns_api_response.go
Labels: component/mesheryctl, area/tests

#3498 Added custom context support in installer
  meshery
Labels: component/mesheryctl, area/lifecycle

#3809 Fix Data Fetch and Logic from the server causing problems with pattern deployment
  ui/components/MesheryPatterns.js
  ui/lib/data-fetch.js
Labels: component/patterns

#3808 made changes to the performance calender
  ui/components/MesheryPerformance/Dashboard.js
Labels: area/performance

#3801 [DashboardComponent] Changes settings button styling in notification bar
  ui/components/DashboardComponent.js
Labels: component/ui

#3794 fixed the chevron problem
  ui/components/Navigator.js
Labels: component/ui

#3704 Add lint pre-commit check with husky
  ui/.husky/pre-commit
  ui/package.json
Labels: area/ci, component/ui

#3707 [mesheryctl] Fix for `mesheryctl start` platform preflight checks
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/internal/cli/root/system/error.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/system_test.go
Labels: component/mesheryctl, area/ux

#3785 [GraphQL] Performance API - Integration frontend react relay
  ui/components/MesheryPerformance/PerformanceResults.js
  ui/components/graphql/queries/PerformanceResultQuery.js
  ui/components/graphql/queries/__generated__/PerformanceResultQuery.graphql.js
Labels: area/performance, component/ui, framework/graphql

#3805 Refactor Patterns and add some features
  cmd/main.go
  go.mod
  go.sum
  handlers/meshery_pattern_handler.go
  handlers/oam_handler.go
  internal/store/store.go
  internal/store/store_test.go
  internal/store/thread_safe_store.go
  models/default_local_provider.go
  models/pattern/core/pattern.go
  models/pattern/core/register.go
  models/pattern/patterns/application/application.go
  models/pattern/patterns/application/argo.go
  models/pattern/patterns/application/engine.go
  models/pattern/patterns/k8s/service/service.go
  models/pattern/patterns/patterns.go
  models/pattern/planner/graph.go
  models/pattern/planner/graph_test.go
  models/pattern/planner/parallel_process.go
  models/pattern/planner/planner.go
  models/pattern/planner/queue.go
  models/pattern/resource/selector/selector.go
  models/pattern/resource/selector/trait.go
  models/pattern/resource/selector/workload.go
  models/pattern/stages/chain.go
  models/pattern/stages/filler.go
  models/pattern/stages/filler_test.go
  models/pattern/stages/persist.go
  models/pattern/stages/provision.go
  models/pattern/stages/service_identifier.go
  models/pattern/stages/svc_provider.go
  models/pattern/stages/validate.go
  models/pattern/utils.go
  models/pattern/utils/utils.go
  models/pattern/validate.go
  models/providers.go
  models/remote_provider.go
  oam/traits/meshmap.meshery.layer5.io.schema.json
  oam/workloads/application.meshery.layer5.io.schema.json
  oam/workloads/application_definition.json
  oam/workloads/service.k8s.meshery.layer5.io.schema.json
  oam/workloads/service.k8s_definition.json
  provider-ui/package-lock.json
  ui/package-lock.json
Labels: component/patterns

#3817 [WIP] Updating operator docs
  docs/pages/guides/upgrade.md
  mesheryctl/internal/cli/root/system/update.go
Labels: area/docs, component/mesheryctl

#3818 Fix broken links in Docs #3764
  docs/pages/functionality/patterns.md
  docs/pages/installation/kubernetes.md
Labels: area/docs

#3843 [mesheryctl] Fixing `mesheryctl filter` command
  mesheryctl/internal/cli/root/filter/apply.go
  mesheryctl/internal/cli/root/filter/filter.go
  mesheryctl/internal/cli/root/filter/list.go
  mesheryctl/internal/cli/root/filter/view.go
  models/meshery_filter_api_response.go
Labels: kind/enhancement, component/mesheryctl, component/filters

#3852 [meshery] Shifting `/application/` endpoints from "experimental"
  handlers/meshery_application_handler.go
  mesheryctl/internal/cli/root/app/list.go
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/onboard.go
  mesheryctl/internal/cli/root/app/view.go
  router/server.go
  ui/components/MesheryApplications.js
Labels: area/workloads, component/api

#3850 [mesheryctl] fix bugs in `mesheryctl mesh` sub commands
  mesheryctl/internal/cli/root/mesh/deploy.go
  mesheryctl/internal/cli/root/mesh/validate.go
Labels: component/mesheryctl, area/lifecycle

#3858 Added the unit test for mesheryctl system restart command
  mesheryctl/internal/cli/root/system/system_test.go
Labels: component/mesheryctl

#3864 [mesheryctl] exit codes in mesh validate sub commands
  mesheryctl/internal/cli/root/mesh/deploy.go
  mesheryctl/internal/cli/root/mesh/error.go
  mesheryctl/internal/cli/root/mesh/validate.go
  mesheryctl/pkg/utils/sse-client.go
Labels: component/mesheryctl

#3851 Quick refactor
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#3814 [mesheryctl] Unit Tests for `mesheryctl app`
  mesheryctl/internal/cli/root/app/fixtures/list.application.api.response.golden
  mesheryctl/internal/cli/root/app/fixtures/offboard.response.golden
  mesheryctl/internal/cli/root/app/fixtures/onboard.applicationSave.response.golden
  mesheryctl/internal/cli/root/app/fixtures/onboard.applicationdeploy.response.golden
  mesheryctl/internal/cli/root/app/fixtures/sampleApp.golden
  mesheryctl/internal/cli/root/app/fixtures/token.golden
  mesheryctl/internal/cli/root/app/fixtures/view.application.api.response.golden
  mesheryctl/internal/cli/root/app/fixtures/view.applicationName.api.response.golden
  mesheryctl/internal/cli/root/app/fixtures/view.applicationid.api.response.golden
  mesheryctl/internal/cli/root/app/fixtures/view.invalid.application.api.response.golden
  mesheryctl/internal/cli/root/app/list_test.go
  mesheryctl/internal/cli/root/app/offboard_test.go
  mesheryctl/internal/cli/root/app/onboard_test.go
  mesheryctl/internal/cli/root/app/testdata/list.application.output.golden
  mesheryctl/internal/cli/root/app/testdata/no.token.golden
  mesheryctl/internal/cli/root/app/testdata/offboard.output.golden
  mesheryctl/internal/cli/root/app/testdata/onboard.output.golden
  mesheryctl/internal/cli/root/app/testdata/view.application.output.golden
  mesheryctl/internal/cli/root/app/testdata/view.applicationName.output.golden
  mesheryctl/internal/cli/root/app/testdata/view.applicationid.output.golden
  mesheryctl/internal/cli/root/app/testdata/view.invalid.application.output.golden
  mesheryctl/internal/cli/root/app/view_test.go
Labels: component/mesheryctl

#3861 [mesheryctl] added test for view and list
  mesheryctl/internal/cli/root/filter/fixtures/list.filter.api.response.golden
  mesheryctl/internal/cli/root/filter/fixtures/token.golden
  mesheryctl/internal/cli/root/filter/fixtures/view.filter.api.response.golden
  mesheryctl/internal/cli/root/filter/fixtures/view.id.filter.api.response.golden
  mesheryctl/internal/cli/root/filter/fixtures/view.nonexisting.filter.api.response.golden
  mesheryctl/internal/cli/root/filter/list_test.go
  mesheryctl/internal/cli/root/filter/testdata/list.filter.output.golden
  mesheryctl/internal/cli/root/filter/testdata/view.filter.output.golden
  mesheryctl/internal/cli/root/filter/testdata/view.id.filter.output.golden
  mesheryctl/internal/cli/root/filter/testdata/view.nonexisting.filter.output.golden
  mesheryctl/internal/cli/root/filter/view_test.go
Labels: component/mesheryctl

#3784 [UI] Updates RJSF Styling for Extension Point
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/index.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
  ui/components/MesheryMeshInterface/index.js
Labels: component/ui, component/extensions

#3865 Add SMI Conformance Docs
  docs/_data/toc.yml
  docs/assets/img/smi/dashboard.png
  docs/assets/img/smi/download-token.png
  docs/assets/img/smi/istio-dashboard.png
  docs/assets/img/smi/smi-conformance-page.png
  docs/assets/img/smi/smi-conformance-result.png
  docs/assets/img/smi/smi-conformance-run.png
  docs/pages/functionality/service-mesh-interface.md
  docs/pages/guides/smi-conformance.md
Labels: area/docs, area/tests

#3882 [UI] Meshery Operator and MeshSync Chips overlapped fixed
  ui/components/MeshConfigComponent.js
Labels: component/ui

#3907 [Documentation] Fixed broken GitHub link
  docs/_layouts/release.html
Labels: area/docs

#3906 Fix typo in the spanish documentation
  docs/pages/es/installation/index.md
Labels: area/docs

#3911 [UI] [Pattern + Application] Delete operation (single select)
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
Labels: component/ui, component/patterns

#3909 Added the unit test for mesheryctl system update command
  mesheryctl/internal/cli/root/system/system_test.go
Labels: component/mesheryctl, area/tests

#3883 [mesheryctl] started writing tests for utils
  mesheryctl/pkg/utils/fixtures/listmanifest.api.err.response.golden
  mesheryctl/pkg/utils/fixtures/listmanifest.api.response.golden
  mesheryctl/pkg/utils/fixtures/manifesturl.api.response.golden
  mesheryctl/pkg/utils/fixtures/manifesturl.empty.api.response.golden
  mesheryctl/pkg/utils/fixtures/manifesturl.err.api.response.golden
  mesheryctl/pkg/utils/fixtures/manifesturl.latest.api.response.golden
  mesheryctl/pkg/utils/healthcheck_test.go
  mesheryctl/pkg/utils/testdata/listmanifest.expect.err.golden
  mesheryctl/pkg/utils/testdata/listmanifest.expect.golden
  mesheryctl/pkg/utils/testdata/manifesturl.expect.golden
  mesheryctl/pkg/utils/testdata/manifesturl.out.err.golden
  mesheryctl/pkg/utils/testdata/manifesturl.out.latest.golden
  mesheryctl/pkg/utils/testdata/manifesturlempty.out.err.golden
  mesheryctl/pkg/utils/utils_test.go
Labels: component/mesheryctl

#3922 [UI] fix formatting of string
  ui/components/DashboardComponent.js
  ui/components/GrafanaComponent.js
  ui/components/MeshConfigComponent.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/Accordion.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ArrayFieldTemlate.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
  ui/components/MesherySnackbarWrapper.js
  ui/components/PrometheusComponent.js
  ui/components/UserPreferences.js
Labels: component/ui

#3928 [UI] Fix 'Error communicating with Prometheus' error
  ui/components/PrometheusComponent.js
Labels: area/performance, component/ui

#3887 [UI] Filters delete files(single select)
  ui/components/Filters.js
Labels: component/ui, component/filters

#3926 Fixed the swagger workflow error
  .github/workflows/ci.yml
  .github/workflows/swagger.yml
Labels: area/ci, component/api

#3924 Shifting `/filter/` endpoints out of experiment
  handlers/meshery_filter_handler.go
  mesheryctl/internal/cli/root/filter/apply.go
  mesheryctl/internal/cli/root/filter/delete.go
  mesheryctl/internal/cli/root/filter/list.go
  mesheryctl/internal/cli/root/filter/list_test.go
  mesheryctl/internal/cli/root/filter/view.go
  mesheryctl/internal/cli/root/filter/view_test.go
  router/server.go
  ui/components/Filters.js
Labels: component/api

#3869 Support minikube out of the box and multi k8s context support
  docker-compose.yaml
  handlers/error.go
  handlers/k8sconfig_handler.go
  helpers/helpers.go
  models/preference.go
Labels: area/lifecycle, component/server

#3857 [mesheryctl] Reworking of `filter apply` command.
  mesheryctl/internal/cli/root/app/onboard.go
  mesheryctl/internal/cli/root/filter/apply.go
  mesheryctl/internal/cli/root/filter/error.go
Labels: component/mesheryctl, component/filters

#3925 Patterns: Add OAM patterns with RJSF form on every pattern column
  ui/components/Filters.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/index.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
  ui/components/MesheryPatterns.js
  ui/pages/configuration/patterns.js
Labels: component/ui, component/patterns

#3880 [WIP] Cached manifests for skip update flag in Kubernetes
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#3838 [UI] Dashboard: Added Hyperlink to Release Notes
  ui/components/DashboardComponent.js
Labels: component/ui

#3888 [UI] Import using URL added in filters
  ui/components/Filters.js
  ui/components/MesheryPerformance/index.js
  ui/components/URLUploader.js
  ui/utils/URLValidator.js
Labels: component/ui, component/filters

#3949 fixed the kuma-error-codes generation in docs
  docs/_data/errorref/linkerd_errors_export.json
  docs/pages/reference/error-codes.md
Labels: area/docs

#3963 Metrics window
  ui/components/ConnectionWizard/ConfigComponents/Metrics.js
Labels: area/performance, component/ui

#3956 [UI] add mapper to podname and version
  ui/components/DashboardComponent.js
  ui/utils/nameMapper.js
Labels: language/javascript, component/ui, framework/react

#3948 removed installing mesheryctl from FAQ subheading
  docs/_data/toc.yml
Labels: area/docs

#3964 Added hover to Configuration and Conformance
  ui/components/Navigator.js
Labels: component/ui

#3979 [UI] Fixed Overlay cards in Meshery Performance
  ui/components/MesheryPerformance/Dashboard.js
Labels: component/ui

#4026 [UI] dashboard bug - check types for meshScan
  ui/components/DashboardComponent.js
Labels: kind/bug, language/javascript

#4008 [CI] prevent upload to codecov on forks
  .github/workflows/go-testing-ci.yml
Labels: area/ci

#4029 [UI] add default podname mapper
  ui/utils/nameMapper.js
Labels: language/javascript, component/ui

#4031 Limited Calls to ValidateVersion
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/system/channel.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/internal/cli/root/version.go
Labels: component/mesheryctl

#4030 [UI]fixed the overflowing RJSF form
  ui/components/MesheryMeshInterface/PatternServiceForm.js
Labels: component/ui

#4032 [UI] fix continuous subscription initialization
  ui/components/graphql/subscriptions/ServiceMeshSubscription.js
Labels: kind/bug, language/javascript, framework/graphql

#4011 [UI] [Connection Wizard] Use black and white image for meshery logo in adapters page
  ui/components/ConnectionWizard/ScrollIndicator.js
  ui/components/ConnectionWizard/index.js
Labels: component/ui

#4016 [UI] [Connection Wizard] Add 'Configuration Done' step
  ui/components/ConnectionWizard/Screens/CompletionScreen.js
  ui/components/ConnectionWizard/index.js
Labels: component/ui, area/lifecycle, area/ux

#4036 [chore] Minor chore
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#4006 update in meshery-chart title format
  ui/lib/chartjs-formatter.js
Labels: component/ui

#3271 [<Navigator/>]: Navigation highlight fix on subsections under Management section
  ui/components/Navigator.js
Labels: component/ui, pr/do-not-merge
