Repository meshery/meshery, pull requests merged in 2021-12, with the labels that each got.

#4682 [Chore] Patterns: Swap dryrun with verify action on deploy endpoint
  handlers/oam_handler.go
Labels: component/api

#4596 Added some global components
  provider-ui/package.json
  provider-ui/ui_dev_server.js
  ui/components/AppBar.js
  ui/components/Button.js
  ui/components/DataTable.js
  ui/components/LoadingSpinner.js
  ui/components/Notification.js
  ui/features/mesheryEnvironment/components/KubernetesCluster/KubernetesClusterChip.js
  ui/package.json
  ui/pages/_app.js
  ui/pages/index.js
  ui/styles/colors.js
  ui/ui_dev_server.js
Labels: ui-refactor

#4678 [meshery] Fetch single SMI Result from both providers
  handlers/fetch_results_handler.go
  models/default_local_provider.go
  models/handlers.go
  models/providers.go
  models/remote_provider.go
  models/smiresults_persister.go
  router/server.go
Labels: component/api, kind/feature, component/server

#4624 Avoid throwing seeding errors when meshery is run locally
  Makefile
  cmd/main.go
  go.sum
  handlers/k8sconfig_handler.go
  install/apps.json
  models/default_local_provider.go
  models/error.go
Labels: component/applications

#4708 [UI] Navigator style bug fix
  ui/components/Navigator.js
Labels: component/ui

#4375 refractor: add enum for file operations among patterns, filters and apps
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/utils/configurationFileHandlersEnum.js
Labels: component/ui, ui-refactor

#4706 [Extension] Dependency injection resolver and fix meshsync event subscription resolver
  internal/graphql/resolver/meshsync.go
  ui/components/NavigatorExtension.js
  ui/package.json
Labels: component/ui, component/meshsync

#4713 Navigator Chevron Cursor Fix
  ui/components/Navigator.js
Labels: component/ui

#4720 [meshery-ui_bug.md] Fixed broken link
  .github/ISSUE_TEMPLATE/meshery-ui_bug.md
Labels: area/ci

#4710 Run tests under same performance profile if it is already present
  docs/_data/mesheryctlcommands/cmds.yml
  docs/pages/guides/performance-management.md
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/apply_test.go
  mesheryctl/internal/cli/root/perf/perf.go
  mesheryctl/internal/cli/root/perf/testdata/apply/1006.golden
Labels: area/docs, component/mesheryctl

#4651 Shubham tyagi/feature update spanish home and pages
  docs/_data/mesheryctlcommands/es_cmds.yml
  docs/pages/concepts/architecture/broker.md
  docs/pages/es/404.md
  docs/pages/es/archive.md
  docs/pages/es/concepts/architecture/architecture.md
  docs/pages/es/concepts/architecture/broker.md
  docs/pages/es/concepts/architecture/operator.md
  docs/pages/es/concepts/architecture/service-meshes/adapters.md
  docs/pages/es/concepts/architecture/service-meshes/index.md
  docs/pages/es/extensibility/adapters.md
  docs/pages/es/extensibility/api.md
  docs/pages/es/extensibility/extensibility.md
  docs/pages/es/extensibility/load-generators.md
  docs/pages/es/extensibility/providers.md
  docs/pages/es/functionality/index.md
  docs/pages/es/functionality/management.md
  docs/pages/es/functionality/performance.md
  docs/pages/es/functionality/smi-conformance.md
  docs/pages/es/getting-started/news.md
  docs/pages/es/getting-started/overview.md
  docs/pages/es/guides/index.md
  docs/pages/es/guides/interpreting-performance-test-results.md
  docs/pages/es/guides/meshery-metrics.md
  docs/pages/es/guides/multiple-of-the-same-adapter.md
  docs/pages/es/guides/sample-apps.md
  docs/pages/es/guides/upgrade.md
  docs/pages/es/index.md
  docs/pages/es/installation/eks.md
  docs/pages/es/installation/index.md
  docs/pages/es/installation/platforms.md
  docs/pages/es/installation/windows.md
  docs/pages/es/overview.md
  docs/pages/es/project/CONTRIBUTING-gitflow.md
  docs/pages/es/project/FAQ.md
  docs/pages/es/project/ci-build-and-release.md
  docs/pages/es/project/contributing.md
  docs/pages/es/project/contributing/contributing-docs.md
  docs/pages/es/project/index.md
  docs/pages/es/project/releases.md
  docs/pages/es/project/security-vulnerabilities.md
  docs/pages/es/reference/index.md
  docs/pages/es/reference/mesheryctl-commands.md
Labels: area/docs

#4736 Avoid dumping logs in case of dry run
  handlers/content_modifier.go
  handlers/oam_handler.go
  models/pattern/stages/filler.go
  models/pattern/stages/filler_test.go
Labels: component/patterns

#4740 Added check for JSON input for Prometheus metrices
  ui/components/Navigator.js
  ui/components/PrometheusSelectionComponent.js
Labels: component/ui

#4689 [Broker] Broker connection GraphQL subscription
  internal/graphql/generated/generated.go
  internal/graphql/resolver/broker.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
Labels: component/meshsync, language/go

#4745 [ Meshmap-Visualizer ] Removed empty state of metrics and added Prometheus fetch
  ui/components/GrafanaCustomChart.js
  ui/components/NavigatorExtension.js
  ui/remote-component.config.js
Labels: component/ui

#4748 [UI] Added Big Number component
  ui/components/BigNumber/index.js
Labels: ui-refactor

#4747 [Chore] Add lint fix files and git add to the lint-staged command stack
  ui/package.json
Labels: component/ui

#4735 Aligned list item profile text and icon
  ui/components/Navigator.js
Labels: component/ui

#4739 Fix chevron visibility
  ui/components/Navigator.js
Labels: component/ui

#4757 Add pointer cursor on hovering over release version link
  ui/components/Navigator.js
Labels: component/ui, area/ux

#4761 Added responsive navbar
  ui/components/Header/Header.styles.js
  ui/components/Layout/Layout.js
  ui/components/Navbar/Navbar.js
Labels: language/javascript, framework/react

#4727 [UI] Create custom error page
  ui/components/ErrorPage.js
  ui/pages/404.js
  ui/public/static/img/service-mesh.svg
Labels: component/ui

#4759 Move svg files to assets and update links on doc
  docs/_adapters/nsm/nsm.md
  docs/assets/img/adapters/nsm/icmp-responder-example-2.svg
  docs/assets/img/adapters/nsm/icmp-responder-example.svg
  docs/assets/img/adapters/nsm/vpp-icmp-responder-example-2.svg
  docs/assets/img/adapters/nsm/vpp-icmp-responder-example.svg
Labels: area/docs

#4758 Add link to contributing page for es (Spanish) version of the docs
  docs/pages/es/index.md
Labels: area/docs

#4763 [UI/Provider] fix provider selection/click being ignored sometimes and add progress bar
  provider-ui/components/ProviderComponent.js
Labels: component/ui

#4754 [Docs] Added 2 Errors faced and fixes while running Meshery
  docs/pages/reference/troubleshooting/running.md
Labels: area/docs

#4679 [mesheryctl] `dashboard` fetches meshery endpoint for k8s
  mesheryctl/internal/cli/root/system/dashboard.go
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#4756 Added newcomers-alert workflow
  .github/workflows/newcomers-alert.yml
Labels: area/ci, issue/dco

#4765 solved the issue of duplicate statements on contributing.md
  docs/_includes/suggested-reading.html
  docs/pages/es/project/contributing/contributing-docs.md
  docs/pages/project/contributing/contributing-guidelines.md
  docs/pages/project/contributing/contributing.md
Labels: area/docs

#4770 fixed chevron issue
  ui/components/Navigator.js
Labels: component/ui

#4772 [Rjsf] Format/Change RJSF Form components
  ui/components/MesheryMeshInterface/PatternService/EnlargedTextTooltip.js
  ui/components/MesheryMeshInterface/PatternService/HelpOutlineIcon.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ArrayFieldTemlate.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/components/MesheryMeshInterface/helpers.js
  ui/package-lock.json
  ui/utils/utils.js
Labels: component/ui, component/patterns

#4732 [Dependency] MeshKit v0.2.35
  go.mod
  go.sum
  provider-ui/package-lock.json
  ui/package-lock.json
Labels: component/ui

#4779 Docs: add docs for meshery-cilium
  docs/_adapters/cilium.md
  docs/assets/img/service-meshes/cilium.svg
Labels: area/docs

#4780 [CI] Goreleaser upgrade
  .github/workflows/build-and-release.yml
Labels: component/mesheryctl, area/ci

#4751 Improve error message when kubernetes cluster is not available or the token is invalid.
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/internal/cli/root/system/error.go
Labels: component/mesheryctl

#4790 Removing Extra Copy Icon in Scoop Installation Guide
  docs/pages/installation/scoop.md
Labels: area/docs

#4788 removed extra padding causing overflow
  ui/components/Navigator.js
Labels: component/ui

#4786 Change core workflow for e2e adapter tests
  .github/workflows/testadapters.yaml
Labels: area/ci

#4776 Add calendar component
  ui/components/Calendar.js
  ui/package.json
  ui/yarn.lock
Labels: ui-refactor

#4781 updated the helm command and instructions
  docs/pages/installation/aks.md
Labels: area/docs

#4795 poll and wait to avoid exiting with error in e2e workflow
  .github/workflows/testadapters.yaml
Labels: area/ci

#4800 Remove demo table
  docs/_compatibility/meshery-istio/12-15-21_302eb8e.md
  docs/_compatibility/meshery-istio/12-16-21_721b787.md
Labels: area/docs

#4774 [Fix/Feature] Pattern Configurator From #4769
  models/pattern/patterns/application/argo.go
  models/pattern/patterns/application/engine.go
  oam/workloads/application.meshery.layer5.io.schema.json
  ui/components/MesheryMeshInterface/LazyPatternServiceForm.js
  ui/components/MesheryMeshInterface/PatternService/Switch.js
  ui/components/MesheryMeshInterface/PatternService/index.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
  ui/components/MesheryMeshInterface/PatternServiceFormCore.js
  ui/components/MesheryMeshInterface/helpers.js
  ui/components/MesheryPatterns.js
  ui/components/configuratorComponents/patternConfigurator.js
  ui/utils/context/schemaSet.js
  ui/utils/workloadFilter.js
Labels: component/ui, component/patterns

#4769 [Fix/Feature] Pattern Configurator
  models/pattern/patterns/application/argo.go
  models/pattern/patterns/application/engine.go
  oam/workloads/application.meshery.layer5.io.schema.json
  ui/components/MesheryMeshInterface/helpers.js
  ui/components/MesheryPatterns.js
  ui/components/configuratorComponents/patternConfigurator.js
  ui/utils/workloadFilter.js
Labels: component/ui, component/patterns

#4799 added guide to version docs
  docs/assets/img/versioning-guide/commit-ID.png
  docs/assets/img/versioning-guide/search-and-replace.png
  docs/pages/project/ci-build-and-release.md
Labels: area/docs

#4801 Update e2e workflow to be broader in scope
  .github/integration-test-config.yaml
  .github/workflows/mesheryctl-e2e.yaml
  .github/workflows/multiversionk8s-e2e.yaml
Labels: area/ci

#4798 Default to provided adapter without prompting the user
  mesheryctl/internal/cli/root/mesh/deploy.go
Labels: component/mesheryctl

#4649 [security] fix CVE with image spec
  go.mod
  go.sum
Labels: security

#4809 Fix incorrect endpoint in system status
  mesheryctl/internal/cli/root/system/status.go
Labels: component/mesheryctl

#4671 [Meshery] Removed api calls from meshey server
  go.mod
  go.sum
  handlers/error.go
  handlers/server_spec_handler.go
  internal/graphql/model/helpers.go
  mesheryctl/internal/cli/root/system/check.go
Labels: component/mesheryctl

#4815 Increase Polling time in core workflow for e2e tests
  .github/workflows/testadapters.yaml
Labels: area/ci

#4822 [fix/ci]: cypress binary unavailable
  .github/workflows/ci.yml
  ui/package-lock.json
  ui/package.json
Labels: area/ci, component/ui

#4825 fixed the links for the adapters
  docs/pages/reference/error-codes.md
Labels: area/docs

#4821 Handle pattern UI crash
  ui/components/ErrorHandling.js
  ui/components/MesheryMeshInterface/LazyPatternServiceForm.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/configuratorComponents/CodeEditor.js
  ui/components/configuratorComponents/patternConfigurator.js
Labels: component/ui

#4785 Add meshsync status logo in header
  ui/components/Header.js
  ui/public/static/img/meshsync-white.svg
Labels: component/ui, component/meshsync

#4827 added Meshsync status to tooltip
  go.sum
  provider-ui/package-lock.json
  ui/components/Header.js
  ui/package-lock.json
Labels: component/ui

#4730 Fixpossiblepanic
  handlers/extensions.go
Labels: kind/chore, language/go

#4814 [UI] RJSF textfield enhancement
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
Labels: component/extensions, area/ux, component/patterns

#4829 [ Visualizer ] restructuring to visualizer terminal | CU-1wn5nzk | CU-1c5dt1
  ui/remote-component.config.js
Labels: component/ui

#4832 fix : Update update handler function to change the order of arguements
  ui/components/MesheryPatterns.js
Labels: component/ui

#4836 Stop app-mesh from being installed via helm
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#4820 Change naming convention for Matrix markdown files
  docs/_compatibility/meshery-istio/2021-12-20_18-51-22.md
  docs/_compatibility/meshery-istio/2021-12-20_18-52-48.md
  docs/_compatibility/meshery-istio/2021-12-20_18-53-17.md
  docs/_compatibility/meshery-linkerd/2021-12-23_07-19-23.md
  docs/_compatibility/meshery-osm/2021-12-21_10-06-12.md
  docs/_compatibility/meshery-osm/2021-12-21_10-43-20.md
  docs/_compatibility/meshery-osm/2021-12-21_12-41-02.md
  docs/_compatibility/meshery-osm/2021-12-22_20-38-21.md
Labels: area/docs

#4828 Add Loading Spinner Component
  ui/components/SpinnerAnimated.js
  ui/components/SpinnerAnimated.styles.js
  ui/yarn.lock
Labels: component/ui, ui-refactor

#4840 [RJSF] Add title and some styling changes to rjsf components
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/themes/rjsf.js
Labels: component/ui

#4843 minor fix in e2e test
  .github/workflows/testadapters.yaml
Labels: area/ci, area/tests

#4845 [mesheryctl]Add verbose flag in system status
  mesheryctl/internal/cli/root/system/status.go
Labels: component/mesheryctl

#4841 [Docs] Network port clarification
  docs/_adapters/octarine/octarine.md
  docs/pages/concepts/architecture/architecture.md
Labels: area/docs

#4846 Fix failing unit tests in mesheryctl
  mesheryctl/pkg/utils/helpers_test.go
Labels: component/mesheryctl

#4816 [UI] Navigator align fix
  ui/components/Navigator.js
Labels: area/ux
