Repository meshery/meshery, pull requests merged in 2022-09, with the labels that each got.

#6140 Updated the Typo Mistakes ✅
  docs/pages/project/community.md
Labels: area/docs

#6051 [Refractor] Reusable Cards
  ui/components/MesheryCard.js
  ui/public/static/img/patternwhite.svg
Labels: component/ui, ui-refactor

#6158 Design Panel Metrics Changes
  ui/components/GrafanaCustomCharts.js
  ui/components/GrafanaDateRangePicker.js
Labels: component/ui

#6142 Fix whitespacing issue for ALL components
  server/models/pattern/core/register.go
  server/models/pattern/patterns/k8s/k8s.go
Labels: component/server

#6109 [DOCS] Swagger REST API update for Applications
  docs/_data/swagger.yml
  server/handlers/doc.go
  server/handlers/meshery_application_handler.go
  server/helpers/swagger.yaml
Labels: area/docs, component/api

#6007 Adding support to system channel docs
  mesheryctl/internal/cli/root/system/channel.go
Labels: component/mesheryctl

#6170 Remove not relevant and duplicate content
  docs/pages/project/contributing/contributing-adapters.md
Labels: area/docs

#6171 FIx the broken link for General Contribution Flow page
  docs/pages/project/contributing/contributing.md
Labels: area/docs

#6141 [Github/Workflow] res-usable workflow for building ui and server and uploading artifacts
  .github/workflows/build-ui-server-reusable-workflow.yml
Labels: area/ci

#6183 [UI] CatalogFilter btn bug fix
  ui/components/MesheryPatterns.js
Labels: kind/bug, component/ui, area/ux, component/patterns

#6182 [Helm] Preventing meshery-perf and meshery-cpx from installing by default || Fix #6178
  install/kubernetes/helm/meshery-operator/Chart.yaml
  install/kubernetes/helm/meshery-operator/charts/meshery-cpx/Chart.yaml
  install/kubernetes/helm/meshery-operator/charts/meshery-perf/Chart.yaml
  install/kubernetes/helm/meshery/Chart.yaml
  install/kubernetes/helm/meshery/values.yaml
Labels: framework/helm

#6173 Feat: Add Component Generation Capability
  go.mod
  go.sum
  server/handlers/component_generation.go
  server/handlers/error.go
  server/helpers/component_info.json
  server/models/error.go
  server/models/handlers.go
  server/models/package_manager.go
  server/router/server.go
Labels: component/server

#6187 Perform deprettification after validation
  server/models/pattern/stages/validate.go
Labels: component/server

#5661 User Friendly Error msg
  mesheryctl/internal/cli/root/app/app.go
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/onboard.go
  mesheryctl/internal/cli/root/completion.go
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/internal/cli/root/filter/filter.go
  mesheryctl/internal/cli/root/mesh/mesh.go
  mesheryctl/internal/cli/root/pattern/delete.go
  mesheryctl/internal/cli/root/pattern/pattern.go
  mesheryctl/internal/cli/root/perf/perf.go
  mesheryctl/internal/cli/root/perf/perf_test.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/channel.go
  mesheryctl/internal/cli/root/system/config.go
  mesheryctl/internal/cli/root/system/context.go
  mesheryctl/internal/cli/root/system/system.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#6189 Fix failing mesheryctl system context unit tests
  mesheryctl/internal/cli/root/system/context_test.go
Labels: component/mesheryctl

#6179 Added custom loading Animated Spinner
  ui/components/ExtensionSandbox.js
  ui/components/Filters.js
  ui/components/LoadingComponents/AnimatedFilter.js
  ui/components/LoadingComponents/AnimatedMeshPattern.js
  ui/components/LoadingComponents/LoadingComponent.js
  ui/components/LoadingComponents/animatedFilter.css
  ui/components/LoadingComponents/animatedMeshPattern.css
  ui/components/MesheryPatterns.js
  ui/components/NavigatorExtension.js
Labels: component/ui, component/extensions

#6207 [Extension] Dependency: getApp MUI icon
  provider-ui/package-lock.json
  ui/package-lock.json
  ui/remote-component.config.js
Labels: component/ui, component/extensions

#6135 [Cypress] [WIP] Fix E2E and integration Tests for UI
  ui/cypress/integration/e2e/service_mesh_configuration_management_spec.js
  ui/cypress/integration/e2e/userpreference_spec.js
  ui/cypress/integration/integration/configuration_filters_spec.js
  ui/cypress/integration/integration/userpreference_spec.js
  ui/utils/cypress-gql/graphql-test-utils.js
Labels: component/ui, issue/willfix, cypress

#6128 Add share option
  provider-ui/package-lock.json
  ui/components/MesheryChart.js
  ui/components/MesheryPerformance/PerformanceResults.js
  ui/components/MesheryPerformance/assets/facebookIcon.js
  ui/components/MesheryPerformance/assets/linkedinIcon.js
  ui/components/MesheryPerformance/assets/twitterIcon.js
  ui/components/MesherySnackbarWrapper.js
  ui/components/NodeDetails.js
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#6203 Adding websocket port to list of ports - fix for #6200
  docs/pages/concepts/architecture/architecture.md
Labels: area/docs

#6205 Fix inconsistency between K8s context switcher and Settings page
  ui/components/Header.js
Labels: component/ui, component/meshsync

#6213 Fixed Spinner Animation Issues
  ui/components/ExtensionSandbox.js
  ui/components/LoadingComponents/AnimatedMeshSync.js
  ui/components/LoadingComponents/Animations/AnimatedFilter.js
  ui/components/LoadingComponents/Animations/AnimatedMeshPattern.js
  ui/components/LoadingComponents/Animations/AnimatedMeshSync.js
  ui/components/LoadingComponents/Animations/AnimatedMeshery.js
  ui/components/LoadingComponents/Animations/animatedFilter.css
  ui/components/LoadingComponents/Animations/animatedMeshPattern.css
  ui/components/LoadingComponents/Animations/animatedMeshSync.css
  ui/components/LoadingComponents/Animations/animatedMeshery.css
  ui/components/LoadingComponents/LoadingComponent.js
  ui/components/LoadingComponents/animatedMeshPattern.css
  ui/components/LoadingComponents/animatedMeshSync.css
  ui/components/NavigatorExtension.js
Labels: component/ui, component/extensions

#6214 rjsf: expand and collapse object fields templates
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
Labels: component/ui

#6165 chore: Updated titles in all pages for consistency
  ui/components/ExtensionSandbox.js
  ui/components/Navigator.js
  ui/pages/404.js
  ui/pages/extension/[component].js
  ui/pages/extensions.js
  ui/pages/index.js
  ui/pages/management/[mesh].js
  ui/pages/performance/results.js
Labels: component/ui, component/extensions

#6197 [mesheryctl] Lifecycle: Remove use of K8s manifest in `system update`
  mesheryctl/internal/cli/root/system/system_test.go
  mesheryctl/internal/cli/root/system/update.go
Labels: component/mesheryctl

#6195 Remove dry-run
  server/handlers/meshery_pattern_handler.go
  server/internal/graphql/resolver/pattern.go
Labels: component/server

#6166 [Docs] Implementing opengraph protocol
  docs/_includes/head.html
Labels: area/docs

#6219 Avoid addition of whitespacing during de-prettification
  server/models/pattern/patterns/k8s/k8s.go
Labels: component/server

#6217 New Svg for designer drawer
  ui/public/static/img/component-svg/kubernetes/deployment.svg
  ui/public/static/img/component-svg/kubernetes/service.svg
  ui/public/static/img/component-svg/service-mesh/istio_white.svg
Labels: component/ui

#6108 [Refactor]-Filter main page
  ui/components/Filters/MesheryFilters.js
Labels: component/ui, ui-refactor

#6218 [rjsf] text field validation
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomUpDownWidget.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/FieldTemplate.js
  ui/components/MesheryMeshInterface/helpers.js
  ui/themes/rjsf.js
Labels: component/ui

#6071 [Refactor] Add K8sContextSwitcher Component
  ui/components/CustomAvatar.js
  ui/components/Header/Header.js
  ui/components/Header/K8sContextSwitcher.js
  ui/yarn.lock
Labels: component/ui, ui-refactor

#6221 [UI] Remote config icon update
  ui/remote-component.config.js
Labels: component/ui, component/extensions

#6061 Implement `app import` subcommand and refactor `app onboard`
  mesheryctl/internal/cli/root/app/app.go
  mesheryctl/internal/cli/root/app/import.go
  mesheryctl/internal/cli/root/app/onboard.go
  server/handlers/meshery_application_handler.go
Labels: component/mesheryctl, component/server

#6186 [Performance] Make performance tests consistent with multi-cluster
  server/handlers/load_test_handler.go
  ui/components/MesheryPerformance/index.js
Labels: area/performance, component/ui, component/server

#6223 [bug] Fix Validation of PatternFile
  server/models/pattern/patterns/k8s/k8s.go
  server/models/pattern/stages/validate.go
Labels: kind/bug, component/patterns, component/server

#6226 [remote-component] remove MoreVert icon
  ui/remote-component.config.js
Labels: component/ui, component/extensions

#6050 Add user facing clean APIs for querying capability registry
  server/handlers/component_handler.go
  server/models/handlers.go
  server/models/pattern/core/register.go
  server/oam/workloads/application_definition.json
  server/router/server.go
Labels: issue/design required, component/api, component/server

#6131 [UI/Eslint] Enabled important eslint checks + removed all the errors
  ui/.eslintrc.js
  ui/components/ConnectionWizard/ConfigComponents/Kubernetes.js
  ui/components/ConnectionWizard/helpers/kubernetesHelpers.js
  ui/components/ConnectionWizard/helpers/metrics.js
  ui/components/ConnectionWizard/helpers/serviceMeshes.js
  ui/components/DashboardComponent.js
  ui/components/ExtensionSandbox.js
  ui/components/GrafanaComponent.js
  ui/components/GrafanaSelectionComponent.js
  ui/components/MeshAdapterConfigComponent.js
  ui/components/MeshConfigComponent.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryResults.js
  ui/components/MesherySMIResults.js
  ui/components/MesherySettings.js
  ui/components/Navigator.js
  ui/components/PrometheusComponent.js
  ui/components/PrometheusSelectionComponent.js
  ui/components/User.js
  ui/components/UserPreferences.js
  ui/pages/_app.js
  ui/pages/extensions.js
  ui/pages/user/preferences.js
  ui/remote-component.config.js
Labels: component/ui, component/extensions

#5985 [Refactor]-UI Meshery AppBar component Created
  ui/components/Patterns/MesheryPatterns.js
  ui/components/Patterns/PatternConfigurator/PatternConfigurator.js
  ui/components/Patterns/PatternConfigurator/helpers.js
Labels: component/ui, ui-refactor

#6232 Clean meshery-operator values.yaml
  install/kubernetes/helm/meshery-operator/values.yaml
Labels: framework/helm

#6234 Change ImagePullPolicy to Always
  install/kubernetes/helm/meshery-operator/values.yaml
Labels: framework/helm

#6243 [CI] Update Meshery and Adapter version used in integration tests
  mesheryctl/coverage.txt
  mesheryctl/internal/cli/root/config/testdata/changeconfigendpoint.expect.docker.golden
  mesheryctl/internal/cli/root/config/testdata/changeconfigendpoint.expect.kubernetes.golden
  mesheryctl/internal/cli/root/config/testdata/changeplatform.invalid.golden
  mesheryctl/internal/cli/root/config/testdata/changeplatform.valid.golden
  mesheryctl/internal/cli/root/system/fixtures/.meshery/meshery.yaml
  mesheryctl/pkg/utils/TestConfig.yaml
Labels: component/mesheryctl, area/ci, area/tests

#6244 Fix: GraphQL subscription bottleneck connecting to the server
  ui/lib/relayEnvironment.js
Labels: component/ui

#6239 [rjsf] some small fixes
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomUpDownWidget.js
  ui/themes/rjsf.js
Labels: component/ui

#6246 Aligned namespace and name in RJSF
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
Labels: component/ui, library/rjsf

#6250 [Feat] Add support for registering components
  go.mod
  go.sum
  server/handlers/component_generation.go
  server/handlers/component_handler.go
  server/models/handlers.go
  server/models/meshmodel/core/register.go
  server/router/server.go
Labels: component/server

#6254 fix: Lint checks
  go.sum
  server/handlers/component_generation.go
Labels: kind/chore, component/server

#6238 [Docs] update the helm charts installation steps
  docs/pages/installation/kubernetes.md
Labels: area/docs

#6247 Add validation for pattern files
  ui/components/ConfirmationModal.js
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryApplications/ApplicationsGrid.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryMeshInterface/helpers.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/NavigatorExtension.js
  ui/components/Validation.js
  ui/utils/Enum.js
  ui/utils/utils.js
  ui/utils/workloadFilter.js
Labels: component/ui

#6224 Added tooltip to the application, filter and pattern cards
  ui/components/MesheryApplications/ApplicationsCard.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/YamlDialog.js
Labels: component/ui

#6262 Add sleep in E2E workflow for failing test
  .github/workflows/test_adapters.yaml
Labels: area/ci

#6263 Make core workflow more general
  .github/workflows/test_adaptersv2.yaml
Labels: area/ci

#6275 [CI] Golang: Removing unnecessary deps
  go.mod
  go.sum
Labels: area/ci, language/go

#6261 [Refactor] strings.Title has been deprecated
  go.mod
  server/handlers/load_test_meshes_handler.go
  server/models/grafana_helper.go
Labels: component/server

#6281 Fixed Typo
  docs/pages/project/contributing/contributing.md
Labels: area/docs

#6287 Fixed Typo
  docs/pages/project/community.md
Labels: area/docs

#6283 [CI] Golang: Remove unnecessary redis pkg version pin
  go.mod
  go.sum
Labels: area/ci, language/go
