Repository meshery/meshery, pull requests merged in 2022-08, with the labels that each got.

#5848 Subscription for Apps, Filters and Patterns
  handlers/meshery_application_handler.go
  handlers/meshery_filter_handler.go
  handlers/meshery_pattern_handler.go
  internal/graphql/generated/generated.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/application.go
  internal/graphql/resolver/configuration.go
  internal/graphql/resolver/error.go
  internal/graphql/resolver/filter.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
  models/default_local_provider.go
  models/handlers.go
  models/providers.go
  models/remote_provider.go
Labels: component/applications, framework/graphql

#5949 Added operator-light
  ui/public/static/img/component-svg/operator-light.svg
  ui/public/static/img/component-svg/operator.svg
Labels: component/ui

#5882 [Refactor] Added Patterns page
  ui/components/EmptyStateComponent.js
  ui/components/Patterns/MesheryPatternGrid.js
  ui/components/Patterns/MesheryPatternTable.js
  ui/components/Patterns/MesheryPatterns.js
  ui/components/UploadImport.js
  ui/package.json
  ui/pages/configuration/patterns.js
Labels: component/ui, ui-refactor

#5697 [Refactor] Made notification system
  ui/components/Header/Header.js
  ui/components/Notification/MesheryEventViewer.js
  ui/components/Notification/MesheryNotification.js
  ui/components/Notification/MesherySnackbarWrapper.js
  ui/styles/theme.js
Labels: component/ui, ui-refactor

#5948 [UI] Made the Search Fully functional
  ui/components/ConfirmationModal.js
Labels: component/ui

#5951 Removed subtext "cluster with a meshery operator" from Empty Cluster confirmation modal.
  ui/components/ConfirmationModal.js
Labels: component/ui

#5863 [Refactor] Meshery Design Page Card Created
  ui/components/FlipCard.js
  ui/components/Patterns/MesheryDesignCard.js
  ui/public/static/img/patternwhite.svg
Labels: component/ui, priority/high, ui-refactor

#5775 Add `source type` and support for downloading `source content` in Application
  handlers/error.go
  handlers/meshery_application_handler.go
  handlers/meshery_pattern_handler.go
  install/apps.json
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/onboard.go
  models/default_local_provider.go
  models/handlers.go
  models/meshery_application.go
  models/meshery_application_persister.go
  models/meshery_applications_api_response.go
  models/providers.go
  models/remote_provider.go
  router/server.go
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryApplications/ApplicationsGrid.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryPatterns.js
  ui/components/NavigatorExtension.js
  ui/components/UploadImport.js
  ui/lib/data-fetch.js
  ui/public/static/img/docker_compose.svg
  ui/public/static/img/helm_chart.svg
  ui/public/static/img/kubernetes_manifest.svg
  ui/utils/configurationFileHandlersEnum.js
  ui/utils/fileDownloader.js
Labels: component/mesheryctl, component/ui

#5955 Fix application update
  handlers/meshery_application_handler.go
  router/server.go
  ui/components/MesheryApplications.js
Labels: component/ui, component/server

#5930 Add tests for mesheryctl root config and flags
  mesheryctl/internal/cli/root/fixtures/testConfig.yaml
  mesheryctl/internal/cli/root/root_test.go
Labels: component/mesheryctl

#5956 [Bug] Fix MUI data table implementation on SMI Conformance page
  ui/components/MesherySMIResults.js
Labels: kind/bug, component/ui

#5764 [Refactor] Settings Page
  ui/components/Button.js
  ui/components/SettingsComponents/GrafanaComponent.js
  ui/components/SettingsComponents/MeshAdapterConfigComponent.js
  ui/components/SettingsComponents/MeshConfigComponent.js
  ui/components/SettingsComponents/PrometheusComponent.js
  ui/features/mesheryComponents/components/Adapters/AdapterChip.js
  ui/features/mesheryComponents/components/Adapters/AdaptersChipList.js
  ui/package.json
  ui/pages/index.js
  ui/pages/settings.js
Labels: component/ui, priority/high, ui-refactor

#5965 [Docs] Folder creation for integrations workflow
  docs/_integrations/template.md
Labels: area/docs

#5946 [UI] Extension: Add Clilium logo SVG
  ui/public/static/img/component-svg/service-mesh/cilium-white-vector.svg
  ui/public/static/img/component-svg/service-mesh/linkerd-white-vector.svg
Labels: component/ui

#5957 Replacing operator service type to LoadBalancer.
  Makefile
  install/kubernetes/helm/meshery-operator/README.md
  install/kubernetes/helm/meshery/README.md
  install/kubernetes/helm/meshery/charts/meshery-operator/README.md
  install/kubernetes/helm/meshery/charts/meshery-operator/values.yaml
Labels: framework/helm

#5972 [chore] Revert meshery-operator svc to ClusterIP
  install/kubernetes/helm/meshery-operator/values.yaml
Labels: framework/helm

#5964 Refactor subscription logic
  cmd/main.go
  handlers/meshery_application_handler.go
  handlers/meshery_filter_handler.go
  handlers/meshery_pattern_handler.go
  helpers/utils/utils.go
  internal/graphql/resolver/configuration.go
  models/configuration_helper.go
  models/handlers.go
  ui/components/MeshConfigComponent.js
Labels: component/ui, framework/graphql

#5971 Fix failing mesheryctl unit tests
  mesheryctl/internal/cli/root/app/fixtures/view.applicationTypes.response.golden
  mesheryctl/internal/cli/root/app/onboard_test.go
  mesheryctl/internal/cli/root/app/testdata/view.applicationName.output.golden
  models/meshery_application.go
Labels: component/mesheryctl, area/tests

#5884 [Server] Multicluster: Feed back context persistence
  handlers/error.go
  handlers/k8sconfig_handler.go
  models/error.go
  models/meshery_k8scontext_persister.go
  models/providers.go
  models/remote_provider.go
  ui/components/MeshConfigComponent.js
Labels: component/ui, component/server

#5979 Add more k8s version to E2E wf
  .github/workflows/test_adapters.yaml
Labels: area/ci, area/tests

#5919 [Refactor] Add support for validating multiple manifests simultaneously
  handlers/oam_handler.go
Labels: component/patterns, component/server

#5976 [chore] Fix svc type of meshery-operator
  install/kubernetes/helm/meshery-operator/README.md
  install/kubernetes/helm/meshery/charts/meshery-operator/README.md
  install/kubernetes/helm/meshery/charts/meshery-operator/values.yaml
Labels: framework/helm

#5980 Fix prometheus and grafana discovery
  ui/components/DashboardComponent.js
  ui/components/MesherySettings.js
Labels: area/performance, component/ui

#5887 [DOCS] Applications REST API Update
  docs/_data/swagger.yml
Labels: area/docs, component/api

#5910 Fix relative path check in config for token
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/config/config_test.go
Labels: component/mesheryctl

#5896 fix(mesheryctl): move completion to root level and fix oh-my-zsh command
  docs/_data/mesheryctlcommands/cmds.yml
  docs/_data/mesheryctlcommands/es_cmds.yml
  docs/pages/es/reference/mesheryctl-commands.md
  docs/pages/guides/mesheryctl/configuring-autocompletion-for-mesheryctl.md
  docs/pages/reference/mesheryctl-commands.md
  mesheryctl/internal/cli/root/completion.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/system.go
Labels: area/docs, component/mesheryctl

#5888 fix(ci): publish linux and mac artifacts in tar.gz format
  .goreleaser.yml
Labels: component/mesheryctl

#5983 [CI] Move to tar.gz for mesheryctl packages
  install/docker-extension/Dockerfile
Labels: component/extensions

#5984 Rearrange the order/styles of buttons
  ui/components/MesheryPatterns/Cards.styles.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
Labels: component/ui

#5821 Terminal animation added
  docs/_sass/clipboard.scss
  docs/assets/css/terminal.css
  docs/assets/js/terminal.js
  docs/pages/installation/quick-start.md
Labels: area/docs

#5987 Fix uncompressing of tar files in docker extension
  install/docker-extension/Dockerfile
Labels: component/extensions

#5991 rollback to golangci-lint v1.47.3
  .github/workflows/build-ui-and-server.yml
  .github/workflows/mesheryctl-ci.yml
Labels: area/ci

#5996 [UI] Delete modal now functional for Designs
  ui/components/MesheryPatterns.js
Labels: component/ui

#5997 implemented eslint checks
  provider-ui/.eslintrc.js
  provider-ui/pages/auth/login.js
Labels: component/ui

#5952 eslint errors fix
  ui/.eslintrc.js
  ui/components/ConfirmationModal.js
  ui/components/ConnectionWizard/ConfigComponents/Kubernetes.js
  ui/components/GrafanaCustomGaugeChart.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryNotification.js
  ui/components/MesherySMIResults.js
  ui/components/Navigator.js
  ui/components/PrometheusComponent.js
  ui/components/User.js
  ui/pages/configuration/applications.js
  ui/pages/configuration/filters.js
  ui/pages/configuration/patterns.js
  ui/pages/extension/[component].js
  ui/pages/index.js
  ui/pages/performance/index.js
  ui/pages/performance/profiles.js
  ui/pages/performance/results.js
  ui/pages/settings.js
  ui/pages/user/preferences.js
Labels: component/ui

#6009 [UI] Source type import modal bug fix on empty state
  ui/components/MesheryApplications.js
  ui/components/MesheryApplications/ApplicationsGrid.js
Labels: kind/bug, component/applications, component/ui

#5908 Fix image ref in `mesheryctl` docs
  docs/pages/reference/mesheryctl/mesheryctl-app-list.md
  docs/pages/reference/mesheryctl/mesheryctl-app-onboard.md
  docs/pages/reference/mesheryctl/mesheryctl-app-view.md
  docs/pages/reference/mesheryctl/mesheryctl-mesh-deploy.md
  docs/pages/reference/mesheryctl/mesheryctl-mesh-validate.md
  docs/pages/reference/mesheryctl/mesheryctl-pattern-apply.md
  docs/pages/reference/mesheryctl/mesheryctl-pattern-list.md
  docs/pages/reference/mesheryctl/mesheryctl-pattern-view.md
  docs/pages/reference/mesheryctl/mesheryctl-perf-apply.md
  docs/pages/reference/mesheryctl/mesheryctl-perf-result.md
  docs/pages/reference/mesheryctl/mesheryctl-system-check.md
  docs/pages/reference/mesheryctl/mesheryctl-system-context-view.md
  docs/pages/reference/mesheryctl/mesheryctl-system-reset.md
  docs/pages/reference/mesheryctl/mesheryctl-system-status.md
  docs/pages/reference/mesheryctl/mesheryctl-system-update.md
  docs/pages/reference/mesheryctl/mesheryctl-version.md
  mesheryctl/internal/cli/root/app/list.go
  mesheryctl/internal/cli/root/app/onboard.go
  mesheryctl/internal/cli/root/app/view.go
  mesheryctl/internal/cli/root/mesh/deploy.go
  mesheryctl/internal/cli/root/mesh/validate.go
  mesheryctl/internal/cli/root/pattern/apply.go
  mesheryctl/internal/cli/root/pattern/list.go
  mesheryctl/internal/cli/root/pattern/view.go
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/result.go
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/internal/cli/root/system/context.go
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/internal/cli/root/version.go
Labels: area/docs, component/mesheryctl

#6011 [provider-ui] remove duplicate credentials
  provider-ui/components/ProviderComponent.js
Labels: component/ui

#6010 Add eslint github action
  .github/workflows/eslint-gh.yml
Labels: area/ci

#5963 [UI] Import Modal update and reference to Extensions
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryApplications/ApplicationsGrid.js
  ui/components/MesheryPatterns.js
  ui/components/UploadImport.js
  ui/cypress/integration/integration/configuration_filters_spec.js
Labels: component/applications, component/ui, component/patterns, component/filters, cypress

#6012 [UI] changed System Reset button design
  ui/components/MesherySettings.js
Labels: component/ui

#6014 Add Extension Marketplace
  ui/components/FlipCard.js
  ui/components/MesheryPatterns/Cards.styles.js
  ui/components/Navigator.js
  ui/pages/extensions.js
  ui/public/static/img/drawer-icons/extensions_svg.js
  ui/public/static/img/meshery_catalog.svg
  ui/public/static/img/meshmap.svg
Labels: component/ui

#5992 Compatibility matrix shows other version of k8s
  docs/pages/project/compatibility_matrix/compatibility.md
Labels: area/docs, area/ci, area/tests

#6029 [Dependency] DnD Drag and drop dependency addition
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#6031 [Cypress] Dependency bug fix for cypress
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#6023 styling changes to extensions
  ui/pages/extensions.js
Labels: component/ui

#6036 Aligning makefile with contributing.md doc
  docs/Makefile
Labels: area/docs

#6022 [UI] Made reset button red
  ui/components/PromptComponent.js
Labels: component/ui, area/ux

#6044 Remove k8s 1.24.3 version from core E2E workflow
  .github/workflows/test_adapters.yaml
Labels: area/ci

#5913 [Refactor] Made a new Performance Profiles Page
  ui/components/MesheryChart.js
  ui/components/MesheryPerformance/PerformanceCard.js
  ui/components/MesheryPerformance/PerformanceModal.js
  ui/components/MesheryPerformance/PerformanceProfileGrid.js
  ui/components/MesheryPerformance/PerformanceProfileTable.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesheryPerformance/PerformanceResults.js
  ui/components/Modal.js
  ui/features/performance/graphql/queries/PerformanceProfileQuery.js
  ui/features/performance/graphql/queries/__generated__/PerformanceProfilesQuery.graphql.js
  ui/lib/chartjs-formatter.js
  ui/pages/performance/profiles.js
  ui/styles/theme.js
Labels: component/ui, ui-refactor

#6045 [Docs] Add guide for contributing `mesheryctl` reference
  docs/pages/project/contributing/contributing-cli.md
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#6046 [UI] Configurations UI Enhancements | Apps | Designs | Filters
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryApplications/ApplicationsCard.js
  ui/components/MesheryApplications/ApplicationsGrid.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/Cards.styles.js
  ui/components/MesheryPatterns/Grid.styles.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/PromptComponent.js
  ui/components/UploadImport.js
  ui/public/static/img/UndeployIcon.js
Labels: component/applications, component/ui, area/ux, component/patterns, component/filters

#6048 [Refactor] solved react-select error
  ui/components/ReactSelectWrapper.js
Labels: component/ui, ui-refactor

#6052 [UI] Provider UI bug fix
  provider-ui/package-lock.json
  provider-ui/package.json
  provider-ui/pages/_app.js
Labels: component/ui, component/providers

#5998 Add subscription for `kubernetes context`
  cmd/main.go
  handlers/contexts_handler.go
  handlers/k8sconfig_handler.go
  handlers/session_sync_handler.go
  internal/graphql/generated/generated.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/error.go
  internal/graphql/resolver/kubernetes.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
  models/default_local_provider.go
  models/handlers.go
  models/k8scontext_helper.go
  models/meshery_k8scontext_persister.go
  models/providers.go
  models/remote_provider.go
  ui/components/ConfirmationModal.js
  ui/components/DashboardComponent.js
  ui/components/MeshConfigComponent.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/graphql/subscriptions/K8sContextSubscription.js
  ui/components/graphql/subscriptions/__generated__/K8sContextSubscription.graphql.js
  ui/pages/_app.js
  ui/utils/multi-ctx.js
Labels: component/ui, area/ux, framework/graphql

#6067 [DOCS] Update docs for application API wrt source type and source content | CU-2quqz0n
  docs/_data/swagger.yml
  helpers/swagger.yaml
Labels: component/applications, area/docs

#5823 [Refactor] Added Applications Page
  ui/components/ApplicationComponents/ApplicationCard.js
  ui/components/ApplicationComponents/ApplicationTable.js
  ui/components/ApplicationComponents/ApplicationsGrid.js
  ui/components/ApplicationComponents/MesheryApplications.js
  ui/components/YamlDialog.js
  ui/features/applications/ApplicationsQuery.js
  ui/pages/configuration/applications.js
Labels: component/ui, ui-refactor

#5856 [Refractor] Added LifeCycle Cards
  ui/components/CategoryCard.js
  ui/pages/management.js
Labels: area/lifecycle, ui-refactor

#5603 [Server] Use same Golang logger and log format
  .github/workflows/build-ui-and-server.yml
  Makefile
  cmd/error.go
  cmd/main.go
  helpers/component_info.json
Labels: area/ci, language/go, component/server

#6072 [Bug] Update Makefile for `make server-local`
  Makefile
Labels: kind/bug, kind/chore

#6070 [docs] fixed links to meshery adapters
  docs/pages/project/compatibility_matrix/compatibility.md
Labels: area/docs

#6037 fix: terminal overflow on docs
  docs/_sass/clipboard.scss
  docs/assets/css/terminal.css
  docs/v0.5/assets/css/sass.css
Labels: area/docs

#6076 Fix application update not reflecting
  handlers/meshery_application_handler.go
Labels: component/applications, component/server

#6083 [UI] Settings Upload K8s config style bug fix within modal
  ui/components/MeshConfigComponent.js
Labels: component/ui

#6081 add conditional check for operator state
  ui/components/MeshConfigComponent.js
Labels: component/ui

#6038 [WIP] Display Discovered Cluster Resources on Dashboard
  cmd/main.go
  handlers/middlewares.go
  internal/graphql/generated/generated.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/error.go
  internal/graphql/resolver/kubernetes.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
  models/dashboard_k8s_resources.go
  models/handlers.go
  ui/components/DashboardComponent.js
  ui/components/graphql/queries/ClusterResourcesQuery.js
  ui/components/graphql/queries/__generated__/ClusterResourcesQuery.graphql.js
  ui/components/graphql/subscriptions/ClusterResourcesSubscription.js
  ui/components/graphql/subscriptions/MesheryControllersStatusSubscription.js
  ui/components/graphql/subscriptions/__generated__/ClusterResourcesSubscription.graphql.js
Labels: component/ui, pr/draft

#6039 Created and Added new SVGs
  install/Makefile.core.mk
  ui/public/static/img/component-svg/kubernetes/cluster-role-binding.svg
  ui/public/static/img/component-svg/kubernetes/cluster-role.svg
  ui/public/static/img/component-svg/kubernetes/core-dns-circle.svg
  ui/public/static/img/component-svg/kubernetes/etcd-circle.svg
  ui/public/static/img/component-svg/kubernetes/kubernetes.svg
  ui/public/static/img/component-svg/kubernetes/namespace.svg
  ui/public/static/img/component-svg/kubernetes/node.svg
  ui/public/static/img/component-svg/kubernetes/volume.svg
  ui/public/static/img/component-svg/meshsync-full.svg
  ui/public/static/img/component-svg/nats-full.svg
  ui/public/static/img/component-svg/nats.svg
  ui/public/static/img/component-svg/operator-light-full.svg
Labels: component/ui, pr/do-not-merge

#5619 [Docs] Fixed sorting issue of Linkerd test results
  docs/_compatibility/meshery-linkerd/02-23-2022-15-11-02_.md
  docs/_compatibility/meshery-linkerd/02-24-2022-17-27-02_.md
  docs/_compatibility/meshery-linkerd/02-25-2022-21-48-02_.md
  docs/_includes/head.html
  docs/_includes/past-results.html
  docs/_layouts/default.html
  docs/pages/project/compatibility_matrix/compatibility.md
Labels: area/docs

#6068 Add error details
  meshes/meshops.pb.go
  meshes/meshops.proto
  meshes/meshops_grpc.pb.go
  ui/components/MesheryEventViewer.js
  ui/components/MesheryNotification.js
  ui/components/MesherySnackbarWrapper.js
  ui/lib/store.js
Labels: component/ui

#6086 [DOCS] Add Meshery Docker Extension to the supported platforms table in README
  README.md
Labels: area/docs

#6099 [Designer] URL Upload Refactors and Style Fixes
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryApplications/ApplicationsGrid.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/UploadImport.js
Labels: component/ui

#6100 Fix path in Dockerfile
  install/docker/Dockerfile
Labels: area/ci, area/devops

#6096 [GraphQL] Improve Workloads widget
  server/handlers/middlewares.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/helpers.go
  server/internal/graphql/resolver/kubernetes.go
  server/internal/graphql/resolver/schema.resolvers.go
  server/internal/graphql/schema/schema.graphql
  ui/components/DashboardComponent.js
  ui/components/graphql/queries/ClusterResourcesQuery.js
  ui/components/graphql/queries/__generated__/ClusterResourcesQuery.graphql.js
  ui/components/graphql/subscriptions/ClusterResourcesSubscription.js
  ui/components/graphql/subscriptions/__generated__/ClusterResourcesSubscription.graphql.js
Labels: component/ui, component/server, component/database, framework/graphql

#6104 Added a textoverflow ellipsis for rjsf
  ui/themes/rjsf.js
Labels: component/ui

#6074 [Docs]refactor: Merge Build and Releases page inside Contributing section
  docs/_data/toc.yml
  docs/pages/project/contributing/ci-build-and-release.md
Labels: area/docs

#6103 Upgrade nighthawk
  go.mod
  go.sum
Labels: area/performance

#6042 [Refactoring]-Meshery Filter table created
  ui/components/Filters/MesheryFilterTable.js
Labels: component/ui, component/filters, ui-refactor

#6028 [Server] Backend support for Meshery Catalog
  provider-ui/package-lock.json
  server/handlers/error.go
  server/handlers/meshery_filter_handler.go
  server/handlers/meshery_pattern_handler.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/catalog_content.go
  server/internal/graphql/resolver/configuration.go
  server/internal/graphql/resolver/kubernetes.go
  server/internal/graphql/resolver/schema.resolvers.go
  server/internal/graphql/schema/schema.graphql
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/meshery_filter.go
  server/models/meshery_filter_persister.go
  server/models/meshery_pattern.go
  server/models/meshery_pattern_persister.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/NavigatorExtension.js
  ui/components/graphql/queries/CatalogFilterQuery.js
  ui/components/graphql/queries/CatalogPatternQuery.js
  ui/components/graphql/queries/__generated__/CatalogFilterQuery.graphql.js
  ui/components/graphql/queries/__generated__/CatalogPatternQuery.graphql.js
  ui/components/graphql/subscriptions/ConfigurationSubscription.js
  ui/components/graphql/subscriptions/__generated__/ConfigurationSubscription.graphql.js
  ui/package-lock.json
Labels: component/ui, kind/feature, component/patterns, component/filters

#6102 Add_adapter_tests_resiliency_logic/#5900
  .github/workflows/test_adapters.yaml
Labels: area/ci

#6114 RJSF Validation
  ui/components/MesheryMeshInterface/helpers.js
Labels: component/ui

#6101 [RJSF] fixed the size of the input field
  ui/themes/rjsf.js
Labels: component/ui

#6111 fix(ci): update `docker-compose.yaml` path
  install/docker/docker-compose.yaml
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#6079 chore(mesheryctl): add loader to mesheryctl pattern apply
  mesheryctl/internal/cli/root/pattern/apply.go
Labels: component/mesheryctl

#6124 [Extensions] Remote config icon update
  ui/remote-component.config.js
Labels: component/ui, component/extensions

#6129 [UI] 50% width for input in RJSF
  ui/themes/rjsf.js
Labels: component/ui

#6122 [CI] Issue labeling update
  .github/labeler.yml
Labels: area/ci

#6130 [Dependencies] meshkit and meshsync upgrades
  go.mod
  go.sum
Labels: area/ci, language/go

#6132 Fix custom configuration for Service Mesh
  ui/components/MesheryAdapterPlayComponent.js
Labels: component/ui

#6137 [DOCS] Fixed Typo of Kubernetes
  docs/pages/project/index.md
Labels: area/docs

#6105 Enhance notification centre by adding support for notifications from PatternOps
  server/cmd/main.go
  server/handlers/content_modifier.go
  server/handlers/events_streamer.go
  server/handlers/handler_instance.go
  server/handlers/middlewares.go
  server/handlers/oam_handler.go
  server/models/handlers.go
  server/models/k8s_components_registration.go
  server/models/pattern/patterns/patterns.go
Labels: component/server

#6138 Refactor Helm charts
  install/kubernetes/helm/meshery/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-cpx/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/Chart.yaml
Labels: framework/helm

#6134 UI: Fix icons alignment in header
  ui/components/Header.js
Labels: component/ui

#6139 [Cypress] Fix provider Login issue for Filter_spec integration
  ui/cypress/integration/integration/configuration_filters_spec.js
Labels: component/ui, cypress
