Repository meshery/meshery, pull requests merged in 2022-02, with the labels that each got.

#5020 switched IsMesheryRunning with AreMesheryComponentsRunning
  mesheryctl/internal/cli/root/system/context.go
  mesheryctl/internal/cli/root/system/logs.go
  mesheryctl/internal/cli/root/system/restart.go
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/pkg/utils/healthcheck.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#4690 [chore] Cleaning repeatitive code in utils folder
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/config/config_test.go
  mesheryctl/internal/cli/root/config/fixture/TestChangeEndpointConfig.yaml
  mesheryctl/internal/cli/root/config/fixture/TestConfig.yaml
  mesheryctl/internal/cli/root/config/testdata/changeconfigendpoint.expect.docker.golden
  mesheryctl/internal/cli/root/config/testdata/changeconfigendpoint.expect.kubernetes.golden
  mesheryctl/internal/cli/root/config/testdata/changeplatform.invalid.golden
  mesheryctl/internal/cli/root/config/testdata/changeplatform.valid.golden
  mesheryctl/internal/cli/root/config/testdata/mesheryctl.yaml
  mesheryctl/internal/cli/root/system/dashboard.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/platform.go
  mesheryctl/pkg/utils/platform_test.go
  mesheryctl/pkg/utils/testing.go
Labels: component/mesheryctl, kind/chore

#5041 increase navbar width in docs
  docs/_sass/navbar.scss
  docs/assets/css/sass.scss
Labels: area/docs

#5045 [mesheryctl] Minor issue with docker platform deployment
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#5038 Add support for importing patterns via URL inside services
  handlers/oam_handler.go
  models/pattern/core/pattern.go
  models/pattern/stages/filler.go
  models/pattern/stages/import.go
  models/pattern/utils/utils.go
Labels: pr/draft

#4926 Updated the navigation component for UI restructuring
  ui/components/Navbar/HiddenSidebar.js
  ui/components/Navbar/Navbar.js
  ui/components/Navbar/Navbar.styles.js
  ui/components/Navbar/constants.js
  ui/styles/colors.js
  ui/yarn.lock
Labels: component/ui, ui-refactor

#5021 [mesheryctl] Make `stop` wait for namespace to be deleted
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/pkg/utils/healthcheck.go
Labels: component/mesheryctl

#5058 Redux: Extract drawer collapse variable with redux
  ui/components/Navigator.js
  ui/components/NavigatorExtension.js
  ui/lib/store.js
  ui/pages/_app.js
Labels: component/ui

#4218 Multi-Context Support
  cmd/main.go
  handlers/content_modifier.go
  handlers/contexts_handler.go
  handlers/doc.go
  handlers/error.go
  handlers/events_streamer.go
  handlers/grafana_handlers.go
  handlers/k8sconfig_handler.go
  handlers/load_test_handler.go
  handlers/mesh_ops_handlers.go
  handlers/meshery_pattern_handler.go
  handlers/middlewares.go
  handlers/oam_handler.go
  handlers/prometheus_handlers.go
  handlers/session_sync_handler.go
  helpers/utils/utils.go
  internal/graphql/model/error.go
  internal/graphql/resolver/addons.go
  internal/graphql/resolver/error.go
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/operator.go
  internal/graphql/resolver/pattern.go
  models/default_local_provider.go
  models/error.go
  models/handlers.go
  models/k8s_context.go
  models/meshery_k8scontext_persister.go
  models/preference.go
  models/providers.go
  models/remote_provider.go
  router/server.go
  ui/components/Header.js
  ui/components/MeshConfigComponent.js
  ui/lib/data-fetch.js
  ui/package-lock.json
  ui/pages/_app.js
Labels: component/ui, component/server

#5067 Fix Meshery Crash on loading lifecycle
  ui/pages/management/index.js
Labels: component/ui, area/lifecycle

#4915 [Perf] fixed search issue
  ui/components/MesheryPerformance/PerformanceCard.js
  ui/components/MesheryPerformance/PerformanceProfileGrid.js
  ui/components/MesheryPerformance/PerformanceProfileTable.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
Labels: component/ui

#5069 modify cypress tests after multi-ctx PR
  ui/cypress/integration/e2e/settings_spec.js
  ui/cypress/integration/integration/discoverCluster_spec.js
Labels: component/ui

#5066 [mesheryctl] minor change in skip-browser flag functionality
  mesheryctl/internal/cli/root/system/dashboard.go
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#5059 Fix/mesh deploy hang/#4313
  mesheryctl/internal/cli/root/mesh/deploy.go
Labels: component/mesheryctl

#5063 [Extension] Add loading component for the load of meshery extension
  ui/components/ExtensionSandbox.js
  ui/components/LoadingComponents/AnimatedMeshSync.js
  ui/components/LoadingComponents/LoadingComponent.js
  ui/components/LoadingComponents/animatedMeshSync.css
  ui/components/NavigatorExtension.js
  ui/public/static/img/meshery-logo/meshery-black.svg
Labels: component/ui, component/extensions

#5076 Fix Multi-Context
  handlers/fetch_results_handler.go
  handlers/k8sconfig_handler.go
  handlers/meshery_pattern_handler.go
  handlers/middlewares.go
  handlers/oam_handler.go
  handlers/performance_profiles_handler.go
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/operator.go
  internal/graphql/resolver/pattern.go
  internal/graphql/resolver/performance.go
  models/k8s_context.go
  ui/components/DashboardComponent.js
  ui/lib/chartjs-formatter.js
Labels: component/ui, component/server

#5081 [UI] Multi-Context Switcher: style changes and bug fix
  ui/components/Header.js
  ui/components/MeshConfigComponent.js
Labels: component/ui

#4981 [Docs] Improving navigability of error code guide
  docs/pages/reference/error-codes.md
Labels: area/docs

#5090 updated style and fixed search in context switcher
  ui/components/Header.js
Labels: component/ui

#5085 [mesheryctl] Mesheryctl moves with Meshkit logger
  go.mod
  go.sum
  mesheryctl/internal/cli/root/app/list_test.go
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/offboard_test.go
  mesheryctl/internal/cli/root/app/onboard.go
  mesheryctl/internal/cli/root/app/onboard_test.go
  mesheryctl/internal/cli/root/app/view.go
  mesheryctl/internal/cli/root/app/view_test.go
  mesheryctl/internal/cli/root/filter/apply.go
  mesheryctl/internal/cli/root/filter/delete.go
  mesheryctl/internal/cli/root/filter/list_test.go
  mesheryctl/internal/cli/root/filter/view.go
  mesheryctl/internal/cli/root/filter/view_test.go
  mesheryctl/internal/cli/root/mesh/remove.go
  mesheryctl/internal/cli/root/pattern/apply.go
  mesheryctl/internal/cli/root/pattern/apply_test.go
  mesheryctl/internal/cli/root/pattern/delete.go
  mesheryctl/internal/cli/root/pattern/delete_test.go
  mesheryctl/internal/cli/root/pattern/list_test.go
  mesheryctl/internal/cli/root/pattern/view.go
  mesheryctl/internal/cli/root/pattern/view_test.go
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/apply_test.go
  mesheryctl/internal/cli/root/perf/profile.go
  mesheryctl/internal/cli/root/perf/profile_test.go
  mesheryctl/internal/cli/root/perf/result.go
  mesheryctl/internal/cli/root/perf/result_test.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/context_test.go
  mesheryctl/internal/cli/root/system/reset_test.go
  mesheryctl/internal/cli/root/system/token.go
  mesheryctl/internal/cli/root/system/token_test.go
  mesheryctl/internal/cli/root/version.go
  mesheryctl/pkg/utils/formatter.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/testing.go
Labels: component/mesheryctl

#5097 updated
  docs/pages/project/compatibility_matrix/compatibility.md
Labels: area/docs

#5098 [UI] Fix UI crash due to invalid hook call
  ui/components/ErrorHandling.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
Labels: component/ui

#5103 [meshery] Point the github-actions bot to the correct link for "Contributing to Meshery UI"
  .github/label-commenter-config.yml
Labels: area/ci

#5106 Add support for handling x-kubernetes-int-or-string
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/helper.js
  ui/components/MesheryMeshInterface/PatternService/index.js
Labels: component/ui, rjsf

#5110 [Docs] In architecture.md file: changed ReST to REST which is the valid acronym.
  docs/pages/concepts/architecture/architecture.md
Labels: area/docs

#4717 [CI] [Cypress] Add E2E tests to Deploy Applications/Filters/Patterns Configuration through Meshery UI
  .github/workflows/ci.yml
  ui/.nvmrc
  ui/README.md
  ui/components/Filters.js
  ui/components/Header.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/cypress/actionHelpers/service-mesh-configuration-management.js
  ui/cypress/fixtures/configuration/filter-stubs/initial-filters.json
  ui/cypress/fixtures/configuration/filter-stubs/post-upload-filters.json
  ui/cypress/fixtures/configuration/service-mesh-patterns-samples/IstioFilterPattern-commit-b23b219.yaml
  ui/cypress/fixtures/configuration/service-mesh-patterns-samples/bookInfoPattern-commit-5eb2369.yaml
  ui/cypress/fixtures/configuration/wasm-filters-v0.1.2/http-auth-envoy.yaml
  ui/cypress/fixtures/configuration/wasm-filters-v0.1.2/wasm-filters-v0.1.2-http-auth-envoy.yaml
  ui/cypress/integration/e2e/service_mesh_configuration_management_spec.js
  ui/cypress/integration/integration/configuration_filters_spec.js
  ui/cypress/support/commands.js
  ui/package-lock.json
  ui/package.json
Labels: area/ci, component/ui, component/filters

#5120 changed the upload patterns modal
  ui/components/MesheryPatterns.js
  ui/components/URLUploader.js
  ui/components/UploadImport.js
Labels: component/ui

#5119 Updated the UX
  mesheryctl/internal/cli/root/system/logs.go
Labels: component/mesheryctl

#5126 [UI] Added Kubernetes context switcher slide transition
  ui/components/Header.js
Labels: component/ui

#5104 Moving ramrodo to contributor team.
  MAINTAINERS.md
Labels: kind/chore

#5116 trasitioned from patterns to designs
  ui/components/MesheryPatterns.js
  ui/components/Navigator.js
  ui/components/configuratorComponents/CustomBreadCrumb.js
  ui/pages/configuration/patterns.js
Labels: component/ui

#5127 [Security] Incorrect Authorization in NATS nats-server
  go.mod
  go.sum
Labels: security

#5124 [Docs] Fixing the page layout CSS
  docs/assets/css/main.css
Labels: area/docs

#5084 [mesheryctl] `--force` flag does not return CR delete errors
  mesheryctl/internal/cli/root/system/stop.go
Labels: component/mesheryctl
