Repository meshery/meshery, pull requests merged in 2022-01, with the labels that each got.

#4847 Use mesheryctl command in workflow
  .github/workflows/testadapters.yaml
Labels: area/ci

#4849 [Docs] Add "framework/jekyll" label
  docs/_includes/editable.html
Labels: area/docs

#4851 [Docs] Styling of Docs overview page
  docs/_sass/overview.scss
  docs/assets/img/meshery/meshery-logo-light-text-side.svg
  docs/pages/index.md
Labels: area/docs

#4838 [CI] Security: Upgrade to docker image to Alpine 3.15
  Dockerfile
Labels: security

#4852 [Docs] Relocate version selector
  docs/_data/navigation.yml
  docs/_data/toc.yml
  docs/_includes/header.html
  docs/_includes/sidebar.html
  docs/_sass/overview.scss
Labels: area/docs

#4869 Replacing kubectl with mesheryctl in workflow
  .github/workflows/testadapters.yaml
Labels: area/ci

#4872 Use system logs instead of kubectl in core workflow
  .github/workflows/testadapters.yaml
Labels: area/ci

#4873 Close all database connections safely before exiting in dev environment
  cmd/main.go
  go.mod
  go.sum
Labels: pr/do-not-merge, component/database

#4880 [Docs] Fix Typo For Istio Adapter
  docs/_adapters/istio/istio.md
  docs/v0.4/service-meshes/adapters/istio/istio.html
Labels: area/docs

#4877 [Chore] Golang dependency updates for MeshKit, Operator, MeshSync
  go.mod
  go.sum
Labels: kind/chore, language/go

#4886 Add the current latest tag as the chart version
  .github/workflows/helm-chart-releaser.yml
Labels: area/ci

#4888 [Navigator] Hide scrollbar while stull be able to scroll
  ui/components/Navigator.js
Labels: component/ui

#4403 [mesheryctl] Added unit test for healthcheck.go
  mesheryctl/pkg/utils/healthcheck_test.go
Labels: component/mesheryctl, area/tests

#4890 [UI] Pattern Configurator enhancement
  ui/components/MesheryMeshInterface/PatternServiceForm.js
  ui/components/configuratorComponents/CustomBreadCrumb.js
Labels: component/ui, area/ux, component/patterns

#4891 [Docs] Filter non-English pages from Operation Guides list
  docs/pages/guides/configuration-management.md
  docs/pages/guides/deploying-sample-apps.md
  docs/pages/guides/index.md
  docs/pages/guides/interpreting-performance-test-results.md
  docs/pages/guides/multiple-of-the-same-adapter.md
  docs/pages/guides/performance-management.md
  docs/pages/guides/smi-conformance.md
  docs/pages/guides/upgrade.md
  docs/pages/reference/troubleshooting/installation.md
  docs/pages/reference/troubleshooting/running.md
Labels: area/docs

#4894 Removed files with colon in name
  docs/_compatibility/meshery-istio/01-05-2022-16-21-01_d2c516d5.md
  docs/_compatibility/meshery-istio/01-05-2022-16-22-01_f4e85064.md
  docs/_compatibility/meshery-istio/01-05-2022-17-08-01_cc3896be.md
  docs/_compatibility/meshery-istio/01-05-2022-17-10-01_cc3896be.md
  docs/_compatibility/meshery-istio/2021-12-23-14:55:40.md
  docs/_compatibility/meshery-istio/2021-12-23-14:56:01.md
  docs/_compatibility/meshery-istio/_${SHORT_SHA}.md
  docs/_compatibility/meshery-kuma/Sat_Dec_25_13:56:18_UTC_2021.md
  docs/_compatibility/meshery-kuma/Thu_Dec_23_16:21:02_UTC_2021.md
  docs/_compatibility/meshery-kuma/Thu_Dec_30_22:40:48_UTC_2021.md
  docs/_compatibility/meshery-linkerd/2021-12-23-15:07:47.md
  docs/_compatibility/meshery-linkerd/2021-12-23-15:07:56.md
  docs/_compatibility/meshery-osm/2021-12-21_10-06-12.md
  docs/_compatibility/meshery-osm/2021-12-21_10-43-20.md
  docs/_compatibility/meshery-osm/2021-12-21_12-41-02.md
Labels: area/docs

#4874 [mesheryctl] Adding MesheryReadinessHealthCheck for `system start`
  .github/workflows/go-testing-ci.yml
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/internal/cli/root/system/dashboard.go
  mesheryctl/internal/cli/root/system/logs.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/pkg/utils/healthcheck.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl, area/ci, area/ux

#4898 chore[Readme]: Replaced Dhruv Patel with Abhishek Kumar as UI maintainer
  MAINTAINERS.md
Labels: kind/chore

#4902 pre-commit hook lint-staged config: Remove git add & invoke eslint --fix w/out path (lint-staged does this for us)
  ui/package.json
Labels: component/ui

#4906 UI: Fixed logo hyperlink in the navbar
  ui/components/Navigator.js
Labels: component/ui

#4793 Add autocomplete component
  ui/components/AutoComplete.js
  ui/yarn.lock
Labels: component/ui, ui-refactor

#4910 fixed release link not openeing in new tab
  ui/components/Navigator.js
Labels: component/ui

#4912 [docs] Fix typo in the earliest service mesh versions
  docs/_adapters/app-mesh.md
  docs/_adapters/cilium.md
  docs/_adapters/consul/consul.md
  docs/_adapters/cpx.md
  docs/_adapters/istio/istio.md
  docs/_adapters/kuma/kuma.md
  docs/_adapters/linkerd.md
  docs/_adapters/nginx-sm.md
  docs/_adapters/nsm/nsm.md
  docs/_adapters/octarine/octarine.md
  docs/_adapters/osm/osm.md
  docs/_adapters/sofamesh.md
  docs/_adapters/tanzu-sm.md
  docs/_adapters/traefik-mesh.md
Labels: area/docs

#4908 Doc fix for Providers
  docs/pages/extensibility/providers.md
Labels: area/docs

#4919 [Docs] Redirect from trailing slash reference
  docs/pages/project/contributing/meshery-server.md
Labels: area/docs

#4923 [DOCS] Fixed Slack link
  docs/_data/navigation.yml
Labels: area/docs

#4887 [mesheryctl] Chaining token functions for authentication
  mesheryctl/internal/cli/root/app/app.go
  mesheryctl/internal/cli/root/app/list.go
  mesheryctl/internal/cli/root/app/list_test.go
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/offboard_test.go
  mesheryctl/internal/cli/root/app/onboard.go
  mesheryctl/internal/cli/root/app/onboard_test.go
  mesheryctl/internal/cli/root/app/view.go
  mesheryctl/internal/cli/root/app/view_test.go
  mesheryctl/internal/cli/root/constants/constants.go
  mesheryctl/internal/cli/root/filter/apply.go
  mesheryctl/internal/cli/root/filter/delete.go
  mesheryctl/internal/cli/root/filter/filter.go
  mesheryctl/internal/cli/root/filter/list.go
  mesheryctl/internal/cli/root/filter/list_test.go
  mesheryctl/internal/cli/root/filter/view.go
  mesheryctl/internal/cli/root/filter/view_test.go
  mesheryctl/internal/cli/root/mesh/deploy.go
  mesheryctl/internal/cli/root/mesh/remove.go
  mesheryctl/internal/cli/root/mesh/validate.go
  mesheryctl/internal/cli/root/pattern/apply.go
  mesheryctl/internal/cli/root/pattern/apply_test.go
  mesheryctl/internal/cli/root/pattern/delete.go
  mesheryctl/internal/cli/root/pattern/delete_test.go
  mesheryctl/internal/cli/root/pattern/list.go
  mesheryctl/internal/cli/root/pattern/list_test.go
  mesheryctl/internal/cli/root/pattern/pattern.go
  mesheryctl/internal/cli/root/pattern/view.go
  mesheryctl/internal/cli/root/pattern/view_test.go
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/apply_test.go
  mesheryctl/internal/cli/root/perf/perf.go
  mesheryctl/internal/cli/root/perf/profile.go
  mesheryctl/internal/cli/root/perf/profile_test.go
  mesheryctl/internal/cli/root/perf/result.go
  mesheryctl/internal/cli/root/perf/result_test.go
  mesheryctl/internal/cli/root/perf/testdata/profile/1011.golden
  mesheryctl/internal/cli/root/perf/testdata/result/1011.golden
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/internal/cli/root/system/config.go
  mesheryctl/internal/cli/root/system/system.go
  mesheryctl/internal/cli/root/system/token.go
  mesheryctl/pkg/utils/auth.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/fixtures/auth.json
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/helpers_test.go
Labels: component/mesheryctl

#4927 [Cl] Update Slack Workflow
  .github/workflows/newcomers-alert.yml
  .github/workflows/slack.yml
Labels: area/ci

#4929 [Patterns] Fix Pattern upload/update issues from the patterns & configurator page
  handlers/meshery_pattern_handler.go
  ui/components/MesheryPatterns.js
  ui/components/configuratorComponents/patternConfigurator.js
  ui/utils/utils.js
Labels: component/ui, component/patterns

#4931 [pattern/url-import] Realtime URL validator for URL import
  ui/components/URLUploader.js
Labels: component/ui, component/patterns

#4925 [Patterns] Query resolver for Get Patterns
  handlers/content_modifier.go
  handlers/meshery_pattern_handler.go
  internal/graphql/generated/generated.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/error.go
  internal/graphql/resolver/pattern.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
  models/default_local_provider.go
  models/providers.go
  models/remote_provider.go
Labels: component/api, framework/graphql

#4913 [UI] Fix : Change UI to send json request for user preferences
  handlers/error.go
  handlers/user_handler.go
  models/preference.go
  ui/components/MesherySettingsPerformanceComponent.js
  ui/components/UserPreferences.js
Labels: component/ui

#4737 update user preferences handler to accept JSON instead of form data
  handlers/error.go
  handlers/user_handler.go
  models/preference.go
Labels: component/api, component/extensions, component/server

#4924 [Docs] Update pages/concepts/architecture/architecture.md
  docs/pages/concepts/architecture/architecture.md
Labels: area/docs

#4876 [mesheryctl] add suggestions for `context switch` invalid arguments
  mesheryctl/internal/cli/root/system/context.go
  mesheryctl/internal/cli/root/system/context_test.go
  mesheryctl/pkg/utils/testing.go
Labels: component/mesheryctl

#4752 [DOCS] Add dropdown arrows in docs Sidebar Menu. #3946
  docs/_data/toc.yml
Labels: area/docs, issue/remind

#4928 [RJSF/Extension] Fix Name and Namespace Fileds
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
Labels: component/ui

#4941 [Fix] Remove Redundant NATS Connections in Subscriptions
  internal/graphql/resolver/control-plane.go
  internal/graphql/resolver/data-plane.go
Labels: framework/graphql

#4934 style changes to text field in RJSF
  go.mod
  go.sum
  provider-ui/package-lock.json
  ui/components/DashboardComponent.js
  ui/components/MesheryMeshInterface/PatternService/EnlargedTextTooltip.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
  ui/package-lock.json
Labels: component/ui

#4905 [mesheryctl] Replaced `adapters` with `components` in meshconfig
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/config/config_test.go
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/internal/cli/root/system/context.go
  mesheryctl/internal/cli/root/system/error.go
  mesheryctl/internal/cli/root/system/fixtures/.meshery/TestContext.yaml
  mesheryctl/internal/cli/root/system/fixtures/.meshery/config.yaml
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/internal/cli/root/system/system.go
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedAdd.yaml
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedDelete.yaml
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedSwitch.yaml
  mesheryctl/internal/cli/root/system/testdata/context/addExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/deleteExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/switchExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/view.golden
  mesheryctl/internal/cli/root/system/testdata/context/viewAllExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/viewWithContextExpected.golden
  mesheryctl/internal/cli/root/system/testdata/reset/TestResetContexts.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_default.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_default_set.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_err.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_set.yaml
  mesheryctl/internal/cli/root/system/testdata/token/delete_default.yaml
  mesheryctl/internal/cli/root/system/testdata/token/delete_err.yaml
  mesheryctl/internal/cli/root/system/testdata/token/list.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set_default.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set_err.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set_reset.yaml
  mesheryctl/internal/cli/root/system/testdata/token/view.yaml
  mesheryctl/pkg/utils/TestConfig.yaml
  mesheryctl/pkg/utils/fixtures/TestConfig.yaml
  mesheryctl/pkg/utils/fixtures/platform/TestChangeEndpointConfig.yaml
  mesheryctl/pkg/utils/fixtures/platform/TestConfig.yaml
  mesheryctl/pkg/utils/fixtures/platform/original/TestChangeEndpointConfig.yaml
  mesheryctl/pkg/utils/fixtures/platform/original/TestConfig.yaml
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/helpers_test.go
  mesheryctl/pkg/utils/platform.go
  mesheryctl/pkg/utils/testdata/platform/changeconfigendpoint.expect.docker.golden
  mesheryctl/pkg/utils/testdata/platform/changeconfigendpoint.expect.kubernetes.golden
  mesheryctl/pkg/utils/testdata/platform/changeplatform.invalid.golden
  mesheryctl/pkg/utils/testdata/platform/changeplatform.valid.golden
Labels: component/mesheryctl

#4667 Moved to meshkit's new gitwalker which doesn't use api.github.com
  models/default_local_provider.go
  models/walker/github.go
Labels: kind/chore

#4952 fixed success message for kubernetes chip
  ui/components/DashboardComponent.js
Labels: component/ui

#4955 Added Error state handling card to sparkline charts also | CU-1yz3q75
  ui/components/GrafanaCustomChart.js
  ui/components/GrafanaCustomCharts.js
Labels: component/ui

#4957 fixed success message on pinging grafana
  go.sum
  ui/components/DashboardComponent.js
Labels: component/ui

#4959 Added flag to control browser behaviour
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#4965 [UI] Swap mailing list with discussion forum link
  ui/components/Navigator.js
  ui/public/static/img/drawer-icons/discuss_forum_svg.js
Labels: component/ui

#4943 [docs] adding documentation for OAM URLS
  docs/_layouts/swagger.html
  docs/_sass/swagger.scss
  docs/pages/reference/rest-api-reference.md
  handlers/doc.go
  handlers/oam_handler.go
Labels: area/docs

#4940 added missing mesheryctl guides
  docs/_data/toc.yml
  docs/pages/guides/mesheryctl/index.md
  docs/pages/guides/mesheryctl/running-system-checks-using-mesheryctl.md
  docs/pages/guides/mesheryctl/working-with-mesheryctl.md
Labels: area/docs

#4970 Fix traefik mesh and istio helm charts
  install/kubernetes/helm/meshery/charts/meshery-istio/README.md
  install/kubernetes/helm/meshery/charts/meshery-istio/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-istio/values.yaml
  install/kubernetes/helm/meshery/charts/meshery-traefik-mesh/README.md
  install/kubernetes/helm/meshery/charts/meshery-traefik-mesh/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-traefik-mesh/values.yaml
Labels: framework/helm

#4975 [RJSF Add validation to the RJSF form | CU-1zgbtk0
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
Labels: component/ui

#4976 [UI} added style prop to MesheryPerformanceComponent component
  ui/components/MesheryPerformance/index.js
Labels: component/ui, component/extensions

#4974 Remove core.Service
  models/pattern/core/register.go
  models/pattern/patterns/k8s/service/service.go
  models/pattern/patterns/patterns.go
  oam/workloads/service.k8s.meshery.layer5.io.schema.json
  oam/workloads/service.k8s_definition.json
Labels: component/patterns

#4973 [UI] shifted the create pattern button to custom-toolbar:
  ui/components/MesheryPatterns.js
Labels: component/ui

#4963 [Perf] [UI] Added Subscription for performance Test
  handlers/load_test_handler.go
  handlers/performance_profiles_handler.go
  internal/graphql/generated/generated.go
  internal/graphql/resolver/error.go
  internal/graphql/resolver/performance.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
  models/handlers.go
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesheryPerformance/PerformanceResults.js
  ui/components/graphql/subscriptions/PerformanceProfilesSubscription.js
  ui/components/graphql/subscriptions/PerformanceResultSubscription.js
  ui/components/graphql/subscriptions/__generated__/PerformanceProfilesSubscription.graphql.js
  ui/components/graphql/subscriptions/__generated__/PerformanceResultSubscription.graphql.js
Labels: component/ui, framework/graphql

#4985 [Extensions] Addition remote config component
  ui/remote-component.config.js
Labels: component/extensions

#4990 [FIX]:UI Aligned in Pattern Configration
  provider-ui/package-lock.json
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
  ui/package-lock.json
Labels: component/ui

#4988 [Chore] Octarine deprecation (partial)
  Makefile
  docker-compose.yaml
  install/deployment_yamls/k8s/meshery-deployment.yaml
  models/default_local_provider.go
  provider-ui/components/ProviderComponent.js
Labels: component/ui, area/lifecycle, service-mesh/octarine

#4980 Updated the get token part
  docs/pages/extensibility/api.md
Labels: area/docs

#4997 [Docs] API: Authentication tokens - incorporated feedback
  docs/pages/extensibility/api.md
Labels: area/docs, component/api

#4999 Upgrade github.com/layer5io/nighthawk-go to v0.5.0
  go.mod
  go.sum
  helpers/load_test_interface.go
Labels: area/performance

#5011 set cursor to pointer
  provider-ui/package-lock.json
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/package-lock.json
Labels: component/ui

#5013 fixed zIndex of the service-mesh selector
  ui/components/configuratorComponents/CustomBreadCrumb.js
Labels: component/ui

#5010 [UI] removed the configuration/edit button
  ui/components/MesheryApplications.js
Labels: component/ui

#5016 [UI] Prevent duplicate snackbar 🐛 bug fix
  ui/components/DashboardComponent.js
  ui/components/MeshConfigComponent.js
Labels: component/ui

#5017 [UI]: Refactors meshery docs footer to match with Layer5 and Meshery websites.
  docs/_includes/footer.html
  docs/assets/css/main.css
Labels: area/docs

#5018 feat: add rjsf-json-schema-builder
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
  ui/components/MesheryMeshInterface/helpers.js
  ui/components/configuratorComponents/patternConfigurator.js
Labels: component/ui, rjsf
