Repository meshery/meshery, pull requests merged in 2022-07, with the labels that each got.

#5680 [Refactor] Improve Meshsync data handling, controllers handling and GraphQL
  cmd/main.go
  handlers/error.go
  handlers/handler_instance.go
  handlers/k8sconfig_handler.go
  handlers/middlewares.go
  helpers/component_info.json
  helpers/kubernetes.go
  internal/graphql/generated/generated.go
  internal/graphql/model/error.go
  internal/graphql/model/helpers.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/meshery_controllers.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
  models/error.go
  models/handlers.go
  models/k8s_components_registration.go
  models/meshery_controllers.go
  models/meshsync_events.go
  models/pattern/core/register.go
  models/providers.go
  notes.txt
  router/server.go
  ui/components/Header.js
  ui/components/graphql/subscriptions/MeshSyncEventsSubscription.js
  ui/components/graphql/subscriptions/MesheryControllersStatusSubscription.js
  ui/components/graphql/subscriptions/__generated__/MeshSyncEventsSubscription.graphql.js
  ui/components/graphql/subscriptions/__generated__/MesheryControllersStatusSubscription.graphql.js
Labels: component/ui, component/meshsync

#5748 fixed the upload of image for docker extension
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
Labels: component/extensions

#5639 Upgrade k8s.io to 0.24
  go.mod
  go.sum
Labels: dependencies

#5750 Invalidates image import as kubeconfig file
  ui/components/MeshConfigComponent.js
Labels: component/ui

#5743 [Server] Lint Fix
  cmd/main.go
  handlers/k8sconfig_handler.go
  handlers/middlewares.go
  internal/graphql/resolver/schema.resolvers.go
  models/k8s_components_registration.go
  models/meshery_controllers.go
  models/providers.go
  models/remote_provider.go
Labels: kind/chore, language/go

#5745 Add version to component
  models/pattern/core/pattern.go
Labels: component/patterns, component/server

#5761 [UI] Delete and Update bug fix for applications
  ui/components/Filters.js
  ui/components/MesheryApplications.js
Labels: component/applications, component/ui, component/filters

#5763 Changed the order of image
  install/docker-extension/Dockerfile
Labels: component/extensions

#5724 Fixed broken link
  docs/pages/functionality/management.md
Labels: area/docs

#5679 [mesheryctl] Fix `app onboard` silent fail
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/onboard.go
  mesheryctl/internal/cli/root/pattern/apply.go
Labels: component/mesheryctl

#5717 [Docs] Add KubeSphere App Store as a supported platform for Meshery
  docs/_data/toc.yml
  docs/assets/img/platforms/Meshery-app-running.png
  docs/assets/img/platforms/Meshery-info.png
  docs/assets/img/platforms/Meshery-install.png
  docs/assets/img/platforms/Meshery-service.png
  docs/assets/img/platforms/Meshery-yaml.png
  docs/assets/img/platforms/kubesphere.png
  docs/assets/img/platforms/meshery-app.png
  docs/assets/img/platforms/meshery-dashboard.png
  docs/pages/installation/kubesphere.md
  docs/pages/installation/platforms.md
Labels: area/docs

#5779 [UI] Update confiratmion modal title background color
  ui/components/ConfirmationModal.js
Labels: component/ui

#5765 [UI] Make UI consistent
  ui/components/ConfirmationModal.js
  ui/components/Filters.js
  ui/components/Header.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryApplications.js
  ui/components/MesheryApplications/ApplicationsGrid.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/NavigatorExtension.js
  ui/lib/data-fetch.js
  ui/public/static/img/UndeployIcon.js
  ui/utils/utils.js
Labels: component/ui

#5762 Highlight current tab on scroll in table of content in navigation
  docs/_includes/toc.html
  docs/assets/css/main.css
  docs/v0.5/installation/quick-start.html
Labels: area/docs

#5780 Missing a "git" in the command in docs/readme
  docs/README.md
Labels: area/docs

#5781 state fixed For docker extension
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
Labels: component/extensions

#5793 Fix version issue in pattern configurator
  ui/components/MesheryPatterns.js
  ui/components/ViewSwitch.js
  ui/components/configuratorComponents/patternConfigurator.js
  ui/utils/workloadFilter.js
Labels: component/ui, component/patterns

#4956 Fix capture and handle expired token
  Makefile
  handlers/middlewares.go
  handlers/provider_handler.go
  models/default_local_provider.go
  models/providers.go
  models/remote_provider.go
  provider-ui/pages/auth/login.js
  router/server.go
Labels: component/ui

#5794 [e2e test] Filter deploy fix after Modal operations
  ui/components/ConfirmationModal.js
  ui/components/Filters.js
  ui/cypress/integration/e2e/service_mesh_configuration_management_spec.js
  ui/utils/utils.js
Labels: component/ui

#5799 [UI]Name and namefield text field backColor opacity change
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
Labels: component/ui

#5789 [UI] "Undeploy" checkmark color has changed
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
Labels: component/ui

#5807 Upgrade meshkit
  go.mod
  go.sum
Labels: kind/chore, dependencies

#5808 Fix application import
  ui/components/MesheryApplications.js
Labels: component/applications, component/ui

#5820 [UI]Background Color of Setting nav in design configurator changed
  ui/components/MesheryMeshInterface/PatternServiceForm.js
Labels: component/ui

#5692 Add support for importing helm chart via URL on application page
  handlers/meshery_application_handler.go
Labels: component/applications

#5809 fixed the repetition in table of contents
  docs/pages/concepts/index.md
  docs/pages/guides/index.md
  docs/pages/project/index.md
  docs/pages/reference/index.md
Labels: area/docs

#5826 [CI] Add global GIT_STRIPPED_VERSION
  install/Makefile.core.mk
Labels: area/ci

#5681 [Refactor] Updated Dashboard page
  ui/pages/index.js
Labels: component/ui, ui-refactor

#5806 Disable un/deploy operation when no contexts detected.
  ui/components/ConfirmationModal.js
Labels: component/ui

#5830 fix(ui): whitespace in context switcher
  ui/components/CustomAvatar.js
  ui/components/Header.js
Labels: component/ui

#5838 [UI] consistent width between all the items in ctxswitcher
  ui/components/Header.js
Labels: component/ui

#5841 Keep the type of the services to be same.
  install/kubernetes/helm/meshery-operator/values.yaml
Labels: framework/helm

#5804 Fix improper k8s to pattern conversion
  go.sum
  models/pattern/core/pattern.go
Labels: component/applications

#5676 [Refactor] Lifecycle Page
  ui/components/MesheryMetrics/index.js
  ui/components/Paper.js
  ui/components/ReactSelectWrapper.js
  ui/package.json
  ui/pages/management.js
Labels: component/ui, ui-refactor

#5847 fix[UI]: change the color and contents for reset data
  ui/components/MesherySettings.js
  ui/components/PromptComponent.js
Labels: component/ui

#5739 [UI-Refactor] Navigation: fix minor bugs in nav
  ui/components/Navbar/Navbar.js
Labels: component/ui, ui-refactor

#5749 [Refactor] Made user prefrences page
  ui/components/UserPrefrences/MesherySettingsPerformanceComponent.js
  ui/components/UserPrefrences/index.js
  ui/pages/user/prefrences.js
Labels: component/ui, ui-refactor

#5843 [CI] Fix golang unit tests
  mesheryctl/internal/cli/root/app/fixtures/apply.patternSave.response.golden
  mesheryctl/internal/cli/root/app/fixtures/sampleApp.golden
  mesheryctl/internal/cli/root/app/offboard_test.go
  mesheryctl/internal/cli/root/app/onboard_test.go
  mesheryctl/internal/cli/root/app/testdata/offboard.output.golden
  mesheryctl/internal/cli/root/system/context_test.go
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedAdd.yaml
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedSwitch.yaml
  mesheryctl/internal/cli/root/system/testdata/context/addExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/deleteExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/switchExpected.golden
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/helpers_test.go
Labels: component/mesheryctl

#5833 [Refactor] Bumped theming version from v4 to v5
  ui/styles/theme.js
Labels: component/ui, ui-refactor

#5695 [UI] add user avatar in header
  ui/app/store.js
  ui/components/Header/Header.js
  ui/components/Header/Header.styles.js
  ui/components/User.js
  ui/features/user/index.js
  ui/features/user/userSlice.js
  ui/utils/extensionPointSchemaValidator.js
Labels: component/ui, ui-refactor

#5869 [UI] Static Assets: custom font
  ui/public/static/fonts/qanelas-soft/QanelasSoftBlack.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftBlackItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftBold.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftBoldItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftExtraBold.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftExtraBoldItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftHeavy.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftHeavyItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftLight.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftLightItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftMedium.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftMediumItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftRegular.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftRegularItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftSemiBold.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftSemiBoldItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftThin.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftThinItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftUltraLight.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftUltraLightItalic.otf
Labels: component/ui

#5854 Misleading error on invalid meshconfig
  mesheryctl/internal/cli/root/config/config.go
Labels: component/mesheryctl, area/ux

#5868 Updated empty state of confirmation modal | CU-2kcvd3c
  ui/assets/img/Operator.js
  ui/components/ConfirmationModal.js
Labels: component/ui

#5867 [Server] Multi-Cluster: Fix k8s context duplication
  handlers/k8sconfig_handler.go
Labels: component/server

#5879 [Refactor] Added uploadImport and ViewSwitch
  ui/components/UploadImport.js
  ui/components/ViewSwitch.js
  ui/pages/user/preferences.js
  ui/public/static/img/UndeployIcon.js
  ui/styles/theme.js
Labels: component/ui, ui-refactor

#5686 GraphQL subscriptions PR #5657
  cmd/main.go
  go.mod
  internal/graphql/graphql.go
  internal/graphql/model/helpers.go
  internal/graphql/resolver/addons.go
  internal/graphql/resolver/control-plane.go
  internal/graphql/resolver/data-plane.go
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/operator.go
  internal/graphql/resolver/resolver.go
  internal/graphql/resolver/schema.resolvers.go
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
Labels: component/ui, framework/graphql

#5835 Solves Session Expired Modal
  provider-ui/pages/auth/login.js
Labels: component/ui

#5878 [CI] Makefile dependency check
  Makefile
Labels: kind/chore, area/ci, language/go

#5871 tools section gets hidden in many components of docs
  docs/assets/css/main.css
Labels: area/docs

#5877 fix(mesheryctl): automatically create meshconfig if not present
  mesheryctl/internal/cli/root/root.go
Labels: component/mesheryctl

#5890 fix(lint): fix problems by whitespace linter
  internal/graphql/resolver/addons.go
  internal/graphql/resolver/control-plane.go
  internal/graphql/resolver/data-plane.go
  internal/graphql/resolver/operator.go
Labels: kind/chore, language/go

#5889 [RJSF] Fix duplicate prop assignment in rjsf
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
Labels: component/ui, library/rjsf

#5892 Added logic to view switch
  ui/components/ViewSwitch.js
Labels: component/ui

#5891 Update Patterns to Designs in Delete Modal and Toaster
  ui/components/MesheryPatterns.js
Labels: component/ui

#5898 Remove kubeopenapi-jsonschema binary from Dockerfile
  install/docker/Dockerfile
Labels: area/ci

#5842 [UI] Replaced Confirmation Modal's Undeploy Color
  ui/components/ConfirmationModal.js
Labels: component/ui

#5903 [UI] Confirmation modal deploy and undeploy color update
  ui/components/ConfirmationModal.js
Labels: component/ui

#5885 [Meshery-Extension] setup single source of truth for svgs
  provider-ui/package-lock.json
  ui/package-lock.json
  ui/public/static/img/component-svg/_.txt
  ui/public/static/img/component-svg/kubernetes/cluster-role-binding.svg
  ui/public/static/img/component-svg/kubernetes/cluster-role.svg
  ui/public/static/img/component-svg/kubernetes/core-dns.svg
  ui/public/static/img/component-svg/kubernetes/cronjob.svg
  ui/public/static/img/component-svg/kubernetes/daemonset.svg
  ui/public/static/img/component-svg/kubernetes/etcd.svg
  ui/public/static/img/component-svg/kubernetes/kubernetes.svg
  ui/public/static/img/component-svg/kubernetes/pod.svg
  ui/public/static/img/component-svg/kubernetes/secret.svg
  ui/public/static/img/component-svg/kubernetes/volume.svg
  ui/public/static/img/component-svg/meshery.svg
  ui/public/static/img/component-svg/meshsync.svg
  ui/public/static/img/component-svg/nats.svg
  ui/public/static/img/component-svg/operator.svg
  ui/public/static/img/component-svg/service-mesh/appmesh.svg
  ui/public/static/img/component-svg/service-mesh/cilium.svg
  ui/public/static/img/component-svg/service-mesh/consul.svg
  ui/public/static/img/component-svg/service-mesh/istio.svg
  ui/public/static/img/component-svg/service-mesh/kuma.svg
  ui/public/static/img/component-svg/service-mesh/linkerd-icon.svg
  ui/public/static/img/component-svg/service-mesh/linkerd.svg
  ui/public/static/img/component-svg/service-mesh/nginx.svg
  ui/public/static/img/component-svg/service-mesh/osm.svg
  ui/public/static/img/component-svg/service-mesh/traefik.svg
Labels: component/ui

#5816 feat(ci): update release workflow to bump homebrew-core formula
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#5907 Fixed valid meshconfig error
  mesheryctl/internal/cli/root/root.go
Labels: component/mesheryctl

#5909 Revert "feat(ci): update release workflow to bump homebrew-core formula"
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#5899 Added Details to Applications/Filters
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryApplications/ApplicationsGrid.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryPatterns.js
  ui/components/UploadImport.js
Labels: component/applications, component/ui, component/filters

#5846 [UI] - Fixed YAML text overlapping
  ui/components/FlipCard.js
  ui/components/MesheryApplications/ApplicationsCard.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
Labels: component/ui, issue/remind

#5901 [Refactor] Solved an Error
  ui/styles/theme.js
Labels: component/ui, ui-refactor

#5920 [UI]Successfully removed the hardcoded edge-edge-latest version
  ui/components/Navigator.js
Labels: component/ui

#5918 Revert "Revert "feat(ci): update release workflow to bump homebrew-core formula
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#5924 chore: update docs for mesheryctl installation via homebrew
  docs/pages/es/installation/index.md
  docs/pages/guides/mesheryctl/working-with-mesheryctl.md
  docs/pages/installation/mesheryctl.md
Labels: area/docs

#5926 [Bug]Fix unresolved references for Version field
  models/pattern/stages/filler.go
Labels: component/patterns
