Repository meshery/meshery, pull requests merged in 2022-10, with the labels that each got.

#6304 Export material ui avatar components
  ui/remote-component.config.js
Labels: component/ui, component/extensions

#6276 Allow to delete last cluster
  ui/components/Header.js
  ui/components/MeshConfigComponent.js
Labels: component/ui

#6306 Displaying k8s context name on Meshsync modal
  ui/components/MeshConfigComponent.js
Labels: component/ui

#6307 [Docs] HTML error in Compatibility Matrix
  docs/pages/project/compatibility_matrix/compatibility.md
Labels: area/docs

#6313 Updated Text
  docs/pages/guides/deploying-sample-apps.md
Labels: area/docs

#6321 Namespace Node SVG update.
  ui/public/static/img/component-svg/kubernetes/namespace.svg
Labels: component/ui

#6320 Updating the docs for authentication via CLI
  docs/pages/guides/mesheryctl/authenticate-with-meshery-via-cli.md
Labels: area/docs

#6329 [eslint]: fix eslint errrors that was stopping the dev server
  ui/components/DashboardComponent.js
  ui/pages/extensions.js
Labels: component/ui

#6289 Bug fix [UI] Make button responsive for Designs card
  ui/components/MesheryPatterns/Cards.styles.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
Labels: component/ui

#6315 [refactor] ioutil package to io/os
  mesheryctl/pkg/utils/portforward.go
  server/handlers/component_handler.go
  server/handlers/k8sconfig_handler.go
  server/handlers/meshery_filter_handler.go
  server/handlers/meshery_pattern_handler.go
  server/models/default_local_provider.go
  server/models/k8s_context.go
  server/models/pattern/core/register.go
  server/models/remote_auth.go
  server/models/remote_provider.go
Labels: component/mesheryctl, component/server

#6326 Updating the go version in Contributing docs
  CONTRIBUTING.md
Labels: area/docs

#6258 [Server] Backend for catalog for local provider
  server/internal/graphql/generated/generated.go
  server/internal/graphql/resolver/schema.resolvers.go
  server/internal/graphql/schema/schema.graphql
  server/models/default_local_provider.go
  server/models/meshery_filter.go
  server/models/meshery_filter_persister.go
  server/models/meshery_pattern.go
  server/models/meshery_pattern_persister.go
Labels: component/server

#6256 Update github tag retrieval
  .github/workflows/helm-chart-releaser.yml
Labels: area/ci, framework/helm

#6237 Implement websocket signalling for collaboration
  server/handlers/pattern_collab_handler.go
  server/models/handlers.go
  server/router/server.go
Labels: component/server

#6089 [Reactor] Added graphql queries for the configuration and fetch data in Application and Designs
  ui/components/ApplicationComponents/MesheryApplications.js
  ui/components/Patterns/MesheryPatternGrid.js
  ui/components/Patterns/MesheryPatternTable.js
  ui/components/Patterns/MesheryPatterns.js
  ui/features/Configurations/subscriptions/ConfigurationSubscription.js
  ui/features/Configurations/subscriptions/__generated__/ConfigurationSubscription.graphql.js
  ui/features/applications/ApplicationsQuery.js
Labels: component/ui, ui-refactor

#6087 [Refactor] Grid view for Filters
  ui/components/Filters/MesheryFilterGrid.js
Labels: component/ui, ui-refactor

#6322 Text Updated
  docs/pages/extensibility/extensibility.md
Labels: area/docs

#6338 [UI] Inject Prompt Component
  ui/components/NavigatorExtension.js
Labels: component/ui

#6343 Two Columns Layout prettify
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomUpDownWidget.js
  ui/themes/rjsf.js
Labels: component/ui

#6346 [CI] Fixed Cypress check failing to initiate tests
  ui/package-lock.json
Labels: component/ui

#6345 [Meshsync] Populate the context name in meshsync correctly.
  ui/components/MeshConfigComponent.js
Labels: component/ui

#6348 [Feat] Add support for visualizing state machines
  ui/package-lock.json
  ui/package.json
  ui/pages/_app.js
Labels: component/ui, component/extensions

#6314 [Design Configurator] Add Name, Namespace, Annotations and Labels in the RJSF form in Meshery UI
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/helper.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
  ui/components/MesheryMeshInterface/helpers.js
  ui/components/MesheryPatterns.js
  ui/components/configuratorComponents/patternConfigurator.js
Labels: component/ui, library/rjsf

#6342 Upgrade to Go 1.19
  .github/workflows/build-and-preview-site.yml
  .github/workflows/build-and-release-dde.yml
  .github/workflows/build-and-release-edge.yml
  .github/workflows/build-and-release-stable.yml
  .github/workflows/build-ui-and-server.yml
  .github/workflows/build-ui-server-reusable-workflow.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/error-codes-updater.yaml
  .github/workflows/go-testing-ci.yml
  .github/workflows/graphql.yml
  .github/workflows/helm-chart-releaser.yml
  .github/workflows/label-commenter.yml
  .github/workflows/mesheryctl-ci.yml
  .github/workflows/mesheryctl-e2e.yaml
  .github/workflows/multi-platform.yml
  .github/workflows/preview-site.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-notes.yml
  .github/workflows/swagger.yml
  .github/workflows/test_adapters.yaml
  .github/workflows/test_adaptersv2.yaml
  .github/workflows/testadapters.yaml
  CHANGELOG.md
  Makefile
  go.mod
  install/Makefile.core.mk
  install/docker-extension/Dockerfile
  install/docker-extension/go.mod
  install/docker/Dockerfile
  server/handlers/pattern_collab_handler.go
  server/internal/graphql/resolver/schema.resolvers.go
Labels: hacktoberfest, area/ci, language/go, area/lifecycle, component/extensions, component/server, go1.19

#6344 [Meshery Settings] Fix Operator, Meshsync status events
  server/internal/graphql/model/operator_helper.go
  ui/components/MeshConfigComponent.js
Labels: component/ui, component/server

#6354 Added Artifact hub/Clomonitor badge to Meshery repo
  README.md
Labels: area/docs, hacktoberfest

#6362 [rjsf] Sorting Logic for rjsf
  ui/components/MesheryMeshInterface/PatternService/index.js
Labels: component/ui, library/rjsf

#6368 Removed the margin from all SVG.
  ui/public/static/img/component-svg/kubernetes/cluster-role-binding_white.svg
  ui/public/static/img/component-svg/kubernetes/cluster-role_white.svg
  ui/public/static/img/component-svg/kubernetes/cronjob_white.svg
  ui/public/static/img/component-svg/kubernetes/daemonset_white.svg
  ui/public/static/img/component-svg/kubernetes/kubernetes-white-vector.svg
  ui/public/static/img/component-svg/meshery-white-vector.svg
  ui/public/static/img/component-svg/meshsync-white.svg
  ui/public/static/img/component-svg/meshsync.svg
  ui/public/static/img/component-svg/service-mesh/appmesh-white-vector.svg
  ui/public/static/img/component-svg/service-mesh/cilium-white-vector.svg
  ui/public/static/img/component-svg/service-mesh/cilium_white.svg
  ui/public/static/img/component-svg/service-mesh/consul-white-vector.svg
  ui/public/static/img/component-svg/service-mesh/istio-white-vector.svg
  ui/public/static/img/component-svg/service-mesh/kuma-white-vector.svg
  ui/public/static/img/component-svg/service-mesh/linkerd-white-vector.svg
  ui/public/static/img/component-svg/service-mesh/nginx-white-vector.svg
  ui/public/static/img/component-svg/service-mesh/osm-white-vector.svg
  ui/public/static/img/component-svg/service-mesh/traefik-mesh-white-vector.svg
Labels: component/ui

#6371 Remove redundant fields from Application and fix lables bug
  server/models/pattern/core/pattern.go
  server/models/pattern/patterns/application/application.go
  server/models/pattern/patterns/application/argo.go
  server/models/pattern/patterns/k8s/k8s.go
  server/models/pattern/stages/provision.go
  server/oam/workloads/application.meshery.layer5.io.schema.json
Labels: component/server

#6364 Revert "[Feat] Add support for visualizing state machines "
  ui/package-lock.json
  ui/package.json
  ui/pages/_app.js
Labels: component/ui

#6355 [chore] Fix resync cluster on flushing MeshSync data
  ui/components/MeshConfigComponent.js
Labels: kind/chore, hacktoberfest, component/ui, component/meshsync

#6376 [Docs] Consul adapter added to matrix and (NA) icon introduced
  docs/assets/img/na-icon.svg
  docs/pages/project/compatibility_matrix/compatibility.md
  docs/pages/project/compatibility_matrix/consul-past-results.md
Labels: area/docs

#6374 [mesheryctl] Fix incorrect k8s config response handling
  mesheryctl/internal/cli/root/system/config.go
Labels: component/mesheryctl

#6361 Upgrade Meshkit and Operator
  go.mod
  go.sum
Labels: hacktoberfest, component/meshsync

#6390 Fixed Typo
  docs/pages/extensibility/providers.md
Labels: area/docs

#6384 [Server] Improve error handling of invalid tokens
  server/models/remote_provider.go
Labels: component/server

#6380 [Docs] Remove reference to deprecated package in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: kind/chore, hacktoberfest, language/go

#6396 [chore] Fix Improper tags for Meshery Docker Extension
  .github/workflows/build-and-release-dde.yml
Labels: kind/chore, area/ci

#6404 New svg for the Service Account
  ui/public/static/img/component-svg/kubernetes/security-account_white.svg
  ui/public/static/img/component-svg/service-mesh/istio_white.svg
Labels: component/ui

#6405 Update test_adapters.yaml `k8s_versions`
  .github/workflows/test_adapters.yaml
Labels: area/ci

#6360 [rjsf] Styles fixes
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomUpDownWidget.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
  ui/themes/rjsf.js
Labels: hacktoberfest, component/ui

#6412 Remove `testadapters.yaml`
  .github/workflows/testadapters.yaml
Labels: area/ci

#6392 Fixing the key prop warnings in other components
  ui/components/ConnectionWizard/Screens/MetricsScreen.js
  ui/components/DashboardComponent.js
  ui/components/ExtensionSandbox.js
  ui/components/GrafanaCharts.js
  ui/components/GrafanaCustomCharts.js
  ui/components/GrafanaDateRangePicker.js
  ui/components/GrafanaSelectionComponent.js
  ui/components/Header.js
  ui/components/MeshAdapterConfigComponent.js
  ui/components/MesheryMeshInterface/index.js
  ui/components/MesheryNotification.js
  ui/components/MesheryPerformance/index.js
  ui/components/MesheryResultDialog.js
  ui/components/MesherySMIResults.js
  ui/components/PrometheusSelectionComponent.js
Labels: component/ui, component/extensions

#6341 [Server] Support for publishing to catalog
  server/handlers/error.go
  server/handlers/meshery_filter_handler.go
  server/handlers/meshery_pattern_handler.go
  server/helpers/component_info.json
  server/helpers/swagger.yaml
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/meshery_filter.go
  server/models/meshery_pattern.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
Labels: hacktoberfest, component/api, component/server

#6398 Remove collaboration endpoint
  server/handlers/pattern_collab_handler.go
  server/models/handlers.go
  server/router/server.go
Labels: component/server

#6388 [Extension] Fix Bugs in Extension Points
  ui/components/ExtensionSandbox.js
  ui/components/Header.js
  ui/components/Navigator.js
  ui/components/User.js
  ui/lib/store.js
  ui/pages/_app.js
  ui/pages/extension/[component].js
Labels: kind/bug, component/ui, component/extensions

#6422 [UI] Removal of unused variables with comments
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ArrayFieldTemlate.js
Labels: component/ui, event/hacktoberfest-accepted

#6375 Changed size and Removed Extra SVG
  ui/public/static/img/component-svg/kubernetes/cluster-role-binding.svg
  ui/public/static/img/component-svg/kubernetes/cluster-role-binding_white.svg
  ui/public/static/img/component-svg/kubernetes/cluster-role.svg
  ui/public/static/img/component-svg/kubernetes/cluster-role_white.svg
  ui/public/static/img/component-svg/kubernetes/core-dns-circle.svg
  ui/public/static/img/component-svg/kubernetes/core-dns.svg
  ui/public/static/img/component-svg/kubernetes/cronjob.svg
  ui/public/static/img/component-svg/kubernetes/cronjob_white.svg
  ui/public/static/img/component-svg/kubernetes/daemonset.svg
  ui/public/static/img/component-svg/kubernetes/daemonset_white.svg
  ui/public/static/img/component-svg/kubernetes/deployment.svg
  ui/public/static/img/component-svg/kubernetes/etcd-circle.svg
  ui/public/static/img/component-svg/kubernetes/etcd.svg
  ui/public/static/img/component-svg/kubernetes/kubernetes-white-vector.svg
  ui/public/static/img/component-svg/kubernetes/kubernetes.svg
  ui/public/static/img/component-svg/kubernetes/kubernetes_white.svg
  ui/public/static/img/component-svg/kubernetes/namespace.svg
  ui/public/static/img/component-svg/kubernetes/node.svg
  ui/public/static/img/component-svg/kubernetes/pod.svg
  ui/public/static/img/component-svg/kubernetes/secret.svg
  ui/public/static/img/component-svg/kubernetes/security-account.svg
  ui/public/static/img/component-svg/kubernetes/security-account_white.svg
  ui/public/static/img/component-svg/kubernetes/service.svg
  ui/public/static/img/component-svg/kubernetes/volume.svg
  ui/public/static/img/component-svg/meshery-white-vector.svg
  ui/public/static/img/component-svg/meshery.svg
  ui/public/static/img/component-svg/meshery_white.svg
  ui/public/static/img/component-svg/meshsync-full.svg
  ui/public/static/img/component-svg/meshsync.svg
  ui/public/static/img/component-svg/nats-full.svg
  ui/public/static/img/component-svg/operator-light-full.svg
  ui/public/static/img/component-svg/service-mesh/appmesh-white-vector.svg
  ui/public/static/img/component-svg/service-mesh/appmesh.svg
  ui/public/static/img/component-svg/service-mesh/appmesh_white.svg
  ui/public/static/img/component-svg/service-mesh/cilium-white-vector.svg
  ui/public/static/img/component-svg/service-mesh/cilium.svg
  ui/public/static/img/component-svg/service-mesh/cilium_white.svg
  ui/public/static/img/component-svg/service-mesh/consul-white-vector.svg
  ui/public/static/img/component-svg/service-mesh/consul.svg
  ui/public/static/img/component-svg/service-mesh/consul_white.svg
  ui/public/static/img/component-svg/service-mesh/istio-white-vector.svg
  ui/public/static/img/component-svg/service-mesh/istio.svg
  ui/public/static/img/component-svg/service-mesh/istio_white.svg
  ui/public/static/img/component-svg/service-mesh/kuma-white-vector.svg
  ui/public/static/img/component-svg/service-mesh/kuma.svg
  ui/public/static/img/component-svg/service-mesh/kuma_white.svg
  ui/public/static/img/component-svg/service-mesh/linkerd-white-vector.svg
  ui/public/static/img/component-svg/service-mesh/linkerd.svg
  ui/public/static/img/component-svg/service-mesh/linkerd_white.svg
  ui/public/static/img/component-svg/service-mesh/nginx-white-vector.svg
  ui/public/static/img/component-svg/service-mesh/nginx.svg
  ui/public/static/img/component-svg/service-mesh/nginx_white.svg
  ui/public/static/img/component-svg/service-mesh/os.svg
  ui/public/static/img/component-svg/service-mesh/osm.svg
  ui/public/static/img/component-svg/service-mesh/osm_white.svg
  ui/public/static/img/component-svg/service-mesh/traefik-mesh.svg
  ui/public/static/img/component-svg/service-mesh/traefik-mesh_white.svg
  ui/public/static/img/component-svg/service-mesh/traefik.svg
Labels: component/ui

#6379 [RJSF] Migration v3-v5, Validation Error Fixes
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ArrayFieldTemlate.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomUpDownWidget.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/WrapIfAdditionalTemplate.js
  ui/components/MesheryMeshInterface/PatternService/RJSF_wrapper.js
  ui/components/MesheryMeshInterface/PatternService/index.js
  ui/components/MesheryMeshInterface/helpers.js
  ui/components/MesheryPatterns.js
  ui/package-lock.json
  ui/package.json
  ui/pages/system/connections.js
  ui/patches/@rjsf+core+5.0.0-beta.11.patch
  ui/patches/@rjsf+validator-ajv6+5.0.0-beta.11.patch
Labels: component/ui, priority/high, library/rjsf

#6425 Fix skipped operator uninstall from mesheryctl on failed meshery unin…
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#6402 Updated protobuf build in Makefile
  CONTRIBUTING.md
  Makefile
  go.sum
  server/meshes/meshops.pb.go
  server/meshes/meshops_grpc.pb.go
Labels: component/server

#6423 [bug] Fix UI crash due to K8s context search in modal
  ui/components/ConfirmationModal.js
Labels: kind/bug, component/ui, pr/draft

#6427 Fix context search in modal
  ui/components/ConfirmationModal.js
Labels: component/ui

#6428 Specific Version Update
  docs/pages/project/contributing/contributing-cli.md
Labels: area/docs

#6429 Fix manual chart release
  .github/workflows/helm-chart-releaser.yml
Labels: area/ci

#6387 [MeshModel] Add workflow and script to generate components | CU-3yvwk9h
  .github/workflows/generators.yml
  scripts/component_generation/go.mod
  scripts/component_generation/go.sum
  scripts/component_generation/main.go
Labels: area/ci, component/patterns

#6421 [Server] Refactoring of Function Comments
  server/handlers/content_modifier.go
Labels: component/server

#6438 [UI] Reducing the size of clone Icon
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryPatterns/Cards.styles.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
Labels: component/ui

#6448 Updated adapter and general concept documentation pages
  docs/_adapters/consul/consul.md
  docs/_adapters/nginx-sm.md
  docs/pages/concepts/architecture/broker.md
  docs/pages/concepts/architecture/database.md
  docs/pages/concepts/architecture/operator.md
  docs/pages/extensibility/adapters.md
  docs/pages/extensibility/api.md
  docs/pages/extensibility/ui.md
Labels: area/docs

#6452 Increased Istio logo size
  ui/public/static/img/istio-light.svg
  ui/public/static/img/istio-white.svg
  ui/public/static/img/istio.svg
Labels: component/ui

#6454 [rjsf] additionalProperties Key/Value
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
Labels: component/ui
