Repository meshery/meshery, pull requests merged in 2022-11, with the labels that each got.

#6461 fixed osm logo
  provider-ui/package-lock.json
  ui/package-lock.json
  ui/public/static/img/component-svg/service-mesh/osm.svg
Labels: component/ui

#6462 [extension] Update redux store var for every child ext of useraccount
  ui/components/User.js
Labels: component/ui, component/extensions

#6323 [mesheryctl] improve the error messages shown to users for "mesheryctl pattern"
  mesheryctl/internal/cli/root/pattern/delete.go
  mesheryctl/internal/cli/root/pattern/pattern.go
  mesheryctl/internal/cli/root/pattern/view.go
  mesheryctl/internal/cli/root/system/error.go
  mesheryctl/pkg/utils/error.go
Labels: component/mesheryctl, language/go

#6476 Fix prettification logic
  server/models/pattern/core/register.go
  server/models/pattern/patterns/k8s/k8s.go
  server/models/pattern/stages/validate.go
Labels: component/server

#6477 deprecate meshery/homebrew-tap
  .goreleaser.yml
Labels: component/mesheryctl, area/ci

#6453 [Fix] Improve verbiage used in snackbar notifications for content operations
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryApplications/ApplicationsGrid.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/package-lock.json
  ui/utils/Enum.js
Labels: hacktoberfest, component/ui

#6460 [Playground] Allow the limited functionality in Playground Interface
  Makefile
  server/cmd/main.go
  server/models/providers.go
  server/models/remote_provider.go
  ui/components/Header.js
  ui/components/Navigator.js
  ui/components/NavigatorExtension.js
  ui/constants/colors.js
  ui/constants/navigator.js
  ui/css/disableComponent.styles.js
  ui/lib/data-fetch.js
  ui/lib/store.js
  ui/next.config.js
  ui/package.json
  ui/pages/_app.js
  ui/themes/app.js
  ui/utils/disabledComponents.js
Labels: component/ui, component/server

#6440 Add Env variable for Enforcing provider
  Makefile
  docs/pages/extensibility/providers.md
  docs/v0.4/extensibility/api.html
  docs/v0.4/extensibility/providers.html
  docs/v0.4/search/index.html
  docs/v0.5/extensibility/providers.html
  docs/v0.5/search/index.html
  install/Makefile.core.mk
  server/cmd/main.go
  server/handlers/handler_instance.go
  server/handlers/middlewares.go
  server/models/handlers.go
  server/router/server.go
Labels: area/docs, area/lifecycle, component/api, component/server

#6484 [fix] Fix golangci-lint tests
  .github/workflows/build-ui-and-server.yml
  .github/workflows/mesheryctl-ci.yml
Labels: area/ci, language/go

#6479 [WIP] Tracking cookies to add a Popup in Meshery
  ui/components/DashboardComponent.js
  ui/components/Popup.js
  ui/package-lock.json
  ui/package.json
  ui/public/static/img/designer-canvas.png
  ui/public/static/img/designer-drawer.png
Labels: component/ui, pr/draft

#6486 [Fix] fix next build failure in ci
  .gitignore
  ui/next.config.js
Labels: component/ui

#6487 fix ui crash in extension
  ui/components/NavigatorExtension.js
Labels: component/ui

#6489 docker fix
  install/docker/Dockerfile
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#6490 [chore] Update Dynamic Route to catch multiple segments
  server/handlers/ui_handler.go
  ui/components/ExtensionSandbox.js
  ui/components/NavigatorExtension.js
  ui/pages/extension/[...component].js
Labels: kind/chore, component/ui, component/extensions, component/server

#6492 [Config Tooltip] 🐛 bugs fixes
  ui/components/MesheryMeshInterface/helpers.js
  ui/themes/rjsf.js
Labels: component/ui

#6499 fix: openssl-legacy-provider flag causing errors on doing ui-build in macos
  Makefile
  ui/package.json
Labels: component/ui

#6481 Fixing behaviour of object in array
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/Accordion.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/components/MesheryMeshInterface/PatternService/index.js
Labels: component/ui

#6498 Fix test adapter pipeline workflow
  .github/workflows/test_adaptersv2.yaml
Labels: area/ci

#6495 fix to field template [rjsf]
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ArrayFieldTemlate.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/FieldTemplate.js
  ui/components/MesheryMeshInterface/helpers.js
Labels: component/ui, library/rjsf

#6502 [CI] Fix `indent-error-flow` from `golangci-lint` report
  server/models/pattern/patterns/k8s/k8s.go
  server/models/pattern/stages/validate.go
Labels: component/server

#6496 [Node Configuration] Background Color
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
  ui/themes/rjsf.js
Labels: component/ui

#6505 fonts and object fields additional
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/themes/rjsf.js
Labels: component/ui

#6264 Add end to end tests for kubernetes components
  .github/samples/emojivoto.yaml
  .github/workflows/e2etest.yaml
Labels: area/ci

#6516 [CI] Playground: Docker tags for stable release
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#6517 Playground: Deployment workflow
  .github/workflows/build-and-release-stable.yml
  .github/workflows/deploy-meshery-playground.yml
Labels: area/ci

#6518 [CI] Release workflows: Removing redundant e2e tests for K8s components
  .github/workflows/e2etest.yaml
Labels: area/ci, area/tests

#6520 Fix nil err passed in meshkit err
  server/models/remote_provider.go
Labels: component/server

#6519 Newer Field Widgets UX .
  ui/components/MesheryMeshInterface/PatternService/EnlargedTextTooltip.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ArrayFieldTemlate.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomBaseInput.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomDateTimeWidget.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomTextWidget.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/components/MesheryMeshInterface/helpers.js
  ui/themes/rjsf.js
Labels: component/ui

#6521 replace "Service Mesh Discussion forum" with 'Discussion Forum'
  docs/_includes/discuss.html
  docs/v0.5/guides/mesheryctl/working-with-mesheryctl.html
  docs/v0.5/guides/troubleshooting.html
  docs/v0.5/project/faq.html
  docs/v0.5/search/index.html
Labels: area/docs

#6526 Fix prettification logic
  go.mod
  go.sum
  server/models/pattern/core/pattern.go
  server/models/pattern/patterns/k8s/k8s.go
  server/models/pattern/stages/validate.go
Labels: component/server

#6515 file:ui/components/Popup.js bug fix for 6488
  ui/components/Popup.js
  ui/public/static/img/designer-canvas.png
  ui/public/static/img/designer-drawer.png
  ui/public/static/img/designer.png
Labels: component/ui

#6531 node version update to 18 in workflow and remove the platform related npm build
  Makefile
  package-lock.json
  ui/.nvmrc
  ui/package-lock.json
  ui/package.json
Labels: component/ui, dependencies

#6525 [Server] download package only when user has the capability
  server/models/remote_provider.go
Labels: component/server

#6537 [Provider-UI] Revert from v5 to v4 of styled-jsx
  provider-ui/package-lock.json
  provider-ui/package.json
Labels: component/ui

#6536 [CI] Adding custom callback URL for playground
  install/playground/Makefile
Labels: area/ci

#6534 removed modal-like focus on popup
  ui/components/Popup.js
Labels: component/ui

#6522 Add support to revoke and introspect JWT
  server/models/error.go
  server/models/remote_auth.go
  server/models/remote_provider.go
Labels: component/server

#6538 [playground] Enable wss connection in remote playground server
  ui/lib/relayEnvironment.js
Labels: component/ui

#6541 fix panic
  server/handlers/k8sconfig_handler.go
Labels: component/server

#6509 [Docs] Consolidated Compatibility Matrix on Supported Platforms page
  docs/_includes/compatibilityMatrix.md
  docs/_sass/overview.scss
  docs/pages/installation/platforms.md
  docs/pages/project/FAQ.md
  docs/pages/project/compatibility_matrix/compatibility.md
  docs/pages/project/releases.md
Labels: area/docs

#6478 Publish feature in UI for Catalog
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/Cards.styles.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/PublishModal.js
Labels: component/ui

#6366 Add Mutation in pattern engine
  server/handlers/oam_handler.go
  server/models/pattern/stages/service_identifier.go
  server/models/pattern/stages/svc_provider.go
Labels: hacktoberfest, component/server, pr/hold

#6545 Move GetOAMWorkloads to ProviderAuth
  server/handlers/oam_handler.go
  server/models/handlers.go
  server/router/server.go
Labels: component/server

#6546 [Events] Fix: Event Source is not getting created
  ui/components/MesheryNotification.js
Labels: component/ui

#6547 [Node Configuration] Bugs fixes
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomBaseInput.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomDateTimeWidget.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/WrapIfAdditionalTemplate.js
  ui/themes/rjsf.js
Labels: component/ui

#6530 Send notifications on Content saving
  go.mod
  server/cmd/main.go
  server/handlers/error.go
  server/handlers/events_streamer.go
  server/handlers/meshery_application_handler.go
  server/handlers/meshery_filter_handler.go
  server/handlers/meshery_pattern_handler.go
  server/models/pattern/core/pattern.go
Labels: component/server

#6356 [mesheryctl] improve the error messages shown to users for "mesheryctl"
  mesheryctl/internal/cli/root/completion.go
  mesheryctl/internal/cli/root/error.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/version.go
Labels: component/mesheryctl, hacktoberfest

#6559 Upgrade meshkit and meshmodel register API changes
  go.mod
  go.sum
  server/handlers/component_handler.go
  server/models/pattern/patterns/k8s/k8s.go
  server/models/remote_auth.go
  server/models/remote_provider.go
Labels: component/server

#6558 [Extensions-cypress test fix] meshery-extensions redirections issue fix
  server/models/remote_provider.go
Labels: component/server

#6557 [Workflow] Build script Failing
  .github/workflows/build-ui-and-server.yml
  ui/components/Navigator.js
Labels: area/ci, component/ui

#6555 Typo error corrected
  docs/pages/installation/quick-start.md
Labels: area/docs

#6563 Undeploy icon issue fixed on page: /configuration/patterns.
  ui/components/MesheryPatterns/Cards.styles.js
Labels: component/ui

#6434 Fix issue #6273 - updated api endpoints and improved error messages for 'mesheryctl exp filter' commands
  mesheryctl/internal/cli/root/filter/apply.go
  mesheryctl/internal/cli/root/filter/delete.go
  mesheryctl/internal/cli/root/filter/error.go
  mesheryctl/internal/cli/root/filter/list.go
  mesheryctl/internal/cli/root/filter/view.go
Labels: component/mesheryctl

#6426 removed warnings by adding key attributes
  ui/components/ExtensionSandbox.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesherySMIResults.js
Labels: component/ui, component/extensions

#6437 [mesheryctl] improve error message shown to users for system lifestyle commands #6286
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/internal/cli/root/system/restart.go
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/internal/cli/root/system/system.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl, event/hacktoberfest-accepted

#6561 readd introspect support, alongwith handling of infinite JWT
  server/models/remote_provider.go
Labels: component/server

#6441 Readme, docs: update Meshery logo
  .github/assets/images/meshery/meshery-logo-dark-text-side.png
  .github/assets/images/readme/layer5-community-sign.png
  README.md
Labels: area/docs

#6573 [Docs] Added instruction regarding redirect link on Docs and Contributing.md
  CONTRIBUTING.md
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#6576 fix panic on error finding JWT claim
  server/models/remote_provider.go
Labels: component/server

#6577 Fix empty namespace in Cyto conversion
  server/models/pattern/core/pattern.go
Labels: component/server

#6552 [CI] Decrease Golang requirements for Server builds
  Makefile
  install/Makefile.core.mk
Labels: language/go, area/lifecycle

#6567 One golangci-lint workflow
  .github/workflows/build-ui-and-server.yml
  .github/workflows/golangci-lint.yml
Labels: area/ci, language/go

#6583 Fix: extension crash, while closing RJSF Form abruptly
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternServiceFormCore.js
Labels: component/ui

#6556 [UI] fix: use proptypes to fix type error
  ui/components/CatalogFilter.js
  ui/components/LoadingComponents/LoadingComponent.js
  ui/components/MesheryApplications/ApplicationsGrid.js
  ui/components/MesheryPatterns.js
Labels: component/ui

#6584 fix: ui-integration tests are unable to start
  .github/workflows/build-ui-and-server.yml
  .github/workflows/build-ui-server-reusable-workflow.yml
  ui/package.json
Labels: area/ci, component/ui

#6174 [Mesheryctl] View/Delete Configurations
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/view.go
  mesheryctl/internal/cli/root/filter/delete.go
  mesheryctl/internal/cli/root/filter/view.go
  mesheryctl/internal/cli/root/pattern/delete.go
  mesheryctl/internal/cli/root/pattern/view.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#6585 [CI] Only run build workflow on upstream
  .github/workflows/multi-platform.yml
Labels: area/ci

#6588 Update aks.md
  docs/pages/installation/aks.md
Labels: area/docs

#6589 Add no-referrer meta tag to fix 403 google avatars
  ui/pages/_document.js
Labels: component/ui

#6593 Fix failing mesheryctl tests
  mesheryctl/internal/cli/root/perf/testdata/profile/1011.golden
  mesheryctl/internal/cli/root/perf/testdata/result/1011.golden
Labels: component/mesheryctl

#6550 Bug fixed position on menu in text field
  ui/components/MesheryPlayComponent.js
Labels: component/ui

#6590 Fix: console errors on hovering navigator-icons
  ui/components/Navigator.js
Labels: component/ui
