Repository meshery/meshery, pull requests merged in 2022-12, with the labels that each got.

#6615 The search bar is now not colliding with the Navbar from 768px to 995px
  docs/_sass/navbar.scss
Labels: area/docs

#6614 Added service mesh Icons in Navigator
  ui/components/Navigator.js
Labels: component/ui

#6622 [CD] Transition playground deployment VM-based to K8s-based
  .github/workflows/deploy-meshery-playground.yml
Labels: area/ci, playground

#6625 Improve error message for mesheryctl mesh
  mesheryctl/internal/cli/root/mesh/mesh.go
Labels: component/mesheryctl

#6450 [UI] Make catalog toggling as a user preference
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
  ui/components/UserPreferences.js
  ui/pages/_app.js
  ui/pages/extensions.js
Labels: component/ui, pr/draft

#6633 Always redirect to remote provide for playground deployments
  server/cmd/main.go
  server/handlers/middlewares.go
  server/handlers/provider_handler.go
  server/models/handlers.go
Labels: component/server, playground

#6635 [Extensions] Meshery logo update for extensions
  ui/public/static/img/meshery-logo-light-text-side.png
Labels: component/extensions

#6630 Krishna2323/issue/Icons-To_SVG
  ui/assets/icons/AwsAppMeshIcon.js
  ui/assets/icons/ChatIcon.js
  ui/assets/icons/ConfigurationIcon.js
  ui/assets/icons/DashboardIcon.js
  ui/assets/icons/DocumentIcon.js
  ui/assets/icons/GithubIcon.js
  ui/assets/icons/SlackIcon.js
  ui/components/Navigator.js
  ui/utils/nameMapper.js
Labels: component/ui

#6641 Removed deprecated GH actions
  .github/workflows/helm-chart-releaser.yml
  .github/workflows/mesheryctl-e2e.yaml
  .github/workflows/notify-providers.yaml
  .github/workflows/test_adaptersv2.yaml
Labels: area/ci

#6638 [UI] Playground: Change verbiage for limited feature access
  ui/pages/_app.js
Labels: component/ui, playground

#6648 [bug] Fix struct dereferencing
  ui/utils/multi-ctx.js
Labels: kind/bug, component/ui

#6637 Replacing Mui icons to SVG's.
  provider-ui/package-lock.json
  ui/assets/icons/AddIconCircleBorder.js
  ui/assets/icons/BellIcon.js
  ui/assets/icons/CloudIcon.js
  ui/assets/icons/DatabaseIcon.js
  ui/assets/icons/LifecycleIcons/AwsAppMeshIcon.js
  ui/assets/icons/LifecycleIcons/ConsulIcon.js
  ui/assets/icons/MendeleyIcon.js
  ui/assets/icons/SearchIcon.js
  ui/assets/icons/SettingsIcon.js
  ui/assets/icons/SquarePollVerticalIcon.js
  ui/components/DashboardComponent.js
  ui/components/Header.js
  ui/components/MeshConfigComponent.js
  ui/components/MesheryNotification.js
  ui/components/MesherySettings.js
  ui/components/Navigator.js
  ui/package-lock.json
Labels: component/ui

#6649 Update helm-chart-releaser.yml
  .github/workflows/helm-chart-releaser.yml
Labels: area/ci

#6650 Made Configuration Icon consistent
  ui/components/Navigator.js
Labels: component/ui

#6657 <MesheryConfigComponent> fixed the conflicting label
  ui/components/MeshConfigComponent.js
  ui/components/MesheryPatterns.js
Labels: component/ui

#6651 <MesheryPatterns> changes the checkbox color to #607D8B
  ui/components/MesheryPatterns.js
Labels: component/ui

#6654 add make commands to debug in Docker extension
  install/docker-extension/Makefile
Labels: component/extensions

#6661 Update the save design toaster verbiage
  server/handlers/meshery_pattern_handler.go
Labels: component/server

#6660 [RJSF] Add a Custom Object Field to fix validation errors | CU-3u6yyf2
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomObjectField.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
Labels: component/ui

#6655 Enabled navigation of application grid
  provider-ui/package.json
  ui/components/MesheryApplications.js
Labels: component/ui

#6580 [server] Add Support To Logout Remote Provider Session
  install/Makefile.core.mk
  server/handlers/common_handlers.go
  server/handlers/middlewares.go
  server/models/default_local_provider.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
  ui/components/User.js
Labels: kind/bug, component/ui, area/lifecycle, component/server, component/providers

#6667 [chore] Removing deprecated packages
  Makefile
  provider-ui/package-lock.json
  provider-ui/package.json
  ui/components/ConnectionWizard/ConfigComponents/Metrics.js
  ui/components/LoadingComponents/Animations/AnimatedFilter.js
  ui/components/LoadingComponents/Animations/AnimatedMeshPattern.js
  ui/components/LoadingComponents/Animations/AnimatedMeshSync.js
  ui/components/LoadingComponents/Animations/AnimatedMeshery.js
  ui/components/LoadingComponents/Animations/animatedFilter.module.css
  ui/components/LoadingComponents/Animations/animatedMeshPattern.module.css
  ui/components/LoadingComponents/Animations/animatedMeshSync.module.css
  ui/components/LoadingComponents/Animations/animatedMeshery.module.css
  ui/lib/store.js
  ui/next.config.js
  ui/package-lock.json
  ui/package.json
Labels: kind/chore, component/ui, framework/react

#6668 [cleanup] Remove extraneous debug logs
  server/models/remote_provider.go
Labels: kind/chore, component/server

#6664 Edited repository overview link
  docs/pages/project/contributing/contributing.md
Labels: area/docs

#6671 Ellipsis property added for button in context-switcher
  ui/components/Header.js
Labels: component/ui

#6694 Remove /docs path mandate on component updater
  .github/workflows/integrations-updater.yml
Labels: area/ci

#6696 Add token while checking out layer5 repo
  .github/workflows/integrations-updater.yml
Labels: area/ci

#6684 Temp fix to get animated logo css style for Next.js to compile
  ui/components/LoadingComponents/Animations/AnimatedFilter.js
  ui/components/LoadingComponents/Animations/AnimatedMeshPattern.js
  ui/components/LoadingComponents/Animations/AnimatedMeshSync.js
  ui/components/LoadingComponents/Animations/AnimatedMeshery.js
  ui/pages/_app.js
  ui/pages/styles/AnimatedFilter.css
  ui/pages/styles/AnimatedMeshPattern.css
  ui/pages/styles/AnimatedMeshSync.css
  ui/pages/styles/AnimatedMeshery.css
Labels: component/ui

#6693 Fixed telemetry bug and organized telemetry components
  go.mod
  go.sum
  server/models/grafana_helper.go
  ui/components/DashboardComponent.js
  ui/components/MesheryMetrics.js
  ui/components/MesheryPerformance/PerformanceCalendar.js
  ui/components/MesheryPerformance/PerformanceResults.js
  ui/components/MesheryPerformance/index.js
  ui/components/MesheryResults.js
  ui/components/MesherySettings.js
  ui/components/NavigatorExtension.js
  ui/components/telemetry/grafana/GrafanaCharts.js
  ui/components/telemetry/grafana/GrafanaComponent.js
  ui/components/telemetry/grafana/GrafanaConfigComponent.js
  ui/components/telemetry/grafana/GrafanaCustomChart.js
  ui/components/telemetry/grafana/GrafanaCustomCharts.js
  ui/components/telemetry/grafana/GrafanaCustomGaugeChart.js
  ui/components/telemetry/grafana/GrafanaDateRangePicker.js
  ui/components/telemetry/grafana/GrafanaDisplaySelection.js
  ui/components/telemetry/grafana/GrafanaMetricsCompare.js
  ui/components/telemetry/grafana/GrafanaSelectionComponent.js
  ui/components/telemetry/prometheus/PrometheusComponent.js
  ui/components/telemetry/prometheus/PrometheusConfigComponent.js
  ui/components/telemetry/prometheus/PrometheusSelectionComponent.js
  ui/package-lock.json
  ui/package.json
Labels: component/ui, component/server

#6679 Allow save operation for alternative format directly
  server/handlers/meshery_pattern_handler.go
Labels: component/extensions

#6689 updated gh workflows to ubuntu version 22.04
  .github/workflows/build-and-preview-site.yml
  .github/workflows/build-and-release-dde.yml
  .github/workflows/build-and-release-edge.yml
  .github/workflows/build-and-release-stable.yml
  .github/workflows/build-ui-and-server.yml
  .github/workflows/build-ui-server-reusable-workflow.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-meshery-playground.yml
  .github/workflows/e2etest.yaml
  .github/workflows/error-codes-updater.yaml
  .github/workflows/eslint-gh.yml
  .github/workflows/generators.yml
  .github/workflows/go-testing-ci.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/graphql.yml
  .github/workflows/helm-chart-releaser.yml
  .github/workflows/integrations-updater.yml
  .github/workflows/invitations.yml
  .github/workflows/label-commenter.yml
  .github/workflows/labeler.yml
  .github/workflows/mesheryctl-ci.yml
  .github/workflows/mesheryctl-e2e.yaml
  .github/workflows/multi-platform.yml
  .github/workflows/notify-providers.yaml
  .github/workflows/preview-site.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-notes.yml
  .github/workflows/slack.yml
  .github/workflows/swagger.yml
  .github/workflows/test_adapters.yaml
  .github/workflows/test_adaptersv2.yaml
Labels: area/ci

#6626 Improve the error messages in `mesheryctl mesh`
  mesheryctl/internal/cli/root/mesh/deploy.go
  mesheryctl/internal/cli/root/mesh/remove.go
  mesheryctl/internal/cli/root/mesh/validate.go
Labels: component/mesheryctl

#6643 Add `system dashboard` to the mesheryctl command reference index
  docs/_data/mesheryctlcommands/cmds.yml
  docs/pages/reference/mesheryctl-commands.md
Labels: area/docs

#6704 Update script to add publish flag
  scripts/component_updation/main.go
  server/models/grafana_helper.go
Labels: component/server

#6703 [Extension] show SignUp Form in Playground for restricted users to extension
  ui/components/Popup.js
  ui/pages/extension/[...component].js
  ui/pages/extensions.js
Labels: component/ui

#6707 Fix panic
  server/handlers/meshery_pattern_handler.go
Labels: component/server

#6709 Instant fix of dashboard page.
  ui/components/Popup.js
Labels: component/ui

#6706 disable some functionality in playground
  ui/components/Header.js
  ui/components/Navigator.js
  ui/css/disableComponent.styles.js
Labels: component/ui

#6714 Fix #6713
  server/models/default_local_provider.go
  server/models/remote_provider.go
Labels: component/server

#6702 [UI] Update verbiage, format of snackbars(Meshery UI) and server logs(mesheryctl).
  server/handlers/component_generation.go
  server/handlers/meshery_filter_handler.go
  server/models/k8s_components_registration.go
  server/models/pattern/patterns/patterns.go
  ui/components/ConfirmationModal.js
  ui/components/ConnectionWizard/DataPanels/Kubernetes.js
  ui/components/ConnectionWizard/DataPanels/MesheryOperator.js
  ui/components/ConnectionWizard/DataPanels/Metrics.js
  ui/components/ConnectionWizard/DataPanels/ServiceMesh.js
  ui/components/ConnectionWizard/helpers/kubernetesHelpers.js
  ui/components/ConnectionWizard/helpers/metrics.js
  ui/components/ConnectionWizard/helpers/serviceMeshes.js
  ui/components/Filters.js
  ui/components/Header.js
  ui/components/MeshAdapterConfigComponent.js
  ui/components/MeshConfigComponent.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesheryPerformance/index.js
  ui/components/MesherySettingsPerformanceComponent.js
  ui/components/telemetry/grafana/GrafanaComponent.js
  ui/components/telemetry/prometheus/PrometheusComponent.js
Labels: component/ui, component/server

#6710 Added Fossa Badge in Readme
  README.md
Labels: area/docs, area/ci

#6718 [UI] Change verify to validate and positions of button in card and table update
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
Labels: component/ui

#6723 Move from draft-04 to draft-07 for k8s components
  server/models/pattern/core/register.go
  server/oam/kubernetes/workloads/v1.25.0/APIService_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/Binding_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/Broker_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/CSIDriver_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/CSINode_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/CSIStorageCapacity_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/CertificateSigningRequest_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/ClusterRoleBinding_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/ClusterRole_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/ComponentStatus_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/ConfigMap_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/ControllerRevision_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/CronJob_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/CustomResourceDefinition_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/DaemonSet_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/Deployment_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/EndpointSlice_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/Endpoints_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/Event_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/FlowSchema_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/HorizontalPodAutoscaler_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/IngressClass_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/Ingress_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/Job_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/Lease_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/LimitRange_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/LocalSubjectAccessReview_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/MeshSync_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/MutatingWebhookConfiguration_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/Namespace_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/NetworkPolicy_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/Node_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/PersistentVolumeClaim_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/PersistentVolume_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/PodDisruptionBudget_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/PodTemplate_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/Pod_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/PriorityClass_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/PriorityLevelConfiguration_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/ReplicaSet_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/ReplicationController_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/ResourceQuota_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/RoleBinding_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/Role_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/RuntimeClass_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/Secret_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/SelfSubjectAccessReview_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/SelfSubjectRulesReview_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/ServiceAccount_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/Service_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/StatefulSet_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/StorageClass_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/SubjectAccessReview_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/TokenReview_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/ValidatingWebhookConfiguration_schema.k8s.json
  server/oam/kubernetes/workloads/v1.25.0/VolumeAttachment_schema.k8s.json
Labels: component/server

#6721 Add apiVersion of a component in Design
  server/models/pattern/core/pattern.go
Labels: component/server

#6724 Added Delete Modal in Grid view
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
Labels: component/ui

#6725 [UI] ConfirmationModal - Changed the order of tabs
  ui/components/ConfirmationModal.js
  ui/utils/Enum.js
Labels: component/ui

#6727 Change prettification logic
  server/handlers/component_handler.go
  server/models/pattern/core/pattern.go
  server/models/pattern/core/register.go
  server/models/pattern/stages/validate.go
Labels: component/server

#6579 [UI] Icon change for clearing the notification
  ui/assets/icons/ClearIcon.js
  ui/components/MesheryNotification.js
Labels: component/ui

#6729 [UI] Playground modal to Deploy Meshery locally | CU-333dqt2
  ui/pages/_app.js
  ui/pages/extension/AccessMesheryModal.js
Labels: component/ui, playground

#6726 docs: directions for meshery icons and static files in UI
  docs/pages/project/contributing/contributing-ui.md
Labels: area/docs

#6717 [MeshModel] Add support for `Relationships`
  go.mod
  go.sum
  meshmodel/relationships/hierarchical_parent.json
  meshmodel/relationships/network_edge.json
  server/cmd/main.go
  server/handlers/relationship_handlers.go
  server/models/handlers.go
  server/router/server.go
Labels: component/server, area/meshmodel

#6740 Replace "output" with "meshmodel_components"
  server/cmd/main.go
Labels: component/server

#6737 [UI] Add Sidebar Peek for Notification Center
  ui/assets/icons/BellIcon.js
  ui/components/Header.js
  ui/components/MesheryNotification.js
Labels: kind/bug, component/ui

#6551 fix: add tooltip on actions buttons
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryApplications/ApplicationsCard.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/utils/TooltipButton.js
Labels: component/ui

#6753 [UI] Fix style bug with Validation modal btn and Update spec verbiage
  ui/components/ConfirmationModal.js
  ui/cypress/integration/e2e/settings_spec.js
Labels: component/ui

#6750 cursor event & Delete Icon
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/WrapIfAdditionalTemplate.js
  ui/themes/rjsf.js
Labels: component/ui

#6759 [UI] Confirmation modal active tag background update
  ui/components/ConfirmationModal.js
Labels: component/ui

#6757 Fix APIVersion bug in Meshmodel components
  server/models/meshmodel/core/register.go
Labels: component/server

#6730 [Playground] Fix CORS issue during logout | CU-85zrgczty
  server/handlers/common_handlers.go
  server/handlers/middlewares.go
  server/models/remote_provider.go
  ui/components/User.js
Labels: kind/bug, component/ui, component/server, playground

#6748 [Server] MeshModel Updater Comments and Doc
  scripts/component_updation/main.go
Labels: area/meshmodel

#6744 [docs] Recommended node versions for usage
  docs/pages/project/contributing/contributing-ui.md
Labels: area/docs

#6762 Add go.mod sync workflow to sync Meshery and Meshery-extensions edge
  .github/workflows/go-mod-sync.yaml
Labels: area/ci

#6765 Fix panic in main.go
  server/cmd/main.go
Labels: component/server

#6767 [Playground] Remove container registry
  .github/workflows/deploy-meshery-playground.yml
Labels: area/ci, playground

#6768 Change meshmodel relationships structure
  install/docker/Dockerfile
  server/cmd/main.go
  server/meshmodel/relationships/hierarchical_parent.json
  server/meshmodel/relationships/network_edge.json
Labels: component/server

#6675 FlushMeshSync button in actions column of environment settings centered
  ui/components/MeshConfigComponent.js
Labels: component/ui

#6772 Send notification of deployment failure
  server/models/pattern/patterns/patterns.go
Labels: component/server

#6758 Solved Issue 6754 for Designs Page
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/CustomToolbarSelect.js
Labels: component/ui

#6784 fix: style for overview class
  docs/_sass/overview.scss
Labels: area/docs

#6789 Return source type with application update responsne
  server/handlers/meshery_application_handler.go
Labels: component/server

#6773 [Docs] Integrate Discussion Forum with Posts by Tag
  docs/_data/discuss/meshery.json
  docs/_data/discuss/mesheryctl.json
  docs/_includes/related-discussions.html
  docs/_layouts/default.html
  docs/assets/img/meshery/meshery-logo-light.svg
  docs/assets/img/meshery/meshery-logo-shadow.svg
  docs/pages/guides/mesheryctl/authenticate-with-meshery-via-cli.md
  docs/pages/guides/mesheryctl/configuring-autocompletion-for-mesheryctl.md
  docs/pages/guides/mesheryctl/index.md
  docs/pages/guides/mesheryctl/running-system-checks-using-mesheryctl.md
  docs/pages/guides/mesheryctl/working-with-mesheryctl.md
  docs/pages/guides/upgrade.md
  docs/pages/installation/index.md
  docs/pages/reference/index.md
  docs/pages/reference/mesheryctl-commands.md
Labels: area/docs

#6791 Change updater workflow to mandate both flags
  .github/workflows/integrations-updater.yml
Labels: area/ci

#6793 Fix Applications import bug
  server/handlers/meshery_application_handler.go
  server/meshmodel/components/kuma/2.0.1/CircuitBreaker.json
  server/models/pattern/core/pattern.go
Labels: component/server

#6672 Each adapter page source their adapter-version-number dynamically
  docs/_adapters/app-mesh.md
  docs/_adapters/cilium.md
  docs/_adapters/consul/consul.md
  docs/_adapters/cpx.md
  docs/_adapters/istio/istio.md
  docs/_adapters/kuma/kuma.md
  docs/_adapters/linkerd.md
  docs/_adapters/nginx-sm.md
  docs/_adapters/nsm/nsm.md
  docs/_adapters/osm/osm.md
  docs/_adapters/sofamesh.md
  docs/_adapters/tanzu-sm.md
  docs/_adapters/traefik-mesh.md
  docs/_includes/adapter-status.html
Labels: area/docs

#6780 Update README.md for better readability
  README.md
Labels: area/docs

#6786 [Docs] Changed calculation logic on the compatibility matrix
  docs/_includes/compatibilityMatrix.md
Labels: area/docs

#6681 [cypress] migrate to cypress version 12
  .github/workflows/build-ui-and-server.yml
  provider-ui/package.json
  provider-ui/ui_dev_server.js
  ui/cypress.config.js
  ui/cypress.json
  ui/cypress/e2e/e2e/lifecyclecheck_spec.js
  ui/cypress/e2e/e2e/service_mesh_configuration_management_spec.js
  ui/cypress/e2e/e2e/settings_spec.js
  ui/cypress/e2e/e2e/userpreference_spec.js
  ui/cypress/e2e/integration/configuration_filters_spec.js
  ui/cypress/e2e/integration/indexui_spec.js
  ui/cypress/e2e/integration/settings_spec.js
  ui/cypress/e2e/integration/userpreference_spec.js
  ui/cypress/e2e/sample_spec.js
  ui/cypress/support/e2e.js
  ui/package-lock.json
  ui/package.json
  ui/ui_dev_server.js
Labels: area/ci, component/ui

#6785 fix: use optional chaining in /patterns
  ui/components/MesheryPatterns.js
Labels: component/ui

#6677 Add "Application" to MeshModel components
  server/output/core/v1.0.0/Application.json
Labels: component/server

#6796 Continue MeshModel registeration ignoring failure
  server/cmd/main.go
  server/meshmodel/components/core/v1.0.0/Application.json
Labels: component/server

#6801 [Docs] Fixed Cilium calculation error on Compatibility Matrix
  docs/_includes/compatibilityMatrix.md
Labels: area/docs

#6778 [bug] Fix User profile update
  server/handlers/extensions.go
  server/models/remote_provider.go
Labels: kind/bug, component/server

#6802 Fix not able to upload JSON Board
  server/models/grafana_helper.go
  ui/components/telemetry/prometheus/PrometheusSelectionComponent.js
Labels: component/ui, component/server

#6775 added public content from the Meshery Catalog BookInfoForCatalogIstio
  .github/samples/BookInfoForCatalogIstio.yaml
Labels: area/ci

#6755 Design Configurator : fonts, tooltips refractor
  ui/components/MesheryMeshInterface/PatternService/CustomTextTooltip.js
  ui/components/MesheryMeshInterface/PatternService/EnlargedTextTooltip.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ArrayFieldTemlate.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomBaseInput.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/utils/zIndex.js
Labels: component/ui

#6808 Fix NoAuth logic with respect to provider enforcement
  server/handlers/middlewares.go
  server/handlers/oam_handler.go
  server/models/handlers.go
  server/router/server.go
Labels: component/server

#6812 cypress: assign cy params to validate modal
  ui/components/ConfirmationModal.js
Labels: component/ui

#6806 Add MeshModel endpoints to swagger docs
  docs/_data/swagger.yml
  server/handlers/component_handler.go
  server/handlers/meshery_application_handler.go
  server/models/handlers.go
  server/models/pattern/core/pattern.go
Labels: area/docs, component/api, component/server

#6797 Updated design spec doc links to point to detailed design spec doc
  docs/pages/project/contributing/contributing-cli.md
  docs/pages/project/contributing/contributing-guidelines.md
Labels: area/docs

#6815 add a support for CustomTextTooltip in the formContext
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
Labels: component/ui
