Repository meshery/meshery, pull requests merged in 2022-03, with the labels that each got.

#4989 [mesheryctl] Check for expired tokens/expired token error message
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/error.go
  mesheryctl/internal/cli/root/perf/profile.go
  mesheryctl/internal/cli/root/perf/profile_test.go
  mesheryctl/internal/cli/root/perf/result.go
  mesheryctl/internal/cli/root/perf/result_test.go
  mesheryctl/internal/cli/root/perf/testdata/apply/1002.golden
  mesheryctl/internal/cli/root/perf/testdata/profile/1009.golden
  mesheryctl/internal/cli/root/perf/testdata/profile/1011.golden
  mesheryctl/internal/cli/root/perf/testdata/result/1009.golden
  mesheryctl/internal/cli/root/perf/testdata/result/1011.golden
  mesheryctl/pkg/utils/auth.go
  mesheryctl/pkg/utils/error.go
Labels: component/mesheryctl

#5145 [Docs] Integrationn Test Results: visual enhancement
  docs/pages/project/compatibility_matrix/compatibility.md
Labels: area/docs, area/tests

#5147 Fix redundant kubeopenjsonschema instances running at a time
  go.mod
  go.sum
  handlers/error.go
  handlers/k8sconfig_handler.go
  models/pattern/core/register.go
Labels: component/server

#5122 Bumped down styled-jsx version
  provider-ui/package-lock.json
  provider-ui/package.json
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#5143 [UI][Bug Hunt] Cluster Switcher + nav toggle btn fix | CU-22qqma1
  ui/components/Header.js
  ui/components/Navigator.js
Labels: component/ui

#5179 Added port 10013 to docs to reserve the port
  docs/pages/concepts/architecture/architecture.md
Labels: area/docs

#5181 [UI][Bug Hunt] Enabled clickaway feature on the context-switcher | CU-232yuch
  ui/components/Header.js
Labels: component/ui

#5053 [mesheryctl] Introducing `--port-forward` in `system dashboard`
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/dashboard.go
  mesheryctl/internal/cli/root/system/error.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/portforward.go
  mesheryctl/pkg/utils/testing.go
Labels: component/mesheryctl

#5191 Update contributing-docs.md w/signoff
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#5188 [UI] Fixed Context Menu peek behaviour
  ui/components/Header.js
Labels: component/ui

#5177 handle panic when preference load test is not provided in UserPrefsHandler
  handlers/user_handler.go
Labels: component/server

#5202 [UI] Dashboard service mesh proxy tooltip
  ui/components/DashboardComponent.js
Labels: component/ui

#5197 [UI][Server] Update API endpoint call
  ui/components/ConnectionWizard/helpers/common.js
  ui/components/ConnectionWizard/helpers/kubernetesHelpers.js
Labels: component/ui

#5200 removed deprecated grpc option
  meshes/client.go
  provider-ui/package-lock.json
  ui/package-lock.json
Labels: component/ui

#5203 [UI] Replicate Imports for Filters and Applications similar to Patterns
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/UploadImport.js
  ui/cypress/integration/integration/configuration_filters_spec.js
  ui/pages/configuration/filters.js
Labels: component/ui

#5208 [UI] Pattern update and delete handler call 🐛 bug fix
  ui/components/MesheryPatterns.js
Labels: component/ui, component/patterns

#5221 Update CONTRIBUTING.md
  docs/pages/project/contributing/contributing.md
Labels: area/docs

#5222 [CI] Docs: Move to Ruby 2.7.5
  .github/workflows/build-and-preview-site.yml
Labels: area/ci

#5207 Add name field for pattern request to avoid "MesheryGeneratedPatternFile"
  handlers/meshery_pattern_handler.go
  models/pattern/core/pattern.go
Labels: component/patterns

#5226 Remove whitespace from k8s generated components
  models/pattern/core/register.go
  models/pattern/patterns/k8s/k8s.go
Labels: component/extensions

#5224 [CI] UI: OS and Arch for fsevents package
  ui/package-lock.json
Labels: component/ui

#5218 Remove UUIDs from being service name of designs and add depends-on
  go.mod
  models/pattern/core/pattern.go
Labels: component/patterns

#5230 Fixed spacing on error message.
  mesheryctl/internal/cli/root/system/error.go
Labels: component/mesheryctl, kind/chore

#5225 fix: Accept the rjsf custom components from the Meshery Extension
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
Labels: component/ui

#5217 More settings options in remote provider tab
  ui/components/RemoteUserPref.js
  ui/components/UserPreferences.js
  ui/pages/user/preferences.js
Labels: component/ui

#5213 [UI] Replicate Imports for Filters and Application similar to Patterns and fix e2e failure
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/UploadImport.js
  ui/cypress/integration/e2e/service_mesh_configuration_management_spec.js
  ui/cypress/integration/integration/configuration_filters_spec.js
  ui/pages/configuration/filters.js
Labels: component/ui

#5241 Hardcoded image name for DDE
  .github/workflows/build-dde.yml
Labels: area/ci

#5242 [WIP] Init Docker Extension UI
  install/docker-desktop-extension/ui/.gitignore
  install/docker-desktop-extension/ui/package-lock.json
  install/docker-desktop-extension/ui/package.json
  install/docker-desktop-extension/ui/public/index.html
  install/docker-desktop-extension/ui/src/components/Config/Configuration.js
  install/docker-desktop-extension/ui/src/components/Config/Location.js
  install/docker-desktop-extension/ui/src/components/Config/ServiceMesh.js
  install/docker-desktop-extension/ui/src/components/CustomTypography.js
  install/docker-desktop-extension/ui/src/components/ExtensionComponent.js
  install/docker-desktop-extension/ui/src/components/MesheryLogo.js
  install/docker-desktop-extension/ui/src/img/SVGs/IstioIcon.js
  install/docker-desktop-extension/ui/src/img/SVGs/consulIcon.js
  install/docker-desktop-extension/ui/src/img/SVGs/dockerIcon.js
  install/docker-desktop-extension/ui/src/img/SVGs/kubernetesIcon.js
  install/docker-desktop-extension/ui/src/img/SVGs/kumaIcon.js
  install/docker-desktop-extension/ui/src/img/SVGs/linkerdIcon.js
  install/docker-desktop-extension/ui/src/img/SVGs/nginxIcon.js
  install/docker-desktop-extension/ui/src/img/location/docker.png
  install/docker-desktop-extension/ui/src/img/location/kubernetes.png
  install/docker-desktop-extension/ui/src/img/meshery-logo/CustomMesheryLogo.js
  install/docker-desktop-extension/ui/src/img/meshery-logo/meshery-logo-light-white-text-side.svg
  install/docker-desktop-extension/ui/src/img/meshery-logo/meshery-logo.svg
  install/docker-desktop-extension/ui/src/img/meshery-logo/meshery-text-dark.png
  install/docker-desktop-extension/ui/src/img/service-meshes/consul.png
  install/docker-desktop-extension/ui/src/img/service-meshes/istio.png
  install/docker-desktop-extension/ui/src/img/service-meshes/kuma.png
  install/docker-desktop-extension/ui/src/img/service-meshes/linkerd.png
  install/docker-desktop-extension/ui/src/img/service-meshes/nginx.svg
  install/docker-desktop-extension/ui/src/index.js
  install/docker-desktop-extension/ui/src/styles.css
Labels: component/extensions

#5234 [Meshery] added cilium as component
  .github/workflows/mesheryctl-ci.yml
  Makefile
  docker-compose.yaml
  internal/graphql/model/helpers.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/helpers_test.go
Labels: component/mesheryctl, area/ci

#5235 add cilium
  docker-compose.yaml
  provider-ui/package-lock.json
  ui/components/MesheryMeshInterface/PatternService/helper.js
  ui/components/Navigator.js
  ui/package-lock.json
  ui/public/static/img/cilium-light.svg
  ui/public/static/img/cilium_service_mesh.svg
  ui/utils/nameMapper.js
Labels: component/ui, pr/do-not-merge

#5240 [CI] Update and add tests, glob expressions for backend files in CodeCov
  .github/codecov.yml
  cmd/main_test.go
  handlers/middlewares_test.go
  helpers/kubernetes_test.go
  internal/channels/broker_test.go
  internal/sql/map_test.go
  meshes/client_test.go
  router/server_test.go
Labels: area/ci, area/tests

#5243 [CI] Chore: Bump to Golang 1.17
  .github/workflows/ci.yml
  .github/workflows/go-testing-ci.yml
  .github/workflows/mesheryctl-ci.yml
  Dockerfile
  go.mod
  install/docker-desktop-extension/Dockerfile
Labels: area/ci, language/go

#5054 Style the version component
  docs/_includes/header.html
  docs/assets/css/main.css
  docs/v0.5/assets/css/style.css
  docs/v0.5/concepts/architecture/adapters.html
Labels: area/docs, issue/remind

#5247 [CI] Chore: remove make command for go1.16
  Makefile
Labels: kind/chore

#5251 Reduces Dockerfile for DDE to only build dde-ui
  install/docker-desktop-extension/Dockerfile
  install/docker-desktop-extension/ui-dde/.gitignore
  install/docker-desktop-extension/ui-dde/package-lock.json
  install/docker-desktop-extension/ui-dde/package.json
  install/docker-desktop-extension/ui-dde/public/index.html
  install/docker-desktop-extension/ui-dde/src/components/Config/Configuration.js
  install/docker-desktop-extension/ui-dde/src/components/Config/Location.js
  install/docker-desktop-extension/ui-dde/src/components/Config/ServiceMesh.js
  install/docker-desktop-extension/ui-dde/src/components/CustomTypography.js
  install/docker-desktop-extension/ui-dde/src/components/ExtensionComponent.js
  install/docker-desktop-extension/ui-dde/src/components/MesheryLogo.js
  install/docker-desktop-extension/ui-dde/src/img/SVGs/IstioIcon.js
  install/docker-desktop-extension/ui-dde/src/img/SVGs/consulIcon.js
  install/docker-desktop-extension/ui-dde/src/img/SVGs/dockerIcon.js
  install/docker-desktop-extension/ui-dde/src/img/SVGs/kubernetesIcon.js
  install/docker-desktop-extension/ui-dde/src/img/SVGs/kumaIcon.js
  install/docker-desktop-extension/ui-dde/src/img/SVGs/linkerdIcon.js
  install/docker-desktop-extension/ui-dde/src/img/SVGs/nginxIcon.js
  install/docker-desktop-extension/ui-dde/src/img/location/docker.png
  install/docker-desktop-extension/ui-dde/src/img/location/kubernetes.png
  install/docker-desktop-extension/ui-dde/src/img/meshery-logo/CustomMesheryLogo.js
  install/docker-desktop-extension/ui-dde/src/img/meshery-logo/meshery-logo-light-white-text-side.svg
  install/docker-desktop-extension/ui-dde/src/img/meshery-logo/meshery-logo.svg
  install/docker-desktop-extension/ui-dde/src/img/meshery-logo/meshery-text-dark.png
  install/docker-desktop-extension/ui-dde/src/img/service-meshes/consul.png
  install/docker-desktop-extension/ui-dde/src/img/service-meshes/istio.png
  install/docker-desktop-extension/ui-dde/src/img/service-meshes/kuma.png
  install/docker-desktop-extension/ui-dde/src/img/service-meshes/linkerd.png
  install/docker-desktop-extension/ui-dde/src/img/service-meshes/nginx.svg
  install/docker-desktop-extension/ui-dde/src/index.js
  install/docker-desktop-extension/ui-dde/src/styles.css
Labels: component/extensions

#5256 Correcting UI build
  install/docker-desktop-extension/Dockerfile
  install/docker-desktop-extension/docker-compose.yaml
Labels: component/extensions

#5258 [Chore] Security: vulnerability patches in dependencies
  docs/.contributing-docs.md.swp
  docs/Gemfile.lock
  provider-ui/package-lock.json
  ui/package-lock.json
Labels: area/docs, component/ui, security

#5233 [Docs] Promote oam REST endpoint from experimental
  docs/_data/swagger.yml
  handlers/oam_handler.go
  helpers/swagger.yaml
  router/server.go
Labels: area/docs

#5264 [CI] Docker Desktop Extension: refactor for DDE build only
  .github/workflows/build-and-release-dde.yml
  .github/workflows/go-testing-ci.yml
Labels: area/ci, component/extensions

#5266 [Docs]Added top margin so that in-page anchor tags align with menu bar
  docs/_sass/overview.scss
Labels: area/docs

#5268 [DDE] Failing build for UI
  install/docker-desktop-extension/ui/src/components/ExtensionComponent.js
Labels: component/extensions

#5246 Fix falsy error message in bash script
  meshery
Labels: area/lifecycle

#5263 [UI/RJSF] remove custom memoized i/p fields and use widgets instead
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/Accordion.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ArrayFieldTemlate.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
Labels: component/ui, library/rjsf

#5275 [UI]Resolved ui bug of lagging side list Navs on hovering
  ui/components/Navigator.js
Labels: component/ui

#5276 Fixed routing to Lifecycle menu
  ui/components/MesheryPlayComponent.js
  ui/components/Navigator.js
  ui/lib/store.js
  ui/public/static/img/cilium_service_mesh-light.svg
Labels: component/ui

#5273 Sanitize the pattern before validation for failing K8s components
  models/pattern/patterns/k8s/k8s.go
  models/pattern/stages/validate.go
Labels: component/patterns

#5277 [UI]Added EventListner in SliderButton
  ui/components/Navigator.js
Labels: component/ui

#5286 fix popper z-index problems with second tooltip
  ui/components/MesheryMeshInterface/PatternService/EnlargedTextTooltip.js
Labels: component/ui

#5284 [Docs] DDE: readme
  install/docker-desktop-extension/README.md
  install/docker-desktop-extension/docker-desktop-extension-for-meshery-architecture.png
Labels: component/extensions

#5270 [CI] Fix golangci-lint to avoid legacy lint errors
  .github/workflows/ci.yml
  .github/workflows/mesheryctl-ci.yml
  .golangci.yml
  helpers/kubernetes_test.go
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/pkg/utils/auth.go
  models/pattern/core/pattern.go
  router/server_test.go
Labels: component/mesheryctl, area/ci, area/tests

#5245 [Meshery] Handling unit tests failure
  mesheryctl/internal/cli/root/system/testdata/context/addExpected.golden
  mesheryctl/pkg/utils/helpers_test.go
Labels: component/mesheryctl

#5290 [CI] DDE Build Updates
  .github/workflows/build-and-release-dde.yml
  install/docker-desktop-extension/Dockerfile
  install/docker-desktop-extension/README.md
  install/docker-desktop-extension/docs/img/Docker Desktop Extension for Meshery.png
  install/docker-desktop-extension/docs/img/docker-desktop-extension-for-meshery-architecture.png
  install/docker-desktop-extension/docs/img/meshery-logo-light.svg
Labels: area/ci, component/extensions

#5295 meshery-perf: disable this chart
  install/kubernetes/helm/meshery/values.yaml
Labels: area/lifecycle

#5267 [GraphQL] getOAMComponents queryType
  internal/graphql/generated/generated.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/error.go
  internal/graphql/resolver/kubernetes.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
Labels: framework/graphql

#5173 Deploying Meshery components under same helm release name
  Makefile
  go.mod
  go.sum
  install/kubernetes/helm/meshery-operator/values.yaml
  internal/graphql/model/helpers.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/internal/cli/root/system/system_test.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#5303 migrating material-ui v4 to mui v5
  install/docker-desktop-extension/ui/package-lock.json
  install/docker-desktop-extension/ui/package.json
  install/docker-desktop-extension/ui/src/components/CustomTypography.js
  install/docker-desktop-extension/ui/src/components/ExtensionComponent.js
  install/docker-desktop-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  install/docker-desktop-extension/ui/src/components/ExtensionComponent/styledComponents.js
  install/docker-desktop-extension/ui/src/img/SVGs/IstioIcon.js
  install/docker-desktop-extension/ui/src/img/SVGs/consulIcon.js
  install/docker-desktop-extension/ui/src/img/SVGs/kubernetesIcon.js
  install/docker-desktop-extension/ui/src/img/SVGs/linkerdIcon.js
  install/docker-desktop-extension/ui/src/img/SVGs/nginxIcon.js
  install/docker-desktop-extension/ui/src/img/meshery-logo/CustomMesheryLogo.js
  install/docker-desktop-extension/ui/src/index.js
Labels: pr/do-not-merge

#5307 Fix: Lifecycle component fix, handling routing and handle unactive adapter
  ui/components/MesheryPlayComponent.js
  ui/pages/management/[mesh].js
  ui/pages/management/index.js
Labels: component/ui

#5308 [Docs] Update for Jekyll server commands
  CONTRIBUTING.md
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#5298 [mesheryctl] Fix panic on version check
  mesheryctl/helpers/component_info.json
  mesheryctl/internal/cli/root/error.go
  mesheryctl/internal/cli/root/version.go
Labels: component/mesheryctl

#5312 minor: use extension in place of MM
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
Labels: component/ui

#5314 [UI/Pattern] Fix pattern-upload failure
  ui/components/MesheryPatterns.js
Labels: component/ui

#5315 Deployments and services for cilium mesh
  install/deployment_yamls/k8s/meshery-cilium-deployment.yaml
  install/deployment_yamls/k8s/meshery-cilium-service.yaml
Labels: area/lifecycle

#5316 Reverting Bump eslint from 7.32.0 to 8.12.0 in /ui
  ui/package-lock.json
  ui/package.json
Labels: component/ui
