Repository meshery/meshery, pull requests merged in 2022-06, with the labels that each got.

#5374 [Docs] Update multiple-of-the-same-adapter.md
  docs/pages/guides/multiple-of-the-same-adapter.md
Labels: area/docs

#5551 modified README.md for implementation of light/dark mode logos
  README.md
  docs/assets/img/readme/slack-dark-128.png
Labels: area/docs

#5548 Added multiple k8s version for adapter tests
  .github/workflows/test_adapters.yaml
Labels: area/ci

#5573 Add pre-evaluation for features unidentified in cyto
  handlers/meshery_pattern_handler.go
  models/pattern/stages/filler.go
Labels: component/patterns

#5540 Integration Test Details: Wrong color and missing pass/fail icons
  docs/_includes/past-results.html
  docs/pages/project/compatibility_matrix/compatibility.md
Labels: area/docs

#5537 [UI] Added Database reset modal and FlushMeshSync Button
  ui/components/MeshConfigComponent.js
Labels: component/ui

#5586 [Refactor] Solved build error
  ui/package.json
Labels: ui-refactor

#5585 material-ui/core from 4.12.3 to 4.12.4
  provider-ui/package-lock.json
  provider-ui/package.json
  provider-ui/pages/_app.js
Labels: component/ui

#5588 [UI] Settings button style fix for lifecycle
  ui/pages/management/[mesh].js
Labels: component/ui

#5591 exposed meshery server version in dde
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  install/docker-extension/ui/src/components/ExtensionComponent/styledComponents.js
Labels: component/extensions

#5587 [UI] Pattern file bug fixes
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatterns.js
  ui/pages/configuration/patterns.js
Labels: component/ui, component/patterns

#5595 fix: Service mesh provisioning
  install/docker-extension/ui/package-lock.json
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  install/docker-extension/ui/src/components/ExtensionComponent/styledComponents.js
Labels: component/extensions

#5597 Ci/marioarriaga92/5592 fix cypress v10 legacy config file error
  provider-ui/.nvmrc
  provider-ui/cypress.config.js
  provider-ui/cypress.json
  provider-ui/cypress/e2e/canary_spec.js
  provider-ui/cypress/e2e/provider-ui_spec.js
  provider-ui/cypress/support/e2e.js
  provider-ui/package-lock.json
  provider-ui/package.json
  provider-ui/pages/_app.js
Labels: component/ui

#5604 [Lifecycle] Remove CPX from default config
  .github/workflows/build-ui-and-server.yml
  docker-compose.yaml
  install/kubernetes/helm/meshery-operator/Chart.yaml
  install/kubernetes/helm/meshery/Chart.yaml
  install/kubernetes/helm/meshery/values.yaml
  mesheryctl/internal/cli/root/system/fixtures/.meshery/meshery.yaml
Labels: area/ci, service-mesh/cpx, framework/helm

#5602 Improve UI
  ui/components/ConfirmationModal.js
  ui/components/MeshConfigComponent.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesherySettings.js
  ui/components/NavigatorExtension.js
  ui/utils/multi-ctx.js
Labels: component/ui

#5614 [Fix] Lifecylce Page Fixes
  ui/components/DashboardComponent.js
  ui/components/MesheryPlayComponent.js
  ui/pages/_app.js
Labels: component/ui

#5611 Bug fixes
  ui/components/ConfirmationModal.js
  ui/components/MeshConfigComponent.js
  ui/components/MesheryAdapterPlayComponent.js
Labels: component/ui

#5616 [Doc] Add troubleshooting steps for Service Mesh installation
  docs/pages/project/FAQ.md
Labels: area/docs

#5612 Fix golangci-lint failures
  cmd/main.go
  handlers/k8sconfig_handler.go
  handlers/mesh_ops_handlers.go
  handlers/middlewares.go
  handlers/oam_handler.go
  handlers/prometheus_handlers.go
  internal/graphql/model/data_plane_helper.go
  internal/graphql/model/helpers.go
  internal/graphql/resolver/meshsync.go
  models/default_local_provider.go
Labels: kind/chore, language/go

#5627 Allow provider to be set via query parameter
  handlers/middlewares.go
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
Labels: component/extensions

#5625 Fix problems with context-switching operation from Header
  ui/components/ConnectionWizard/helpers/common.js
  ui/components/CustomAvatar.js
  ui/components/DashboardComponent.js
  ui/components/Header.js
  ui/package-lock.json
  ui/pages/_app.js
  ui/utils/multi-ctx.js
Labels: component/ui

#5565 [Refactor] UI/restructuring/spinner
  ui/components/SpinnerLoading/SpinnerLoading.js
  ui/components/SpinnerLoading/SpinnerLoading.styles.css
  ui/yarn.lock
Labels: component/ui, ui-refactor

#5630 fixed issue with logo before login and added logout button
  install/docker-extension/Makefile
  install/docker-extension/ui/package-lock.json
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  install/docker-extension/ui/src/components/ExtensionComponent/styledComponents.js
  install/docker-extension/vm/proxy/proxy.go
Labels: component/extensions

#5617 [UI] Support for Undeploy Pattern and Applications
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/public/static/img/UndeployIcon.js
Labels: component/ui, component/patterns

#5641 Logout button move
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  install/docker-extension/ui/src/components/ExtensionComponent/styledComponents.js
Labels: component/extensions

#5640 [UI] Undeploy card view button color update
  ui/components/MesheryPatterns/MesheryPatternCard.js
Labels: component/ui, component/patterns

#5633 Add operator status query
  ui/components/MeshConfigComponent.js
Labels: component/ui

#5632 [UI]Changed cursor to pointer
  ui/public/static/style/index.css
Labels: component/ui

#5644 Fix validation error and whitespacing bug
  models/pattern/core/register.go
  models/pattern/patterns/k8s/k8s.go
Labels: component/server

#5645 Meshery-Settings: Enable Subscriptions and fix problems with settings page
  ui/components/MeshConfigComponent.js
Labels: component/ui, framework/graphql

#5647 refactor: Refine ws connection for logout
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  install/docker-extension/ui/src/utils.js
  install/docker-extension/vm/assets/auth.html
  install/docker-extension/vm/main.go
  install/docker-extension/vm/proxy/proxy.go
Labels: component/extensions

#5650 [Refactor] Make use of validation and formatting functions exposed in Meshkit
  go.mod
  handlers/meshery_application_handler.go
Labels: area/lifecycle

#5646 [Docs] Additional guides/troubleshoot installation links in quickstart
  docs/Gemfile.lock
  docs/pages/installation/quick-start.md
  docs/pages/reference/troubleshooting/index.md
Labels: area/docs

#5651 [Chore] Upgrade Dependencies
  go.sum
Labels: kind/chore, dependencies

#5653 [Build Failure] [object Object] is not a PostCSS plugin
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#5615 [Extension] Support for Account Extension
  docs/pages/extensibility/providers.md
  handlers/extensions.go
  models/default_local_provider.go
  models/handlers.go
  models/providers.go
  models/remote_provider.go
  models/user.go
  router/server.go
  ui/components/ExtensionSandbox.js
  ui/components/RemoteComponent.js
  ui/components/User.js
  ui/components/UserPreferences.js
  ui/pages/extension/[component].js
  ui/utils/ExtensionPointSchemaValidator.js
Labels: area/docs, component/ui, component/extensions

#5655 minor ui fixes
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/UploadImport.js
Labels: component/ui

#5662 [Refactor] Updated Makfile
  Makefile
  install/Makefile.core.mk
  install/Makefile.show-help.mk
  ui/README.md
Labels: component/ui, ui-refactor

#5670 Changes to the un-deploy icon
  ui/public/static/img/UndeployIcon.js
  ui/remote-component.config.js
Labels: component/ui, component/extensions

#5671 Make table style consistent
  ui/components/DashboardComponent.js
  ui/components/MeshConfigComponent.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryMetrics.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/UploadImport.js
Labels: component/ui

#5674 leecalcote/chore/ui deps
  ui/package-lock.json
Labels: component/ui, security

#5673 [CI] Chore: Docker image upgrade to lts-latest
  install/docker/Dockerfile
Labels: kind/chore, security

#5685 Fixed logout buton alignment in meshery extension
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
Labels: component/extensions

#5699 Responsive Settings page
  ui/components/MeshConfigComponent.js
Labels: component/ui

#5708 Removed extra "your" from docs
  docs/pages/installation/quick-start.md
Labels: area/docs

#5684 docker extension empty state fixed
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
Labels: component/extensions

#5700 [UI] Remove frontend formatting (RJSF)
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomInputField.js
  ui/components/MesheryMeshInterface/PatternService/helper.js
  ui/components/MesheryMeshInterface/helpers.js
Labels: component/ui

#5706 [Fix/UI] Context Switcher Ping Not working
  ui/components/ConfirmationModal.js
  ui/components/ConnectionWizard/DataPanels/Kubernetes.js
  ui/components/ConnectionWizard/helpers/common.js
  ui/components/Header.js
Labels: component/ui

#5702 [Cypress] Fix Failing e2e and integration tests in Meshery
  .github/workflows/build-ui-and-server.yml
  ui/components/Filters.js
  ui/components/MesheryPlayComponent.js
  ui/components/UploadImport.js
  ui/components/ViewSwitch.js
  ui/cypress/integration/e2e/service_mesh_configuration_management_spec.js
  ui/cypress/integration/e2e/settings_spec.js
  ui/cypress/integration/e2e/userpreference_spec.js
  ui/cypress/integration/integration/configuration_filters_spec.js
  ui/cypress/integration/integration/discoverCluster_spec.js
Labels: area/ci, component/ui, area/tests

#5678 Update Modal
  ui/components/ConfirmationModal.js
Labels: component/ui

#5712 [UI] Import modal close bug fix
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/UploadImport.js
Labels: component/ui

#5716 Add modal in Filter page (Table view)
  ui/components/ConfirmationModal.js
  ui/components/Filters.js
  ui/components/MesheryApplications.js
Labels: component/ui
