Repository meshery/meshery, pull requests merged in 2023-05, with the labels that each got.

#7635 [rjsf] pluralize, checkboxes dark mode, cleanup
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ArrayFieldTemlate.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/components/MesheryMeshInterface/PatternService/Switch.js
  ui/components/MesheryMeshInterface/PatternService/helper.js
  ui/components/MesheryMeshInterface/PatternService/index.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
  ui/components/MesheryMeshInterface/PatternServiceFormCore.js
  ui/components/MesheryMeshInterface/helpers.js
  ui/components/configuratorComponents/MeshModel/hooks/useDesignLifecycle.js
  ui/package-lock.json
  ui/package.json
  ui/themes/rjsf.js
  ui/utils/nameMapper.js
Labels: component/ui

#7555 [Extensions] Add publish feature support for extensions
  ui/components/NavigatorExtension.js
  ui/components/PublishModal.js
Labels: component/ui

#7626 [meshmodel] add ingress to service relationship
  server/meshmodel/relationships/network_edge.json
Labels: component/server, area/meshmodel

#7648 update Maintainers.md
  MAINTAINERS.md
Labels: kind/chore

#7621 Moved Storybook to its own directory
  storybook/.eslintrc.json
  storybook/.gitignore
  storybook/.storybook/main.js
  storybook/.storybook/preview.js
  storybook/README.md
  storybook/jsconfig.json
  storybook/next.config.js
  storybook/package-lock.json
  storybook/package.json
  storybook/pages/_app.js
  storybook/pages/_document.js
  storybook/pages/api/hello.js
  storybook/pages/index.js
  storybook/public/favicon.ico
  storybook/public/next.svg
  storybook/public/static/img/kubernetes.svg
  storybook/public/vercel.svg
  storybook/stories/Introduction.mdx
  storybook/stories/assets/code-brackets.svg
  storybook/stories/assets/colors.svg
  storybook/stories/assets/comments.svg
  storybook/stories/assets/direction.svg
  storybook/stories/assets/flow.svg
  storybook/stories/assets/plugin.svg
  storybook/stories/assets/repo.svg
  storybook/stories/assets/stackalt.svg
  storybook/stories/components/Button/Button.jsx
  storybook/stories/components/Button/Button.stories.jsx
  storybook/stories/components/Chip/Chip.jsx
  storybook/stories/components/Chip/Chip.stories.jsx
  storybook/stories/components/Header/AppBar.jsx
  storybook/stories/components/Header/AppBar.stories.jsx
  storybook/stories/pages/home.stories.jsx
  storybook/stories/themes/app.js
  storybook/styles/Home.module.css
  storybook/styles/globals.css
  ui/.eslintrc.js
  ui/.storybook/main.js
  ui/package-lock.json
  ui/package.json
  ui/stories/components/Button/Button.stories.jsx
Labels: component/ui

#7586 Replace the Logo of Layer5 with Meshery in config.yml workflow
  .github/config.yml
Labels: area/ci

#7607 feat: updated docs descriptions
  docs/pages/getting-started/overview.md
  docs/pages/guides/mesheryctl/working-with-mesheryctl.md
  docs/pages/project/index.md
  docs/pages/reference/mesheryctl-commands.md
  docs/pages/reference/mesheryctl/mesheryctl-app.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-filter.md
  docs/pages/reference/mesheryctl/mesheryctl-mesh.md
  docs/pages/reference/mesheryctl/mesheryctl-pattern.md
  docs/pages/reference/mesheryctl/mesheryctl.md
Labels: area/docs

#7597 fixed table header and updated overview link
  docs/pages/index.md
  docs/pages/project/index.md
Labels: area/docs

#7562 Update meshery logo
  .github/assets/images/readme/meshery-logo-dark-text-side.svg
  .github/assets/images/readme/meshery-logo-dark-text.svg
  .github/assets/images/readme/meshery-logo-light-text-side.svg
  .github/assets/images/readme/meshery-logo-light-text.svg
  README.md
Labels: area/ci

#7554 [feat] : smooth notification modal appearance
  ui/components/MesheryNotification.js
Labels: component/ui

#7604 docker extension user profile section refactored
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
Labels: component/extensions

#7636 Tooltip added for each adapter in MeshAdapterConfigComponent
  ui/components/MeshAdapterConfigComponent.js
Labels: component/ui, issue/dco

#7653 [storybook] Codemirror v6 editor story
  storybook/package-lock.json
  storybook/package.json
  storybook/stories/components/Editor/CodeEditor.stories.jsx
Labels: framework/storybook

#7652 Fix concurrent map writes #7386
  server/models/k8s_components_registration.go
Labels: kind/bug, component/server

#7605 Updated Command descriptions
  mesheryctl/internal/cli/root/app/app.go
  mesheryctl/internal/cli/root/filter/filter.go
  mesheryctl/internal/cli/root/mesh/mesh.go
  mesheryctl/internal/cli/root/pattern/pattern.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#7655 Duplicate cypress tag FIX
  ui/components/MeshAdapterConfigComponent.js
Labels: component/ui

#7660 Fix Remote component passed as undefined
  ui/components/PublishModal.js
Labels: component/ui

#7400 fix skipped nil checks in meshery server handlers
  server/models/remote_provider.go
Labels: component/server

#7667 Update node version in README.md
  ui/README.md
Labels: component/ui

#7668 [Bug] Fix Filters page
  ui/components/Filters.js
  ui/components/MesheryApplications/ApplicationsCard.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/YamlDialog.js
Labels: kind/bug, component/ui, priority/urgent, component/filters

#7259 Add ability to disable operator through meshconfig
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/config/config_test.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#7676 helm logo dark mode
  ui/components/MesheryApplications/ApplicationsCard.js
  ui/public/static/img/helm_chart-light.svg
  ui/public/static/img/helm_chart.svg
  ui/public/static/img/kubernetes_manifest-light.svg
Labels: component/ui

#7677 [CI] Meshery Playground: Combine workflows to prevent twice daily downtime
  .github/workflows/cncf-playground-reboot-machines.yaml
  .github/workflows/cncf-playground-reset.yaml
Labels: area/ci

#7571 While importing kubeconfig, showback information about K8s context registration
  server/handlers/k8sconfig_handler.go
  server/models/k8s_context.go
Labels: component/server

#7577 updating header for mobile view
  ui/components/Header.js
Labels: component/ui

#7684 [chore] Fix eslint error in UI
  ui/components/MesheryApplications/ApplicationsCard.js
  ui/components/telemetry/grafana/GrafanaCustomChart.js
Labels: kind/chore, component/ui

#7683 [extension] Add support to search users
  docs/_data/swagger.yml
  server/handlers/doc.go
  server/handlers/user_handler.go
  server/helpers/swagger.yaml
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/providers.go
  server/models/remote_provider.go
  server/models/user.go
  server/router/server.go
Labels: area/docs, component/extensions, component/server

#7670 [Extensions] Dark mode color reference update
  ui/themes/app.js
Labels: component/ui, component/extensions

#7689 Updated the application icon with the one from figma files
  ui/public/static/img/drawer-icons/application_svg.js
Labels: component/ui, framework/react

#7654 [OPA] initialise OPA policy evaluation engine
  docs/_data/swagger.yml
  go.mod
  go.sum
  server/handlers/error.go
  server/handlers/policy_relationship_handler.go
  server/helpers/swagger.yaml
  server/meshmodel/policies/network-policy.rego
  server/models/handlers.go
  server/router/server.go
Labels: area/docs, component/server, component/policy

#7695 fix: mui datatables warning for scrollMaxHeight
  ui/components/DashboardComponent.js
  ui/components/Header.js
  ui/components/MesherySettings.js
Labels: component/ui

#7698 Fixed pagination issue in meshery design page
  ui/components/MesheryPatterns.js
Labels: component/ui

#6770 Github Action to tweet when labeled with tag "issue/tweet"
  .github/workflows/label-tweet.yml
Labels: issue/stale, area/ci

#7702 add network policy as a relationship
  server/meshmodel/relationships/network_policy_edge.json
Labels: component/server

#7701 [UI] Settings: Addressing inconsistencies between sections
  ui/components/MeshAdapterConfigComponent.js
  ui/components/MeshConfigComponent.js
  ui/components/MesherySettings.js
  ui/components/ReactSelectWrapper.js
  ui/components/telemetry/grafana/GrafanaConfigComponent.js
  ui/components/telemetry/prometheus/PrometheusConfigComponent.js
Labels: component/ui

#7413 [UI] fixed dark mode issues in Meshery UI
  ui/components/MesheryApplications/ApplicationsCard.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
  ui/components/MesheryNotification.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPerformance/PerformanceCard.js
Labels: component/ui

#7709 [Meshmap] Dark mode enhancements
  ui/themes/app.js
Labels: component/ui

#7711 [chore] Fix user search
  server/handlers/user_handler.go
  server/models/default_local_provider.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: kind/chore, component/server

#7712 [Playground] NGINX container config
  install/playground/docker/nginx.conf
Labels: playground

#7656 Migrate meshery-ui tracking to google tag manager
  ui/pages/_document.js
Labels: component/ui

#7704 Feature Description Added Importing App Manifest
  docs/_data/toc.yml
  docs/assets/img/applications/ImportApp.png
  docs/assets/img/applications/Menu.png
  docs/pages/guides/Importing-Apps.md
Labels: area/docs

#7723 Fixed import package
  storybook/stories/components/Avatar/Avatar.jsx
Labels: framework/storybook

#7725 save and delete designs in grid view
  ui/components/MesheryPatterns/MesheryPatternCard.js
Labels: component/ui

#7718 [Playground] Deployment update for single node k8s cluster
  install/playground/docker/Makefile
  install/playground/docker/docker-compose.yaml
  install/playground/docker/meshery-playground-deployment.png
  install/playground/kubernetes/contour-http-proxy.yaml
  install/playground/kubernetes/ingress-nginx-ingress-configmap.yaml
  install/playground/kubernetes/meshery-playground-deployment.yaml
  install/playground/kubernetes/metallb.yaml
  install/playground/kubernetes/nginx-ingress.yml
  install/playground/kubernetes/nginx.conf
  install/playground/kubernetes/nodeexporter.service
  install/playground/kubernetes/prometheus.yaml
  install/playground/readme.md
Labels: area/devops, playground

#7713 Modify CLI guide for docs
  docs/pages/project/contributing/contributing-cli.md
Labels: area/docs

#7714 [Meshsync Subsription Leak] Fix GrapqhQL subscription memory leak
  server/internal/graphql/resolver/schema.resolvers.go
Labels: component/server

#7685 Fix search and add counts to meshmodel APIs
  go.mod
  go.sum
  server/handlers/component_handler.go
  server/handlers/doc.go
  server/handlers/k8sconfig_handler.go
  server/handlers/relationship_handlers.go
  server/helpers/swagger.yaml
  server/internal/graphql/resolver/meshmodel.go
  server/models/meshery_meshmodels_api_response.go
  server/models/pattern/core/pattern.go
  server/models/pattern/resource/selector/workload.go
  server/router/server.go
Labels: component/server

#7731 [playground] Add missing restart policy to Meshery Docker Compose
  install/playground/docker/docker-compose.yaml
Labels: kind/chore, playground

#7658 Fixing e2e test for user_spec
  ui/.husky/pre-commit
  ui/components/MeshAdapterConfigComponent.js
  ui/cypress.config.js
  ui/cypress/actionHelpers/graphql-test-utils.js
  ui/cypress/e2e/e2e/lifecyclecheck_spec.js
  ui/cypress/e2e/e2e/settings_spec.js
  ui/cypress/e2e/e2e/userpreference_spec.js
  ui/cypress/e2e/integration/indexui_spec.js
  ui/cypress/e2e/integration/settings_spec.js
Labels: component/ui, area/tests

#7734 [cypress] Skip few e2e tests until fixed.
  ui/cypress/e2e/e2e/userpreference_spec.js
Labels: component/ui

#7722 [Server] Platform detect func improvement
  server/helpers/adapters_tracker.go
  server/helpers/error.go
  server/helpers/utils/utils.go
  server/internal/graphql/resolver/adaptor.go
Labels: component/server

#7736 [Feature] - Search Functionality for MeshModel Browser and a Tab for Displaying Relationships
  ui/api/meshmodel.js
  ui/components/MeshModelComponent.js
  ui/components/MesherySettings.js
  ui/constants/navigator.js
  ui/utils/debounce.js
Labels: component/ui

#7728 feat: add Beta badge on meshmap title
  ui/components/ExtensionSandbox.js
  ui/components/Navigator.js
  ui/pages/extension/[...component].js
  ui/utils/ExtensionPointSchemaValidator.js
Labels: component/ui, component/extensions

#7726 move dark mode under preferences menu
  ui/components/User.js
  ui/components/UserPreferences.js
  ui/pages/_app.js
  ui/pages/user/preferences.js
  ui/utils/theme.js
Labels: component/ui

#7688 Fix eslint typeof warning
  ui/components/telemetry/grafana/GrafanaCustomChart.js
Labels: component/ui

#7721 meshsync update documented
  docs/pages/concepts/architecture/meshsync.md
Labels: area/docs

#7749 Fixing the key-spacing error (in app.js file) occurring on 'RUN ESLint Meshery-UI'
  ui/themes/app.js
Labels: component/ui

#7745 Add Meshery Extensions Issue_Template
  .github/ISSUE_TEMPLATE/meshery-extensions_bug.md
  .github/ISSUE_TEMPLATE/meshery-extensions_feature.md
Labels: area/ci

#7755 Fixing the key spacing error again for the updated UI
  ui/themes/app.js
Labels: component/ui

#7751 Fix no-useful test case
  server/internal/sql/map_test.go
Labels: component/server, component/database

#7748 [DevOps] Playground: Configure Nginx for Docker Deployment
  install/playground/docker/nginx.conf
Labels: playground

#7759 feat: Add two test cases for meshery auth
  mesheryctl/pkg/utils/auth_test.go
Labels: component/mesheryctl
