Repository meshery/meshery, pull requests merged in 2023-10, with the labels that each got.

#8969 [Extension] Docker: Update docker-compose.yaml
  install/docker-extension/docker-compose.yaml
Labels: component/extensions, docker

#8947 [Docs] Control the display of the intra-page navigator toolbar
  docs/_data/toc.yml
  docs/_layouts/default.html
  docs/_sass/sidebar.scss
  docs/pages/guides/deploying-sample-apps.md
  docs/pages/index.md
  docs/pages/installation/quick-start.md
  docs/pages/project/community.md
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#8912 Added info modal in meshery
  server/handlers/meshery_filter_handler.go
  server/handlers/meshery_pattern_handler.go
  server/models/meshery_filter.go
  server/models/meshery_pattern.go
  server/models/remote_provider.go
  ui/assets/icons/OriginalApplicationIcon.js
  ui/components/Filters.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/Modals/Information/InfoModal.js
  ui/components/Modals/Information/styles.js
  ui/constants/endpoints.js
  ui/utils/utils.js
Labels: component/ui, component/server

#8990 Revert "Bump github.com/docker/cli from 20.10.21+incompatible to 24.0.6+incompatible"
  go.mod
  go.sum
Labels: area/ci, component/server

#8939 UI enhancements and Standardized Data Tables
  ui/components/DatabaseSummary.js
  ui/components/Filters.js
  ui/components/Header.js
  ui/components/MeshConfigComponent.js
  ui/components/MeshModelComponent.js
  ui/components/MesheryCredentialComponent.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/searchcommon.js
  ui/themes/app.js
  ui/themes/configurationTableTheme.js
  ui/utils/custom-column.js
  ui/utils/custom-search.js
  ui/utils/data-table.js
  ui/utils/responsive-column.js
Labels: component/ui, pr/do-not-merge

#8999 [Server] Add APIs for bulk operations on events
  server/handlers/error.go
  server/handlers/events_streamer.go
  server/helpers/component_info.json
  server/models/events.go
  server/models/events_persister.go
  server/models/handlers.go
  server/router/server.go
  ui/rtk-query/notificationCenter.js
Labels: component/ui, component/server

#8992 refactor(server): remove redundant `len` check
  server/handlers/component_generation.go
  server/models/grafana_helper.go
  server/models/pattern/resource/selector/workload.go
Labels: kind/chore, language/go, component/server

#9015 [Server] Fix race cond in k8s comp registration
  server/internal/graphql/resolver/operator.go
  server/models/k8s_components_registration.go
  server/models/k8s_context.go
  server/models/meshery_controllers.go
Labels: component/server

#9014 [FIXED] mesheryctl error code conflicts solved
  mesheryctl/internal/cli/root/app/error.go
  mesheryctl/internal/cli/root/app/view.go
  mesheryctl/internal/cli/root/system/error.go
  mesheryctl/pkg/utils/error.go
Labels: component/mesheryctl

#9028 fix: Swap Table and Grid icons on Activity Toolbar
  ui/components/ViewSwitch.js
Labels: component/ui

#9025 [UI] Fix darkmode issue in extentions
  ui/components/Header.js
Labels: component/ui

#9024 Fix ui issues
  ui/assets/icons/search.js
  ui/components/ConfirmationModal.js
  ui/components/GenericModal.js
  ui/components/MeshConfigComponent.js
  ui/components/MesheryCredentialComponent.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/index.js
  ui/components/Modal.js
  ui/utils/custom-column.js
  ui/utils/custom-search.js
  ui/utils/data-table.js
Labels: component/ui

#8989 Fix Hover
  ui/components/Navigator.js
Labels: component/ui

#9041 [UI] Add Menu colors to theme
  ui/themes/app.js
Labels: component/ui

#9047 Deleted Duplicate line in Docs #9017
  docs/pages/project/contributing/contributing.md
Labels: area/docs

#8997 Update Artifacts sub-section in documentation
  docs/pages/project/contributing/ci-build-and-release.md
Labels: area/docs

#9046 [UI] rename MeshModel Summary to Registry in Settings
  ui/components/Dashboard/DashboardMeshModelGraph.js
  ui/components/MesherySettings.js
  ui/utils/custom-column.js
Labels: component/ui

#9021 fixed the filter-dropdown component
  ui/assets/styles/general/tool.styles.js
  ui/utils/custom-column.js
Labels: component/ui

#9056 fix lint error issue
  ui/utils/custom-column.js
Labels: component/ui

#9018 Bulk Operations and Metadata Renderers
  ui/assets/icons/InfoIcon.js
  ui/components/DataFormatter/README.md
  ui/components/DataFormatter/index.js
  ui/components/Header.js
  ui/components/NotificationCenter/README.md
  ui/components/NotificationCenter/constants.js
  ui/components/NotificationCenter/index.js
  ui/components/NotificationCenter/metadata.js
  ui/components/NotificationCenter/notification.js
  ui/components/NotificationCenter/notificationCenter.style.js
  ui/components/NotificationCenter/shared.style.js
  ui/components/graphql/subscriptions/EventsSubscription.js
  ui/pages/_app.js
  ui/rtk-query/notificationCenter.js
  ui/store/slices/events.js
  ui/themes/app.js
  ui/utils/objects.js
  ui/utils/theme.js
Labels: component/ui

#9059 added links in MeshMap Documentation
  docs/pages/extensions/meshmap/index.md
Labels: area/docs

#9054 [README.md] bold styling not applied to text
  README.md
Labels: area/docs

#8965 [UI] Added helm connection Wizard
  ui/assets/icons/DesignIcon.js
  ui/assets/icons/FinishFlagIcon.js
  ui/assets/icons/FolderIcon.js
  ui/assets/icons/Tipsicon.js
  ui/assets/icons/technology/HelmIcon.js
  ui/components/Connect/connections/helm-connect/StepperContent.js
  ui/components/Connect/connections/helm-connect/constants.js
  ui/components/Connect/connections/helm-connect/utils.js
  ui/components/Connect/index.js
  ui/components/Connect/stepper/Stepper.js
  ui/components/Connect/stepper/StepperContentWrapper.js
  ui/components/Connect/stepper/index.js
  ui/components/Connect/styles.js
  ui/components/General/TipsCarousel.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomURLWidget.js
  ui/components/MesheryMeshInterface/PatternService/RJSF_wrapper.js
  ui/pages/connect/[...connection].js
  ui/rtk-query/connection.js
  ui/rtk-query/schema.js
  ui/themes/rjsf.js
Labels: component/ui

#9074 Disable edit and create action button in credential and fix all lint warning and errors
  ui/components/DataFormatter/index.js
  ui/components/MesheryCredentialComponent.js
  ui/components/MesheryPerformance/PerformanceCard.js
  ui/pages/_document.js
  ui/rtk-query/notificationCenter.js
  ui/store/slices/events.js
  ui/utils/can.js
  ui/utils/theme.js
Labels: component/ui

#9070 [meshmodel] Add Environment Component Def
  server/meshmodel/kubernetes/v1.25.2/CSIDriver.json
  server/meshmodel/kubernetes/v1.25.2/CSINode.json
  server/meshmodel/kubernetes/v1.25.2/CSIStorageCapacity.json
  server/meshmodel/kubernetes/v1.25.2/PersistentVolume.json
  server/meshmodel/kubernetes/v1.25.2/PersistentVolumeClaim.json
  server/meshmodel/kubernetes/v1.25.2/Secret.json
  server/meshmodel/kubernetes/v1.25.2/StatefulSet.json
  server/meshmodel/meshery/1.0.0/Barrel.json
  server/meshmodel/meshery/1.0.0/BottomRoundRectangle.json
  server/meshmodel/meshery/1.0.0/ConcaveHexagon.json
  server/meshmodel/meshery/1.0.0/CutRectangle.json
  server/meshmodel/meshery/1.0.0/Diamond.json
  server/meshmodel/meshery/1.0.0/Environment.json
  server/meshmodel/meshery/1.0.0/Heptagon.json
  server/meshmodel/meshery/1.0.0/Hexagon.json
  server/meshmodel/meshery/1.0.0/Pentagon.json
  server/meshmodel/meshery/1.0.0/Polygon.json
  server/meshmodel/meshery/1.0.0/Rhomboid.json
  server/meshmodel/meshery/1.0.0/RightRhomboid.json
  server/meshmodel/meshery/1.0.0/RoundTag.json
  server/meshmodel/meshery/1.0.0/Star.json
  server/meshmodel/meshery/1.0.0/Tag.json
  server/meshmodel/meshery/1.0.0/Triangle.json
  server/meshmodel/meshery/1.0.0/Vee.json
Labels: component/server, area/meshmodel

#9086 Add docs for Bulk Operations and Metadata Renderers
  docs/pages/project/contributing/contributing-ui-notification-center.md
Labels: area/docs

#9087 [Docs] MeshSync
  docs/pages/concepts/architectural/meshsync.md
Labels: component/meshsync

#9089 Updated EKS Docs
  docs/pages/installation/eks.md
Labels: area/docs

#9092 [Docs] CSS removal and alert info background
  docs/_includes/alert.html
  docs/_sass/alert.scss
  docs/_sass/layout.scss
  docs/_sass/root-variables.scss
  docs/assets/css/dark-mode-preview.css
  docs/assets/css/just-the-docs.css
  docs/assets/css/main.css
  docs/assets/css/terminal.css
  docs/pages/concepts/architectural/meshsync.md
  docs/pages/installation/quick-start.md
Labels: area/docs

#9071 [UI]fix incorrect error message description
  ui/components/MeshConfigComponent.js
Labels: component/ui

#9083 Added Flow Schema Icons
  ui/assets/new-icons/Flow Schema - Colored.svg
  ui/assets/new-icons/Flow Schema - White.svg
  ui/assets/new-icons/Flow Schema Icon - Colored.svg
  ui/assets/new-icons/Flow Schema Icon - White.svg
Labels: component/ui

#9016 Uploaded Icon for Kubernetes Component - Ingress
  ui/assets/new-icons/Kubernetes Comp  ingresOriginal With Color.svg
  ui/assets/new-icons/Kubernetes Comp ingresOriginal without color.svg
Labels: component/ui

#9069 Added-icon-for-meshmodel-prometheus-component-Alertmanager
  ui/assets/new-icons/prometheus-alertmanager/prometheusalertmanager-color.svg
  ui/assets/new-icons/prometheus-alertmanager/prometheusalertmanager-white.svg
Labels: component/ui

#9098 meshkit v0.6.72
  go.mod
  go.sum
Labels: pr/dependencies, language/go

#9102 Upgrade lib/pq
  go.mod
  go.sum
Labels: pr/dependencies, language/go

#9097 cuelang.org/go v0.6.0
  go.mod
  go.sum
Labels: pr/dependencies, language/go

#9101 Upgrade asaskevich/govalidator
  go.mod
  go.sum
Labels: pr/dependencies, language/go

#9099 meshery-operator v0.6.13
  go.mod
  go.sum
Labels: pr/dependencies, language/go

#9111 [UI] Deps: "react-redux": "^8.1.3",
  ui/package.json
Labels: component/ui

#9117 [bug] fix confirmation modal export
  ui/components/ConfirmationModal.js
Labels: component/ui

#9119 [bug] Revert react-redux
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#9121 [UI] Add ordering in metadata
  ui/components/DataFormatter/index.js
  ui/components/NotificationCenter/metadata.js
  ui/components/NotificationCenter/notification.js
Labels: component/ui

#9127 [MeshSync] Update MeshSync Tables + GO pkgs
  go.mod
  go.sum
  server/cmd/main.go
  server/handlers/database_handlers.go
  server/handlers/design_engine_handler.go
  server/internal/graphql/model/addons_helper.go
  server/internal/graphql/model/control_plane_helper.go
  server/internal/graphql/model/data_plane_helper.go
  server/internal/graphql/model/helpers.go
  server/internal/graphql/model/meshsync_helper.go
  server/internal/graphql/resolver/kubernetes.go
  server/internal/graphql/resolver/meshsync.go
  server/internal/graphql/resolver/telemetry.go
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/k8s_context.go
  server/models/meshery_pattern.go
  server/models/meshsync_events.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
Labels: pr/draft, component/server

#9139 [Docs] Rewrite of Quick Start Guide
  docs/_includes/related-discussions.html
  docs/_sass/elements.scss
  docs/_sass/small-screen-styles.scss
  docs/assets/img/platforms/docker-desktop-meshery-extension.png
  docs/assets/img/platforms/k8s-context-switcher.png
  docs/assets/img/platforms/meshery-designs.png
  docs/assets/img/platforms/meshery-settings.png
  docs/assets/img/platforms/performance-management/chart.png
  docs/assets/img/platforms/performance-management/comparison-table.png
  docs/assets/img/platforms/performance-management/comparison.png
  docs/assets/img/platforms/performance-management/dashboard.png
  docs/assets/img/platforms/performance-management/grafana-dashboard.png
  docs/assets/img/platforms/performance-management/meshery-and-grafana.png
  docs/assets/img/platforms/performance-management/performance-management-dashboard.png
  docs/assets/img/platforms/performance-management/performance-profiles.png
  docs/assets/img/platforms/performance-management/result-chart.png
  docs/assets/img/platforms/performance-management/results-table.png
  docs/assets/img/platforms/performance-management/running-tests-spinner.png
  docs/assets/img/platforms/performance-management/running-tests.png
  docs/pages/index.md
  docs/pages/installation/index.md
  docs/pages/installation/quick-start.md
  docs/pages/installation/scoop.md
  docs/pages/project/contributing/contributing-ui-notification-center.md
  docs/pages/tasks/accessing-meshery-ui.md
Labels: area/docs

#9126 Added contents in FAQ.md.
  docs/pages/project/FAQ.md
Labels: area/docs

#9143 [MeshSync] Expose MeshSync Discovered Resources
  docs/_data/swagger.yml
  server/handlers/doc.go
  server/handlers/error.go
  server/handlers/meshsync_handler.go
  server/helpers/swagger.yaml
  server/models/handlers.go
  server/models/meshsync.go
  server/router/server.go
Labels: area/docs, component/server

#9147 [Docs] Restructure, Menu and TOC massage
  docs/_data/toc.yml
  docs/_includes/sidebar.html
  docs/_sass/layout.scss
  docs/_sass/sidebar.scss
  docs/_sass/table-of-content.scss
  docs/pages/concepts/architectural/service-meshes/adapters.md
  docs/pages/concepts/logical/models.md
  docs/pages/getting-started/overview.md
  docs/pages/installation/index.md
  docs/pages/installation/platforms.md
  docs/pages/project/contributing/ci-build-and-release.md
  docs/pages/project/contributing/contributing-meshmodel.md
  docs/pages/project/index.md
  docs/pages/project/project.md
Labels: area/docs

#9065 [WIP] Add docs for connection states
  docs/_data/toc.yml
  docs/_includes/sidebar.html
  docs/_sass/navbar.scss
  docs/_sass/sidebar.scss
  docs/_sass/table-of-content.scss
  docs/pages/concepts/logical/connections.md
Labels: area/docs

#9148 Fix Meshery Docs search
  docs/_sass/sidebar.scss
Labels: area/docs

#9064 [DOCS] added sending events section in docs
  docs/_data/toc.yml
  docs/pages/project/contributing/contributing-sever-events.md
Labels: area/docs

#9151 Component generator
  .github/workflows/meshmodel-generators.yml
Labels: area/ci

#9152 [UI] Disable credential in settings
  ui/components/MesherySettings.js
Labels: component/ui

#9063 mesheryctl mesh tests
  mesheryctl/internal/cli/root/filter/delete_test.go
  mesheryctl/internal/cli/root/filter/testdata/delete.kuma.output.golden
  mesheryctl/internal/cli/root/filter/testdata/delete.rollout.output.golden
  mesheryctl/internal/cli/root/mesh/deploy_test.go
  mesheryctl/internal/cli/root/mesh/fixtures/deploy.golden
  mesheryctl/internal/cli/root/mesh/fixtures/token.golden
  mesheryctl/internal/cli/root/mesh/remove.go
  mesheryctl/internal/cli/root/mesh/remove_test.go
  mesheryctl/internal/cli/root/mesh/testdata/deploy.appmesh.output.golden
  mesheryctl/internal/cli/root/mesh/testdata/deploy.istio.output.golden
  mesheryctl/internal/cli/root/mesh/testdata/deploy.linkerd.output.golden
  mesheryctl/internal/cli/root/mesh/testdata/deploy.nginx.output.golden
  mesheryctl/internal/cli/root/mesh/testdata/deploy.osm.output.golden
  mesheryctl/internal/cli/root/mesh/testdata/remove.cilium.output.golden
  mesheryctl/internal/cli/root/mesh/testdata/remove.linkerd-namespace.output.golden
  mesheryctl/internal/cli/root/mesh/testdata/remove.linkerd.output.golden
  mesheryctl/internal/cli/root/system/testdata/reset/TestResetContexts.yaml
Labels: component/mesheryctl

#9153 Component genrator
  .github/workflows/meshmodel-generators.yml
Labels: area/ci

#9159 [UI] Dashboard workload chart
  ui/components/Dashboard/WorkloadChart.js
  ui/components/DashboardComponent.js
Labels: component/ui

#9075 [UI] Converted MesheryPerformanceComponent from class-based to functional component
  ui/components/MesheryPerformance/helper.js
  ui/components/MesheryPerformance/index.js
Labels: component/ui

#9163 [Meshery Performance] fixed one small bug
  ui/components/MesheryPerformance/index.js
Labels: component/ui

#9164 [docs/bugs] Update index.md
  docs/pages/installation/index.md
Labels: kind/bug, area/docs

#9157 [chore] Support for Visibility in Content APIs | CU-85ztrgw1z
  docs/_data/swagger.yml
  server/handlers/meshery_filter_handler.go
  server/handlers/meshery_pattern_handler.go
  server/helpers/swagger.yaml
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/filter.go
  server/internal/graphql/resolver/pattern.go
  server/internal/graphql/schema/schema.graphql
  server/models/default_local_provider.go
  server/models/meshery_filter_persister.go
  server/models/meshery_pattern_persister.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: area/docs, component/api, component/server

#9168 [Docs]: Add section describing the use of children and grandchildren
  docs/_data/toc.yml
  docs/assets/img/platforms/bash.png
  docs/assets/img/platforms/linux_mac.png
  docs/pages/installation/bash.md
  docs/pages/installation/brew.md
  docs/pages/installation/linux.md
Labels: area/docs

#9167 Add new component text-box
  server/meshmodel/meshery/1.0.0/Barrel.json
  server/meshmodel/meshery/1.0.0/BottomRoundRectangle.json
  server/meshmodel/meshery/1.0.0/ConcaveHexagon.json
  server/meshmodel/meshery/1.0.0/CutRectangle.json
  server/meshmodel/meshery/1.0.0/Diamond.json
  server/meshmodel/meshery/1.0.0/Heptagon.json
  server/meshmodel/meshery/1.0.0/Hexagon.json
  server/meshmodel/meshery/1.0.0/Pentagon.json
  server/meshmodel/meshery/1.0.0/Polygon.json
  server/meshmodel/meshery/1.0.0/Rectangle.json
  server/meshmodel/meshery/1.0.0/Rhomboid.json
  server/meshmodel/meshery/1.0.0/RightRhomboid.json
  server/meshmodel/meshery/1.0.0/RoundDiamond.json
  server/meshmodel/meshery/1.0.0/RoundHeptagon.json
  server/meshmodel/meshery/1.0.0/RoundHexagon.json
  server/meshmodel/meshery/1.0.0/RoundOctagon.json
  server/meshmodel/meshery/1.0.0/RoundPentagon.json
  server/meshmodel/meshery/1.0.0/RoundRectangle.json
  server/meshmodel/meshery/1.0.0/RoundTriangle.json
  server/meshmodel/meshery/1.0.0/Star.json
  server/meshmodel/meshery/1.0.0/Tag.json
  server/meshmodel/meshery/1.0.0/TextBox.json
  server/meshmodel/meshery/1.0.0/Triangle.json
  server/meshmodel/meshery/1.0.0/Vee.json
Labels: component/server

#9140 Updated minikube.md
  docs/pages/installation/minikube.md
Labels: area/docs

#9141 Updated aks.md and added helm.md
  docs/pages/installation/aks.md
  docs/pages/installation/helm.md
Labels: area/docs

#9171 [Docs] Mesheryctl page: Eliminate cycical redirection / flicker
  docs/_config.yml
  docs/_config_dev.yml
  docs/_data/toc.yml
  docs/_includes/compatibility/rancher.md
  docs/_includes/compatibilityMatrix.md
  docs/_includes/mesheryctl/installation-bash.md
  docs/_includes/mesheryctl/installation-brew.md
  docs/_includes/mesheryctl/installation-scoop.md
  docs/pages/installation/bash.md
  docs/pages/installation/brew.md
  docs/pages/installation/compatibility-matrix.md
  docs/pages/installation/kubernetes.md
  docs/pages/installation/linux-mac.md
  docs/pages/installation/mesheryctl.md
  docs/pages/installation/quick-start.md
  docs/pages/installation/scoop.md
  docs/pages/installation/windows.md
  docs/pages/project/compatibility_matrix/cilium-past-results.md
  docs/pages/project/compatibility_matrix/compatibility.md
  docs/pages/project/compatibility_matrix/consul-past-results.md
  docs/pages/project/compatibility_matrix/istio-past-results.md
  docs/pages/project/compatibility_matrix/kuma-past-results.md
  docs/pages/project/compatibility_matrix/linkerd-past-results.md
  docs/pages/project/compatibility_matrix/nginx-past-results.md
  docs/pages/project/compatibility_matrix/osm-past-results.md
  docs/pages/project/compatibility_matrix/traefik-mesh-past-results.md
  docs/pages/project/contributing/meshery-windows.md
  docs/pages/reference/troubleshooting/installation.md
Labels: area/docs

#9176 Minor typo and format changes in Supported docs
  docs/pages/installation/aks.md
  docs/pages/installation/eks.md
  docs/pages/installation/minikube.md
  docs/pages/tasks/accessing-meshery-ui.md
Labels: area/docs

#9160 [mesheryctl] fixed meshery start command bug with adapter components
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#9177 Standaridization of gke installation docs
  docs/pages/installation/gke.md
Labels: area/docs

#9154 Fix Console error in Meshery cloud
  ui/pages/_app.js
Labels: component/ui, pr/hold

#9186 [bug] Fix env component
  server/meshmodel/meshery/1.0.0/Environment.json
Labels: component/server

#9187 Standardization of minikube.md
  docs/pages/installation/eks.md
  docs/pages/installation/gke.md
  docs/pages/installation/kinD.md
  docs/pages/installation/minikube.md
  docs/pages/tasks/accessing-meshery-ui.md
Labels: area/docs

#9178 [Docs] Site index update; Projects section update
  docs/_data/toc.yml
  docs/_sass/helpers.scss
  docs/pages/guides/Importing-Apps.md
  docs/pages/guides/configuration-management.md
  docs/pages/guides/deploying-sample-apps.md
  docs/pages/guides/index.md
  docs/pages/guides/meshery-design.md
  docs/pages/guides/meshery-metrics.md
  docs/pages/guides/mesheryctl/authenticate-with-meshery-via-cli.md
  docs/pages/guides/mesheryctl/configuring-autocompletion-for-mesheryctl.md
  docs/pages/guides/mesheryctl/index.md
  docs/pages/guides/mesheryctl/running-system-checks-using-mesheryctl.md
  docs/pages/guides/mesheryctl/working-with-mesheryctl.md
  docs/pages/guides/multiple-of-the-same-adapter.md
  docs/pages/guides/performance-management.md
  docs/pages/guides/pipelining-service-mesh-specifications.md
  docs/pages/guides/smi-conformance.md
  docs/pages/guides/upgrade.md
  docs/pages/index.md
  docs/pages/installation/compatibility-matrix.md
  docs/pages/installation/linux-mac.md
  docs/pages/installation/mesheryctl.md
  docs/pages/installation/scoop.md
  docs/pages/installation/windows.md
  docs/pages/project/FAQ.md
  docs/pages/project/community.md
  docs/pages/project/contributing/ci-build-and-release.md
  docs/pages/project/contributing/contributing-adapters.md
  docs/pages/project/contributing/contributing-cli.md
  docs/pages/project/contributing/contributing-cypress.md
  docs/pages/project/contributing/contributing-docker-extension.md
  docs/pages/project/contributing/contributing-docs.md
  docs/pages/project/contributing/contributing-error.md
  docs/pages/project/contributing/contributing-guidelines.md
  docs/pages/project/contributing/contributing-models.md
  docs/pages/project/contributing/contributing-sever-events.md
  docs/pages/project/contributing/contributing-ui-notification-center.md
  docs/pages/project/contributing/contributing-ui.md
  docs/pages/project/contributing/contributing.md
  docs/pages/project/contributing/meshery-server.md
  docs/pages/project/index.md
  docs/pages/project/project.md
  docs/pages/project/releases.md
  docs/pages/project/security-vulnerabilities.md
  docs/pages/reference/troubleshooting/index.md
  docs/pages/reference/troubleshooting/installation.md
  docs/pages/reference/troubleshooting/running.md
  docs/pages/tasks/index.md
Labels: area/docs

#9191 [CI] update dockerfile and set code-coverage cy plugin to devDep
  install/docker/Dockerfile
  provider-ui/package-lock.json
  provider-ui/package.json
  provider-ui/pages/api/__coverage__.js
  ui/package-lock.json
  ui/package.json
  ui/pages/_app.js
  ui/pages/api/__coverage__.js
Labels: component/ui

#9197 [Relationships] Update `mount` relationship.
  server/meshmodel/kubernetes/relationships/mount_edge.json
Labels: component/server

#9202 Docker broken link fixed in README
  README.md
Labels: issue/dco

#8902 Sort data in connections
  ui/assets/icons/Connection.js
  ui/assets/icons/Meshsync.js
  ui/components/DataFormatter/index.js
  ui/components/Navigator.js
  ui/components/connections/MeshsyncTable.js
  ui/components/connections/index.js
  ui/components/connections/styles.js
  ui/themes/app.js
  ui/utils/data-table.js
Labels: component/ui

#9155 fix: updtate twitter logo to x
  docs/_includes/footer.html
  docs/_sass/footer.scss
  docs/pages/index.md
Labels: area/docs

#9208 [CI] fixed golangci lint failure
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/pkg/utils/healthcheck.go
Labels: component/mesheryctl

#9194 [CI] fixed meshkit error util failure
  server/helpers/component_info.json
Labels: component/server

#9209 add new relationship from pod to pod via networkpolicy
  server/meshmodel/kubernetes/policies/binding.rego
  server/meshmodel/kubernetes/relationships/firewall.json
Labels: component/server

#9201 Standardization of kubernetes.md
  docs/pages/installation/eks.md
  docs/pages/installation/helm.md
  docs/pages/installation/kinD.md
  docs/pages/installation/kubernetes.md
Labels: area/docs

#9188 [mesheryctl] `system start` command bug of deployment of config components adapters
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#9222 [Server] Fix MeshMap snapshot service
  server/handlers/meshery_application_handler.go
Labels: component/server

#9137 feat: Update several packages in Meshery
  go.mod
  go.sum
  install/docker/Dockerfile
  server/handlers/design_engine_handler.go
  server/helpers/load_test_interface.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/resolver/schema.resolvers.go
Labels: component/server

#9233 [bug/CI] fix provider-lint
  provider-ui/components/Provider.js
  provider-ui/components/Provider.style.js
Labels: kind/bug, component/ui

#9219 Added New Script for Generating integration docs
  docs/assets/img/integrations/test.svg
  docs/pages/integrations/test.md
  scripts/component_docs_generator/Readme.md
  scripts/component_docs_generator/go.mod
  scripts/component_docs_generator/helpers/docs_creator.go
  scripts/component_docs_generator/helpers/file_downloader.go
  scripts/component_docs_generator/index.json
  scripts/component_docs_generator/main.go
Labels: area/docs

#9230 [FIXED] mesheryctl app source type comparison bug is fixed
  mesheryctl/internal/cli/root/app/app.go
  mesheryctl/internal/cli/root/app/error.go
  mesheryctl/internal/cli/root/app/import.go
  mesheryctl/internal/cli/root/app/onboard.go
Labels: component/mesheryctl

#9238 Add `workflow_dispatch` to run workflow manually.
  .github/workflows/go-mod-sync.yaml
Labels: area/ci

#9242 Temporary WF for Integration Docs Generator
  .github/workflows/meshmdoel-generator-temp.yml
Labels: area/ci

#9247 Added the go command to generate docs
  .github/workflows/meshmdoel-generator-temp.yml
Labels: area/ci

#9248 [Docs] Page for all integrations
  docs/pages/integrations/index.md
Labels: area/docs

#9172 [Docs] TOC: Add section describing the use of children and grandchildren
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#9249 [UI] Dark mode issue in connections table
  ui/components/connections/styles.js
  ui/themes/app.js
Labels: component/ui

#9185 [content] Migrate Apps -> Designs
  docs/_data/swagger.yml
  server/handlers/meshery_application_handler.go
  server/handlers/meshery_pattern_handler.go
  server/helpers/swagger.yaml
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/meshery_application.go
  server/models/meshery_pattern.go
  server/models/meshery_pattern_persister.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
  ui/components/MesheryPatterns.js
  ui/components/Navigator.js
  ui/components/UploadImport.js
  ui/components/graphql/subscriptions/ConfigurationSubscription.js
  ui/next.config.js
  ui/pages/configuration/applications.js
Labels: area/docs, component/ui, component/server
