Repository meshery/meshery, pull requests merged in 2023-12, with the labels that each got.

#9509 fix typo in model name
  server/meshmodel/meshery-core/connection/meshery.json
  server/meshmodel/meshery-core/credential/meshery.json
Labels: component/server

#9512 [Server] Update Policies and relationships
  server/meshmodel/kubernetes/policies/edge_binding.rego
  server/meshmodel/kubernetes/policies/edge_network.rego
  server/meshmodel/kubernetes/policies/hierarchical_inventory.rego
  server/meshmodel/kubernetes/policies/hierarchichal_parent.rego
  server/meshmodel/kubernetes/policies/sibling_matchlabels.rego
  server/meshmodel/kubernetes/relationships/edge_firewall.json
  server/meshmodel/kubernetes/relationships/edge_mount.json
  server/meshmodel/kubernetes/relationships/edge_network.json
  server/meshmodel/kubernetes/relationships/edge_permission.json
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
  server/meshmodel/kubernetes/relationships/sibling_matchlabels.json
  server/router/server.go
Labels: component/server

#9513 [bug] Fix Scroll bug in registry :- Registry Enhance(1/3)
  ui/components/MeshModelRegistry/MesheryTreeView.js
Labels: kind/bug, component/ui

#9514 [Dashboard] - Dashboard datattable sorting
  ui/components/DashboardComponent/resources/configuration/config.js
  ui/components/DashboardComponent/resources/namespace/config.js
  ui/components/DashboardComponent/resources/network/config.js
  ui/components/DashboardComponent/resources/nodes/config.js
  ui/components/DashboardComponent/resources/resources-table.js
  ui/components/DashboardComponent/resources/security/config.js
  ui/components/DashboardComponent/resources/sortable-table-cell.js
  ui/components/DashboardComponent/resources/storage/config.js
  ui/components/DashboardComponent/resources/workloads/config.js
  ui/components/DashboardComponent/view.js
  ui/utils/utils.js
Labels: component/ui

#9538 [connection] - Fix issue loading connection icon and status from connection definition
  ui/components/connections/index.js
  ui/pages/_app.js
  ui/utils/Enum.js
Labels: component/ui

#9539 Invalid Links fixed
  docs/pages/project/contributing/contributing-cypress.md
Labels: area/docs

#9543 [MeshSync] Bug initial page start from 2nd page
  ui/components/connections/meshSync/index.js
Labels: component/ui

#9544 Enhance some more ui elements in dashboard
  ui/components/DashboardComponent/view.js
Labels: component/ui

#9487 [experimental][model]: fix the ci failures
  mesheryctl/internal/cli/root/system/model_test.go
  mesheryctl/internal/cli/root/system/testdata/model/view.model.json.output.golden
  mesheryctl/internal/cli/root/system/testdata/model/view.model.yaml.output.golden
  mesheryctl/pkg/utils/testing.go
Labels: component/mesheryctl

#9546 Update meshmap.yml
  .github/workflows/meshmap.yml
Labels: area/ci

#9547 Update meshmap.yml
  .github/workflows/meshmap.yml
Labels: area/ci

#9540 Navigation links fixed
  docs/_data/toc.yml
Labels: area/docs

#9552 Service mesh mentions removed
  docs/pages/concepts/architectural/meshsync.md
  docs/pages/guides/configuration-management.md
  docs/pages/guides/meshery-metrics.md
  docs/pages/project/community.md
  docs/pages/project/contributing/contributing-ui.md
  docs/pages/tasks/filter-management.md
  docs/pages/tasks/lifecycle-management.md
Labels: area/docs

#9554 [UI] Dashboard: better icons and responsiveness
  ui/assets/icons/technology/kubernetes.js
  ui/components/DashboardComponent/images/meshery-icon.js
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/resources/resources-sub-menu.js
Labels: component/ui

#9558 [Meshmodel] Fix Shapes
  server/meshmodel/meshery-shapes/1.0.0/Barrel.json
  server/meshmodel/meshery-shapes/1.0.0/BottomRoundRectangle.json
  server/meshmodel/meshery-shapes/1.0.0/Circle.json
  server/meshmodel/meshery-shapes/1.0.0/ConcaveHexagon.json
  server/meshmodel/meshery-shapes/1.0.0/Crescent.json
  server/meshmodel/meshery-shapes/1.0.0/CutRectangle.json
  server/meshmodel/meshery-shapes/1.0.0/Diamond.json
  server/meshmodel/meshery-shapes/1.0.0/Heptagon.json
  server/meshmodel/meshery-shapes/1.0.0/Hexagon.json
  server/meshmodel/meshery-shapes/1.0.0/LeftTriangle.json
  server/meshmodel/meshery-shapes/1.0.0/Parallelogram.json
  server/meshmodel/meshery-shapes/1.0.0/Pentagon.json
  server/meshmodel/meshery-shapes/1.0.0/Plus.json
  server/meshmodel/meshery-shapes/1.0.0/Polygon.json
  server/meshmodel/meshery-shapes/1.0.0/Rectangle.json
  server/meshmodel/meshery-shapes/1.0.0/Rhomboid.json
  server/meshmodel/meshery-shapes/1.0.0/RightRhomboid.json
  server/meshmodel/meshery-shapes/1.0.0/RightTriangle.json
  server/meshmodel/meshery-shapes/1.0.0/RoundDiamond.json
  server/meshmodel/meshery-shapes/1.0.0/RoundHeptagon.json
  server/meshmodel/meshery-shapes/1.0.0/RoundHexagon.json
  server/meshmodel/meshery-shapes/1.0.0/RoundOctagon.json
  server/meshmodel/meshery-shapes/1.0.0/RoundPentagon.json
  server/meshmodel/meshery-shapes/1.0.0/RoundRectangle.json
  server/meshmodel/meshery-shapes/1.0.0/RoundTag.json
  server/meshmodel/meshery-shapes/1.0.0/RoundTriangle.json
  server/meshmodel/meshery-shapes/1.0.0/Section.json
  server/meshmodel/meshery-shapes/1.0.0/SlantedParallelogram.json
  server/meshmodel/meshery-shapes/1.0.0/Star.json
  server/meshmodel/meshery-shapes/1.0.0/Tag.json
  server/meshmodel/meshery-shapes/1.0.0/Triangle.json
  server/meshmodel/meshery-shapes/1.0.0/Vee.json
  server/meshmodel/meshery-shapes/1.0.0/XWing.json
Labels: component/server

#9562 Add missing Watch-List configuration on Meshery Helm Chart CRD
  install/kubernetes/helm/meshery/crds/crds.yaml
Labels: kind/bug, framework/helm

#9570 Update meshmap.yml
  .github/workflows/meshmap.yml
Labels: area/ci

#9572 Connection Icon
  ui/components/connections/index.js
  ui/pages/_app.js
Labels: component/ui

#9580 [Connection] - Fix search and ui updates
  ui/components/connections/ConnectionChip.js
  ui/components/connections/index.js
  ui/components/connections/metadata.js
Labels: component/ui

#9582 fix registry crash
  ui/components/MesherySettings.js
Labels: component/ui

#9576 [UI] Fixes eslint warnings/errors in Provider UI
  provider-ui/components/Provider.js
  provider-ui/components/Provider.style.js
  provider-ui/package-lock.json
  provider-ui/package.json
Labels: component/ui

#9511 fix: fix bug where node name is empty
  ui/components/DashboardComponent/resources/nodes/config.js
Labels: component/ui

#9589 [UI] Dashboard enhancement
  ui/components/DashboardComponent/resources/resources-table.js
  ui/components/DashboardComponent/view.js
Labels: component/ui

#9579 [Fixes - Documentation] update the CONTRIBUTING.md with Issues & Pull Requests sections
  CONTRIBUTING.md
  ui/package-lock.json
Labels: component/ui

#9545 [server][meshsync] hard reset database
  server/internal/graphql/resolver/error.go
  server/internal/graphql/resolver/meshsync.go
Labels: component/server

#9594 Fix Issue #9590 in component "DashboardComponent" in UI.
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/resources/resources-sub-menu.js
  ui/components/DashboardComponent/view.js
Labels: component/ui

#9596 add capabilities to flow chart shapes
  server/meshmodel/meshery-flowchart/1.0.0/AlternateProcess.json
  server/meshmodel/meshery-flowchart/1.0.0/Decision.json
  server/meshmodel/meshery-flowchart/1.0.0/Delay.json
  server/meshmodel/meshery-flowchart/1.0.0/Document.json
  server/meshmodel/meshery-flowchart/1.0.0/ManualInput.json
  server/meshmodel/meshery-flowchart/1.0.0/ManualOperation.json
  server/meshmodel/meshery-flowchart/1.0.0/MultipleDocuments.json
  server/meshmodel/meshery-flowchart/1.0.0/OffPageReference.json
  server/meshmodel/meshery-flowchart/1.0.0/OnPageReference.json
  server/meshmodel/meshery-flowchart/1.0.0/Process.json
  server/meshmodel/meshery-flowchart/1.0.0/StoredData.json
  server/meshmodel/meshery-flowchart/1.0.0/Terminal.json
  server/meshmodel/meshery-shapes/1.0.0/Barrel.json
  server/meshmodel/meshery-shapes/1.0.0/BottomRoundRectangle.json
  server/meshmodel/meshery-shapes/1.0.0/Circle.json
  server/meshmodel/meshery-shapes/1.0.0/ConcaveHexagon.json
  server/meshmodel/meshery-shapes/1.0.0/Crescent.json
  server/meshmodel/meshery-shapes/1.0.0/CutRectangle.json
  server/meshmodel/meshery-shapes/1.0.0/Diamond.json
  server/meshmodel/meshery-shapes/1.0.0/Heptagon.json
  server/meshmodel/meshery-shapes/1.0.0/Hexagon.json
  server/meshmodel/meshery-shapes/1.0.0/LeftTriangle.json
  server/meshmodel/meshery-shapes/1.0.0/Parallelogram.json
  server/meshmodel/meshery-shapes/1.0.0/Pentagon.json
  server/meshmodel/meshery-shapes/1.0.0/Plus.json
  server/meshmodel/meshery-shapes/1.0.0/Polygon.json
  server/meshmodel/meshery-shapes/1.0.0/Rectangle.json
  server/meshmodel/meshery-shapes/1.0.0/Rhomboid.json
  server/meshmodel/meshery-shapes/1.0.0/RightRhomboid.json
  server/meshmodel/meshery-shapes/1.0.0/RightTriangle.json
  server/meshmodel/meshery-shapes/1.0.0/RoundDiamond.json
  server/meshmodel/meshery-shapes/1.0.0/RoundHeptagon.json
  server/meshmodel/meshery-shapes/1.0.0/RoundHexagon.json
  server/meshmodel/meshery-shapes/1.0.0/RoundOctagon.json
  server/meshmodel/meshery-shapes/1.0.0/RoundPentagon.json
  server/meshmodel/meshery-shapes/1.0.0/RoundRectangle.json
  server/meshmodel/meshery-shapes/1.0.0/RoundTag.json
  server/meshmodel/meshery-shapes/1.0.0/RoundTriangle.json
  server/meshmodel/meshery-shapes/1.0.0/Section.json
  server/meshmodel/meshery-shapes/1.0.0/SlantedParallelogram.json
  server/meshmodel/meshery-shapes/1.0.0/Star.json
  server/meshmodel/meshery-shapes/1.0.0/Tag.json
  server/meshmodel/meshery-shapes/1.0.0/Trapezoid.json
  server/meshmodel/meshery-shapes/1.0.0/Triangle.json
  server/meshmodel/meshery-shapes/1.0.0/Vee.json
  server/meshmodel/meshery-shapes/1.0.0/XWing.json
Labels: component/server

#9507 Updated creating-a-meshery-design.md
  docs/pages/guides/creating-a-meshery-design.md
Labels: area/docs

#9225 [Docs] Add code for additional alert types and eliminate duplicate entries
  docs/_sass/alert.scss
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#8638 Added about uninstalling meshery using a Docker Extension platform
  docs/pages/installation/docker-extension.md
Labels: area/docs, issue/dco

#9597 [UI] Fix K8s formatter for `meshery controller` statuses.
  go.mod
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/meshsync.go
  server/internal/graphql/resolver/operator.go
  server/internal/graphql/resolver/schema.resolvers.go
  server/internal/graphql/schema/schema.graphql
  ui/components/ConnectionWizard/helpers/mesheryOperator.js
  ui/components/MeshConfigComponent.js
  ui/components/connections/ConnectionChip.js
  ui/components/connections/index.js
  ui/components/connections/metadata.js
  ui/components/graphql/queries/OperatorStatusQuery.js
  ui/components/graphql/queries/__generated__/OperatorStatusQuery.graphql.js
  ui/components/graphql/subscriptions/ConfigurationSubscription.js
  ui/components/graphql/subscriptions/__generated__/ConfigurationSubscription.graphql.js
  ui/components/hooks/useKubernetesHook.js
  ui/components/subscription/comparatorFns.js
  ui/components/subscription/helpers.js
  ui/components/subscription/mergeFns.js
  ui/components/subscription/subscriptionhandler.js
  ui/lib/store.js
  ui/pages/_app.js
  ui/utils/Enum.js
  ui/utils/utils.js
Labels: component/ui, component/server, framework/graphql

#9601 [Relationships] Update relationships definitions to include `RoleBinding to Service Account` mapping.
  server/meshmodel/kubernetes/policies/edge_binding.rego
  server/meshmodel/kubernetes/relationships/edge_permission.json
Labels: component/server

#9573 [feat] add enhancements, fix latency while searching models
  mesheryctl/internal/cli/root/system/testdata/model/view.model.json.output.golden
  mesheryctl/internal/cli/root/system/testdata/model/view.model.yaml.output.golden
  server/handlers/component_handler.go
  ui/api/meshmodel.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
Labels: component/mesheryctl, component/ui, component/server

#8918 [UI] Changed User.js from class based component to functional component
  ui/components/User.js
Labels: component/ui

#9608 [server][fix]: don't exit in case of context is persisted
  server/machines/kubernetes/discover.go
Labels: kind/bug, component/server

#9617 [cleanup] Remove Unused App UI Components
  ui/components/MesheryApplications.js
  ui/components/MesheryApplications/ApplicationsCard.js
  ui/components/MesheryApplications/ApplicationsGrid.js
Labels: component/ui

#9619 chore : add text edit capabilty to textbox
  server/meshmodel/meshery-core/1.0.0/TextBox.json
Labels: component/server

#9621 [ui] Status chip selector
  ui/components/connections/index.js
Labels: component/ui

#9624 Access slides and resources link updated
  docs/pages/project/community.md
Labels: area/docs

#9618 [Spaces] Finalize support for Environments
  docs/_data/swagger.yml
  server/cmd/main.go
  server/handlers/doc.go
  server/handlers/organization_handler.go
  server/helpers/swagger.yaml
  server/models/default_local_provider.go
  server/models/environments.go
  server/models/handlers.go
  server/models/organization.go
  server/models/organization_persistor.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
  ui/assets/icons/OrgIcon.js
  ui/components/UserPreferences/index.js
  ui/components/UserPreferences/style.js
  ui/lib/store.js
  ui/pages/_app.js
  ui/rtk-query/organization.js
Labels: area/docs, component/ui, component/server

#9622 Fix: Added Responsive Style for Dashboard charts. Signed-off-by Danan…
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
Labels: component/ui

#9146 [Draft] v0.8.0 Roadmap
  ROADMAP.md
Labels: issue/willfix

#9631 update cred def to handle oneOF properly
  server/meshmodel/grafana-operator/credential/grafana.json
  server/meshmodel/kube-prometheus-stack/credential/prometheus.json
Labels: component/server

#9633 Docs: Update functional categories
  docs/pages/getting-started/overview.md
Labels: area/docs

#9632 [UI] Connection to Environments Mapping
  server/handlers/environments_handlers.go
  server/models/default_local_provider.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: component/server

#9634 [DOCS] : removed extra full stop
  docs/pages/concepts/architectural/catalog.md
Labels: area/docs

#9636 [chore] Fix Environment Payload
  docs/_data/swagger.yml
  server/handlers/environments_handlers.go
  server/helpers/swagger.yaml
  server/models/environments.go
  server/models/providers.go
Labels: area/docs, component/server

#9640 [ui] Add react markdown
  ui/components/Markdown.js
  ui/components/NavigatorExtension.js
  ui/next.config.js
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#9444 fix: #9399 Changed hovering effect
  ui/components/PromptComponent.js
Labels: component/ui

#9644 [UI] - Prompt Component button color
  ui/components/PromptComponent.js
Labels: component/ui

#9646 update mdeditor
  ui/components/Markdown.js
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#9648 Upgrade Performance table to sistent table
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#9638 chore: add aws eks controller statically
  server/meshmodel/aws-eks-controller/1.1.1/Addon.json
  server/meshmodel/aws-eks-controller/1.1.1/AdoptedResource.json
  server/meshmodel/aws-eks-controller/1.1.1/Cluster.json
  server/meshmodel/aws-eks-controller/1.1.1/EKSAnywhereSubscription.json
  server/meshmodel/aws-eks-controller/1.1.1/FargateProfile.json
  server/meshmodel/aws-eks-controller/1.1.1/FieldExport.json
  server/meshmodel/aws-eks-controller/1.1.1/Nodegroup.json
  server/meshmodel/aws-eks-controller/1.1.1/PodIdentityAssociation.json
Labels: component/server

#9649 [Model] AWS EKS: Model and Component metadata
  server/meshmodel/aws-eks-controller/1.1.1/Addon.json
  server/meshmodel/aws-eks-controller/1.1.1/AdoptedResource.json
  server/meshmodel/aws-eks-controller/1.1.1/Cluster.json
  server/meshmodel/aws-eks-controller/1.1.1/EKSAnywhereSubscription.json
  server/meshmodel/aws-eks-controller/1.1.1/FargateProfile.json
  server/meshmodel/aws-eks-controller/1.1.1/FieldExport.json
  server/meshmodel/aws-eks-controller/1.1.1/Nodegroup.json
  server/meshmodel/aws-eks-controller/1.1.1/PodIdentityAssociation.json
Labels: area/models

#9651 [environments] Add API to Get Connections for Environment
  docs/_data/swagger.yml
  server/handlers/connections_handlers.go
  server/handlers/doc.go
  server/handlers/environments_handlers.go
  server/helpers/swagger.yaml
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
Labels: area/docs, kind/chore, component/server

#9645 [UI] Correct indicators for context switcher.
  ui/components/ConnectionWizard/helpers/kubernetesHelpers.js
  ui/components/DashboardComponent/resources/configuration/config.js
  ui/components/DashboardComponent/resources/namespace/config.js
  ui/components/DashboardComponent/resources/network/config.js
  ui/components/DashboardComponent/resources/nodes/config.js
  ui/components/DashboardComponent/resources/resources-table.js
  ui/components/DashboardComponent/resources/security/config.js
  ui/components/DashboardComponent/resources/storage/config.js
  ui/components/DashboardComponent/resources/workloads/config.js
  ui/components/Header.js
  ui/components/MeshConfigComponent.js
  ui/components/MesheryCredentialComponent.js
  ui/components/MesherySettingsEnvButtons.js
  ui/components/connections/ConnectionChip.js
  ui/components/connections/index.js
  ui/components/connections/metadata.js
  ui/components/hooks/useKubernetesHook.js
Labels: component/ui

#9659 [bug] Fix env component
  server/meshmodel/meshery-core/1.0.0/Environment.json
Labels: component/server, area/models

#9665 chore(ci/cd): Update e2e tests with newer k8s versions
  .github/workflows/test_adaptersv2.yaml
Labels: area/ci, kubernetes

#9642 chore(build-and-release-stable): ignore rc releases
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#9647 [Environments] Environments page
  ui/assets/icons/Environment.js
  ui/assets/icons/KubernetesIcon.js
  ui/assets/icons/LeftArrowIcon.js
  ui/assets/icons/RightArrowIcon.js
  ui/assets/icons/SMPIcon.js
  ui/components/Environments/empty-state/curvedArrowIcon.js
  ui/components/Environments/empty-state/index.js
  ui/components/Environments/environment-card.js
  ui/components/Environments/flip-card/index.js
  ui/components/Environments/flip-card/style.js
  ui/components/Environments/generic-modal/index.js
  ui/components/Environments/generic-modal/styles.js
  ui/components/Environments/index.js
  ui/components/Environments/styles.js
  ui/components/Environments/transfer-list/style.js
  ui/components/Environments/transfer-list/transfer-list.js
  ui/components/Modal.js
  ui/components/Navigator.js
  ui/constants/navigator.js
  ui/pages/management/environments.js
  ui/public/static/img/environment-light.svg
  ui/public/static/img/environment.svg
  ui/themes/app.js
  ui/utils/Enum.js
Labels: component/ui

#9671 fix broken imports in environments
  ui/components/Environments/index.js
Labels: component/ui

#9672 Add Postgres Autoscalar Icon
  ui/assets/new-icons/postgres-autoscalar-icon-color.svg
  ui/assets/new-icons/postgres-autoscalar-icon-white.svg
Labels: component/ui

#9673 Fix Lifecycle routing
  server/handlers/ui_handler.go
  ui/components/MesheryPlayComponent.js
  ui/next.config.js
  ui/pages/management/mesh.js
Labels: component/ui, component/server

#9678 fix connection status duplication and hide workspaces allocation
  ui/components/Environments/environment-card.js
  ui/lib/store.js
  ui/pages/_app.js
Labels: component/ui

#9679 Use rtk query in environments page
  ui/components/Environments/environment-card.js
  ui/components/Environments/index.js
  ui/rtk-query/environments.js
Labels: component/ui

#9684 [bug] Fix Unnecessary re-rendering of Dashboard
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/overview.js
Labels: component/ui

#9687 Add Routing To Dashboard tabs
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/resources/resources-sub-menu.js
  ui/components/DashboardComponent/tabpanel.js
Labels: kind/enhancement, component/ui

#9677 [Relationships] Add Environment Hierarchical Parent Relationship
  server/meshmodel/kubernetes/relationships/hirarchical_parent_environment.json
  server/meshmodel/meshery-core/1.0.0/Environment.json
Labels: component/server, area/models

#9690 [UI] fix kubernetes icon
  ui/components/Header.js
Labels: component/ui

#9692 [bug] Fix support for exporting designs
  docs/_data/swagger.yml
  server/handlers/doc.go
  server/handlers/error.go
  server/handlers/meshery_pattern_handler.go
  server/helpers/swagger.yaml
  server/models/default_local_provider.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: area/docs, component/server

#9697 [CI] Update meshmap.yml to v0.1.3
  .github/workflows/meshmap.yml
Labels: area/ci

#9699 Enhancements in RJSF select widget
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomSelectWidget.js
Labels: component/ui

#9700 Update meshmap.yml
  .github/workflows/meshmap.yml
Labels: area/ci

#9701 [snapshot] Update meshmap.yml
  .github/workflows/meshmap.yml
Labels: area/ci

#9702 Added logic of HTML entity encoding in RJSF Text fields widget
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomBaseInput.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomSelectWidget.js
Labels: component/ui

#9703 Prevent expansion on chip
  ui/components/connections/index.js
Labels: component/ui

#9709 Bump meshkit to v0.7.1
  go.mod
  go.sum
Labels: kind/chore

#9711 Update build-and-release-stable.yml
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#9611 Sidebar Unordered Lists Restructure
  docs/_includes/sidebar.html
  docs/_sass/elements.scss
  docs/_sass/sidebar.scss
Labels: area/docs

#9713 Fix cols and add resizeable support
  ui/components/DashboardComponent/resources/network/config.js
  ui/components/DashboardComponent/resources/workloads/config.js
  ui/utils/utils.js
Labels: component/ui

#9654 Feat: Workspaces
  docs/_data/swagger.yml
  server/handlers/doc.go
  server/handlers/environments_handlers.go
  server/handlers/workspace_handlers.go
  server/helpers/swagger.yaml
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/providers.go
  server/models/remote_provider.go
  server/models/workspace.go
  server/router/server.go
Labels: area/docs, component/server

#9714 [bug/rego] Fixes Tag Set Relationship Evaluation
  server/meshmodel/kubernetes/policies/sibling_matchlabels.rego
Labels: component/server, area/models, component/policy

#9718 [Server] Handle database conflicts when persisting MeshSync data.
  server/helpers/utils/utils.go
  server/models/meshmodel/core/register.go
  server/models/meshsync_events.go
  server/models/pattern/utils/utils.go
Labels: component/server

#9705 [Environments] - Dark mode support and RTK migration
  ui/components/Environments/environment-card.js
  ui/components/Environments/flip-card/index.js
  ui/components/Environments/flip-card/style.js
  ui/components/Environments/generic-modal/index.js
  ui/components/Environments/generic-modal/styles.js
  ui/components/Environments/index.js
  ui/components/Environments/styles.js
  ui/components/Environments/transfer-list/style.js
  ui/components/Environments/transfer-list/transfer-list.js
  ui/rtk-query/connection.js
  ui/rtk-query/environments.js
  ui/themes/app.js
Labels: component/ui

#9720 fix name in expansion row
  ui/components/connections/metadata.js
Labels: component/ui

#9724 fix meshkit error utiltiy
  server/handlers/error.go
  server/helpers/component_info.json
Labels: component/server

#9725 [CI] feat: Dedicated URL for latest Meshery release tag
  docs/_layouts/blank.html
  docs/pages/project/latest-release.md
Labels: area/docs

#9723 update schemas and structs
  server/handlers/connections_handlers.go
  server/machines/grafana/register.go
  server/machines/prometheus/register.go
  server/meshmodel/grafana-operator/connection/grafana.json
  server/meshmodel/grafana-operator/credential/grafana.json
  server/meshmodel/kube-prometheus-stack/connection/prometheus.json
  server/meshmodel/kube-prometheus-stack/credential/prometheus.json
  server/meshmodel/kubernetes/connection/kubernetes.json
  server/meshmodel/kubernetes/credential/kubernetes.json
  server/models/connections/connections.go
  server/models/error.go
  server/models/machines/actions.go
Labels: component/server

#9637 [UI] Feat: Assign Connection to Envs
  docs/_data/swagger.yml
  server/handlers/doc.go
  server/handlers/environments_handlers.go
  server/helpers/swagger.yaml
  server/models/connections/connections.go
  server/models/default_local_provider.go
  server/models/environments/environment.go
  server/models/providers.go
  server/models/remote_provider.go
  ui/components/ReactSelectWrapper.js
  ui/components/UserPreferences/index.js
  ui/components/UserPreferences/spaces-preferences.js
  ui/components/UserPreferences/style.js
  ui/components/connections/index.js
  ui/components/connections/metadata.js
  ui/components/multi-select-wrapper.js
  ui/rtk-query/environments.js
  ui/rtk-query/organization.js
  ui/themes/app.js
Labels: area/docs, component/ui, component/api, component/server

#9728 [MeshSync API]add API to delete resources by ID
  server/handlers/meshsync_handler.go
  server/models/handlers.go
  server/router/server.go
Labels: component/server

#9609 [server][chore]: drop dead code
  server/internal/graphql/model/helpers.go
  server/internal/graphql/model/meshsync_helper.go
Labels: component/server

#9730 [meshsync] GET MeshSync Resources Kinds
  docs/_data/swagger.yml
  server/handlers/doc.go
  server/handlers/meshsync_handler.go
  server/helpers/swagger.yaml
  server/models/handlers.go
  server/models/meshsync.go
  server/router/server.go
Labels: area/docs, component/server

#9736 Fix routing issue in settings page
  ui/components/MesherySettings.js
Labels: component/ui

#9731 Fix nil pointer errors and updated the keys new URL path
  server/handlers/keys_handler.go
  server/handlers/user_handler.go
  server/helpers/swagger.yaml
  server/models/default_local_provider.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
Labels: component/server

#9729 [Server] Added filters in connections API
  server/handlers/connections_handlers.go
  server/handlers/error.go
  server/helpers/swagger.yaml
  server/models/default_local_provider.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: component/server

#9737 [bug] Fix searching in MeshSync resources
  server/handlers/meshsync_handler.go
Labels: component/server

#9742 [ci] Fix Eslint
  ui/components/connections/index.js
  ui/rtk-query/environments.js
  ui/rtk-query/organization.js
Labels: component/ui

#9710 sidebar-list-restructure
  docs/_data/toc.yml
  docs/_includes/sidebar.html
  docs/_sass/sidebar.scss
Labels: area/docs

#9740 Adding consistent color to list-structure
  docs/_sass/sidebar.scss
Labels: area/docs

#9708 Add OpenAPI Schema Links to concepts on docs
  docs/pages/concepts/architectural/catalog.md
  docs/pages/concepts/logical/connections.md
  docs/pages/concepts/logical/credentials.md
  docs/pages/concepts/logical/models.md
Labels: area/docs

#9745 [Helm] chore: dependency upgrade to Ingress v1
  .github/workflows/helm-chart-releaser.yml
  go.mod
  go.sum
  install/kubernetes/helm/meshery-operator/templates/ingress.yaml
  install/kubernetes/helm/meshery-operator/values.yaml
  install/kubernetes/helm/meshery/charts/meshery-app-mesh/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-cilium/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-consul/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-istio/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-kuma/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-linkerd/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-nginx-sm/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-nsm/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-traefik-mesh/templates/ingress.yaml
  install/kubernetes/helm/meshery/templates/ingress.yaml
  install/kubernetes/helm/meshery/values.yaml
Labels: area/ci, framework/helm

#9746 [CI] Remove mesheryctl dependency for Helm Chart release
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#9743 [Docs] Events Management: Remove duplicate page title (h1)
  docs/pages/guides/events-management.md
Labels: area/docs

#9748 chore: version: 0.7.0
  install/kubernetes/helm/meshery/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-app-mesh/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-cilium/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-consul/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-istio/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-kuma/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-linkerd/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-nginx-sm/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-nsm/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-traefik-mesh/Chart.yaml
Labels: framework/helm

#9732 Enhancements and fixes in Registry
  ui/assets/styles/general/tool.styles.js
  ui/components/ConfirmationModal.js
  ui/components/DashboardComponent/resources/resources-table.js
  ui/components/Environments/generic-modal/index.js
  ui/components/Filters.js
  ui/components/GenericModal.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesheryPerformance/index.js
  ui/components/Modal.js
  ui/components/connections/index.js
  ui/components/connections/meshSync/index.js
  ui/utils/custom-column.js
  ui/utils/custom-search.js
  ui/utils/data-table.js
Labels: component/ui

#9629 [Docs] Added Meshery CLI to the list of architectural components
  docs/pages/concepts/architectural/architecture.md
Labels: area/docs

#9727 [Docs] Updated the width of the single column in responsive view
  docs/Gemfile.lock
  docs/_sass/overview.scss
  docs/pages/index.md
Labels: area/docs

#9747 [Docs] enhance: Customizing Meshery's Installation with values.yaml
  docs/pages/installation/helm.md
Labels: area/docs

#9755 [HELM] Fix Ingress Resource of Meshery
  install/kubernetes/helm/meshery/templates/ingress.yaml
  install/kubernetes/helm/meshery/values.yaml
Labels: framework/helm

#9754 [bug] Fix Searching + Preloading Issue
  server/handlers/meshsync_handler.go
Labels: kind/bug, component/server

#9757 [Docs] Fix integrations docs page.
  docs/pages/integrations/index.md
Labels: area/docs

#9717 [UI] Filter support for Meshsync and Connections
  ui/assets/icons/filter.js
  ui/components/connections/index.js
  ui/components/connections/meshSync/index.js
  ui/utils/custom-filter.js
Labels: component/ui

#9762 fix row expansion on selecting env
  ui/components/connections/index.js
Labels: component/ui

#9765 [bug] Fix application type
  server/handlers/meshery_pattern_handler.go
Labels: component/server

#9764 [FIX] k8s icon and connection transition naming
  ui/components/Header.js
  ui/components/connections/index.js
  ui/utils/Enum.js
Labels: component/ui

#9761 fix-command-to-get-latest-Meshery-release-tag
  .github/workflows/test_adaptersv2.yaml
Labels: area/ci

#9768 [UI] - Environment card button arrow position
  ui/components/Environments/environment-card.js
  ui/components/Environments/styles.js
Labels: component/ui

#9763 Fix technology not showing in info modal
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
  ui/components/Modal.js
  ui/components/Modals/Information/InfoModal.js
  ui/components/Modals/PublishModal.js
Labels: component/ui

#9770 fixed details-marker
  docs/_sass/helpers.scss
Labels: area/docs

#9722 [Workspaces] - Workspaces page
  ui/assets/icons/Workspace.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/Lifecycle/Workspaces/styles.js
  ui/components/Lifecycle/Workspaces/workspace-card.js
  ui/components/Lifecycle/index.js
  ui/components/Navigator.js
  ui/constants/navigator.js
  ui/pages/management/workspaces.js
  ui/public/static/img/workspace-light.svg
  ui/public/static/img/workspace.svg
  ui/rtk-query/design.js
  ui/rtk-query/workspace.js
  ui/themes/app.js
Labels: component/ui
