Repository meshery/meshery, pull requests merged in 2023-03, with the labels that each got.

#7216 removing an non kubernetes exception in Json schema
  ui/components/MesheryMeshInterface/PatternService/helper.js
Labels: component/ui

#7251 Corrected background of Metrics in Dark Mode
  ui/components/telemetry/grafana/GrafanaConfigComponent.js
  ui/components/telemetry/prometheus/PrometheusConfigComponent.js
Labels: component/ui

#7147 Fixed clickable area issue in header settings button.
  ui/components/Header.js
  ui/components/MesheryNotification.js
Labels: component/ui

#7209 Add docs for setting up development environment on Windows
  docs/pages/project/contributing/contributing-docs.md
  docs/pages/project/contributing/meshery-server.md
  docs/pages/project/contributing/meshery-windows.md
Labels: area/docs

#7227 add hover color for hyperlinks
  docs/_sass/overview.scss
Labels: area/docs

#7203 Made Navigator Icons Consistent
  ui/components/Navigator.js
  ui/public/static/img/drawer-icons/application_svg.js
  ui/public/static/img/drawer-icons/filter_svg.js
  ui/public/static/img/drawer-icons/pattern_svg.js
Labels: component/ui

#7222 Allow env variable to disable operator in Meshery instance
  Makefile
  docs/pages/reference/troubleshooting/installation.md
  install/playground/meshery-playground-deployment.yaml
  server/cmd/main.go
  server/handlers/middlewares.go
  server/internal/graphql/resolver/operator.go
  server/internal/graphql/resolver/resolver.go
  server/models/handlers.go
  server/models/meshery_controllers.go
Labels: area/docs, component/server

#7171 Fixing misalignment architecture components table cells
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#7262 [bug] Fix plugin loading on playground env
  ui/pages/extension/[...component].js
Labels: kind/bug

#7253 fix for Adapter and Metric in settings section
  ui/components/MeshAdapterConfigComponent.js
  ui/components/telemetry/grafana/GrafanaConfigComponent.js
  ui/components/telemetry/prometheus/PrometheusConfigComponent.js
Labels: component/ui

#7248 docs in dark mode by default and added icons
  docs/_includes/header.html
  docs/_layouts/default.html
  docs/assets/img/nav-icons/mode-toggle-icon-moon.png
  docs/assets/img/nav-icons/mode-toggle-icon-sun.png
  docs/assets/js/navbar.js
Labels: area/docs

#7193 Merge monikers and error-code columns
  docs/pages/reference/error-codes.md
Labels: area/docs

#7181 [chore] Added step to clean extra folders by Next.js build
  provider-ui/package.json
  ui/package.json
Labels: component/ui

#7059 support for --adapter and --adapters flag added
  mesheryctl/internal/cli/root/system/check.go
Labels: component/mesheryctl

#7191 fix logo issue with dark mode
  ui/pages/extension/AccessMesheryModal.js
Labels: component/ui

#7260 [Docs]: Added create new file feature
  docs/_includes/editable.html
  docs/_sass/table-of-content.scss
Labels: area/docs

#7272 Platform compatibility matrix alignment fix
  docs/_includes/compatibilityMatrix.md
Labels: area/docs

#7270 Release table text alignment fix
  docs/pages/project/releases.md
Labels: area/docs

#7268 Fixed RJSF input tooltip disappearing on hover
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomBaseInput.js
Labels: component/ui

#7281 Search Filter remains on Pagination
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
Labels: component/ui

#7267 This PR fixes #7265
  ui/pages/extension/AccessMesheryModal.js
Labels: component/ui

#7289 Troubleshoot Guide Dark Mode
  ui/components/TroubleshootingModalComponent.js
Labels: component/ui, component/extensions

#7285 [UI] Fixed User Preferences Tabs
  ui/components/UserPreferences.js
Labels: component/ui

#7299 fix meshmodel duplicates
  server/cmd/main.go
  server/handlers/component_handler.go
  server/handlers/relationship_handlers.go
  server/meshmodel/relationships/hierarchical_parent.json
  server/meshmodel/relationships/mount_edge.json
  server/meshmodel/relationships/network_edge.json
  server/meshmodel/relationships/permission_edge.json
  server/meshmodel/relationships/sibling.json
Labels: component/server

#7300 Add meshmodel-categories svgs
  ui/public/static/img/model-categories/App Definition and Development.svg
  ui/public/static/img/model-categories/Cloud Native Application.svg
  ui/public/static/img/model-categories/Cloud Native Network.svg
  ui/public/static/img/model-categories/Machine Learning.svg
  ui/public/static/img/model-categories/Miscallaneous.svg
  ui/public/static/img/model-categories/Not Found.svg
  ui/public/static/img/model-categories/Observability and Analysis.svg
  ui/public/static/img/model-categories/Orchestration & Management.svg
  ui/public/static/img/model-categories/Platform.svg
  ui/public/static/img/model-categories/Provisioning.svg
  ui/public/static/img/model-categories/Runtime.svg
  ui/public/static/img/model-categories/Serverless.svg
  ui/public/static/img/model-categories/monitoring-health-svgrepo-com.svg
Labels: component/ui

#7302 Add search by display name in greedy meshmodel search
  go.mod
  go.sum
  server/handlers/component_handler.go
Labels: component/server

#7277 fixed the alignment and space of some icons
  ui/components/MesheryPlayComponent.js
  ui/components/Navigator.js
  ui/pages/management/[mesh].js
  ui/themes/app.js
Labels: component/ui

#7311 Modify `Default` to `default` in token
  docs/pages/installation/kubernetes.md
  docs/v0.5/installation/platforms/kubernetes.html
  docs/v0.5/search/index.html
  mesheryctl/internal/cli/root/config/fixture/TestChangeEndpointConfig.yaml
  mesheryctl/internal/cli/root/config/fixture/TestConfig.yaml
  mesheryctl/internal/cli/root/config/testdata/changeconfigendpoint.expect.docker.golden
  mesheryctl/internal/cli/root/config/testdata/changeconfigendpoint.expect.kubernetes.golden
  mesheryctl/internal/cli/root/config/testdata/changeplatform.invalid.golden
  mesheryctl/internal/cli/root/config/testdata/changeplatform.valid.golden
  mesheryctl/internal/cli/root/fixtures/testConfig.yaml
  mesheryctl/internal/cli/root/system/fixtures/.meshery/TestContext.yaml
  mesheryctl/internal/cli/root/system/fixtures/.meshery/config.yaml
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedAdd.yaml
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedDelete.yaml
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedSwitch.yaml
  mesheryctl/internal/cli/root/system/testdata/context/addExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/deleteExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/switchExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/view.golden
  mesheryctl/internal/cli/root/system/testdata/context/viewAllExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/viewWithContextExpected.golden
  mesheryctl/internal/cli/root/system/testdata/reset/TestResetContexts.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_default.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_default_set.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_err.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_set.yaml
  mesheryctl/internal/cli/root/system/testdata/token/delete_default.yaml
  mesheryctl/internal/cli/root/system/testdata/token/delete_err.yaml
  mesheryctl/internal/cli/root/system/testdata/token/list.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set_default.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set_err.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set_reset.yaml
  mesheryctl/internal/cli/root/system/testdata/token/view.golden
  mesheryctl/internal/cli/root/system/testdata/token/view.yaml
  mesheryctl/internal/cli/root/system/testdata/token/view_err.golden
  mesheryctl/pkg/utils/TestConfig.yaml
  mesheryctl/pkg/utils/fixtures/TestConfig.yaml
  mesheryctl/pkg/utils/fixtures/platform/original/TestChangeEndpointConfig.yaml
  mesheryctl/pkg/utils/fixtures/platform/original/TestConfig.yaml
  mesheryctl/pkg/utils/helpers.go
Labels: area/docs, component/mesheryctl

#7331 kubernetes versions are sorted in descending order in the compatibili…
  docs/pages/installation/platforms.md
  docs/pages/project/compatibility_matrix/compatibility.md
Labels: area/docs

#7335 New MeshModel Icons added
  ui/public/static/img/model-categories/dark/apps-dark.svg
  ui/public/static/img/model-categories/dark/cloud-native-network-dark.svg
  ui/public/static/img/model-categories/dark/machine-learning-dark.svg
  ui/public/static/img/model-categories/dark/orchestration-management-dark.svg
  ui/public/static/img/model-categories/dark/platform-dark.svg
  ui/public/static/img/model-categories/dark/provisioning-dark.svg
  ui/public/static/img/model-categories/dark/runtime-dark.svg
  ui/public/static/img/model-categories/dark/serverless-dark.svg
  ui/public/static/img/model-categories/light/apps-light.svg
  ui/public/static/img/model-categories/light/cloud-native-network-light.svg
  ui/public/static/img/model-categories/light/machine-learning-light.svg
  ui/public/static/img/model-categories/light/orchestration-management-light.svg
  ui/public/static/img/model-categories/light/platform-light.svg
  ui/public/static/img/model-categories/light/provisioning-light.svg
  ui/public/static/img/model-categories/light/runtime-light.svg
  ui/public/static/img/model-categories/light/serverless-light.svg
  ui/public/static/img/model-categories/white/apps-white.svg
  ui/public/static/img/model-categories/white/cloud-native-network-white.svg
  ui/public/static/img/model-categories/white/machine-learning-white.svg
  ui/public/static/img/model-categories/white/orchestration-management-white.svg
  ui/public/static/img/model-categories/white/platform-white.svg
  ui/public/static/img/model-categories/white/provisioning-white.svg
  ui/public/static/img/model-categories/white/runtime-white.svg
  ui/public/static/img/model-categories/white/serverless-white.svg
Labels: component/ui

#7301 add endpoint to get user by id (uuid)
  server/handlers/doc.go
  server/handlers/user_handler.go
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
Labels: component/server

#7333 fix table header background color on click
  docs/_sass/table.scss
Labels: area/docs

#7310 [bug] Handle Meshery server de-registration gracefully
  server/models/error.go
  server/models/remote_provider.go
Labels: kind/bug, component/server

#7294 [UI] Color of Metrics Tab when selected fixed
  ui/components/MesherySettings.js
Labels: component/ui

#7282 aligned meshery operator with the heading
  docs/pages/concepts/architecture/operator.md
Labels: area/docs

#7344 Add trim flag for /api/meshmodel/model/<modelname>
  go.mod
  go.sum
  server/handlers/component_handler.go
Labels: component/server

#7308 feat: suggestions for miss spelled sub commands
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/error.go
  mesheryctl/internal/cli/root/perf/perf.go
  mesheryctl/pkg/utils/closest-arg.go
Labels: component/mesheryctl

#7317 publish Meshery Connections and thier Actions table in docs ( /architecture )
  docs/pages/concepts/architecture/architecture.md
Labels: area/docs

#7307 [Docs] Fix table of contents not auto generated and add auto-scrolling
  docs/_includes/toc.html
Labels: area/docs

#7142 [UI][FIX] Publish to meshery catalog action prevented for users signed in using local provider
  server/models/default_local_provider.go
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/utils/Enum.js
Labels: component/ui, component/server

#7343 Update meshery-ui doc contribution flow
  docs/pages/project/contributing/contributing-ui.md
Labels: area/docs

#7348 [MeshModels] add green svgs with label style
  ui/public/static/img/model-categories/App Definition and Development.svg
  ui/public/static/img/model-categories/Cloud Native Application.svg
  ui/public/static/img/model-categories/Cloud Native Network.svg
  ui/public/static/img/model-categories/Machine Learning.svg
  ui/public/static/img/model-categories/Miscallaneous.svg
  ui/public/static/img/model-categories/Not Found.svg
  ui/public/static/img/model-categories/Observability and Analysis.svg
  ui/public/static/img/model-categories/Orchestration & Management.svg
  ui/public/static/img/model-categories/Platform.svg
  ui/public/static/img/model-categories/Provisioning.svg
  ui/public/static/img/model-categories/Runtime.svg
  ui/public/static/img/model-categories/Serverless.svg
  ui/public/static/img/model-categories/dark/apps-dark.svg
  ui/public/static/img/model-categories/dark/cloud-native-network-dark.svg
  ui/public/static/img/model-categories/dark/machine-learning-dark.svg
  ui/public/static/img/model-categories/dark/orchestration-management-dark.svg
  ui/public/static/img/model-categories/dark/platform-dark.svg
  ui/public/static/img/model-categories/dark/provisioning-dark.svg
  ui/public/static/img/model-categories/dark/runtime-dark.svg
  ui/public/static/img/model-categories/dark/serverless-dark.svg
  ui/public/static/img/model-categories/green/app-definition-and-development-label-green.svg
  ui/public/static/img/model-categories/green/cloud-native-application-label-green.svg
  ui/public/static/img/model-categories/green/cloud-native-network-label-green.svg
  ui/public/static/img/model-categories/green/database-storage-label-green.svg
  ui/public/static/img/model-categories/green/machine-learning-label-green.svg
  ui/public/static/img/model-categories/green/observability-and-analysis-label-green.svg
  ui/public/static/img/model-categories/green/orchestration-&-management-label-green.svg
  ui/public/static/img/model-categories/green/other-label-green.svg
  ui/public/static/img/model-categories/green/platform-label-green.svg
  ui/public/static/img/model-categories/green/provisioning-label-green.svg
  ui/public/static/img/model-categories/green/runtime-label-green.svg
  ui/public/static/img/model-categories/green/serverless-label-green.svg
  ui/public/static/img/model-categories/light/apps-light.svg
  ui/public/static/img/model-categories/light/cloud-native-network-light.svg
  ui/public/static/img/model-categories/light/machine-learning-light.svg
  ui/public/static/img/model-categories/light/orchestration-management-light.svg
  ui/public/static/img/model-categories/light/platform-light.svg
  ui/public/static/img/model-categories/light/provisioning-light.svg
  ui/public/static/img/model-categories/light/runtime-light.svg
  ui/public/static/img/model-categories/light/serverless-light.svg
  ui/public/static/img/model-categories/monitoring-health-svgrepo-com.svg
  ui/public/static/img/model-categories/white/apps-white.svg
  ui/public/static/img/model-categories/white/cloud-native-network-white.svg
  ui/public/static/img/model-categories/white/machine-learning-white.svg
  ui/public/static/img/model-categories/white/orchestration-management-white.svg
  ui/public/static/img/model-categories/white/platform-white.svg
  ui/public/static/img/model-categories/white/provisioning-white.svg
  ui/public/static/img/model-categories/white/runtime-white.svg
  ui/public/static/img/model-categories/white/serverless-white.svg
Labels: component/ui

#7166 [Docs] Improve dark mode visibility of code snippet and click feedback to copy button.
  docs/_sass/clipboard.scss
  docs/assets/js/main.js
Labels: area/docs

#7351 Fix invalid SVG on dynamic meshmodel kubernetes component
  server/handlers/k8sconfig_handler.go
Labels: component/server

#7202 icons under actions are now visible in light mode
  ui/components/MesheryPatterns.js
Labels: component/ui

#7367 sort endpoints alphabetically and group 'em by path hierarchy
  docs/_layouts/swagger.html
Labels: area/docs

#7341 [UI] Added theme neutral background for meshery logo
  ui/pages/extension/AccessMesheryModal.js
  ui/public/static/img/meshery-logo-light-text.svg
  ui/public/static/img/meshery-logo-text.svg
Labels: component/ui

#7275 aligned icon in footer
  ui/themes/app.js
Labels: component/ui

#7381 [Mesheryctl] Chore: change casing of "default" token in unit tests
  .github/workflows/test_adapters.yaml
  .github/workflows/test_adaptersv2.yaml
  mesheryctl/internal/cli/root/config/fixture/TestChangeEndpointConfig.yaml
  mesheryctl/internal/cli/root/config/fixture/TestConfig.yaml
  mesheryctl/internal/cli/root/config/testdata/changeconfigendpoint.expect.docker.golden
  mesheryctl/internal/cli/root/config/testdata/changeconfigendpoint.expect.kubernetes.golden
  mesheryctl/internal/cli/root/config/testdata/changeplatform.invalid.golden
  mesheryctl/internal/cli/root/config/testdata/changeplatform.valid.golden
  mesheryctl/internal/cli/root/fixtures/testConfig.yaml
  mesheryctl/internal/cli/root/system/fixtures/.meshery/TestContext.yaml
  mesheryctl/internal/cli/root/system/fixtures/.meshery/config.yaml
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedAdd.yaml
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedDelete.yaml
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedSwitch.yaml
  mesheryctl/internal/cli/root/system/testdata/context/addExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/deleteExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/switchExpected.golden
  mesheryctl/internal/cli/root/system/testdata/reset/TestResetContexts.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create.golden
  mesheryctl/internal/cli/root/system/testdata/token/create.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_default.golden
  mesheryctl/internal/cli/root/system/testdata/token/create_default.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_default_set.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_err.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_set.yaml
  mesheryctl/internal/cli/root/system/testdata/token/delete_default.golden
  mesheryctl/internal/cli/root/system/testdata/token/delete_default.yaml
  mesheryctl/internal/cli/root/system/testdata/token/delete_err.golden
  mesheryctl/internal/cli/root/system/testdata/token/delete_err.yaml
  mesheryctl/internal/cli/root/system/testdata/token/list.golden
  mesheryctl/internal/cli/root/system/testdata/token/list.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set_default.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set_err.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set_reset.yaml
  mesheryctl/internal/cli/root/system/testdata/token/view.yaml
  mesheryctl/internal/cli/root/system/token_test.go
  mesheryctl/pkg/utils/TestConfig.yaml
  mesheryctl/pkg/utils/fixtures/TestConfig.yaml
  mesheryctl/pkg/utils/fixtures/platform/original/TestChangeEndpointConfig.yaml
  mesheryctl/pkg/utils/fixtures/platform/original/TestConfig.yaml
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl, area/ci

#7375 [API] Docs: Improve Relationships description
  server/meshmodel/schemas/relationship.json
Labels: component/api, component/server

#7389 Setup Storybook in `ui`
  ui/.eslintrc.js
  ui/.storybook/main.js
  ui/.storybook/preview.js
  ui/package-lock.json
  ui/package.json
  ui/stories/Introduction.stories.mdx
  ui/stories/assets/code-brackets.svg
  ui/stories/assets/colors.svg
  ui/stories/assets/comments.svg
  ui/stories/assets/direction.svg
  ui/stories/assets/flow.svg
  ui/stories/assets/plugin.svg
  ui/stories/assets/repo.svg
  ui/stories/assets/stackalt.svg
  ui/stories/components/Button/Button.jsx
  ui/stories/components/Button/Button.stories.jsx
  ui/stories/components/Button/button.css
Labels: component/ui, framework/storybook

#7398 [CI] Change golang version to warning
  Makefile
Labels: area/ci

#7397 Fixed broken build-and-release link
  docs/pages/project/releases.md
Labels: area/docs

#7391 Update Button in Storybook
  ui/.storybook/main.js
  ui/.storybook/preview.js
  ui/stories/components/Button/Button.jsx
  ui/stories/components/Button/Button.stories.jsx
  ui/stories/components/Button/button.css
  ui/stories/themes/app.js
Labels: component/ui, framework/storybook

#7395 feat: rjsf upgrade, remove code
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ArrayFieldTemlate.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomObjectField.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/DescriptionField.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/components/MesheryMeshInterface/PatternService/index.js
  ui/components/MesheryMeshInterface/helpers.js
  ui/package-lock.json
  ui/package.json
Labels: component/ui, library/rjsf

#7393 [bug] Fix: invalid memory address or nil pointer dereference
  server/handlers/error.go
  server/handlers/middlewares.go
Labels: kind/bug, component/server

#7347 Anchorjs link bug fix and Search UI changes
  docs/_includes/head.html
  docs/_includes/sidebar.html
  docs/_sass/sidebar.scss
  docs/assets/js/search.js
  docs/pages/search.md
Labels: area/docs

#7374 Mark oam API endpoints as Deprecated
  docs/_layouts/swagger.html
  docs/_sass/helpers.scss
  docs/_sass/swagger.scss
  docs/pages/reference/rest-api-reference.md
Labels: area/docs

#7376 app sub-command suggestions added
  mesheryctl/internal/cli/root/app/app.go
Labels: component/mesheryctl

#7412 [chore] Send Meshery Version
  server/models/remote_provider.go
Labels: kind/chore, component/server

#7411 bug fixes across meshery docs
  docs/_sass/helpers.scss
  docs/_sass/table.scss
  docs/pages/project/compatibility_matrix/compatibility.md
  docs/pages/reference/graphql-api-reference.md
  docs/pages/reference/rest-api-reference.md
Labels: area/docs

#7420 [Batch0] Update Performance+Conformance capabilities
  server/models/providers.go
  server/models/remote_provider.go
Labels: kind/chore, component/server

#7407 Created Storybook components: AppBar and Chip
  ui/.storybook/preview.js
  ui/package-lock.json
  ui/package.json
  ui/stories/components/Chip/Chip.jsx
  ui/stories/components/Chip/Chip.stories.jsx
  ui/stories/components/Header/AppBar.jsx
  ui/stories/components/Header/AppBar.stories.jsx
  ui/stories/themes/app.js
Labels: component/ui, framework/storybook

#7424 Corrected App definition and Development Icon
  ui/public/static/img/model-categories/label/app-definition-development-label.svg
  ui/public/static/img/model-categories/label/apps-label.svg
Labels: component/ui

#7201 Reduce the size of the logos
  docs/pages/guides/pipelining-service-mesh-specifications.md
Labels: area/docs

#7403 add light mode support for summary view
  docs/_sass/helpers.scss
  docs/_sass/root-variables.scss
  docs/pages/reference/rest-api-reference.md
Labels: area/docs

#7429 [cypress ]add mochawesome package
  ui/package-lock.json
  ui/package.json
Labels: component/ui
