Repository meshery/meshery, pull requests merged in 2023-11, with the labels that each got.

#9243 fix: Dashboard card missing title and background
  ui/components/DashboardComponent.js
Labels: component/ui

#9264 [UI] Make the eventActors avatar overlapping stack
  ui/components/NotificationCenter/metadata.js
  ui/components/NotificationCenter/notification.js
Labels: component/ui

#9265 Fixes in Connections/MeshSync tables
  ui/components/connections/MeshsyncTable.js
  ui/components/connections/index.js
  ui/components/connections/styles.js
Labels: component/ui

#9290 [UI] Fixed styling of Unauthenticated Modal
  provider-ui/pages/auth/login.js
Labels: component/ui

#9292 [Server] Pattern API response
  server/handlers/meshery_pattern_handler.go
  server/models/remote_provider.go
Labels: component/server

#9293 Update meshmap.yml
  .github/workflows/meshmap.yml
Labels: area/ci

#9281 [events/catalog] Push Events on Publishing Catalog Events
  server/handlers/meshery_filter_handler.go
  server/handlers/meshery_pattern_handler.go
  server/models/meshery_catalog.go
Labels: component/server

#9297 Updated Meshery docs logo
  docs/_includes/header.html
  docs/_includes/svg/meshery-docs.html
  docs/_sass/navbar.scss
Labels: area/docs

#9296 [Docs] Integrations page formatting
  scripts/component_docs_generator/helpers/docs_creator.go
Labels: area/docs

#9298 Update error-codes-updater.yaml
  .github/workflows/error-codes-updater.yaml
  .github/workflows/go-testing-ci.yml
Labels: area/ci

#9302 Revert "fix: Dashboard card missing title and background"
  ui/components/DashboardComponent.js
Labels: component/ui

#9303 [docs] Add docs for notification center
  docs/assets/img/notification-center/NotificationCenterFiltering.png
  docs/assets/img/notification-center/NotificationCenterOverview.png
  docs/pages/guides/events-management.md
Labels: area/docs

#9304 [UI] Expose generic RJSF modal to meshery extension
  ui/components/Modal.js
  ui/components/NavigatorExtension.js
Labels: component/ui

#9291 Add sidecar icon
  ui/assets/new-icons/sidecar-white.svg
  ui/assets/new-icons/sidecar.svg
Labels: component/ui

#9226 Added description of Docs capability for "alerts"
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#9310 [Docs] Exclude old versions from rendering in local builds
  docs/_config_dev.yml
  docs/v0.6/CNAME
  docs/v0.6/index.html
Labels: area/docs

#9312 added some svgs in docs
  docs/assets/img/architecture/meshery-components.svg
  docs/assets/img/architecture/meshery-log-viewer.svg
  docs/assets/img/architecture/meshery-server-registration-with-remote-providers.svg
  docs/assets/img/concepts/meshery-models-policy-evaluation.svg
  docs/assets/img/meshsync/states-for-unmanaged-connections.svg
  docs/assets/img/patterns/context-aware-design.svg
  docs/pages/concepts/architectural/broker.md
  docs/pages/concepts/logical/components.md
  docs/pages/concepts/logical/connections.md
  docs/pages/concepts/logical/credentials.md
  docs/pages/concepts/policies.md
  docs/pages/guides/configuration-management.md
Labels: area/docs

#9184 Meshmodel new UI
  go.mod
  go.sum
  server/handlers/component_handler.go
  server/router/server.go
  ui/api/meshmodel.js
  ui/assets/icons/chevron_right.js
  ui/assets/icons/collapse_all.js
  ui/assets/icons/expand_all.js
  ui/assets/icons/expand_more.js
  ui/assets/styles/general/tool.styles.js
  ui/components/MeshModelComponent.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
  ui/components/MesherySettings.js
  ui/constants/navigator.js
  ui/package-lock.json
  ui/package.json
  ui/rtk-query/meshModel.js
Labels: component/ui, component/server

#9170 [Server] K8s connection management
  server/cmd/main.go
  server/handlers/connections_handlers.go
  server/handlers/contexts_handler.go
  server/handlers/doc.go
  server/handlers/k8sconfig_handler.go
  server/helpers/component_info.json
  server/internal/graphql/resolver/kubernetes.go
  server/models/connections/connections.go
  server/models/connections/transitions.go
  server/models/default_local_provider.go
  server/models/error.go
  server/models/handlers.go
  server/models/k8s_components_registration.go
  server/models/meshery_k8scontext_persister.go
  server/models/meshery_pattern.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
  ui/components/ConfirmationModal.js
  ui/components/EmptyState/K8sContextEmptyState.js
  ui/components/MesherySettingsEnvButtons.js
  ui/components/NotificationCenter/constants.js
  ui/components/PromptComponent.js
  ui/components/connections/ConnectionChip.js
  ui/components/connections/index.js
  ui/components/hooks/useKubernetesHook.js
  ui/package-lock.json
  ui/utils/Enum.js
Labels: component/ui, component/server

#9316 [docs] Fix Redirection /platforms/page -> /page
  docs/pages/installation/aks.md
  docs/pages/installation/bash.md
  docs/pages/installation/brew.md
  docs/pages/installation/codespaces.md
  docs/pages/installation/docker.md
  docs/pages/installation/eks.md
  docs/pages/installation/gke.md
  docs/pages/installation/helm.md
  docs/pages/installation/kinD.md
  docs/pages/installation/kubernetes.md
  docs/pages/installation/kubesphere.md
  docs/pages/installation/linux-mac.md
  docs/pages/installation/mesheryctl.md
  docs/pages/installation/minikube.md
  docs/pages/installation/scoop.md
  docs/pages/installation/windows.md
Labels: area/docs

#9315 [bug] Fix broken UI
  ui/assets/styles/general/tool.styles.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/connections/index.js
Labels: kind/bug, component/ui

#9317 Enable status col in connection and add ping check
  ui/components/connections/index.js
  ui/components/connections/styles.js
Labels: component/ui

#9318 Fix Dark mode
  ui/assets/styles/general/tool.styles.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/themes/app.js
Labels: component/ui

#8854 removed requirements for k8s connections
  mesheryctl/internal/cli/root/perf/perf.go
Labels: component/mesheryctl

#9309 Generator
  .github/workflows/meshmodel-generators.yml
Labels: area/ci

#9327 Update meshmodel-generators.yml
  .github/workflows/meshmodel-generators.yml
Labels: area/ci

#9323 [Extensions] Enhance Meshery Docker Extension UI
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
Labels: component/extensions

#9328 Fix contrast issue
  ui/assets/icons/chevron_right.js
  ui/assets/icons/expand_more.js
  ui/assets/styles/general/tool.styles.js
  ui/components/MeshModelRegistry/MeshModel.style.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
  ui/components/MesherySettings.js
  ui/themes/app.js
Labels: component/ui

#9266 Fix RJSF form expanding on selecting multiple technologies in info modal
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomSelectWidget.js
  ui/components/Modals/Information/InfoModal.js
  ui/components/Modals/Information/styles.js
Labels: component/ui

#9331 [UI] Fix Registry Treeview
  ui/assets/icons/CloseSquare.js
  ui/assets/icons/MinusSquare.js
  ui/assets/icons/PlusSquare.js
  ui/assets/styles/general/tool.styles.js
  ui/components/MeshModelRegistry/MeshModel.style.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
  ui/themes/app.js
Labels: component/ui

#9321 [UI] Add Formatted Kubernetes metadata to connections
  ui/.eslintrc.js
  ui/.prettierrc.yml
  ui/components/ConnectionWizard/helpers/mesheryOperator.js
  ui/components/DataFormatter/index.js
  ui/components/MeshConfigComponent.js
  ui/components/MesherySettings.js
  ui/components/connections/index.js
  ui/components/connections/metadata.js
  ui/components/hooks/useKubernetesHook.js
Labels: component/ui

#9336 [Server] Fix K8S subscription repeated reinitialization issue
  server/cmd/main.go
  server/handlers/component_handler.go
  server/handlers/connections_handlers.go
  server/handlers/doc.go
  server/handlers/error.go
  server/handlers/events_streamer.go
  server/handlers/k8sconfig_handler.go
  server/handlers/meshery_filter_handler.go
  server/handlers/meshery_pattern_handler.go
  server/handlers/meshsync_handler.go
  server/helpers/load_test_interface.go
  server/internal/graphql/resolver/operator.go
  server/models/connections/transitions.go
  server/models/default_local_provider.go
  server/models/events.go
  server/models/events_persister.go
  server/models/meshery_application.go
  server/models/meshery_catalog.go
  server/models/meshery_controllers.go
  server/models/meshery_filter_persister.go
  server/models/meshery_pattern.go
  server/models/meshsync.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
Labels: component/server

#9342 [Docker-Compose] Update playground docker-compose to include cilium adapter
  install/playground/docker/docker-compose.yaml
Labels: playground

#9335 [docs] Update Application Management
  docs/pages/guides/Importing-Apps.md
  docs/pages/guides/configuration-management.md
  docs/pages/tasks/application-management.md
Labels: area/docs

#9345 [Connections] Fix events for K8S context receipt
  server/handlers/design_engine_handler.go
  server/handlers/k8sconfig_handler.go
  server/handlers/middlewares.go
  server/models/k8s_context.go
  ui/components/Navigator.js
Labels: component/ui, component/server

#9349 [connections] - UI enhancements
  ui/components/connections/ConnectionChip.js
  ui/components/connections/index.js
  ui/components/connections/styles.js
Labels: component/ui

#9353 Fix Setting page crash when adapter is deployed.
  install/Makefile.core.mk
  ui/components/MeshAdapterConfigComponent.js
Labels: component/ui, area/lifecycle

#9237 [mesheryctl] cleanup golden response files
  mesheryctl/pkg/utils/fixtures/platform/manifesturl.api.response.golden
  mesheryctl/pkg/utils/fixtures/platform/manifesturl.latest.api.response.golden
  mesheryctl/pkg/utils/fixtures/validate.version.github.golden
Labels: component/mesheryctl

#9354 [Server] Clean applications from configuration subscription i
  server/internal/graphql/generated/generated.go
  server/internal/graphql/resolver/configuration.go
  server/internal/graphql/resolver/schema.resolvers.go
  server/internal/graphql/schema/schema.graphql
  ui/components/graphql/subscriptions/ConfigurationSubscription.js
  ui/components/graphql/subscriptions/__generated__/ConfigurationSubscription.graphql.js
Labels: component/ui, component/server

#9337 [UI] Fix technology and type not showing in Info modal
  ui/components/MesheryPatterns.js
  ui/components/Modals/Information/InfoModal.js
Labels: component/ui

#9313 Use Sistent components and packages
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/Cards.styles.js
  ui/components/MesheryPatterns/style.js
  ui/components/User.js
  ui/components/ViewSwitch.js
  ui/components/YamlDialog.js
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#9360 [UI] Connections Table enhancements and refactor
  ui/assets/icons/CopyIcon.js
  ui/components/DataFormatter/index.js
  ui/components/DatabaseSummary.js
  ui/components/Header.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesherySettingsEnvButtons.js
  ui/components/PromptComponent.js
  ui/components/connections/ConnectionChip.js
  ui/components/connections/MeshsyncTable.js
  ui/components/connections/index.js
  ui/components/connections/metadata.js
  ui/components/connections/styles.js
  ui/components/hooks/useKubernetesHook.js
  ui/themes/app.js
Labels: component/ui

#9356 [connections] use default connection chip and fix bugs
  ui/assets/icons/disconnect.js
  ui/components/connections/ConnectionChip.js
  ui/components/connections/index.js
  ui/themes/app.js
Labels: component/ui

#9361 info modal opening issue fixed in table view
  ui/components/MesheryPatterns.js
Labels: component/ui

#9380 [chore] Bump MeshKit v0.6.85
  go.mod
  go.sum
  server/handlers/meshery_pattern_handler.go
Labels: component/server

#9381 fixed prettier error
  ui/components/MesheryPatterns.js
Labels: component/ui

#9039 Color of FavIcon in the footer is changed to keppel green
  ui/pages/_app.js
Labels: component/ui

#9373 [Docs] Update connections.md
  docs/pages/concepts/logical/connections.md
Labels: area/docs

#9386 fix width of connection chip
  ui/components/connections/ConnectionChip.js
Labels: component/ui

#9368 [Model] Add connection definition for `kubernetes` model
  server/meshmodel/kubernetes/connection/kubernetes.json
  server/meshmodel/kubernetes/credential/kubernetes.json
Labels: component/server

#9377 [Extensions] Enhance Meshery Docker Extension UI
  install/docker-extension/ui/package-lock.json
  install/docker-extension/ui/package.json
  install/docker-extension/ui/src/assets/copy-button.js
  install/docker-extension/ui/src/assets/design-white.js
  install/docker-extension/ui/src/assets/design.js
  install/docker-extension/ui/src/assets/publish.js
  install/docker-extension/ui/src/assets/service-mesh.js
  install/docker-extension/ui/src/components/Catalog/CatalogCard.js
  install/docker-extension/ui/src/components/Catalog/Chart.js
  install/docker-extension/ui/src/components/Catalog/style.js
  install/docker-extension/ui/src/components/Chart/BBChart.js
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  install/docker-extension/ui/src/components/ExtensionComponent/styledComponents.js
  install/docker-extension/ui/src/components/utils/constants.js
  package-lock.json
  package.json
  ui/components/connections/index.js
  ui/pages/_document.js
Labels: component/ui, component/extensions

#9383 [Connections] Connection State Management
  server/cmd/main.go
  server/handlers/connections_handlers.go
  server/handlers/contexts_handler.go
  server/handlers/error.go
  server/handlers/handler_instance.go
  server/handlers/k8sconfig_handler.go
  server/handlers/middlewares.go
  server/handlers/utils.go
  server/helpers/kubernetes.go
  server/internal/graphql/graphql.go
  server/internal/graphql/model/operator_helper.go
  server/internal/graphql/resolver/application.go
  server/internal/graphql/resolver/configuration.go
  server/internal/graphql/resolver/operator.go
  server/internal/graphql/resolver/schema.resolvers.go
  server/machines/error.go
  server/machines/helpers.go
  server/machines/kubernetes/connect.go
  server/machines/kubernetes/delete.go
  server/machines/kubernetes/disconnect.go
  server/machines/kubernetes/discover.go
  server/machines/kubernetes/helpers.go
  server/machines/kubernetes/ignore.go
  server/machines/kubernetes/machine.go
  server/machines/kubernetes/notfound.go
  server/machines/kubernetes/register.go
  server/machines/models.go
  server/models/connections/connections.go
  server/models/k8s_components_registration.go
  server/models/k8s_context.go
  server/models/meshery_controllers.go
  server/models/meshmodel/core/error.go
  server/models/meshmodel/core/register.go
  server/models/providers.go
  server/models/remote_provider.go
  ui/components/DashboardComponent.js
  ui/components/graphql/subscriptions/MesheryControllersStatusSubscription.js
Labels: component/ui, component/server, framework/graphql

#9391 [Docs] Managing infrastructure with Meshery.
  docs/_data/toc.yml
  docs/pages/tasks/application-management.md
  docs/pages/tasks/infrastructure-management.md
Labels: area/docs

#9374 Add New shapes (Polygons)
  server/meshmodel/meshery/1.0.0/Crescent.json
  server/meshmodel/meshery/1.0.0/LeftTriangle.json
  server/meshmodel/meshery/1.0.0/Parallelogram.json
  server/meshmodel/meshery/1.0.0/Plus.json
  server/meshmodel/meshery/1.0.0/RightTriangle.json
  server/meshmodel/meshery/1.0.0/SlantedParallelogram.json
  server/meshmodel/pg-operator/1.3.1/PerconaPGBackup.json
  server/meshmodel/pg-operator/1.3.1/PerconaPGCluster.json
  server/meshmodel/pg-operator/1.3.1/PerconaPGRestore.json
Labels: component/server

#9370 Registryui
  ui/assets/icons/CloseSquare.js
  ui/assets/icons/DotSquare.js
  ui/assets/styles/general/tool.styles.js
  ui/components/MeshModelRegistry/MeshModel.style.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
  ui/components/MesherySettings.js
  ui/themes/app.js
  ui/utils/data-table.js
Labels: component/ui

#9397 [Server] Handle events emitted by `Execute funcs` properly.
  server/machines/kubernetes/connect.go
  server/machines/kubernetes/delete.go
  server/machines/kubernetes/disconnect.go
  server/machines/kubernetes/discover.go
  server/machines/kubernetes/ignore.go
  server/machines/kubernetes/notfound.go
  server/machines/kubernetes/register.go
  server/machines/models.go
  server/meshmodel/helper.go
Labels: component/server

#9402 [Server] update status at the end of the final state
  server/handlers/connections_handlers.go
  server/handlers/contexts_handler.go
  server/handlers/k8sconfig_handler.go
  server/handlers/middlewares.go
  server/handlers/utils.go
  server/internal/graphql/resolver/schema.resolvers.go
  server/machines/kubernetes/connect.go
  server/machines/kubernetes/delete.go
  server/machines/kubernetes/disconnect.go
  server/machines/kubernetes/discover.go
  server/machines/kubernetes/ignore.go
  server/machines/kubernetes/notfound.go
  server/machines/kubernetes/register.go
  server/machines/models.go
Labels: component/server

#9372 Filter "order by" parameter to fix sql inject vuln
  server/handlers/database_handlers.go
  server/models/meshery_application_persister.go
  server/models/meshery_filter_persister.go
  server/models/meshery_k8scontext_persister.go
  server/models/meshery_pattern_persister.go
  server/models/pattern_resource_persister.go
  server/models/performance_profile_persister.go
  server/models/sql-utils.go
Labels: security, component/server

#9407 [Server] Perform transitions in a separate routine
  server/handlers/connections_handlers.go
  server/handlers/contexts_handler.go
  server/handlers/error.go
  server/handlers/k8sconfig_handler.go
  server/handlers/middlewares.go
  server/helpers/component_info.json
  server/machines/error.go
  server/machines/kubernetes/machine.go
  server/machines/models.go
  server/models/meshmodel/core/error.go
Labels: component/server

#9409 [Connection] Add connection & credential definitions for `Meshery` model.
  server/meshmodel/kubernetes/connection/kubernetes.json
  server/meshmodel/meshery/connection/meshery.json
  server/meshmodel/meshery/credential/meshery.json
Labels: component/server

#9411 [bug] Add missing optional chaining in Dashboard
  ui/components/DashboardComponent/resources/network/config.js
  ui/components/DashboardComponent/resources/nodes/config.js
  ui/components/DashboardComponent/resources/workloads/config.js
Labels: component/ui

#9405 [Connections] Status transitions
  package-lock.json
  package.json
  ui/components/connections/common/index.js
  ui/components/connections/index.js
  ui/components/connections/styles.js
  ui/utils/Enum.js
  ui/utils/utils.js
Labels: component/ui

#9412 [Docs]
  docs/pages/concepts/logical/models.md
Labels: area/docs

#9414 [Docs] Managing Events with Notification Center
  docs/pages/guides/events-management.md
  docs/pages/tasks/managing-notifications
Labels: area/docs

#9415 [Docs] SMI Removal
  docs/pages/guides/events-management.md
  docs/pages/guides/smi-conformance.md
  docs/pages/tasks/lifecycle-management.md
  docs/pages/tasks/managing-notifications
  docs/pages/tasks/service-mesh-interface.md
Labels: area/docs

#9416 [Docs] WASM Filter Mgmt update
  docs/pages/tasks/filter-management.md
  docs/pages/tasks/patterns.md
Labels: area/docs

#9419 [Docs] Architecture update
  docs/pages/concepts/architectural/architecture.md
Labels: area/docs

#9406 [UI] Fixed registry not sorting models alphabetically
  ui/components/MeshModelRegistry/MeshModelComponent.js
Labels: component/ui

#9422 [Playground] Add troubleshooting steps for playground environment.
  install/playground/readme.md
Labels: playground

#9125 fix: Prevent Manually Added Content in CLI Docs to be Overwritten
  docs/pages/project/contributing/contributing-cli.md
  mesheryctl/doc/doc.go
  mesheryctl/doc/doc_test.go
Labels: area/docs, component/mesheryctl

#8284 [ADDED] system model command
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/fixtures/list.model.api.response.golden
  mesheryctl/internal/cli/root/system/fixtures/token.golden
  mesheryctl/internal/cli/root/system/fixtures/view.model.api.response.golden
  mesheryctl/internal/cli/root/system/model.go
  mesheryctl/internal/cli/root/system/model_test.go
  mesheryctl/internal/cli/root/system/system.go
  mesheryctl/internal/cli/root/system/testdata/model/list.model.output.golden
  mesheryctl/internal/cli/root/system/testdata/model/view.model.json.output.golden
  mesheryctl/internal/cli/root/system/testdata/model/view.model.yaml.output.golden
  mesheryctl/pkg/utils/auth.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
  server/handlers/performance_profiles_handler.go
  server/meshes/meshops.pb.go
Labels: component/mesheryctl, component/server, issue/dco

#9410 [policy] Add Sibling Policy
  server/meshmodel/kubernetes/policies/sibling-policy.rego
Labels: component/server, component/policy

#9443 [Server] Add `annotations` as query param to meshmodel APIs.
  docs/_data/swagger.yml
  go.mod
  go.sum
  server/handlers/component_handler.go
  server/meshmodel/meshery/1.0.0/Ellipse.json
  server/meshmodel/meshery/1.0.0/RoundBarrel.json
Labels: area/docs, component/server

#9447 Fixed a typo
  docs/v0.6/installation/quick-start.html
Labels: area/docs

#9425 Analytics logo added
  ui/public/static/img/model-categories/dark/analytics-dark.svg
  ui/public/static/img/model-categories/label-green/analytics-label-green.svg
  ui/public/static/img/model-categories/label/analytics-label.svg
  ui/public/static/img/model-categories/light/analytics-light.svg
  ui/public/static/img/model-categories/white/analytics-white.svg
Labels: component/ui

#9420 Fix registry models sorting
  ui/components/MeshModelRegistry/MeshModelComponent.js
Labels: component/ui

#9441 [Connections] - Enhancements to connections
  ui/components/connections/MeshsyncTable.js
  ui/components/connections/index.js
  ui/components/connections/styles.js
  ui/lib/store.js
  ui/pages/_app.js
Labels: component/ui

#9428 Enhance dashboard UI
  ui/assets/icons/technology/kubernetes.js
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/resources/configuration/config.js
  ui/components/DashboardComponent/resources/namespace/config.js
  ui/components/DashboardComponent/resources/network/config.js
  ui/components/DashboardComponent/resources/nodes/config.js
  ui/components/DashboardComponent/resources/resources-sub-menu.js
  ui/components/DashboardComponent/resources/security/config.js
  ui/components/DashboardComponent/resources/storage/config.js
  ui/components/DashboardComponent/resources/workloads/config.js
  ui/components/DashboardComponent/view.js
  ui/components/connections/ConnectionChip.js
  ui/utils/utils.js
Labels: component/ui

#8767 Meshmodel Postgres & Kubernetes Component
  ui/assets/new-icons/Kubernetes-white.svg
  ui/assets/new-icons/Kubernetes_Colored.svg
  ui/assets/new-icons/Postgres_colored.svg
  ui/assets/new-icons/Postgres_white.svg
Labels: component/ui

#9454 [CI] fix eslint issue failing lint check
  ui/assets/icons/technology/kubernetes.js
Labels: component/ui

#9455 [dashboard] fix opacity for `view all` span
  ui/components/DashboardComponent/resources/network/config.js
Labels: component/ui

#9456 [UI] Add hide/unhide support in search for mobile compatible
  ui/components/DashboardComponent/resources/resources-table.js
  ui/components/DatabaseSummary.js
  ui/components/Filters.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/connections/MeshsyncTable.js
  ui/utils/custom-search.js
Labels: component/ui

#9462 [UI] fix zindex issues
  ui/assets/styles/general/tool.styles.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/utils/custom-column.js
Labels: component/ui

#9466 [utility] Custom infiniteScroll utility function
  ui/utils/utils.js
Labels: component/ui

#9436 Added feature: `mesheryctl exp model search [query-text]` command
  mesheryctl/internal/cli/root/system/model.go
Labels: component/mesheryctl

#8829 Add Config Map Icon
  ui/assets/new-icons/cm - white.svg
  ui/assets/new-icons/cm.svg
Labels: issue/stale, component/ui

#9477 [UI] FIx UI Dashboard Crash
  ui/components/DashboardComponent/resources/configuration/config.js
  ui/components/DashboardComponent/resources/namespace/config.js
  ui/components/DashboardComponent/resources/network/config.js
  ui/components/DashboardComponent/resources/nodes/config.js
  ui/components/DashboardComponent/resources/security/config.js
  ui/components/DashboardComponent/resources/storage/config.js
  ui/components/DashboardComponent/resources/workloads/config.js
Labels: component/ui

#9482 [fix] missing dashboard overview charts
  ui/components/DashboardComponent/overview.js
Labels: component/ui

#9486 [bug] Update config.js
  ui/components/DashboardComponent/resources/nodes/config.js
Labels: component/ui

#9469 [cli][system][fix]: return error if detected while creating manifests folder
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#9499 Remove broken links in project/index.md
  docs/pages/project/index.md
Labels: area/docs

#9463 Docs Meshsync CRD
  docs/_data/toc.yml
  docs/pages/reference/meshync-crd-reference.md
Labels: area/docs, component/meshsync

#9498 [MeshSync] Fix Sorting MeshSync table
  ui/components/connections/common/index.js
  ui/components/connections/index.js
  ui/components/connections/meshSync/index.js
  ui/utils/utils.js
Labels: component/ui

#9500 updated polygons
  server/meshmodel/meshery-shapes/1.0.0/Crescent.json
  server/meshmodel/meshery-shapes/1.0.0/LeftTriangle.json
  server/meshmodel/meshery-shapes/1.0.0/Parallelogram.json
  server/meshmodel/meshery-shapes/1.0.0/Plus.json
  server/meshmodel/meshery-shapes/1.0.0/RightTriangle.json
  server/meshmodel/meshery-shapes/1.0.0/SlantedParallelogram.json
  server/meshmodel/meshery-shapes/1.0.0/XWing.json
Labels: component/server

#9489 [dashboard] ad-hoc for cluster chip in dashboard
  ui/components/DashboardComponent/resources/namespace/config.js
  ui/components/DashboardComponent/resources/network/config.js
  ui/components/DashboardComponent/resources/nodes/config.js
  ui/components/DashboardComponent/resources/security/config.js
  ui/components/DashboardComponent/resources/storage/config.js
  ui/components/DashboardComponent/resources/workloads/config.js
  ui/utils/multi-ctx.js
Labels: component/ui

#9369 [UI] Added avatar in design card
  ui/components/Connect/index.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryPatterns/Cards.styles.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
Labels: component/ui, kind/feature

#9452 [GraphQL] Update `graphql` schema
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/helpers.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/schema/schema.graphql
  server/models/machines/models.go
  ui/components/DashboardComponent/index.js
  ui/pages/_app.js
Labels: component/ui, component/server

#9505 fix: update helm dependancy
  go.mod
  go.sum
Labels: component/mesheryctl, framework/helm
