Repository meshery/meshery, pull requests merged in 2023-09, with the labels that each got.

#8622 [Server] Fix meshery server bottleneck issues
  go.mod
  go.sum
  server/handlers/k8sconfig_handler.go
  server/models/k8s_context.go
  server/models/meshery_controllers.go
  server/router/server.go
Labels: component/server

#8596 Kuma dark mode logo resolve
  docs/_adapters/app-mesh.md
  docs/_adapters/cilium.md
  docs/_adapters/consul/consul.md
  docs/_adapters/istio/istio.md
  docs/_adapters/kuma/kuma.md
  docs/_adapters/linkerd.md
  docs/_adapters/nginx-sm.md
  docs/_adapters/nsm/nsm.md
  docs/_adapters/osm/osm.md
  docs/_adapters/tanzu-sm.md
  docs/_adapters/traefik-mesh.md
  docs/_includes/compatibility/adapter-status.html
  docs/assets/img/service-meshes/app-mesh-white.svg
  docs/assets/img/service-meshes/cilium-white.svg
  docs/assets/img/service-meshes/consul-white.svg
  docs/assets/img/service-meshes/istio-white.svg
  docs/assets/img/service-meshes/kuma.svg
  docs/assets/img/service-meshes/linkerd-white.svg
  docs/assets/img/service-meshes/nginx-sm-white.svg
  docs/pages/concepts/architecture/architecture.md
  docs/pages/concepts/architecture/service-meshes/adapters.md
Labels: area/docs

#8598 Prevent MeshMap from running on forked repo
  .github/workflows/meshmap.yml
Labels: area/ci

#8555 Add `visibility` query param to the `/api/filter` endpoint
  server/handlers/meshery_filter_handler.go
  server/internal/graphql/resolver/filter.go
  server/models/default_local_provider.go
  server/models/meshery_filter_persister.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: component/server

#8611 fix: hide navbar and sidebar in fullscreen mode
  ui/pages/_app.js
Labels: component/ui

#8639 Export RJSFWrapper to MeshMap
  ui/components/NavigatorExtension.js
Labels: component/ui

#8586 feat: added icon to show the current status of adapter deployement
  ui/components/CustomAvatar.js
  ui/components/MeshAdapterConfigComponent.js
Labels: component/ui

#8540 [UI] Connections: External Link and Light Mode Issue
  ui/components/connections/index.js
  ui/themes/app.js
Labels: component/ui

#8450 [CI] MeshKit Error Util: duplicate errors causing failures
  mesheryctl/internal/cli/root/version.go
  server/cmd/error.go
  server/handlers/connections_handlers.go
  server/handlers/contexts_handler.go
  server/handlers/error.go
  server/handlers/events_streamer.go
  server/handlers/extensions.go
  server/handlers/fetch_results_handler.go
  server/handlers/grafana_handlers.go
  server/handlers/k8sconfig_handler.go
  server/handlers/load_test_handler.go
  server/handlers/load_test_meshes_handler.go
  server/handlers/load_test_preferences_handler.go
  server/handlers/mesh_ops_handlers.go
  server/handlers/meshery_application_handler.go
  server/handlers/meshery_filter_handler.go
  server/handlers/meshery_pattern_handler.go
  server/handlers/middlewares.go
  server/handlers/policy_relationship_handler.go
  server/handlers/prometheus_handlers.go
  server/handlers/provider_handler.go
  server/handlers/schema_handlers.go
  server/handlers/server_spec_handler.go
  server/handlers/session_sync_handler.go
  server/handlers/user_handler.go
  server/helpers/component_info.json
  server/helpers/error.go
  server/helpers/load_test_interface.go
  server/internal/graphql/model/addons_helper.go
  server/internal/graphql/model/control_plane_helper.go
  server/internal/graphql/model/data_plane_helper.go
  server/internal/graphql/model/error.go
  server/internal/graphql/model/operator_helper.go
  server/internal/graphql/resolver/application.go
  server/internal/graphql/resolver/catalog_content.go
  server/internal/graphql/resolver/error.go
  server/internal/graphql/resolver/filter.go
  server/internal/graphql/resolver/kubernetes.go
  server/internal/graphql/resolver/meshsync.go
  server/internal/graphql/resolver/operator.go
  server/internal/graphql/resolver/pattern.go
  server/internal/graphql/resolver/performance.go
  server/internal/graphql/resolver/telemetry.go
  server/models/error.go
  server/models/meshmodel/core/error.go
  server/models/meshmodel/core/register.go
  server/models/pattern/core/error.go
Labels: component/mesheryctl, component/server

#8480 Display notification according access of role on publish designs/filters
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
Labels: component/ui

#8641 disable cypress fail on uncaught exception or unhandled promise rejec…
  ui/cypress/support/e2e.js
Labels: component/ui

#8637 Update MeshModel Issue Template
  .github/ISSUE_TEMPLATE/meshmodel.md
Labels: area/ci

#8122 [Docs] Added how to use token for Meshery API in postman
  docs/pages/extensibility/api.md
Labels: area/docs

#8646 [UI] Fix credential Icon color in settings
  ui/assets/icons/CredentialIcon.js
Labels: component/ui

#8644 [Events] Notification / Operation Center
  go.mod
  go.sum
  server/cmd/main.go
  server/handlers/component_handler.go
  server/handlers/connections_handlers.go
  server/handlers/contexts_handler.go
  server/handlers/design_engine_handler.go
  server/handlers/error.go
  server/handlers/events_streamer.go
  server/handlers/handler_instance.go
  server/handlers/k8sconfig_handler.go
  server/handlers/meshery_application_handler.go
  server/handlers/meshery_filter_handler.go
  server/handlers/middlewares.go
  server/handlers/relationship_handlers.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/events.go
  server/internal/graphql/resolver/performance.go
  server/internal/graphql/resolver/schema.resolvers.go
  server/internal/graphql/schema/schema.graphql
  server/models/action.go
  server/models/default_local_provider.go
  server/models/error.go
  server/models/events.go
  server/models/events_persister.go
  server/models/handlers.go
  server/models/k8s_components_registration.go
  server/models/k8s_context.go
  server/models/pattern/patterns/patterns.go
  server/models/providers.go
  server/models/remote_provider.go
  server/models/signal.go
  server/router/server.go
  ui/components/graphql/subscriptions/EventsSubscription.js
  ui/components/graphql/subscriptions/__generated__/EventsSubscription.graphql.js
  ui/package.json
  ui/pages/_app.js
Labels: component/ui, component/server

#8649 [CI] Meskit Error Utility Workflow Does not fails for duplicacy
  .github/workflows/error-codes-updater.yaml
  server/helpers/component_info.json
  server/models/error.go
Labels: area/ci, component/server

#8651 Update package.json
  ui/package.json
Labels: component/ui

#8652 [CI] Playground: --remove-orphans in Meshery deployments
  .github/workflows/cncf-playground-deploy-meshery.yaml
Labels: area/ci, area/devops, playground, docker

#8655 REST APIs for events.
  go.mod
  go.sum
  server/cmd/main.go
  server/handlers/component_handler.go
  server/handlers/database_handlers.go
  server/handlers/error.go
  server/handlers/events_streamer.go
  server/handlers/utils.go
  server/models/event_broadcast.go
  server/models/events.go
  server/models/events_persister.go
  server/models/handlers.go
  server/router/server.go
Labels: component/server

#8660 [UI] Connections: Status | #8657
  ui/components/connections/index.js
Labels: kind/bug, component/ui

#8659 [CI] Fix for failing meshkit error utility workflow
  .github/workflows/error-codes-updater.yaml
Labels: area/ci

#8665 Email will not be sent without any failure
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#8679 [Docs] Logical Concepts: workspaces, env, designs
  docs/_data/toc.yml
  docs/pages/concepts/architectural/architecture.md
  docs/pages/concepts/architectural/broker.md
  docs/pages/concepts/architectural/catalog.md
  docs/pages/concepts/architectural/database.md
  docs/pages/concepts/architectural/meshsync.md
  docs/pages/concepts/architectural/operator.md
  docs/pages/concepts/architectural/service-meshes/adapters.md
  docs/pages/concepts/architectural/service-meshes/index.md
  docs/pages/concepts/architecture/broker.md
  docs/pages/concepts/logical/designs.md
  docs/pages/concepts/logical/environments.md
  docs/pages/concepts/logical/index.md
  docs/pages/concepts/logical/meshmodel.md
  docs/pages/concepts/logical/workspaces.md
Labels: area/docs

#8618 Standard Toolbar and flexible Mui Data-tables
  ui/assets/icons/coulmn.js
  ui/assets/styles/general/tool.styles.js
  ui/components/CatalogFilter.js
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/PerformanceProfileTable.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/ViewSwitch.js
  ui/components/connections/index.js
  ui/themes/app.js
  ui/utils/custom-column.js
  ui/utils/custom-search.js
  ui/utils/data-table.js
  ui/utils/dimension.js
Labels: component/ui

#8681 K8s context switcher ping redirected notify to useNotification.
  ui/components/Header.js
Labels: kind/bug, component/ui

#8663 Aabidsofi/k8s switcher
  provider-ui/lib/data-fetch.js
  ui/components/ConnectionWizard/helpers/common.js
  ui/components/ConnectionWizard/helpers/kubernetesHelpers.js
  ui/components/Header.js
  ui/lib/data-fetch.js
Labels: kind/bug, component/ui

#8691 Reduce unnecessary queries to remote provider.
  server/handlers/contexts_handler.go
  server/helpers/component_info.json
  server/internal/graphql/resolver/kubernetes.go
  server/internal/graphql/schema/schema.graphql
  server/models/default_local_provider.go
  server/models/providers.go
  server/models/remote_provider.go
  ui/components/MesherySettingsEnvButtons.js
  ui/components/graphql/subscriptions/K8sContextSubscription.js
  ui/components/graphql/subscriptions/__generated__/K8sContextSubscription.graphql.js
Labels: component/ui, component/server

#8697 chore: Sort the technology list in alphabetical order
  ui/components/MesheryMeshInterface/PatternService/RJSF_wrapper.js
Labels: component/ui

#8588 More Mesheryctl Error Wrappers
  mesheryctl/internal/cli/root/app/error.go
  mesheryctl/internal/cli/root/app/import.go
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/onboard.go
  mesheryctl/internal/cli/root/app/view.go
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/config/error.go
  mesheryctl/internal/cli/root/error.go
  mesheryctl/internal/cli/root/filter/delete.go
  mesheryctl/internal/cli/root/filter/error.go
  mesheryctl/internal/cli/root/filter/import.go
  mesheryctl/internal/cli/root/filter/list.go
  mesheryctl/internal/cli/root/filter/list_test.go
  mesheryctl/internal/cli/root/filter/view.go
  mesheryctl/internal/cli/root/mesh/deploy.go
  mesheryctl/internal/cli/root/mesh/error.go
  mesheryctl/internal/cli/root/mesh/mesh.go
  mesheryctl/internal/cli/root/mesh/remove.go
  mesheryctl/internal/cli/root/mesh/validate.go
  mesheryctl/internal/cli/root/pattern/apply.go
  mesheryctl/internal/cli/root/pattern/delete.go
  mesheryctl/internal/cli/root/pattern/error.go
  mesheryctl/internal/cli/root/pattern/list.go
  mesheryctl/internal/cli/root/pattern/view.go
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/error.go
  mesheryctl/internal/cli/root/perf/perf.go
  mesheryctl/internal/cli/root/perf/profile.go
  mesheryctl/internal/cli/root/perf/result.go
  mesheryctl/internal/cli/root/system/channel.go
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/internal/cli/root/system/config.go
  mesheryctl/internal/cli/root/system/context.go
  mesheryctl/internal/cli/root/system/dashboard.go
  mesheryctl/internal/cli/root/system/error.go
  mesheryctl/internal/cli/root/system/logout.go
  mesheryctl/internal/cli/root/system/logs.go
  mesheryctl/internal/cli/root/system/provider.go
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/internal/cli/root/system/restart.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/internal/cli/root/system/system.go
  mesheryctl/internal/cli/root/system/token.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/pkg/utils/auth.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#8700 [CI] Upgrade to Golang 1.21
  .github/workflows/build-and-release-stable.yml
  .github/workflows/build-ui-and-server.yml
  .github/workflows/build-ui-server-reusable-workflow.yml
  .github/workflows/go-mod-sync.yaml
  .github/workflows/go-testing-ci.yml
  .github/workflows/mesheryctl-ci.yml
  .github/workflows/meshmodel-generators.yml
  CONTRIBUTING.md
  go.mod
  go.sum
  install/Makefile.core.mk
  install/docker-extension/Dockerfile
  install/docker-extension/go.mod
  install/docker/Dockerfile
  scripts/component_generation/go.mod
  scripts/component_updater/go.mod
Labels: kind/chore, area/ci, language/go, area/lifecycle, component/extensions, dependencies

#8706 Revert "chore: Sort the technology list in alphabetical order"
  ui/components/MesheryMeshInterface/PatternService/RJSF_wrapper.js
Labels: component/ui

#8707 [UI] Converted UserPreferences and preferences form class-based to fun…
  ui/components/UserPreferences.js
  ui/pages/user/preferences.js
Labels: component/ui

#8715 [Events] Add API to return available event category and action.
  server/handlers/events_streamer.go
  server/models/events.go
  server/models/events_persister.go
  server/models/handlers.go
  server/models/pattern/core/pattern.go
  server/router/server.go
Labels: component/server

#8719 Update events_persister.go
  server/models/events_persister.go
Labels: component/server

#8725 change sort order from asc to desc as default
  go.mod
  go.sum
  server/handlers/error.go
  server/handlers/events_streamer.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/events.go
  server/internal/graphql/schema/schema.graphql
  server/models/events_persister.go
  ui/components/graphql/subscriptions/EventsSubscription.js
  ui/components/graphql/subscriptions/__generated__/EventsSubscription.graphql.js
Labels: component/ui, component/server

#8726 created a folder
  ui/assets/new-icons/Readme.md
Labels: component/ui

#8720 Improve search functionality using debounce
  ui/components/Filters.js
  ui/utils/custom-search.js
  ui/utils/debounce.js
Labels: kind/enhancement, component/ui

#8709 [server]Fix Index Out of Range Error Handling in Meshery Component Handler
  server/handlers/component_handler.go
Labels: component/server

#8759 Remove Firewall Policy
  server/meshmodel/kubernetes/relationships/network_policy_edge.json
Labels: component/server

#8762 [MeshModel] New shapes
  server/meshmodel/meshery/1.0.0/Barrel.json
  server/meshmodel/meshery/1.0.0/BottomRoundRectangle.json
  server/meshmodel/meshery/1.0.0/ConcaveHexagon.json
  server/meshmodel/meshery/1.0.0/CutRectangle.json
  server/meshmodel/meshery/1.0.0/Diamond.json
  server/meshmodel/meshery/1.0.0/Ellipse.json
  server/meshmodel/meshery/1.0.0/Heptagon.json
  server/meshmodel/meshery/1.0.0/Hexagon.json
  server/meshmodel/meshery/1.0.0/Pentagon.json
  server/meshmodel/meshery/1.0.0/Polygon.json
  server/meshmodel/meshery/1.0.0/Rectangle.json
  server/meshmodel/meshery/1.0.0/Rhomboid.json
  server/meshmodel/meshery/1.0.0/RightRhomboid.json
  server/meshmodel/meshery/1.0.0/RoundBarrel.json
  server/meshmodel/meshery/1.0.0/RoundDiamond.json
  server/meshmodel/meshery/1.0.0/RoundHeptagon.json
  server/meshmodel/meshery/1.0.0/RoundHexagon.json
  server/meshmodel/meshery/1.0.0/RoundOctagon.json
  server/meshmodel/meshery/1.0.0/RoundPentagon.json
  server/meshmodel/meshery/1.0.0/RoundRectangle.json
  server/meshmodel/meshery/1.0.0/RoundTag.json
  server/meshmodel/meshery/1.0.0/RoundTriangle.json
  server/meshmodel/meshery/1.0.0/Star.json
  server/meshmodel/meshery/1.0.0/Tag.json
  server/meshmodel/meshery/1.0.0/Triangle.json
  server/meshmodel/meshery/1.0.0/Vee.json
  server/meshmodel/minio-operator/4.3.7/Tenant.json
Labels: component/server

#8704 Show duplicates meshmodels on toggle
  ui/components/MeshModelComponent.js
Labels: component/ui

#8694 FIXED: adapter deployment permission denied error on docker platform
  mesheryctl/internal/cli/root/system/channel_test.go
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#8769 Fix infinite publish requests
  ui/components/Modals/PublishModal.js
Labels: component/ui

#8791 Fix failing updater test
  .github/workflows/integrations-updater.yml
Labels: area/ci

#8793 [UI] Transparent "WA" Filter Icon
  ui/components/Filters.js
  ui/public/static/img/drawer-icons/filter_svg.js
Labels: component/ui

#8703 Refactor /management/index.js to functional component
  ui/pages/index.js
Labels: component/ui

#8708 chore: sort the technology list in alphabetical order
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
  ui/components/Modals/PublishModal.js
Labels: component/ui

#8672 Updated PromptComponent to support checkbox
  ui/components/PromptComponent.js
Labels: component/ui

#8785 updated filter.js to functional component
  ui/pages/configuration/filters.js
Labels: component/ui

#8776 Fix crash on saving applications
  ui/components/MesheryApplications.js
Labels: kind/bug, component/ui

#8656 meshmodel docs
  docs/assets/img/syscmd/channel set.png
  docs/assets/img/syscmd/channel view.png
  docs/assets/img/syscmd/context create.png
  docs/assets/img/syscmd/context delete.png
  docs/assets/img/syscmd/context flag.png
  docs/assets/img/syscmd/context list.png
  docs/assets/img/syscmd/context view.png
  docs/assets/img/syscmd/dashboard skip.png
  docs/assets/img/syscmd/force stop.png
  docs/assets/img/syscmd/keep namespace.png
  docs/assets/img/syscmd/platform.png
  docs/assets/img/syscmd/portforward.png
  docs/assets/img/syscmd/pro list.png
  docs/assets/img/syscmd/pro set.png
  docs/assets/img/syscmd/pro switch.png
  docs/assets/img/syscmd/pro view.png
  docs/assets/img/syscmd/reset.png
  docs/assets/img/syscmd/restart.png
  docs/assets/img/syscmd/skipbrowser.png
  docs/assets/img/syscmd/start.png
  docs/assets/img/syscmd/stop reset.png
  docs/assets/img/syscmd/stop.png
  docs/assets/img/syscmd/system check.png
  docs/assets/img/syscmd/system dahboard.png
  docs/assets/img/syscmd/system login.png
  docs/assets/img/syscmd/system status.png
  docs/assets/img/syscmd/system update.png
  docs/assets/img/syscmd/update skip reset.png
  docs/pages/guides/mesheryctl/system-commands.md
Labels: area/docs

#8787 [UI] Prevent rjsf modal rerendering
  ui/components/Filters.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomBaseInput.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/Modal.js
Labels: component/ui

#8690 Fixes the issue in Docs Search: Unwanted display of search result on separate line from bullet point in safari browser(7402)
  docs/_sass/overview.scss
Labels: area/docs

#8733 Notification Center
  docs/pages/project/contributing/contributing-ui-notification-center.md
  ui/.eslintrc.js
  ui/assets/icons/AlertIcon.js
  ui/assets/icons/ArchiveIcon.js
  ui/assets/icons/ClearIcon.js
  ui/assets/icons/ContentFilterIcon.js
  ui/assets/icons/CrossCircleIcon.js
  ui/assets/icons/DoneIcon.js
  ui/assets/icons/FacebookIcon.js
  ui/assets/icons/LinkedInIcon.js
  ui/assets/icons/ReadIcon.js
  ui/assets/icons/ShareIcon.js
  ui/assets/icons/TwitterIcon.js
  ui/assets/icons/UnreadIcon.js
  ui/components/Header.js
  ui/components/MesheryNotification.js
  ui/components/NotificationCenter/Notification.js
  ui/components/NotificationCenter/constants.js
  ui/components/NotificationCenter/filter.js
  ui/components/NotificationCenter/index.js
  ui/components/NotificationCenter/notification.js
  ui/components/NotificationCenter/notificationCenter.style.js
  ui/components/TypingFilter/README.md
  ui/components/TypingFilter/index.js
  ui/components/TypingFilter/state.js
  ui/components/TypingFilter/style.js
  ui/components/TypingFilter/utils.js
  ui/components/User.js
  ui/package-lock.json
  ui/package.json
  ui/pages/_app.js
  ui/rtk-query/index.js
  ui/rtk-query/notificationCenter.js
  ui/rtk-query/user.js
  ui/store/index.js
  ui/store/slices/events.js
  ui/themes/app.js
  ui/utils/hooks/useNotification.js
Labels: area/docs, component/ui

#8775 Format k8s response
  Makefile
  go.mod
  go.sum
  server/handlers/design_engine_handler.go
  server/handlers/error.go
  server/handlers/meshery_application_handler.go
  server/handlers/meshery_pattern_handler.go
  server/helpers/component_info.json
  server/helpers/utils/utils.go
  server/models/pattern/core/pattern.go
  server/models/pattern/patterns/k8s/error.go
  server/models/pattern/patterns/k8s/k8s.go
  server/models/pattern/patterns/patterns.go
  server/models/pattern/stages/svc_provider.go
  ui/components/DryRun/DryRunComponent.js
Labels: component/ui, component/server

#8770 [bug] Update healthcheck.go
  mesheryctl/pkg/utils/healthcheck.go
Labels: kind/bug, component/mesheryctl

#8816 [UI] Added Connect Helm Repo button in connections page
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomBaseInput.js
  ui/components/connections/index.js
Labels: component/ui

#8781 changed LoadTestTimerConfig and MeshAdapterConfigComponent to functional component
  ui/components/MeshAdapterConfigComponent.js
  ui/components/load-test-timer-dialog.js
Labels: component/ui

#8825 Fix repetitive api calls and UI issues in connections page
  ui/components/connections/index.js
  ui/utils/custom-search.js
Labels: kind/bug, component/ui, priority/high

#8811 [Docker Extension] Remove adapters from default configuration
  install/docker-extension/docker-compose.yaml
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
Labels: component/extensions

#8828 [UI] Notification Center: Update color of "No notifications to show"
  ui/components/NotificationCenter/index.js
Labels: component/ui

#8808 Meshery End-to-End Tests with mesheryctl
  .github/workflows/mesheryctl-e2e.yaml
Labels: area/ci

#8832 [chore] fix color undefined
  ui/components/NotificationCenter/index.js
  ui/components/NotificationCenter/notification.js
Labels: kind/bug, component/ui

#8789 watchtower label is added
  server/helpers/adapters_tracker.go
Labels: component/server

#8724 converted class based dashboard component to functional component
  ui/components/DashboardComponent.js
Labels: component/ui

#8845 Added Debug log for extension component
  ui/components/RemoteComponent.js
Labels: component/ui

#8800 Update messages and logs to designs from patterns
  server/handlers/error.go
  server/handlers/meshery_application_handler.go
  server/internal/graphql/resolver/error.go
  server/models/meshery_pattern_persister.go
  server/models/pattern/core/error.go
  server/models/pattern/core/pattern.go
  server/models/pattern/stages/filler.go
  server/models/pattern/stages/filler_test.go
  server/models/pattern/stages/import.go
  server/models/remote_provider.go
Labels: component/server

#8833 [UI] Add Validation and Error Boundaries
  package-lock.json
  ui/components/General/ErrorBoundary.js
  ui/components/NotificationCenter/constants.js
  ui/components/NotificationCenter/filter.js
  ui/components/NotificationCenter/index.js
  ui/components/NotificationCenter/notification.js
  ui/package-lock.json
  ui/package.json
  ui/pages/_app.js
  ui/store/slices/events.js
Labels: component/ui, priority/urgent

#8841 [chore] Make MeshSyncEvents GraphQL Subscription Configurable
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/helpers.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/schema.resolvers.go
  server/internal/graphql/schema/schema.graphql
  ui/components/graphql/subscriptions/MeshSyncEventsSubscription.js
  ui/components/graphql/subscriptions/__generated__/MeshSyncEventsSubscription.graphql.js
  ui/pages/_app.js
Labels: component/ui, component/server

#8723 [Server] Added environments in Meshery
  docs/_data/swagger.yml
  server/handlers/environments_handlers.go
  server/models/default_local_provider.go
  server/models/environments.go
  server/models/handlers.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
Labels: area/docs, component/api, component/server

#8850 [bug] Fix failing API docs build
  docs/_data/swagger.yml
  server/handlers/doc.go
  server/handlers/environments_handlers.go
  server/helpers/swagger.yaml
Labels: kind/bug

#8851 [UI] Enhance Error Handling
  ui/components/General/ErrorBoundary.js
  ui/components/NotificationCenter/constants.js
  ui/components/NotificationCenter/notification.js
  ui/pages/_app.js
Labels: component/ui

#8830 Fix typo in component-svg/_.txt
  ui/public/static/img/component-svg/_.txt
Labels: component/ui

#8774 Fixed Meshary Integration Updater
  scripts/component_updater/main.go
Labels: issue/dco

#8858 [UI] Remove old store for notification center
  ui/components/NotificationCenter/constants.js
  ui/components/NotificationCenter/notification.js
  ui/lib/store.js
  ui/pages/_app.js
  ui/utils/hooks/useNotification.js
Labels: component/ui

#8865 [UI] Notification inverse read indicator
  ui/components/NotificationCenter/notification.js
Labels: component/ui

#8864 [chore] Improve events for Server
  server/handlers/design_engine_handler.go
  server/handlers/k8sconfig_handler.go
  server/models/error.go
  server/models/event_broadcast.go
  server/models/k8s_context.go
  server/models/pattern/patterns/k8s/error.go
  ui/components/Navigator.js
Labels: component/ui, language/go, component/server

#8873 [UI] Fix cluster resources dashboard not getting populated with data
  ui/components/DashboardComponent.js
Labels: component/ui

#8872 [UI] Enhancements :Notification center
  ui/components/NotificationCenter/filter.js
  ui/components/NotificationCenter/notification.js
  ui/components/TypingFilter/README.md
  ui/components/TypingFilter/index.js
Labels: component/ui

#8875 Fix Notification center bell icon toggle btn
  ui/components/NotificationCenter/constants.js
  ui/components/NotificationCenter/index.js
  ui/components/NotificationCenter/notificationCenter.style.js
  ui/utils/Elements.js
  ui/utils/hooks/useNotification.js
Labels: component/ui

#8861 [Designs] Fixes And Enhancements
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/configuratorComponents/CodeEditor.js
  ui/components/configuratorComponents/MeshModel/hooks/useDesignLifecycle.js
  ui/components/configuratorComponents/MeshModel/index.js
Labels: component/ui

#8643 [CI] e2e test job improvements
  .github/workflows/build-ui-and-server.yml
  Makefile
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryPlayComponent.js
  ui/cypress/e2e/e2e/lifecyclecheck_spec.js
  ui/cypress/e2e/e2e/service_mesh_lifecycle_settings_spec.js
  ui/cypress/e2e/e2e/settings_spec.js
Labels: area/ci, component/ui

#8876 [Fix] k8s-switcher select-all
  ui/pages/_app.js
Labels: component/ui

#8840 Connections row expand data with styling
  ui/components/connections/index.js
Labels: component/ui

#8868 changed smi_results.js
  ui/pages/smi_results.js
Labels: component/ui

#8856 updating node versions workflow actions
  .github/workflows/e2etest.yaml
  .github/workflows/test_adaptersv2.yaml
Labels: area/ci

#8891 [UI] Notification Center: Increase size of unread indicator
  ui/components/NotificationCenter/index.js
  ui/components/NotificationCenter/notification.js
  ui/components/NotificationCenter/notificationCenter.style.js
  ui/components/TypingFilter/style.js
Labels: component/ui

#8898 Revert "[Fix] k8s-switcher select-all"
  ui/pages/_app.js
Labels: component/ui

#8893 [extensions] Fix Collaborator Extension Point Re-rendering
  ui/components/ExtensionSandbox.js
  ui/components/Header.js
  ui/lib/store.js
  ui/pages/_app.js
Labels: component/ui, component/extensions

#8899 add functionality to dynamically update the URL
  docs/pages/reference/error-codes.md
Labels: kind/bug, area/docs

#8900 [Server] Do not refresh token when status code returned is `403`.
  server/models/remote_auth.go
Labels: component/server

#8877 Fix for Navigation
  ui/components/Navigator.js
Labels: component/ui

#8904 [extensions] Fix Collaborator Extension Point Re-rendering
  ui/components/ExtensionSandbox.js
  ui/components/Header.js
Labels: kind/bug, component/ui, component/extensions

#8916 fix: Change prettier to error, and added eol to be LF
  ui/.eslintrc.js
  ui/.prettierrc.yml
Labels: area/ci, component/ui

#8930 [DOC] fix: all the typos
  CONTRIBUTING.md
  docs/pages/project/contributing/contributing-cypress.md
  docs/pages/project/contributing/contributing-ui.md
  docs/pages/project/contributing/meshery-server.md
Labels: area/docs

#8926 Updated docs regarding linting/formatting in ui
  docs/pages/project/contributing/contributing-ui.md
  docs/v0.5/search/index.html
Labels: area/docs

#8920 Changed “pertainting” to “pertaining”
  docs/pages/project/contributing/contributing-ui.md
Labels: area/docs

#8914 fix: #8911
  docs/pages/extensions/meshmap/publishing-a-design.md
  docs/pages/extensions/meshmap/sharing-a-design.md
Labels: area/docs

#8765 [Playground] Increase max file upload size.
  install/playground/docker/nginx.conf
Labels: area/devops, playground

#8935 [Helm] Values descriptions
  install/kubernetes/helm/meshery/README.md
Labels: framework/helm

#8937 Add a nullish check
  ui/components/MesheryPatterns.js
Labels: component/ui

#8933 fix: select all button issue meshery
  ui/pages/_app.js
Labels: component/ui

#8888 Fix Dashboard Component
  ui/components/DashboardComponent.js
Labels: component/ui

#8948 fix: Remove useTheme from emotion react, and call theme as props
  ui/components/DashboardComponent.js
Labels: component/ui

#8957 Revert "fix: select all button issue meshery"
  ui/pages/_app.js
Labels: component/ui

#8958 comment out docker group check
  mesheryctl/internal/cli/root/filter/list_test.go
  mesheryctl/internal/cli/root/system/dashboard.go
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#8959 equality changes
  ui/components/DashboardComponent.js
  ui/pages/_app.js
  ui/pages/_document.js
Labels: component/ui

#8960 [CI] Upgrade docker/setup-buildx-action and docker/setup-qemu-action
  .github/workflows/build-and-release-dde.yml
Labels: area/ci

#8955 [Docs] Added link for discussion forum
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#8953 [Docs] Preparation for moving from Apps to Designs
  docs/_data/toc.yml
  docs/_sass/sidebar.scss
  docs/pages/guides/deploying-sample-apps.md
  docs/pages/installation/quick-start.md
  docs/pages/project/community.md
Labels: area/docs

#8941 [chore] Fix MeshModel models reterival
  go.mod
  go.sum
  server/handlers/component_handler.go
Labels: kind/chore, component/server

#8945 [UI] Integrating CASL into Meshery UI
  ui/package-lock.json
  ui/package.json
  ui/utils/can.js
Labels: component/ui

#8967 fix: Updated format script to escape quotes
  ui/package.json
Labels: component/ui

#8952 Update URL with #anchor
  docs/_includes/head.html
  docs/pages/reference/error-codes.md
Labels: area/docs

#8973 Fix Failing End to End Meshctl test
  .github/workflows/mesheryctl-e2e.yaml
Labels: area/ci
