Repository meshery/meshery, pull requests merged in 2023-04, with the labels that each got.

#7314 create meshmodel helper
  server/cmd/main.go
  server/meshmodel/helper.go
Labels: component/server

#7421 [Batch1] Update Catalog APIs
  server/models/remote_provider.go
Labels: component/server

#7423 [Batch2] Update Content APIs
  server/models/remote_provider.go
Labels: component/server

#7440 FIX white BG in dark mode in settings page under Actions
  ui/components/MeshConfigComponent.js
Labels: component/ui

#7432 [MeshModels] Add Core Application component in MeshModel
  server/meshmodel/components/core/v1.0.0/Application.json
  server/meshmodel/relationships/hierarchical_parent.json
  server/meshmodel/relationships/mount_edge.json
  server/meshmodel/relationships/network_edge.json
  server/meshmodel/relationships/permission_edge.json
  server/meshmodel/relationships/sibling.json
Labels: component/server

#7453 feat: rjsf upgrade, error Schema at the object field Template
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomObjectField.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#7456 Issue#7392 , Updated Prerequisites for meshery docs.
  docs/pages/project/contributing/contributing.md
Labels: area/docs

#7457 Fix if condition example
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#7462 [Add] Security and Compliance Icon
  ui/public/static/img/model-categories/label/security-and-compliance-label.svg
Labels: component/ui

#7467 Updated `mesheryctl` version output
  mesheryctl/internal/cli/root/version.go
Labels: component/mesheryctl

#7368 [Docs] Improve REST API Docs Legibility
  docs/_data/swagger.yml
  docs/_includes/footer.html
  docs/_layouts/swagger.html
  docs/_sass/swagger.scss
  server/handlers/common_handlers.go
  server/handlers/component_handler.go
  server/handlers/fetch_results_handler.go
  server/handlers/meshery_application_handler.go
  server/handlers/meshery_pattern_handler.go
  server/handlers/oam_handler.go
  server/handlers/relationship_handlers.go
  server/handlers/schedule_handlers.go
  server/handlers/user_handler.go
  server/helpers/swagger.yaml
Labels: area/docs, component/server

#7470 removed jumbled information from summary
  docs/_sass/helpers.scss
  docs/pages/reference/rest-api-reference.md
Labels: area/docs

#7475 Redirect to Extension page when user is already signed up
  ui/components/Popup.js
  ui/pages/_app.js
  ui/pages/extension/[...component].js
Labels: component/ui

#7474 [Dependency] Upgrade MeshKit v0.6.37
  go.mod
  go.sum
Labels: language/go, dependencies, component/server

#7461 Changes in README.md
  README.md
Labels: area/docs

#7485 [relationship] nodes and namespaces could accept components from any model
  server/meshmodel/relationships/hierarchical_parent.json
Labels: component/server

#7486 [chore] fix remote provider api
  server/models/remote_provider.go
Labels: kind/chore, component/server

#7489 Fix 500 error on Dry Run by handling unhandled errors
  server/handlers/oam_handler.go
  server/models/pattern/patterns/k8s/k8s.go
Labels: component/server

#7488 Use MeshModel interface for conversion of application to design-file
  server/handlers/meshery_application_handler.go
  server/models/pattern/core/pattern.go
Labels: component/server

#7471 Refactor search on Meshmodels
  server/handlers/component_handler.go
Labels: component/server

#7493 Remove all OAM related code
  server/cmd/main.go
  server/handlers/design_engine_handler.go
  server/handlers/k8sconfig_handler.go
  server/handlers/meshery_application_handler.go
  server/handlers/middlewares.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/resolver/kubernetes.go
  server/internal/graphql/resolver/schema.resolvers.go
  server/internal/graphql/schema/schema.graphql
  server/models/handlers.go
  server/models/pattern/core/pattern.go
  server/models/pattern/core/register.go
  server/router/server.go
Labels: kind/chore, component/server

#7498 Fix failing build
  server/models/pattern/core/pattern.go
Labels: component/server

#7482 changes the application icon w/signoff
  ui/package-lock.json
  ui/public/static/img/drawer-icons/application_svg.js
Labels: component/ui

#7502 Perform greedy search on display name for components
  go.mod
  go.sum
  server/handlers/component_handler.go
Labels: component/server

#7507 [MeshModel/Application] add core component-metadata
  server/meshmodel/components/core/v1.0.0/Application.json
Labels: component/server

#7515 fix: use strict equality
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  ui/components/ConfirmationModal.js
  ui/components/ConnectionWizard/helpers/mesheryOperator.js
  ui/components/DashboardComponent.js
  ui/components/Filters.js
  ui/components/LoadingComponents/LoadingComponent.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryApplications.js
  ui/components/MesheryChart.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/PerformanceProfileTable.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesheryPerformance/PerformanceResults.js
  ui/components/MesheryResults.js
  ui/components/MesherySMIResults.js
  ui/components/Navigator.js
  ui/components/TroubleshootingModalComponent.js
  ui/components/UserPreferences.js
  ui/components/configuratorComponents/CodeEditor.js
  ui/components/configuratorComponents/CustomBreadCrumb.js
  ui/components/configuratorComponents/patternConfigurator.js
  ui/components/telemetry/grafana/GrafanaCustomChart.js
  ui/pages/_app.js
  ui/pages/user/preferences.js
  ui/utils/disabledComponents.js
Labels: component/ui, component/extensions

#7518 Added docker hub extension link
  docs/pages/installation/docker-extension.md
Labels: area/docs

#7536 Add entry for `system provider` in mesheryctl index
  docs/_data/mesheryctlcommands/cmds.yml
  docs/pages/reference/mesheryctl-commands.md
Labels: area/docs

#7531 [update] Meshmodel categories icons updated
  ui/public/static/img/model-categories/label/app-definition-development-label.svg
  ui/public/static/img/model-categories/label/cloud-native-application-label.svg
  ui/public/static/img/model-categories/label/cloud-native-network-label.svg
  ui/public/static/img/model-categories/label/cloud-native-storage-label.svg
  ui/public/static/img/model-categories/label/machine-learning-label.svg
  ui/public/static/img/model-categories/label/observability-analysis-label.svg
  ui/public/static/img/model-categories/label/orchestration-management-label.svg
  ui/public/static/img/model-categories/label/other-label.svg
  ui/public/static/img/model-categories/label/platform-label.svg
  ui/public/static/img/model-categories/label/provisioning-label.svg
  ui/public/static/img/model-categories/label/runtime-label.svg
  ui/public/static/img/model-categories/label/security-compliance-label.svg
  ui/public/static/img/model-categories/label/serverless-label.svg
  ui/public/static/img/model-categories/label/service-mesh-label.svg
  ui/public/static/img/model-categories/label/tools-label.svg
  ui/public/static/img/model-categories/label/uncategorized-label.svg
Labels: component/ui

#7524 [DOCS] Added a contributing to Docker Extension page
  docs/_data/toc.yml
  docs/assets/img/platforms/docker-extension-browse.png
  docs/pages/installation/quick-start.md
  docs/pages/project/contributing/contributing-docker-extension.md
  docs/v0.5/project.html
  docs/v0.5/project/contributing.html
Labels: area/docs

#7523 Add workflow to perform nightly cleanup on playground cluster
  .github/workflows/reset-playground.yaml
Labels: area/ci, playground

#7511 update login and logout flow
  server/models/remote_provider.go
Labels: component/server

#7520 removed helm meshery-cpx chart and update chart.yaml and values.yaml
  install/kubernetes/helm/meshery/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-cpx/.helmignore
  install/kubernetes/helm/meshery/charts/meshery-cpx/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-cpx/README.md
  install/kubernetes/helm/meshery/charts/meshery-cpx/templates/NOTES.txt
  install/kubernetes/helm/meshery/charts/meshery-cpx/templates/_helpers.tpl
  install/kubernetes/helm/meshery/charts/meshery-cpx/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-cpx/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-cpx/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-cpx/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-cpx/templates/tests/test-connection.yaml
  install/kubernetes/helm/meshery/charts/meshery-cpx/values.yaml
  install/kubernetes/helm/meshery/values.yaml
Labels: framework/helm

#7510 Changed default value of provider to 'Meshery'
  mesheryctl/internal/cli/root/system/context.go
  mesheryctl/internal/cli/root/system/fixtures/.meshery/TestContext.yaml
  mesheryctl/internal/cli/root/system/fixtures/.meshery/config.yaml
  mesheryctl/internal/cli/root/system/provider.go
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedAdd.yaml
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedDelete.yaml
  mesheryctl/internal/cli/root/system/testdata/context/addExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/deleteExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/view.golden
  mesheryctl/internal/cli/root/system/testdata/context/viewAllExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/viewWithContextExpected.golden
  mesheryctl/internal/cli/root/system/testdata/reset/TestResetContexts.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_default.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_default_set.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_err.yaml
  mesheryctl/internal/cli/root/system/testdata/token/create_set.yaml
  mesheryctl/internal/cli/root/system/testdata/token/delete_default.yaml
  mesheryctl/internal/cli/root/system/testdata/token/delete_err.yaml
  mesheryctl/internal/cli/root/system/testdata/token/list.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set_default.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set_err.yaml
  mesheryctl/internal/cli/root/system/testdata/token/set_reset.yaml
  mesheryctl/internal/cli/root/system/testdata/token/view.yaml
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#7513 [Server] Credential crud
  server/handlers/credentials_handlers.go
  server/models/credentials.go
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
Labels: component/server, component/providers

#7538 Fixed alignment of MeshMap access popup
  ui/components/Popup.js
Labels: component/ui

#7540 perform remote provider logout
  server/models/remote_provider.go
Labels: component/server

#7541 Revert "changes the application icon w/signoff"
  ui/package-lock.json
  ui/public/static/img/drawer-icons/application_svg.js
Labels: component/ui

#7517 Enhances snackbar
  package-lock.json
  ui/components/MesheryEventViewer.js
  ui/components/MesheryNotification.js
  ui/components/MesherySnackbarWrapper.js
Labels: component/ui

#7547 Cleanup prettification code
  server/models/pattern/core/pattern.go
Labels: component/server

#7549 Remove non-core K8s Meshmodel components
  server/meshmodel/components/kubernetes/v1.25.2/APDosLogConf.json
  server/meshmodel/components/kubernetes/v1.25.2/APDosPolicy.json
  server/meshmodel/components/kubernetes/v1.25.2/APIService.json
  server/meshmodel/components/kubernetes/v1.25.2/APPolicy.json
  server/meshmodel/components/kubernetes/v1.25.2/Alertmanager.json
  server/meshmodel/components/kubernetes/v1.25.2/AnalysisRun.json
  server/meshmodel/components/kubernetes/v1.25.2/AnalysisTemplate.json
  server/meshmodel/components/kubernetes/v1.25.2/AuthorizationPolicy.json
  server/meshmodel/components/kubernetes/v1.25.2/CertificateSigningRequest.json
  server/meshmodel/components/kubernetes/v1.25.2/Challenge.json
  server/meshmodel/components/kubernetes/v1.25.2/ClusterAnalysisTemplate.json
  server/meshmodel/components/kubernetes/v1.25.2/ClusterIssuer.json
  server/meshmodel/components/kubernetes/v1.25.2/DestinationRule.json
  server/meshmodel/components/kubernetes/v1.25.2/EnvoyFilter.json
  server/meshmodel/components/kubernetes/v1.25.2/Experiment.json
  server/meshmodel/components/kubernetes/v1.25.2/Issuer.json
  server/meshmodel/components/kubernetes/v1.25.2/IstioOperator.json
  server/meshmodel/components/kubernetes/v1.25.2/PodMonitor.json
  server/meshmodel/components/kubernetes/v1.25.2/Policy.json
  server/meshmodel/components/kubernetes/v1.25.2/Probe.json
  server/meshmodel/components/kubernetes/v1.25.2/Prometheus.json
  server/meshmodel/components/kubernetes/v1.25.2/PrometheusRule.json
  server/meshmodel/components/kubernetes/v1.25.2/ProxyConfig.json
  server/meshmodel/components/kubernetes/v1.25.2/Rollout.json
  server/meshmodel/components/kubernetes/v1.25.2/ServiceMonitor.json
  server/meshmodel/components/kubernetes/v1.25.2/Telemetry.json
  server/meshmodel/components/kubernetes/v1.25.2/ThanosRuler.json
  server/meshmodel/components/kubernetes/v1.25.2/VirtualService.json
  server/meshmodel/components/kubernetes/v1.25.2/WasmPlugin.json
  server/meshmodel/components/kubernetes/v1.25.2/WorkloadGroup.json
Labels: component/server, area/meshmodel

#7552 Crawl oneOf, allOf and anyOf in schema validation process
  ui/components/MesheryMeshInterface/PatternService/helper.js
Labels: component/ui, library/rjsf

#7550 Revert "[update] Meshmodel categories icons updated"
  ui/public/static/img/model-categories/label/app-definition-development-label.svg
  ui/public/static/img/model-categories/label/cloud-native-application-label.svg
  ui/public/static/img/model-categories/label/cloud-native-network-label.svg
  ui/public/static/img/model-categories/label/cloud-native-storage-label.svg
  ui/public/static/img/model-categories/label/machine-learning-label.svg
  ui/public/static/img/model-categories/label/observability-analysis-label.svg
  ui/public/static/img/model-categories/label/orchestration-management-label.svg
  ui/public/static/img/model-categories/label/other-label.svg
  ui/public/static/img/model-categories/label/platform-label.svg
  ui/public/static/img/model-categories/label/provisioning-label.svg
  ui/public/static/img/model-categories/label/runtime-label.svg
  ui/public/static/img/model-categories/label/security-compliance-label.svg
  ui/public/static/img/model-categories/label/serverless-label.svg
  ui/public/static/img/model-categories/label/service-mesh-label.svg
  ui/public/static/img/model-categories/label/tools-label.svg
  ui/public/static/img/model-categories/label/uncategorized-label.svg
Labels: component/ui

#7378 [UI/Server] Adapter deploy and undeploy switcher for docker host
  go.mod
  go.sum
  server/core/utils.go
  server/handlers/mesh_ops_handlers.go
  server/helpers/adapters_tracker.go
  server/helpers/utils/utils.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/adaptor.go
  server/internal/graphql/resolver/schema.resolvers.go
  server/internal/graphql/schema/schema.graphql
  server/models/adapter.go
  server/models/handlers.go
  server/models/meshery_controllers.go
  server/router/server.go
  ui/components/MeshAdapterConfigComponent.js
  ui/components/graphql/mutations/AdapterStatusMutation.js
  ui/components/graphql/mutations/__generated__/AdapterStatusMutation.graphql.js
Labels: component/ui, component/server

#7558 fix: undeploy later button
  ui/components/ConfirmationModal.js
Labels: component/ui

#7548 Updated EventStreamHandler for REST API docs
  docs/_data/swagger.yml
  server/handlers/events_streamer.go
  server/helpers/swagger.yaml
  server/meshes/meshops.pb.go
Labels: area/docs, component/server

#7564 Adapter dud Platform detection fix & Error handling improvement
  server/helpers/adapters_tracker.go
  server/helpers/error.go
  server/helpers/utils/utils.go
  server/internal/graphql/resolver/adaptor.go
  server/models/pattern/core/register.go
Labels: component/server

#7566 Fixed issue #7533
  install/docker-extension/README.md
Labels: component/extensions

#7570 Add provider env variable in helm chart values.yaml
  install/kubernetes/helm/meshery/values.yaml
Labels: framework/helm

#7560 Update deprecated property "scrollFullHeight" from MUI Datables responsive options
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/PerformanceProfileTable.js
  ui/components/MesheryPerformance/PerformanceResults.js
  ui/components/MesheryResults.js
Labels: component/ui

#7559 fix: anyof, allof, schema sorting, captilization, uiSchema
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ArrayFieldTemlate.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomBaseInput.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomCheckboxWidget.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/components/MesheryMeshInterface/PatternService/helper.js
  ui/components/MesheryMeshInterface/PatternService/index.js
  ui/components/MesheryMeshInterface/helpers.js
  ui/themes/rjsf.js
Labels: component/ui

#7574 include arrays in sorting when we encounter allOf, AnyOf, Allof
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomCheckboxWidget.js
  ui/components/MesheryMeshInterface/PatternService/helper.js
Labels: component/ui

#7565 Add prometheus deployment on playground
  install/playground/nodeexporter.service
  install/playground/prometheus.yaml
  install/playground/readme.md
Labels: area/devops, playground

#7567 Delete Layer5-celebration.png
  .github/assets/images/Layer5-celebration.png
Labels: area/ci

#7578 [Design Configurator] Create design configurator with MeshModel support
  ui/api/meshmodel.js
  ui/assets/icons/AwsAppMeshIcon.js
  ui/components/ConnectionWizard/icons/ConsulIcon.js
  ui/components/Filters.js
  ui/components/MesheryMeshInterface/LazyPatternServiceForm.js
  ui/components/MesheryMeshInterface/PatternService/HelpOutlineIcon.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
  ui/components/MesheryMeshInterface/PatternServiceFormCore.js
  ui/components/MesheryMeshInterface/index.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/Navigator.js
  ui/components/configuratorComponents/CodeEditor.js
  ui/components/configuratorComponents/MeshModel/LazyComponentForm.js
  ui/components/configuratorComponents/MeshModel/hooks/types.js
  ui/components/configuratorComponents/MeshModel/hooks/useDesignLifecycle.js
  ui/components/configuratorComponents/MeshModel/index.js
  ui/components/configuratorComponents/MeshModel/styledComponents/AppBar.js
  ui/components/configuratorComponents/patternConfigurator.js
  ui/constants/endpoints.js
  ui/next.config.js
  ui/pages/configuration/designs/configurator.js
  ui/pages/configuration/designs/index.js
  ui/utils/hooks/useMeshModelComponents.js
  ui/utils/lightenOrDarkenColor.js
  ui/utils/versionSort.js
  ui/utils/webApis.js
Labels: component/ui

#7585 [UI] Fixes along missing design-configurator header, and code cleanup
  ui/components/ConfiguratorWrapper.js
  ui/components/MesheryMeshInterface/helpers.js
  ui/pages/configuration/designs/configurator.js
  ui/pages/configuration/designs/index.js
  ui/pages/configuration/filters.js
  ui/utils/workloadFilter.js
Labels: component/ui

#7590 Add workflow to reboot equinix metal servers every 20 hours
  .github/workflows/reboot-playground-machines.yaml
Labels: area/ci, playground

#7587 fix logic for kubernetes version
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/schema/schema.graphql
  server/models/k8s_context.go
  ui/components/MeshConfigComponent.js
  ui/components/graphql/subscriptions/K8sContextSubscription.js
  ui/components/graphql/subscriptions/__generated__/K8sContextSubscription.graphql.js
  ui/package-lock.json
Labels: component/ui, component/server

#7599 updated opengraph image
  docs/_includes/head.html
  docs/assets/img/meshery-cncf-twitter.png
Labels: area/docs

#7363 [mesheryctl] Adding support for operator flag
  mesheryctl/internal/cli/root/system/check.go
Labels: component/mesheryctl

#7600 updated opengraph image's address
  docs/_includes/head.html
Labels: area/docs

#7595 typo fix
  docs/pages/guides/multiple-of-the-same-adapter.md
Labels: area/docs

#7527 Enable toggling of theme in Meshery-extensions
  ui/components/UploadImport.js
  ui/components/User.js
Labels: component/ui, pr/do-not-merge

#7592 query the userDetails from remoteProvider ```/api/user```
  server/handlers/user_handler.go
  server/meshes/meshops.pb.go
  server/models/remote_provider.go
  server/models/user.go
Labels: component/server

#7602 Minor tweak in description of make-link command
  docs/pages/project/contributing/contributing-docker-extension.md
Labels: area/docs

#7611 Upgrade minikube version and fix meshconfig in E2E workflow
  .github/workflows/test_adaptersv2.yaml
Labels: area/ci

#7608 [mesheryctl] docker client init update
  go.mod
  go.sum
  mesheryctl/internal/cli/root/system/error.go
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl, language/go

#7628 fix typo in summary
  docs/_data/swagger.yml
  server/handlers/component_handler.go
  server/helpers/swagger.yaml
Labels: area/docs, component/server

#7631 Increase test coverage for mesheryctl
  go.mod
  go.sum
  mesheryctl/Makefile
  mesheryctl/cmd/mesheryctl/main.go
  mesheryctl/doc/doc.go
  mesheryctl/doc/doc_test.go
  mesheryctl/doc/test.md
Labels: component/mesheryctl, language/go
