Repository meshery/meshery, pull requests merged in 2023-07, with the labels that each got.

#7988 fix-rows-per-page-in-mesh-model-summary
  ui/api/meshmodel.js
  ui/components/MeshModelComponent.js
Labels: component/ui

#7914 [Docs] Documentation Enhancement
  docs/_data/toc.yml
  docs/_includes/header.html
  docs/_sass/navbar.scss
  docs/assets/img/adapters/meshery-adapter-library.svg
  docs/assets/img/adapters/meshery-adapter-operation-registration.svg
  docs/assets/img/architecture/GrafanaCharts.svg
  docs/assets/img/architecture/Meshery-client-architecture.svg
  docs/assets/img/architecture/Meshery-provider-architecture.svg
  docs/assets/img/architecture/PrometheusCharts.svg
  docs/assets/img/architecture/grafanaBoards.svg
  docs/assets/img/architecture/meshery-architecture.svg
  docs/assets/img/architecture/meshery-database.svg
  docs/assets/img/architecture/meshery-docker-extension.svg
  docs/assets/img/architecture/meshery-operator-and-meshsync.svg
  docs/assets/img/architecture/meshery-operator-deployment-sequence.svg
  docs/assets/img/architecture/meshery-settings-and-preferences.svg
  docs/assets/img/architecture/meshery_extension_points.svg
  docs/assets/img/architecture/meshery_logical_object_model.svg
  docs/assets/img/architecture/upgrading-meshery.svg
  docs/assets/img/platforms/scoop.png
  docs/pages/concepts/architecture/architecture.md
  docs/pages/extensibility/adapters.md
  docs/pages/extensions/index.md
  docs/pages/extensions/meshmap/importing-application.md
  docs/pages/extensions/meshmap/importing-design.md
  docs/pages/extensions/meshmap/index.md
  docs/pages/extensions/meshmap/merging-a-design.md
  docs/pages/extensions/meshmap/publishing-a-design.md
  docs/pages/extensions/meshmap/sharing-a-design.md
  docs/pages/extensions/snapshot/index.md
  docs/pages/guides/meshery-metrics.md
  docs/pages/guides/upgrade.md
  docs/pages/installation/scoop.md
  docs/pages/installation/windows.md
  docs/pages/playground.md
  docs/pages/project/contributing/contributing-adapters.md
  docs/pages/project/contributing/contributing-docker-extension.md
Labels: area/docs

#7896 added tests for healthcheck
  mesheryctl/pkg/utils/healthcheck_test.go
Labels: component/mesheryctl

#7836 [chore] feat: add test plan sheets
  .github/ISSUE_TEMPLATE/ci.md
Labels: area/ci

#7808 Published icon fix in design card
  ui/components/MesheryPatterns/MesheryPatternCard.js
Labels: component/ui

#7787 Using conditions to control job execution [Fixes #7754]
  .github/workflows/cncf-playground-reset.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/integrations-updater.yml
  .github/workflows/mesheryctl-ci.yml
  .github/workflows/mesheryctl-e2e.yaml
  .github/workflows/multi-platform.yml
Labels: area/ci

#7264 [Docs] Fix position of buttons in the code snippets on quick start page.
  docs/_sass/clipboard.scss
  docs/_sass/td-content.scss
  docs/pages/installation/quick-start.md
Labels: area/docs

#8006 [CI] Move Goreleaser to latest version - Update build-and-release-stable.yml
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#7598 Added a white helm logo for dark mode
  ui/public/static/img/helm_chart-white.svg
Labels: component/ui, issue/remind

#7615 Reusable Tooltip and added missing tooltips
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/PerformanceCard.js
  ui/components/MesheryPerformance/PerformanceProfileTable.js
  ui/components/reusable-tooltip.js
Labels: component/ui

#8007 [Maintenance] Go package upgrades
  scripts/component_generation/go.mod
  scripts/component_generation/go.sum
Labels: language/go, dependencies

#8010 [CI] Stable Release Channel: Release Notes Mailer
  .github/workflows/build-and-release-stable.yml
Labels: kind/enhancement, area/ci

#8008 [Maintenance] Component Updater: Go package upgrades
  scripts/component_updation/go.mod
  scripts/component_updation/go.sum
Labels: language/go, dependencies

#8011 [CI] Stable Release Channel: Reference Git Tag Name
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#7967 Storybook drawer component
  storybook/stories/components/Drawer/Drawer.jsx
  storybook/stories/components/Drawer/Drawer.stories.jsx
Labels: framework/storybook

#8013 added adapters in extensions
  server/helpers/adapters_tracker.go
  server/helpers/error.go
  server/internal/graphql/resolver/adaptor.go
  ui/components/MeshAdapterConfigComponent.js
  ui/components/extensions/adapters/adapters.js
  ui/components/extensions/adapters/constants.js
  ui/components/extensions/adapters/index.js
  ui/components/extensions/index.js
  ui/css/grid.style.js
  ui/css/icons.styles.js
  ui/cypress/e2e/integration/indexui_spec.js
  ui/pages/extensions.js
Labels: component/ui, component/server

#7930 feat: add a custom native select widget in rjsf
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomSelectWidget.js
Labels: component/ui

#7961 DOCS: update contributing guide with one addition of error while running make server
  CONTRIBUTING.md
  docs/assets/img/meshery-development-incompatible-error.png
  docs/pages/project/contributing/contributing-ui.md
  docs/pages/project/contributing/meshery-server.md
Labels: area/docs

#8046 [Docs] Remove Ruby version mandate
  docs/Gemfile
  docs/Gemfile.lock
Labels: area/docs

#8057 [chore] Fix eslint Err
  ui/css/icons.styles.js
Labels: kind/chore, component/ui

#8055 [chore] Fix Download of Filters
  server/handlers/error.go
  server/handlers/meshery_filter_handler.go
  server/models/remote_provider.go
Labels: kind/chore, component/server, component/filters

#8053 [UI] - Added count to tabs for meshmodel browser
  ui/components/MesherySettings.js
Labels: component/ui

#8023 [Performance] Add support to use SSL certs for load testing.
  Makefile
  server/handlers/error.go
  server/handlers/load_test_handler.go
  server/handlers/performance_profiles_handler.go
  server/helpers/load_test_interface.go
  server/helpers/utils/utils.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/catalog_content.go
  server/internal/graphql/schema/schema.graphql
  server/meshmodel/relationships/hierarchical_inv_wasm_filters.json
  server/models/connections.go
  server/models/pattern/core/pattern.go
  server/models/performance_profiles.go
  ui/components/MesheryPerformance/index.js
  ui/components/graphql/queries/PerformanceProfilesQuery.js
  ui/components/graphql/queries/__generated__/PerformanceProfilesQuery.graphql.js
Labels: area/performance, component/ui, component/server

#8065 changes in elements.scss
  docs/_sass/elements.scss
Labels: area/docs

#8061 [mesheryctl] Filter: View not accepting name; requiring ID?
  mesheryctl/internal/cli/root/filter/view.go
Labels: component/mesheryctl

#8012 Remove `apply` subcommand from `mesheryctl exp filter`
  mesheryctl/internal/cli/root/filter/apply.go
  mesheryctl/internal/cli/root/filter/filter.go
Labels: component/mesheryctl

#7634 Add Support for Credentials
  server/models/remote_provider.go
  server/router/server.go
  ui/assets/icons/CredentialIcon.js
  ui/components/ConnectionWizard/helpers/kubernetesHelpers.js
  ui/components/MesheryCredentialComponent.js
  ui/components/MesheryMeshInterface/PatternService/helper.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/MesherySettings.js
  ui/components/MesherySettingsEnvButtons.js
  ui/components/Modal.js
  ui/components/NavigatorExtension.js
  ui/components/schemas/credentials/grafana.js
  ui/components/schemas/credentials/kubernetes.js
  ui/components/schemas/credentials/prometheus.js
  ui/components/schemas/publish_schema.js
  ui/utils/Enum.js
Labels: component/ui, component/server

#8088 [Meshmodel] Add new relationship `inventory_wallet`.
  server/meshmodel/policies/hierarchical-wallet.rego
  server/meshmodel/relationships/hierarchical_inv_wasm_filters.json
Labels: component/server

#8086 [fix] add custom textarea to have uniformity of textfield across rjsf
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomBaseInput.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomTextAreaWidget.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
Labels: component/ui

#7963 [Filters] Store filter as comp instance
  server/handlers/meshery_filter_handler.go
  server/internal/graphql/schema/schema.graphql
  server/models/default_local_provider.go
  server/models/meshery_filter.go
  server/models/pattern/core/pattern.go
  server/models/pattern/utils/utils.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: component/server, component/filters

#8081 [Meshmodel] Add support for `x-kubernetes-preserve-unknown-fields`
  go.mod
  go.sum
  scripts/component_generation/go.mod
  scripts/component_generation/go.sum
  scripts/component_updation/go.mod
  scripts/component_updation/go.sum
  server/models/meshmodel/core/register.go
Labels: component/server

#8085 [Meshmodel] Update WASMFilter component
  server/meshmodel/components/core/WASMFilter.json
Labels: component/server

#8094 Fix filter page crash on publishing filter
  ui/components/Filters.js
  ui/components/PublishModal.js
Labels: component/ui

#8083 [Server] Fix published filters not appearing
  server/models/meshery_filter_persister.go
Labels: component/server

#8098 Fix: Use Publish Modal and send it to extensions
  ui/components/NavigatorExtension.js
Labels: component/ui

#8044 Helm Chart to have the "meshery" namespace
  go.mod
  go.sum
  install/kubernetes/helm/meshery-operator/README.md
  install/kubernetes/helm/meshery/Chart.yaml
  install/kubernetes/helm/meshery/README.md
  install/kubernetes/helm/meshery/charts/meshery-perf/README.md
  install/kubernetes/helm/meshery/templates/deployment.yaml
  install/kubernetes/helm/meshery/values.yaml
Labels: framework/helm

#8082 [e2e Tests] error in github workflow by increasing the timeout in the test
  ui/cypress/e2e/e2e/lifecyclecheck_spec.js
Labels: component/ui

#8103 [chore] fix grid view action btns
  ui/components/MesheryFilters/FiltersCard.js
Labels: kind/chore, component/ui

#8105 Update meshmodel issue template with label
  .github/ISSUE_TEMPLATE/meshmodel.md
Labels: area/ci

#8035 [UI] Filter publish, unpublish, clone
  ui/components/Filters.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/Cards.styles.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/Modal.js
  ui/components/PublishModal.js
  ui/components/schemas/publish_schema.js
Labels: component/ui

#8106 [chore] fix import error
  ui/components/PublishModal.js
Labels: kind/chore, component/ui

#8073 [UI] MesheryFilters/FilterCard : Add Download Button to Filter Card
  ui/components/Filters.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryPatterns/Cards.styles.js
Labels: component/ui

#8067 Fix/filter logs
  mesheryctl/internal/cli/root/system/logs.go
  mesheryctl/pkg/utils/platform.go
  ui/package-lock.json
Labels: component/mesheryctl, component/ui

#8115 Closes #8050 Added Build and Release: Stable Release Channel now includes automate…
  docs/pages/project/contributing/ci-build-and-release.md
Labels: area/docs

#8116 Update architecture.md
  docs/pages/concepts/architecture/architecture.md
Labels: area/docs

#8110 [UI] Add MeshModel Charts in Dashboard
  .gitignore
  go.mod
  go.sum
  ui/api/meshmodel.js
  ui/components/BBChart.js
  ui/components/DashboardComponent.js
  ui/components/DashboardMeshModelGraph.js
  ui/package-lock.json
  ui/package.json
  ui/pages/_app.js
  ui/utils/chartColors.js
Labels: component/ui

#8127 [UI] Navigator : Remove Conformance and fix extentions indentation
  ui/components/Navigator.js
Labels: component/ui

#8123 fix * available as version
  go.mod
  go.sum
  server/meshmodel/relationships/hierarchical_inv_wasm_filters.json
Labels: component/server

#8058 fixed extension infinite loading issue
  ui/components/extensions/adapters/adapters.js
  ui/components/extensions/adapters/constants.js
Labels: component/ui

#8064 [UI] Fixed pagination issue in database overview
  ui/components/DatabaseSummary.js
Labels: component/ui

#8121 fix user prefs
  server/models/preference.go
Labels: component/server

#8136 Update hierarchical-wallet.rego
  server/meshmodel/policies/hierarchical-wallet.rego
Labels: component/server

#8118 [mesheryctl] App subcommand list and view dysfunctional
  mesheryctl/internal/cli/root/app/app.go
  mesheryctl/internal/cli/root/app/import.go
  mesheryctl/internal/cli/root/app/list.go
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/onboard.go
  mesheryctl/internal/cli/root/app/view.go
Labels: component/mesheryctl

#8134 Fix public tag filter in dark mode
  ui/components/Filters.js
Labels: component/ui

#8139 Add unique count to meshmodel models, components
  go.mod
  go.sum
  server/handlers/component_handler.go
  server/handlers/k8sconfig_handler.go
  server/handlers/meshery_filter_handler.go
  server/handlers/relationship_handlers.go
  server/internal/graphql/resolver/meshmodel.go
  server/models/meshery_meshmodels_api_response.go
  server/models/pattern/core/pattern.go
  server/models/pattern/resource/selector/workload.go
Labels: component/server

#8060 Fixed [UI] table in meshery docs
  docs/_data/errorref/cilium_errors_export.json
  docs/pages/reference/error-codes.md
Labels: area/docs

#8032 Fix recursive API calls when multiple page changes immediately in configurations
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
Labels: component/ui, priority/urgent

#8119 [Docs][WIP] Add contribution docs for MeshModel
  .github/assets/images/binding_relationship.png
  .github/assets/images/network_policy_edge_relationship.png
  docs/pages/project/contributing/contributing-relationships.md
  server/meshmodel/components/grafana-operator/2.7.24/GrafanaDatasource.json
Labels: area/docs, area/ci, component/server

#8068 Table display issue resolved
  docs/v0.5/reference/error-codes.html
Labels: area/docs, issue/remind

#8145 [Extensions] Remote Provider: Model and Category Registration
  scripts/component_updation/main.go
  scripts/component_updation/pkg/utility.go
Labels: component/extensions, area/meshmodel

#7838 Add Details/Summary for General Contribution Flow
  docs/pages/project/contributing/contributing.md
Labels: area/docs, issue/dco

#8063 Created mesheryctl filter import and mesheryctl filter audit
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/view.go
  mesheryctl/internal/cli/root/filter/delete.go
  mesheryctl/internal/cli/root/filter/filter.go
  mesheryctl/internal/cli/root/filter/import.go
  mesheryctl/internal/cli/root/filter/list.go
  mesheryctl/internal/cli/root/filter/view.go
  mesheryctl/internal/cli/root/pattern/delete.go
  mesheryctl/internal/cli/root/pattern/view.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
  server/handlers/meshery_filter_handler.go
  server/models/meshery_filter.go
Labels: component/mesheryctl, component/server

#8152 [CI] Update workflow usage of component_updater script
  .github/workflows/integrations-updater.yml
  .github/workflows/meshmodel-generators.yml
  scripts/component_updater/go.mod
  scripts/component_updater/go.sum
  scripts/component_updater/main.go
  scripts/component_updater/pkg/docsupdater.go
  scripts/component_updater/pkg/downloader.go
  scripts/component_updater/pkg/populator.go
  scripts/component_updater/pkg/reader.go
  scripts/component_updater/pkg/utility.go
Labels: area/ci

#8160 Add SVG in meshmodel docs
  .github/assets/images/mount_edge_relationship.png
  docs/assets/img/meshmodel/meshmodel-architecture.svg
  docs/pages/project/contributing/contributing-meshmodel.md
Labels: area/docs, area/ci

#8155 Fix: the schema doesn't have model name correctly depicted
  server/meshmodel/relationships/hierarchical_inv_wasm_filters.json
  server/meshmodel/relationships/hierarchical_parent.json
  server/meshmodel/relationships/mount_edge.json
  server/meshmodel/relationships/network_edge.json
  server/meshmodel/relationships/network_policy_edge.json
  server/meshmodel/relationships/permission_edge.json
  server/meshmodel/relationships/sibling.json
Labels: component/server

#8169 Remove mesheryctl filter from experimental
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/internal/cli/root/filter/delete.go
  mesheryctl/internal/cli/root/filter/filter.go
  mesheryctl/internal/cli/root/filter/import.go
  mesheryctl/internal/cli/root/filter/list.go
  mesheryctl/internal/cli/root/filter/view.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#8132 [Server] API for dynamic component registration
  server/handlers/k8sconfig_handler.go
  server/handlers/middlewares.go
  server/helpers/swagger.yaml
  server/models/handlers.go
  server/models/k8s_components_registration.go
  server/models/k8s_context.go
  server/router/server.go
Labels: component/server

#8170 [mesheryctl] Docs: Remove `apply`, add `import`, promote from experimental
  docs/_data/mesheryctlcommands/cmds.yml
Labels: area/docs

#8166 chore: update link to wireframes and designs for Meshery UI in Figma
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/fbug_report.md
  .github/ISSUE_TEMPLATE/meshery-extensions_bug.md
  .github/ISSUE_TEMPLATE/meshery-extensions_feature.md
  .github/ISSUE_TEMPLATE/meshery-ui_bug.md
  .github/ISSUE_TEMPLATE/meshery-ui_feature.md
Labels: area/ci

#8151 Fixing intra-page anchor issue in meshery docs
  docs/_data/errorref/cilium_errors_export.json
Labels: area/docs

#8165 [chore] custom annotations to grid differently , rjsf custom select widget
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomSelectWidget.js
  ui/components/MesheryMeshInterface/PatternService/helper.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/schemas/publish_schema.js
Labels: component/ui

#8180 [chore] fix the usage of publish modal
  ui/components/PublishModal.js
Labels: component/ui

#8182 Add Concept Docs for MeshModel
  docs/pages/concepts/meshmodel/meshmodel.md
Labels: area/docs

#8186 [Deps]ui and provider ui
  provider-ui/package-lock.json
  ui/package-lock.json
Labels: component/ui

#8185 [CI] Adding a make target for mesheryctl docs and add in the worflow file
  .github/workflows/mesheryctl-ci.yml
  Makefile
  mesheryctl/Makefile
  mesheryctl/internal/cli/root/app/app.go
Labels: component/mesheryctl, area/ci

#8190 [Docs] Kubernetes installations
  docs/_sass/code.scss
  docs/_sass/helpers.scss
  docs/_sass/root-variables.scss
  docs/pages/index.md
  docs/pages/installation/docker-extension.md
  docs/pages/installation/docker.md
  docs/pages/installation/kubernetes.md
  docs/pages/installation/mesheryctl.md
  docs/pages/installation/quick-start.md
Labels: area/docs

#8189 Updated Performance icon in Meshery UI
  ui/public/static/img/drawer-icons/performance-icon_svg.js
  ui/public/static/img/drawer-icons/performance_hover_svg.js
  ui/public/static/img/drawer-icons/performance_svg.js
Labels: component/ui

#8192 Fix core component not getting updated by `component_updater` script.
  scripts/component_updater/main.go
  server/meshmodel/components/core/WASMFilter.json
  server/meshmodel/components/meshery/1.0.0/WASMFilter.json
Labels: component/server

#8076 [CI] Job to update REST and GraphQL docs #7956
  .github/workflows/build-and-release-edge.yml
  .github/workflows/build-and-release-stable.yml
Labels: area/ci, component/api

#8201 [Playground] Use Nginx daemon not container
  install/playground/docker/docker-compose.yaml
Labels: playground, docker

#8209 [CI] Update playground-cleanup.sh script
  .github/workflows/cncf-playground-reset.yaml
  .github/workflows/update-script-in-vm.yaml
  install/playground/playground-cleanup.sh
Labels: area/ci, playground

#8187 Bump meshery-operator version to the latest(v0.6.10)
  go.mod
  go.sum
Labels: dependencies

#8197 Changed server request for Publishing Catalog Content
  server/handlers/meshery_filter_handler.go
  server/handlers/meshery_pattern_handler.go
Labels: component/server

#8168 Add duplicate count for meshmodel model, component
  server/handlers/component_handler.go
  server/handlers/doc.go
  server/helpers/swagger.yaml
  server/models/meshery_meshmodels_api_response.go
Labels: component/server

#8114 Added Build and Release Meeting time and minutes link
  docs/pages/project/contributing/ci-build-and-release.md
Labels: area/docs

#8183 [Docs] Minor MeshModel Changes
  docs/assets/img/meshmodel/relationships/binding_relationship.png
  docs/assets/img/meshmodel/relationships/edge_relationship.png
  docs/assets/img/meshmodel/relationships/hierarchical_relationship.png
  docs/assets/img/meshmodel/relationships/sibling_relationship.png
  docs/pages/concepts/meshmodel/meshmodel.md
  docs/pages/project/contributing/contributing-meshmodel.md
Labels: area/docs

#8141 [RJSF] UI enhancement in publish to catalog modal
  ui/components/Filters.js
  ui/components/MesheryCredentialComponent.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomBaseInput.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomSelectWidget.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/components/MesheryMeshInterface/PatternService/RJSF_wrapper.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/Cards.styles.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/Modal.js
  ui/components/schemas/publish_schema.js
Labels: component/ui

#8229 Apply default icon style to all the mui icons
  ui/themes/app.js
Labels: component/ui

#8216 [CI] Send out email in case of meshmodel component generation/updater failure.
  .github/workflows/meshmodel-generators.yml
Labels: area/ci

#8215 Use meshkit function
  scripts/component_generation/go.mod
  server/models/meshmodel/core/register.go
Labels: component/server

#8214 Fix visibility bug in catalog
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/public/static/img/published.svg
Labels: component/ui, component/catalog

#8232 [CI] fix eslint
  ui/themes/app.js
Labels: kind/bug, component/ui

#8234 [chore] Fix missing remote provider prefs
  server/models/preference.go
  server/models/remote_provider.go
Labels: component/server

#8235 docs: updated command reference for mesheryctl filter
  docs/Gemfile.lock
  docs/pages/reference/mesheryctl-commands.md
Labels: area/docs

#8236 remove hardcoded filter name
  server/handlers/meshery_filter_handler.go
Labels: component/server

#8252 update wasm filter metdata
  server/meshmodel/components/meshery/1.0.0/WASMFilter.json
Labels: component/server

#8217 [UI] Memoized Charts And Graph Components
  ui/components/BBChart.js
  ui/components/DashboardComponent.js
  ui/components/DashboardMeshModelGraph.js
Labels: component/ui

#8212 Adding [Docs] Meshery Cloud Team Management and Notifications
  docs/pages/extensions/team-management/index.md
Labels: area/docs

#7993 [Filters] A quick dirty fix for uploading filters config
  ui/.husky/pre-commit
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/UploadImport.js
Labels: component/ui

#7897 [OPA] Add namespace-hierarchichal policy
  .gitignore
  server/meshmodel/policies/hierarchichal-namespace-policy.rego
  server/meshmodel/relationships/hierarchical_inv_wasm_filters.json
  ui/.eslintrc.js
  ui/next.config.js
  ui/package-lock.json
  ui/package.json
  ui/public/static/namespace_discovery_relationship_policy.wasm
  wasm/README.md
  wasm/policies/namespace_discovery_relationship_policy/bundle.tar.gz
  wasm/policies/namespace_discovery_relationship_policy/namespace_discovery_relationship_policy.rego
Labels: component/ui, component/server, component/policy

#8255 Add support to provision CRDs/operators.
  go.mod
  go.sum
  scripts/component_generation/go.mod
  scripts/component_generation/go.sum
  scripts/component_updater/go.mod
  scripts/component_updater/go.sum
  server/cmd/main.go
  server/handlers/component_generation.go
  server/handlers/component_handler.go
  server/handlers/content_modifier.go
  server/handlers/contexts_handler.go
  server/handlers/database_handlers.go
  server/handlers/design_engine_handler.go
  server/handlers/fetch_results_handler.go
  server/handlers/handler_instance.go
  server/handlers/k8sconfig_handler.go
  server/handlers/meshery_application_handler.go
  server/handlers/meshery_filter_handler.go
  server/handlers/meshery_pattern_handler.go
  server/handlers/performance_profiles_handler.go
  server/handlers/relationship_handlers.go
  server/handlers/schedule_handlers.go
  server/handlers/user_handler.go
  server/helpers/adapters_tracker.go
  server/internal/graphql/resolver/adaptor.go
  server/internal/graphql/resolver/meshmodel.go
  server/meshmodel/helper.go
  server/models/database_summary.go
  server/models/k8s_components_registration.go
  server/models/meshery_filter.go
  server/models/meshery_meshmodels_api_response.go
  server/models/meshery_pattern_persister.go
  server/models/meshmodel/core/register.go
  server/models/pattern/core/pattern.go
  server/models/pattern/patterns/patterns.go
  server/models/pattern/resource/selector/selector.go
  server/models/pattern/stages/provision.go
  server/models/pattern/stages/svc_provider.go
  server/models/pattern/utils/utils.go
  server/models/user.go
  ui/components/MesherySnackbarWrapper.js
Labels: component/ui, component/server

#8282 [mesheryctl] Shortened USER ID in mesheryctl filter list
  mesheryctl/internal/cli/root/filter/list.go
Labels: component/mesheryctl

#8288 Enhancement: Dont crash the UI on RJSF Form Errors
  ui/components/ErrorBoundary.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
Labels: component/ui

#8285 [MeshModels] Add support for wildcard versions
  ui/utils/hooks/useMeshModelComponents.js
  ui/utils/versionSort.js
Labels: component/ui

#8287 [MeshModel][Docs] Add supported relationships screenshots
  docs/Gemfile.lock
  docs/assets/img/meshmodel/relationships/mount_edge_relationship.png
  docs/assets/img/meshmodel/relationships/network_edge_relationship_ingress_service.png
  docs/assets/img/meshmodel/relationships/network_edge_relationship_service_deployment.png
  docs/assets/img/meshmodel/relationships/network_edge_relationship_service_endpoints.png
  docs/assets/img/meshmodel/relationships/network_edge_relationship_service_pod.png
  docs/assets/img/meshmodel/relationships/network_edge_relationship_service_service.png
  docs/assets/img/meshmodel/relationships/network_policy_edge_relationship.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_clusterrole_deployment.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_clusterrole_pod.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_clusterrole_service.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_role_deployment.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_role_pod.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_role_service.png
  docs/pages/project/contributing/contributing-meshmodel.md
Labels: area/docs, area/meshmodel

#8283 fix filter update and filter name provided not being respected
  ui/components/Filters.js
Labels: component/ui

#8300 [UI] Change switch paradigm for grid and table view
  ui/components/ViewSwitch.js
Labels: component/ui

#8304 [component-updater-script] update paths for icons for remote-provider
  scripts/component_updater/main.go
Labels: component/extensions

#8273 [UI] Fix publish modal for meshmap and added type as enum in publish modal schema
  ui/components/Modal.js
  ui/components/PublishModal.js
  ui/components/schemas/publish_schema.js
Labels: component/ui

#8277 Add endpoint for connections status
  server/handlers/connections_handlers.go
  server/helpers/swagger.yaml
  server/models/connections.go
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
Labels: component/server

#8306 add logic to treat some comps special
  server/models/pattern/stages/validate.go
Labels: component/server

#8302 Remove Meshery Adapter for Meshery Octarine entry from adaptersList
  ui/components/extensions/adapters/constants.js
Labels: component/ui

#8309 [Readme] Swap Slack image
  .github/assets/images/readme/slack-128.png
  .github/assets/images/readme/slack-dark-128.png
  .github/assets/images/readme/slack.svg
  README.md
Labels: area/ci

#8297 Removed system checks before login
  mesheryctl/internal/cli/root/system/login.go
Labels: component/mesheryctl

#8281 fix display config on row click in filters
  ui/components/Filters.js
Labels: component/ui, component/filters

#8314 [bug] Fix K8s Ctx Selector
  ui/components/DashboardComponent.js
  ui/components/Header.js
  ui/components/MeshConfigComponent.js
  ui/components/MesherySettings.js
  ui/lib/store.js
  ui/pages/_app.js
  ui/utils/multi-ctx.js
Labels: kind/bug, component/ui

#8322 updated the video with the new one
  docs/_sass/helpers.scss
  docs/pages/extensions/meshmap/publishing-a-design.md
Labels: area/docs

#8317 feat: Removed "above" from label-commenter-config.yml
  .github/label-commenter-config.yml
Labels: area/ci

#8320 [Docs] Update Relationship Screenshots
  docs/assets/img/meshmodel/relationships/hierachical_relationship_namespace_others.png
  docs/assets/img/meshmodel/relationships/hierarchical_relationship.png
  docs/assets/img/meshmodel/relationships/network_edge_relationship_ingress_service.png
  docs/assets/img/meshmodel/relationships/network_edge_relationship_service_deployment.png
  docs/assets/img/meshmodel/relationships/network_edge_relationship_service_endpoints.png
  docs/assets/img/meshmodel/relationships/network_edge_relationship_service_pod.png
  docs/assets/img/meshmodel/relationships/network_edge_relationship_service_service.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_clusterrole_deployment.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_clusterrole_pod.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_clusterrole_service.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_role_deployment.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_role_pod.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_role_service.png
  docs/pages/project/contributing/contributing-meshmodel.md
Labels: area/docs

#8265 ✨ description added using CURL
  docs/Gemfile.lock
  docs/pages/reference/rest-api-reference.md
Labels: area/docs

#8251 Added instructions to update error codes
  mesheryctl/internal/cli/root/error.go
  mesheryctl/internal/cli/root/filter/error.go
  mesheryctl/internal/cli/root/mesh/error.go
  mesheryctl/internal/cli/root/perf/error.go
  mesheryctl/internal/cli/root/system/error.go
  mesheryctl/pkg/utils/error.go
  server/cmd/error.go
  server/handlers/error.go
  server/helpers/error.go
  server/internal/graphql/model/error.go
  server/internal/graphql/resolver/error.go
  server/models/error.go
  server/models/meshmodel/core/error.go
  server/models/pattern/core/error.go
Labels: component/mesheryctl, component/server

#8220 [Unit test] delete_test in filter package
  mesheryctl/internal/cli/root/filter/delete_test.go
  mesheryctl/internal/cli/root/filter/fixtures/delete.kuma.api.response.golden
  mesheryctl/internal/cli/root/filter/fixtures/delete.rollout.api.response.golden
  mesheryctl/internal/cli/root/filter/testdata/delete.kuma.output.golden
  mesheryctl/internal/cli/root/filter/testdata/delete.rollout.output.golden
Labels: component/mesheryctl
