Repository meshery/meshery, pull requests merged in 2023-06, with the labels that each got.

#7767 Remove no useful test cases and add new testcase
  go.sum
  mesheryctl/pkg/utils/auth_test.go
  mesheryctl/pkg/utils/compose.go
  mesheryctl/pkg/utils/healthcheck_test.go
  mesheryctl/pkg/utils/helpers_test.go
  mesheryctl/pkg/utils/manifest.go
  mesheryctl/pkg/utils/platform.go
  mesheryctl/pkg/utils/platform_test.go
  mesheryctl/pkg/utils/scripts.go
Labels: component/mesheryctl, language/go

#7692 add endpoint to download the application/designs with particular :id
  server/handlers/meshery_application_handler.go
  server/handlers/meshery_pattern_handler.go
  server/models/handlers.go
  server/router/server.go
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/utils/fileDownloader.js
Labels: component/ui, component/server

#7786 Removing one extra closing bracket from the README.md
  ui/README.md
Labels: component/ui

#7707 Meshery Management Page: Fixes Dark Mode Dialog Bug
  ui/components/ConfirmationModal.js
  ui/themes/app.js
Labels: component/ui

#7784 fix: check if the pattern upload, is valid
  server/handlers/meshery_pattern_handler.go
  server/models/pattern/core/pattern.go
Labels: component/server

#7747 [Devops] Updated the nginx.conf
  install/playground/kubernetes/nginx.conf
Labels: area/devops, playground

#7757 [playground] Update docker based deployment
  install/playground/docker/docker-compose.yaml
  install/playground/docker/nginx.conf
Labels: playground

#7811 [MeshModel] add references to Meshmodel template
  .github/ISSUE_TEMPLATE/meshmodel.md
  .github/assets/images/binding_realtionship.png
  .github/assets/images/hierarchical_relationship.png
  .github/assets/images/sibling_relationship.png
Labels: area/ci

#7809 Add Paper component to storybook
  storybook/stories/components/Paper/Paper.jsx
  storybook/stories/components/Paper/Paper.stories.jsx
Labels: framework/storybook

#7799 Fix failing cluster cleanup workflow
  .github/scripts/playground-cleanup.sh
  .github/workflows/cncf-playground-reset.yaml
Labels: area/ci

#7812 Update meshmodel issue template
  .github/ISSUE_TEMPLATE/meshmodel.md
Labels: kind/chore, area/ci

#7813 Update cncf-playground-reset.yaml
  .github/workflows/cncf-playground-reset.yaml
Labels: area/ci

#7819 [bug] Fix Dereferencing bug
  ui/components/Navigator.js
  ui/pages/extension/[...component].js
Labels: kind/bug, component/ui

#7820 [CI] Add golangci.yml for ignore file
  .github/workflows/go-testing-ci.yml
  .golangci.yml
  server/models/meshmodel/core/register.go
Labels: area/ci, component/server

#7826 [Performance] Nighthawk: Upgrade to v0.7.0
  go.mod
  go.sum
  server/helpers/load_test_interface.go
Labels: component/server

#7802 [events] Track SystemID
  server/models/remote_auth.go
  server/models/remote_provider.go
Labels: component/server

#7798 [Docs] Broaden description of managed infra
  docs/pages/getting-started/overview.md
Labels: area/docs

#7763 Playground page
  docs/_data/toc.yml
  docs/pages/features/playground.md
Labels: area/docs

#7829 [CI] Fix ESOCKETTIMEDOUT intermittent CI run cypress settings and user pref integration tests failures
  ui/cypress/e2e/integration/settings_spec.js
  ui/cypress/e2e/integration/userpreference_spec.js
Labels: component/ui, cypress

#7824 Update filter usage in docs
  docs/pages/guides/configuration-management.md
  docs/pages/reference/mesheryctl-commands.md
  mesheryctl/internal/cli/root/experimental/experimental.go
Labels: area/docs, component/mesheryctl

#7832 [Performance] Fix NightHawk load generator
  go.mod
  go.sum
  server/helpers/load_test_interface.go
Labels: component/server

#7814 Added status to connection
  server/helpers/swagger.yaml
  server/models/connections.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: component/server

#7825 [playground] Adding workflow to Update K8s Cleanup Script
  .github/workflows/update-script-in-vm.yaml
Labels: area/ci

#7834 Add golden files back, because they are required by the other pakcages' test cases
  mesheryctl/pkg/utils/fixtures/PrintToTableInStringFormat.golden
  mesheryctl/pkg/utils/fixtures/TestConfig.yaml
  mesheryctl/pkg/utils/fixtures/auth.json
  mesheryctl/pkg/utils/fixtures/config.bak.yaml
  mesheryctl/pkg/utils/fixtures/platform/getmanifesturl.blob.golden
  mesheryctl/pkg/utils/fixtures/platform/getmanifesturl.other.golden
  mesheryctl/pkg/utils/fixtures/platform/listmanifest.api.err.response.golden
  mesheryctl/pkg/utils/fixtures/platform/listmanifest.api.response.golden
  mesheryctl/pkg/utils/fixtures/platform/manifesturl.api.response.golden
  mesheryctl/pkg/utils/fixtures/platform/manifesturl.empty.api.response.golden
  mesheryctl/pkg/utils/fixtures/platform/manifesturl.err.api.response.golden
  mesheryctl/pkg/utils/fixtures/platform/manifesturl.latest.api.response.golden
  mesheryctl/pkg/utils/fixtures/platform/original/TestChangeEndpointConfig.yaml
  mesheryctl/pkg/utils/fixtures/platform/original/TestConfig.yaml
  mesheryctl/pkg/utils/fixtures/printToTable.golden
  mesheryctl/pkg/utils/fixtures/printToTableWithFooter.golden
  mesheryctl/pkg/utils/fixtures/readtoken.golden
  mesheryctl/pkg/utils/fixtures/sse_client/loop.error.golden
  mesheryctl/pkg/utils/fixtures/sse_client/loop.success.golden
  mesheryctl/pkg/utils/fixtures/validate.version.github.golden
Labels: component/mesheryctl

#7789 [chore] Error codes cleanup
  server/handlers/error.go
  server/helpers/error.go
  server/internal/graphql/model/error.go
  server/internal/graphql/resolver/error.go
  server/models/pattern/core/error.go
Labels: component/server

#7719 [chore] Update API for auto archive meshery server
  server/models/remote_provider.go
Labels: pr/do-not-merge, component/server

#7835 [bug] Remove False check for ValidPatternfile
  server/models/pattern/core/pattern.go
Labels: kind/bug, component/server

#7833 [Snapshot Action] Update MeshMap Snapshot github action
  .github/workflows/meshmap.yml
Labels: area/ci

#7839 [Snapshot] test on pull_request target
  .github/workflows/meshmap.yml
Labels: area/ci

#7840 change permission to test the action yaml
  .github/workflows/meshmap.yml
Labels: area/ci

#7844 [chore] Update APIs
  docs/_data/swagger.yml
  server/handlers/connections_handlers.go
  server/helpers/swagger.yaml
  server/models/remote_provider.go
  server/router/server.go
Labels: area/docs, kind/chore, component/server

#7753 [Catalog] Support Unpublish Catalog Content
  docs/_data/swagger.yml
  server/handlers/meshery_pattern_handler.go
  server/helpers/swagger.yaml
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
Labels: area/docs, component/ui, component/server, component/catalog

#7830 [Performance] Fix issues with Performance profiles
  ui/components/MesheryPerformance/Dashboard.js
  ui/components/MesheryPerformance/PerformanceCard.js
  ui/components/MesheryPerformance/PerformanceProfileGrid.js
  ui/components/MesheryPerformance/PerformanceProfileTable.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesheryPerformance/PerformanceResults.js
  ui/components/MesheryPerformance/index.js
  ui/components/graphql/subscriptions/PerformanceProfilesSubscription.js
  ui/components/graphql/subscriptions/PerformanceResultSubscription.js
  ui/constants/endpoints.js
  ui/public/static/img/load-test/fortio.svg
  ui/public/static/img/load-test/nighthawk.svg
  ui/public/static/img/load-test/wrk2.svg
Labels: area/performance, component/ui

#7793 fix settings page title is not updating
  ui/components/MesherySettings.js
  ui/pages/settings.js
  ui/pages/user/preferences.js
Labels: component/ui

#7854 Update cncf-playground-deploy-meshery.yaml
  .github/workflows/cncf-playground-deploy-meshery.yaml
Labels: area/ci, playground

#7852 [Server] Enhance Kubernetes missing context error message
  server/models/k8s_context.go
Labels: component/server

#7837 [Docker Extension] Contributor instructions
  install/docker-extension/README.md
Labels: component/extensions, docker

#7857 [Fix GQL] add the gql subscriptions
  ui/components/graphql/subscriptions/PerformanceProfilesSubscription.js
  ui/components/graphql/subscriptions/PerformanceResultSubscription.js
Labels: component/ui

#7855 [CI] Only release when called by stable release workflow
  .github/workflows/build-and-release-stable.yml
  .github/workflows/helm-chart-releaser.yml
Labels: area/ci

#7864 policies: Fix the detection of the relationship in existing policy
  server/meshmodel/policies/network-policy.rego
Labels: component/server, component/policy

#7842 updated architecture page
  docs/assets/img/architecture/Meshery-client-architecture.svg
  docs/assets/img/architecture/Meshery-provider-architecture.svg
  docs/assets/img/architecture/meshery-architecture.svg
  docs/assets/img/architecture/meshery-database.svg
  docs/assets/img/architecture/meshery-operator-and-meshsync.svg
  docs/assets/img/architecture/meshery_logical_object_model.svg
Labels: area/docs

#7858 [UI] - disable deploy and undeploy
  ui/components/ConfirmationModal.js
Labels: component/ui

#7862 Change adapter API callback argument for mesheryctl check
  mesheryctl/internal/cli/root/system/check.go
Labels: component/mesheryctl

#7801 [Mesheryctl] Support tailing logs in Kubernetes platform
  mesheryctl/internal/cli/root/system/logs.go
Labels: component/mesheryctl

#7870 [performance] add support for labels
  go.mod
  go.sum
  install/docker/Dockerfile
  server/helpers/load_test_interface.go
Labels: component/server

#7871 Update cncf-playground-deploy-meshery.yaml
  .github/workflows/cncf-playground-deploy-meshery.yaml
Labels: area/ci, playground

#7878 fix: Return error instead of nil client connection in gRPC err
  server/meshes/client.go
Labels: component/server

#7875 Fixed unmarshal error due to catalog API change
  server/internal/graphql/resolver/catalog_content.go
Labels: component/server

#7874 add workflow dispatch for edge-release action
  .github/workflows/build-and-release-edge.yml
Labels: area/ci

#7882 Changed docs for catalog APIs
  server/handlers/meshery_filter_handler.go
  server/handlers/meshery_pattern_handler.go
  server/helpers/swagger.yaml
Labels: component/server

#7807 [Docs] Initialize Extension's user facing documentation | CU-85zrzt5fg
  docs/assets/img/meshmap-icon-color.svg
  docs/assets/img/meshmap/action-publish.png
  docs/assets/img/meshmap/action-share.png
  docs/assets/img/meshmap/application-tab.png
  docs/assets/img/meshmap/apps-modal.png
  docs/assets/img/meshmap/clone.png
  docs/assets/img/meshmap/design.png
  docs/assets/img/meshmap/drop-design.png
  docs/assets/img/meshmap/how-to-publish-your-design.mp4
  docs/assets/img/meshmap/import-design.png
  docs/assets/img/meshmap/merge-design.png
  docs/assets/img/meshmap/meshmap-design.png
  docs/assets/img/meshmap/meshmap-snapshot.png
  docs/assets/img/meshmap/publish-modal.png
  docs/assets/img/meshmap/share-modal.png
  docs/pages/extensions/index.md
  docs/pages/extensions/mesheryCatalog/index.md
  docs/pages/extensions/meshmap/importing-application.md
  docs/pages/extensions/meshmap/importing-design.md
  docs/pages/extensions/meshmap/merging-a-design.md
  docs/pages/extensions/meshmap/publishing-a-design.md
  docs/pages/extensions/meshmap/sharing-a-design.md
  docs/pages/extensions/snapshot/index.md
  docs/pages/index.md
Labels: area/docs

#7876 [Update Dockerfile] Add comment for future reference
  install/docker/Dockerfile
Labels: area/ci

#7806 fix: remove mapping navigator
  server/models/providers.go
  ui/components/Navigator.js
  ui/pages/extension/[...component].js
Labels: kind/chore, component/ui, component/server

#7686 Database summary - Add table size/record count to System Reset screen
  server/handlers/database_handlers.go
  server/models/handlers.go
  server/router/server.go
  ui/components/DatabaseSummary.js
  ui/components/MesherySettings.js
Labels: component/ui, component/server

#7886 [UI] Fixes Notification Center Sneak Peak Behavior onClick
  ui/components/MesheryNotification.js
Labels: component/ui

#7889 [UI] RJSF Fixes styles for "name" and "namespace" input fields _labels_
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomBaseInput.js
Labels: component/ui

#7895 [UI]: Fix responsiveness of profile card for mobile view
  ui/components/FlipCard.js
  ui/package-lock.json
Labels: component/ui

#7831 fixed: meshery-docs hover tabs and focus on sidebar option
  docs/_includes/sidebar.html
  docs/_sass/sidebar.scss
Labels: area/docs

#7899 Update `MeshMap-Snapshot` workflow to `v0.0.5`
  .github/workflows/meshmap.yml
Labels: area/ci

#7901 upgrade rjsf -> 5.8.1
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#7910 Add config attribute to meshery filter
  server/models/meshery_filter.go
Labels: component/server

#7911 Fix bug in flipcard for filters
  ui/components/FlipCard.js
Labels: component/ui

#7922 Fix Cytoscape-to-design conversion process
  server/models/pattern/core/pattern.go
Labels: component/patterns, component/server

#7924 [CI] GraphQL: Docs Build Target
  Makefile
  docs/Makefile
Labels: area/docs, component/api

#7913 [CI] Support Edge Releases with Remote Provider
  .github/workflows/build-and-release-edge.yml
Labels: area/ci

#7888 Extentions/GitHub/meshmap : Add GitHub Action for MeshMap Snapshot
  ui/pages/extensions.js
  ui/public/static/img/github.svg
  ui/public/static/img/github_black.svg
  ui/public/static/img/meshmap-snapshot-logo.svg
Labels: component/ui

#7881 Refactor/dashboard Remove Connection Status Section
  ui/components/DashboardComponent.js
  ui/components/MeshAdapterConfigComponent.js
  ui/cypress/e2e/integration/indexui_spec.js
  ui/cypress/e2e/integration/settings_spec.js
Labels: component/ui

#7732 Adding Catalog page in docs
  docs/pages/concepts/Catalog/catalog.md
Labels: area/docs, component/catalog

#7925 [CI] Update build-and-release-edge.yml
  .github/workflows/build-and-release-edge.yml
Labels: area/ci

#7926 [CI] Update build-and-release-edge.yml
  .github/workflows/build-and-release-edge.yml
Labels: area/ci

#7927 [CI] Update build-and-release-edge.yml
  .github/workflows/build-and-release-edge.yml
Labels: area/ci

#7907 [UI]: style fix of few components in dark theme
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesheryPerformance/index.js
  ui/components/MesherySettingsPerformanceComponent.js
Labels: component/ui

#7928 [CI] Update build-and-release-edge.yml
  .github/workflows/build-and-release-edge.yml
Labels: area/ci

#7933 Change ruby version and Adapter Documentation
  .github/workflows/build-and-preview-site.yml
  docs/.ruby-version
  docs/Gemfile
  docs/Gemfile.lock
  docs/v0.4/extensibility/adapters.html
  docs/v0.5/extensibility/adapters.html
Labels: area/docs, area/ci, issue/dco

#7929 [MeshModel] Add `WASM Filter` as a core component.
  server/meshmodel/relationships/hierarchical_inv_wasm_filters.json
  server/models/pattern/core/pattern.go
  server/models/pattern/stages/dry_run.go
  server/models/pattern/stages/provision.go
Labels: component/server

#7955 [MeshModel] Add WASM Filter component
  server/meshmodel/components/core/WASMFilter.json
Labels: component/server

#7959 Update WASMFilter.json
  server/meshmodel/components/core/WASMFilter.json
Labels: component/server

#7957 Updated redocly workflow to update swagger files
  .github/workflows/redocly.yml
Labels: area/ci

#7951 Parsing the relative path correctly
  mesheryctl/internal/cli/root/pattern/apply.go
Labels: component/mesheryctl

#7964 [Filters] Change filter file download endpoint
  server/models/remote_provider.go
  server/router/server.go
Labels: component/server

#7917 Resource endpoints audit
  docs/pages/reference/graphql-api-reference.md
  go.mod
  go.sum
  mesheryctl/internal/cli/root/app/view.go
  mesheryctl/internal/cli/root/filter/view.go
  mesheryctl/internal/cli/root/pattern/view.go
  mesheryctl/internal/cli/root/perf/profile.go
  mesheryctl/internal/cli/root/perf/result.go
  server/handlers/component_handler.go
  server/handlers/connections_handlers.go
  server/handlers/contexts_handler.go
  server/handlers/database_handlers.go
  server/handlers/doc.go
  server/handlers/fetch_results_handler.go
  server/handlers/load_test_preferences_handler.go
  server/handlers/meshery_application_handler.go
  server/handlers/meshery_filter_handler.go
  server/handlers/meshery_pattern_handler.go
  server/handlers/performance_profiles_handler.go
  server/handlers/relationship_handlers.go
  server/handlers/schedule_handlers.go
  server/handlers/user_handler.go
  server/helpers/swagger.yaml
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/catalog_content.go
  server/internal/graphql/resolver/schema.resolvers.go
  server/internal/graphql/schema/schema.graphql
  server/models/database_summary.go
  server/models/default_local_provider.go
  server/models/meshery_filter_persister.go
  server/models/meshery_k8scontext_persister.go
  server/models/meshery_meshmodels_api_response.go
  server/models/meshery_pattern_persister.go
  server/models/providers.go
  server/models/remote_provider.go
  server/models/user.go
  server/router/server.go
  ui/components/DatabaseSummary.js
  ui/components/Filters.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryResults.js
  ui/components/MesherySMIResults.js
  ui/components/configuratorComponents/MeshModel/LazyComponentForm.js
  ui/pages/_app.js
  ui/utils/hooks/useMeshModelComponents.js
Labels: area/docs, component/mesheryctl, component/ui, component/server

#7975 [Filters] Fix wasm filter binary upload issues
  mesheryctl/internal/cli/root/filter/apply.go
  server/handlers/meshery_filter_handler.go
  server/models/default_local_provider.go
  server/models/meshery_filter.go
  server/models/remote_provider.go
Labels: component/mesheryctl, component/server

#7970 [Filters] Add Support For Unpublish Filters in Server
  docs/_data/swagger.yml
  server/handlers/meshery_filter_handler.go
  server/helpers/swagger.yaml
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
Labels: area/docs, component/server, component/filters

#7986 [CI] Update build-ui-and-server.yml
  .github/workflows/build-ui-and-server.yml
Labels: area/ci

#7977 Fix operator check in `system check`
  mesheryctl/internal/cli/root/system/check.go
Labels: component/mesheryctl

#7962 [UI] Dark mode toggle switch text fix in user preferences section
  ui/components/UserPreferences.js
Labels: component/ui

#7987 [CI] Update build-ui-and-server.yml
  .github/workflows/build-ui-and-server.yml
Labels: area/ci

#7983 [Docs] Meshery Operator Update
  docs/pages/concepts/architecture/operator.md
Labels: area/docs

#7985 [bug] Fix GraphQL Query for Catalog content
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/catalog_content.go
  server/internal/graphql/schema/schema.graphql
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
Labels: kind/bug, area/performance, component/ui, component/server

#7969 [UI] Add support to download, publish, unpublish, and clone wasm support
  ui/components/Filters.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/utils/Enum.js
  ui/utils/fileDownloader.js
Labels: component/ui

#7991 [UI] Remove deploy/undeploy from UI
  ui/components/Filters.js
  ui/components/MesheryFilters/FiltersCard.js
Labels: component/ui

#7992 [chore] Add save button in edit modal for filters
  server/handlers/meshery_filter_handler.go
  ui/components/Filters.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryFilters/FiltersGrid.js
Labels: component/ui, component/server

#8003 Fix: goreleaser halting the release process
  .github/workflows/build-and-release-stable.yml
  .github/workflows/mesheryctl-ci.yml
Labels: area/ci

#7997 Fix: crash of Form on ui:widget checkbox
  ui/components/Filters.js
  ui/components/MesheryMeshInterface/helpers.js
  ui/components/MesheryPatterns.js
Labels: component/ui

#7968 [Governance] Document update to include role descriptions
  GOVERNANCE.md
Labels: kind/chore
