Repository meshery/meshery, pull requests merged in 2023-01, with the labels that each got.

#6800 [General] Just replaced the code for deleting an application with an …
  ui/components/Header.js
  ui/components/MesheryApplications.js
Labels: component/ui

#6818 New configurations appear in the list after being imported
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryApplications/ApplicationsGrid.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/UploadImport.js
Labels: component/ui

#6728 Migrate to MeshModel registry in pattern engine
  go.mod
  go.sum
  server/handlers/content_modifier.go
  server/handlers/oam_handler.go
  server/models/pattern/core/pattern.go
  server/models/pattern/patterns/k8s/k8s.go
  server/models/pattern/patterns/patterns.go
  server/models/pattern/resource/selector/selector.go
  server/models/pattern/resource/selector/workload.go
  server/models/pattern/stages/chain.go
  server/models/pattern/stages/provision.go
  server/models/pattern/stages/svc_provider.go
  server/models/pattern/stages/validate.go
  server/oam/kubernetes/workloads/v1.25.0/Secret_schema.k8s.json
Labels: component/server

#6832 workflow to update discussions data files added
  .github/workflows/discussions-data-files-update.yml
Labels: area/ci

#6838 [CI] Workflow update meshery.io docs with meshmodel components
  .github/workflows/integrations-updater.yml
  scripts/component_updation/main.go
  scripts/component_updation/pkg/docsupdater.go
Labels: area/ci

#6831 [MeshModel] Define Status Types
  server/models/meshmodel/issue_types.go
Labels: component/server

#6841 [Docs/SVG] update contributing doc for svg size.
  docs/pages/project/contributing/contributing-ui.md
Labels: area/docs

#6840 [CI] Fix image path in meshmodel docs
  scripts/component_updation/main.go
  scripts/component_updation/pkg/docsupdater.go
Labels: area/meshmodel

#6783 Discuss tag branch
  docs/_includes/related-discussions.html
Labels: area/docs

#6843 [UI] Fixed the code mirror bug of filters page
  ui/components/ConfirmationModal.js
  ui/components/FlipCard.js
  ui/components/MesheryApplications.js
  ui/components/MesheryApplications/ApplicationsGrid.js
Labels: component/ui

#6854 fix applications update not reflected
  server/handlers/meshery_application_handler.go
Labels: component/server

#6804 [UI] Fixed the applications page modal bug
  ui/components/ConfirmationModal.js
  ui/components/configuratorComponents/CodeEditor.js
  ui/components/configuratorComponents/patternConfigurator.js
Labels: component/ui

#6863 Fixing contributing.md
  CONTRIBUTING.md
  docs/_data/discuss/meshery.json
  docs/_data/discuss/mesheryctl.json
Labels: area/docs

#6866 fix panic
  server/models/meshmodel/core/register.go
Labels: component/server

#6858 [Docs] - make command update in docs
  docs/README.md
  docs/_releases/v0.5.15.md
  docs/pages/es/project/contributing.md
  docs/pages/es/project/contributing/contributing-docs.md
  docs/pages/project/contributing/ci-build-and-release.md
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#6810 remove deprecated targets from meshery makefile
  .github/workflows/build-ui-and-server.yml
  .github/workflows/build-ui-server-reusable-workflow.yml
  CONTRIBUTING.md
  Makefile
  docs/pages/es/project/contributing.md
  docs/pages/project/contributing/contributing-ui.md
  docs/pages/project/contributing/meshery-server.md
  docs/v0.4/es/project/contributing.html
  docs/v0.4/project/contributing.html
  docs/v0.4/search/index.html
  docs/v0.5/es/project/contributing.html
  docs/v0.5/project/contributing/contributing-server.html
  docs/v0.5/project/contributing/contributing-ui.html
  docs/v0.5/search/index.html
  ui/README.md
Labels: area/docs, area/ci, component/ui

#6857 [Doc] - Meshery installation documentation update
  docs/pages/reference/troubleshooting/installation.md
Labels: area/docs

#6845 git auto commit action used to push changes to repo in discussions-data-files-update workflow
  .github/workflows/discussions-data-files-update.yml
Labels: area/ci

#6849 Migrate older MeshModel endpoints to proposed MeshModel endpoints
  docs/_data/swagger.yml
  go.mod
  go.sum
  server/handlers/component_generation.go
  server/handlers/component_handler.go
  server/handlers/relationship_handlers.go
  server/meshmodel/components/aad-pod-identity/4.1.15/AzureAssignedIdentity.json
  server/meshmodel/components/cni-hostnic/0.1.0/IPAMBlock.json
  server/meshmodel/components/core/v1.0.0/Application.json
  server/meshmodel/relationships/hierarchical_parent.json
  server/meshmodel/relationships/network_edge.json
  server/models/handlers.go
  server/models/meshmodel/core/register.go
  server/router/server.go
Labels: area/docs, component/server

#6874 correction in numbering of steps
  docs/pages/installation/minikube.md
Labels: area/docs

#6875 [MeshModel] Update API Routes to Allow Optional URL Vars
  server/router/server.go
Labels: component/server

#6430 [mesheryctl] improve error message shown to users for "mesheryctl system channel" command #6274
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/system/channel.go
  mesheryctl/internal/cli/root/system/channel_test.go
Labels: component/mesheryctl, hacktoberfest, event/hacktoberfest-accepted

#6878 [Conversion] name, namespace, labels and annotations as root field
  server/models/pattern/core/pattern.go
Labels: component/server

#6879 [Playground] Redirect to playground based on capabilities, remove multiple api calls for capability query
  ui/components/ExtensionSandbox.js
  ui/components/Navigator.js
  ui/components/User.js
  ui/components/UserPreferences.js
  ui/pages/_app.js
Labels: component/ui, component/extensions

#6881 [CI] Upgrade workflows to Node 18
  .github/workflows/build-ui-and-server.yml
  .github/workflows/build-ui-server-reusable-workflow.yml
Labels: area/ci

#6880 Fast Track Next.js
  .github/workflows/build-ui-and-server.yml
  Makefile
  install/docker/Dockerfile
  ui/.eslintrc.js
  ui/.npmrc
  ui/components/ErrorHandling.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/Accordion.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/DescriptionField.js
  ui/components/MesheryMeshInterface/PatternService/RJSF_wrapper.js
  ui/components/Navigator.js
  ui/next.config.js
  ui/package-lock.json
  ui/package.json
Labels: area/ci, component/ui

#6892 Edit args parameter in restart
  mesheryctl/internal/cli/root/system/restart.go
Labels: component/mesheryctl

#6890 fix: add margin to chip
  ui/components/MeshAdapterConfigComponent.js
Labels: component/ui

#6623 Data table checkbox color change
  ui/themes/configurationTableTheme.js
Labels: issue/stale, component/ui, issue/dco

#6891 improve `mesheryctl login` debug msg
  mesheryctl/internal/cli/root/system/login.go
Labels: component/mesheryctl

#6900 Fix wrong gRPC address in Pattern Engine
  server/handlers/oam_handler.go
Labels: component/server

#6690 Fix SVG problems in Meshery-UI
  provider-ui/package-lock.json
  ui/assets/icons/AddIconCircleBorder.js
  ui/assets/icons/AwsAppMeshIcon.js
  ui/assets/icons/CloudIcon.js
  ui/assets/icons/DatabaseIcon.js
  ui/assets/icons/LifecycleIcons/ConsulIcon.js
  ui/assets/icons/MendeleyIcon.js
  ui/assets/icons/SearchIcon.js
  ui/assets/icons/SettingsIcon.js
  ui/assets/icons/SquarePollVerticalIcon.js
  ui/components/CatalogFilter.js
  ui/components/ConfirmationModal.js
  ui/components/Content.js
  ui/components/CustomTableFooter.js
  ui/components/DashboardComponent.js
  ui/components/ErrorHandling.js
  ui/components/Filters.js
  ui/components/Header.js
  ui/components/MeshAdapterConfigComponent.js
  ui/components/MeshConfigComponent.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryApplications.js
  ui/components/MesheryMetrics.js
  ui/components/MesheryNotification.js
  ui/components/MesherySettings.js
  ui/components/Navigator.js
  ui/components/UserPreferences.js
  ui/css/icons.styles.js
  ui/package-lock.json
Labels: component/ui

#6644 [mesheryctl] Added Meshconfig support for provider enforcement
  Makefile
  docs/pages/extensibility/providers.md
  install/Makefile.core.mk
  install/docker-extension/docker-compose.yaml
  install/docker/docker-compose.yaml
  install/kubernetes/helm/meshery/README.md
  install/kubernetes/helm/meshery/values.yaml
  install/playground/meshery-playground-deployment.yaml
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/config/config_test.go
  mesheryctl/internal/cli/root/system/fixtures/.meshery/meshery.yaml
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/pkg/utils/helpers.go
  server/cmd/main.go
  server/handlers/handler_instance.go
  server/handlers/middlewares.go
Labels: area/docs, component/mesheryctl, area/lifecycle, component/extensions, component/server, framework/helm

#6909 [Docs] Added token on discussion file update workflow
  .github/workflows/discussions-data-files-update.yml
Labels: area/ci

#6906 Update navigation bar [Docs]
  docs/_includes/breadcrumbs.html
Labels: area/docs

#6913 Add model field in Application generated design
  server/models/pattern/core/pattern.go
Labels: component/server

#6910 Updating Meshery Broker and MeshSync [Docs]
  docs/pages/concepts/architecture/operator.md
Labels: area/docs

#6912 Add `isNamespaced` in Meshmodel component metadata
  server/models/meshmodel/core/register.go
Labels: component/server

#6769 Write SVG on UI file system
  server/cmd/main.go
  server/handlers/component_generation.go
  server/handlers/component_handler.go
  server/handlers/k8sconfig_handler.go
  server/helpers/utils/utils.go
  server/meshmodel/components/aws/0.0.3/SecretProviderClass.json
  server/meshmodel/components/azureorkestra/6.7.9/AuthService.json
  server/meshmodel/components/istio/1.10.3/AuthorizationPolicy.json
  server/router/server.go
Labels: component/server

#6917 [bug] Fix empty component registration
  server/models/meshmodel/core/register.go
Labels: kind/bug, component/server

#6918 Add updated_after query parameter
  docs/_data/swagger.yml
  server/handlers/component_handler.go
  server/handlers/meshery_application_handler.go
  server/handlers/meshery_pattern_handler.go
  server/helpers/utils/utils.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/application.go
  server/internal/graphql/resolver/pattern.go
  server/internal/graphql/schema/schema.graphql
  server/models/default_local_provider.go
  server/models/meshery_application_persister.go
  server/models/meshery_pattern_persister.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: area/docs, component/server

#6925 Made Toggle Buttons on customize addon synchronous
  ui/components/MesheryAdapterPlayComponent.js
Labels: component/ui

#6927 Changes made to Navigator Menu to remove some of the errors
  ui/components/Navigator.js
Labels: component/ui

#6771 [UI] MeshModel Summary in Meshery Settings
  server/cmd/main.go
  server/handlers/component_handler.go
  server/handlers/middlewares.go
  server/handlers/relationship_handlers.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/error.go
  server/internal/graphql/resolver/meshmodel.go
  server/internal/graphql/resolver/schema.resolvers.go
  server/internal/graphql/schema/schema.graphql
  server/models/handlers.go
  server/models/meshmodel/helper.go
  server/models/providers.go
  ui/components/DashboardComponent.js
  ui/components/MesherySettings.js
  ui/components/graphql/queries/MeshModelSummaryQuery.js
  ui/components/graphql/queries/__generated__/MeshModelSummaryQuery.graphql.js
  ui/components/graphql/subscriptions/MeshModelSummarySubscription.js
  ui/components/graphql/subscriptions/__generated__/MeshModelSummarySubscription.graphql.js
Labels: component/ui, component/server

#6861 remove the description for additional fields
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/FieldTemplate.js
  ui/components/MesheryMeshInterface/helpers.js
Labels: component/ui

#6932 Resolving the Grammatical Mistake in README.md
  README.md
Labels: area/docs

#6934 typographical error in quick-start.html
  docs/v0.5/installation/quick-start.html
Labels: area/docs

#6905 Notification center consistently opens when clicked
  ui/components/MesheryNotification.js
Labels: component/ui

#6930 improved error message for system cmd - config, logs
  mesheryctl/internal/cli/root/system/config.go
  mesheryctl/internal/cli/root/system/logs.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl

#6942 [chore] Upgrade Meshkit to v0.6.21
  go.mod
  go.sum
Labels: kind/chore

#6911 `provider-ui` MUI framework upgrade
  install/docker/Dockerfile
  provider-ui/.babelrc
  provider-ui/.eslintignore
  provider-ui/.eslintrc.js
  provider-ui/.gitignore
  provider-ui/.nvmrc
  provider-ui/components/Footer.js
  provider-ui/components/PageContext.js
  provider-ui/components/Provider.js
  provider-ui/components/Provider.style.js
  provider-ui/components/ProviderComponent.js
  provider-ui/components/ProviderLayout.js
  provider-ui/cypress.config.js
  provider-ui/cypress/e2e/canary_spec.js
  provider-ui/cypress/e2e/provider-ui.cy.js
  provider-ui/cypress/e2e/provider-ui_spec.js
  provider-ui/cypress/e2e/spec.cy.js
  provider-ui/cypress/fixtures/example.json
  provider-ui/cypress/fixtures/providers.json
  provider-ui/cypress/plugins/index.js
  provider-ui/cypress/support/commands.js
  provider-ui/cypress/support/e2e.js
  provider-ui/lib/createEmotionCache.js
  provider-ui/lib/data-fetch.js
  provider-ui/next.config.js
  provider-ui/nodemon.json
  provider-ui/package-lock.json
  provider-ui/package.json
  provider-ui/pages/_app.js
  provider-ui/pages/_document.js
  provider-ui/pages/auth/login.js
  provider-ui/pages/index.js
  provider-ui/public/favicon.ico
  provider-ui/styles/theme.js
  provider-ui/ui_dev_server.js
  ui/package-lock.json
Labels: component/ui

#6944 [UI] Undeploy later button color update
  ui/components/ConfirmationModal.js
Labels: component/ui

#6938 rename public to published for catalog
  server/handlers/error.go
  server/handlers/meshery_filter_handler.go
  server/handlers/meshery_pattern_handler.go
  server/models/default_local_provider.go
  server/models/meshery_filter.go
  server/models/meshery_filter_persister.go
  server/models/meshery_pattern_persister.go
  server/models/vars.go
  ui/components/Filters.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/utils/Enum.js
Labels: component/ui, component/server

#6945 Ignore locally registered MeshModel package icons
  ui/.gitignore
Labels: kind/chore, component/ui

#6928 [mesheryctl] Created 'mesheryctl system provider'
  mesheryctl/internal/cli/root/system/channel.go
  mesheryctl/internal/cli/root/system/provider.go
  mesheryctl/internal/cli/root/system/provider_test.go
  mesheryctl/internal/cli/root/system/system.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#6888 Minor changes on NPM packages
  ui/components/ReactSelectWrapper.js
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#6951 [UI] Use new svg system in rjsf
  ui/assets/icons/ErrorOutlineIcon.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ArrayFieldTemlate.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomBaseInput.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/WrapIfAdditionalTemplate.js
  ui/components/configuratorComponents/patternConfigurator.js
Labels: component/ui

#6949 [bug] Fix the missing "Add Cluster" button
  ui/assets/icons/AddIconCircleBorder.js
  ui/components/MesheryNotification.js
  ui/components/MesherySettings.js
Labels: kind/bug, kind/chore, component/ui

#6958 Fixed snackbar close button not working in UserPreference
  ui/components/UserPreferences.js
Labels: component/ui

#6902 [chore] Upgrade Kompose 1.28
  go.mod
  go.sum
  server/helpers/load_test_interface.go
  server/models/vars.go
Labels: kind/chore, component/server

#6959 Revert go-git
  go.mod
  go.sum
Labels: kind/chore, go

#6962 [UI] Move to small icon for rjsf custom components
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ArrayFieldTemlate.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomBaseInput.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
Labels: component/ui

#6961 Revert Makefile.core.mk
  install/Makefile.core.mk
Labels: area/lifecycle
