Repository meshery/meshery, pull requests merged in 2023-08, with the labels that each got.

#8325 [MeshSync] Package update v0.6.11
  go.mod
  go.sum
Labels: component/meshsync

#8332 Update MeshMap Snapshot Service
  .github/workflows/meshmap.yml
  docs/pages/extensions/snapshot/index.md
  provider-ui/package-lock.json
Labels: area/docs, area/ci, component/ui

#8259 [CI] Enhance Edge Release Channel with Versioning
  docs/pages/project/contributing/ci-build-and-release.md
Labels: area/docs

#8349 [UI] Added required prop in Publish Modal to publish catalog from MeshMap
  ui/components/PublishModal.js
Labels: component/ui

#8148 Specify additional specific load generator options in mesheryctl perf
  go.mod
  go.sum
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/profile.go
  server/handlers/error.go
  server/handlers/load_test_handler.go
  server/helpers/load_test_interface.go
  server/models/load-test.go
Labels: component/mesheryctl, component/server

#8354 Fix connection status endpoint
  server/router/server.go
Labels: component/server

#8357 [Responsiveness] - Made Configurations design page responsive
  ui/components/CatalogFilter.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
Labels: component/ui

#8355 [CI] Update Meshery Helm Chart
  install/kubernetes/helm/meshery/Chart.lock
  install/kubernetes/helm/meshery/README.md
  install/kubernetes/helm/meshery/charts/meshery-app-mesh/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-app-mesh/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-app-mesh/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-app-mesh/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-cilium/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-cilium/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-cilium/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-cilium/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-consul/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-consul/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-consul/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-consul/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-istio/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-istio/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-istio/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-istio/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-kuma/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-kuma/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-kuma/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-kuma/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-linkerd/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-linkerd/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-linkerd/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-linkerd/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-nginx-sm/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-nginx-sm/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-nginx-sm/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-nginx-sm/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-nsm/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-nsm/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-nsm/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-nsm/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-osm/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-osm/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-osm/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-osm/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-traefik-mesh/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-traefik-mesh/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-traefik-mesh/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-traefik-mesh/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/templates/clusterrolebinding.yaml
  install/kubernetes/helm/meshery/templates/ingress.yaml
  install/kubernetes/helm/meshery/templates/service.yaml
  install/kubernetes/helm/meshery/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/values.yaml
Labels: kind/bug, area/devops, framework/helm

#8275 [Meshmodels] - Displaying duplicate components and models
  ui/api/meshmodel.js
  ui/components/DuplicatesDataTable.js
  ui/components/MeshModelComponent.js
Labels: component/ui

#8359 [bug] Fix broken filters page
  ui/components/Filters.js
Labels: kind/bug, component/ui

#8219 [Performance Profile] - Specify flags in performance profile
  ui/components/MesheryPerformance/PerformanceCard.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesheryPerformance/index.js
  ui/components/graphql/subscriptions/PerformanceProfilesSubscription.js
  ui/components/graphql/subscriptions/__generated__/PerformanceProfilesSubscription.graphql.js
Labels: component/ui

#8366 [UI] Added new colors in Theme
  ui/themes/app.js
Labels: component/ui

#8369 Downgrade react-dom to 17.0.2
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#8370 [chore] Fix Filter Upload
  mesheryctl/internal/cli/root/filter/import.go
  server/handlers/meshery_filter_handler.go
  server/models/meshery_filter.go
  ui/components/Filters.js
Labels: component/mesheryctl, component/ui, component/server

#8373 [Docs] Add Integrations List Docs
  docs/_config.yml
  docs/_data/integrations/integrations.yml
  docs/pages/extensibility/extensibility.md
  docs/pages/extensibility/integrations.md
  docs/pages/project/index.md
Labels: area/docs

#8380 Speed dial color update
  ui/themes/app.js
Labels: component/ui

#8356 Add endpoint for all connections
  server/handlers/connections_handlers.go
  server/helpers/swagger.yaml
  server/models/connections.go
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
Labels: component/server

#8326 feat: images are aligned now
  docs/pages/guides/deploying-sample-apps.md
Labels: area/docs

#8361 Remove multiple instances of Layer5 and fix indentation of bulleted list
  README.md
  docs/pages/project/community.md
Labels: area/docs

#8382 [helm] revert to "namespace: {{ .Release.Namespace }}"
  install/kubernetes/helm/meshery/charts/meshery-app-mesh/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-app-mesh/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-app-mesh/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-app-mesh/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-cilium/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-cilium/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-cilium/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-cilium/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-consul/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-consul/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-consul/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-consul/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-istio/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-istio/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-istio/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-istio/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-kuma/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-kuma/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-kuma/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-kuma/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-linkerd/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-linkerd/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-linkerd/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-linkerd/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-nginx-sm/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-nginx-sm/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-nginx-sm/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-nginx-sm/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-nsm/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-nsm/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-nsm/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-nsm/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-osm/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-osm/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-osm/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-osm/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-traefik-mesh/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-traefik-mesh/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-traefik-mesh/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-traefik-mesh/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/templates/clusterrolebinding.yaml
  install/kubernetes/helm/meshery/templates/deployment.yaml
  install/kubernetes/helm/meshery/templates/ingress.yaml
  install/kubernetes/helm/meshery/templates/service.yaml
  install/kubernetes/helm/meshery/templates/serviceaccount.yaml
Labels: framework/helm

#8375 [chore] Removed OSM
  install/deployment_yamls/k8s/meshery-deployment.yaml
  install/docker-extension/docker-compose.yaml
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  install/docker/docker-compose.yaml
  install/kubernetes/helm/meshery/Chart.yaml
  install/kubernetes/helm/meshery/values.yaml
  install/playground/docker/docker-compose.yaml
  mesheryctl/internal/cli/root/error.go
  mesheryctl/internal/cli/root/filter/delete_test.go
  mesheryctl/internal/cli/root/mesh/validate.go
  mesheryctl/internal/cli/root/system/context.go
  mesheryctl/internal/cli/root/system/fixtures/.meshery/meshery.yaml
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/helpers_test.go
  server/helpers/kubernetes_scan.go
  server/internal/graphql/model/helpers.go
  server/models/adapter.go
  server/models/meshery_controllers.go
  ui/components/Navigator.js
  ui/utils/nameMapper.js
Labels: component/mesheryctl, component/ui, service-mesh/osm, component/extensions, component/server, framework/helm, playground

#8372 [Meshmodel] Restructure file system for `meshmodels`.
  scripts/component_generation/main.go
  server/meshmodel/component_models.yaml
  server/meshmodel/components/component_models.yaml
  server/meshmodel/helper.go
Labels: component/server

#8315 [feat] Add Support for Comments
  server/meshmodel/components/meshery/1.0.0/Comment.json
Labels: kind/enhancement, pr/draft, kind/feature, component/server

#8386 [chore] bump meshkit to `v0.6.52`
  .github/workflows/meshmodel-generators.yml
  go.mod
  go.sum
  scripts/component_generation/go.mod
  scripts/component_generation/go.sum
  scripts/component_generation/main.go
  scripts/component_updater/go.mod
  scripts/component_updater/go.sum
  scripts/component_updater/main.go
Labels: area/ci

#8111 filter Unit test
  mesheryctl/internal/cli/root/filter/filter_test.go
  mesheryctl/internal/cli/root/filter/fixtures/filter.id.delete.api.response.golden
  mesheryctl/internal/cli/root/filter/fixtures/filter.id.view.api.response.golden
  mesheryctl/internal/cli/root/filter/fixtures/filter.invalidID.view.response.golden
  mesheryctl/internal/cli/root/filter/fixtures/filter.list.api.response.golden
  mesheryctl/internal/cli/root/filter/fixtures/filter.name.view.api.response.golden
  mesheryctl/internal/cli/root/filter/fixtures/filter.nonexisting-name.view.response.golden
  mesheryctl/internal/cli/root/filter/testdata/filter.id.delete.output.golden
  mesheryctl/internal/cli/root/filter/testdata/filter.id.view.output.golden
  mesheryctl/internal/cli/root/filter/testdata/filter.invalidID.view.output.golden
  mesheryctl/internal/cli/root/filter/testdata/filter.list.output.golden
  mesheryctl/internal/cli/root/filter/testdata/filter.nonexisting-name.view.output.golden
  mesheryctl/internal/cli/root/filter/testdata/filter.view.output.golden
  mesheryctl/internal/cli/root/filter/testdata/list.filter.output.golden
Labels: component/mesheryctl

#8388 [UI] Fix MeshModel Chart empty when one of the contructs count is 0
  ui/components/DashboardMeshModelGraph.js
Labels: kind/bug, component/ui

#8171 [UI] Add Connection Stats Chart
  ui/api/connections.js
  ui/components/Dashboard/ConnectionCharts.js
  ui/components/Dashboard/DashboardMeshModelGraph.js
  ui/components/DashboardComponent.js
  ui/pages/_app.js
  ui/pages/styles/charts.css
Labels: component/ui

#8249 Update meshmodel search by name
  server/handlers/component_handler.go
Labels: component/server

#8397 Fix /api/integrations/connections/{connectionKind}
  server/handlers/connections_handlers.go
  server/models/default_local_provider.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: component/server

#8403 Add load generator options flag to mesheryctl perf
  go.mod
  go.sum
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/profile.go
  server/handlers/error.go
  server/handlers/load_test_handler.go
  server/helpers/load_test_interface.go
  server/models/load-test.go
Labels: component/mesheryctl, component/server

#8407 Implement conditional rendering of Model Selector based on selected category
  ui/components/configuratorComponents/MeshModel/index.js
Labels: component/ui

#8395 Shortened the User ID in app list
  mesheryctl/internal/cli/root/app/list.go
Labels: component/mesheryctl

#8392 fixed context switching abort
  mesheryctl/internal/cli/root/system/context.go
  mesheryctl/internal/cli/root/system/stop.go
Labels: component/mesheryctl

#8352 solved the issue of unresponsiveness of header
  docs/_sass/layout.scss
Labels: area/docs

#8324 Pattern Unit test
  mesheryctl/internal/cli/root/filter/filter_test.go
  mesheryctl/internal/cli/root/filter/fixtures/filter.list.api.response.golden
  mesheryctl/internal/cli/root/filter/fixtures/list.filter.api.response.golden
  mesheryctl/internal/cli/root/filter/list_test.go
  mesheryctl/internal/cli/root/filter/testdata/filter.list.output.golden
  mesheryctl/internal/cli/root/filter/testdata/list.filter.output.golden
  mesheryctl/internal/cli/root/filter/view_test.go
  mesheryctl/internal/cli/root/pattern/fixtures/pattern.apply.deploy.golden
  mesheryctl/internal/cli/root/pattern/fixtures/pattern.apply.save.golden
  mesheryctl/internal/cli/root/pattern/fixtures/pattern.delete.golden
  mesheryctl/internal/cli/root/pattern/fixtures/pattern.delete.invalid.golden
  mesheryctl/internal/cli/root/pattern/fixtures/pattern.golden
  mesheryctl/internal/cli/root/pattern/fixtures/pattern.id.view.golden
  mesheryctl/internal/cli/root/pattern/fixtures/pattern.list.golden
  mesheryctl/internal/cli/root/pattern/fixtures/pattern.view.invalid.golden
  mesheryctl/internal/cli/root/pattern/fixtures/pattern.view.kuma.golden
  mesheryctl/internal/cli/root/pattern/list.go
  mesheryctl/internal/cli/root/pattern/pattern_test.go
  mesheryctl/internal/cli/root/pattern/testdata/list.pattern.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/pattern.apply.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/pattern.delete.invalid.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/pattern.delete.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/pattern.id.view.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/pattern.list.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/pattern.view.invalid.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/pattern.view.kuma.output.golden
Labels: component/mesheryctl

#8428 [mesheryctl] perf apply docs fix
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/result.go
Labels: area/docs, component/mesheryctl

#8431 feat: typo fixed 'tags'
  docs/pages/project/contributing/ci-build-and-release.md
Labels: area/docs

#8438 fix validate modal light/dark mode color issues
  ui/assets/icons/Pattern.js
  ui/components/ConfirmationModal.js
  ui/themes/app.js
Labels: component/ui

#8434 Add endpoint to update connection by Id
  server/handlers/connections_handlers.go
  server/handlers/doc.go
  server/handlers/error.go
  server/helpers/swagger.yaml
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
Labels: component/server

#8442 Leecalcote/templates/go-meshkit
  .github/ISSUE_TEMPLATE/ci.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/fbug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/meshery-extensions_bug.md
  .github/ISSUE_TEMPLATE/meshery-extensions_feature.md
  .github/ISSUE_TEMPLATE/meshery-ui_bug.md
  .github/ISSUE_TEMPLATE/meshery-ui_feature.md
  .github/ISSUE_TEMPLATE/mesheryctl_bug.md
  .github/ISSUE_TEMPLATE/mesheryctl_feature.md
  docs/_data/swagger.yml
  go.mod
  go.sum
  ui/api/connections.js
  ui/components/Dashboard/ConnectionCharts.js
  ui/components/Dashboard/DashboardMeshModelGraph.js
  ui/components/DashboardComponent.js
  ui/pages/_app.js
  ui/pages/styles/charts.css
  ui/utils/charts.js
Labels: area/docs, area/ci, component/ui

#8402 [CI] MeshKit Error Util: duplicate errors causing failures
  mesheryctl/internal/cli/root/version.go
  server/cmd/error.go
  server/handlers/connections_handlers.go
  server/handlers/contexts_handler.go
  server/handlers/error.go
  server/handlers/events_streamer.go
  server/handlers/extensions.go
  server/handlers/fetch_results_handler.go
  server/handlers/grafana_handlers.go
  server/handlers/k8sconfig_handler.go
  server/handlers/load_test_handler.go
  server/handlers/load_test_meshes_handler.go
  server/handlers/load_test_preferences_handler.go
  server/handlers/mesh_ops_handlers.go
  server/handlers/meshery_application_handler.go
  server/handlers/meshery_filter_handler.go
  server/handlers/meshery_pattern_handler.go
  server/handlers/policy_relationship_handler.go
  server/handlers/prometheus_handlers.go
  server/handlers/provider_handler.go
  server/handlers/server_spec_handler.go
  server/handlers/session_sync_handler.go
  server/handlers/user_handler.go
  server/helpers/error.go
  server/helpers/kubernetes.go
  server/helpers/load_test_interface.go
  server/internal/graphql/model/addons_helper.go
  server/internal/graphql/model/control_plane_helper.go
  server/internal/graphql/model/data_plane_helper.go
  server/internal/graphql/model/error.go
  server/internal/graphql/model/operator_helper.go
  server/internal/graphql/resolver/application.go
  server/internal/graphql/resolver/catalog_content.go
  server/internal/graphql/resolver/error.go
  server/internal/graphql/resolver/filter.go
  server/internal/graphql/resolver/kubernetes.go
  server/internal/graphql/resolver/operator.go
  server/internal/graphql/resolver/pattern.go
  server/internal/graphql/resolver/performance.go
  server/internal/graphql/resolver/telemetry.go
  server/models/error.go
  server/models/meshmodel/core/error.go
  server/models/meshmodel/core/register.go
  server/models/pattern/core/error.go
Labels: component/mesheryctl, component/server

#8383 Removed extra single quotes from make commands
  mesheryctl/Makefile
Labels: component/mesheryctl

#8393 [lifecycle] Manage Un/Deployment of Meshery Adapters
  install/docker/Dockerfile
  install/docker/docker-compose.yaml
  install/kubernetes/helm/meshery/Chart.lock
  install/kubernetes/helm/meshery/Chart.yaml
  install/kubernetes/helm/meshery/README.md
  install/kubernetes/helm/meshery/charts/meshery-osm/.helmignore
  install/kubernetes/helm/meshery/charts/meshery-osm/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-osm/README.md
  install/kubernetes/helm/meshery/charts/meshery-osm/templates/NOTES.txt
  install/kubernetes/helm/meshery/charts/meshery-osm/templates/_helpers.tpl
  install/kubernetes/helm/meshery/charts/meshery-osm/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-osm/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-osm/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-osm/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-osm/templates/tests/test-connection.yaml
  install/kubernetes/helm/meshery/charts/meshery-osm/values.yaml
  install/kubernetes/helm/meshery/values.yaml
  server/handlers/mesh_ops_handlers.go
  server/helpers/adapters_tracker.go
  server/helpers/error.go
  server/helpers/utils/utils.go
  server/internal/graphql/resolver/adapter.go
  server/internal/graphql/resolver/adaptor.go
  server/internal/graphql/resolver/error.go
  server/models/meshery_controllers.go
  ui/components/DashboardMeshModelGraph.js
  ui/components/MeshAdapterConfigComponent.js
Labels: component/ui, component/server, framework/helm

#8446 Revert "Revert "Add endpoint to update connection by Id""
  server/handlers/connections_handlers.go
  server/handlers/doc.go
  server/handlers/error.go
  server/helpers/swagger.yaml
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
Labels: component/server

#8421 [Performance profile]- fix label on new certificate upload
  ui/components/MesheryPerformance/index.js
Labels: component/ui

#8448 Update logs.svg
  ui/public/static/img/logs.svg
Labels: component/ui

#8323 [Extension] Add Collaborator Extension Point
  docs/pages/extensibility/providers.md
  server/models/providers.go
  ui/components/ExtensionSandbox.js
  ui/components/Header.js
  ui/components/RemoteComponent.js
  ui/utils/ExtensionPointSchemaValidator.js
Labels: area/docs, component/ui, component/extensions, component/server

#8449 Added new job to send emails on job failure
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#8451 [CI] Workflow update of meshkit error docs
  .github/workflows/error-codes-updater.yaml
Labels: area/docs, area/ci

#8453 [bug] Fix cancelled ctx
  server/helpers/adapters_tracker.go
  server/internal/graphql/resolver/adapter.go
Labels: kind/bug, component/server

#8457 Loader component for collaborators
  ui/components/ExtensionSandbox.js
Labels: component/ui, component/extensions

#8459 [chore] Update Playground Docker Compose
  install/playground/docker/docker-compose.yaml
Labels: playground

#8267 endpoints for user's keys
  docs/_data/swagger.yml
  server/handlers/doc.go
  server/handlers/user_handler.go
  server/helpers/swagger.yaml
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/providers.go
  server/models/remote_provider.go
  server/models/user.go
  server/router/server.go
Labels: area/docs, component/server

#8464 [Extensions] Collaborators: Remove spinner
  ui/components/ExtensionSandbox.js
  ui/components/RemoteComponent.js
Labels: component/ui, component/extensions

#8458 [CI] Meshkit error workflow committing on pull request
  .github/workflows/error-codes-updater.yaml
Labels: area/ci

#8353 Designs docs : meshmodel user guide
  docs/assets/img/meshery-design/create.png
  docs/assets/img/meshery-design/import.png
  docs/assets/img/meshery-design/location.png
  docs/pages/guides/meshery-design.md
Labels: area/docs

#8248 feat :removed duplication and fixed typo
  docs/_data/toc.yml
  docs/pages/extensions/meshmap/publishing-a-design.md
Labels: area/docs

#8477 Add mesh version support in Lifecycle management.
  server/handlers/mesh_ops_handlers.go
  server/meshes/meshops.pb.go
  server/meshes/meshops.proto
  server/meshes/meshops_grpc.pb.go
  server/router/server.go
  ui/api/meshmodel.js
  ui/components/MesheryAdapterPlayComponent.js
Labels: component/ui, component/server

#8471 Dry Run Support in Designs And Applications
  ui/api/index.js
  ui/api/patterns.js
  ui/components/ConfirmationModal.js
  ui/components/DryRun/DryRunComponent.js
  ui/components/MesheryApplications.js
  ui/components/MesheryApplications/ApplicationsGrid.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/themes/index.js
Labels: component/ui

#8472 Added Connection Stats Charts
  ui/api/connections.js
  ui/components/Dashboard/ConnectionCharts.js
  ui/components/Dashboard/DashboardMeshModelGraph.js
  ui/components/DashboardComponent.js
  ui/components/General/ConnectClustersBtn.js
  ui/pages/_app.js
  ui/pages/styles/charts.css
  ui/utils/charts.js
Labels: component/ui

#8433 Add `api/system/database/reset` endpoint to reset database
  server/handlers/database_handlers.go
  server/models/handlers.go
  server/router/server.go
Labels: component/server

#8461 fixed inconsistency in meshery ui
  ui/components/CatalogFilter.js
  ui/components/MesheryPatterns.js
Labels: component/ui

#8484 [UI] Use name instead of component in service mesh dashboard
  ui/components/DashboardComponent.js
Labels: component/ui

#8316 [UI] Connections
  ui/components/Navigator.js
  ui/components/connections/index.js
  ui/constants/navigator.js
  ui/pages/management/connections.js
  ui/public/static/img/connection-light.svg
  ui/public/static/img/connection.svg
  ui/themes/app.js
Labels: component/ui

#8489 Updated go mod sync workflow
  .github/workflows/build-and-release-stable.yml
  .github/workflows/go-mod-sync.yaml
Labels: area/ci

#8481 [UI] Add Qanelas Soft as Global Font
  ui/themes/app.js
Labels: component/ui

#8494 fix crash due to empty response of filter_resource file
  ui/components/Filters.js
Labels: component/ui, priority/high

#8097 import resources from schema, import filters from schema
  provider-ui/package-lock.json
  server/handlers/schema_handlers.go
  server/models/handlers.go
  server/router/server.go
  ui/assets/jsonschema/uiSchemaApplication.json
  ui/assets/jsonschema/uiSchemaDesignImport.json
  ui/components/Filters.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomBaseInput.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomFileWidget.js
  ui/components/MesheryMeshInterface/PatternService/helper.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/Modal.js
  ui/components/Modals/ImportModal.js
  ui/components/Modals/PublishModal.js
  ui/components/NavigatorExtension.js
  ui/components/UploadImport.js
  ui/pages/extension/[...component].js
  ui/themes/rjsf.js
  ui/utils/utils.js
Labels: component/ui, component/server

#8488 [CI] Update swagger docs workflow for rest api failing in edge and stable release
  .github/workflows/build-and-release-edge.yml
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#8483 [UI] Enhance Notification Center
  ui/components/MesheryApplications.js
  ui/components/MesheryEventViewer.js
  ui/components/MesheryNotification.js
  ui/components/MesheryPatterns.js
  ui/components/MesherySnackbarWrapper.js
  ui/lib/event-types.js
  ui/lib/store.js
  ui/package-lock.json
  ui/package.json
  ui/utils/hooks/useNotification.js
Labels: component/ui

#8396 fix: test for delete filter command
  mesheryctl/internal/cli/root/filter/testdata/delete.kuma.output.golden
  mesheryctl/internal/cli/root/filter/testdata/delete.rollout.output.golden
Labels: component/mesheryctl

#8486 [UI] Send toaster informational notification upon save of design
  ui/components/MesheryPatterns.js
  ui/components/configuratorComponents/MeshModel/hooks/useDesignLifecycle.js
Labels: component/ui

#8499 Revert "[UI] Send toaster informational notification upon save of design"
  ui/components/MesheryPatterns.js
  ui/components/configuratorComponents/MeshModel/hooks/useDesignLifecycle.js
Labels: component/ui

#8509 [UI] Send toaster informational notification upon save of design and send to notification center
  ui/components/MesheryPatterns.js
Labels: component/ui

#8510 [Notification Center] Add Support for Meshmap and little Ui changes
  ui/components/DryRun/DryRunComponent.js
  ui/components/NavigatorExtension.js
  ui/lib/event-types.js
  ui/utils/hooks/useNotification.js
Labels: component/ui

#8258 introduce pagination and search by filter name for filter list command
  mesheryctl/internal/cli/root/filter/list.go
Labels: component/mesheryctl

#8274 [Server] Add server support to share WASM Filters
  docs/_data/swagger.yml
  server/handlers/user_handler.go
  server/helpers/swagger.yaml
  server/models/default_local_provider.go
  server/models/error.go
  server/models/handlers.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
Labels: area/docs, component/server

#8416 [Policies] Evaluation of OPA policies in server.
  go.mod
  go.sum
  server/cmd/main.go
  server/handlers/handler_instance.go
  server/handlers/policy_relationship_handler.go
  server/meshmodel/kubernetes/policies/binding.rego
  server/meshmodel/kubernetes/policies/common.rego
  server/meshmodel/kubernetes/policies/hierarchical-wallet.rego
  server/meshmodel/kubernetes/policies/hierarchichal-namespace-policy.rego
  server/meshmodel/kubernetes/policies/network-policy.rego
  server/meshmodel/kubernetes/relationships/hierarchical_inv_wasm_filters.json
  server/meshmodel/kubernetes/relationships/mount_edge.json
  server/meshmodel/kubernetes/relationships/permission_edge.json
  server/meshmodel/schemas/relationship.json
  server/meshmodel/schemas/selectors.json
Labels: component/server

#8514 [UI][Schema] Change comment schema | Fix ImportModal crash in extension
  server/meshmodel/meshery/1.0.0/Comment.json
  ui/components/NavigatorExtension.js
Labels: component/ui, component/server

#8517 Update `errorutil` in CI to looks for the right `server` directory
  .github/workflows/error-codes-updater.yaml
  mesheryctl/internal/cli/root/filter/filter_test.go
  server/cmd/main.go
  server/handlers/component_handler.go
  server/handlers/connections_handlers.go
  server/handlers/design_engine_handler.go
  server/handlers/doc.go
  server/handlers/error.go
  server/handlers/handler_instance.go
  server/handlers/mesh_ops_handlers.go
  server/handlers/schema_handlers.go
  server/helpers/load_test_interface.go
  server/meshmodel/helper.go
  server/models/connections.go
  server/models/default_local_provider.go
  server/models/load-test.go
  server/models/pattern/stages/validate.go
  server/models/providers.go
  server/models/remote_provider.go
  server/router/server.go
Labels: component/mesheryctl, area/ci, component/server

#8518 [Chore] Fix for Failing Build and Release
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#8520 fix validation and deployment issue for comps marked isAnnotaion true
  server/models/pattern/stages/provision.go
  ui/utils/hooks/useNotification.js
Labels: component/ui, component/server

#8452 Adding Customization of MeshMap Snapshot in docs
  docs/pages/extensions/snapshot/index.md
Labels: area/docs

#8522 [Docs] Remove unncessary file - `Kuma.svg`
  docs/_adapters/kuma/Kuma.svg
Labels: area/docs

#8491 Enhance policies endpoints
  server/handlers/doc.go
  server/handlers/policy_relationship_handler.go
  server/helpers/swagger.yaml
  server/models/handlers.go
  server/models/meshery_meshmodels_api_response.go
  server/router/server.go
Labels: component/server

#8549 fix: fixed background color in meshmodel relationships tab
  ui/components/MeshModelComponent.js
Labels: component/ui

#8128 Fixing Documentation issues
  docs/_data/mesheryctlcommands/cmds.yml
  docs/_data/toc.yml
  docs/_sass/code.scss
  docs/pages/guides/configuration-management.md
  docs/pages/installation/quick-start.md
  docs/pages/installation/windows.md
  docs/pages/project/contributing/contributing.md
  docs/pages/reference/mesheryctl-commands.md
Labels: area/docs

#8550 Scrolling error in meshery docs for small screen fixed
  docs/_sass/layout.scss
Labels: area/docs

#8546 [Notification Center] Refactor EVENT_TYPES and Icons
  ui/components/MesheryEventViewer.js
  ui/components/MesheryNotification.js
  ui/components/MesherySnackbarWrapper.js
  ui/lib/event-types.js
  ui/lib/store.js
  ui/utils/hooks/useNotification.js
Labels: kind/bug, component/ui

#8551 [CI] Swagger docs build failing
  server/handlers/connections_handlers.go
  server/handlers/database_handlers.go
  server/handlers/doc.go
  server/handlers/events_streamer.go
Labels: component/server

#8492 Fixed height consistency in design cards
  ui/components/MesheryPatterns/MesheryPatternCard.js
Labels: component/ui

#8466 Meshmodel Browser
  ui/api/index.js
  ui/api/meshmodel.js
  ui/components/DuplicatesDataTable.js
  ui/components/MeshModelComponent.js
  ui/constants/endpoints.js
Labels: component/ui

#8554 Fixed email-on-failure job in stable release
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#8558 Refactor drawer links
  ui/assets/icons/ServiceMeshIcon.js
  ui/components/Dashboard/ConnectionCharts.js
  ui/components/Dashboard/DashboardMeshModelGraph.js
  ui/components/DashboardComponent.js
  ui/components/MesherySettings.js
  ui/components/Navigator.js
  ui/constants/navigator.js
Labels: component/ui

#8566 [Lifecycle] mesheryctl: slim profile with no adapters by default
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#8321 [connections] Migrate K8sCtx to Connections
  server/handlers/contexts_handler.go
  server/handlers/k8sconfig_handler.go
  server/handlers/middlewares.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/schema/schema.graphql
  server/models/k8s_context.go
  server/models/providers.go
  server/models/remote_provider.go
  ui/components/ConfirmationModal.js
  ui/components/ConnectionWizard/helpers/kubernetesHelpers.js
  ui/components/DashboardComponent.js
  ui/components/Header.js
  ui/components/MeshConfigComponent.js
  ui/components/graphql/subscriptions/K8sContextSubscription.js
  ui/components/graphql/subscriptions/__generated__/K8sContextSubscription.graphql.js
Labels: component/ui, component/server

#8539 [UI] Fix issue with button alignment
  ui/components/MesheryPerformance/index.js
Labels: component/ui

#8574 Convert patterns/applications file to functional components
  ui/pages/configuration/applications.js
  ui/pages/configuration/designs/configurator.js
  ui/pages/configuration/designs/index.js
Labels: component/ui

#8573 Add support for persistence
  ui/components/MesheryEventViewer.js
  ui/components/MesheryNotification.js
  ui/components/NotificationCenter/Notification.js
  ui/lib/event-types.js
  ui/lib/store.js
  ui/utils/hooks/useNotification.js
Labels: component/ui

#8580 [CI] Mesheryctl Meshkit error duplicacy
  mesheryctl/helpers/component_info.json
  mesheryctl/internal/cli/root/app/app.go
  mesheryctl/internal/cli/root/app/import.go
  mesheryctl/internal/cli/root/app/list.go
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/onboard.go
  mesheryctl/internal/cli/root/app/view.go
  mesheryctl/internal/cli/root/config/config.go
  mesheryctl/internal/cli/root/config/error.go
  mesheryctl/internal/cli/root/error.go
  mesheryctl/internal/cli/root/filter/delete.go
  mesheryctl/internal/cli/root/filter/error.go
  mesheryctl/internal/cli/root/filter/list.go
  mesheryctl/internal/cli/root/filter/view.go
  mesheryctl/internal/cli/root/mesh/error.go
  mesheryctl/internal/cli/root/pattern/apply.go
  mesheryctl/internal/cli/root/pattern/delete.go
  mesheryctl/internal/cli/root/pattern/error.go
  mesheryctl/internal/cli/root/pattern/list.go
  mesheryctl/internal/cli/root/pattern/view.go
  mesheryctl/internal/cli/root/perf/error.go
  mesheryctl/internal/cli/root/system/error.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/version.go
  mesheryctl/pkg/utils/auth.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
  server/models/remote_provider.go
Labels: component/mesheryctl, component/server

#8570 [Docs] Add Component Shape Guide
  docs/pages/extensions/meshmap/component-shape-guide.md
  docs/pages/extensions/meshmap/index.md
Labels: area/docs

#8498 Fix webpack HMR websocket connection
  .github/workflows/build-ui-and-server.yml
  ui/cypress.config.js
  ui/ui_dev_server.js
Labels: area/ci, component/ui

#8575 update `gqlgen` and regenerated
  go.mod
  go.sum
  server/internal/graphql/generated/generated.go
  server/internal/graphql/resolver/schema.resolvers.go
Labels: component/server

#8584 [Server] Annotate comp with design file data.
  server/models/pattern/stages/provision.go
Labels: component/server

#8462 [Docs] Ensuring that all commands has usage examples
  docs/_data/mesheryctlcommands/cmds.yml
  docs/pages/reference/mesheryctl-commands.md
  mesheryctl/internal/cli/root/completion.go
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/internal/cli/root/system/context.go
  mesheryctl/internal/cli/root/system/dashboard.go
  mesheryctl/internal/cli/root/system/login.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/internal/cli/root/system/stop.go
Labels: kind/enhancement, area/docs, component/mesheryctl, framework/jekyll

#8501 adjusting all unit tests for mesheryctl to increase coverage
  go.mod
  go.sum
  mesheryctl/internal/cli/root/app/list_test.go
  mesheryctl/internal/cli/root/app/testdata/view.applicationName.output.golden
  mesheryctl/internal/cli/root/app/testdata/view.applicationid.output.golden
  mesheryctl/internal/cli/root/app/testdata/view.invalid.application.output.golden
  mesheryctl/internal/cli/root/app/view_test.go
  mesheryctl/internal/cli/root/filter/delete_test.go
  mesheryctl/internal/cli/root/filter/filter_test.go
  mesheryctl/internal/cli/root/filter/fixtures/delete.kuma.api.response.golden
  mesheryctl/internal/cli/root/filter/fixtures/delete.rollout.api.response.golden
  mesheryctl/internal/cli/root/filter/fixtures/filter.list.api.response.golden
  mesheryctl/internal/cli/root/filter/fixtures/filter.name.view.api.response.golden
  mesheryctl/internal/cli/root/filter/fixtures/list.filter.api.response.golden
  mesheryctl/internal/cli/root/filter/list.go
  mesheryctl/internal/cli/root/filter/list_test.go
  mesheryctl/internal/cli/root/filter/testdata/filter.id.delete.output.golden
  mesheryctl/internal/cli/root/filter/testdata/filter.id.view.output.golden
  mesheryctl/internal/cli/root/filter/testdata/filter.invalidID.view.output.golden
  mesheryctl/internal/cli/root/filter/testdata/filter.list.output.golden
  mesheryctl/internal/cli/root/filter/testdata/filter.name.view.output.golden
  mesheryctl/internal/cli/root/filter/testdata/filter.nonexisting-name.view.output.golden
  mesheryctl/internal/cli/root/filter/testdata/list.filter.output.golden
  mesheryctl/internal/cli/root/filter/view_test.go
  mesheryctl/internal/cli/root/pattern/apply_test.go
  mesheryctl/internal/cli/root/pattern/delete_test.go
  mesheryctl/internal/cli/root/pattern/fixtures/pattern.delete.invalid.golden
  mesheryctl/internal/cli/root/pattern/list_test.go
  mesheryctl/internal/cli/root/pattern/pattern_test.go
  mesheryctl/internal/cli/root/pattern/testdata/list.pattern.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/pattern.apply.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/pattern.delete.invalid.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/pattern.delete.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/pattern.id.view.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/pattern.list.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/pattern.view.invalid.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/pattern.view.kuma.output.golden
  mesheryctl/internal/cli/root/pattern/view_test.go
  mesheryctl/internal/cli/root/perf/apply_test.go
  mesheryctl/internal/cli/root/perf/perf_test.go
  mesheryctl/internal/cli/root/perf/profile_test.go
  mesheryctl/internal/cli/root/perf/result_test.go
  mesheryctl/internal/cli/root/system/channel_test.go
  mesheryctl/internal/cli/root/system/check_test.go
  mesheryctl/internal/cli/root/system/context_test.go
  mesheryctl/internal/cli/root/system/fixtures/.meshery/meshery.yaml
  mesheryctl/internal/cli/root/system/reset_test.go
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedAdd.yaml
  mesheryctl/internal/cli/root/system/testdata/context/ExpectedSwitch.yaml
  mesheryctl/internal/cli/root/system/testdata/context/addExpected.golden
  mesheryctl/internal/cli/root/system/testdata/context/switchExpected.golden
  mesheryctl/internal/cli/root/system/testdata/reset/TestResetContexts.yaml
  mesheryctl/internal/cli/root/system/testdata/reset/reset_kubernetes.output.golden
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/testing.go
Labels: component/mesheryctl

#8600 Changed all the download notification from Success to info
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
Labels: component/ui

#8605 [Docs] Fix spelling errors
  docs/pages/concepts/architecture/service-meshes/adapters.md
Labels: area/docs

#8603 Error handling for collaborators extension point
  ui/components/RemoteComponent.js
Labels: component/ui

#8594 Enhanced error messages for kubeconfig access
  install/docker/docker-compose.yaml
  server/handlers/k8sconfig_handler.go
  server/models/k8s_context.go
Labels: component/server

#8582 Moved CustomToolbarSelect.js from class-based component to functional component
  ui/components/CustomToolbarSelect.js
Labels: component/ui

#8610 Changed `CustomTableFooter` from class-based to functional component
  ui/components/CustomTableFooter.js
Labels: component/ui

#8578 Updated email-on-failure job
  .github/workflows/build-and-release-stable.yml
Labels: area/ci
