Repository meshery/meshery, pull requests merged in 2024-03, with the labels that each got.

#10389 [Server] Eliminate dead code and Improvements for controllers/dataHandlers.
  go.mod
  go.sum
  server/cmd/main.go
  server/handlers/middlewares.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/model/operator_helper.go
  server/internal/graphql/resolver/broker.go
  server/internal/graphql/resolver/meshsync.go
  server/internal/graphql/resolver/operator.go
  server/internal/graphql/resolver/schema.resolvers.go
  server/internal/graphql/schema/schema.graphql
  server/machines/helpers/helpers.go
  server/machines/kubernetes/connect.go
  server/machines/kubernetes/delete.go
  server/machines/kubernetes/disconnect.go
  server/machines/kubernetes/helpers.go
  server/machines/kubernetes/machine.go
  server/models/handlers.go
  server/models/meshery_controllers.go
  server/models/sql-utils.go
  ui/components/ConnectionWizard/Screens/MesheryOperatorScreen.js
  ui/components/ConnectionWizard/helpers/mesheryOperator.js
  ui/components/MeshConfigComponent.js
  ui/components/NavigatorExtension.js
  ui/components/connections/index.js
  ui/components/connections/metadata.js
  ui/components/graphql/queries/OperatorStatusQuery.js
  ui/components/graphql/queries/__generated__/OperatorStatusQuery.graphql.js
  ui/components/graphql/subscriptions/MeshSyncEventsSubscription.js
  ui/components/graphql/subscriptions/MeshSyncStatusSubscription.js
  ui/components/graphql/subscriptions/MesheryControllersStatusSubscription.js
  ui/components/graphql/subscriptions/OperatorStatusSubscription.js
  ui/components/graphql/subscriptions/__generated__/MeshSyncEventsSubscription.graphql.js
  ui/components/graphql/subscriptions/__generated__/MesheryControllersStatusSubscription.graphql.js
  ui/components/graphql/subscriptions/__generated__/OperatorStatusSubscription.graphql.js
  ui/components/hooks/useKubernetesHook.js
  ui/components/subscription/helpers.js
  ui/components/subscription/subscriptionhandler.js
  ui/pages/_app.js
  ui/utils/multi-ctx.js
Labels: component/ui, component/meshsync, language/go, component/server

#10441 [GraphQL Plugin] Extract plugin related logic
  server/extensions/input.go
  server/extensions/output.go
  server/handlers/extensions.go
  server/handlers/handler_instance.go
  server/internal/graphql/resolver/schema.resolvers.go
  server/models/meshsync_events.go
Labels: component/server

#10477 Create Bill of Materials and Licenses
  .github/workflows/bom.yaml
Labels: area/ci

#10480 Inject Sistent Into remote components
  ui/package-lock.json
  ui/package.json
  ui/remote-component.config.js
Labels: component/ui, component/extensions

#10492 [chore] fix UI lint issues.
  ui/utils/multi-ctx.js
Labels: component/ui

#10497 [Server] Fix manifests separated using yaml-separator being not parsed correctly
  server/models/pattern/core/pattern.go
Labels: component/server

#10505 [Docs] Mesheryctl Docs Update fixes #10503
  docs/pages/reference/mesheryctl/mesheryctl-exp-registry-publish.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-registry.md
  docs/pages/reference/mesheryctl/mesheryctl-registry-publish.md
  mesheryctl/internal/cli/root/app/app.go
  mesheryctl/internal/cli/root/registry/publish.go
Labels: area/docs, component/mesheryctl

#10508 Update index.md
  docs/pages/guides/tutorials/index.md
  docs/pages/guides/tutorials/understanding-configmaps.md
Labels: area/docs

#10517 [Server] Fix intermodel relationship registration and eval.
  go.mod
  go.sum
  server/cmd/main.go
  server/meshmodel/kubernetes/policies/edge_binding.rego
  server/meshmodel/kubernetes/policies/hierarchical_inventory.rego
Labels: component/server, area/models

#10482 [Add]: Relationship between Kubernetes Components
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10515 Fix layout and theme in layout
  ui/components/DataFormatter/NameValueTable.js
Labels: component/ui

#10518 Update reference table in docs
  docs/_data/mesheryctlcommands/cmds.yml
  docs/pages/reference/mesheryctl-commands.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-filter-apply.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-filter-delete.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-filter-list.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-filter-view.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-filter.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-registry-publish.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-registry.md
  docs/pages/reference/mesheryctl/mesheryctl-registry-generate.md
  docs/pages/reference/mesheryctl/mesheryctl-registry-import.md
  docs/pages/reference/mesheryctl/mesheryctl-registry-publish.md
  docs/pages/reference/mesheryctl/mesheryctl-registry-update.md
  docs/pages/reference/mesheryctl/mesheryctl-registry.md
  mesheryctl/internal/cli/root/registry/generate.go
  mesheryctl/internal/cli/root/registry/update.go
Labels: area/docs, component/mesheryctl

#10520 [Server] Regenerate error codes for meshery server
  server/cmd/error.go
  server/handlers/error.go
  server/helpers/component_info.json
  server/helpers/error.go
  server/internal/graphql/model/error.go
  server/internal/graphql/resolver/error.go
  server/machines/error.go
  server/machines/helpers/error.go
  server/models/error.go
  server/models/meshmodel/core/error.go
  server/models/pattern/core/error.go
  server/models/pattern/patterns/k8s/error.go
Labels: component/server

#10525 [chore] Flatten the metadata and update UI.
  server/models/meshsync_events.go
  ui/components/DashboardComponent/resources/configuration/config.js
  ui/components/DashboardComponent/resources/namespace/config.js
  ui/components/DashboardComponent/resources/network/config.js
  ui/components/DashboardComponent/resources/nodes/config.js
  ui/components/DashboardComponent/resources/security/config.js
  ui/components/DashboardComponent/resources/storage/config.js
  ui/components/DashboardComponent/resources/workloads/config.js
Labels: component/ui, component/server

#10526 add id for error codes
  docs/pages/reference/error-codes.md
Labels: area/docs

#10500 [Docs] Meshery Docs Contributing summarization
  docs/README.md
Labels: area/docs

#10484 Fixing the test failure
  mesheryctl/internal/cli/root/app/testdata/app.offborad.output.golden
  mesheryctl/internal/cli/root/app/testdata/offboard.output.golden
  mesheryctl/internal/cli/root/app/testdata/onboard.output.golden
  mesheryctl/internal/cli/root/config/config_test.go
  mesheryctl/internal/cli/root/filter/testdata/filter.list.output.golden
  mesheryctl/internal/cli/root/filter/testdata/list.filter.output.golden
  mesheryctl/internal/cli/root/pattern/apply.go
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/apply_test.go
  mesheryctl/internal/cli/root/perf/profile.go
  mesheryctl/internal/cli/root/perf/testdata/apply/1002.golden
  mesheryctl/internal/cli/root/system/context_test.go
  mesheryctl/internal/cli/root/system/fixtures/.meshery/meshery.yaml
  mesheryctl/internal/cli/root/system/testdata/check/check.output.golden
  mesheryctl/internal/cli/root/system/testdata/model/view.model.json.output.golden
  mesheryctl/internal/cli/root/system/testdata/model/view.model.yaml.output.golden
  mesheryctl/pkg/utils/TestConfig.yaml
  mesheryctl/pkg/utils/formatter.go
Labels: component/mesheryctl

#10522 [mesheryctl] Fix Registry usage error message link
  mesheryctl/internal/cli/root/registry/registry.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#10523 [Models]: Updating Issue Template
  .github/ISSUE_TEMPLATE/models.md
Labels: area/ci

#10481 feat: Relationship between Volume attachment and PersistentVolume
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10529 bump sistent
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#10456 Add kubernetes pods tutorial using playground
  docs/_data/toc.yml
  docs/pages/guides/tutorials/kubernetes-pods.md
  docs/pages/guides/tutorials/screenshots/2024-02-22_18-20.png
  docs/pages/guides/tutorials/screenshots/2024-02-22_18-32.png
  docs/pages/guides/tutorials/screenshots/2024-02-22_18-35.png
  docs/pages/guides/tutorials/screenshots/2024-02-23_11-54.png
  docs/pages/guides/tutorials/screenshots/2024-02-23_11-54_1.png
  docs/pages/guides/tutorials/screenshots/2024-02-23_11-57.png
  docs/pages/guides/tutorials/screenshots/2024-02-23_19-52.png
  docs/pages/guides/tutorials/screenshots/2024-02-23_19-54.png
  docs/pages/guides/tutorials/screenshots/2024-02-23_19-56.png
  docs/pages/guides/tutorials/screenshots/2024-02-25_17-38.png
  docs/pages/guides/tutorials/screenshots/2024-02-25_18-18.png
  docs/pages/guides/tutorials/screenshots/2024-02-25_18-22.png
  docs/pages/guides/tutorials/screenshots/2024-02-25_18-25.png
  docs/pages/guides/tutorials/screenshots/2024-02-28_11-05.png
  docs/pages/guides/tutorials/screenshots/2024-02-28_11-10.png
  docs/pages/guides/tutorials/screenshots/2024-02-28_11-11.png
  docs/pages/guides/tutorials/screenshots/2024-02-28_11-33.png
  docs/pages/guides/tutorials/screenshots/2024-02-28_11-35.png
  docs/pages/guides/tutorials/screenshots/2024-02-28_11-37.png
  docs/pages/guides/tutorials/screenshots/2024-02-28_11-45.png
  docs/pages/guides/tutorials/screenshots/2024-02-28_11-48.png
  docs/pages/guides/tutorials/screenshots/2024-02-28_11-53.png
  docs/pages/guides/tutorials/screenshots/2024-02-29_20-37.png
Labels: area/docs

#10524 [Docs] Relationships page update
  docs/assets/img/meshmodel/relationships/edge_firewall_relationship_pod_to_pod.png
  docs/assets/img/meshmodel/relationships/edge_firewall_relationship_pod_to_pod.svg
  docs/assets/img/meshmodel/relationships/edge_mount_relationship_pod_persistent_volume.png
  docs/assets/img/meshmodel/relationships/edge_mount_relationship_pod_persistent_volume.svg
  docs/assets/img/meshmodel/relationships/edge_network_ingress_to_service_relationship.svg
  docs/assets/img/meshmodel/relationships/edge_network_service_to_endpoint_relationship.png
  docs/assets/img/meshmodel/relationships/edge_network_service_to_endpoints_relationship.svg
  docs/assets/img/meshmodel/relationships/edge_network_service_to_pod_relationship.svg
  docs/assets/img/meshmodel/relationships/edge_network_service_to_service_relationship.svg
  docs/assets/img/meshmodel/relationships/edge_permission_relationship_cluster_role_service_account.png
  docs/assets/img/meshmodel/relationships/edge_permission_relationship_cluster_role_service_account.svg
  docs/assets/img/meshmodel/relationships/hierarchical_inventory_relationship.png
  docs/assets/img/meshmodel/relationships/hierarchical_inventory_relationship.svg
  docs/assets/img/meshmodel/relationships/hierarchical_parent_relationship.png
  docs/assets/img/meshmodel/relationships/hierarchical_parent_relationship.svg
  docs/assets/img/meshmodel/relationships/network_edge_relationship_service_deployment.svg
  docs/pages/concepts/logical/relationships.md
Labels: area/docs

#10549 skip schema validation if schema is empty and comp is an annotation
  server/models/pattern/stages/validate.go
Labels: component/server

#10550 delete core comps generated due to incorrect source url
  server/meshmodel/meshery-flowchart/1.0.0/Circle.json
  server/meshmodel/meshery-flowchart/1.0.0/ConcaveHexagon.json
  server/meshmodel/meshery-flowchart/1.0.0/Diamond.json
  server/meshmodel/meshery-flowchart/1.0.0/Heptagon.json
  server/meshmodel/meshery-flowchart/1.0.0/Hexagon.json
  server/meshmodel/meshery-flowchart/1.0.0/Pentagon.json
  server/meshmodel/meshery-flowchart/1.0.0/Polygon.json
  server/meshmodel/meshery-flowchart/1.0.0/Rhomboid.json
  server/meshmodel/meshery-flowchart/1.0.0/RightRhomboid.json
  server/meshmodel/meshery-flowchart/1.0.0/RoundTag.json
  server/meshmodel/meshery-flowchart/1.0.0/Section.json
  server/meshmodel/meshery-flowchart/1.0.0/Star.json
  server/meshmodel/meshery-flowchart/1.0.0/Tag.json
  server/meshmodel/meshery-flowchart/1.0.0/Triangle.json
Labels: component/server, area/models

#10551 [Fix]: Connections page env assignment bugs
  ui/components/connections/index.js
  ui/components/multi-select-wrapper.js
Labels: component/ui

#10554 Rearrange Logging Section
  docs/pages/project/contributing/meshery-server.md
Labels: area/docs

#10566 fix parent child relation with section
  server/meshmodel/meshery-shapes/relationships/hierarchical-parent-child-relationship.json
Labels: component/server, area/models

#10545 Update jekyll docker image to 4.0 in Makefile
  Makefile
  docs/Makefile
Labels: area/docs

#10552 Simplify the Environment assign in connections table
  ui/components/multi-select-wrapper.js
Labels: component/ui

#10553 [Add]: Relationship between KubeArmorHostPolicy and k8s components
  server/meshmodel/kubearmor/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10547 [chore] fix integrations updater workflow
  .github/workflows/integrations-updater.yml
Labels: area/ci

#10548 Move all components to sistent single package
  ui/components/DashboardComponent/resources/resources-table.js
  ui/components/DashboardComponent/view.js
  ui/components/ExportModal.js
  ui/components/Filters.js
  ui/components/Header.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/Lifecycle/Workspaces/workspace-card.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/style.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/Navigator.js
  ui/components/NotificationCenter/constants.js
  ui/components/User.js
  ui/components/UserPreferences/index.js
  ui/components/ViewSwitch.js
  ui/components/YamlDialog.js
  ui/components/connections/index.js
  ui/components/connections/meshSync/index.js
  ui/utils/custom-column.js
  ui/utils/custom-filter.js
  ui/utils/custom-search.js
Labels: kind/enhancement, component/ui

#10337 Fix exp components cmd bugs
  mesheryctl/internal/cli/root/components/components.go
  mesheryctl/internal/cli/root/components/list.go
  mesheryctl/internal/cli/root/components/search.go
  mesheryctl/internal/cli/root/components/view.go
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/internal/cli/root/system/components.go
  mesheryctl/pkg/utils/auth.go
  mesheryctl/pkg/utils/testing.go
Labels: component/mesheryctl

#10070 feat: relationship between Limit-range and other components
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10402 solves hover effect issue in dark mode
  docs/_layouts/past-results-layout.html
  docs/_sass/root-variables.scss
  docs/_sass/table.scss
Labels: area/docs

#10576 Feat: Update model generator
  go.mod
  go.sum
  mesheryctl/internal/cli/root/registry/generate.go
Labels: component/mesheryctl

#10528 fix cancel search button
  ui/utils/custom-search.js
Labels: component/ui

#10598 [Fix Docs] Improve code formatting for ALL code blocks
  docs/_sass/clipboard.scss
Labels: area/docs

#10540 [Docs]: Add a new contrib docs page for Model Relationships
  docs/_data/toc.yml
  docs/pages/project/contributing/contributing-model-relationships.md
  docs/pages/project/contributing/contributing-models.md
Labels: area/docs

#10587 Update patterns.md
  docs/pages/concepts/logical/patterns.md
Labels: area/docs

#10534 [Add]: Relationship between KubeArmorPolicy and Kubernetes Components
  server/meshmodel/kubearmor/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10601 [Docs] Commands visibility fix
  docs/_sass/clipboard.scss
Labels: area/docs

#10605 Upgrade to Sistent v0.14.18
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#10596 selectors snipeet backing relationships
  docs/pages/concepts/logical/relationships.md
Labels: area/docs

#10608 Create edge_annotation.json
  server/meshmodel/meshery-shapes/1.0.0/relationships/edge_annotation.json
Labels: component/server, area/models

#10607 Create hierarchical_parent.json
  server/meshmodel/meshery-shapes/relationships/hierarchical_parent.json
Labels: component/server, area/models

#10609 fix edge annotation relationship
  server/meshmodel/meshery-shapes/relationships/edge_annotation.json
Labels: component/server, area/models

#10612 Update pattern API to support visibility change
  server/handlers/meshery_pattern_handler.go
Labels: component/server

#10493 feat: Relationship between Workspace and other aws-prometheusservice-controller components
  server/meshmodel/aws-prometheusservice-controller/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10622 Revert "Bump react-dom from 17.0.2 to 18.2.0 in /ui"
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#10581 Add meshery-nighthawk helm chart
  install/kubernetes/helm/meshery/Chart.lock
  install/kubernetes/helm/meshery/Chart.yaml
  install/kubernetes/helm/meshery/README.md
  install/kubernetes/helm/meshery/charts/meshery-nighthawk/.helmignore
  install/kubernetes/helm/meshery/charts/meshery-nighthawk/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-nighthawk/README.md
  install/kubernetes/helm/meshery/charts/meshery-nighthawk/templates/NOTES.txt
  install/kubernetes/helm/meshery/charts/meshery-nighthawk/templates/_helpers.tpl
  install/kubernetes/helm/meshery/charts/meshery-nighthawk/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-nighthawk/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-nighthawk/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-nighthawk/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-nighthawk/templates/tests/test-connection.yaml
  install/kubernetes/helm/meshery/charts/meshery-nighthawk/values.yaml
  install/kubernetes/helm/meshery/values.yaml
  install/mesheryapp.dockerapp/docker-compose.yml
  install/mesheryapp.dockerapp/parameters.yml
Labels: framework/helm

#10535 Relationship between AWS FieldExport and k8s resources.
  server/meshmodel/aws-cloudfront-controller/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10620 fix(MesheryPatterns): update designs data when updating information through info modal
  ui/components/MesheryPatterns.js
  ui/components/Modals/Information/InfoModal.js
Labels: component/ui

#10625 UI Extension: GitHub Action - Performance Analysis
  ui/pages/extensions.js
Labels: component/ui, component/extensions

#10628 Improve some UI elements in dashboard
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/resources/resources-sub-menu.js
Labels: component/ui

#10516 feat: Mesheryctl Connections command
  mesheryctl/helpers/component_info.json
  mesheryctl/internal/cli/root/connections/connections.go
  mesheryctl/internal/cli/root/connections/delete.go
  mesheryctl/internal/cli/root/connections/list.go
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#10633 [DOCS] replace backticks with bold formatting
  docs/pages/project/contributing/contributing-model-relationships.md
Labels: area/docs

#10638 feat(docs): add error code name to search link (#10635)
  docs/pages/reference/error-codes.md
Labels: area/docs
