Repository meshery/meshery, pull requests merged in 2024-11, with the labels that each got.

#12536 [Docs] Additional FAQ
  docs/pages/extensions/helm-kanvas-snapshot/index.md
  docs/pages/project/FAQ.md
Labels: area/docs

#12514 Performance profile bugs
  ui/components/MesheryPerformance/Dashboard.js
  ui/components/MesheryPerformance/PerformanceCard.js
  ui/components/MesheryPerformance/PerformanceProfileGrid.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesheryPerformance/index.js
Labels: component/ui

#12525 [DOC] Deploy an EC2 instance with Meshery
  docs/_data/toc.yml
  docs/pages/guides/tutorials/aws-controllers/aws-connection.png
  docs/pages/guides/tutorials/aws-controllers/configure-secret.png
  docs/pages/guides/tutorials/aws-controllers/configure.png
  docs/pages/guides/tutorials/aws-controllers/controller-chart.png
  docs/pages/guides/tutorials/aws-controllers/controller-operator-mode.png
  docs/pages/guides/tutorials/deploy-an-ec2-instance-with-meshery.md
Labels: area/docs

#12540 remove section and texbox from the meshery-shapes
  server/meshmodel/meshery-shapes/0.7.1/v1.0.0/components/TextBox.json
  server/meshmodel/meshery-shapes/0.7.2/v1.0.0/components/Section.json
  server/meshmodel/meshery-shapes/0.7.2/v1.0.0/components/TextBox.json
Labels: component/server, area/models

#12558 Bump sistent
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12563 fix textFill warning issue while running ui
  ui/components/LoadingComponents/Animations/AnimatedMeshery.js
  ui/components/LoadingComponents/Animations/AnimatedMesheryCSS.js
Labels: component/ui

#12533 Marked Attendance
  docs/_meetings/week-of-10-28-2024/Sayan-Banerjee.md
Labels: area/docs, issue/dco

#12564 add navbar logo extension point
  ui/components/Header.js
Labels: component/ui

#12560 Update first-time-contributor.yml: Addressing Points Raised in PR #12436
  .github/workflows/first-time-contributor.yml
Labels: area/ci

#12005 [DOC] Restructure Minikube Installation
  docs/_includes/installation/accessing-meshery-ui.md
  docs/assets/img/applications/minikube-upload.png
  docs/pages/installation/minikube.md
Labels: area/docs

#12570 fix: crash on deploy from extension due to wrong redux scope
  ui/components/DesignLifeCycle/finalizeDeployment.js
Labels: component/ui

#12539 feat: add ability to display custom information on integration pages
  docs/_config.yml
  docs/_config_dev.yml
  docs/_layouts/integration.html
  docs/_modelscustominfo/.gitkeep
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#12569 Aws documentations
  docs/_modelscustominfo/aws-ec2.md
Labels: area/docs

#12571 [Chore]: Bump Sistent v0.14.110
  ui/package-lock.json
Labels: component/ui

#12574 hardcode k8s version w/signoff
  server/meshmodel/kubernetes/v1.32.0-alpha.3/v1.0.0/components/KubernetesConnection.json
  server/meshmodel/kubernetes/v1.32.0-alpha.3/v1.0.0/components/KubernetesCredential.json
  server/models/seed_models.go
Labels: component/server, area/models

#12568 chore: add test id and binary build for meshery ui local
  Makefile
  ui/components/User.js
Labels: component/ui

#12506 Add embeddings for relationships
  docs/assets/img/meshmodel/relationships/embedded-design-edge-annotation-relationship.js
  docs/assets/img/meshmodel/relationships/embedded-design-edge-binding-permissions-relationship.js
  docs/assets/img/meshmodel/relationships/embedded-design-hierarchical-parent-inventory-relationship.js
  docs/assets/img/meshmodel/relationships/embedded-design-hierarchical-parent-wallet-relationship.js
  docs/pages/concepts/logical/relationships.md
Labels: area/docs

#12480 redirection url corrected
  ui/utils/utils.js
Labels: component/ui

#12581 [UI] Deployment - target environment, connection error
  ui/components/DesignLifeCycle/SelectDeploymentTarget.js
  ui/components/Header.js
Labels: component/ui

#12541 [UI] fixed same model count for each registrants
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
Labels: component/ui

#12561 Sorry for marking Attendance so late
  docs/_meetings/week-of-10-28-2024/GauravChaudhary.md
Labels: area/docs, issue/dco

#12449 Adding/Modified e2e tests for performance profiles
  ui/components/CustomToolbarSelect.js
  ui/components/MesheryChartDialog.js
  ui/tests/e2e/service-mesh-performance.spec.js
Labels: component/ui, tests

#12585 fix name set to autogenerated w/signoff
  server/handlers/meshery_pattern_handler.go
Labels: component/server

#12591 pod security policy w/signoff
  server/meshmodel/kubernetes/v1.32.0-alpha.3/v1.0.0/components/PodSecurityPolicy.json
Labels: component/server, area/models

#12594 [Chore]: Bump Sistent v0.14.111
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12595 [Chore]: Bump @layer5/sistent v0.14.111
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12575 add new params of orgid and user id in the catalog api
  server/handlers/meshery_pattern_handler.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/catalog_content.go
  server/internal/graphql/schema/schema.graphql
  server/models/default_local_provider.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: component/server

#12597 Create Hargun-Kaur.md
  docs/_meetings/week-of-11-04-2024/Hargun-Kaur.md
Labels: area/docs

#12596 fix network rel w/signoff
  server/meshmodel/kubernetes/v1.32.0-alpha.3/v1.0.0/relationships/edge-non-binding-network-duixv.json
Labels: component/server, area/models

#12602 Create Piyush-Bafna.md
  docs/_meetings/week-of-11-04-2024/Piyush-Bafna.md
Labels: area/docs

#12601 Create tarsh-swarnkar.md
  docs/_meetings/week-of-11-04-2024/tarsh-swarnkar.md
Labels: area/docs

#12598 Create aayan-mateen.md
  docs/_meetings/week-of-11-04-2024/aayan-mateen.md
Labels: area/docs

#12592 Delete previous performance profile tests page
  ui/tests/e2e/service_mesh_performance.spec.js
Labels: component/ui, tests

#12604 update rego to support heirachical parent annotation w/signoff
  go.mod
  mesheryctl/pkg/utils/relationship.go
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/evaluation.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/hierarchical_parent_and_edge_network.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/identify_binding_policy.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/identify_parent_and_network.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/relationship_diff_policy.rego
  server/meshmodel/meshery-shapes/0.7.2/v1.0.0/relationships/hierarchical-parent-inventory-errpf.json
Labels: component/mesheryctl, component/server, area/models

#12590 Notification center bugs and optimizations
  ui/components/NotificationCenter/index.js
  ui/components/NotificationCenter/metadata.js
  ui/components/NotificationCenter/notification.js
Labels: component/ui

#12587 [UI] Performance page migration to MUI v5
  ui/components/MesheryPerformance/Dashboard.js
Labels: component/ui

#12584 [mesheryctl] Add some prereq checks for system config gke command
  mesheryctl/pkg/utils/scripts.go
Labels: component/mesheryctl

#12607 Fix redirects
  server/handlers/ui_handler.go
  server/models/extension_utils.go
  server/models/release_channel.go
Labels: component/server, area/models

#12611 fix fontstyle under deploy stepper
  ui/components/DesignLifeCycle/finalizeDeployment.js
Labels: component/ui

#12614 Environment kubernetes chip fix
  ui/components/DesignLifeCycle/SelectDeploymentTarget.js
  ui/components/Header.js
Labels: component/ui

#12608 dynamically create subscriptions based on permissions
  ui/components/NotificationCenter/index.js
  ui/pages/_app.js
Labels: component/ui

#12616 remove header toolbar whitespace for the mobile view
  ui/components/Header.js
Labels: component/ui

#12618 fix: Broken link in meshery sistent docs
  docs/pages/project/contributing/contributing-ui-sistent.md
Labels: area/docs

#12612 UI: [component/MesheryResultDialog] convert from class based to functional component
  ui/components/MesheryResultDialog.js
Labels: component/ui

#12600 Create SamuelNyambura.md
  docs/_meetings/week-of-11-04-2024/SamuelNyambura.md
Labels: area/docs, issue/dco

#12599 Attendence for Nov 4th new comers meet
  docs/_meetings/week-of-11-04-2024/Himanshu.md
Labels: area/docs

#12617 fix: [UI] Kubernetes context switcher pulls down too far
  ui/components/Header.js
Labels: component/ui

#12586 fix: playwright trace is missing on ci
  ui/package.json
  ui/playwright.config.js
Labels: component/ui

#12582 Loading screen text issue fixed
  ui/components/LoadingComponents/Animations/AnimatedMesheryCSS.js
  ui/components/LoadingComponents/LoadingComponentServer.js
Labels: component/ui

#12622 use Qanelas Font in the meshery ui
  ui/public/static/style/font.css
  ui/public/static/style/index.css
Labels: component/ui

#12626 fix styling mess due global sistent
  ui/components/LoadingComponents/LoadingComponentServer.js
Labels: component/ui

#12631 [Chore]: Bump v
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12633 Cache clear
  server/handlers/middlewares.go
  server/models/handlers.go
  server/models/remote_provider.go
  server/router/server.go
Labels: component/server, area/models

#12630 show server and other request errors in dryRunResponse
  ui/components/DesignLifeCycle/DryRun.js
  ui/machines/validator/designValidator.js
Labels: component/ui

#12634 [Chore]: Bump v0.14.115
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12636 [Chore]: Bump v0.14.116
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12637 fix namespace w/signoff
  server/meshmodel/kubernetes/v1.32.0-alpha.3/v1.0.0/components/Namespace.json
Labels: component/server, area/models

#12638 replace meshery.layer5.io with cloud.layer5.io
  .github/workflows/build-ui-and-server.yml
  .github/workflows/cncf-staging-playground-deploy-meshery.yaml
  CONTRIBUTING.md
  docs/_layouts/integration.html
  docs/_modelscustominfo/aws-ec2.md
  docs/pages/guides/configuration-management/filter-management.md
  docs/pages/guides/troubleshooting/installation.md
  docs/pages/guides/tutorials/deploy-an-ec2-instance-with-meshery.md
  docs/pages/guides/tutorials/deploy-cassandra-with-statefulset.md
  docs/pages/guides/tutorials/exploring-kubernetes-cronjobs.md
  docs/pages/guides/tutorials/kubernetes-pods.md
  docs/pages/guides/tutorials/wordpress-mysql-persistentvolume.md
  docs/pages/installation/minikube.md
  docs/pages/project/contributing/contributing-docs.md
  docs/pages/project/contributing/contributing-ui-tests.md
  docs/pages/reference/meshync-crd-reference.md
  docs/pages/reference/rest-api-reference.md
  install/Makefile.core.mk
  install/deployment_yamls/k8s/meshery-deployment.yaml
  install/docker-extension/docker-compose.yaml
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  install/docker-extension/ui/src/components/utils/constants.js
  install/docker-extension/vm/proxy/proxy.go
  install/docker/docker-compose.yaml
  install/kubernetes/helm/meshery-operator/charts/meshery-broker/templates/meshery_v1alpha1_broker_cr.tpl
  install/kubernetes/helm/meshery-operator/charts/meshery-meshsync/templates/meshery_v1alpha1_broker_cr.tpl
  install/kubernetes/helm/meshery-operator/crds/crds.yaml
  install/kubernetes/helm/meshery-operator/templates/clusterrole.yaml
  install/kubernetes/helm/meshery/README.md
  install/kubernetes/helm/meshery/crds/crds.yaml
  install/kubernetes/helm/meshery/values.yaml
  install/mesheryapp.dockerapp/docker-compose.yml
  install/playground/docker/Makefile
  install/playground/docker/docker-compose.yaml
  install/playground/kubernetes/meshery-playground-deployment.yaml
  mesheryctl/internal/cli/root/system/fixtures/.meshery/meshery.yaml
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/pkg/utils/helpers.go
  provider-ui/pages/auth/redirect.js
  server/cmd/main.go
  server/machines/helpers/auto_register.go
  ui/components/TroubleshootingModalComponent.js
  ui/constants/endpoints.js
  ui/pages/extensions.js
  ui/tests/e2e/env.js
Labels: area/docs, component/mesheryctl, area/ci, component/ui, area/lifecycle, component/extensions, component/server, framework/helm, kubernetes, playground, tests

#12642 add new trim params for catalog api
  server/handlers/meshery_pattern_handler.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/catalog_content.go
  server/internal/graphql/schema/schema.graphql
  server/models/default_local_provider.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: component/server

#12659 update templates for model generation w/signoff
  mesheryctl/internal/cli/root/model/import.go
  mesheryctl/internal/cli/root/registry/generate.go
  mesheryctl/template.json
  mesheryctl/templates/template-csvs/Components.csv
  mesheryctl/templates/template-csvs/Models.csv
  mesheryctl/templates/template-csvs/Relationships.csv
  mesheryctl/templates/template.json
Labels: component/mesheryctl

#12660 fix formatting on meshery models contributing guide
  docs/pages/project/contributing/contributing-models-quick-start.md
Labels: area/docs

#12651 use same app loading screen for extensions page
  ui/components/LoadingComponents/DynamicFullscreenLoader.js
  ui/components/LoadingComponents/LoadingComponentServer.js
  ui/components/NavigatorExtension.js
  ui/pages/extension/[...component].js
  ui/rtk-query/ability.js
Labels: component/ui

#12146 Generate cmd
  docs/assets/img/export/ExportModel.gif
  docs/assets/img/export/ExportingModel.png
  docs/assets/img/export/ExportingModsel.png
  docs/assets/img/generate/CsvTemplate.gif
  docs/assets/img/generate/GenerateFromCsv.gif
  docs/assets/img/generate/GenerateFromURl.gif
  docs/assets/img/import/ImportModel.gif
  docs/assets/img/import/ImportingModel.png
  docs/pages/guides/configuration-management/exporting-models.md
  docs/pages/guides/configuration-management/generating-models.md
  docs/pages/guides/configuration-management/importing-models.md
  go.mod
  go.sum
  mesheryctl/internal/cli/root/design/import.go
  mesheryctl/internal/cli/root/model/error.go
  mesheryctl/internal/cli/root/model/generate.go
  mesheryctl/internal/cli/root/model/import.go
  mesheryctl/internal/cli/root/model/model.go
  mesheryctl/internal/cli/root/registry/generate.go
  mesheryctl/internal/cli/root/registry/update.go
  mesheryctl/pkg/utils/auth.go
  mesheryctl/pkg/utils/component.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/formatter.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/model.go
  mesheryctl/pkg/utils/relationship.go
  mesheryctl/pkg/utils/spreadsheet_update.go
  server/cmd/error.go
  server/cmd/main.go
  server/handlers/component_handler.go
  server/handlers/componetgenratorhelper.go
  server/handlers/error.go
  server/helpers/utils/utils.go
  server/models/seed_models.go
  ui/assets/icons/ModelIcon.js
  ui/assets/icons/SourceIcon.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/NotificationCenter/metadata.js
Labels: area/docs, component/mesheryctl, component/ui, component/server

#12661 update the model name for relationships w/signoff
  mesheryctl/templates/template-csvs/Relationships.csv
Labels: component/mesheryctl

#12662 update docs w/signoff
  docs/pages/project/contributing/contributing-models-quick-start.md
Labels: area/docs

#12652 Create vivek-vishal.md
  docs/_meetings/week-of-11-11-2024/vivek-vishal.md
Labels: area/docs

#12653 Create akhilesh-jyotishi.md
  docs/_meetings/week-of-11-11-2024/akhilesh-jyotishi.md
Labels: area/docs

#12654 Create James-Kinyua.md
  docs/_meetings/week-of-11-11-2024/James-Kinyua.md
Labels: area/docs

#12655 Create ashparsh-pandey.md
  docs/_meetings/week-of-11-11-2024/ashparsh-pandey.md
Labels: area/docs

#12656 Create Rahul-gupta.md
  docs/_meetings/week-of-11-11-2024/Create Rahul-gupta.md
Labels: area/docs

#12658 Create Aman.md
  docs/_meetings/week-of-11-11-2024/Aman.md
Labels: area/docs

#12664 chore: upgrade kanvas snapshot
  .github/workflows/kanvas.yml
Labels: area/ci

#12666 enhance mobile view of the header
  ui/components/Header.js
  ui/components/SpacesSwitcher/SpaceSwitcher.js
Labels: component/ui

#12668 add new operator images
  ui/public/static/img/operator_dark.webp
  ui/public/static/img/operator_light.webp
Labels: component/ui

#12667 revert crd name and apiversion changes
  docs/pages/reference/meshync-crd-reference.md
  install/kubernetes/helm/meshery-operator/charts/meshery-broker/templates/meshery_v1alpha1_broker_cr.tpl
  install/kubernetes/helm/meshery-operator/charts/meshery-meshsync/templates/meshery_v1alpha1_broker_cr.tpl
  install/kubernetes/helm/meshery-operator/crds/crds.yaml
  install/kubernetes/helm/meshery-operator/templates/clusterrole.yaml
  install/kubernetes/helm/meshery/crds/crds.yaml
  mesheryctl/internal/cli/root/system/stop.go
  server/machines/helpers/auto_register.go
Labels: area/docs, component/mesheryctl, component/server, framework/helm, kubernetes

#12670 add catalog links
  docs/pages/guides/tutorials/deploy-aws-ec2-instances-with-meshery.md
Labels: area/docs

#12675 Fix Yjs multiimport
  ui/components/ExtensionSandbox.js
  ui/package-lock.json
  ui/package.json
  ui/remote-component.config.js
Labels: component/ui, component/extensions

#12674 add support for workspaceid based filter
  server/handlers/meshery_pattern_handler.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/catalog_content.go
  server/internal/graphql/schema/schema.graphql
  server/models/default_local_provider.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: component/server

#12682 [Chore]: Bump Sistent v0.14.118
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12681 fix empty commit w/signoff
  mesheryctl/internal/cli/root/registry/generate.go
  mesheryctl/pkg/utils/component.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/model.go
  server/handlers/component_handler.go
Labels: component/mesheryctl, component/server

#12684 fix: only pass request errors if any
  ui/components/DesignLifeCycle/DryRun.js
  ui/machines/validator/designValidator.js
Labels: component/ui

#12680 Pass meshery store and organization store in remote component
  ui/components/NavigatorExtension.js
  ui/lib/store.js
Labels: component/ui

#12693 update logic for helm chart handling w/signoff
  server/handlers/meshery_pattern_handler.go
Labels: component/server, pr/hold

#12692 [Chore} fix minor typo
  mesheryctl/internal/cli/root/system/error.go
Labels: component/mesheryctl

#12689 e2e test: add local provider
  ui/package-lock.json
  ui/package.json
  ui/playwright.config.js
  ui/tests/e2e/auth.setup.js
  ui/tests/e2e/connections.spec.js
  ui/tests/e2e/fixtures/setup.js
Labels: component/ui, tests

#12671 Updated the components by replacing the custom ErrorBoundary with SistentErrorBoundary directly.
  ui/components/UserPreferences/spaces-preferences.js
  ui/components/connections/index.js
Labels: component/ui

#12700 fix passing current org state to remote component
  ui/components/NavigatorExtension.js
Labels: component/ui

#12702 fix rtk query for delete pattern mutation
  ui/components/MesheryPatterns.js
Labels: kind/bug

#12709 [Chore]: Bump Sistent v0.14.120
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12712 fix: info modal not open in a case of null data
  ui/utils/objects.js
Labels: component/ui

#12713 [Chore]: Bump graphql-ws v5.16.0
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12714 add keys value to values.yaml
  install/kubernetes/helm/meshery/values.yaml
Labels: framework/helm, kubernetes

#12734 Create eka_e.md
  docs/_meetings/week-of-11-18-2024/eka_e.md
Labels: area/docs

#12721 Create sanjay-j.md
  docs/_meetings/week-of-11-18-2024/sanjay-j.md
Labels: area/docs

#12722 Create aneeshkumar.md
  docs/_meetings/week-of-11-18-2024/aneeshkumar.md
Labels: area/docs

#12720 Create Mohamed-Abdullah-F.md
  docs/_meetings/week-of-11-18-2024/Mohamed-Abdullah-F.md
Labels: area/docs

#12726 Create Karthik-Namboori.md
  docs/_meetings/week-of-11-18-2024/Karthik-Namboori.md
Labels: area/docs

#12736 chore: add missing closing li tag
  docs/pages/project/contributing/contributing-models-quick-start.md
Labels: area/docs

#12731 Create Pulkit
  docs/_meetings/week-of-11-18-2024/Pulkit
Labels: area/docs

#12733 Create aryanpachchigar.md
  docs/_meetings/week-of-11-18-2024/aryanpachchigar.md
Labels: area/docs

#12729 Create NewComer.md
  docs/_meetings/week-of-11-18-2024/saloni.md
Labels: area/docs

#12718 Create vivek-vishal.md
  docs/_meetings/week-of-11-18-2024/vivek-vishal.md
Labels: area/docs

#12725 Create ujjawal-agrawal.md
  docs/_meetings/week-of-11-18-2024/ujjawal-agrawal.md
Labels: area/docs

#12719 Create Barath-Elangovan.md
  docs/_meetings/week-of-11-18-2024/Barath-Elangovan.md
Labels: area/docs

#12738 Newcomers meeting Attendance
  docs/_meetings/week-of-11-18-2024/yash-sharma.md
Labels: area/docs

#12711 Bump relay-compiler to version 18.1.0 in package.json and package-lock.json
  ui/package-lock.json
  ui/package.json
Labels: component/ui, dependencies

#12635 fix : [UI] Failed to show Meshery UI on CLI Command Reference
  docs/pages/reference/mesheryctl/mesheryctl-registry-generate.md
Labels: area/docs

#12740 add font face that we are using in sistent
  ui/public/static/style/font.css
Labels: component/ui

#12703 E2E test: seperate user session from local provider and meshery
  .github/workflows/comment-e2e-test.yml
  ui/package-lock.json
  ui/playwright.config.js
  ui/tests/e2e/auth.setup.js
  ui/tests/e2e/env.js
  ui/tests/e2e/fixtures/project.js
  ui/tests/e2e/service-mesh-performance.spec.js
Labels: area/ci, component/ui, tests

#12749 [Chore]: Bump Sistent v0.14.121
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12756 Add comment
  mesheryctl/internal/cli/root/registry/update.go
  mesheryctl/pkg/utils/model.go
  server/cmd/main.go
  server/handlers/ui_handler.go
  server/models/release_channel.go
  server/models/seed_models.go
Labels: component/mesheryctl, component/server

#12759 remove panic when err when err is empty
  server/models/error.go
  server/models/remote_provider.go
Labels: component/server

#12753 update rego to check for existing value
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/patch_helper_rules.rego
Labels: component/server, area/models

#12757 show default sorting direction in the tables
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/connections/index.js
Labels: component/ui

#12766 [Chore]: Bump Sistent v0.14.122
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12764 test: fix local provider check for non permisive ui
  ui/tests/e2e/connections.spec.js
Labels: component/ui, tests

#12765 fix: permission keys pull 404 pages
  .github/workflows/generate_keys.yml
Labels: area/ci

#12768 [Chore]: Bump Sistent v0.14.123
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12511 Migrated CustomToolbarSelect Component from MUIv4 to MUIv5 and Sistent
  ui/components/CustomToolbarSelect.js
Labels: component/ui

#12747 Migrated class based MesherySettingsPerformanceComponent to functional component.
  ui/components/MesherySettingsPerformanceComponent.js
Labels: component/ui

#12737 Migrated class based MesherySettings component to functional component.
  ui/components/MesherySettings.js
Labels: component/ui

#12755 Improvement in errorBoundary
  ui/components/Connect/index.js
  ui/components/ErrorBoundary.js
  ui/components/General/ErrorBoundary.js
  ui/components/General/error-404/CurrentSession.js
  ui/components/General/error-404/OrgSwitcher.js
  ui/components/General/error-404/RequestForm.js
  ui/components/General/feedback.js
  ui/components/General/style.js
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternServiceFormCore.js
  ui/components/Modals/Information/InfoModal.js
  ui/components/NavigatorExtension.js
  ui/components/NotificationCenter/filter.js
  ui/components/NotificationCenter/index.js
  ui/components/NotificationCenter/notification.js
  ui/components/connections/index.js
  ui/pages/_app.js
  ui/rtk-query/user.js
Labels: component/ui

#12772 [UI] Migrating Settings Page to use MUIv5 styling and sistent components and theme tokens
  ui/components/MesherySettings.js
  ui/components/MesherySettingsEnvButtons.js
  ui/components/MesherySettingsPerformanceComponent.js
  ui/pages/settings.js
Labels: component/ui

#12771 ci: fix and add email on failure when generate permission keys
  .github/workflows/generate_keys.yml
Labels: area/ci

#12780 Revert "Improvement in errorBoundary"
  ui/components/Connect/index.js
  ui/components/ErrorBoundary.js
  ui/components/General/ErrorBoundary.js
  ui/components/General/error-404/CurrentSession.js
  ui/components/General/error-404/OrgSwitcher.js
  ui/components/General/error-404/RequestForm.js
  ui/components/General/feedback.js
  ui/components/General/style.js
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternServiceFormCore.js
  ui/components/Modals/Information/InfoModal.js
  ui/components/NavigatorExtension.js
  ui/components/NotificationCenter/filter.js
  ui/components/NotificationCenter/index.js
  ui/components/NotificationCenter/notification.js
  ui/components/connections/index.js
  ui/pages/_app.js
  ui/rtk-query/user.js
Labels: component/ui

#12781 [Chore]: Bump Sistent v0.14.124
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12779 remove tests
  mesheryctl/internal/cli/root/perf/apply_test.go
Labels: component/mesheryctl

#12770 update component metadata of kubernetes_resource table
  server/models/meshsync_events.go
Labels: component/server

#12787 Marking my Attendance
  docs/_meetings/week-of-11-25-2024/atharvmalve.md
Labels: area/docs

#12786 Marking attendance for erica-lin.md
  docs/_meetings/week-of-11-25-2024/erica-lin.md
Labels: area/docs

#12784 marking my attendance
  docs/_meetings/week-of-11-25-2024/vivek-vishal.md
Labels: area/docs

#12785 Create piyush_kumar.md
  docs/_meetings/week-of-11-25-2024/piyush_kumar.md
Labels: area/docs

#12773 [Docs] Build and Release: Update ci-build-and-release.md
  docs/pages/project/contributing/ci-build-and-release.md
Labels: area/docs

#12793 extensions: Fix the query body for api/user/prefs endpoint.
  ui/rtk-query/user.js
Labels: component/ui

#12457 [ UI ] - Popup component MUI version updated.
  ui/components/Popup.js
Labels: component/ui

#12318 [MesheryPlayComponent] - Migrated class based play component to functional component.
  ui/components/MesheryPlayComponent.js
Labels: component/ui

#12776 Settings page font changed.
  ui/components/MeshModelRegistry/MeshModel.style.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
  ui/components/NavigatorExtension.js
Labels: component/ui

#12794 [Chore]: Bump Sistent v0.14.125
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12795 file upload for helm chart
  server/handlers/meshery_pattern_handler.go
Labels: component/server

#12767 add comments in rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/binding_policy.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/deny_relationship_evaluator.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/evaluation.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/helper_rules.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/identify_binding_policy.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/identify_hierarchical_sibling.rego
Labels: component/server, area/models

#12796 enrich logs for subscribe w/signoff
  server/models/event_broadcast.go
Labels: component/server

#12797 test: fix local provider connection body and re enabled performance test
  ui/tests/e2e/connections.spec.js
  ui/tests/e2e/service-mesh-performance.spec.js
Labels: component/ui, tests

#12643 Added in documentation to use a valid uuid for --orgId
  docs/pages/reference/mesheryctl/mesheryctl-exp-environment-create.md
Labels: area/docs
