Repository meshery/meshery, pull requests merged in 2024-04, with the labels that each got.

#10650 fix docs search field
  docs/_sass/tabbed-menu.scss
Labels: area/docs

#10649 update parent child rels
  server/meshmodel/kubernetes/relationships/hierarchical_parent.json
  server/meshmodel/meshery-core/0.7.1/components/NodeGroupInventoryWallet.json
  server/meshmodel/meshery-shapes/relationships/hierarchical_parent.json
Labels: component/server, area/models

#10664 hide radio buttons on api-ref
  docs/pages/extensibility/api.md
Labels: area/docs

#10667 edge annotation arrow head color
  server/meshmodel/meshery-shapes/relationships/edge_annotation.json
Labels: component/server, area/models

#10669 fix: dashboard charts
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/rtk-query/meshModel.js
Labels: component/ui

#10670 feat: generate relationship docs
  docs/_data/RelationshipsData.json
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/internal/cli/root/relationships/generate.go
  mesheryctl/internal/cli/root/relationships/relationship.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
Labels: area/docs, component/mesheryctl

#10668 chore: replace dashboard popup image
  ui/components/Popup.js
  ui/package-lock.json
  ui/public/static/img/aws-light.svg
  ui/public/static/img/aws.svg
Labels: component/ui

#10644 Remove meshery-perf references
  docs/pages/concepts/architectural/adapters.md
  install/kubernetes/helm/meshery/Chart.lock
  install/kubernetes/helm/meshery/Chart.yaml
  install/kubernetes/helm/meshery/README.md
  install/kubernetes/helm/meshery/charts/meshery-perf/.helmignore
  install/kubernetes/helm/meshery/charts/meshery-perf/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/README.md
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/NOTES.txt
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/_helpers.tpl
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/tests/test-connection.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/values.yaml
  install/kubernetes/helm/meshery/values.yaml
Labels: area/docs, framework/helm

#10647 upgrade tar from 6.1.15 to 6.2.1
  ui/package.json
Labels: component/ui, security

#10624 upgrade alpine from 3.15.3 to 3.18.5 to solve vulnerabilities
  install/docker/Dockerfile
Labels: security

#10640 feat: Relationship cmd
  mesheryctl/internal/cli/root/components/components.go
  mesheryctl/internal/cli/root/components/view.go
  mesheryctl/internal/cli/root/relationships/relationship.go
  mesheryctl/internal/cli/root/relationships/view.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#10688 Create enhanced.html
  docs/_layouts/enhanced.html
Labels: area/docs

#10683 [CI][CLI] Include Cloud as a Target in the Publish Workflow
  .github/workflows/integrations-updater.yml
  mesheryctl/internal/cli/root/registry/error.go
  mesheryctl/internal/cli/root/registry/generate.go
  mesheryctl/internal/cli/root/registry/publish.go
  mesheryctl/pkg/utils/registry.go
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
Labels: component/mesheryctl, area/ci, component/ui

#10696 Fix cloud path in integration workflow
  .github/workflows/integrations-updater.yml
Labels: area/ci

#10680 Update cleanup script to check for "Terminating" namespaces and patch finalizers field
  .github/workflows/cncf-playground-reset.yaml
  install/playground/playground-cleanup.sh
Labels: area/ci, playground

#10697 Revert "Create enhanced.html"
  docs/_layouts/enhanced.html
Labels: area/docs

#10698 remove extra strings from integration docs body
  mesheryctl/pkg/utils/model.go
Labels: component/mesheryctl

#10690 Update Relationship documentation.
  docs/pages/project/contributing/contributing-model-relationships.md
Labels: area/docs

#10692 fix : Local Provider: Designs fail to load
  ui/components/MesheryPatterns.js
Labels: component/ui

#10707 [Bug][Server] Fix nil pointer error when importing Helm chart
  mesheryctl/internal/cli/root/registry/error.go
  mesheryctl/internal/cli/root/registry/publish.go
  mesheryctl/pkg/utils/error.go
  server/handlers/error.go
  server/handlers/meshery_pattern_handler.go
  ui/components/MesheryPatterns.js
Labels: component/mesheryctl, component/ui, component/server

#10706 update css for mobile view
  docs/_includes/related-discussions.html
  docs/_sass/footer.scss
  docs/_sass/layout.scss
  docs/_sass/navbar.scss
  docs/_sass/overview.scss
  docs/_sass/root-variables.scss
Labels: area/docs

#10674 fix improper passing and usage of props
  ui/components/Header.js
  ui/components/User.js
Labels: component/ui

#10533 Update to contributing-docs for issue #9976
  .gitpod.yml
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#10689 Make tabs `scrollable` for mobile screens
  ui/components/ConfirmationModal.js
  ui/components/DashboardComponent/index.js
  ui/components/MesherySettings.js
  ui/components/UserPreferences/index.js
  ui/components/Validation.js
Labels: component/ui

#10686 MeshModelComponent.js Component search fixed
  ui/components/MeshModelRegistry/MeshModelComponent.js
Labels: component/ui

#10699 Suggested reading
  docs/_includes/suggested-reading.html
  docs/_layouts/integration.html
Labels: area/docs

#10714 Fix mesheryctl publish to remote provider command
  mesheryctl/internal/cli/root/registry/publish.go
Labels: component/mesheryctl

#10716 [Docs] Fix broken link: Update toc.yml for managing-connections
  docs/_data/toc.yml
  docs/pages/guides/infrastructure-management/lifecycle-management.md
Labels: area/docs

#10646 Update to providers doc clarifying URLs
  docs/assets/img/providers/provider_screenshot_new.png
  docs/pages/extensibility/providers.md
Labels: area/docs

#10643 [CI] fix: Mesheryctl lint checks failing test
  .github/workflows/test_adaptersv2.yaml
  mesheryctl/internal/cli/root/pattern/offboard_test.go
  mesheryctl/internal/cli/root/pattern/onboard_test.go
  mesheryctl/internal/cli/root/pattern/testdata/offboard.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/onboard.output.golden
Labels: component/mesheryctl, area/ci

#10722 Reduced font size to 0.9rem in <code>
  docs/_includes/footer.html
  docs/_sass/code.scss
  docs/_sass/helpers.scss
  docs/_sass/layout.scss
  docs/_sass/navbar.scss
  docs/_sass/overview.scss
  docs/pages/index.md
Labels: area/docs

#10727 chore(Popup): change primary button color
  ui/components/Popup.js
Labels: component/ui

#10729 [Chore] Update copyright holder in project license
  .github/ISSUE_TEMPLATE/mesheryctl_feature.md
  .github/assets/images/meshery/meshery-logo-tag-dark-text-side.png
  CONTRIBUTING.md
  LICENSE
  MAINTAINERS.md
  README.md
  docs/_data/vulnerabilities/announce.yml
  docs/_includes/footer.html
  docs/_includes/mesheryctl/installation-brew.md
  docs/_includes/mesheryctl/installation-scoop.md
  docs/assets/favicons/site.webmanifest
  docs/meshery
  docs/pages/404.md
  docs/pages/extensibility/api.md
  docs/pages/guides/mesheryctl/working-with-mesheryctl.md
  docs/pages/index.md
  docs/pages/project/contributing/ci-build-and-release.md
  docs/pages/project/contributing/contributing-adapters.md
  docs/pages/project/contributing/contributing-cli.md
  docs/pages/project/contributing/contributing-docs.md
  docs/pages/project/contributing/contributing-guidelines.md
  docs/pages/project/contributing/contributing.md
  docs/pages/project/contributing/meshery-server.md
  docs/pages/project/mesheryctl/installation-brew.md
  mesheryctl/internal/cli/root/relationships/relationship.go
  mesheryctl/internal/cli/root/relationships/view.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/pkg/utils/fixtures/platform/manifesturl.api.response.golden
  mesheryctl/pkg/utils/fixtures/platform/manifesturl.latest.api.response.golden
  mesheryctl/pkg/utils/fixtures/validate.version.github.golden
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/platform.go
  mesheryctl/pkg/utils/platform_test.go
Labels: area/docs, component/mesheryctl, area/ci

#10726 Ripul handoo/mesheryctl/args error
  mesheryctl/helpers/component_info.json
  mesheryctl/internal/cli/root/connections/connections.go
  mesheryctl/internal/cli/root/connections/delete.go
Labels: component/mesheryctl

#10676 Fix the docs to import designs in meshery
  docs/_data/toc.yml
  docs/assets/img/applications/ImportApp.png
  docs/assets/img/applications/ImportDesign.png
  docs/assets/img/applications/Menu.png
  docs/pages/guides/configuration-management/importing-applications.md
Labels: area/docs

#10641 ui bugs and enchanment
  ui/components/MesheryPatterns/ActionButton.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
Labels: component/ui

#10575 expose remote provider capabilities
  ui/components/UserPreferences/index.js
Labels: component/ui

#10733 feat: enhance deployment flow
  ui/assets/icons/DeploymentSelectorIcon.js
  ui/assets/icons/DryRunIcon.js
  ui/components/ConfirmationModal.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/DryRunDesign.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/MesheryPatterns/lifecycle.js
  ui/components/NavigatorExtension.js
  ui/components/SistentWrapper.js
  ui/components/Validation.js
  ui/lib/store.js
  ui/package-lock.json
  ui/package.json
  ui/rtk-query/design.js
Labels: component/ui, pr/do-not-merge

#10728 Meshery UI permissions addition/fix
  ui/assets/icons/DryRunIcon.js
  ui/components/ConfirmationModal.js
  ui/components/DashboardComponent/charts/ConnectionCharts.js
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/components/DashboardComponent/charts/MesheryConfigurationCharts.js
  ui/components/DashboardComponent/charts/WorkloadChart.js
  ui/components/Filters.js
  ui/components/Header.js
  ui/components/Lifecycle/Environments/environment-card.js
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/General/transfer-list/index.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/Lifecycle/Workspaces/workspace-card.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryMetrics.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/CustomToolbarSelect.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesherySettings.js
  ui/components/User.js
  ui/components/configuratorComponents/MeshModel/index.js
Labels: component/ui, pr/do-not-merge

#10748 Fix wrong key in permission constant file for preferences
  ui/utils/permission_constants.js
Labels: component/ui

#10749 Disable permission check for now
  ui/components/User.js
Labels: component/ui

#10107 [Fix Docs] Tutorial: Exploring Kubernetes CronJobs with Meshery Playground
  docs/_data/toc.yml
  docs/assets/img/meshery-design/app-deploy.png
  docs/assets/img/meshery-design/click-deploy.png
  docs/assets/img/meshery-design/click-import.png
  docs/assets/img/meshery-design/configuration-menu-design-import.png
  docs/assets/img/meshery-design/deploy-success.png
  docs/assets/img/meshery-design/design-auto-save.png
  docs/assets/img/meshmap/deploy-app.png
  docs/assets/img/meshmap/deploy.png
  docs/assets/img/meshmap/design-cronjob.png
  docs/assets/img/meshmap/navigate-meshmap.png
  docs/assets/img/meshmap/save-app.png
  docs/assets/img/meshmap/save.png
  docs/assets/img/meshmap/scale.png
  docs/assets/img/meshmap/select-cronjob.png
  docs/assets/img/meshmap/tool-bar.png
  docs/assets/img/meshmap/toolbar-cronjob.png
  docs/assets/img/meshmap/view.png
  docs/pages/guides/tutorials/exploring-kubernetes-cronjobs.md
  docs/pages/index.md
Labels: area/docs

#10685 Fix behavior to display helper function
  mesheryctl/internal/cli/root/system/model.go
Labels: component/mesheryctl

#10556 Add proper meshkit sytle error logging for ClearLine function
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#10634 feat: workspace command
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/internal/cli/root/workspaces/create.go
  mesheryctl/internal/cli/root/workspaces/list.go
  mesheryctl/internal/cli/root/workspaces/workspace.go
  mesheryctl/pkg/utils/auth.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#10763 add capabilities to nodegroupwallet
  server/meshmodel/meshery-core/0.7.1/components/NodeGroupInventoryWallet.json
Labels: component/server, area/models

#10766 Fix not able to download design
  ui/components/MesheryPatterns/MesheryPatternGridView.js
Labels: component/ui

#10767 Fix deployment failures
  server/handlers/design_engine_handler.go
  server/models/pattern/stages/validate.go
  ui/rtk-query/design.js
Labels: component/ui, component/server

#10778 [Docs] Typo fixes
  docs/_includes/footer.html
Labels: area/docs

#10779 update reading list
  docs/_includes/suggested-reading.html
  docs/_layouts/integration.html
Labels: area/docs

#10780 Convert environment makestyles with styled components
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Environments/styles.js
Labels: component/ui

#10782 [Server][Events] Add support to persist events to remote provider.
  Makefile
  server/handlers/design_engine_handler.go
  server/handlers/error.go
  server/handlers/extensions.go
  server/handlers/handler_instance.go
  server/handlers/policy_relationship_handler.go
  server/helpers/component_info.json
  server/internal/graphql/resolver/operator.go
  server/machines/kubernetes/delete.go
  server/models/default_local_provider.go
  server/models/events.go
  server/models/meshery_controllers.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: component/server

#10781 update descriptions for heirarchical relationships
  server/meshmodel/kubernetes/relationships/hierarchical_parent.json
  server/meshmodel/kubernetes/relationships/hirarchical_parent_environment.json
  server/meshmodel/meshery-shapes/relationships/hierarchical_parent.json
Labels: component/server, area/models

#10785 remove redundant notifications from ui
  ui/components/MesheryPatterns/DryRunDesign.js
  ui/components/MesheryPatterns/lifecycle.js
Labels: component/ui

#10787 [UI] remove redundant logs
  ui/components/MesheryChart.js
  ui/components/MesheryPatterns/lifecycle.js
Labels: component/ui

#10790 [UI] Fix Styling and add documentation
  ui/components/BBChart.js
  ui/components/ErrorBoundary.js
  ui/components/ErrorHandling.js
  ui/components/ErrorPage.js
  ui/components/Modals/ImportModal.js
  ui/components/ReactSelectWrapper.js
Labels: component/ui

#10663 feat: environment command
  mesheryctl/internal/cli/root/environments/create.go
  mesheryctl/internal/cli/root/environments/delete.go
  mesheryctl/internal/cli/root/environments/environment.go
  mesheryctl/internal/cli/root/environments/list.go
  mesheryctl/internal/cli/root/environments/view.go
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#10794 [UI] remove dead code
  ui/components/ConnectionWizard/pure/common.js
  ui/components/ConnectionWizard/pure/kubernetesHelpers.js
  ui/components/ConnectionWizard/pure/mesheryOperator.js
  ui/components/ConnectionWizard/pure/metrics.js
  ui/components/ConnectionWizard/pure/serviceMeshes.js
Labels: component/ui

#10800 [Server] Add support for retrieving metrics for designs.
  mesheryctl/internal/cli/root/environments/environment.go
  mesheryctl/internal/cli/root/environments/view.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
  server/handlers/meshery_pattern_handler.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/catalog_content.go
  server/internal/graphql/resolver/pattern.go
  server/internal/graphql/resolver/schema.resolvers.go
  server/internal/graphql/schema/schema.graphql
  server/models/default_local_provider.go
  server/models/meshery_pattern.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: component/mesheryctl, component/server

#10804 Fix Editable include
  docs/_sass/table-of-content.scss
Labels: area/docs

#10803 fix(WorkspaceCards): fix card background color
  ui/components/Lifecycle/Workspaces/styles.js
Labels: component/ui

#10744 [Tutorial] ConfigMaps and Secrets with Meshery
  docs/pages/guides/tutorials/kubernetes-configmaps-secrets.md
  docs/pages/guides/tutorials/screenshots/2024-04-16_00-13.png
  docs/pages/guides/tutorials/screenshots/2024-04-16_00-18.png
  docs/pages/guides/tutorials/screenshots/2024-04-16_00-42.png
  docs/pages/guides/tutorials/screenshots/2024-04-16_00-56.png
  docs/pages/guides/tutorials/screenshots/2024-04-16_00-57.png
  docs/pages/guides/tutorials/screenshots/2024-04-16_01-00.png
  docs/pages/guides/tutorials/screenshots/2024-04-16_01-18.png
  docs/pages/guides/tutorials/screenshots/2024-04-16_01-19.png
  docs/pages/guides/tutorials/screenshots/2024-04-16_01-25.png
  docs/pages/guides/tutorials/screenshots/2024-04-16_01-27.png
  docs/pages/guides/tutorials/screenshots/2024-04-16_01-29.png
  docs/pages/guides/tutorials/screenshots/2024-04-16_18-03.png
  docs/pages/guides/tutorials/screenshots/2024-04-16_18-19.png
  docs/pages/guides/tutorials/screenshots/2024-04-16_18-25.png
  docs/pages/guides/tutorials/screenshots/2024-04-16_18-26.png
  docs/pages/guides/tutorials/screenshots/2024-04-17_20-01.png
  docs/pages/guides/tutorials/understanding-configmaps.md
Labels: area/docs

#10811 Set overwrite flag to true for the upload-artifact action
  .github/workflows/test_adaptersv2.yaml
Labels: area/ci

#10815 [CI] Chore: Update labeler.yml to v5 actions/labeler
  .github/workflows/labeler.yml
Labels: area/ci

#10807 docs: Updated CLI command reference
  docs/pages/reference/mesheryctl-commands.md
Labels: area/docs

#10823 [UI] Fix MeshSync datatable.
  ui/components/connections/meshSync/index.js
Labels: component/ui

#10824 [Server] ix pagination logic
  server/handlers/component_handler.go
  server/handlers/utils.go
Labels: component/server
