Repository meshery/meshery, pull requests merged in 2024-02, with the labels that each got.

#10140 [Docs] Components: remove source hyperlink
  docs/pages/concepts/logical/components.md
Labels: area/docs

#10166 fix: remove direct link to the source code
  docs/pages/concepts/logical/models.md
Labels: area/docs

#10128 Start sourcing icons from Sistent (1st phase)
  ui/components/NotificationCenter/constants.js
  ui/package-lock.json
  ui/package.json
  ui/utils/custom-column.js
  ui/utils/custom-filter.js
  ui/utils/custom-search.js
Labels: component/ui

#10168 replace icon in header
  ui/components/Header.js
Labels: component/ui

#10169 add pencil component
  server/meshmodel/meshery-core/1.0.0/Pencil.json
Labels: component/server, area/models

#10122 Migrate dashboard to rtk and cleanups
  ui/api/connections.js
  ui/components/DashboardComponent/charts/ConnectionCharts.js
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/components/DashboardComponent/charts/MesheryConfigurationCharts.js
  ui/components/DashboardComponent/overview.js
  ui/rtk-query/connection.js
  ui/rtk-query/filter.js
  ui/rtk-query/meshModel.js
Labels: component/ui

#10186 [Connection] Add Connection definition for Github.
  server/meshmodel/github-actions-runner-operator/2.8.0/GithubConnection.json
Labels: component/server, area/models

#10182 [Policies] Add support for building incomplete json paths
  server/meshmodel/kubernetes/policies/common.rego
  server/meshmodel/kubernetes/policies/hierarchical_inventory.rego
  server/meshmodel/kubernetes/policies/path.rego
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
Labels: area/models, component/policy, opa

#10200 docs: fix broken image on models contributing page
  docs/assets/img/meshmodel/meshmodel-architecture.svg
Labels: area/docs

#10008 [Extension] Add Info Icon on Export Design Modal
  ui/assets/icons/InfoOutlined.js
  ui/components/ExportModal.js
  ui/components/MesheryMeshInterface/PatternService/helper.js
Labels: component/ui

#10211 [Typo] - Environments and workspaces
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/index.js
Labels: component/ui

#10214 add info and replace tooltips
  ui/assets/icons/InfoOutlined.js
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/components/Header.js
  ui/components/MesheryMeshInterface/PatternService/CustomTextTooltip.js
  ui/components/Navigator.js
  ui/components/UserPreferences/index.js
  ui/components/connections/index.js
Labels: component/ui

#10216 [server] Server policy eval improvements.
  server/handlers/policy_relationship_handler.go
  server/meshmodel/kubernetes/policies/path.rego
Labels: component/server, area/models

#10196 [Feat Docs] Added Contributing to docs using Gitpod
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#10217 Add rtk client for meshSync api's
  ui/rtk-query/meshsync.js
Labels: component/ui

#10221 change log severity to debug
  server/handlers/policy_relationship_handler.go
Labels: component/server

#10194 add: Relationship between Event component and other k8s components
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10208 [UI] Registry UI issues
  ui/assets/icons/CollapseAll.js
  ui/assets/icons/ExpandAll.js
  ui/assets/styles/general/tool.styles.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
  ui/components/MeshModelRegistry/helper.js
  ui/components/MesheryMeshInterface/PatternService/CustomTextTooltip.js
  ui/public/static/img/artifact-hub-color.svg
  ui/rtk-query/meshModel.js
  ui/themes/app.js
  ui/utils/custom-search.js
  ui/utils/objects.js
Labels: component/ui

#10188 update: issue_template for model
  .github/ISSUE_TEMPLATE/models.md
Labels: area/ci

#10223 [Server] Enhance Design Import Notification
  server/handlers/meshery_pattern_handler.go
  ui/components/NotificationCenter/metadata.js
Labels: component/ui, component/server

#10226 Fix golangci-lint issues in mesheryctl.
  mesheryctl/internal/cli/root/registry/publish.go
  mesheryctl/pkg/utils/component.go
  mesheryctl/pkg/utils/model.go
Labels: component/mesheryctl

#10225 updated pencil node
  server/meshmodel/meshery-core/1.0.0/Pencil.json
Labels: component/server, area/models

#10230 #10145 Added two suggeste d reading links to Docs Contributing page
  docs/CHANGELOG.md
Labels: area/docs

#10213 suggested reading edit
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#10222 [Enhancement][UI] Reduced font size of Metadata Labels in small viewport
  ui/components/DataFormatter/NameValueTable.js
Labels: component/ui

#10219 [UI] Global Navigation Menu Tooltip Enhancement
  ui/assets/icons/GithubIcon.js
  ui/package-lock.json
Labels: component/ui, issue/dco

#10142 [bug] Fix pattern apply
  mesheryctl/internal/cli/root/app/onboard.go
  mesheryctl/internal/cli/root/pattern/apply.go
  server/handlers/design_engine_handler.go
  server/handlers/doc.go
  server/models/meshery_pattern.go
Labels: kind/bug, component/mesheryctl, component/server

#10239 [Docs] Jekyll Build Cache
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/_config_dev.yml
  docs/_layouts/default.html
  docs/_layouts/enhanced.html
  docs/pages/index.md
Labels: area/docs

#10237 [Docs] Deleting Environments
  docs/pages/concepts/logical/environments.md
Labels: area/docs

#10248 [Meshmodel] Update pod,replicaset,job,cronjob to have genealogy parent
  server/meshmodel/kubernetes/v1.25.2/CronJob.json
  server/meshmodel/kubernetes/v1.25.2/DaemonSet.json
  server/meshmodel/kubernetes/v1.25.2/Job.json
  server/meshmodel/kubernetes/v1.25.2/Pod.json
  server/meshmodel/kubernetes/v1.25.2/ReplicaSet.json
  server/meshmodel/kubernetes/v1.25.2/StatefulSet.json
  server/meshmodel/meshery-core/1.0.0/GenericNode.json
Labels: component/server, area/models

#10245 Fix icon color
  ui/components/Header.js
Labels: component/ui

#10116 [mesheryctl] Add command for `Model/Component` Generation.
  .github/workflows/model-generator.yml
  go.mod
  go.sum
  mesheryctl/helpers/component_info.json
  mesheryctl/internal/cli/root/registry/error.go
  mesheryctl/internal/cli/root/registry/helpers.go
  mesheryctl/internal/cli/root/registry/import.go
  mesheryctl/internal/cli/root/registry/publish.go
  mesheryctl/internal/cli/root/registry/registry.go
  mesheryctl/internal/cli/root/registry/update.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/pkg/utils/component.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/model.go
  server/helpers/utils/utils.go
  server/models/meshmodel/core/register.go
  server/models/meshsync_events.go
  server/models/package_manager.go
Labels: component/mesheryctl, area/ci, component/server

#10249 add utiltiy for standardizing string
  mesheryctl/pkg/utils/model.go
  server/helpers/utils/utils.go
Labels: component/mesheryctl, component/server

#10251 fix failing error-code-updater-workflow
  .github/workflows/error-codes-updater.yaml
Labels: area/ci

#10258 [Docs] No caching of sidebar toc
  docs/_layouts/default.html
  docs/_layouts/enhanced.html
  docs/pages/installation/kinD.md
Labels: area/docs

#10240 [Docs] Rest API styles and navigation improvement
  docs/_layouts/past-results-layout.html
  docs/_sass/swagger.scss
Labels: area/docs

#10260 Fix missing list
  docs/pages/extensions/meshmap/importing-design.md
  docs/pages/extensions/meshmap/merging-a-design.md
  docs/pages/extensions/meshmap/publishing-a-design.md
  docs/pages/extensions/meshmap/sharing-a-design.md
Labels: area/docs

#10256 [Docs] Enhance enhanced layout with optional suggested-reading list
  docs/_layouts/enhanced.html
  docs/pages/extensibility/integrations.md
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#9880 feat: relationship between kubernetes secret and other resources
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10265 Testing small change
  ui/components/MesheryPatterns.js
Labels: component/ui

#10257 [Docs] Remove deprecated adapters from toc sidebar
  docs/_data/toc.yml
Labels: area/docs

#10266 Fix the React Warnings in Meshery UI Build
  ui/components/DashboardComponent/charts/ConnectionCharts.js
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/components/DashboardComponent/charts/MesheryConfigurationCharts.js
  ui/components/MesheryMeshInterface/PatternService/CustomTextTooltip.js
  ui/components/connections/index.js
  ui/components/hooks/useTelemetryHook.js
Labels: component/ui

#10281 Reference added to error table
  docs/pages/reference/error-codes.md
Labels: area/docs

#10283 error table liquid fix
  docs/pages/reference/error-codes.md
Labels: area/docs

#9726 Feature/exp components command
  mesheryctl/internal/cli/root/system/components.go
  mesheryctl/pkg/utils/formatter.go
Labels: issue/design required, component/mesheryctl

#10279 Fixed text color in swagger layout
  docs/_sass/swagger.scss
Labels: area/docs

#10126 feat: Relationship between HPA and other k8s components.
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10285 fix conflicts
  mesheryctl/internal/cli/root/system/component.go
  mesheryctl/internal/cli/root/system/components.go
  mesheryctl/pkg/utils/formatter.go
Labels: component/mesheryctl

#10244 add: relationship between k8s lease and other k8s components[high-level]
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10288 fix hover of hyperlink
  ui/components/NotificationCenter/notificationCenter.style.js
Labels: component/ui

#10253 [Docs] Relationships and Policies
  docs/_sass/table.scss
  docs/assets/img/concepts/logical/relationship-evaluation-flow.svg
  docs/pages/404.md
  docs/pages/archive.md
  docs/pages/concepts/logical/policies.md
  docs/pages/concepts/logical/relationships.md
  docs/pages/index.md
  docs/pages/project/contributing/contributing-models.md
  docs/pages/search.md
  docs/pages/test.md
Labels: area/docs

#10274 add: Relationship between Replication Controller and other k8s resources
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10271 Ripul handoo/relationships/pod template
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10302 [fix] remove xstate/inspect
  ui/package.json
  ui/pages/_app.js
Labels: component/ui

#10306 [Server] Design upload events.
  server/handlers/meshery_pattern_handler.go
Labels: component/server

#10307 [chore] fix mesheryctl lint issue
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#10305 fix: rename meshery-flowcharts to meshery-flowchart in relation
  server/meshmodel/kubernetes/relationships/annotation-edge.json
  server/meshmodel/meshery-shapes/relationships/annotation-edge.json
Labels: component/server, area/models

#10313 Fix head caching issue
  docs/_includes/head.html
  docs/_layouts/default.html
  docs/_layouts/enhanced.html
Labels: area/docs

#10319 Cached links
  docs/_includes/editable.html
  docs/_layouts/default.html
  docs/_layouts/enhanced.html
Labels: area/docs

#10321 [Docs] Format <details> with HTML tag not markdown - Update contributing-models.md
  docs/pages/project/contributing/contributing-models.md
Labels: area/docs

#10323 docs: visualizations for logical relationships
  docs/pages/concepts/logical/relationships.md
  docs/pages/project/contributing/contributing-models.md
Labels: area/docs

#10276 Fix server build error coming on boot
  .github/workflows/generate_keys.yml
  install/Makefile.core.mk
  install/docker/Dockerfile
  server/permissions/keys.csv
Labels: area/ci, area/lifecycle, component/server

#10325 [Fix UI] Change menu text
  ui/components/Navigator.js
Labels: component/ui

#10322 [Docs] Add abstract to the Extensions page
  docs/pages/extensions/index.md
Labels: area/docs

#10328 suggested reading cache fix
  docs/_includes/suggested-reading.html
  docs/_layouts/enhanced.html
  docs/pages/concepts/architectural/meshsync.md
  docs/pages/extensibility/api.md
  docs/pages/guides/mesheryctl/authenticate-with-meshery-via-cli.md
  docs/pages/guides/mesheryctl/configuring-autocompletion-for-mesheryctl.md
  docs/pages/guides/mesheryctl/index.md
  docs/pages/guides/mesheryctl/running-system-checks-using-mesheryctl.md
  docs/pages/guides/mesheryctl/working-with-mesheryctl.md
  docs/pages/guides/operating/events-management.md
  docs/pages/guides/troubleshooting/meshery-operator-meshsync-troubleshooting.md
  docs/pages/installation/aks.md
  docs/pages/installation/codespaces.md
  docs/pages/installation/docker-extension.md
  docs/pages/installation/docker.md
  docs/pages/installation/eks.md
  docs/pages/installation/gke.md
  docs/pages/installation/helm.md
  docs/pages/installation/kinD.md
  docs/pages/installation/kubernetes.md
  docs/pages/installation/kubesphere.md
  docs/pages/installation/linux-mac.md
  docs/pages/installation/mesheryctl.md
  docs/pages/installation/minikube.md
  docs/pages/installation/windows.md
  docs/pages/project/contributing/contributing-cli.md
  docs/pages/project/contributing/contributing-docs.md
  docs/pages/project/contributing/contributing-error.md
  docs/pages/project/contributing/contributing-gitflow.md
  docs/pages/project/contributing/contributing-guidelines.md
  docs/pages/project/contributing/contributing-ui-notification-center.md
  docs/pages/project/contributing/contributing-ui.md
  docs/pages/project/contributing/contributing.md
  docs/pages/project/contributing/meshery-server.md
  docs/pages/project/index.md
Labels: area/docs

#10280 Fix more SQL injections
  mesheryctl/pkg/utils/helpers.go
  server/handlers/meshsync_handler.go
  server/models/events_persister.go
Labels: component/mesheryctl, security, component/server

#10348 [Docs] Contributing: Models and Relationships
  docs/pages/project/contributing/contributing-models.md
Labels: area/docs, area/models

#10349 [Docs] Initialize logical concepts page for Registry
  docs/pages/concepts/logical/models.md
  docs/pages/concepts/logical/registry.md
  docs/pages/project/contributing/contributing-models.md
Labels: component/database, area/models

#10336 [DOCS] Missing Abstract added in pages
  docs/pages/extensions/index.md
  docs/pages/getting-started/archived- news.md
  docs/pages/getting-started/overview.md
Labels: area/docs

#10353 [Server] Fix events API.
  server/models/events_persister.go
  ui/rtk-query/notificationCenter.js
  ui/store/slices/events.js
Labels: component/ui, component/server

#10243 [Rtk] Migrate meshsync section to rtk
  ui/components/connections/meshSync/index.js
  ui/rtk-query/meshsync.js
Labels: component/ui

#10341 [Docs] Modify help text for Meshery Catalog
  docs/pages/concepts/architectural/catalog.md
Labels: area/docs

#10338 [Docs] fix: Compatibility Matrix test result for Components and typo's
  docs/_includes/compatibility/past-results.html
  docs/_layouts/past-results-layout.html
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#10308 add: Add description for relationship
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#9938 #9935 changed the link from /guides/configuration-management/creating…
  docs/_data/toc.yml
Labels: area/docs, issue/dco

#9958 Fixed one broken link issue #9957
  docs/pages/guides/configuration-management/configuration-management.md
Labels: area/docs

#9704 [Docs] Updated FAQ for design invisibility issues in catalog
  docs/pages/concepts/architectural/catalog.md
  docs/pages/project/FAQ.md
Labels: area/docs

#9911 [Fix Docs] Improve code formatting
  docs/pages/installation/docker-extension.md
Labels: area/docs

#10365 [chore] mesheryctl: rename registry import to registry generate
  .github/workflows/model-generator.yml
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/internal/cli/root/registry/generate.go
  mesheryctl/internal/cli/root/registry/registry.go
  mesheryctl/internal/cli/root/registry/update.go
Labels: component/mesheryctl, area/ci

#10374 workflow miss
  .github/workflows/model-generator.yml
Labels: area/ci

#10379 upadte svg string
  go.mod
  go.sum
  mesheryctl/pkg/utils/component.go
  mesheryctl/pkg/utils/model.go
Labels: component/mesheryctl

#10378 [mesheryctl] Add support to update spreadsheet during model generation.
  go.mod
  go.sum
  mesheryctl/helpers/component_info.json
  mesheryctl/internal/cli/root/mesh/error.go
  mesheryctl/internal/cli/root/registry/error.go
  mesheryctl/internal/cli/root/registry/generate.go
  mesheryctl/pkg/utils/component.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/model.go
  mesheryctl/pkg/utils/spreadsheet_update.go
  server/helpers/utils/utils.go
Labels: component/mesheryctl, component/server

#10395 [UI] Enhance title and description of Environments #10364
  ui/components/Lifecycle/Environments/environment-card.js
  ui/components/Lifecycle/Environments/styles.js
Labels: component/ui

#10390 Update Dockerfile
  docs/pages/project/contributing/meshery-server.md
  install/docker/Dockerfile
  server/cmd/main.go
Labels: area/docs, component/server

#10383 [Docs] Enhance Build and Release page with link to test plan
  docs/pages/404.md
  docs/pages/project/contributing/ci-build-and-release.md
Labels: area/docs

#10299 add: Relationship between Controller revision and other k8s resources
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10361 [Adapter] Add support for Nighthawk
  .github/workflows/build-ui-and-server.yml
  docs/_adapters/app-mesh.md
  docs/_adapters/cilium.md
  docs/_adapters/consul/consul.md
  docs/_adapters/istio/istio.md
  docs/_adapters/kuma/kuma.md
  docs/_adapters/linkerd.md
  docs/_adapters/nginx-sm.md
  docs/_adapters/nighthawk.md
  docs/_adapters/nsm/nsm.md
  docs/_adapters/osm/osm.md
  docs/_adapters/sofamesh.md
  docs/_adapters/tanzu-sm.md
  docs/_adapters/traefik-mesh.md
  docs/_data/toc.yml
  docs/_includes/adapter-labs.html
  docs/_includes/compatibility/adapter-status.html
  docs/_includes/compatibilityMatrix.md
  docs/assets/img/adapters/nighthawk/nighthawk.svg
  docs/assets/img/adapters/nighthawk/nighthawk_white.svg
  install/Makefile.core.mk
  server/models/adapter.go
  ui/components/MeshAdapterConfigComponent.js
  ui/components/extensions/adapters/constants.js
  ui/constants/navigator.js
  ui/cypress/e2e/e2e/service_mesh_lifecycle_settings_spec.js
  ui/public/static/img/meshery-nighthawk.svg
  ui/public/static/img/nighthawk-logo.svg
  ui/public/static/img/nighthawk-logo_white.svg
Labels: area/docs, area/ci, component/ui, area/lifecycle, component/server, component/meshery-nighthawk

#10355 add: Relationship for IngressClass and other k8s resources
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10273 Ripul handoo/relationship/pod distribution budget
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10397 [Docker] Fix failing docker build
  server/cmd/server-config.env
Labels: component/server

#10401 add: defined relationship link
  .github/ISSUE_TEMPLATE/models.md
Labels: area/ci

#10384 fix: failing golint-ci test for mesheryctl
  mesheryctl/doc/doc.go
  mesheryctl/doc/doc_test.go
Labels: component/mesheryctl

#10403 chore: remove anchor tags from frontmatter variable abstract
  docs/pages/extensibility/extensibility.md
Labels: area/docs

#10405 regenerate error codes for mesheryctl
  mesheryctl/helpers/component_info.json
  mesheryctl/internal/cli/root/app/error.go
  mesheryctl/internal/cli/root/config/error.go
  mesheryctl/internal/cli/root/error.go
  mesheryctl/internal/cli/root/filter/error.go
  mesheryctl/internal/cli/root/mesh/error.go
  mesheryctl/internal/cli/root/pattern/error.go
  mesheryctl/internal/cli/root/perf/error.go
  mesheryctl/internal/cli/root/registry/error.go
  mesheryctl/internal/cli/root/system/error.go
  mesheryctl/pkg/utils/error.go
Labels: component/mesheryctl

#10409 Update theme
  ui/themes/app.js
Labels: component/ui

#10411 Bugs Fix
  docs/pages/concepts/logical/registry.md
Labels: area/docs

#10419 store token and session on domain instead of subdomain
  go.mod
  go.sum
  server/models/remote_provider.go
Labels: component/server

#10363 [bug] Fix patterns filtering
  ui/components/MesheryPatterns.js
Labels: kind/bug, component/ui

#10424 fix incorrect design save events
  server/handlers/meshery_pattern_handler.go
  server/models/events.go
Labels: component/server

#9868 Tutorials layout
  docs/_layouts/tutorials.html
  docs/pages/guides/tutorials/index.md
  docs/pages/guides/tutorials/understanding-configmaps.md
Labels: area/docs, pr/draft

#10425 Vishalvivekm patch 1
  docs/_layouts/tutorials.html
  docs/pages/guides/tutorials/understanding-configmaps.md
Labels: area/docs

#10376 [Add]: Relationship between PriorityClass and other k8s components
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10171 Support ignoring models in Registry
  server/handlers/component_handler.go
  server/models/handlers.go
  server/router/server.go
  ui/components/MeshModelRegistry/MeshModel.style.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
  ui/components/MeshModelRegistry/StyledTreeItem.js
  ui/components/MeshModelRegistry/helper.js
  ui/rtk-query/meshModel.js
Labels: component/ui, component/server

#10439 Inject structured data formatter in Remote Extension
  ui/components/NavigatorExtension.js
Labels: component/ui

#10443 Add empty state for no result found in Registry
  ui/components/MeshModelRegistry/MeshModel.style.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
  ui/components/MesherySettings.js
Labels: component/ui

#10448 Revert "store token and session on domain instead of subdomain"
  go.mod
  go.sum
  server/models/remote_provider.go
Labels: component/server

#10451 Migrate registration stepper api to rtk
  ui/components/connections/meshSync/RegisterConnectionModal.js
  ui/rtk-query/connection.js
  ui/rtk-query/meshsync.js
Labels: component/ui
