Repository meshery/meshery, pull requests merged in 2024-07, with the labels that each got.

#11273 update styles
  ui/components/Lifecycle/Workspaces/styles.js
Labels: component/ui

#11259 chore: remove commented out GitHub link in navigation.yml
  docs/_data/navigation.yml
Labels: area/docs

#11202 Updated Meshkit logger docs
  docs/pages/project/contributing/contributing-error.md
Labels: area/docs

#11285 [CI] Enable staging playground workflow
  .github/workflows/build-and-release-edge.yml
Labels: area/ci

#11225 [Docs] Updating the docs for mesheryctl exp command #11204
  docs/_data/mesheryctlcommands/cmds.yml
  docs/pages/reference/mesheryctl-commands.md
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
Labels: area/docs, component/mesheryctl, area/ci, component/ui, area/lifecycle, component/server, area/models

#10956 [mesheryctl] Addition of `relationship search`
  mesheryctl/internal/cli/root/relationships/list.go
  mesheryctl/internal/cli/root/relationships/relationship.go
  mesheryctl/internal/cli/root/relationships/search.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
  server/handlers/relationship_handlers.go
Labels: component/mesheryctl, component/server

#11269 fixed upgrade meshery cli broken links w/signoff
  docs/pages/guides/mesheryctl/configuring-autocompletion-for-mesheryctl.md
  docs/pages/guides/mesheryctl/index.md
  docs/pages/guides/mesheryctl/running-system-checks-using-mesheryctl.md
  docs/pages/guides/mesheryctl/working-with-mesheryctl.md
  docs/pages/installation/linux-mac.md
  docs/pages/installation/mesheryctl.md
  docs/pages/installation/scoop.md
  docs/pages/installation/windows.md
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/pkg/utils/fixtures/platform/manifesturl.api.response.golden
  mesheryctl/pkg/utils/fixtures/platform/manifesturl.latest.api.response.golden
  mesheryctl/pkg/utils/fixtures/validate.version.github.golden
Labels: area/docs, component/mesheryctl

#11245 [Docs] GitHub Issue Template: Add contrib instructions for Meshery Components
  .github/ISSUE_TEMPLATE/models.md
Labels: area/ci

#11267 Extentsion to logs
  .github/workflows/model-generator.yml
  mesheryctl/internal/cli/root/registry/generate.go
  server/cmd/main.go
  ui/components/NotificationCenter/metadata.js
Labels: component/mesheryctl, area/ci, component/ui, component/server

#11265 [mesheryctl]: fixes the panic issue of mesheryctl filter list
  mesheryctl/internal/cli/root/filter/list.go
Labels: component/mesheryctl

#10997 Warning mesheryctl start
  docs/_includes/mesheryctl/system-dashboard.md
  docs/pages/guides/troubleshooting/installation.md
  docs/pages/installation/kinD.md
  docs/pages/reference/mesheryctl/mesheryctl-system-dashboard.md
  mesheryctl/internal/cli/root/system/dashboard.go
Labels: area/docs, component/mesheryctl

#11288 [CI] Remove scripts folder and go packages from dependabot config
  .github/dependabot.yml
Labels: area/ci

#11295 Fix pattern and filter API for local provider
  server/models/meshery_filter_persister.go
  server/models/meshery_pattern_persister.go
Labels: component/server

#11299 [Integrations] Fallback to model svgs
  mesheryctl/pkg/utils/component.go
  mesheryctl/pkg/utils/registry.go
Labels: component/mesheryctl

#11294 [FIx] Fix PROVIDER_TOKEN fallback logic for e2e tests
  ui/playwright.config.js
  ui/tests/e2e/delays.js
  ui/tests/e2e/env.js
  ui/tests/e2e/seedResources.setup.js
  ui/tests/e2e/utils/fetch.js
Labels: area/ci, component/ui

#11303 Update contributing-models.md
  docs/pages/project/contributing/contributing-models.md
Labels: area/docs

#11301 Updated Meshery installation link in FAQ.md
  docs/pages/project/FAQ.md
Labels: area/docs

#11300 fix: the error image in integration
  docs/_layouts/integration.html
Labels: area/docs

#11323 [chore] Dep upgrades
  go.mod
  go.sum
  server/handlers/design_engine_handler.go
Labels: component/server

#11310 [mesheryctl] Support `PROVIDER_URLS` env in `system start, update` command
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/pkg/constants/definitions.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/helpers_test.go
  server/meshes/client.go
Labels: component/mesheryctl, component/server

#11326 Fix docs build failing
  docs/pages/concepts/logical/workspaces.md
Labels: area/docs

#11325 Updated extension points link in FAQ.md
  docs/pages/project/FAQ.md
Labels: area/docs

#11327 [CI] Pull Request Labeler: Update labeler to include matching of *.rego files
  .github/labeler.yml
Labels: area/ci

#11328 Update cncf-staging-playground-deploy-meshery.yaml
  .github/workflows/cncf-staging-playground-deploy-meshery.yaml
Labels: area/ci

#11308 Fix info modal validation issues
  ui/components/MesheryPatterns.js
  ui/components/Modals/Information/InfoModal.js
  ui/components/Modals/Information/styles.js
  ui/utils/objects.js
Labels: component/ui

#11317 Move prompt component to sistent modal
  ui/components/MesherySettingsEnvButtons.js
  ui/components/PromptComponent.js
  ui/components/connections/index.js
Labels: component/ui

#11333 remove validation error truncating
  ui/components/DesignLifeCycle/ValidateDesign.js
Labels: component/ui

#11058 [Relationships] Dapr: Add dapr relationships
  server/meshmodel/dapr/relationships/sibling_matchlabels.json
Labels: component/server, area/models

#11163 Support for `rjsf form` in sistent modal and migrate all modals
  ui/components/Filters.js
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/MesheryPerformance/Dashboard.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesheryPerformance/index.js
  ui/components/Modal.js
  ui/components/Modals/Information/InfoModal.js
  ui/components/NavigatorExtension.js
  ui/package-lock.json
  ui/package.json
  ui/themes/rjsf.js
Labels: component/ui

#11335 fix: setting registry tree view
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
Labels: component/ui

#11343 fix width issues of stepper modal
  ui/components/DesignLifeCycle/DeployStepper.js
  ui/components/MesheryPatterns.js
Labels: component/ui

#11350 docs: added NPM_TOKEN details under secrets section
  docs/pages/project/contributing/ci-build-and-release.md
Labels: area/docs

#11332 [Mesheryctl] `model import` command
  docs/_data/mesheryctlcommands/cmds.yml
  docs/pages/reference/mesheryctl-commands.md
  go.mod
  mesheryctl/internal/cli/root/model/import.go
  mesheryctl/internal/cli/root/model/model.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
  server/handlers/component_handler.go
  server/helpers/utils/utils.go
  server/meshmodel/helper.go
  server/models/handlers.go
  server/router/server.go
Labels: area/docs, component/mesheryctl, pr/do-not-merge, component/server, area/models

#11338 [Feat] `mesheryctl model export` command
  go.mod
  mesheryctl/internal/cli/root/model/export.go
  mesheryctl/internal/cli/root/model/model.go
  mesheryctl/internal/cli/root/registry/generate.go
  mesheryctl/internal/cli/root/registry/publish.go
  server/handlers/meshery_pattern_handler.go
Labels: component/mesheryctl, component/server

#11361 fix concurent write error w/signoff
  mesheryctl/internal/cli/root/model/import.go
  mesheryctl/internal/cli/root/model/model.go
  server/helpers/common_registry_logs.go
  server/meshmodel/helper.go
Labels: component/mesheryctl, component/server, area/models

#11347 Spelling Mistakes Correction
  docs/README.md
  docs/meshery
  docs/v0.4/404.html
  docs/v0.4/assets/js/lunr.min.js
  docs/v0.4/concepts.html
  docs/v0.4/es.html
  docs/v0.4/extensibility.html
  docs/v0.4/functionality.html
  docs/v0.4/guides.html
  docs/v0.4/index.html
  docs/v0.4/project.html
  docs/v0.4/reference.html
  docs/v0.4/service-meshes.html
Labels: area/docs

#11360 chore: bump sistent
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#11341 [chore] Update styles
  ui/components/DashboardComponent/charts/ConnectionCharts.js
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/components/DashboardComponent/charts/MesheryConfigurationCharts.js
  ui/components/DesignLifeCycle/ValidateDesign.js
Labels: component/ui

#11264 [mesheryctl] consistent mesheryctl pattern list
  docs/_data/mesheryctlcommands/cmds.yml
  docs/pages/reference/mesheryctl-commands.md
  mesheryctl/internal/cli/root/pattern/list.go
  mesheryctl/internal/cli/root/pattern/list_test.go
  mesheryctl/internal/cli/root/pattern/testdata/list.pattern.local.output.golden
  mesheryctl/internal/cli/root/pattern/testdata/list.pattern.output.golden
Labels: area/docs, component/mesheryctl

#11362 Update integrations-updater.yml
  .github/workflows/integrations-updater.yml
Labels: area/ci

#10986 [Cert-manager]: Sync upstream master and add cert-manager relationships
  server/meshmodel/cert-manager/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#11220 Added end-to-end playwright tests for `UI/Connections` component
  .github/workflows/build-ui-and-server.yml
  ui/tests/e2e/connections.spec.js
  ui/tests/e2e/service_mesh_lifecycle.spec.js
Labels: area/ci, component/ui

#11364 Init dapr sidecar relationships
  server/meshmodel/dapr/1.14.0-rc.2/v1.0.0/relationships/sidecar-configuration.json
Labels: component/server, area/models

#11365 fix and add dapr rels for other components
  server/meshmodel/dapr/1.14.0-rc.2/v1.0.0/relationships/sidecar-configuration.json
  server/meshmodel/dapr/relationships/sidecar-configuration.json
Labels: component/server, area/models

#11375 fix wasm filter relationships
  server/meshmodel/istio-base/1.16.0/v1.0.0/relationships/hierarchical-inventory-WASMFilter-to-envoyFilter.json
  server/meshmodel/istio-base/1.16.0/v1.0.0/relationships/hierarchical-inventory-WASMFilter-to-envoyPlugin.json
Labels: component/server, area/models

#11379 [Chore] UI: Upgrade dependent package Sistent to v0.14.65
  ui/package.json
Labels: component/ui

#11371 Corrected Spelling Mistakes
  docs/v0.4/installation/mesheryctl.html
  docs/v0.4/installation/platforms.html
  docs/v0.4/installation/platforms/aks.html
  docs/v0.4/installation/platforms/docker.html
  docs/v0.4/installation/platforms/eks.html
  docs/v0.4/installation/platforms/gke.html
  docs/v0.4/installation/platforms/kind.html
  docs/v0.4/installation/platforms/kubernetes.html
  docs/v0.4/installation/platforms/minikube.html
  docs/v0.4/installation/platforms/scoop.html
  docs/v0.4/installation/platforms/windows.html
  docs/v0.4/installation/quick-start.html
  docs/v0.4/reference/mesheryctl.html
  docs/v0.4/reference/mesheryctl/commands/command_name_template.html
  docs/v0.4/search/index.html
  docs/v0.4/tags/index.html
Labels: area/docs

#11359 Update Secrets list in Build and Release
  docs/pages/project/contributing/ci-build-and-release.md
Labels: area/docs

#11366 fix commit issue w/signoff
  .github/workflows/integrations-updater.yml
Labels: area/ci

#11255 Replace the repetitive logic with handler pagination
  server/handlers/component_handler.go
  server/handlers/database_handlers.go
  server/handlers/meshsync_handler.go
  server/handlers/policy_relationship_handler.go
  server/handlers/relationship_handlers.go
Labels: component/server

#10621 Update component-shape-guide.md
  docs/pages/extensions/meshmap/component-shape-guide.md
Labels: area/docs, issue/willfix

#11383 Revert "Bump @reduxjs/toolkit from 1.9.5 to 2.2.6 in /ui"
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#11388 move dapr relationship to model folder
  server/meshmodel/dapr/1.14.0-rc.2/v1.0.0/relationships/sidecar-configuration.json
Labels: component/server, area/models

#11336 Updated filter view command to accept multi-word filters and filter ID
  mesheryctl/internal/cli/root/filter/view.go
Labels: component/mesheryctl

#11394 UI: fix - settings/registry styles
  ui/assets/styles/general/tool.styles.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
Labels: component/ui

#11391 Amended transcription
  docs/v0.6/concepts/architecture/adapters.html
  docs/v0.6/concepts/architecture/meshsync.html
  docs/v0.6/concepts/connections.html
  docs/v0.6/concepts/relationshps.html
  docs/v0.6/lib/tasks/renderer.rb
Labels: area/docs

#11378 [UI] add the version in InfoModal
  ui/components/Modals/Information/InfoModal.js
  ui/utils/utils.js
Labels: component/ui

#11374 fix: rtk warning for hooks field
  ui/rtk-query/index.js
Labels: component/ui

#11400 [fix] Update Design action icon component and replace onClick function
  ui/assets/icons/PatternConfigure.js
  ui/components/MesheryPatterns.js
  ui/public/static/img/pattwhite.svg
Labels: component/ui

#11392 Add contribution docs for sistent in meshery ui
  docs/assets/img/sistent/sistent-modal.png
  docs/pages/project/contributing/contributing-ui-sistent.md
Labels: area/docs

#11272 [Relationships]: add istio relationship and fix subType to type in e…
  server/meshmodel/istio-base/1.16.0/v1.0.0/relationships/edge-network-Gateway-VirtualService.json
  server/meshmodel/istio-base/1.16.0/v1.0.0/relationships/edge-network-VirtualService-Service.json
  server/meshmodel/istio-base/1.16.0/v1.0.0/relationships/hierarchical-inventory-Secret-VirtualService.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/edge-network.json
Labels: component/server, area/models

#11396 Fix and add meaningful notification on toggle of extensions
  ui/components/extensions/adapters/adapters.js
  ui/components/extensions/adapters/constants.js
Labels: component/ui

#11403 add maxwidth property to transferlist modal
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/index.js
Labels: component/ui

#11397 add type to wasm relationships
  server/meshmodel/aws/1.0.0/v1.0.0/model.json
  server/meshmodel/istio-base/1.16.0/v1.0.0/relationships/hierarchical-inventory-WASMFilter-to-envoyFilter.json
  server/meshmodel/istio-base/1.16.0/v1.0.0/relationships/hierarchical-inventory-WASMFilter-to-envoyPlugin.json
Labels: component/server, area/models

#11404 Update email to contain more detail w/singoff
  .github/workflows/go-mod-sync.yaml
Labels: area/ci

#11387 mesheryctl: fix relationships view command unmarshall error
  mesheryctl/internal/cli/root/relationships/relationship.go
  mesheryctl/internal/cli/root/relationships/view.go
Labels: component/mesheryctl, component/server

#11415 animate edge relationships
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/edge-firewall.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/edge-network.json
Labels: component/server, area/models

#11409 Lifecycle search placeholders modified
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/connections/index.js
  ui/components/connections/meshSync/index.js
Labels: component/ui

#11424 Revert "fix: rtk warning for hooks field"
  ui/rtk-query/index.js
Labels: component/ui

#11427 ench: visibility option in info modal
  ui/components/Modals/Information/InfoModal.js
  ui/components/VisibilityMenu/index.js
Labels: component/ui

#11417 [Documentation]: Missing 'help-wanted label' hyperlink updated
  docs/pages/project/contributing/contributing.md
Labels: area/docs

#11426 [Docs]: Updating Meshery docs
  docs/pages/guides/troubleshooting/meshery-operator-meshsync-troubleshooting.md
  docs/pages/installation/quick-start.md
Labels: area/docs

#11432 update components
  server/meshmodel/istio-base/1.16.0/v1.0.0/components/AuthorizationPolicy.json
Labels: component/server, area/models

#11434 Workflow update
  .github/workflows/model-generator.yml
Labels: area/ci

#11436 add missing pull statemnt w/signoff
  .github/workflows/model-generator.yml
Labels: area/ci

#11440 [Docs]: Fix markdown syntax issue
  docs/pages/guides/troubleshooting/meshery-operator-meshsync-troubleshooting.md
Labels: area/docs

#11442 [Relationship] Add `edge-annotation` relationship for all components
  server/meshmodel/meshery-shapes/0.7.1/v1.0.0/relationships/edge-annotation.json
Labels: component/server, area/models

#11330 Expose info modal to extension
  ui/components/Modals/Information/InfoModal.js
  ui/components/NavigatorExtension.js
Labels: component/ui

#11443 update settings UI
  server/models/meshery_controllers.go
  ui/components/MeshConfigComponent.js
  ui/components/hooks/useKubernetesHook.js
Labels: component/ui, component/server

#11447 Fix registry styles
  ui/components/MeshModelRegistry/MesheryTreeView.js
Labels: component/ui

#11448 [chore] Bump sistent
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#11413 Migrate designs to rtk
  ui/components/MesheryPatterns.js
  ui/pages/configuration/catalog.js
  ui/pages/configuration/designs/index.js
  ui/rtk-query/design.js
  ui/rtk-query/user.js
Labels: component/ui

#11023 Fix connection APIs for local provider
  server/cmd/main.go
  server/helpers/utils/utils.go
  server/models/connection_persister.go
  server/models/connections/connections.go
  server/models/default_local_provider.go
Labels: component/server

#11457 update models
  server/meshmodel/argocd/0.1.1/v1.0.0/model.json
Labels: component/server, area/models

#11451 fix: [Docs] Link not working
  docs/pages/project/contributing/contributing-ui-notification-center.md
Labels: area/docs

#11452 RTK migration: filters
  ui/components/Filters.js
  ui/components/Modals/Information/InfoModal.js
  ui/rtk-query/filter.js
Labels: component/ui

#11459 theme for toolbar components
  ui/components/DashboardComponent/resources/resources-table.js
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/connections/index.js
  ui/components/connections/meshSync/index.js
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#11399 fixed filter list logging the endpoint
  mesheryctl/internal/cli/root/filter/list.go
  mesheryctl/internal/cli/root/filter/testdata/filter.list.output.golden
  mesheryctl/internal/cli/root/filter/testdata/list.filter.output.golden
Labels: component/mesheryctl

#11450 Support redirection to correct UI page after auth instead of landing on home page.
  provider-ui/components/Provider.js
  provider-ui/pages/auth/login.js
  server/handlers/common_handlers.go
  server/handlers/middlewares.go
  server/handlers/provider_handler.go
  server/models/error.go
  server/models/remote_provider.go
Labels: component/ui, component/server

#11322 (fix): fixed zIndex of Navbar
  ui/components/Header.js
Labels: component/ui

#11438 pattern import log statement improved/signoff
  mesheryctl/internal/cli/root/pattern/import.go
Labels: component/mesheryctl

#11340 Enhance Error Handling for Component Configuration in Design Handler
  server/handlers/design_engine_handler.go
  server/handlers/error.go
Labels: component/server

#11469 UI: fix registry lazy fetch and InfiniteScrolling -v2
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
  ui/components/MeshModelRegistry/helper.js
  ui/rtk-query/meshModel.js
Labels: component/ui

#11004 `Get Help` modal for extensions
  ui/assets/icons/support.js
  ui/components/TroubleshootingComponent.js
  ui/rtk-query/webhook.js
Labels: component/ui, component/extensions

#11485 add missing displayName w/signoff
  server/meshmodel/keda-http-scaler/v0.8.0/v1.0.0/relationships/relationships.json
Labels: component/server, area/models

#11464 Add environment support for local provider
  go.mod
  go.sum
  server/cmd/main.go
  server/handlers/connections_handlers.go
  server/handlers/environments_handlers.go
  server/models/default_local_provider.go
  server/models/environment_persister.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: component/server, go

#11489 [CI] Pull Changes Before `auto-commit` Action
  .github/workflows/build-and-release-edge.yml
  .github/workflows/build-and-release-stable.yml
  .github/workflows/discussions-data-files-update.yml
  .github/workflows/error-codes-updater.yaml
  .github/workflows/generate_keys.yml
  .github/workflows/go-mod-sync.yaml
  .github/workflows/graphql.yml
  .github/workflows/integrations-updater.yml
  .github/workflows/mesheryctl-ci.yml
  .github/workflows/model-generator.yml
  .github/workflows/redocly.yml
  .github/workflows/release-notes.yml
  .github/workflows/swagger.yml
Labels: area/ci

#11190 [Server] Adding POST Capability to /api/events/
  docs/_data/swagger.yml
  server/handlers/events_streamer.go
  server/helpers/swagger.yaml
  server/models/error.go
  server/models/handlers.go
  server/router/server.go
Labels: area/docs, component/server

#11481 add missing subType w/signoff
  server/meshmodel/istio-base/1.16.0/v1.0.0/relationships/edge-network-Gateway-VirtualService.json
  server/meshmodel/istio-base/1.16.0/v1.0.0/relationships/edge-network-VirtualService-Service.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/edge-network.json
Labels: component/server, area/models

#11492 [Docs] update custom meshkit code usage in meshery-server docs
  docs/pages/project/contributing/meshery-server.md
Labels: area/docs

#11480 fix: Regression Rerendering due to duplicates button
  ui/components/MeshModelRegistry/MeshModelComponent.js
Labels: component/ui

#11482 [WIP] Add workspace support for local provider
  go.mod
  go.sum
  server/cmd/main.go
  server/handlers/workspace_handlers.go
  server/models/default_local_provider.go
  server/models/environment_persister.go
  server/models/providers.go
  server/models/remote_provider.go
  server/models/workspace_persister.go
Labels: component/server

#11449 Some UX fix in dashboard tables
  ui/components/DashboardComponent/resources/configuration/config.js
  ui/components/DashboardComponent/resources/network/config.js
  ui/components/DashboardComponent/resources/resources-table.js
  ui/components/DashboardComponent/resources/storage/config.js
  ui/components/DashboardComponent/resources/workloads/config.js
  ui/components/DashboardComponent/view.js
  ui/components/connections/ConnectionChip.js
  ui/components/connections/index.js
Labels: component/ui

#11509 Meshkit upgrade
  go.mod
  go.sum
Labels: component/mesheryctl, component/ui, component/server

#11510 fix: change to proper working directory
  .github/workflows/go-mod-sync.yaml
Labels: area/ci

#11500 Updated filter view command docs
  mesheryctl/internal/cli/root/filter/view.go
Labels: component/mesheryctl

#11491 [Docs] fix pattern rowspan
  docs/pages/reference/mesheryctl-commands.md
Labels: area/docs

#11483 schema migrate for environments and workspace to sistent
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/index.js
Labels: component/ui
