Repository meshery/meshery, pull requests merged in 2024-09, with the labels that each got.

#11877 Delete docs/_releases/v0.8.0.md
  docs/_releases/v0.8.0.md
Labels: area/docs

#11863 [CI] Enhance comment format for e2e test results
  ui/tests/e2e/custom-playwright-reporter.js
  ui/tests/e2e/reporterSummary.md
Labels: component/ui

#11888 [CI][Docs] Identity prereleases
  .github/workflows/release-notes.yml
  docs/_releases/v0.7.89.md
  docs/_releases/v0.7.90.md
  docs/_releases/v0.8.0-alpha.2.md
  docs/_releases/v0.8.0-beta.1.md
  docs/_releases/v0.8.0-beta.2.md
  docs/_releases/v0.8.0-beta.3.md
  docs/_releases/v0.8.0-beta.4.md
  docs/pages/project/latest-release.md
Labels: area/docs, area/ci

#11832 Support addition of nodes during evaluation based on relationship definition
  server/handlers/policy_relationship_handler.go
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/policies/evaluation.rego
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/policies/helper_rules.rego
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/policies/identify_additions.rego
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/policies/patch_helper_rules.rego
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/policies/relationship_diff_policy.rego
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-parent-namespace.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/k8s-resources-to-container.json
Labels: component/server, area/models, opa

#11889 [mesheryctl] Chore: point new release version message to docs.meshery.io
  mesheryctl/internal/cli/root/system/update.go
Labels: component/mesheryctl

#11890 docs: update docs on installing minikube out of clusters
  docs/pages/installation/kubernetes.md
Labels: area/docs, pr/do-not-merge

#11872 fix: duplicate comment on PR, fix numbering, and add test id generator
  .github/workflows/comment-e2e-test.yml
  ui/components/General/ErrorBoundary.js
  ui/components/hooks/useTestIDs.js
  ui/tests/e2e/connections.spec.js
  ui/tests/e2e/custom-playwright-reporter.js
Labels: area/ci, component/ui

#11896 [server] comment out unused `fetchFilters` resolver.
  server/internal/graphql/resolver/filter.go
Labels: component/server, component/filters, framework/graphql

#11857 [chore] Add data-testid attributes to Info and Export Modal buttons
  ui/components/ExportModal.js
  ui/components/Modals/Information/InfoModal.js
Labels: component/ui

#11735 enhancement of docker-extensions UI
  .github/workflows/build-and-release-dde.yml
  install/docker-extension/ui/package-lock.json
  install/docker-extension/ui/package.json
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  install/docker-extension/ui/src/components/ExtensionComponent/styledComponents.js
  install/docker-extension/ui/src/components/Walkthrough/Tour.js
Labels: area/ci, component/extensions

#11899 [chore] Add data-testid attribute for environment select checkboxes of deployment modal
  ui/components/DesignLifeCycle/SelectDeploymentTarget.js
Labels: component/ui

#11900 fix support modal for troubleshoot
  ui/components/NavigatorExtension.js
  ui/components/TroubleshootingComponent.js
Labels: kind/bug, component/ui

#11909 Fix handling of connection API response from remote provider
  server/models/remote_provider.go
Labels: component/server

#11891 [meshreyctl] Use central function to determine latest version.
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/internal/cli/root/version.go
  mesheryctl/pkg/utils/latest_version.go
Labels: component/mesheryctl

#11903 deprecated version property fix
  install/docker/docker-compose.yaml
  install/mesheryapp.dockerapp/docker-compose.yml
  install/playground/docker/docker-compose.yaml
Labels: playground

#11913 fix: tap on dry run not working
  ui/components/DesignLifeCycle/DryRun.js
  ui/machines/validator/designValidator.js
Labels: component/ui

#11924 [Fix]: build and release docker extension
  install/docker-extension/Dockerfile
Labels: component/extensions

#11919 [Test] Fix all failing and skipped e2e test
  ui/components/MesherySettingsEnvButtons.js
  ui/playwright.config.js
  ui/tests/e2e/connections.spec.js
  ui/tests/e2e/userpreference.spec.js
Labels: component/ui

#11865 Added Meshery design embed extension to Meshery-UI
  ui/pages/extensions.js
Labels: component/ui

#11931 [docs] Update the dead link in Contribute to Models page
  docs/pages/project/contributing/contributing-models.md
Labels: area/docs

#11935 [Relationships] Remove relationships between internal K8s resources.
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-configMap-to-replicaSet.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-controllerRevision-to-deployment.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-controllerRevision-to-pod.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-controllerRevision-to-replicaSet.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-controllerRevision-to-statefulSet.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-csiDriver-to-replicaSet.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-deployment-to-event.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-deployment-to-lease.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-limitRange-to-replicaSet.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-pod-to-event.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-pod-to-replicaSet.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-podTemplate-to-deployment.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-podTemplate-to-replicaSet.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-priorityClass-to-podTemplate.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-replicaSet-to-event.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-replicaSet-to-horizontalPodAutoscaler.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-replicaSet-to-lease.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-replicaSet-to-podDosruptionBudget.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-replicationController-to-daemonSet.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-replicationController-to-deployment.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-replicationController-to-replicaSet.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-replicationController-to-statefulSet.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-secret-to-replicaSet.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-service-to-event.json
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-inventory-statefulSet-to-event.json
Labels: component/server, area/models

#11923 update component w/signoff
  mesheryctl/internal/cli/root/registry/generate.go
  mesheryctl/internal/cli/root/registry/update.go
  mesheryctl/pkg/utils/component.go
  mesheryctl/pkg/utils/spreadsheet_update.go
Labels: component/mesheryctl

#11829 [UI] Add intersection observer for components and relationship tabs
  ui/api/meshmodel.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
Labels: component/ui

#11948 Change mesheyctl to mesheryctl
  docs/pages/guides/mesheryctl/system-commands.md
Labels: area/docs

#11949 Update Build and Release workflow
  .github/workflows/build-and-release-stable.yml
  ui/pages/_app.js
Labels: area/ci, component/ui

#11914 Refactor/remove cypress
  provider-ui/cypress.config.js
  provider-ui/cypress/e2e/provider-ui.cy.js
  provider-ui/cypress/e2e/spec.cy.js
  provider-ui/cypress/fixtures/example.json
  provider-ui/cypress/fixtures/providers.json
  provider-ui/cypress/plugins/index.js
  provider-ui/cypress/support/commands.js
  provider-ui/cypress/support/e2e.js
  provider-ui/package-lock.json
  provider-ui/package.json
  ui/.eslintrc.js
  ui/cypress.config.js
  ui/cypress/actionHelpers/graphql-test-utils.js
  ui/cypress/actionHelpers/service-mesh-configuration-management.js
  ui/cypress/e2e/e2e/service_mesh_configuration_management_spec.js
  ui/cypress/e2e/e2e/service_mesh_lifecycle_settings_spec.js
  ui/cypress/e2e/e2e/userpreference_spec.js
  ui/cypress/e2e/integration/configuration_filters_spec.js
  ui/cypress/e2e/integration/indexui_spec.js
  ui/cypress/e2e/integration/settings_spec.js
  ui/cypress/e2e/integration/userpreference_spec.js
  ui/cypress/e2e/sample_spec.js
  ui/cypress/fixtures/clusterVersion.json
  ui/cypress/fixtures/configuration/filter-stubs/initial-filters.json
  ui/cypress/fixtures/configuration/filter-stubs/post-upload-filters.json
  ui/cypress/fixtures/configuration/service-mesh-patterns-samples/IstioFilterPattern-commit-b23b219.yaml
  ui/cypress/fixtures/configuration/service-mesh-patterns-samples/bookInfoPattern-commit-5eb2369.yaml
  ui/cypress/fixtures/configuration/wasm-filters-v0.1.2/http-auth-envoy.yaml
  ui/cypress/fixtures/configuration/wasm-filters-v0.1.2/wasm-filters-v0.1.2-http-auth-envoy.yaml
  ui/cypress/fixtures/example.json
  ui/cypress/fixtures/getMeshAdapters.json
  ui/cypress/fixtures/postMeshManage.json
  ui/cypress/fixtures/stats.json
  ui/cypress/fixtures/sync.json
  ui/cypress/plugins/index.js
  ui/cypress/support/commands.js
  ui/cypress/support/e2e.js
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#11955 add ui config
  provider-ui/package-lock.json
  provider-ui/package.json
  ui/components/Header.js
  ui/pages/_app.js
  ui/ui.config.js
Labels: component/ui, component/extensions

#11961 Refactor code to remove commented out Cypress test flags
  .github/codecov.yml
  .github/workflows/build-ui-and-server.yml
  .github/workflows/build-ui-server-reusable-workflow.yml
  Makefile
  docs/pages/extensions/snapshot/index.md
  docs/pages/project/contributing/ci-build-and-release.md
  docs/pages/project/contributing/contributing-ui.md
  provider-ui/.eslintignore
  provider-ui/.eslintrc.js
  provider-ui/.gitignore
  ui/.eslintignore
  ui/.gitignore
Labels: area/docs, area/ci, component/ui

#11947 [Connection wizard] Fix issues with Connection wizard
  server/machines/helpers/auto_register.go
  server/machines/models.go
  ui/components/connections/meshSync/Stepper/Notification.js
  ui/components/connections/meshSync/Stepper/StepperContent.js
Labels: component/ui, component/server

#11915 [Docs] Fix missing li tag in extension points
  docs/_sass/elements.scss
Labels: area/docs

#11953 (Fix) : updated tutorial links in sidebar
  docs/_data/toc.yml
Labels: area/docs

#11967 [CI] e2e: temporarily disable Consul adapter tests
  .github/workflows/build-ui-and-server.yml
Labels: area/ci

#11873 Removed unnecessary packages and updated dependencies
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#11612 [DOCS] fixed navbar styling
  docs/_sass/elements.scss
  docs/_sass/navbar.scss
Labels: area/docs

#11906 [fix] Remove redundant store wrapper and add error boundary
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/index.js
Labels: component/ui

#11972 Revert "[fix] Remove redundant store wrapper and add error boundary"
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/index.js
Labels: component/ui

#11973 Revert "Revert "[fix] Remove redundant store wrapper and add error boundary""
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/index.js
Labels: component/ui

#11975 Meshmap-UI: renamed MeshMap to Kanvas
  ui/components/Popup.js
Labels: component/ui

#11983 fix broken schema w/signoff
  server/meshmodel/meshery-core/0.7.1/v1.0.0/components/Comment.json
  server/meshmodel/meshery-core/0.7.1/v1.0.0/components/WASMFilter.json
  server/meshmodel/meshery-core/0.7.2/v1.0.0/components/Comment.json
  server/meshmodel/meshery-core/0.7.2/v1.0.0/components/WASMFilter.json
Labels: component/server, area/models

#11977 fix styling of menu for user account extension
  ui/components/User.js
Labels: component/ui

#11985 chore: fix the versioning on snapshot
  .github/workflows/meshmap.yml
Labels: area/ci

#11986 Update model.go
  mesheryctl/pkg/utils/model.go
Labels: component/mesheryctl

#11971 chore: disable failing test
  ui/tests/e2e/service_mesh_lifecycle.spec.js
  ui/tests/e2e/service_mesh_performance.spec.js
Labels: component/ui

#11993 Create hargun-kaur.md
  docs/_meetings/09-12-2024/hargun-kaur.md
Labels: area/docs

#11989 Create ashparsh-pandey.md
  docs/_meetings/09-12-2024/ashparsh-pandey.md
Labels: area/docs

#11991 Create ray-desmond.md
  docs/_meetings/09-12-2024/ray-desmond.md
Labels: area/docs

#12001 Create Ganesh.md
  docs/_meetings/09-12-2024/Ganesh.md
Labels: area/docs

#11998 Create tiago.md
  docs/_meetings/09-12-2024/tiago.md
Labels: area/docs

#11996 Create Aaditya-singh
  docs/_meetings/09-12-2024/Aaditya-singh
Labels: area/docs

#11997 Create olang-daniel.md
  docs/_meetings/09-12-2024/olang-daniel.md
Labels: area/docs

#11988 Create Nitish_jha.md
  docs/_meetings/09-12-2024/Nitish_jha.md
Labels: area/docs

#11994 new commers meeting attendence
  docs/_meetings/09-12-2024/ManmohanSingh.md
Labels: area/docs

#11990 Create heysujal.md
  docs/_meetings/09-12-2024/heysujal.md
Labels: area/docs

#11999 [Docs]: Fix Content Inconsistencies in Meshery Metrics Guide
  docs/pages/guides/performance-management/meshery-metrics.md
Labels: area/docs

#12007 [CI] Bump Snapshot Action to v0.2.11
  .github/workflows/meshmap.yml
Labels: area/ci

#12014 fix: e2e test result comment formatting with Skipped indicator
  ui/tests/e2e/custom-playwright-reporter.js
Labels: component/ui

#12018 chore: make keys workflow a cron job
  .github/workflows/generate_keys.yml
Labels: area/ci

#12006 The subheading "Creating a Meshery Design" is changed to "Ways to create a Meshery Design"
  docs/pages/guides/configuration-management/creating-a-meshery-design.md
Labels: area/docs

#11934 Add version flag support on model export command
  docs/_data/mesheryctlcommands/cmds.yml
  mesheryctl/internal/cli/root/model/export.go
  mesheryctl/internal/cli/root/model/model.go
Labels: area/docs, component/mesheryctl

#12020 Fix generate keys workflow
  .github/workflows/generate_keys.yml
Labels: area/ci

#12030 Fix not showing seeded designs in local provider
  ui/components/MesheryPatterns.js
Labels: component/ui

#11980 Anonymous user
  .github/workflows/build-and-release-stable.yml
  .github/workflows/build-release.yml
  server/handlers/connections_handlers.go
  server/handlers/error.go
  server/handlers/grafana_handlers.go
  server/handlers/prometheus_handlers.go
  server/handlers/provider_handler.go
  server/machines/actions.go
  server/machines/grafana/register.go
  server/machines/helpers/auto_register.go
  server/machines/prometheus/register.go
  server/models/capabilities_persister.go
  server/models/connections/connections.go
  server/models/default_local_provider.go
  server/models/extension_utils.go
  server/models/preference.go
  server/models/providers.go
  server/models/release_channel.go
  server/models/remote_provider.go
Labels: area/ci, component/server

#12031 initialize usercapabilities persister
  server/cmd/main.go
Labels: component/server

#12029 Enhance permissions flow
  ui/components/Header.js
  ui/components/NavigatorExtension.js
  ui/package.json
  ui/utils/can.js
Labels: component/ui

#12034 chore: remove unused
  ui/components/Header.js
  ui/package-lock.json
Labels: component/ui

#12022 fix right align issue of radio group rjsf model
  ui/themes/rjsf.js
Labels: component/ui

#12035 configure meshery ui before building
  .github/workflows/build-release.yml
  docs/pages/extensibility/ui.md
  ui/components/User.js
  ui/utils/disabledComponents.js
Labels: area/docs, area/ci, component/ui

#12039 migrate theming to user prefs
  ui/components/Header.js
  ui/components/NavigatorExtension.js
  ui/components/UserPreferences/index.js
  ui/pages/_app.js
  ui/pages/user/preferences.js
  ui/rtk-query/user.js
  ui/themes/app.js
  ui/themes/hooks.js
  ui/utils/theme.js
Labels: component/ui

#12027 create a empty folder entitled week-of-09-23-2024 w/signoff
  docs/_meetings/week-of-09-23-2024/.gitkeep
Labels: area/docs

#12041 [Docs] Update connections.md
  docs/pages/concepts/logical/connections.md
Labels: area/docs

#12045 Update build-and-release-stable.yml
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#12037 [Docs] Create Newcomer's Meeting Attendance Folder for Week of 09/09/2024
  docs/_meetings/week-of-09-09-2024/vanshjain-week-of-09-09-2024
  docs/_meetings/week-of-09-16-2024/09-16-2024-newcomers-meeting.md
Labels: area/docs

#12019 [Docs] Create Newcomer's meeting attendance folder for the week of 10/07/2024
  docs/_meetings/week-of-09-09-2024/09-12-2024/Aaditya-singh
  docs/_meetings/week-of-09-09-2024/09-12-2024/Ganesh.md
  docs/_meetings/week-of-09-09-2024/09-12-2024/ManmohanSingh.md
  docs/_meetings/week-of-09-09-2024/09-12-2024/Nitish_jha.md
  docs/_meetings/week-of-09-09-2024/09-12-2024/Pranjal Gupta.md
  docs/_meetings/week-of-09-09-2024/09-12-2024/ashparsh-pandey.md
  docs/_meetings/week-of-09-09-2024/09-12-2024/hargun-kaur.md
  docs/_meetings/week-of-09-09-2024/09-12-2024/heysujal.md
  docs/_meetings/week-of-09-09-2024/09-12-2024/olang-daniel.md
  docs/_meetings/week-of-09-09-2024/09-12-2024/ray-desmond.md
  docs/_meetings/week-of-09-09-2024/09-12-2024/tiago.md
  docs/_meetings/week-of-09-09-2024/09-12-2024/vivek-vishal.md
  docs/_meetings/week-of-09-09-2024/2024-09-05-newcomers-meeting.md
Labels: area/docs

#11995 Create dorine_tipo.md
  docs/_meetings/dorine_tipo.md
Labels: area/docs

#12002 create karan-palan.md
  docs/_meetings/09-12-2024/karan-palan.md
Labels: area/docs

#12033 add debug log w/signoff
  server/handlers/provider_handler.go
  server/models/release_channel.go
Labels: component/server

#12044 [Docs] Meshery Extensions Rename
  docs/_data/notes/meshery-model-generation.md
  docs/_data/notes/meshery-models.md
  docs/_data/toc.yml
  docs/_models/appmesh-controller.md
  docs/_models/docker.md
  docs/assets/img/kanvas-icon-color.svg
  docs/assets/img/kanvas/action-publish.png
  docs/assets/img/kanvas/action-share.png
  docs/assets/img/kanvas/application-tab.png
  docs/assets/img/kanvas/apps-modal.png
  docs/assets/img/kanvas/clone.png
  docs/assets/img/kanvas/deploy-app.png
  docs/assets/img/kanvas/deploy.png
  docs/assets/img/kanvas/design-cronjob.png
  docs/assets/img/kanvas/design.png
  docs/assets/img/kanvas/drop-design.png
  docs/assets/img/kanvas/how-to-publish-your-design.mp4
  docs/assets/img/kanvas/import-design.png
  docs/assets/img/kanvas/kanvas-design.png
  docs/assets/img/kanvas/kanvas-snapshot.png
  docs/assets/img/kanvas/merge-design.png
  docs/assets/img/kanvas/navigate-kanvas.png
  docs/assets/img/kanvas/publish-modal.png
  docs/assets/img/kanvas/save-app.png
  docs/assets/img/kanvas/save.png
  docs/assets/img/kanvas/scale.png
  docs/assets/img/kanvas/select-cronjob.png
  docs/assets/img/kanvas/share-modal.png
  docs/assets/img/kanvas/tags.gif
  docs/assets/img/kanvas/tool-bar.png
  docs/assets/img/kanvas/toolbar-cronjob.png
  docs/assets/img/kanvas/view.png
  docs/pages/extensibility/providers.md
  docs/pages/extensibility/ui.md
  docs/pages/extensions/kanvas/component-shape-guide.md
  docs/pages/extensions/kanvas/edges-guide.md
  docs/pages/extensions/kanvas/importing-application.md
  docs/pages/extensions/kanvas/importing-design.md
  docs/pages/extensions/kanvas/index.md
  docs/pages/extensions/kanvas/merging-a-design.md
  docs/pages/extensions/kanvas/publishing-a-design.md
  docs/pages/extensions/kanvas/sharing-a-design.md
  docs/pages/extensions/kanvas/tags-set.md
  docs/pages/extensions/meshmap/index.md
  docs/pages/extensions/snapshot/index.md
  docs/pages/guides/configuration-management/configuration-management.md
  docs/pages/guides/configuration-management/creating-a-meshery-design.md
  docs/pages/guides/configuration-management/filter-management.md
  docs/pages/guides/configuration-management/patterns.md
  docs/pages/guides/infrastructure-management/gitops-with-meshery.md
  docs/pages/guides/tutorials/exploring-kubernetes-cronjobs.md
  docs/pages/guides/tutorials/kubernetes-configmaps-secrets.md
  docs/pages/guides/tutorials/kubernetes-pods.md
  docs/pages/guides/tutorials/wordpress-mysql-persistentvolume.md
  docs/pages/project/playground.md
Labels: area/docs, kind/chore

#12059 rename extension
  ui/components/Popup.js
Labels: component/ui

#12047 [CI] Remove adapters from `make server`; Add new target `make server-with-adapters'
  .github/workflows/go-testing-ci.yml
  .github/workflows/mesheryctl-e2e.yaml
  Makefile
Labels: kind/chore, area/ci

#12067 [Server] Feat: Support export of designs as k8s manifets.
  go.mod
  go.sum
  server/cmd/error.go
  server/cmd/main.go
  server/handlers/component_handler.go
  server/handlers/database_handlers.go
  server/handlers/design_engine_handler.go
  server/handlers/error.go
  server/handlers/events_streamer.go
  server/handlers/meshery_pattern_handler.go
  server/handlers/meshsync_handler.go
  server/handlers/policy_relationship_handler.go
  server/helpers/common_registry_logs.go
  server/helpers/component_info.json
  server/helpers/utils/utils.go
  server/internal/graphql/resolver/adapter.go
  server/internal/graphql/resolver/meshmodel.go
  server/internal/graphql/resolver/meshsync.go
  server/models/meshery_meshmodels_api_response.go
  server/models/pattern/core/pattern.go
  server/models/pattern/patterns/k8s/k8s.go
  server/models/pattern/stages/filler.go
  server/models/remote_provider.go
  server/models/seed_models_logs.go
Labels: component/server

#11506 add action for welcoming first-time-contributors
  .github/workflows/first-time-contributor.yml
Labels: area/ci

#12058 [chore] Change meshery extension reference to generic capabilities property check
  ui/components/Popup.js
Labels: component/ui

#12065 fix(notification): fix notification filter
  ui/components/NotificationCenter/index.js
Labels: component/ui

#12076 Create Arjunsreekumar.md
  docs/_meetings/week-of-09-16-2024/Arjunsreekumar.md
Labels: area/docs

#12068 Create hargun-kaur.md
  docs/_meetings/week-of-09-16-2024/hargun-kaur.md
Labels: area/docs

#12089 fix cutoff of form label with checkbox/radio
  ui/themes/rjsf.js
Labels: component/ui

#12066 fix: schema validator crashed on fetching individual component schema
  ui/machines/validator/designValidator.js
  ui/machines/validator/schemaValidator.js
Labels: component/ui

#12090 [Extension] fix extension page crash
  ui/components/Popup.js
  ui/pages/extension/[...component].js
Labels: component/ui

#12081 [Docs] Simplify presentation of feature overview
  docs/pages/project/project.md
Labels: area/docs

#12091 [docs] Overview: Update feature section title to h3
  docs/pages/project/project.md
Labels: area/docs

#12098 fix user id in signup link
  ui/components/User.js
Labels: component/ui

#12099 [Server] Use correct struct for functions.
  server/models/providers.go
  server/models/release_channel.go
  server/models/remote_provider.go
Labels: area/ci, component/server

#11354 proper error logs and event w/singoff
  docs/assets/img/export/ExportingModel.png
  docs/assets/img/export/ExportingModsel.png
  docs/assets/img/export/Registry.png
  docs/assets/img/import/ImportingModel.png
  docs/assets/img/import/Registry.png
  docs/pages/guides/configuration-management/exporting-models.md
  docs/pages/guides/configuration-management/importing-models.md
  go.mod
  go.sum
  mesheryctl/internal/cli/root/components/components.go
  mesheryctl/internal/cli/root/model/export.go
  mesheryctl/internal/cli/root/model/import.go
  mesheryctl/internal/cli/root/model/model.go
  mesheryctl/internal/cli/root/registry/generate.go
  mesheryctl/internal/cli/root/registry/update.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/model.go
  mesheryctl/template.json
  server/handlers/component_handler.go
  server/handlers/componetgenratorhelper.go
  server/handlers/error.go
  server/handlers/meshery_pattern_handler.go
  server/helpers/utils/utils.go
  server/models/handlers.go
  server/models/meshery_meshmodels_api_response.go
  server/models/seed_models_logs.go
  server/router/server.go
  ui/components/DataFormatter/index.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomColorWidget.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/components/NotificationCenter/metadata.js
  ui/rtk-query/meshModel.js
Labels: area/docs, component/mesheryctl, component/ui, component/server

#12101 Update meshery-operator chart version and maintainers' email
  install/kubernetes/helm/meshery-operator/Chart.yaml
  install/kubernetes/helm/meshery-operator/README.md
  install/kubernetes/helm/meshery-operator/values.yaml
Labels: framework/helm, kubernetes

#12097 [CI] Chore: Update Sistent package to v0.14.93
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#11917 [docs] Add docs for steps to publish to ArtifactHub
  docs/pages/guides/tutorials/publish-to-artifacthub.md
  docs/pages/guides/tutorials/screenshots/publish-to-artifacthub/2024-07-30_1.png
  docs/pages/guides/tutorials/screenshots/publish-to-artifacthub/2024-07-30_2.png
  docs/pages/guides/tutorials/screenshots/publish-to-artifacthub/2024-07-30_3.png
  docs/pages/guides/tutorials/screenshots/publish-to-artifacthub/2024-07-30_4.png
  docs/pages/guides/tutorials/screenshots/publish-to-artifacthub/add_repo.png
  docs/pages/guides/tutorials/screenshots/publish-to-artifacthub/artifacthub_control_panel.png
  docs/pages/guides/tutorials/screenshots/publish-to-artifacthub/kind_design_repo.png
Labels: area/docs

#11689 Make tables responsive on small screens
  docs/_sass/layout.scss
  docs/pages/reference/mesheryctl-commands.md
Labels: area/docs

#12106 update if condition
  .github/workflows/first-time-contributor.yml
Labels: area/ci

#12103 Fix filters not loading on filters page in local provider
  ui/components/Filters.js
Labels: component/ui

#12108 Fix create designs button not showing in empty state
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
Labels: component/ui

#12070 Create devashish.md
  docs/_meetings/week-of-09-16-2024/devashish.md
Labels: area/docs

#11910 To stop seeding sample applications
  server/models/default_local_provider.go
Labels: component/server

#12051 Support Generating Models and Components from Local CSV Files
  mesheryctl/internal/cli/root/registry/generate.go
  mesheryctl/internal/cli/root/registry/publish.go
  mesheryctl/internal/cli/root/registry/registry.go
  mesheryctl/internal/cli/root/registry/update.go
  mesheryctl/pkg/utils/component.go
  mesheryctl/pkg/utils/model.go
  mesheryctl/pkg/utils/spreadsheet_update.go
Labels: component/mesheryctl

#12110 [Extension]: inject rjsf
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomFileWidget.js
  ui/components/NavigatorExtension.js
Labels: component/ui

#12084 fix the wrong command 'mesheryctl mesh'
  docs/pages/reference/mesheryctl-commands.md
Labels: area/docs

#12128 Create HargunKaur.md
  docs/_meetings/week-of-09-23-2024/HargunKaur.md
Labels: area/docs

#12129 Create Lokesh.md
  docs/_meetings/week-of-09-23-2024/Lokesh.md
Labels: area/docs

#12133 Create Tharanishwaran.md
  docs/_meetings/week-of-09-23-2024/Tharanishwaran.md
Labels: area/docs

#12130 Create harshit.md
  docs/_meetings/week-of-09-23-2024/harshit
Labels: area/docs

#12140 Fix undefined issue in performance profile
  ui/components/MesheryPerformance/PerformanceProfiles.js
Labels: component/ui

#12127 chore(kanvas-snapshot): inject id for removing element on snapshot
  ui/components/Header.js
  ui/pages/_app.js
Labels: component/ui

#12144 Seed design from locally present designs in local provider
  server/models/default_local_provider.go
Labels: component/server

#12148 Fix not able to ping k8s connection in local provider
  server/models/default_local_provider.go
Labels: component/server

#12149 Fix unnecessary state update in designs and filters page
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
Labels: component/ui

#12150 add loading variant for notistack snackbar
  ui/pages/_app.js
Labels: component/ui

#12152 Fix showing empty state in filters page after changing pages
  ui/components/Filters.js
Labels: component/ui

#12160 [bugfix] First-timer: Use GH_ACCESS_TOKEN, not GITHUB_TOKEN
  .github/workflows/first-time-contributor.yml
Labels: area/ci

#12145 [Doc]Fix catalog schema link
  docs/pages/concepts/architectural/catalog.md
Labels: area/docs

#12071 Create Ian.md
  docs/_meetings/week-of-09-16-2024/Ian.md
Labels: area/docs

#12102 test(e2e): fix performance load test and add delete perf test profiles
  ui/components/MesheryPerformance/PerformanceCard.js
  ui/components/MesheryPerformance/PerformanceResults.js
  ui/components/MesheryPerformance/index.js
  ui/tests/e2e/fixtures/performancePage.js
  ui/tests/e2e/service_mesh_performance.spec.js
  ui/utils/hooks/useNotification.js
Labels: component/ui

#12141 changes in error shown
  mesheryctl/pkg/utils/error.go
Labels: component/mesheryctl

#12069 Create rafayel.md
  docs/_meetings/week-of-09-16-2024/rafayel.md
Labels: area/docs

#12073 Create harshit.md
  docs/_meetings/week-of-09-16-2024/harshit.md
Labels: area/docs

#12165 [E2E] fix adapter not available on test
  .github/workflows/build-ui-and-server.yml
Labels: area/ci

#12171 fix(build-ui-and-server): change the setup and build ui command
  .github/workflows/build-ui-and-server.yml
Labels: area/ci

#11674 [Docs] Add Field Descriptions Meshery CRDs
  install/kubernetes/helm/meshery-operator/crds/crds.yaml
  install/kubernetes/helm/meshery/crds/crds.yaml
Labels: framework/helm, kubernetes

#12175 [CI] build-ui-and-server: install playwright manually
  .github/workflows/build-ui-and-server.yml
Labels: area/ci

#12182 chore: rm unused files
  docs/_layouts/item.html
  docs/catalog/categories/deployment.html
  docs/catalog/categories/observability.html
  docs/catalog/categories/resiliency.html
  docs/catalog/categories/scaling.html
  docs/catalog/categories/security.html
  docs/catalog/categories/traffic-management.html
  docs/catalog/categories/troubleshooting.html
  docs/catalog/categories/workloads.html
  docs/catalog/compatibility/app-mesh.html
  docs/catalog/compatibility/consul.html
  docs/catalog/compatibility/istio.html
  docs/catalog/compatibility/kuma.html
  docs/catalog/compatibility/linkerd.html
  docs/catalog/compatibility/nginx.html
  docs/catalog/compatibility/nsm.html
  docs/catalog/compatibility/osm.html
  docs/catalog/compatibility/traefik-mesh.html
  docs/catalog/index.html
  docs/catalog/technology/jwt.html
  docs/catalog/technology/webassembly.html
Labels: area/docs

#12179 week-of-09-30-2024
  docs/_meetings/week-of-09-30-2024
Labels: area/docs

#12159 [Chore] Remove mesheryctl version from UI bug issue template
  .github/ISSUE_TEMPLATE/meshery-ui_bug.md
Labels: area/ci

#12158 [Chore] Add extension version in extensions bug issue template
  .github/ISSUE_TEMPLATE/meshery-extensions_bug.md
Labels: area/ci

#12126 [chore] Fix failing `go static check`.
  server/router/server.go
Labels: component/server, go
