Repository meshery/meshery, pull requests merged in 2024-06, with the labels that each got.

#11072 [Relationships]: Add kube-prometheus-stack relationships
  server/meshmodel/kube-prometheus-stack/relationships/sibling_matchlabels.json
Labels: component/server, area/models

#11074 Add Key ID & Monikers
  docs/_includes/permissions.html
  docs/assets/js/permission_constants.js
Labels: area/docs

#11079 Create staging playground deploy workflow and other updates
  .github/workflows/build-and-release-edge.yml
  .github/workflows/cncf-playground-reset.yaml
  .github/workflows/cncf-staging-playground-deploy-meshery.yaml
Labels: area/ci

#11064 fix:offset fix w/signoff
  ui/components/NotificationCenter/index.js
  ui/rtk-query/notificationCenter.js
  ui/store/slices/events.js
Labels: component/ui, component/server

#11098 [Server] Policy for `Hierarchical Parent` relationship.
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/policies/common.rego
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/policies/hierarchical_inventory.rego
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/policies/hierarchical_parent.rego
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/policies/hierarchichal_parent.rego
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical_parent.json
Labels: component/server, area/models

#11108 Enhance rtk and redux global injection
  ui/lib/store.js
  ui/pages/_app.js
  ui/rtk-query/index.js
  ui/store/hooks.js
Labels: component/ui

#11111 Add cursor to table rows
  docs/_includes/permissions.html
Labels: area/docs

#11099 us default eval query if no query is specified in rel def
  go.mod
  go.sum
  server/handlers/policy_relationship_handler.go
Labels: component/server

#11127 [Server] Support performing upgrades for existing dependent resources.
  server/handlers/content_modifier.go
  server/handlers/design_engine_handler.go
  server/models/pattern/patterns/patterns.go
Labels: component/server

#11128 Leecalcote/docs/mesheryctl-model
  docs/_data/mesheryctlcommands/cmds.yml
  docs/_sass/clipboard.scss
  docs/pages/reference/mesheryctl-commands.md
Labels: area/docs

#11132 chore(docs): Add model reference documentation
  docs/_data/mesheryctlcommands/cmds.yml
  docs/pages/reference/mesheryctl-commands.md
Labels: area/docs

#11134 [Chore] UI: Upgrade to 0.14.48 Sistent
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#11136 added sistentprovider to components
  ui/components/DashboardComponent/resources/resources-table.js
  ui/components/DashboardComponent/view.js
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/connections/index.js
  ui/components/connections/meshSync/index.js
Labels: component/ui

#11102 [Server] Format deployment events
  server/handlers/design_engine_handler.go
  server/helpers/utils/utils.go
  server/machines/helpers/auto_register.go
  server/models/pattern/patterns/patterns.go
  server/models/pattern/stages/svc_provider.go
Labels: component/server

#11094 Deployment lifecycle enhancement
  ui/components/DataFormatter/index.js
  ui/components/DesignLifeCycle/DeployStepper.js
  ui/components/DesignLifeCycle/DeploymentSummary.js
  ui/components/DesignLifeCycle/DryRun.js
  ui/components/DesignLifeCycle/SelectDeploymentTarget.js
  ui/components/DesignLifeCycle/ValidateDesign.js
  ui/components/DesignLifeCycle/common.js
  ui/components/DesignLifeCycle/finalizeDeployment.js
  ui/components/Header.js
  ui/components/NotificationCenter/constants.js
  ui/components/NotificationCenter/index.js
  ui/components/NotificationCenter/metadata.js
  ui/machines/operationsCenter.js
  ui/machines/validator/designValidator.js
  ui/package-lock.json
  ui/package.json
  ui/pages/_app.js
  ui/rtk-query/design.js
  ui/rtk-query/meshModel.js
  ui/store/index.js
  ui/store/slices/globalEnvironmentContext.js
Labels: component/ui

#11138 fix connections page break
  ui/components/connections/index.js
Labels: component/ui

#11143 [mesheryctl] Fix list --count is not returning the total when page flag is present
  mesheryctl/internal/cli/root/model/list.go
Labels: component/mesheryctl

#11145 [UI] use connection metadata to get context
  ui/components/DesignLifeCycle/SelectDeploymentTarget.js
Labels: component/ui

#11148 Make CASL CAN case insensitive
  ui/pages/_app.js
  ui/rtk-query/ability.js
  ui/utils/can.js
Labels: component/ui

#11144 fix ratelimit artifacthub w/signoff
  mesheryctl/internal/cli/root/registry/generate.go
Labels: component/mesheryctl

#11152 fix(ui): dashboard-only responsiveness
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/resources/resources-table.js
  ui/components/DashboardComponent/view.js
Labels: component/ui

#11151 added issue/docs-needed
  .github/label-commenter-config.yml
Labels: area/ci

#11150 Fix filters not getting fetched locally
  ui/components/Filters.js
Labels: component/ui

#11147 Bump and migrate notistack according new version
  ui/components/ConnectionWizard/DataPanels/AdapterChip.js
  ui/components/ConnectionWizard/Screens/KubernetesScreen.js
  ui/components/DuplicatesDataTable.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesheryProgressBar.js
  ui/components/telemetry/grafana/GrafanaCustomChart.js
  ui/package-lock.json
  ui/package.json
  ui/pages/_app.js
Labels: component/ui

#11141 Move Schema Validation Actor to WebWorker
  ui/components/DesignLifeCycle/DryRun.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/machines/registry.js
  ui/machines/utils.js
  ui/machines/validator/designValidator.js
  ui/machines/validator/schemaValidator.js
  ui/machines/validator/schemaValidatorWorker.js
  ui/package-lock.json
  ui/package.json
  ui/rtk-query/meshModel.js
Labels: component/ui

#11160 Revert "Revert "Bump and migrate notistack according new version""
  ui/components/ConnectionWizard/DataPanels/AdapterChip.js
  ui/components/ConnectionWizard/Screens/KubernetesScreen.js
  ui/components/DuplicatesDataTable.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/telemetry/grafana/GrafanaCustomChart.js
  ui/package-lock.json
  ui/package.json
  ui/pages/_app.js
Labels: component/ui

#11118 fix: logs to have same current model and extracted model
  mesheryctl/internal/cli/root/registry/error.go
  mesheryctl/internal/cli/root/registry/generate.go
Labels: component/mesheryctl

#11171 [bug] fix crash of connections page
  ui/components/connections/index.js
Labels: kind/bug, component/ui

#11173 add missing action func to infomodal
  ui/components/Modals/Information/InfoModal.js
Labels: kind/bug

#10642 fix height of registry section
  ui/assets/styles/general/tool.styles.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
Labels: component/ui

#11181 Updated the installation link of Meshery by Minikube using Helm
  docs/pages/installation/minikube.md
Labels: area/docs

#11186 fix notistack crash
  ui/pages/_app.js
Labels: component/ui

#11135 refactor(components): Promote component command
  docs/_data/mesheryctlcommands/cmds.yml
  docs/pages/reference/mesheryctl-commands.md
  mesheryctl/internal/cli/root/components/components.go
  mesheryctl/internal/cli/root/components/list.go
  mesheryctl/internal/cli/root/components/search.go
  mesheryctl/internal/cli/root/components/view.go
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/internal/cli/root/model/list.go
  mesheryctl/internal/cli/root/model/model.go
  mesheryctl/pkg/utils/helpers.go
Labels: area/docs, component/mesheryctl

#11193 [Chore] Add permission check for reset database
  ui/components/DatabaseSummary.js
  ui/utils/permission_constants.js
Labels: component/ui

#11195 [Docs] Refinement of the description of relationships and models
  docs/_includes/head.html
  docs/_includes/relationships.html
  docs/assets/css/anchorjs.css
  docs/pages/concepts/logical/models.md
  docs/pages/concepts/logical/relationships.md
  docs/pages/project/contributing/contributing-model-relationships.md
  docs/pages/project/contributing/contributing-models.md
Labels: area/docs

#11199 Update build-and-release-edge.yml
  .github/workflows/build-and-release-edge.yml
Labels: area/ci

#11197 Updated mesheryctl command for applying WASM Filter
  docs/pages/concepts/architectural/catalog.md
Labels: area/docs

#11101 Aijeyomah/feature/list exp relationship
  mesheryctl/internal/cli/root/relationships/list.go
  mesheryctl/internal/cli/root/relationships/relationship.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#11201 [Docs] Partial: Instructions for Creating a New Component with UI Schema
  docs/_data/toc.yml
  docs/pages/concepts/logical/models.md
  docs/pages/guides/operating/model-generation.md
  docs/pages/project/contributing/contributing-model-components.md
  docs/pages/project/contributing/contributing-models.md
Labels: area/docs

#11200 Update ui.md - enhanced /docs/pages/extensibility/ui.md
  docs/pages/extensibility/ui.md
Labels: area/docs

#11156 workflow update to mail error log w/signoff
  .github/workflows/model-generator.yml
  mesheryctl/internal/cli/root/registry/generate.go
  mesheryctl/internal/cli/root/registry/update.go
  mesheryctl/internal/cli/root/root.go
  mesheryctl/pkg/utils/formatter.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/testing.go
Labels: component/mesheryctl, area/ci

#11176 remove Logrus with meshkit logger w/signoff
  server/cmd/error.go
  server/cmd/main.go
  server/handlers/common_handlers.go
  server/handlers/connections_handlers.go
  server/handlers/design_engine_handler.go
  server/handlers/error.go
  server/handlers/events_streamer.go
  server/handlers/fetch_results_handler.go
  server/handlers/grafana_handlers.go
  server/handlers/k8sconfig_handler.go
  server/handlers/load_test_handler.go
  server/handlers/load_test_preferences_handler.go
  server/handlers/mesh_ops_handlers.go
  server/handlers/meshery_application_handler.go
  server/handlers/meshery_pattern_handler.go
  server/handlers/middlewares.go
  server/handlers/policy_relationship_handler.go
  server/helpers/kubernetes.go
  server/helpers/kubernetes_scan.go
  server/helpers/kubernetes_test.go
  server/helpers/load_test_interface.go
  server/internal/graphql/model/operator_helper.go
  server/internal/graphql/resolver/meshmodel.go
  server/machines/actions.go
  server/machines/grafana/register.go
  server/machines/kubernetes/delete.go
  server/machines/kubernetes/helpers.go
  server/machines/prometheus/register.go
  server/models/default_local_provider.go
  server/models/error.go
  server/models/grafana_helper.go
  server/models/k8s_context.go
  server/models/load-test.go
  server/models/meshery_results_persister.go
  server/models/pattern/core/pattern.go
  server/models/pattern/patterns/application/application.go
  server/models/pattern/patterns/application/argo.go
  server/models/pattern/planner/parallel_process.go
  server/models/pattern/planner/planner.go
  server/models/pattern/stages/persist.go
  server/models/pattern/stages/provision.go
  server/models/pattern/utils/k8s.go
  server/models/preference_map_persister.go
  server/models/prometheus_helper.go
  server/models/remote_auth.go
  server/models/remote_provider.go
  server/models/sql-utils.go
Labels: component/server

#11065 Registry log dynamic
  go.mod
  go.sum
  server/cmd/main.go
  server/handlers/common_handlers.go
  server/handlers/component_generation.go
  server/handlers/component_handler.go
  server/handlers/events_streamer.go
  server/handlers/relationship_handlers.go
  server/helpers/common_registry_logs.go
  server/meshmodel/Logs.go
  server/meshmodel/helper.go
  server/models/events.go
  server/models/events_persister.go
  server/models/handlers.go
  server/models/meshmodel/core/register.go
  server/models/remote_provider.go
  server/router/server.go
  ui/components/NotificationCenter/metadata.js
Labels: component/ui, language/go, component/server, area/models

#11121 [Relationships]: Nginx ingress relationships
  server/meshmodel/nginx-ingress/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#11209 [chore] migrate /bin/bash shebangs to /usr/bin/env bash
  install/Makefile.core.mk
  install/latest_release.sh
Labels: area/lifecycle

#11214 workflow update for proper logs w/signoff
  .github/workflows/go-mod-sync.yaml
  .github/workflows/model-generator.yml
Labels: area/ci

#11215 fix directory address w/signoff
  .github/workflows/model-generator.yml
Labels: area/ci

#11095 migrated cypress tests to playwright
  ui/tests/e2e/indexui.spec.js
  ui/tests/e2e/service_mesh_lifecycle.spec.js
  ui/tests/e2e/settings.spec.js
  ui/tests/e2e/userpreference.spec.js
Labels: component/ui

#11165 Fix hover over avatar
  ui/components/User.js
Labels: component/ui

#11221 Bug: Fixed the logic to not show the components when it is empty
  docs/_layouts/integration.html
Labels: area/docs

#11213 [CI] Update Staging Playground Workflow
  .github/workflows/cncf-staging-playground-deploy-meshery.yaml
Labels: area/ci

#11177 fix(ui): InfoModal bug in designs-page DataTable
  ui/components/MesheryPatterns.js
Labels: component/ui

#11050 [UI]: Add a new Catalog page and it's menu item
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/Modals/Information/InfoModal.js
  ui/components/Navigator.js
  ui/components/YamlDialog.js
  ui/constants/navigator.js
  ui/css/icons.styles.js
  ui/next.config.js
  ui/pages/configuration/catalog.js
  ui/pages/extensions.js
Labels: component/ui

#11228 fix: ci eslint error unused-var in tests
  ui/tests/e2e/service_mesh_lifecycle.spec.js
Labels: component/ui

#11232 feat: Update styles in SCSS files meshery docs
  docs/_sass/elements.scss
  docs/_sass/mesheryctl.scss
  docs/_sass/overview.scss
  docs/_sass/td-content.scss
Labels: area/docs

#11224 [chore] rename adapter selector field label
  ui/components/MesheryPlayComponent.js
  ui/cypress/e2e/e2e/service_mesh_lifecycle_settings_spec.js
  ui/tests/e2e/service_mesh_lifecycle.spec.js
Labels: component/ui

#11237 [Chore] Update tooltip variant in prompt component
  ui/components/PromptComponent.js
Labels: component/ui

#11239 fix: dashboard table misalignment
  ui/components/DataFormatter/NameValueTable.js
Labels: component/ui

#11229 [Server] Versioning of Designs
  go.mod
  go.sum
  server/handlers/meshery_pattern_handler.go
  server/machines/helpers/auto_register.go
  server/models/meshery_pattern.go
  server/models/meshery_pattern_persister.go
  server/models/pattern/core/pattern.go
  server/models/pattern/patterns/patterns.go
Labels: area/docs, component/ui, component/server, area/models

#11140 Captain/publishmodal
  ui/assets/icons/OriginalApplicationIcon.js
  ui/assets/icons/ServiceMesheryIcon.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/Modals/Information/InfoModal.js
  ui/components/Modals/Information/styles.js
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#11254 Build issue fix in docs
  docs/pages/concepts/logical/models.md
Labels: area/docs

#11242 Adding Design Icon for ArgoCD Component - Application
  ui/assets/new-icons/ArgoCD_Component_Application_Colored.svg
  ui/assets/new-icons/ArgoCD_Component_Application_White.svg
  ui/assets/new-icons/ArgoCD_Component_Export_Colored.svg
  ui/assets/new-icons/ArgoCD_Component_Export_White.svg
Labels: component/ui

#11261 [Chore] Upgrade Snapshot workflow to v0.2.8
  .github/workflows/meshmap.yml
Labels: area/ci

#11257 audit and fix sorting issues
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/connections/index.js
Labels: component/ui

#11258 chore: add missing logLevel w/signoff
  server/models/sql-utils.go
Labels: component/server

#11243 Change jitsi helm chart link
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/AddressPool.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/BFDProfile.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/BGPAdvertisement.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/BGPPeer.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/Backup.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/Cluster.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/Community.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/IPAddressPool.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/IngressRoute.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/IngressRouteTCP.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/IngressRouteUDP.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/L2Advertisement.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/Middleware.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/MiddlewareTCP.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/Pooler.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/ScheduledBackup.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/ServersTransport.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/TLSOption.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/TLSStore.json
  server/meshmodel/jitsi/2.0.17/v1.0.0/components/TraefikService.json
Labels: component/server, area/models

#11097 [Server] Use filename as design name while importing design
  server/handlers/meshery_application_handler.go
  server/handlers/meshery_pattern_handler.go
  server/models/pattern/core/pattern.go
  ui/components/MesheryPatterns.js
Labels: component/ui, component/server
