Repository meshery/meshery, pull requests merged in 2024-01, with the labels that each got.

#9774 Fix issue in registry
  ui/assets/styles/general/tool.styles.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
Labels: component/ui

#9738 Fix `app import` failure.
  mesheryctl/internal/cli/root/app/app.go
  mesheryctl/internal/cli/root/app/fixtures/onboard.applicationSave.response.golden
  mesheryctl/internal/cli/root/app/fixtures/view.applicationTypes.response.golden
  mesheryctl/internal/cli/root/app/fixtures/view.designTypes.response.golden
  mesheryctl/internal/cli/root/app/import.go
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/offboard_test.go
  mesheryctl/internal/cli/root/app/onboard.go
  mesheryctl/internal/cli/root/app/onboard_test.go
  server/models/meshery_patterns_api_response.go
Labels: component/mesheryctl, component/server

#9776 [mesheryctl] Fix mesheryctl app + unit tests
  mesheryctl/internal/cli/root/app/app_test.go
  mesheryctl/internal/cli/root/app/fixtures/app.list.api.response.golden
  mesheryctl/internal/cli/root/app/fixtures/app.view.invalidid.response.golden
  mesheryctl/internal/cli/root/app/fixtures/app.viewid.api.response.golden
  mesheryctl/internal/cli/root/app/fixtures/apply.patternSave.response.golden
  mesheryctl/internal/cli/root/app/fixtures/list.application.api.response.golden
  mesheryctl/internal/cli/root/app/fixtures/onboard.applicationSave.response.golden
  mesheryctl/internal/cli/root/app/fixtures/view.application.api.response.golden
  mesheryctl/internal/cli/root/app/fixtures/view.applicationName.api.response.golden
  mesheryctl/internal/cli/root/app/fixtures/view.applicationid.api.response.golden
  mesheryctl/internal/cli/root/app/fixtures/view.invalid.application.api.response.golden
  mesheryctl/internal/cli/root/app/list.go
  mesheryctl/internal/cli/root/app/list_test.go
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/testdata/app.invalid.view.output.golden
  mesheryctl/internal/cli/root/app/testdata/app.viewid.output.golden
  mesheryctl/internal/cli/root/app/view.go
Labels: component/mesheryctl, area/tests

#9777 [ci] Fix MeshKit Error Util Workflow
  server/handlers/connections_handlers.go
  server/handlers/environments_handlers.go
  server/handlers/error.go
  server/handlers/keys_handler.go
  server/handlers/policy_relationship_handler.go
  server/handlers/ui_handler.go
  server/handlers/workspace_handlers.go
  server/helpers/component_info.json
  server/internal/graphql/resolver/operator.go
  server/models/connections/connections.go
  server/models/default_local_provider.go
  server/models/environments/environment.go
  server/models/handlers.go
  server/models/meshery_patterns_api_response.go
  server/models/organization.go
  server/models/organization_persistor.go
  server/models/remote_provider.go
  server/models/workspace.go
Labels: component/server

#9780 [API/Docs] Support for returning unassigned entities
  docs/_data/swagger.yml
  server/handlers/environments_handlers.go
  server/handlers/workspace_handlers.go
  server/helpers/swagger.yaml
  server/models/default_local_provider.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: area/docs, component/server

#9784 [server] Revert unneeded changes
  server/handlers/connections_handlers.go
  server/handlers/k8sconfig_handler.go
  server/machines/helpers/helpers.go
Labels: component/server

#9806 [Environments/Workspaces] - Scroll loading support for transfer list modal
  ui/components/Lifecycle/Environments/environment-card.js
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Environments/styles.js
  ui/components/Lifecycle/General/empty-state/curvedArrowIcon.js
  ui/components/Lifecycle/General/empty-state/index.js
  ui/components/Lifecycle/General/flip-card/index.js
  ui/components/Lifecycle/General/generic-modal/index.js
  ui/components/Lifecycle/General/generic-modal/styles.js
  ui/components/Lifecycle/General/index.js
  ui/components/Lifecycle/General/transfer-list/index.js
  ui/components/Lifecycle/General/transfer-list/style.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/Lifecycle/Workspaces/workspace-card.js
  ui/components/Lifecycle/index.js
  ui/pages/management/environments.js
  ui/rtk-query/environments.js
  ui/utils/Enum.js
Labels: component/ui

#9788 [UI] fix: Update style for cursor
  ui/components/DashboardComponent/charts/ConnectionCharts.js
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/components/DashboardComponent/charts/MesheryConfigurationCharts.js
Labels: component/ui

#9812 docs: Fix ruby version in contributing-docs page
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#9783 [bug] Fix Relationships Registration Process
  server/meshmodel/helper.go
Labels: component/server

#9786 [Server] Handle connection update events impacting performance.
  server/handlers/middlewares.go
  server/machines/models.go
  server/models/handlers.go
  server/router/server.go
Labels: component/server

#9767 [Popup.js] fixed popup zindex and spacing issue
  ui/components/Popup.js
  ui/package-lock.json
Labels: component/ui

#9815 [Server] Add support to change log levels at runtime
  go.mod
  go.sum
  mesheryctl/pkg/utils/formatter.go
  server/cmd/main.go
  server/cmd/runtime_logs_config.env
Labels: component/mesheryctl, component/server

#9817 Update meshmodel.md
  .github/ISSUE_TEMPLATE/meshmodel.md
Labels: area/ci

#9822 Prevent common modal from rerender
  ui/components/Modal.js
Labels: component/ui

#9811 fix the grammatical issue #9810
  mesheryctl/internal/cli/root/app/app.go
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/internal/cli/root/filter/filter.go
  mesheryctl/internal/cli/root/pattern/pattern.go
  mesheryctl/internal/cli/root/perf/perf.go
  mesheryctl/internal/cli/root/system/context.go
  mesheryctl/internal/cli/root/system/system.go
Labels: component/mesheryctl

#9823 [Docs] Relationships: Missing color for info/tip/note Alerts + Models: Missing color
  docs/pages/concepts/logical/models.md
  docs/pages/concepts/logical/relationships.md
Labels: area/docs

#9808 docs: logical concepts update
  docs/pages/concepts/logical/designs.md
  docs/pages/concepts/logical/index.md
  docs/pages/concepts/logical/models.md
  docs/pages/concepts/logical/workspaces.md
Labels: area/docs

#9827 [Docs] Update docs for configuring logs at runtime.
  docs/pages/project/contributing/meshery-server.md
Labels: area/docs

#9816 [Models] Relationships for Kubernetes ConfigMap using Environment Variables
  server/meshmodel/kubernetes/relationships/hierarchical_config.json
Labels: component/server, area/models

#9826 [UI] Add info icon to prompt component
  ui/components/PromptComponent.js
Labels: component/ui

#9831 Fix Environment options update and undefined bug in connections
  ui/components/connections/index.js
Labels: kind/bug, component/ui

#9771 [Server] Seed keys for local provider
  .github/workflows/generate_keys.yml
  Makefile
  go.sum
  install/Makefile.core.mk
  install/docker/Dockerfile
  permissions/keys.csv
  server/cmd/main.go
  server/models/default_local_provider.go
  server/models/error.go
  server/models/key.go
  server/models/keys_helper.go
  server/models/keys_persister.go
Labels: area/ci, area/lifecycle, component/server

#9836 [chore] Bump MeshMap Snapshot
  .github/workflows/meshmap.yml
Labels: area/ci

#9835 fix v0.6 navbar dropdown and details marker in v0.6 meshery docs
  docs/v0.6/assets/css/sass.css
  docs/v0.6/index.html
Labels: area/docs

#9838 Fix connection page issues
  ui/components/connections/ConnectionChip.js
  ui/components/connections/index.js
  ui/components/connections/meshSync/index.js
  ui/components/connections/metadata.js
Labels: component/ui

#9813 Fix experimental model command in mesheryctl
  mesheryctl/internal/cli/root/system/model.go
  mesheryctl/pkg/utils/auth.go
Labels: component/mesheryctl

#9759 Adding consistent font-weight for list-structure
  docs/_includes/sidebar.html
  docs/_sass/sidebar.scss
Labels: area/docs

#9760 Added icons for Kubernetes Node Metrics component
  ui/assets/new-icons/Node Metrics Colored.svg
  ui/assets/new-icons/Node Metrics White.svg
Labels: component/ui

#9674 Add Postgres Database Icon
  ui/assets/new-icons/postgres-database-icon-colored.svg
  ui/assets/new-icons/postgres-database-icon-white.svg
Labels: component/ui

#9613 Fixed mobile search results
  docs/_includes/sidebar.html
  docs/assets/js/lunr.min.js
  docs/assets/js/search.js
Labels: area/docs

#9841 [Docker Extension] chore: update ui deps
  install/docker-extension/ui/package-lock.json
Labels: component/extensions, dependencies

#9848 [Models] Add support to update component `capabilities`.
  scripts/component_updater/main.go
  server/meshmodel/grafana-operator/2.7.24/GrafanaConnection.json
  server/meshmodel/grafana-operator/2.7.24/GrafanaCredential.json
  server/meshmodel/grafana-operator/2.7.9/GrafanaConnection.json
  server/meshmodel/grafana-operator/2.7.9/GrafanaCredential.json
  server/meshmodel/grafana-operator/connection/grafana.json
  server/meshmodel/grafana-operator/credential/grafana.json
  server/meshmodel/kube-prometheus-stack/45.7.1/PrometheusConnection.json
  server/meshmodel/kube-prometheus-stack/45.7.1/PrometheusCredential.json
  server/meshmodel/kube-prometheus-stack/connection/prometheus.json
  server/meshmodel/kube-prometheus-stack/credential/prometheus.json
  server/meshmodel/kubernetes/connection/kubernetes.json
  server/meshmodel/kubernetes/credential/kubernetes.json
  server/meshmodel/kubernetes/v1.25.2/KubernetesConnection.json
  server/meshmodel/kubernetes/v1.25.2/KubernetesCredential.json
  server/meshmodel/meshery-core/1.0.0/Credential.json
  server/meshmodel/meshery-core/1.0.0/MesheryConnection.json
  server/meshmodel/meshery-core/1.0.0/MesheryCredential.json
Labels: component/server

#9785 [Server] Auto Register for Connections
  server/cmd/main.go
  server/handlers/connections_handlers.go
  server/handlers/contexts_handler.go
  server/handlers/k8sconfig_handler.go
  server/handlers/middlewares.go
  server/helpers/component_info.json
  server/machines/actions.go
  server/machines/default_machine.go
  server/machines/grafana/register.go
  server/machines/helpers/auto_register.go
  server/machines/helpers/error.go
  server/machines/helpers/helpers.go
  server/machines/kubernetes/connect.go
  server/machines/kubernetes/delete.go
  server/machines/kubernetes/disconnect.go
  server/machines/kubernetes/discover.go
  server/machines/kubernetes/helpers.go
  server/machines/kubernetes/machine.go
  server/machines/kubernetes/register.go
  server/machines/models.go
  server/machines/prometheus/register.go
  server/machines/sm_tracker.go
  server/models/connections/connections.go
  server/models/k8s_components_registration.go
  server/models/meshery_controllers.go
  server/models/meshsync_events.go
  server/models/meshsync_register_queue.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: pr/draft, component/server

#9852 [FIX] Routing error in workspace
  ui/next.config.js
Labels: component/ui

#9778 [WIP] Enforced CASL in UI
  ui/assets/icons/general/message.js
  ui/assets/icons/social/docker.js
  ui/assets/icons/social/github.js
  ui/assets/icons/social/google.js
  ui/assets/icons/social/slack.js
  ui/assets/icons/social/twitter.js
  ui/assets/icons/social/youtube.js
  ui/components/Filters.js
  ui/components/General/error-404/index.js
  ui/components/General/error-404/socials/index.js
  ui/components/General/error-404/socials/styles.js
  ui/components/General/error-404/styles.js
  ui/components/Lifecycle/Environments/environment-card.js
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/Lifecycle/Workspaces/workspace-card.js
  ui/components/MeshAdapterConfigComponent.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/Cards.styles.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPerformance/Dashboard.js
  ui/components/MesheryPerformance/PerformanceCard.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesheryPerformance/index.js
  ui/components/MesherySettings.js
  ui/components/MesherySettingsEnvButtons.js
  ui/components/Navigator.js
  ui/components/UserPreferences/spaces-preferences.js
  ui/components/connections/index.js
  ui/components/telemetry/grafana/GrafanaConfigComponent.js
  ui/components/telemetry/prometheus/PrometheusConfigComponent.js
  ui/constants/common.js
  ui/jsconfig.json
  ui/lib/store.js
  ui/pages/_app.js
  ui/pages/extensions.js
  ui/rtk-query/ability.js
  ui/rtk-query/userKeys.js
  ui/utils/can.js
  ui/utils/permission_constants.js
Labels: component/ui

#9854 docs: refresh overview and structure
  docs/_data/toc.yml
  docs/_sass/elements.scss
  docs/_sass/small-screen-styles.scss
  docs/pages/concepts/logical/designs.md
  docs/pages/concepts/logical/index.md
  docs/pages/getting-started/archived- news.md
  docs/pages/getting-started/overview.md
  docs/pages/installation/quick-start.md
  docs/pages/project/index.md
  docs/pages/project/project.md
Labels: area/docs

#9853 chore: remove mesheryctl unit test assertions
  mesheryctl/pkg/utils/fixtures/platform/manifesturl.api.response.golden
  mesheryctl/pkg/utils/fixtures/platform/manifesturl.latest.api.response.golden
  mesheryctl/pkg/utils/fixtures/validate.version.github.golden
Labels: component/mesheryctl

#9859 [FIX] Sorting in designs and filters and fix some UI issues
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
  ui/jsconfig.json
Labels: component/ui

#9860 [bug] fix null check for environment
  ui/components/multi-select-wrapper.js
Labels: kind/bug, component/ui

#9872 Enhance dashboard ui elements
  ui/components/DashboardComponent/resources/configuration/config.js
  ui/components/DashboardComponent/resources/namespace/config.js
  ui/components/DashboardComponent/resources/network/config.js
  ui/components/DashboardComponent/resources/nodes/config.js
  ui/components/DashboardComponent/resources/security/config.js
  ui/components/DashboardComponent/resources/sortable-table-cell.js
  ui/components/DashboardComponent/resources/storage/config.js
  ui/components/DashboardComponent/resources/workloads/config.js
  ui/components/DataFormatter/index.js
Labels: component/ui

#9875 [Models] Rename `relationships.reqo_query` to `relationships.evaluationQuery`.
  go.mod
  go.sum
  server/handlers/policy_relationship_handler.go
  server/meshmodel/kubernetes/relationships/edge_firewall.json
  server/meshmodel/kubernetes/relationships/edge_mount.json
  server/meshmodel/kubernetes/relationships/edge_network.json
  server/meshmodel/kubernetes/relationships/edge_permission.json
  server/meshmodel/kubernetes/relationships/hierarchical_config.json
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
  server/meshmodel/kubernetes/relationships/hierarchical_parent.json
  server/meshmodel/kubernetes/relationships/sibling_matchlabels.json
Labels: component/server

#9874 fix: fixed broken link
  docs/pages/project/contributing/contributing.md
Labels: area/docs

#9871 [UI] Fix connection page crash
  ui/components/connections/index.js
Labels: component/ui

#9879 [LocalProvider] Cleanup keys when server is shutdown.
  server/helpers/component_info.json
  server/models/default_local_provider.go
  server/models/error.go
Labels: component/server

#9881 [Models] Update connection transitions and middleware.
  server/handlers/connections_handlers.go
  server/handlers/middlewares.go
  server/machines/default_machine.go
  server/machines/helpers/auto_register.go
  server/meshmodel/grafana-operator/2.7.24/GrafanaConnection.json
  server/meshmodel/grafana-operator/2.7.9/GrafanaConnection.json
  server/meshmodel/kube-prometheus-stack/45.7.1/PrometheusConnection.json
  server/meshmodel/kubernetes/v1.25.2/KubernetesConnection.json
Labels: component/server

#9876 Remove schemas from `meshery/meshery`.
  server/meshmodel/schemas/component.json
  server/meshmodel/schemas/core.json
  server/meshmodel/schemas/model.json
  server/meshmodel/schemas/relationship.json
  server/meshmodel/schemas/selectors.json
Labels: component/server

#9884 fix: broken 'Security' category
  server/meshmodel/gatekeeper/0.6.10/Assign.json
  server/meshmodel/gatekeeper/0.6.10/AssignMetadata.json
  server/meshmodel/gatekeeper/3.12.0-beta.0/Assign.json
  server/meshmodel/gatekeeper/3.12.0-beta.0/AssignImage.json
  server/meshmodel/gatekeeper/3.12.0-beta.0/AssignMetadata.json
  server/meshmodel/gatekeeper/3.12.0-beta.0/ConstraintTemplate.json
  server/meshmodel/gatekeeper/3.12.0-beta.0/ExpansionTemplate.json
  server/meshmodel/gatekeeper/3.12.0-beta.0/ExpansionTemplatePodStatus.json
  server/meshmodel/gatekeeper/3.12.0-beta.0/ModifySet.json
  server/meshmodel/gatekeeper/3.12.0-beta.0/MutatorPodStatus.json
  server/meshmodel/gatekeeper/3.12.0-beta.0/Provider.json
  server/meshmodel/grafana-operator/2.7.24/GrafanaConnection.json
  server/meshmodel/grafana-operator/2.7.9/GrafanaConnection.json
  server/meshmodel/kube-prometheus-stack/45.7.1/PrometheusConnection.json
  server/meshmodel/kubernetes/v1.25.2/KubernetesConnection.json
Labels: component/server

#9883 docs: rearrange extensions
  docs/_data/toc.yml
  docs/_sass/elements.scss
  docs/pages/concepts/integrations/index.md
  docs/pages/extensions/index.md
  docs/pages/extensions/mesheryCatalog/index.md
  docs/pages/extensions/meshmap/component-shape-guide.md
  docs/pages/extensions/meshmap/importing-application.md
  docs/pages/extensions/meshmap/importing-design.md
  docs/pages/extensions/meshmap/index.md
  docs/pages/extensions/meshmap/merging-a-design.md
  docs/pages/extensions/meshmap/publishing-a-design.md
  docs/pages/extensions/meshmap/sharing-a-design.md
  docs/pages/extensions/snapshot/index.md
  docs/pages/extensions/team-management/index.md
Labels: area/docs

#9885 Reuse tooltip
  ui/components/DashboardComponent/charts/ConnectionCharts.js
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/components/DashboardComponent/charts/MesheryConfigurationCharts.js
  ui/components/DashboardComponent/index.js
Labels: component/ui

#9891 [Docs] New Suggested Reading layout
  docs/_data/toc.yml
  docs/_includes/sidebar.html
  docs/_includes/suggested-reading.html
  docs/_layouts/enhanced.html
  docs/_layouts/past-results-layout.html
  docs/_layouts/swagger.html
  docs/pages/concepts/logical/components.md
  docs/pages/concepts/logical/connections.md
  docs/pages/concepts/logical/credentials.md
  docs/pages/concepts/logical/designs.md
  docs/pages/concepts/logical/environments.md
  docs/pages/concepts/logical/index.md
  docs/pages/concepts/logical/models.md
  docs/pages/concepts/logical/patterns.md
  docs/pages/concepts/logical/relationships.md
  docs/pages/concepts/logical/workspaces.md
  docs/pages/extensibility/api.md
  docs/pages/extensibility/extensibility.md
  docs/pages/extensibility/integrations.md
  docs/pages/extensibility/load-generators.md
  docs/pages/extensibility/providers.md
  docs/pages/extensibility/ui.md
  docs/pages/extensions/meshmap/component-shape-guide.md
  docs/pages/extensions/meshmap/importing-application.md
  docs/pages/extensions/meshmap/importing-design.md
  docs/pages/extensions/meshmap/index.md
  docs/pages/extensions/meshmap/merging-a-design.md
  docs/pages/extensions/meshmap/publishing-a-design.md
  docs/pages/extensions/meshmap/sharing-a-design.md
  docs/pages/extensions/snapshot/index.md
  docs/pages/extensions/team-management/index.md
  docs/pages/getting-started/overview.md
  docs/pages/guides/infra-management/configuration-management.md
  docs/pages/guides/infra-management/creating-a-meshery-design.md
  docs/pages/guides/infra-management/deploying-sample-apps.md
  docs/pages/guides/infra-management/registering-a-connection.md
Labels: area/docs

#9896 [fix] Some ui fixes in env and workspaces
  ui/components/Lifecycle/General/generic-modal/index.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/Modal.js
Labels: component/ui

#9889 feat: build a provider
  docs/pages/extensibility/providers.md
Labels: area/docs, component/extensions

#9900 resolved label cutoff issue
  ui/components/DashboardComponent/index.js
Labels: component/ui

#9906 fix tooltip styling
  ui/utils/utils.js
Labels: component/ui

#9890 [Enhancement] - Workspace and environments
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/Lifecycle/Workspaces/workspace-card.js
Labels: component/ui

#9904 [UI] Fix CASL issues
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryPatterns.js
  ui/components/Navigator.js
  ui/components/UserPreferences/spaces-preferences.js
  ui/lib/store.js
  ui/pages/_app.js
  ui/rtk-query/ability.js
  ui/utils/permission_constants.js
Labels: component/ui

#9908 [Docs] Sitemap with URLs
  docs/pages/sitemap.xml
Labels: area/docs

#9917 [Bug] - Fix workspace and environment required field validation
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/index.js
Labels: component/ui

#9887 [Docs] Restructure proposal
  docs/README.md
Labels: area/docs

#9912 [Docs] feat: add google tag manager
  docs/_includes/head.html
  docs/_includes/scripts/google-tagmanager-body.html
  docs/_includes/scripts/google-tagmanager-head.html
  docs/_layouts/default.html
  docs/_layouts/enhanced.html
  docs/pages/extensibility/integrations/index.md
  docs/pages/extensions/snapshot/index.md
  docs/pages/index.md
Labels: area/docs

#9915 [UI] Fix dysfunctional `Metrics` tab.
  server/handlers/credentials_handlers.go
  server/handlers/grafana_handlers.go
  server/handlers/prometheus_handlers.go
  server/machines/grafana/register.go
  server/machines/models.go
  server/machines/prometheus/register.go
  server/meshmodel/grafana-operator/2.7.9/GrafanaCredential.json
  server/models/handlers.go
  server/models/remote_provider.go
  server/router/server.go
  ui/api/credentials.js
  ui/components/hooks/useTelemetryHook.js
  ui/components/telemetry/grafana/GrafanaComponent.js
  ui/components/telemetry/grafana/GrafanaConfigComponent.js
  ui/components/telemetry/grafana/GrafanaCustomChart.js
  ui/components/telemetry/grafana/GrafanaCustomCharts.js
  ui/components/telemetry/grafana/GrafanaSelectionComponent.js
  ui/components/telemetry/prometheus/PrometheusComponent.js
  ui/components/telemetry/prometheus/PrometheusConfigComponent.js
  ui/components/telemetry/prometheus/PrometheusSelectionComponent.js
  ui/package-lock.json
  ui/pages/_app.js
Labels: component/ui, component/server, area/models

#9920 [Docs] Categorization and partial restructure
  docs/_data/toc.yml
  docs/pages/guides/gitops-with-meshery.md
  docs/pages/guides/infrastructure-management/configuration-management.md
  docs/pages/guides/infrastructure-management/creating-a-meshery-design.md
  docs/pages/guides/infrastructure-management/deploying-sample-apps.md
  docs/pages/guides/infrastructure-management/importing-applications.md
  docs/pages/guides/infrastructure-management/index.md
  docs/pages/guides/infrastructure-management/registering-a-connection.md
  docs/pages/guides/performance-management/index.md
  docs/pages/guides/performance-management/interpreting-performance-test-results.md
  docs/pages/guides/performance-management/meshery-metrics.md
  docs/pages/guides/performance-management/performance-management.md
  docs/pages/guides/upgrade.md
  docs/pages/index.md
  docs/pages/playground.md
  docs/pages/project/latest-release.md
  docs/pages/reference/mesheryctl-commands.md
  docs/pages/tasks/filter-management.md
  docs/pages/tasks/managing-performance.md
Labels: area/docs

#9924 [UI] Fix dark mode issues in error component
  ui/components/General/error-404/index.js
  ui/components/General/error-404/styles.js
  ui/lib/store.js
  ui/pages/_app.js
  ui/public/static/img/meshery-logo/meshery-logo-white-text.png
Labels: component/ui

#9930 Update deploying-sample-apps.md
  docs/pages/guides/infrastructure-management/deploying-sample-apps.md
Labels: area/docs

#9907 solved icons cutoff issue
  ui/components/DashboardComponent/view.js
Labels: component/ui

#9934 [docs] Enhance Component Docs Updater Script
  scripts/component_docs_generator/Readme.md
  scripts/component_docs_generator/helpers/docs_creator.go
Labels: kind/chore

#9923 Fixed many links including the issue #9892
  docs/_data/toc.yml
  docs/pages/concepts/logical/components.md
  docs/pages/concepts/logical/connections.md
  docs/pages/concepts/logical/credentials.md
  docs/pages/concepts/logical/designs.md
  docs/pages/concepts/logical/environments.md
  docs/pages/concepts/logical/models.md
  docs/pages/concepts/logical/patterns.md
  docs/pages/concepts/logical/relationships.md
  docs/pages/concepts/logical/workspaces.md
  docs/pages/getting-started/overview.md
  docs/pages/integrations/actions-runner-controller-(arc).md
  docs/pages/project/project.md
  docs/pages/test.md
Labels: area/docs

#9898 [Doc] Extensibility CASL
  docs/_adapters/istio/istio.md
  docs/_data/toc.yml
  docs/assets/img/permission-in-UI.png
  docs/pages/concepts/logical/workspaces.md
  docs/pages/extensibility/adapters.md
  docs/pages/extensibility/extensibility.md
  docs/pages/extensibility/extensible-authorization.md
  docs/pages/extensibility/integrations.md
  docs/pages/installation/quick-start.md
Labels: area/docs

#9902 [Docs] Add menu toggle. Collapsed by default
  docs/_includes/sidebar.html
  docs/_sass/sidebar.scss
  docs/pages/concepts/index.md
  docs/pages/installation/index.md
  docs/pages/installation/quick-start.md
  docs/pages/project/community.md
  docs/pages/project/index.md
  docs/pages/project/project.md
Labels: area/docs, language/markdown, language/css

#9927 solved issue #9913
  docs/pages/installation/quick-start.md
Labels: area/docs

#9918 [UI] Filter support for Designs and Filters
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
Labels: component/ui, component/catalog

#9666 [Relationships] AWS RDS DBCluster to IAM Role
  server/meshmodel/aws-rds-controller/relationships/edge_permission.json
Labels: area/ci, component/server

#9940 [bug] Fix Error Message on K8s Manifest Upload
  server/handlers/meshery_pattern_handler.go
Labels: component/server

#9861 Feat: Import/Export Design as OCI Artifact
  docs/_data/swagger.yml
  go.mod
  go.sum
  server/handlers/contexts_handler.go
  server/handlers/error.go
  server/handlers/k8sconfig_handler.go
  server/handlers/meshery_pattern_handler.go
  server/handlers/middlewares.go
  server/handlers/policy_relationship_handler.go
  server/helpers/component_info.json
  server/helpers/swagger.yaml
  ui/assets/icons/ModifiedApplicationIcon.js
  ui/components/ExportModal.js
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
  ui/components/NavigatorExtension.js
  ui/utils/Enum.js
  ui/utils/fileDownloader.js
  ui/utils/utils.js
Labels: area/docs, component/ui, component/server

#9944 fix: meshery.io integrations link
  scripts/component_updater/pkg/docsupdater.go
Labels: area/docs

#9946 [Docs] Revise integrations on homepage
  docs/_config.yml
  docs/_config_dev.yml
  docs/pages/extensibility/integrations.md
  docs/pages/extensibility/integrations/index.md
  docs/pages/index.md
  docs/pages/project/compatibility_matrix/compatibility.md
  docs/pages/project/contributing/contributing-docker-extension.md
  docs/pages/project/contributing/contributing.md
Labels: area/docs

#9954 fixed broken link issue in configuration-management.md
  docs/pages/guides/configuration-management/configuration-management.md
Labels: area/docs

#9955 [Docs] Redirects for Adapters
  docs/_adapters/app-mesh.md
  docs/_adapters/cilium.md
  docs/_adapters/consul/consul.md
  docs/_adapters/istio/istio.md
  docs/_adapters/kuma/kuma.md
  docs/_adapters/linkerd.md
  docs/_adapters/nginx-sm.md
  docs/_adapters/nsm/nsm.md
  docs/_adapters/osm/osm.md
  docs/_adapters/tanzu-sm.md
  docs/_adapters/traefik-mesh.md
Labels: area/docs

#9962 [chore] Fix Failing MeshKit Error Util
  server/cmd/main.go
  server/handlers/error.go
  server/handlers/meshery_pattern_handler.go
  server/helpers/component_info.json
  server/machines/default_machine.go
  server/machines/models.go
  server/models/connections/connections.go
  server/models/default_local_provider.go
  server/models/keys_helper.go
  server/models/keys_persister.go
  server/models/meshery_controllers.go
  server/models/meshsync_events.go
  server/models/remote_provider.go
Labels: component/server

#9956 [Docs] Chore: Additional 404 error messages
  docs/pages/404.md
Labels: area/docs

#9961 [Env/Workspace] - Remove org selector from create environment and workspace modal
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/index.js
Labels: component/ui

#9970 [Docs] Add GitHub link to main navigation menu
  docs/_data/navigation.yml
Labels: area/docs

#9974 Generic Annotation Node
  server/meshmodel/meshery-core/1.0.0/GenericNode.json
  server/meshmodel/meshery-core/1.0.0/NodeGroupInventoryWallet.json
Labels: component/server, area/models

#9939 [UI] Enhance the Meshery UI registry
  ui/assets/icons/InfoIcon.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
  ui/components/MeshModelRegistry/StyledTreeItem.js
  ui/components/MeshModelRegistry/helper.js
  ui/components/MesherySettings.js
  ui/constants/navigator.js
Labels: component/ui

#9983 fixed the dropdown icon bug across modals
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomSelectWidget.js
Labels: component/ui

#9989 Fix horizontal line alignment in registry tree view
  ui/components/MeshModelRegistry/StyledTreeItem.js
Labels: component/ui

#9993 Fix naming convention
  ui/components/connections/ConnectionChip.js
  ui/components/connections/styles.js
Labels: component/ui

#10006 [MeshModel Category] Database category icon added
  ui/public/static/img/model-categories/dark/database-dark.svg
  ui/public/static/img/model-categories/label-green/database-label-green.svg
  ui/public/static/img/model-categories/label/database-label.svg
  ui/public/static/img/model-categories/light/database-light.svg
  ui/public/static/img/model-categories/white/database-white.svg
Labels: component/ui

#10013 [bug] Fix Remote Design file upload
  server/handlers/meshery_pattern_handler.go
Labels: component/server

#10015 [Server] Validate `userid` and handle remote provider responses on failure correctly.
  server/handlers/error.go
  server/handlers/user_handler.go
  server/helpers/component_info.json
  server/models/remote_provider.go
Labels: component/server

#10014 [Server] Fix remote pattern upload
  server/handlers/meshery_pattern_handler.go
Labels: component/server

#9981 Update grafana_helper.go
  server/models/grafana_helper.go
Labels: component/server

#9990 [UI] Fix publishing design
  ui/components/MesheryPatterns.js
Labels: component/ui

#10018 Made grammatical changes for the paragraph under 'Importing Applications'.
  docs/pages/guides/configuration-management/importing-applications.md
Labels: area/docs

#9992 [RTK] Connections api migrate to rtk
  ui/components/connections/index.js
  ui/rtk-query/connection.js
Labels: component/ui

#9987 [Relationships] Add selectors sets in `relationships`.
  go.mod
  go.sum
  server/meshmodel/kubernetes/policies/edge_binding.rego
  server/meshmodel/kubernetes/policies/hierarchical_inventory.rego
  server/meshmodel/kubernetes/relationships/annotation-edge.json
  server/meshmodel/kubernetes/relationships/edge_firewall.json
  server/meshmodel/kubernetes/relationships/edge_mount.json
  server/meshmodel/kubernetes/relationships/edge_network.json
  server/meshmodel/kubernetes/relationships/edge_permission.json
  server/meshmodel/kubernetes/relationships/hierarchical_config.json
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
  server/meshmodel/kubernetes/relationships/hierarchical_parent.json
  server/meshmodel/kubernetes/relationships/hierarchical_parent_section.json
  server/meshmodel/kubernetes/relationships/hirarchical_parent_environment.json
  server/meshmodel/kubernetes/relationships/sibling_matchlabels.json
Labels: component/server, area/models

#10024 [Bug] Reinitialise `models` and `keys` registration on Database reset.
  Makefile
  server/cmd/error.go
  server/cmd/main.go
  server/handlers/database_handlers.go
  server/helpers/component_info.json
  server/internal/graphql/resolver/meshsync.go
  server/models/keys_helper.go
Labels: kind/chore, component/server

#10022 Added mesherycli cheatsheet
  docs/assets/img/mesherycli_cheatsheet.svg
Labels: area/docs

#10001 [Docs Designs] Removed Repeated Phrase #9995 Fixed
  docs/pages/concepts/logical/designs.md
Labels: good first issue, area/docs

#10042 [UI] Refactor tooltip and its behaviour in dashboard cards
  ui/components/DashboardComponent/charts/ConnectionCharts.js
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/components/DashboardComponent/charts/MesheryConfigurationCharts.js
  ui/components/MesheryMeshInterface/PatternService/CustomTextTooltip.js
  ui/themes/app.js
Labels: component/ui

#10028 fix grammer issue in popup ui comopnents
  ui/components/Popup.js
Labels: component/ui

#10030 [NOTIFICATION] Added visual indication for notification center
  ui/components/NotificationCenter/index.js
  ui/store/slices/events.js
Labels: component/ui

#10003 [Docs] Relationships: Grammar fix in the "Design Relationships and Restrictions" section
  docs/pages/concepts/logical/designs.md
  docs/pages/guides/configuration-management/importing-applications.md
Labels: area/docs

#10044 [docs] fix "Managing Events with Notification Center" link not working properly
  docs/pages/tasks/managing-notifications.md
Labels: area/docs

#10007 [WIP] Migrate registry page to use RTK
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
  ui/components/MeshModelRegistry/helper.js
  ui/jsconfig.json
  ui/rtk-query/meshModel.js
Labels: component/ui

#10054 [chore] Update meshmap.yml
  .github/workflows/meshmap.yml
Labels: area/ci

#10057 update meshsync crd
  install/kubernetes/helm/meshery/crds/crds.yaml
Labels: framework/helm

#10031 [DOCS] MeshModel to Model fix
  docs/pages/concepts/logical/models.md
  docs/pages/project/contributing/contributing-models.md
Labels: area/docs

#10027 modified provider urls
  docs/pages/reference/rest-api-reference.md
Labels: area/docs

#10020 [DOCS] Suggested Reading bug fix
  docs/_includes/suggested-reading.html
  docs/pages/concepts/logical/connections.md
  docs/pages/concepts/logical/index.md
  docs/pages/concepts/logical/workspaces.md
Labels: area/docs

#9866 Added new icons for Kubernetes components
  ui/assets/new-icons/Subject Access Review Colored.svg
  ui/assets/new-icons/Subject Access Review White.svg
  ui/assets/new-icons/Token Review Colored.svg
  ui/assets/new-icons/Token Review White.svg
Labels: component/ui

#10051 v0.4, v0.5, v0.6 added to excludes
  docs/Gemfile.lock
  docs/_config.yml
Labels: area/docs

#10048 added capabilities for edges
  server/meshmodel/kubernetes/relationships/annotation-edge.json
  server/meshmodel/kubernetes/relationships/edge_firewall.json
  server/meshmodel/kubernetes/relationships/edge_mount.json
  server/meshmodel/kubernetes/relationships/edge_network.json
  server/meshmodel/kubernetes/relationships/edge_permission.json
Labels: component/server, area/models

#10012 [Fixed Docs Cloud Native app Configuration] - Grammar adjustment
  docs/pages/guides/configuration-management/configuration-management.md
Labels: area/docs

#9960 broken link fixed w/signoff
  docs/pages/guides/configuration-management/configuration-management.md
Labels: area/docs

#10062 [CI] Enhance Keys workflow with published CSV
  .github/workflows/generate_keys.yml
Labels: area/ci, security

#10063 Update generate_keys.yml
  .github/workflows/generate_keys.yml
Labels: area/ci

#10065 [bug/mesheryctl] Fix Import/Onboard
  mesheryctl/internal/cli/root/app/import.go
  mesheryctl/internal/cli/root/app/onboard.go
Labels: component/mesheryctl

#10067 [Components] Improve default field descriptions
  ui/components/MesheryMeshInterface/PatternServiceForm.js
Labels: component/ui

#10075 [Docs] Error Code Reference Layout
  docs/_data/errorref/cilium_errors_export.json
  docs/pages/reference/error-codes.md
Labels: area/docs

#10081 Bump Screenshot Service version
  .github/workflows/meshmap.yml
Labels: area/ci

#10084 [chore] run `gofmt` on server.
  mesheryctl/internal/cli/root/system/model.go
  mesheryctl/pkg/utils/formatter.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#10085 add conditional to use token only on master branch for `error-code-util`
  .github/workflows/error-codes-updater.yaml
Labels: area/ci

#10089 Update error-codes-updater.yaml
  .github/workflows/error-codes-updater.yaml
Labels: area/ci

#10086 add missing tooltip and refactor its styling
  ui/components/DashboardComponent/charts/ConnectionCharts.js
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/components/DashboardComponent/charts/MesheryConfigurationCharts.js
  ui/components/connections/common/index.js
  ui/components/connections/index.js
Labels: component/ui

#10088 [General] - Dark mode issue in transfer modal
  ui/components/Lifecycle/General/transfer-list/index.js
Labels: component/ui

#10091 [UI] Update publish catalog request payload
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
  ui/components/Modals/Information/InfoModal.js
Labels: component/ui

#10095 Fix casing for displayName in publish payload
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
  ui/components/Modals/Information/InfoModal.js
Labels: component/ui

#10096 Update integrations-updater.yml
  .github/workflows/integrations-updater.yml
Labels: area/ci

#10097 Update integrations-updater.yml
  .github/workflows/integrations-updater.yml
Labels: area/ci

#10101 [bug] Fix broken links for /concepts/<concept> to /concept/logical/<concept>
  docs/pages/concepts/logical/components.md
  docs/pages/concepts/logical/connections.md
  docs/pages/concepts/logical/credentials.md
  docs/pages/concepts/logical/designs.md
  docs/pages/concepts/logical/environments.md
  docs/pages/concepts/logical/index.md
  docs/pages/concepts/logical/models.md
  docs/pages/concepts/logical/patterns.md
  docs/pages/concepts/logical/relationships.md
  docs/pages/concepts/logical/workspaces.md
Labels: area/docs

#10103 [relationships] update selectors to represent correct path
  server/meshmodel/kubernetes/relationships/hierarchical_inventory.json
Labels: component/server, area/models

#10098 Prevent lossing technology in infoModal
  ui/components/Modals/Information/InfoModal.js
Labels: component/ui

#10035 Feature/add selectors documentation
  docs/pages/concepts/logical/relationships.md
Labels: area/docs

#10093 [Docs] Relocate Contrib-Community location in TOC
  docs/_data/toc.yml
Labels: area/docs

#10100 docs fix quick start copy to clipboard button
  docs/pages/installation/quick-start.md
Labels: area/docs

#10112 [docs] Fix mesheryctl exp
  docs/_data/mesheryctlcommands/cmds.yml
  docs/pages/reference/mesheryctl-commands.md
  mesheryctl/internal/cli/root/registry/publish.go
Labels: area/docs, component/mesheryctl

#10113 [docs/mesheryctl] Fix annotations of exp command
  mesheryctl/internal/cli/root/registry/publish.go
Labels: component/mesheryctl

#10115 add-redirect
  docs/pages/guides/configuration-management/creating-a-meshery-design.md
Labels: area/docs

#10120 Descriptive info inside tooltip
  ui/components/DashboardComponent/charts/ConnectionCharts.js
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/components/DashboardComponent/charts/MesheryConfigurationCharts.js
  ui/components/MesheryMeshInterface/PatternService/CustomTextTooltip.js
Labels: component/ui

#10121 Alter icon
  ui/components/DashboardComponent/charts/ConnectionCharts.js
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/components/DashboardComponent/charts/MesheryConfigurationCharts.js
Labels: component/ui

#10114 [CI] fixes E2E Test workflow.
  .github/workflows/test_adaptersv2.yaml
Labels: area/ci

#10123 fix text case style in modal
  ui/components/Modal.js
Labels: component/ui

#10124 [Bug] Transfer list component
  ui/components/Lifecycle/General/transfer-list/index.js
Labels: kind/bug, component/ui

#10129 readd-meshmodel-folder
  docs/assets/img/meshmodel/relationships/binding_relationship.png
  docs/assets/img/meshmodel/relationships/hierachical_relationship_namespace_others.png
  docs/assets/img/meshmodel/relationships/mount_edge_relationship.png
  docs/assets/img/meshmodel/relationships/network_edge_relationship_ingress_service.png
  docs/assets/img/meshmodel/relationships/network_edge_relationship_service_deployment.png
  docs/assets/img/meshmodel/relationships/network_edge_relationship_service_endpoints.png
  docs/assets/img/meshmodel/relationships/network_edge_relationship_service_pod.png
  docs/assets/img/meshmodel/relationships/network_edge_relationship_service_service.png
  docs/assets/img/meshmodel/relationships/network_policy_edge_relationship.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_clusterrole_deployment.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_clusterrole_pod.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_clusterrole_service.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_role_deployment.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_role_pod.png
  docs/assets/img/meshmodel/relationships/permission_edge_relationship_role_service.png
  docs/assets/img/meshmodel/relationships/sibling_relationship.png
Labels: area/docs

#10132 Redirects
  docs/pages/extensions/index.md
  docs/pages/guides/mesheryctl/index.md
  docs/pages/installation/index.md
Labels: area/docs

#10136 Update meshmap.yml
  .github/workflows/meshmap.yml
Labels: area/ci

#10131 [RTK] Environments and Workspaces
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/index.js
Labels: component/ui

#10135 [RTK] Settings - Reset database
  ui/components/DatabaseSummary.js
  ui/rtk-query/system.js
Labels: component/ui
