Repository meshery/meshery, pull requests merged in 2024-12, with the labels that each got.

#12803 [MeshModelComponent] fix: Generate Model radio button colors.
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MesherySettingsPerformanceComponent.js
Labels: component/ui

#12799 add trim option to GetMesheryPatterns for response customization
  server/handlers/meshery_pattern_handler.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/pattern.go
  server/internal/graphql/schema/schema.graphql
  server/models/default_local_provider.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: component/server

#12782 Revert "Revert "Improvement in errorBoundary""
  ui/components/Connect/index.js
  ui/components/ErrorBoundary.js
  ui/components/General/ErrorBoundary.js
  ui/components/General/error-404/CurrentSession.js
  ui/components/General/error-404/OrgSwitcher.js
  ui/components/General/error-404/RequestForm.js
  ui/components/General/feedback.js
  ui/components/General/style.js
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternServiceFormCore.js
  ui/components/Modals/Information/InfoModal.js
  ui/components/NavigatorExtension.js
  ui/components/NotificationCenter/filter.js
  ui/components/NotificationCenter/index.js
  ui/components/NotificationCenter/notification.js
  ui/components/TroubleshootingComponent.js
  ui/components/connections/index.js
  ui/pages/_app.js
  ui/rtk-query/user.js
Labels: component/ui

#12827 [Chore]: Bump Sistent v0.14.126
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12823 [Chore] Readme updated
  .github/assets/images/readme/environments.gif
  .github/assets/images/readme/performance-metrics.gif
  .github/assets/images/readme/service-mesh-performance-example.gif
  .github/assets/images/readme/smp-video-poster-play.png
  .github/assets/images/readme/workspace.gif
  README.md
Labels: area/ci

#12838 [Chore]: Bump Sistent v0.14.127
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12836 [MesherySettings]: Add new tab for overview in settings.
  ui/components/MesherySettings.js
Labels: component/ui

#12839 [Chore]: Bump Sistent v0.14.128
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12826 mesheryctl: add filter for not publishing to meshery relationship
  mesheryctl/pkg/utils/relationship.go
Labels: component/mesheryctl

#12807 Meshsync apis and extension enhancements
  mesheryctl/internal/cli/root/design/apply.go
  server/handlers/doc.go
  server/handlers/meshsync_handler.go
  server/handlers/policy_relationship_handler.go
  server/models/handlers.go
  server/models/meshsync.go
  server/router/server.go
  ui/components/NavigatorExtension.js
  ui/lib/store.js
  ui/pages/_app.js
  ui/utils/can.js
  ui/utils/eventBus.js
Labels: component/mesheryctl, component/ui, component/server

#12860 test: fix some connection and performance test
  .gitignore
  ui/components/CustomToolbarSelect.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/tests/e2e/connections.spec.js
  ui/tests/e2e/delays.js
  ui/tests/e2e/service-mesh-performance.spec.js
Labels: component/ui, tests

#12859 Delete .editorconfig
  .editorconfig
Labels: kind/chore

#12840 marking my attendance
  docs/_meetings/week-of-12-02-2024/vivek-vishal.md
Labels: area/docs

#12841 Marking my attendance
  docs/_meetings/week-of-12-02-2024/Aditya_Pattanayak.md
Labels: area/docs

#12845 Marking Attendance: Anand Theertha
  docs/_meetings/week-of-12-02-2024/Anand_Theertha_attendance
Labels: area/docs

#12792 Create tests for `mesheryctl exp relationship` command
  mesheryctl/internal/cli/root/experimental/fixtures/generate.exp.relationship.api.response.golden
  mesheryctl/internal/cli/root/experimental/fixtures/list.exp.relationship.api.response.golden
  mesheryctl/internal/cli/root/experimental/fixtures/search.exp.relationship.api.response.golden
  mesheryctl/internal/cli/root/experimental/fixtures/token.golden
  mesheryctl/internal/cli/root/experimental/fixtures/view.exp.relationship.api.response.golden
  mesheryctl/internal/cli/root/experimental/generate_test.go
  mesheryctl/internal/cli/root/experimental/list_test.go
  mesheryctl/internal/cli/root/experimental/search_test.go
  mesheryctl/internal/cli/root/experimental/testdata/generate.exp.relationship.output.golden
  mesheryctl/internal/cli/root/experimental/testdata/list.exp.relationship.output.golden
  mesheryctl/internal/cli/root/experimental/testdata/search.exp.relationship.output.golden
  mesheryctl/internal/cli/root/experimental/testdata/view.exp.relationship.output.golden
  mesheryctl/internal/cli/root/experimental/view_test.go
Labels: component/mesheryctl

#12870 Meshsync api enhancement
  go.mod
  go.sum
  server/handlers/meshsync_handler.go
Labels: component/server

#12878 marking my attendance
  docs/_meetings/week-of-12-09-2024/vivek-vishal.md
Labels: area/docs

#12880 Attendace Shivankur
  docs/_meetings/week-of-12-09-2024/shivankur.md
Labels: area/docs

#12879 Attendee_Mohammed Abdulhadi
  docs/_meetings/week-of-12-09-2024/attendee_Mo
Labels: area/docs

#12886 [Chore]: Bump Sistent v0.14.129
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12869 use sistent visibility chip menu for the public private switch in help modal
  ui/components/Modals/Information/InfoModal.js
  ui/components/Modals/Information/styles.js
  ui/components/VisibilityMenu/index.js
Labels: component/ui, pr/do-not-merge

#12888 Meshsync api fix
  server/handlers/meshsync_handler.go
  ui/components/NavigatorExtension.js
Labels: component/ui, component/server

#12846 Create mohammed_imad_attendance
  docs/_meetings/week-of-12-02-2024/mohammed_imad_attendance
Labels: area/docs

#12884 Marking my attendance
  docs/_meetings/week-of-12-09-2024/Chaitanya.md
Labels: area/docs

#12844 Marking my Attendance for Newcomers meeting : Jerome
  docs/_meetings/week-of-12-02-2024/Jerome.md
Labels: area/docs

#12842 Marking my attendance
  docs/_meetings/week-of-12-02-2024/ngan-phan.md
Labels: area/docs

#12848 Refactor NGINX configuration: separate playground settings into a new file and add CORS support
  install/playground/docker/nginx.conf
  install/playground/docker/playground-nginx.conf
Labels: playground

#12895 bump kanvas-snapshot action
  .github/workflows/kanvas.yml
Labels: area/ci

#12896 use sistent visibilty chip and remove the static image
  Makefile
  ui/components/Filters.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/Cards.styles.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/Modals/Information/InfoModal.js
Labels: component/ui

#12898 [Chore]: Bump Sistent v0.14.130
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12897 update operator routes
  server/handlers/design_engine_handler.go
Labels: component/server

#12853 Adding a table to display relationship test Results
  docs/pages/concepts/logical/relationships.md
Labels: area/docs

#12907 [Chore]: Bump Sistent v0.14.131
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12908 Accordion view for test results
  docs/pages/project/test-status.md
Labels: area/docs

#12911 make performance tests compatible with use in extensions
  ui/components/MesheryChart.js
  ui/components/MesheryPerformance/index.js
  ui/components/NavigatorExtension.js
  ui/lib/store.js
Labels: component/ui

#12365 updated locators within indexui.spec.js file
  ui/components/Header.js
  ui/components/User.js
  ui/pages/_app.js
  ui/tests/e2e/indexui.spec.js
Labels: component/ui, tests

#12866 docs: improve contributing to playwright e2e test
  docs/pages/project/contributing/contributing-ui-tests.md
Labels: area/docs

#12912 remove asset deduplication for component/model svgs
  server/helpers/utils/utils.go
Labels: component/server

#12918 Fix and enhance Deployment enrichment
  go.mod
  go.sum
  server/helpers/utils/utils.go
  server/models/pattern/core/pattern.go
  server/models/pattern/stages/provision.go
Labels: component/server

#12914 replace pattern and catalog endpoint trim params with the populate params
  mesheryctl/internal/cli/root/design/apply.go
  mesheryctl/internal/cli/root/design/onboard.go
  mesheryctl/internal/cli/root/design/view.go
  server/handlers/meshery_pattern_handler.go
  server/internal/graphql/generated/generated.go
  server/internal/graphql/model/models_gen.go
  server/internal/graphql/resolver/catalog_content.go
  server/internal/graphql/resolver/pattern.go
  server/internal/graphql/schema/schema.graphql
  server/models/default_local_provider.go
  server/models/providers.go
  server/models/remote_provider.go
  ui/components/MesheryPatterns.js
  ui/rtk-query/design.js
  ui/utils/utils.js
Labels: component/mesheryctl, component/ui, component/server

#12926 Marking my attendance for 19th Dec 24
  docs/_meetings/week-of-12-16-2024/Sumit_Ghosh.md
Labels: area/docs

#12925 Marking my attendance for 19th Dec'24
  docs/_meetings/week-of-12-16-2024/sonal-gaud.md
Labels: area/docs

#12923 Marking my attendance for 19th Dec'24
  docs/_meetings/week-of-12-16-2024/Tushar-mohapatra
Labels: area/docs

#12920 marking my attendance for the week of 12-16-2024
  docs/_meetings/week-of-12-16-2024/Arunkumar V
Labels: area/docs

#12921 marking attendance for week of 12-16-2024
  docs/_meetings/week-of-12-16-2024/jay-gondaliya.md
Labels: area/docs

#12922 marking attendance for week of 12-16-2024
  docs/_meetings/week-of-12-16-2024/appareddy.md
Labels: area/docs

#12928 [Docs]: Redis-PHP app docs added
  docs/_data/toc.yml
  docs/pages/guides/tutorials/deploy-php-redis.md
  docs/pages/guides/tutorials/screenshots/app-canvas.png
  docs/pages/guides/tutorials/screenshots/operate-layers-expand.png
  docs/pages/guides/tutorials/screenshots/operate-layers.png
  docs/pages/guides/tutorials/screenshots/operate-logs-menu.png
  docs/pages/guides/tutorials/screenshots/operate-logs.png
  docs/pages/guides/tutorials/screenshots/operate.png
  docs/pages/guides/tutorials/screenshots/redis-leader-deployment.png
  docs/pages/guides/tutorials/screenshots/redis-php-guestbook-deploy.png
  docs/pages/guides/tutorials/screenshots/redis-php-guestbook-deployment.png
  docs/pages/guides/tutorials/screenshots/redis-php-guestbook-dryrun.png
  docs/pages/guides/tutorials/screenshots/redis-php-guestbook-finalize.png
  docs/pages/guides/tutorials/screenshots/redis-php-guestbook-identify.png
  docs/pages/guides/tutorials/screenshots/redis-php-guestbook-validate.png
Labels: area/docs

#12930 Enhance styling of the design view formatter for operator view
  ui/components/DashboardComponent/view.js
  ui/components/DataFormatter/index.js
Labels: component/ui

#12935 Addition of Sangram Rath as Meshery Maintainer, CI
  MAINTAINERS.md
Labels: kind/chore

#12936 [Docs] Add documentation for kubectl and Helm Kanvas Snapshot extensions
  docs/pages/extensions/helm-kanvas-snapshot copy/index.md
  docs/pages/extensions/kanvas-snapshot/index.md
  docs/pages/extensions/kubectl-kanvas-snapshot/index.md
  docs/pages/extensions/kubectl-meshsync-snapshot/index.md
Labels: area/docs

#12937 [Docs] Semantic Components
  docs/pages/concepts/logical/components.md
Labels: area/docs

#12949 add annotations to configuration.metadata
  server/handlers/meshsync_handler.go
Labels: component/server

#12948 [Chore]: Bump Sistent v0.14.132
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#12955 Remove redundant commit author from model generator workflow
  .github/workflows/model-generator.yml
Labels: area/ci

#12965 [Adapter]: fix bug for selection of adapter
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryPlayComponent.js
Labels: kind/bug, component/ui

#12998 fixing typo in the mesheryctl-registry-generate page
  docs/pages/reference/mesheryctl/mesheryctl-registry-generate.md
Labels: area/docs

#12996 fixing typo in the meshync-crd-reference page
  docs/pages/reference/meshync-crd-reference.md
Labels: area/docs

#12980 fixing typos in the graphql-apis page
  docs/pages/reference/graphql-api-reference.md
Labels: area/docs

#12994 fixing typo in the contributing-ui-notification-center page
  docs/pages/project/contributing/contributing-ui-notification-center.md
Labels: area/docs

#13003 enhance DataFormatter to support conditional layout and context usage
  ui/components/DataFormatter/index.js
Labels: component/ui

#13006 Enhance Cluster Summary Endpoint to return all labels scoped down by the applied filters
  server/handlers/meshsync_handler.go
  server/models/meshsync.go
  ui/components/NavigatorExtension.js
Labels: component/ui, component/server

#13010 proper error handling of chips for pinging metrics connections
  server/models/remote_provider.go
  ui/components/hooks/useTelemetryHook.js
Labels: component/ui, component/server

#13000 All Remaining typo fixes merged into one PR
  docs/pages/concepts/architectural/adapters.md
  docs/pages/concepts/architectural/meshsync.md
  docs/pages/concepts/logical/registry.md
  docs/pages/extensibility/extensible-authorization.md
  docs/pages/guides/infrastructure-management/gitops-with-meshery.md
  docs/pages/guides/mesheryctl/running-system-checks-using-mesheryctl.md
  docs/pages/guides/mesheryctl/working-with-mesheryctl.md
  docs/pages/guides/performance-management/meshery-metrics.md
  docs/pages/guides/troubleshooting/installation.md
  docs/pages/guides/tutorials/deploy-php-redis.md
  docs/pages/installation/quick-start.md
  docs/pages/project/contributing/contributing-cli.md
  docs/pages/project/contributing/contributing-guidelines.md
  docs/pages/project/contributing/contributing-ui-tests.md
Labels: area/docs

#12986 fixing typo in running-system-checks-using-mesheryctl page
  docs/pages/guides/mesheryctl/running-system-checks-using-mesheryctl.md
Labels: area/docs

#13012 add support for filtering by labels
  server/handlers/meshsync_handler.go
Labels: component/server

#13013 Refactor DataFormatter components to remove unused props and improve …
  ui/components/DataFormatter/index.js
Labels: component/ui

#13004 Add support for connection modal in the context switcher
  ui/components/Header.js
  ui/components/MesherySettingsEnvButtons.js
  ui/components/Modals/ConnectionModal.js
  ui/components/connections/ConnectionTable.js
  ui/components/connections/index.js
  ui/components/connections/styles.js
Labels: component/ui

#13009 Create environment modal for show in the deploy design modal
  ui/components/DesignLifeCycle/DeployStepper.js
  ui/components/DesignLifeCycle/SelectDeploymentTarget.js
  ui/components/Lifecycle/Environments/environment-card.js
  ui/components/Lifecycle/Environments/index.js
  ui/components/Modals/EnvironmentModal.js
Labels: component/ui

#13015 week-of-12-23-2024
  docs/_meetings/week-of-12-23-2024/.gitkeep
Labels: area/docs

#12890 refactor(mesheryctl): rename `pattern` commands to `design` due to deprecation
  .github/workflows/test_adapters.yaml
  .github/workflows/test_adaptersv2.yaml
  docs/_data/mesheryctlcommands/es_cmds.yml
  docs/_data/notes/oci-models.md
  docs/pages/guides/configuration-management/configuration-management.md
  docs/pages/guides/configuration-management/importing-applications.md
  docs/pages/guides/configuration-management/patterns.md
  docs/pages/guides/mesheryctl/working-with-mesheryctl.md
  docs/pages/project/contributing/contributing-cli.md
  docs/pages/project/contributing/contributing-guidelines.md
  docs/pages/reference/mesheryctl/mesheryctl-pattern-apply.md
  docs/pages/reference/mesheryctl/mesheryctl-pattern-delete.md
  docs/pages/reference/mesheryctl/mesheryctl-pattern-export.md
  docs/pages/reference/mesheryctl/mesheryctl-pattern-import.md
  docs/pages/reference/mesheryctl/mesheryctl-pattern-list.md
  docs/pages/reference/mesheryctl/mesheryctl-pattern-offboard.md
  docs/pages/reference/mesheryctl/mesheryctl-pattern-onboard.md
  docs/pages/reference/mesheryctl/mesheryctl-pattern-view.md
  docs/pages/reference/mesheryctl/mesheryctl-pattern.md
Labels: area/docs, area/ci

#13023 My new commers meeting attendance
  docs/_meetings/week-of-12-23-2024/supriya
Labels: area/docs

#13022 Create rohanc
  docs/_meetings/week-of-12-23-2024/rohanc
Labels: area/docs

#13017 Hide suggestion on escape and add control for manually hiding them
  ui/components/TypingFilter/index.js
Labels: component/ui

#13018 marking my attendance for the week of 12-23-2024
  docs/_meetings/week-of-12-23-2024/vivek-vishal.md
Labels: area/docs

#13021 Kartikeya Pandey- Attendance
  docs/_meetings/week-of-12-23-2024/Kartikeya Pandey
Labels: area/docs

#13020 marking my attendance for Dec 26 2024
  docs/_meetings/week-of-12-23-2024/abhisheksatpathy.md
Labels: area/docs

#13019 marking my attendance for the week of 12-23-2024
  docs/_meetings/week-of-12-23-2024/ram-mohan.md
Labels: area/docs

#13032 fix the font for array formatter for designer details panel
  ui/components/DataFormatter/index.js
Labels: component/ui

#13035 add user profile link for info modal avatar
  ui/components/Modals/Information/InfoModal.js
Labels: component/ui

#13036 [CI] deprecated link in integrations-updater.yml #13029
  .github/workflows/integrations-updater.yml
Labels: area/ci

#12943 Update cncf-playground-deploy-meshery.yaml
  .github/workflows/cncf-playground-deploy-meshery.yaml
Labels: area/ci

#12932 Remove the word "successfully"
  mesheryctl/internal/cli/root/adapter/deploy.go
  mesheryctl/internal/cli/root/connections/delete.go
  mesheryctl/internal/cli/root/design/apply.go
  mesheryctl/internal/cli/root/design/delete.go
  mesheryctl/internal/cli/root/design/error.go
  mesheryctl/internal/cli/root/design/export.go
  mesheryctl/internal/cli/root/design/offboard.go
  mesheryctl/internal/cli/root/design/onboard.go
  mesheryctl/internal/cli/root/environments/create.go
  mesheryctl/internal/cli/root/environments/delete.go
  mesheryctl/internal/cli/root/filter/delete.go
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/relationships/generate.go
  mesheryctl/internal/cli/root/system/error.go
  mesheryctl/internal/cli/root/system/login.go
  mesheryctl/internal/cli/root/system/logout.go
  mesheryctl/internal/cli/root/workspaces/create.go
  mesheryctl/pkg/utils/auth.go
  server/models/default_local_provider.go
  server/models/k8s_context.go
  server/models/pattern/core/error.go
  server/models/remote_provider.go
  server/models/seed_models_logs.go
  ui/components/Modals/Information/InfoModal.js
  ui/components/configuratorComponents/MeshModel/hooks/useDesignLifecycle.js
  ui/components/connections/meshSync/RegisterConnectionModal.js
Labels: component/mesheryctl, component/ui, component/server

#12891 Update GitHub Actions to use download-artifact@v4
  .github/workflows/test_adapters.yaml
Labels: area/ci

#13037 fix(mesheryctl): Error code workflow is failing
  mesheryctl/helpers/component_info.json
Labels: component/mesheryctl

#13030 Create Venkata_Sai.md
  docs/_meetings/week-of-12-23-2024/Venkata_Sai.md
Labels: area/docs

#13049 remove design configuration prettification logic
  server/models/pattern/core/pattern.go
Labels: component/server

#13051 Eval documentation
  server/handlers/componetgenratorhelper.go
  server/handlers/policy_relationship_handler.go
Labels: component/server

#13057 Revert "test: fix some connection and performance test"
  .gitignore
  ui/components/CustomToolbarSelect.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/tests/e2e/connections.spec.js
  ui/tests/e2e/delays.js
  ui/tests/e2e/service-mesh-performance.spec.js
Labels: component/ui, tests

#13060 [UI] Environments page and related components MUI v5 migration #12913
  ui/components/Lifecycle/Environments/environment-card.js
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Environments/styles.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/Lifecycle/Workspaces/workspace-card.js
  ui/pages/management/environments.js
Labels: component/ui

#13028 Update terminology from `pattern` to `design` in configuration management guides
  docs/pages/guides/configuration-management/configuration-management.md
  docs/pages/project/contributing/contributing-cli.md
  docs/pages/project/contributing/contributing-guidelines.md
  docs/pages/reference/mesheryctl/mesheryctl-pattern.md
Labels: area/docs

#12847 Go Upgrade
  .github/workflows/build-and-release-stable.yml
  .github/workflows/build-ui-and-server.yml
  .github/workflows/build-ui-server-reusable-workflow.yml
  .github/workflows/error-codes-updater.yaml
  .github/workflows/go-mod-sync.yaml
  .github/workflows/go-testing-ci.yml
  .github/workflows/mesheryctl-ci.yml
  .github/workflows/model-generator.yml
  go.mod
  install/Makefile.core.mk
  install/docker-extension/Dockerfile
  install/docker/Dockerfile
  install/docker/testing/Dockerfile
Labels: area/ci, area/lifecycle, component/extensions

#13044 fixes: #13008 Add hyperlinks to command headings for direct navigation w…
  docs/pages/reference/mesheryctl-commands.md
Labels: area/docs

#13055 [UI] Adapter migration to MUI v5
  ui/components/MesheryPlayComponent.js
Labels: component/ui

#13045 [Docs] Ruby Version Error Fix for `make docker`
  docs/Dockerfile
  docs/Gemfile.lock
  docs/Makefile
Labels: area/docs

#13052 chore: update text from open in visualizer to operator
  ui/components/DesignLifeCycle/DeploymentSummary.js
  ui/components/DesignLifeCycle/common.js
  ui/components/DesignLifeCycle/finalizeDeployment.js
Labels: component/ui

#13056 [Data]: removing unwanted folder causing error in windows related to test_status
  docs/_data/relationshiptestresult/relationship-v0.7.166-1.json
Labels: area/docs

#13033 refactor(mesheryctl): Promote environment command
  docs/_data/mesheryctlcommands/cmds.yml
  docs/pages/reference/mesheryctl-commands.md
  mesheryctl/internal/cli/root/environments/create.go
  mesheryctl/internal/cli/root/environments/delete.go
  mesheryctl/internal/cli/root/environments/environment.go
  mesheryctl/internal/cli/root/environments/list.go
  mesheryctl/internal/cli/root/environments/view.go
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/internal/cli/root/root.go
Labels: area/docs, component/mesheryctl

#13065 [Chore]: Bump Sistent v0.14.133
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13067 Add disableInteractive prop to CustomTextTooltip in Header component
  ui/components/Header.js
Labels: component/ui

#13069 Fix maxWidth condition in DynamicFormatter for age title
  ui/components/DataFormatter/index.js
Labels: component/ui
