Repository meshery/meshery, pull requests merged in 2025-01, with the labels that each got.

#13070 Add new columns for the deshboard meshsync resources
  ui/components/DashboardComponent/resources/configuration/config.js
  ui/components/DashboardComponent/resources/namespace/config.js
  ui/components/DashboardComponent/resources/network/config.js
  ui/components/DashboardComponent/resources/nodes/config.js
  ui/components/DashboardComponent/resources/storage/config.js
  ui/components/DashboardComponent/resources/workloads/config.js
  ui/utils/k8s-utils.js
Labels: component/ui

#13078 fix: downalod issue from client side
  ui/components/DashboardComponent/resources/workloads/config.js
  ui/components/ExportModal.js
  ui/rtk-query/design.js
Labels: component/ui

#13080 fix: Meshery's docker image repository url
  install/docker-extension/README.md
Labels: component/extensions

#13081 fix tab theme and performance tab crash
  ui/components/ConfirmationModal.js
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/resources/resources-sub-menu.js
  ui/components/MesheryPerformance/PerformanceResults.js
  ui/components/MesherySettings.js
  ui/components/MesherySettingsPerformanceComponent.js
  ui/components/UserPreferences/index.js
  ui/components/connections/index.js
  ui/themes/app.js
Labels: component/ui

#13084 Fix: Tooltip hindrance on cluster tab navigation
  ui/components/Header.js
Labels: component/ui

#13085 Fix: Interaction with tooltip content in dashboard info button
  ui/components/DashboardComponent/charts/ConnectionCharts.js
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/components/DashboardComponent/charts/MesheryConfigurationCharts.js
Labels: component/ui

#13112 [Docs] Security: Avoid DOM text reinterpreted as HTML
  .github/workflows/build-and-preview-site.yml
  .github/workflows/build-and-release-edge.yml
  .github/workflows/build-and-release-stable.yml
  .github/workflows/build-ui-and-server.yml
  docs/.ruby-version
  docs/_includes/toc.html
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs, area/ci, security

#13114 [Tests] Configure CodeQL to ignore old versions of Meshery Docs
  .github/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Labels: area/docs, security

#13117 [Docs] Security: configure codeql for unexpected tokens
  .github/codeql-config.yml
  docs/_meetings/week-of-09-23-2024/vivek-vishal.js
Labels: area/docs, security

#13119 [chore] fixes #13118
  docs/_includes/toc.html
Labels: area/docs

#13120 [chore] update CodeQL config to ignore search.js in docs/assets/js
  .github/codeql-config.yml
Labels: area/docs, security

#13066 [Docs] Updates the documentation to clarify event persistence behaviors (Issue #13058)
  docs/pages/extensibility/providers.md
  docs/pages/project/contributing/contributing-sever-events.md
Labels: area/docs

#13082 [UI] Prometheus components MUIv5 migration
  ui/components/telemetry/prometheus/PrometheusComponent.js
  ui/components/telemetry/prometheus/PrometheusConfigComponent.js
  ui/components/telemetry/prometheus/PrometheusSelectionComponent.js
Labels: component/ui

#13027 fix status transition and event propagation in prometheus
  ui/components/telemetry/prometheus/PrometheusComponent.js
Labels: component/ui

#13123 [Chore]: Bump Sistent v0.14.134
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13125 Fix syntax error on Playground CNCF - Reset Non-essential Namespaces and Reboot workflow
  .github/workflows/cncf-playground-reset.yaml
Labels: area/ci

#13127 [Docs] Added current event persistence behavior for remote and local provider
  docs/assets/img/events-table.png
  docs/pages/extensibility/providers.md
  docs/pages/project/contributing/contributing-sever-events.md
Labels: area/docs

#13137 Marking My Attendance for Newcomers Meeting
  docs/_meetings/week-of-12-30-2024/Attendance.md
Labels: area/docs

#13136 mark attendance for the week of 12-30-2024
  docs/_meetings/week-of-12-30-2024/Lakshya.md
Labels: area/docs

#13135 Marking attendence for 12/20/24
  docs/_meetings/week-of-12-30-2024/Sudhiksha.md
Labels: area/docs

#13134 Marking Attendence for the week "12-30-2024"
  docs/_meetings/week-of-12-30-2024/Akash-Babu-Kushwah.md
Labels: area/docs

#13133 mark attendance for the week of 12-30-2024
  docs/_meetings/week-of-12-30-2024/yukta-agrawal.md
Labels: area/docs

#13129 marking my attendance for the week of 12-30-2024
  docs/_meetings/week-of-12-30-2024/vivek-vishal.md
Labels: area/docs

#13131 Marking my attendance for newcomers meet for week-of-12-30-2024
  docs/_meetings/week-of-12-30-2024/Anand_Chourasia.md
Labels: area/docs

#13130 Mark Attendance week 12-30-2024
  docs/_meetings/week-of-12-30-2024/Swastik-Swarup-Dash.md
Labels: area/docs

#13126 Marking my attendance for the week of 12-30-2024
  docs/_meetings/week-of-12-30-2024/havish-pallerla
Labels: area/docs

#13128 docs: added introduction file
  docs/_meetings/week-of-12-30-2024/stevealdrin
Labels: area/docs

#13140 [Chore]: Bump Sistent v0.14.135
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13142 fixing golangci-lint
  .github/workflows/go-testing-ci.yml
  .github/workflows/mesheryctl-ci.yml
Labels: area/ci, component/server

#13141 Fix catalog content not getting seed during Meshery boot
  server/models/default_local_provider.go
  server/models/meshery_pattern.go
Labels: component/server

#13139 Add support for Alias relationships
  go.mod
  server/handlers/policy_relationship_handler.go
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/alias_policy.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/evaluation.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/helper_rules.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/hierarchical_parent_and_edge_network.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/identify_additions.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/relationship_diff_policy.rego
Labels: component/server, area/models

#13145 Marking attendance for newcomers meet of the week 12-30-2024
  docs/_meetings/week-of-12-30-2024/Sagnik-Pal.md
Labels: area/docs

#13150 Update kanvas.yml
  .github/workflows/kanvas.yml
Labels: area/ci

#13154 Update kanvas.yml
  .github/workflows/kanvas.yml
Labels: area/ci

#13155 Update kanvas.yml
  .github/workflows/kanvas.yml
Labels: area/ci

#13158 Radha Attendance
  docs/_meetings/week-of-12-30-2024/Radha
Labels: area/docs

#13153 Docs/update docker extensions page
  docs/assets/img/platforms/docker-desktop-meshery-extension-install.png
  docs/assets/img/platforms/docker-desktop-meshery-extension-launch.png
  docs/assets/img/platforms/docker-desktop-meshery-extension-login.png
  docs/assets/img/platforms/docker-desktop-meshery-extension-open.png
  docs/assets/img/platforms/docker-desktop-meshery-extension-remove.png
  docs/assets/img/platforms/docker-hub-meshery-extension.png
  docs/pages/installation/docker-extension.md
Labels: area/docs

#13162 Do complete evaluation ( including post processing ) for meshsync snapshot
  server/handlers/meshsync_handler.go
  server/handlers/policy_relationship_handler.go
Labels: component/server

#13165 fix: open deploy modal issue for the extension page
  ui/components/Lifecycle/Environments/index.js
Labels: component/ui

#13163 Update dashboard overview page
  ui/components/BBChart.js
  ui/components/DashboardComponent/HoneyComb/Hexagon.js
  ui/components/DashboardComponent/HoneyComb/HoneyCombComponent.js
  ui/components/DashboardComponent/HoneyComb/Honeycomb.js
  ui/components/DashboardComponent/HoneyComb/HoneycombCell.js
  ui/components/DashboardComponent/HoneyComb/ResponsiveHoneycomb.js
  ui/components/DashboardComponent/HoneyComb/helpers.js
  ui/components/DashboardComponent/charts/ConnectCluster.js
  ui/components/DashboardComponent/charts/ConnectionCharts.js
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/components/DashboardComponent/charts/MesheryConfigurationCharts.js
  ui/components/DashboardComponent/charts/NodeStatusChart.js
  ui/components/DashboardComponent/charts/PodStatusChart.js
  ui/components/DashboardComponent/charts/ResourceUtilizationChart.js
  ui/components/DashboardComponent/charts/utils.js
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/overview.js
  ui/components/DashboardComponent/resources/config.js
  ui/components/DashboardComponent/resources/configuration/config.js
  ui/components/DashboardComponent/resources/resources-sub-menu.js
  ui/components/DashboardComponent/resources/workloads/config.js
  ui/components/DashboardComponent/style.js
  ui/components/General/ConnectClustersBtn.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MesherySettings.js
  ui/constants/common.js
  ui/package-lock.json
  ui/package.json
Labels: component/ui, component/server

#13168 Removing unwanted relationships
  server/meshmodel/aad-pod-identity/4.1.18/v1.0.0/relationships/edge-binding-permission-gzzua.json
  server/meshmodel/accurate/0.5.0/v1.0.0/relationships/hierarchical-parent-inventory-xhrda.json
  server/meshmodel/accurate/v1.4.3/v1.0.0/relationships/hierarchical-parent-inventory-xhrda.json
  server/meshmodel/accurate/v1.5.0/v1.0.0/relationships/hierarchical-parent-inventory-xhrda.json
  server/meshmodel/accurate/v1.6.0/v1.0.0/relationships/hierarchical-parent-inventory-xhrda.json
  server/meshmodel/ace/2022.6.14/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2024.10.17/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2024.10.24/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2024.10.7/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2024.11.18/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2024.12.9/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2024.2.13/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2024.4.2/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2024.5.17/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2024.5.3/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2024.6.18/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2024.6.28/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2024.6.3/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2024.7.2/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2024.7.4/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2024.8.21/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2024.9.30/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/ace/2025.1.17/v1.0.0/relationships/hierarchical-parent-inventory-hfdxu.json
  server/meshmodel/actions-runner-controller/0.1.2/v1.0.0/relationships/hierarchical-parent-inventory-cqesh.json
  server/meshmodel/actions-runner-controller/0.1.2/v1.0.0/relationships/hierarchical-parent-inventory-tqljd.json
  server/meshmodel/admin-console-operator/2.14.0-SNAPSHOT.4/v1.0.0/relationships/hierarchical-parent-inventory-lrqld.json
  server/meshmodel/admin-console-operator/2.14.0/v1.0.0/relationships/hierarchical-parent-inventory-lrqld.json
  server/meshmodel/admin-console-operator/2.15.0-SNAPSHOT.3/v1.0.0/relationships/hierarchical-parent-inventory-lrqld.json
  server/meshmodel/akri/0.12.47/v1.0.0/relationships/hierarchical-parent-inventory-nlquh.json
  server/meshmodel/akri/0.12.53/v1.0.0/relationships/hierarchical-parent-inventory-nlquh.json
  server/meshmodel/akri/0.12.55/v1.0.0/relationships/hierarchical-parent-inventory-nlquh.json
  server/meshmodel/altinity-clickhouse-operator/0.23.3/v1.0.0/relationships/hierarchical-parent-inventory-aulye.json
  server/meshmodel/altinity-clickhouse-operator/0.23.4/v1.0.0/relationships/hierarchical-parent-inventory-aulye.json
  server/meshmodel/altinity-clickhouse-operator/0.23.5/v1.0.0/relationships/hierarchical-parent-inventory-aulye.json
  server/meshmodel/altinity-clickhouse-operator/0.23.6/v1.0.0/relationships/hierarchical-parent-inventory-aulye.json
  server/meshmodel/altinity-clickhouse-operator/0.23.7/v1.0.0/relationships/hierarchical-parent-inventory-aulye.json
  server/meshmodel/altinity-clickhouse-operator/0.24.0/v1.0.0/relationships/hierarchical-parent-inventory-aulye.json
  server/meshmodel/altinity-clickhouse-operator/0.24.2/v1.0.0/relationships/hierarchical-parent-inventory-aulye.json
  server/meshmodel/amd-gpu/0.12.0/v1.0.0/relationships/hierarchical-parent-inventory-wcvno.json
  server/meshmodel/amd-gpu/0.13.0/v1.0.0/relationships/hierarchical-parent-inventory-wcvno.json
  server/meshmodel/amd-gpu/0.14.0/v1.0.0/relationships/hierarchical-parent-inventory-wcvno.json
  server/meshmodel/amd-gpu/0.6.0/v1.0.0/relationships/hierarchical-parent-inventory-wcvno.json
Labels: component/server, area/models

#13167 Add support for retrying to fetch capabilities from remote provider
  server/models/remote_provider.go
Labels: component/server

#13175 remove close body
  server/models/remote_provider.go
Labels: component/server

#13176 use meshkit encoding
  server/handlers/meshery_pattern_handler.go
Labels: component/server

#13178 Deploy modal styling
  ui/components/DesignLifeCycle/DeployStepper.js
  ui/components/DesignLifeCycle/ValidateDesign.js
  ui/components/MesheryPatterns.js
Labels: component/ui

#13179 Update 404.js
  ui/pages/404.js
Labels: component/ui

#13180 Add staging-playground ns to valid_namespaces
  install/playground/playground-cleanup.sh
Labels: playground

#13185 [Chore]: Bump Sistent v0.14.137
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13183 Enhance the dashboard resource detail view
  ui/components/DashboardComponent/resources/configuration/config.js
  ui/components/DashboardComponent/resources/resources-table.js
  ui/components/DashboardComponent/view-component.js
  ui/components/DashboardComponent/view.js
  ui/components/DataFormatter/index.js
  ui/components/MeshModelRegistry/helper.js
  ui/components/connections/ConnectionChip.js
  ui/constants/common.js
  ui/utils/TooltipButton.js
Labels: component/ui

#13039 fix(mesheryctl): unittest failing due to missing update after removing `successfully` word
  .github/workflows/go-testing-ci.yml
  mesheryctl/internal/cli/root/design/fixtures/apply.designDeploy.response.golden
  mesheryctl/internal/cli/root/design/fixtures/delete.response.golden
  mesheryctl/internal/cli/root/design/fixtures/design.apply.deploy.golden
  mesheryctl/internal/cli/root/design/fixtures/design.delete.golden
  mesheryctl/internal/cli/root/design/fixtures/offboard.response.golden
  mesheryctl/internal/cli/root/design/fixtures/onboard.designdeploy.response.golden
  mesheryctl/internal/cli/root/design/testdata/apply.output.golden
  mesheryctl/internal/cli/root/design/testdata/delete.output.golden
  mesheryctl/internal/cli/root/design/testdata/design.apply.output.golden
  mesheryctl/internal/cli/root/design/testdata/design.delete.output.golden
  mesheryctl/internal/cli/root/design/testdata/offboard.output.golden
  mesheryctl/internal/cli/root/design/testdata/onboard.output.golden
  mesheryctl/internal/cli/root/filter/testdata/filter.id.delete.output.golden
Labels: component/mesheryctl, area/ci

#13187 fix: test for dashboard charts failing
  ui/tests/e2e/dashboard.spec.js
  ui/tests/e2e/settings.spec.js
Labels: component/ui, tests

#13191 marking-my-attendance-for-the-week-of-01-06-2025
  docs/_meetings/week-of-01-06-2025/vivek-vishal.md
Labels: area/docs

#13197 marking-my-attendance-for-the-week-of-01-06-2025
  docs/_meetings/week-of-01-06-2025/aadarsh-nagrath.md
Labels: area/docs

#13196 marking-my-attendance-for-the-week-of-01-06-2025
  docs/_meetings/week-of-01-06-2025/riya-garg.md
Labels: area/docs

#13195 marking my attendance for the week of 01-06-2025
  docs/_meetings/week-of-01-06-2025/Srishti_Chugh
Labels: area/docs

#13194 marking-my-attendance-for-the-week-of-01-06-2025
  docs/_meetings/week-of-01-06-2025/ks-mahadevan.md
Labels: area/docs

#13192 marking-my-attendance-for-the-week-of-01-06-2025
  docs/_meetings/week-of-01-06-2025/shubhendra-kushwaha.md
Labels: area/docs

#13200 Enhance Meshery CLI dashboard commands and error messages for clarity and consistency
  mesheryctl/internal/cli/root/system/dashboard.go
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#13202 [Docs] Add Tutorials to Quick Start
  docs/pages/installation/quick-start.md
Labels: area/docs

#13193 marking-my-attendance-for-the-week-of-01-06-2025
  docs/_meetings/week-of-01-06-2025/usamakakumba.md
Labels: area/docs, issue/dco

#13203 [Helm] Update to v0.8
  install/kubernetes/helm/meshery-operator/Chart.yaml
Labels: framework/helm, kubernetes

#13206 enhance routing for "open in operator"
  server/handlers/design_engine_handler.go
  ui/components/DesignLifeCycle/DeployStepper.js
  ui/components/DesignLifeCycle/DeploymentSummary.js
  ui/components/DesignLifeCycle/finalizeDeployment.js
  ui/utils/utils.js
Labels: component/ui, component/server

#13216 [Chore]: Bump Sistent v0.14.138
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13214 fix lint issue in utils
  ui/utils/utils.js
Labels: component/ui

#13204 Migrate CustomErrorMessage to sistent components and theme tokens
  ui/components/ErrorPage.js
Labels: component/ui

#13215 Deploy events formatting
  server/handlers/design_engine_handler.go
  ui/components/DesignLifeCycle/DeploymentSummary.js
  ui/components/NotificationCenter/metadata.js
Labels: component/ui, component/server

#13224 fix: dashboard crash issue on the load of the page
  ui/components/DashboardComponent/index.js
Labels: component/ui

#13225 Fix redirect for the add cluster and add environment button
  ui/components/DesignLifeCycle/SelectDeploymentTarget.js
  ui/components/Header.js
  ui/components/MesherySettingsEnvButtons.js
Labels: component/ui

#13223 complete migration of extensions page from muiV4 to sistent(v5)
  ui/components/extensions/adapters/adapters.js
  ui/css/icons.styles.js
  ui/pages/extensions.js
Labels: component/ui

#13213 Move filters section from muiv4 to sistent
  ui/components/Filters.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/Cards.styles.js
  ui/pages/configuration/catalog.js
  ui/pages/configuration/filters.js
Labels: component/ui

#13239 [Chore] UI: Update Sistent v0.14.139
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13209 [Docs] Update Catalog page location
  docs/pages/concepts/architectural/catalog.md
Labels: area/docs

#13243 [CI][Chore] Upgrade to ubuntu-24.04
  .github/workflows/bom.yaml
  .github/workflows/build-and-release-stable.yml
  .github/workflows/build-ui-and-server.yml
  .github/workflows/cncf-playground-deploy-meshery.yaml
  .github/workflows/cncf-playground-reset.yaml
  .github/workflows/cncf-staging-playground-deploy-meshery.yaml
  .github/workflows/comment-e2e-test.yml
  .github/workflows/discussions-data-files-update.yml
  .github/workflows/first-time-contributor.yml
  .github/workflows/go-mod-sync.yaml
  .github/workflows/kanvas.yml
  .github/workflows/label-tweet.yml
  .github/workflows/regal-lint.yml
  .github/workflows/update-script-in-vm.yaml
Labels: area/ci

#13245 fix: crds tabs are broken in production issue
  ui/components/DashboardComponent/resources/resources-sub-menu.js
Labels: component/ui

#13221 complete dashboard migration from muiV4 to sistent(v5)
  ui/components/DashboardComponent/charts/ConnectionCharts.js
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/components/DashboardComponent/charts/MesheryConfigurationCharts.js
  ui/components/DashboardComponent/charts/WorkloadChart.js
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/overview.js
  ui/components/DashboardComponent/resources/resources-sub-menu.js
  ui/components/DashboardComponent/resources/resources-table.js
  ui/components/DashboardComponent/style.js
  ui/components/DashboardComponent/tabpanel.js
  ui/components/General/ConnectClustersBtn.js
Labels: component/ui

#13212 [UI] Kubernetes Deployment Operation Debug Logging
  server/models/pattern/patterns/k8s/error.go
  ui/components/Header.js
Labels: component/ui, component/server, kubernetes

#13220 use org switcher to display when there is error in loading user abilities
  ui/components/ErrorPage.js
  ui/rtk-query/ability.js
Labels: component/ui

#13261 Resolve aliases and add support for recursive aliases
  go.mod
  go.sum
  server/handlers/policy_relationship_handler.go
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/alias_policy.rego
Labels: component/server, area/models

#13252 fix: Continue to remove the word "successfully"
  install/docker-extension/vm/proxy/proxy.go
  server/internal/graphql/resolver/adapter.go
  ui/components/connections/ConnectionTable.js
Labels: component/ui, component/extensions, component/server

#13263 connections page migrate from muiv4 to sistent(v5)
  ui/components/DataFormatter/index.js
  ui/components/connections/ConnectionChip.js
  ui/components/connections/common/index.js
  ui/components/connections/meshSync/RegisterConnectionModal.js
  ui/components/connections/meshSync/Stepper/Notification.js
  ui/components/connections/meshSync/Stepper/StepperContent.js
  ui/components/connections/meshSync/Stepper/StepperContentWrapper.js
  ui/components/connections/meshSync/Stepper/index.js
  ui/components/connections/metadata.js
  ui/components/connections/styles.js
Labels: component/ui

#13264 migrate design configurator to use sistent(v5)
  ui/components/configuratorComponents/CodeEditor.js
  ui/components/configuratorComponents/CustomBreadCrumb.js
  ui/components/configuratorComponents/MeshModel/LazyComponentForm.js
  ui/components/configuratorComponents/MeshModel/index.js
  ui/components/configuratorComponents/MeshModel/styledComponents/AppBar.js
Labels: component/ui

#13272 fix: dashboard crash due to the invalid resource issue
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/resources/resources-sub-menu.js
  ui/components/DashboardComponent/resources/resources-table.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
Labels: component/ui

#13279 fix: issue with crds tabs when resource is undefined
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/resources/resources-sub-menu.js
Labels: component/ui

#13276 [Chore]: Bump Sistent v0.14.140
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13281 Adding my details as attendance to newcomers meeting (Ayush Sahu - Murdock9803)
  docs/_meetings/week-of-01-13-2025/Ayush-Sahu-Murdock9803.md
Labels: area/docs

#13277 Sangram here, marking my attendance.
  docs/_meetings/week-of-01-13-2025/sangram-rath.md
Labels: area/docs

#13275 marking my attendance for the week of 01-13-2024
  docs/_meetings/week-of-01-13-2025/vivek-vishal.md
Labels: area/docs

#13280 fix miscolored tabs theme
  ui/components/DashboardComponent/resources/resources-sub-menu.js
  ui/components/DashboardComponent/style.js
Labels: component/ui

#13278 Marking my attendance for week-of-01-13-2025
  docs/_meetings/week-of-01-13-2025/vansh-koul.md
Labels: area/docs

#13283 Move grafana telemetry components to sistent
  ui/components/telemetry/grafana/GrafanaCharts.js
  ui/components/telemetry/grafana/GrafanaComponent.js
  ui/components/telemetry/grafana/GrafanaConfigComponent.js
  ui/components/telemetry/grafana/GrafanaCustomChart.js
  ui/components/telemetry/grafana/GrafanaCustomCharts.js
  ui/components/telemetry/grafana/GrafanaCustomGaugeChart.js
  ui/components/telemetry/grafana/GrafanaDateRangePicker.js
  ui/components/telemetry/grafana/GrafanaDisplaySelection.js
  ui/components/telemetry/grafana/GrafanaMetricsCompare.js
  ui/components/telemetry/grafana/GrafanaSelectionComponent.js
Labels: component/ui

#13285 consistent tabs everywhere
  ui/components/DashboardComponent/resources/resources-sub-menu.js
  ui/components/MesherySettings.js
  ui/components/UserPreferences/index.js
  ui/pages/settings.js
  ui/pages/user/preferences.js
Labels: component/ui

#13286 meshery dependency version bump
  docs/pages/reference/mesheryctl/test.md
  go.mod
  go.sum
  mesheryctl/doc/cmds.yml
Labels: area/docs, component/mesheryctl

#13292 fix adapter page theme
  ui/components/MesheryPlayComponent.js
Labels: component/ui

#13294 fix: issue of label not visible in the connection status chip
  ui/components/connections/ConnectionChip.js
  ui/components/connections/styles.js
Labels: component/ui

#13271 migrate navigator components to sistent
  ui/assets/icons/ConfigurationIcon.js
  ui/assets/icons/DashboardIcon.js
  ui/components/General/style.js
  ui/components/Navigator.js
Labels: component/ui

#13295 [Chore]: Bump Sistent v0.14.141
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13298 Revert "Bump @rjsf/core from 5.8.1 to 5.24.1 in /ui"
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13299 Revert "migrate navigator components to sistent"
  ui/assets/icons/ConfigurationIcon.js
  ui/assets/icons/DashboardIcon.js
  ui/components/General/style.js
  ui/components/Navigator.js
Labels: component/ui

#13296 Downgrade minikube to 1.33
  .github/workflows/mesheryctl-e2e.yaml
Labels: area/ci

#13265 Replace the CRDS icon with the valid component icons
  server/handlers/meshsync_handler.go
  server/models/meshsync.go
  server/models/meshsync_events.go
  ui/components/DashboardComponent/HoneyComb/HoneyCombComponent.js
  ui/components/DashboardComponent/HoneyComb/useResourceOptions.js
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/resources/config.js
  ui/components/DashboardComponent/resources/crds/config.js
  ui/components/DashboardComponent/resources/resources-sub-menu.js
  ui/components/DashboardComponent/utils.js
  ui/components/DashboardComponent/view.js
Labels: component/ui, component/server

#13301 [Chore]: Bump Sistent v0.14.142
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13250 complete migration of configuration from muiv4 to sistent(v5)
  ui/components/FlipCard.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryPatterns/ActionButton.js
  ui/components/MesheryPatterns/Cards.styles.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPatterns/MesheryPatternGridView.js
  ui/components/MesheryPatterns/style.js
  ui/pages/configuration/designs/index.js
  ui/utils/TooltipButton.js
Labels: component/ui

#13302 [Chore]: Bump Sistent v0.14.143
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13300 fix(ui): handle mesh adapter URL selection and persistence
  ui/components/MeshAdapterConfigComponent.js
Labels: component/ui

#13233 Support for K8s manifest kind list while importing
  server/models/pattern/core/pattern.go
Labels: component/server

#13303 Fix Scroll Issue for Error Code Links, Enhance Table Responsiveness, and Auto-Open Error Code Modal
  docs/_layouts/default.html
  docs/_sass/navbar.scss
  docs/_sass/table.scss
  docs/assets/js/error-code-handler.js
  docs/assets/js/smooth-scroll.js
  docs/pages/reference/error-codes.md
Labels: area/docs

#13291 migrate notification centre to sistent
  ui/components/NotificationCenter/index.js
  ui/components/NotificationCenter/notificationCenter.style.js
Labels: component/ui

#13290 add: endpoints to set and get log levels while server is running
  server/handlers/server_events_configuration_handler.go
  server/helpers/swagger.yaml
  server/models/handlers.go
  server/router/server.go
Labels: component/server

#13222 feat: enhance registry publish cmd to send models to mesheryio
  mesheryctl/internal/cli/root/registry/publish.go
  mesheryctl/pkg/utils/component.go
  mesheryctl/pkg/utils/model.go
  mesheryctl/pkg/utils/registry.go
Labels: component/mesheryctl

#13309 Fix the responsiveness issue for the mobile view
  ui/components/DashboardComponent/style.js
  ui/components/MesheryPlayComponent.js
  ui/pages/_app.js
  ui/themes/app.js
Labels: component/ui

#13316 Remove api version from the meshsync resource data table
  go.mod
  ui/components/DashboardComponent/resources/configuration/config.js
  ui/components/DashboardComponent/resources/namespace/config.js
  ui/components/DashboardComponent/resources/network/config.js
  ui/components/DashboardComponent/resources/nodes/config.js
  ui/components/DashboardComponent/resources/security/config.js
  ui/components/DashboardComponent/resources/storage/config.js
  ui/components/DashboardComponent/resources/workloads/config.js
  ui/components/connections/meshSync/index.js
Labels: component/ui

#13318 [mesheryctl] update models output path
  mesheryctl/pkg/utils/model.go
  mesheryctl/pkg/utils/registry.go
Labels: component/mesheryctl

#13319 [mesheryctl] add layout and item-type frontmatter to models
  mesheryctl/pkg/utils/model.go
Labels: component/mesheryctl

#12082 [Docs] Include Layer5 Release Documents and Meshery Release Lead Role in Build and Release Strategy
  docs/pages/project/contributing/ci-build-and-release.md
Labels: issue/stale, area/docs

#12942 [Docs]: Added guide to setup the development environment in github codespaces
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#12260 [Docs] Added ruby-build installation step for Linux rbenv setup
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#12834 [Docs] Added Instructions to validate Golang-based plugins on Extensibility Page
  docs/pages/extensibility/providers.md
  docs/pages/extensibility/verify-compatibility.md
Labels: area/docs

#13322 fix the issue of e is not a function in node resource catagory page
  ui/utils/k8s-utils.js
Labels: component/ui

#13324 [Server] Fix SA1019 Lint Error by Removing Deprecated KubeProxyVersion
  server/helpers/kubernetes.go
Labels: component/server

#13323 [Server] fix deprecated Docker NetworkListOptions type in adapters_tracker.go
  server/helpers/adapters_tracker.go
Labels: component/server

#13327 fix: golanci-lint failed
  mesheryctl/internal/cli/root/system/start.go
Labels: component/mesheryctl

#13256 Fix: added the correct link for graphql playground in docs
  docs/pages/reference/graphql-api-reference.md
Labels: area/docs

#13330 fix: remoteprovider tab crash issue
  ui/components/ExtensionSandbox.js
Labels: component/ui, component/extensions

#13255 [mesheryctl] Improve `mesheryctl registry generate` command by applying argument check
  mesheryctl/internal/cli/root/registry/generate.go
  mesheryctl/internal/cli/root/registry/publish.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#13331 [Chore]: Bump Sistent v0.14.144
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13043 fix(meshreyctl): design view tests fail
  mesheryctl/internal/cli/root/design/design_test.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl

#13345 [Chore]: Bump Sistent v0.14.145
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13338 [mesheryctl] fix: remove arguments check that break functionality
  mesheryctl/internal/cli/root/registry/generate.go
Labels: kind/bug, component/mesheryctl

#13341 Optimize and enhance matchlabel policy and general evaluation
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/alias_policy.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/evaluation.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/feasibility_evaluation.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/identify_hierarchical_sibling.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/matchlabels-policy.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/utils.rego
Labels: component/server, area/models, opa

#13312 Fixed unwanted top padding on headings
  docs/_includes/toc.html
  docs/_layouts/default.html
  docs/_sass/navbar.scss
  docs/assets/js/smooth-scroll.js
Labels: area/docs, issue/dco

#13124 Fix theme toggle failure on first click in preferences
  ui/components/UserPreferences/index.js
Labels: component/ui

#13351 marking my attendance for the week-of-01-20-2025
  docs/_meetings/week-of-01-20-2025/Divyansh-pratap-singh.md
Labels: area/docs

#13353 add missing imports
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/alias_policy.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/matchlabels-policy.rego
Labels: component/server, area/models

#13211 Added Data Test IDs in components for Playwright E2E Tests Verifications
  ui/components/DatabaseSummary.js
  ui/components/MeshAdapterConfigComponent.js
  ui/components/MesheryMetrics.js
  ui/components/MesherySettings.js
  ui/components/telemetry/grafana/GrafanaConfigComponent.js
  ui/pages/extensions.js
Labels: component/ui

#13363 [Chore]: Bump Sistent v0.14.146
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13366 Migrate some small component and pages from muiv4 to muiv5
  ui/components/CatalogFilter.js
  ui/components/Connect/connections/helm-connect/StepperContent.js
  ui/components/Connect/index.js
  ui/components/Connect/stepper/Stepper.js
  ui/components/Connect/stepper/index.js
  ui/components/DatabaseSummary.js
  ui/components/DuplicatesDataTable.js
  ui/components/ErrorPage.js
  ui/components/ExtensionSandbox.js
  ui/components/GenericModal.js
  ui/components/HeaderMenu.js
  ui/components/MesheryChartDialog.js
  ui/components/MesheryCredentialComponent.js
  ui/components/MesheryProgressBar.js
  ui/components/MesherySettings.js
  ui/components/MesherySettingsPerformanceComponent.js
  ui/components/NodeDetails.js
  ui/components/Popup.js
  ui/components/UserPreferences/index.js
  ui/components/UserPreferences/spaces-preferences.js
  ui/components/UserPreferences/style.js
  ui/components/VerticalCarousel/VerticalCarousel.js
  ui/components/connections/meshSync/index.js
  ui/components/connections/styles.js
  ui/components/load-test-timer-dialog.js
  ui/components/multi-select-wrapper.js
  ui/pages/404.js
  ui/pages/configuration/designs/configurator.js
  ui/pages/connect/[...connection].js
  ui/pages/extension/AccessMesheryModal.js
  ui/pages/extension/[...component].js
  ui/pages/index.js
  ui/pages/management/adapter.js
  ui/pages/management/connections.js
  ui/pages/performance/index.js
  ui/pages/performance/profiles.js
  ui/pages/performance/results.js
  ui/pages/smi_results.js
  ui/pages/system/connections.js
  ui/utils/custom-column.js
  ui/utils/custom-filter.js
  ui/utils/custom-search.js
Labels: component/ui, component/extensions

#13367 Fix some old regression issue of muiv4
  CONTRIBUTING.md
  ui/components/ConnectionWizard/icons/GrafanaIcon.js
  ui/components/ConnectionWizard/icons/KubernetesIcon.js
  ui/components/ConnectionWizard/icons/LinkerdIcon.js
  ui/components/ConnectionWizard/icons/MesheryOperatorIcon.js
  ui/components/ConnectionWizard/icons/OpenServiceMeshIcon.js
  ui/components/ConnectionWizard/icons/PrometheusIcon.js
  ui/components/ConnectionWizard/icons/apps.js
  ui/components/ConnectionWizard/icons/icons.js
  ui/components/GenericModal.js
  ui/components/NotificationCenter/index.js
  ui/components/UserPreferences/style.js
Labels: component/ui

#13369 fix alias relationships
  server/meshmodel/kubernetes/v1.25.2/v1.0.0/relationships/hierarchical-parent-inventory-iicqa.json
  server/meshmodel/kubernetes/v1.31.1/v1.0.0/relationships/hierarchical-parent-inventory-iicqa.json
  server/meshmodel/kubernetes/v1.32.0-alpha.1/v1.0.0/relationships/hierarchical-parent-inventory-iicqa.json
  server/meshmodel/kubernetes/v1.32.0-alpha.2/v1.0.0/relationships/hierarchical-parent-inventory-iicqa.json
  server/meshmodel/kubernetes/v1.32.0-alpha.3/v1.0.0/relationships/hierarchical-parent-inventory-clqmb.json
  server/meshmodel/kubernetes/v1.32.0-alpha.3/v1.0.0/relationships/hierarchical-parent-inventory-dfhgpsbf.json
  server/meshmodel/kubernetes/v1.32.0-alpha.3/v1.0.0/relationships/hierarchical-parent-inventory-iicqa.json
  server/meshmodel/kubernetes/v1.32.0-beta.0/v1.0.0/relationships/hierarchical-parent-inventory-iicqa.json
  server/meshmodel/kubernetes/v1.32.0-rc.0/v1.0.0/relationships/hierarchical-parent-inventory-iicqa.json
  server/meshmodel/kubernetes/v1.32.0-rc.1/v1.0.0/relationships/hierarchical-parent-inventory-iicqa.json
  server/meshmodel/kubernetes/v1.32.0-rc.2/v1.0.0/relationships/hierarchical-parent-inventory-iicqa.json
  server/meshmodel/kubernetes/v1.32.0/v1.0.0/relationships/hierarchical-parent-inventory-iicqa.json
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/utils.rego
Labels: component/server, area/models

#13373 [CI] Chore: Delay Playground Deployment
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#13359 chore: Enhance registry update error displayed to user
  mesheryctl/internal/cli/root/registry/publish.go
Labels: kind/enhancement, component/mesheryctl

#13355 Handle Meshery build workflows no disk space available
  .github/workflows/build-ui-and-server.yml
Labels: area/ci

#13358 [CLI UX]: mesheryctl registry generate invalid JWT token response
  mesheryctl/internal/cli/root/registry/generate.go
Labels: component/mesheryctl

#13379 Migrate navigator sidebar component from muiv4 to muiv5
  ui/assets/icons/ConfigurationIcon.js
  ui/assets/icons/DashboardIcon.js
  ui/components/General/style.js
  ui/components/Navigator.js
  ui/css/disableComponent.styles.js
Labels: component/ui

#13380 migrate dashboard and header component to muiv5/sistent
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/resources/resources-sub-menu.js
  ui/components/DashboardComponent/resources/resources-table.js
  ui/components/DashboardComponent/resources/sortable-table-cell.js
  ui/components/DashboardComponent/view.js
  ui/components/Header.js
  ui/components/Header.styles.js
  ui/components/HeaderMenu.js
  ui/components/User.js
  ui/components/connections/meshSync/index.js
Labels: component/ui

#13360 Migrate Notification components to MUI v5 and align with Layer5 Sistent design system
  ui/components/General/style.js
  ui/components/NotificationCenter/index.js
  ui/components/NotificationCenter/notification.js
  ui/components/NotificationCenter/notificationCenter.style.js
  ui/components/TypingFilter/index.js
  ui/components/TypingFilter/style.js
  ui/utils/hooks/useNotification.js
Labels: component/ui

#13381 Performance(1/3)- migrate performace card section to sistent
  ui/components/MesheryPerformance/PerformanceCard.js
  ui/components/MesheryPerformance/style.js
Labels: component/ui

#13382 Performance(2/4)-migrate performance result section to sistent
  ui/components/MesheryPerformance/PerformanceProfileGrid.js
  ui/components/MesheryPerformance/PerformanceResults.js
  ui/components/MesheryPerformance/style.js
Labels: component/ui

#13148 [UI] Fix: Remove unwanted dot from select menu carets in Settings.
  ui/components/ReactSelectWrapper.js
Labels: component/ui

#13383 Migrate registry page to muiv4 to sistent/muiv5
  ui/components/ConnectionWizard/helpers/common.js
  ui/components/MeshModelRegistry/MeshModel.style.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
  ui/components/MeshModelRegistry/StyledTreeItem.js
  ui/components/Modals/ImportModal.js
  ui/components/Modals/Information/InfoModal.js
  ui/components/Modals/Information/styles.js
  ui/components/SpacesSwitcher/SpaceSwitcher.js
  ui/components/connections/styles.js
Labels: component/ui

#13384 remove smi performance page and it's related component
  ui/components/MesherySMIResults.js
  ui/pages/smi_results.js
Labels: component/ui
