Repository meshery/meshery, pull requests merged in 2025-09, with the labels that each got.

#15723 [docs] chore: add mehsync deployment mode description to meshsync doc
  docs/pages/concepts/architectural/meshsync.md
Labels: area/docs

#15768 Create rishi.md
  docs/_meetings/2025/week-of-09-01-2025/rishi.md
Labels: area/docs

#15755 fix(mesheryctl-e2e): remove quote in Makefile variable assignation
  mesheryctl/Makefile
Labels: component/mesheryctl

#15767 Ahmed-Hodhod Attendance
  docs/_meetings/2025/week-of-09-01-2025/AhmedHodhod.md
Labels: area/docs

#15762 Create Rajesh Nagarajan attendance
  docs/_meetings/2025/week-of-09-01-2025/rajesh-nagarajan-attendance.md
Labels: area/docs

#15760 Abdelsalam first Pr
  docs/_meetings/2025/week-of-09-01-2025/Abdelsalam.md
Labels: area/docs

#15778 [server] chore: enhance logs
  server/cmd/main.go
Labels: component/server

#15788 Refactor Slack notifications in workflow
  .github/workflows/slack.yml
Labels: area/ci

#15730 Update playground and staging-playground servers
  .github/workflows/cncf-playground-deploy-meshery.yaml
  .github/workflows/cncf-staging-playground-deploy-meshery.yaml
Labels: area/ci

#15819 [docs] [helm] chore: add description of env.MESHSYNC_DEFAULT_DEPLOYMENT_MODE to meshery operator readme
  install/kubernetes/helm/meshery/README.md
Labels: framework/helm, kubernetes

#15829 [mesheryctl] chore: remove unused path from system check operator
  mesheryctl/internal/cli/root/system/check.go
Labels: component/mesheryctl

#15824 Fix Meshery Helm Chart installation commands
  install/kubernetes/helm/meshery/README.md
Labels: component/ui, framework/helm, kubernetes

#15852 Attendance [Week 2025-14-09]
  docs/_meetings/2025/week-of-2025-14-09/vasudevchavan.md
Labels: area/docs

#15850 Mark attendence for Naik Mubashir
  docs/_meetings/2025/week-of-2025-14-09/naik_mubashir.md
Labels: area/docs

#15848 Marked Attendence
  docs/_meetings/2025/week-of-2025-14-09/YashKumarGupta.md
Labels: area/docs

#15847 Marking my attendance Nouran Atef
  docs/_meetings/2025/week-of-2025-14-09/Nouran Atef
Labels: area/docs

#15846 Create fatma_hashem.mdx
  docs/_meetings/2025/week-of-2025-14-09/fatma_hashem.mdx
Labels: area/docs

#15845 Add attendance note for Rajesh Nagarajan
  docs/_meetings/2025/week-of-2025-14-09/Rajesh-nagarajan-attendance.md
Labels: area/docs

#15844 Create aryanshah.mdx
  docs/_meetings/2025/week-of-2025-14-09/aryanshah.mdx
Labels: area/docs

#15881 Create week-of-09-14-2025
  docs/_meetings/2025/week-of-09-14-2025
Labels: area/docs

#15882 Create index.md
  docs/_meetings/2025/week-of-09-22-2025/index.md
Labels: area/docs

#15875 Updated templates with relevant links and added new issue template for hacktoberfest
  .github/ISSUE_TEMPLATE/ci.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/fbug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/meshery-catalog.md
  .github/ISSUE_TEMPLATE/meshery-ui_bug.md
  .github/ISSUE_TEMPLATE/meshery-ui_feature.md
  .github/ISSUE_TEMPLATE/mesheryctl_bug.md
  .github/ISSUE_TEMPLATE/mesheryctl_feature.md
  .github/ISSUE_TEMPLATE/models.md
  .github/ISSUE_TEMPLATE/playground.md
Labels: area/ci

#15897 Create Saiyam-kumar.md
  docs/_meetings/2025/week-of-09-22-2025/Saiyam-kumar.md
Labels: area/docs

#15892 Create Ahmed_Samaila.md
  docs/_meetings/2025/week-of-09-22-2025/Ahmed_Samaila.md
Labels: area/docs

#15899 Create Yuvraj Singh Chauhan
  docs/_meetings/2025/week-of-09-22-2025/Yuvraj Singh Chauhan
Labels: area/docs

#15885 Create week-of-09-22-20
  docs/_meetings/2025/week-of-09-22-20
Labels: area/docs

#15886 Create KrishnanRaghavan
  docs/_meetings/2025/week-of-09-22-2025/KrishnanRaghavan
Labels: area/docs
