Repository meshery/meshery, pull requests merged in 2025-03, with the labels that each got.

#13834 fix broken references to /extensions/snapshot
  docs/pages/extensions/kanvas-snapshot/index.md
Labels: area/docs

#13838 [Fix]:Codemirror full screen Fixed on Designs and Filters page in tabular view
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
Labels: component/ui

#13845 fix: reset database table pagination not working issue
  ui/components/DatabaseSummary.js
Labels: component/ui

#13846 fix: responsive issue in setting registry page
  ui/assets/styles/general/tool.styles.js
Labels: component/ui

#13850 chore: add link to meshkit errors guide link for meshery issue/bug templates
  .github/ISSUE_TEMPLATE/mesheryctl_bug.md
  .github/ISSUE_TEMPLATE/mesheryctl_feature.md
Labels: area/ci

#13839 Fix all issue with the connection page
  docs/pages/project/contributing/contributing-ui-sistent.md
  ui/components/DashboardComponent/widgets/MyDesignsWidget.js
  ui/components/Header.js
  ui/components/Header.styles.js
  ui/components/HeaderMenu.js
  ui/components/Lifecycle/Workspaces/workspace-table.js
  ui/components/SpacesSwitcher/SpaceSwitcher.js
  ui/components/connections/ConnectionChip.js
  ui/components/connections/ConnectionTable.js
  ui/components/connections/index.js
  ui/components/connections/meshSync/index.js
  ui/components/connections/metadata.js
  ui/components/connections/styles.js
  ui/pages/management/connections.js
  ui/themes/configurationTableTheme.js
Labels: area/docs, component/ui

#13852 fix: connection state management for the table
  ui/components/MesherySettingsEnvButtons.js
  ui/components/connections/ConnectionTable.js
  ui/rtk-query/connection.js
Labels: component/ui

#13856 [Chore]: Bump Sistent v0.14.161
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13863 fix: lint for test failing
  ui/tests/e2e/connections.spec.js
Labels: component/ui, tests

#13854 Update MAINTAINERS: Yash Sharma affiliation
  .github/workflows/eslint-gh.yml
  MAINTAINERS.md
Labels: area/ci

#13862 remove border radius from all of the buttons
  ui/components/ConfirmationModal.js
  ui/components/General/error-404/styles.js
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Environments/styles.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/MesheryPatterns/ActionButton.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPerformance/Dashboard.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesherySettingsEnvButtons.js
  ui/components/Modals/Information/InfoModal.js
  ui/components/Popup.js
  ui/components/connections/meshSync/Stepper/Notification.js
Labels: component/ui

#13874 Revert "remove border radius from all of the buttons"
  ui/components/ConfirmationModal.js
  ui/components/General/error-404/styles.js
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Environments/styles.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/MesheryPatterns/ActionButton.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPerformance/Dashboard.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesherySettingsEnvButtons.js
  ui/components/Modals/Information/InfoModal.js
  ui/components/Popup.js
  ui/components/connections/meshSync/Stepper/Notification.js
Labels: component/ui

#13813 Refactor import/export design documentation: removed duplicate pages …
  docs/assets/img/applications/ImportDesign.png
  docs/assets/img/applications/Menu.png
  docs/assets/img/kanvas/application-tab.png
  docs/assets/img/kanvas/apps-modal.png
  docs/pages/extensions/kanvas/import-export-designs.md
  docs/pages/extensions/kanvas/importing-application.md
  docs/pages/extensions/kanvas/importing-design.md
  docs/pages/guides/configuration-management/importing-designs.md
Labels: area/docs

#13887 Remove intermediate category selection page from registry
  ui/assets/styles/general/tool.styles.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
Labels: component/ui

#13891 chore: mark-aviral-jain-attendance-for-the-week-of-03-03-2025
  docs/_meetings/week-of-03-03-2025/aviral-jain.md
Labels: area/docs

#13889 chore: mark-my-attendance-for-the-week-of-03-03-2025
  docs/_meetings/week-of-03-03-2025/vivek-vishal.md
Labels: area/docs

#13892 chore: mark-hatif-osmani-attendance-for-the-week-of-03-03-2025
  docs/_meetings/week-of-03-03-2025/hatif-osmani.md
Labels: area/docs

#13893 chore: mark-my-attendance-for-the-week-of-03-03-2025
  docs/_meetings/week-of-03-03-2025/vedmohan.md
Labels: area/docs

#13894 chore: mark-my-attendance-for-the-week-of-03-03-2025
  docs/_meetings/week-of-03-03-2025/shraddha-sharma.md
Labels: area/docs

#13895 Create uduak-umanah.md
  docs/_meetings/week-of-03-03-2025/uduak-umanah.md
Labels: area/docs

#13896 chore: mark-my-attendance-for-the-week-of-03-03-2025
  docs/_meetings/week-of-03-03-2025/uduak.umanah.md
Labels: area/docs

#13897 [chore]: newcomers attendance: 06-03-2025
  docs/_meetings/week-of-03-03-2025/oyefule-oluwatayo.md
Labels: area/docs

#13890 chore: Chien-Peng-my-attendance-for-the-week-of-03-03-2025 .md
  docs/_meetings/week-of-03-03-2025/Chien-Peng.md
Labels: area/docs

#13902 chore: mark-my-attendance-for-the-week-of-03-03-2025
  docs/_meetings/week-of-03-03-2025/gaurang-aswal.md
Labels: area/docs

#13900 Attendance for the newcomers meeting - week of 03-03-2025 - pratul-muthuraja.md
  docs/_meetings/week-of-03-03-2025/pratul-muthuraja.md
Labels: area/docs

#13899 chore: mark-my-attendance-for-the-week-of-03-03-2025
  docs/_meetings/week-of-03-03-2025/deepanshu-yadav.md
Labels: area/docs

#13898 chore: mark-my-attendance-for-the-week-of-03-03-2025
  docs/_meetings/week-of-03-03-2025/maninder-singh.md
Labels: area/docs

#13888 feat: updated custom playwright reporter
  ui/tests/e2e/custom-playwright-reporter.js
  ui/tests/e2e/reporterSummary.md
Labels: component/ui, tests

#13875 [UI] Replaced the design logo Dot with the Pencil icon
  ui/assets/icons/PatternConfigure.js
Labels: component/ui

#13830 Fix : Replace FontAwesome icons with Sistent icons
  server/meshmodel/aws-cloudfront-controller/v1.0.8/v1.0.0/model.json
  ui/components/General/style.js
  ui/components/MesherySettings.js
  ui/components/Navigator.js
  ui/components/UserPreferences/index.js
  ui/package-lock.json
  ui/package.json
Labels: component/ui, component/server, area/models

#13907 marking my attendance for the week of 03-03-2025
  docs/_meetings/week-of-03-03-2025/abie-anders.md
Labels: area/docs

#13906 Attended new comers meeting 06-03-25
  docs/_meetings/week-of-03-03-2025/HARSH-SEN.md
Labels: area/docs

#13885 add relationship trace formatter
  ui/components/NotificationCenter/formatters/relationship_evaluation.js
Labels: component/ui

#13911 fix: mesheryctl replace deprecated cobra command
  Makefile
  mesheryctl/internal/cli/root/adapter/deploy_test.go
  mesheryctl/internal/cli/root/adapter/remove_test.go
  mesheryctl/internal/cli/root/design/apply_test.go
  mesheryctl/internal/cli/root/design/delete_test.go
  mesheryctl/internal/cli/root/design/design_test.go
  mesheryctl/internal/cli/root/design/list_test.go
  mesheryctl/internal/cli/root/design/offboard_test.go
  mesheryctl/internal/cli/root/design/onboard_test.go
  mesheryctl/internal/cli/root/design/view_test.go
  mesheryctl/internal/cli/root/filter/delete_test.go
  mesheryctl/internal/cli/root/filter/filter_test.go
  mesheryctl/internal/cli/root/filter/list_test.go
  mesheryctl/internal/cli/root/filter/view_test.go
  mesheryctl/internal/cli/root/perf/apply_test.go
  mesheryctl/internal/cli/root/perf/profile_test.go
  mesheryctl/internal/cli/root/perf/result_test.go
  mesheryctl/internal/cli/root/relationships/generate_test.go
  mesheryctl/internal/cli/root/relationships/list_test.go
  mesheryctl/internal/cli/root/relationships/search_test.go
  mesheryctl/internal/cli/root/relationships/view_test.go
  provider-ui/package-lock.json
  provider-ui/package.json
  ui/tests/e2e/custom-playwright-reporter.js
Labels: component/mesheryctl, area/ci, component/ui, tests

#13763 feat: mesheryctl e2e bats
  .github/workflows/mesheryctl-e2e.yaml
  mesheryctl/tests/e2e/000-prerequisites/00-cli.bats
  mesheryctl/tests/e2e/000-prerequisites/00-config.bats
  mesheryctl/tests/e2e/000-prerequisites/00-servert.bats
  mesheryctl/tests/e2e/001-system/00-check.bats
  mesheryctl/tests/e2e/002-model/00-model.bats
  mesheryctl/tests/e2e/002-model/01-model-list.bats
  mesheryctl/tests/e2e/run_tests.bash
  mesheryctl/tests/e2e/setup_suite.bash
  mesheryctl/tests/e2e/teardown_suite.bash
  ui/components/NotificationCenter/formatters/relationship_evaluation.js
Labels: component/mesheryctl, area/ci, component/ui

#13884 [mesheryctl] Fix for `system reset`
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/platform.go
  mesheryctl/pkg/utils/platform_test.go
  ui/components/NotificationCenter/formatters/relationship_evaluation.js
Labels: component/mesheryctl, component/ui

#13914 [Chore]: Bump Sistent v0.14.164
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13903 Enhance model import modal and model generate wizard
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/Stepper/CSVStepper.js
  ui/components/MeshModelRegistry/Stepper/UrlStepper.js
  ui/components/MeshModelRegistry/Stepper/data.js
  ui/components/Modal.js
  ui/constants/endpoints.js
Labels: component/ui, tests

#13609 [Server] enhance error logs for non-OCI artifacts, empty models and invalid schema in model import
  go.mod
  go.sum
  mesheryctl/internal/cli/root/model/import.go
  server/handlers/component_generator_helper.go
Labels: component/mesheryctl, pr/do-not-merge, component/server

#13613 Refactored design conversion to use files package from meshkit
  server/handlers/design_import.go
  server/handlers/meshery_pattern_handler.go
Labels: kind/bug, kind/enhancement, component/server

#13926 Enhance Relationship formatter and refactor event formatter organization
  ui/components/NotificationCenter/constants.js
  ui/components/NotificationCenter/formatters/common.js
  ui/components/NotificationCenter/formatters/error.js
  ui/components/NotificationCenter/formatters/model_registration.js
  ui/components/NotificationCenter/formatters/pattern_dryrun.js
  ui/components/NotificationCenter/formatters/relationship_evaluation.js
  ui/components/NotificationCenter/metadata.js
  ui/components/NotificationCenter/notification.js
Labels: component/ui

#13913 Create Rwngshar-islari
  docs/_meetings/week-of-03-03-2025/Rwngshar-islari
Labels: area/docs

#13919 [Fix]: Canvas Popup Fixed
  ui/components/Popup.js
Labels: component/ui

#13928 fix: golangci lint fails after PR merge
  go.sum
  server/handlers/utils.go
Labels: component/server

#13932 Create sanjana-ynvsdl.md
  docs/_meetings/week-of-03-03-2025/sanjana-ynvsdl.md
Labels: area/docs

#13945 chore: bump xstate/react
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13933 [UI] Removed deprecated stacked option in mui-datatables
  ui/components/telemetry/grafana/GrafanaDisplaySelection.js
Labels: component/ui

#12835 Specified Kubernetes Context in Logs
  mesheryctl/internal/cli/root/system/logs.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/helpers_test.go
Labels: component/mesheryctl

#13957 [Chore]: Bump Sistent v0.14.166
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13962 Remove ui build warnings
  ui/components/connections/meshSync/index.js
Labels: component/ui

#13972 [UI] Fix finish button for CSV model import wizard
  ui/components/MeshModelRegistry/Stepper/CSVStepper.js
Labels: component/ui

#13980 update link to snapshot service
  docs/pages/concepts/logical/designs.md
  docs/v0.7/concepts/logical/designs.html
Labels: area/docs

#13984 Update osm-past-results.md
  docs/pages/project/compatibility_matrix/osm-past-results.md
Labels: area/docs

#13985 Update nginx-past-results.md
  docs/pages/project/compatibility_matrix/nginx-past-results.md
Labels: area/docs

#13987 Update istio-past-results.md
  docs/pages/project/compatibility_matrix/istio-past-results.md
Labels: area/docs

#13986 Update kuma-past-results.md
  docs/pages/project/compatibility_matrix/kuma-past-results.md
Labels: area/docs

#13990 Update consul-past-results.md
  docs/pages/project/compatibility_matrix/consul-past-results.md
Labels: area/docs

#13991 Update compatibility.md
  docs/pages/project/compatibility_matrix/compatibility.md
Labels: area/docs

#13993 Delete docs/_releases/v0.8.45.md
  docs/_releases/v0.8.45.md
Labels: area/docs

#13994 Delete docs/_releases/v0.7.96.md
  docs/_releases/v0.7.96.md
Labels: area/docs

#13995 Delete docs/_releases/v0.7.97.md
  docs/_releases/v0.7.97.md
Labels: area/docs

#13997 Delete docs/_releases/v0.7.2.1.md
  docs/_releases/v0.7.2.1.md
Labels: area/docs

#13996 Update graphql-api-reference.md
  docs/pages/reference/graphql-api-reference.md
Labels: area/docs

#13971 [Chore] [Docs] Enhance Error Code details.
  server/handlers/component_handler.go
  server/handlers/error.go
  server/models/error.go
  server/models/remote_auth.go
  server/models/remote_provider.go
Labels: component/server

#13970 [Docs] Add YouTube icon and link to Meshery documentation footer
  docs/_includes/footer.html
  docs/_sass/footer.scss
Labels: area/docs, component/ui

#13883 [UI] Responsively converted Actions into an ellipsis (…) icon with a popover menu
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/ActionPopover.js
Labels: component/ui

#13918 [GrafanaMetricsCompare.js] Refactored GrafanaMetricsCompare to a functional component
  ui/components/telemetry/grafana/GrafanaMetricsCompare.js
Labels: component/ui

#13999 Fix broken links and update redirect paths
  docs/pages/concepts/logical/credentials.md
  docs/pages/guides/infrastructure-management/infrastructure-management.md
Labels: area/docs

#14005 Remove redundant docs contributing instructions.
  docs/README.md
Labels: area/docs

#14010 Fix undeploy
  server/handlers/design_engine_handler.go
  ui/components/DesignLifeCycle/DeploymentSummary.js
Labels: component/ui, component/server

#14012 mkdir week of 03-10-2025
  docs/_meetings/week-of-03-10-2025/.gitkeep
Labels: area/docs

#14006 docs: add mesheryctl e2e contribution guideline
  docs/_data/toc.yml
  docs/pages/project/contributing/contributing-cli-tests.md
  docs/pages/project/contributing/contributing-cli.md
  docs/pages/project/contributing/contributing.md
  mesheryctl/tests/e2e/README.md
Labels: area/docs, component/mesheryctl

#14016 Create MohammedShuraihShaikh.md
  docs/_meetings/week-of-03-10-2025/MohammedShuraihShaikh.md
Labels: area/docs

#14019 Create Shivprasad.md
  docs/_meetings/week-of-03-10-2025/Shivprasad.md
Labels: area/docs

#14017 Marked Attendance (Created baibhav.md)
  docs/_meetings/week-of-03-10-2025/baibhav.md
Labels: area/docs

#13982 [Docs] Audience, high-Level outline & information architecture for Meshery Documentation
  docs/pages/project/contributing/contributing-docs-structure.md
Labels: area/docs

#14022 Restore Documentation Structure Refinement PR (Recovering #14021 & #13982)
  docs/_data/toc.yml
  docs/pages/project/contributing/contributing-docs-structure.md
Labels: area/docs

#14032 use correct id for import model by file
  ui/components/MeshModelRegistry/MeshModelComponent.js
Labels: component/ui

#13833 [mesheryctl] 13831: fix environment view orgID param
  mesheryctl/internal/cli/root/environments/create.go
  mesheryctl/internal/cli/root/environments/environment.go
  mesheryctl/internal/cli/root/environments/list.go
  mesheryctl/internal/cli/root/environments/view.go
Labels: component/mesheryctl

#14037 chore: fix eslint for deployment summary
  ui/components/DesignLifeCycle/DeploymentSummary.js
Labels: component/ui

#14033 chore: add make e2e command
  mesheryctl/Makefile
  mesheryctl/tests/e2e/000-prerequisites/00-config.bats
  mesheryctl/tests/e2e/000-prerequisites/00-servert.bats
  mesheryctl/tests/e2e/001-system/00-check.bats
  mesheryctl/tests/e2e/helpers/.gitignore
Labels: component/mesheryctl, area/tests

#14025 update schema imports
  go.mod
  go.sum
  server/handlers/policy_relationship_handler.go
Labels: component/server

#14008 Enhance meshsync table by adding sorting and filtering
  server/handlers/meshsync_handler.go
  ui/components/connections/meshSync/index.js
  ui/rtk-query/meshsync.js
Labels: component/ui, component/server

#14024 Create PrinceOnukwili.md
  docs/_meetings/week-of-03-10-2025/PrinceOnukwili.md
Labels: area/docs

#14023 chores: add Akash_Banik Introduction
  docs/_meetings/week-of-03-10-2025/Akash_Banik.md
Labels: area/docs

#14018 Shoaib_samim_first_PR
  docs/_meetings/week-of-03-10-2025/shoaibsamim.md
Labels: area/docs

#14052 Add component generation step in the model generate wizard
  mesheryctl/pkg/utils/component.go
  server/handlers/component_generator_helper.go
  server/handlers/component_handler.go
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/Stepper/ComponentStep.js
  ui/components/MeshModelRegistry/Stepper/UrlStepper.js
  ui/components/MeshModelRegistry/Stepper/styles.js
  ui/package-lock.json
  ui/package.json
Labels: component/mesheryctl, component/ui, pr/do-not-merge, component/server

#14045 [mod-mesheryctl-e2e]: Implemented helper script to run end-to-end tests locally
  mesheryctl/tests/e2e/run_tests_local.sh
Labels: component/mesheryctl

#14028 [docs] update instructions on running bats e2e tests locally
  docs/pages/project/contributing/contributing-cli-tests.md
Labels: area/docs

#14058 update dashboard icons color
  ui/components/DashboardComponent/charts/KubernetesConnectionChart.js
  ui/components/DashboardComponent/widgets/HelpCenterWidget.js
  ui/components/DashboardComponent/widgets/MyDesignsWidget.js
Labels: component/ui

#13734 [mesheryctl][meshkit] Refactor and move registry utility functions to meshkit
  go.mod
  mesheryctl/internal/cli/root/model/generate.go
  mesheryctl/internal/cli/root/registry/generate.go
  mesheryctl/internal/cli/root/registry/publish.go
  mesheryctl/internal/cli/root/registry/registry.go
  mesheryctl/internal/cli/root/registry/update.go
  mesheryctl/pkg/utils/component.go
  mesheryctl/pkg/utils/error.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/model.go
  mesheryctl/pkg/utils/registry.go
  mesheryctl/pkg/utils/relationship.go
  mesheryctl/pkg/utils/spreadsheet_update.go
  server/handlers/component_generator_helper.go
  server/handlers/component_handler.go
Labels: component/mesheryctl, component/server

#14034 refactor: mesheryctl model command
  mesheryctl/helpers/component_info.json
  mesheryctl/internal/cli/root/model/error.go
  mesheryctl/internal/cli/root/model/export.go
  mesheryctl/internal/cli/root/model/generate.go
  mesheryctl/internal/cli/root/model/import.go
  mesheryctl/internal/cli/root/model/list.go
  mesheryctl/internal/cli/root/model/model.go
  mesheryctl/internal/cli/root/model/search.go
  mesheryctl/internal/cli/root/model/view.go
  server/handlers/component_handler.go
Labels: component/mesheryctl, component/server

#14065 Adding Privateer files for security scan
  .github/pvtr-config.yml
  .github/security-insights.yml
  .github/workflows/osps-baseline.yml
Labels: area/ci

#14066 [mesheryctl] fix: spelling in model command examples and run go mod tidy
  go.mod
  mesheryctl/internal/cli/root/model/model.go
Labels: component/mesheryctl

#13372 [Docs] remove `mesheryctl system config` for in-cluster Meshery on EKS
  docs/pages/installation/eks.md
Labels: area/docs

#14071 [Chore]: Bump Sistent v0.14.167
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#14027 feat: refactored bats setup
  mesheryctl/tests/e2e/000-prerequisites/00-cli.bats
Labels: component/mesheryctl

#14069 chore: fix broken link for cli reference design export
  .github/workflows/build-and-preview-site.yml
  docs/_data/mesheryctlcommands/cmds.yml
  mesheryctl/internal/cli/root/design/design.go
  mesheryctl/internal/cli/root/design/export.go
Labels: area/docs, component/mesheryctl, area/ci

#14070 [fix]: added variables for dependencies and more documentation for local e2e tests
  docs/pages/project/contributing/contributing-cli-tests.md
  mesheryctl/tests/e2e/run_tests_local.sh
Labels: area/docs, component/mesheryctl

#14102 feat: updated testing policy
  docs/pages/project/contributing/contributing-ui-tests.md
Labels: area/docs

#14103 Update mesheryctl-e2e.yaml workflow to use ubuntu-24.04 runner
  .github/workflows/mesheryctl-e2e.yaml
Labels: area/ci

#14108 [mesheryctl] bug fix for 00-config.bats
  mesheryctl/tests/e2e/000-prerequisites/00-config.bats
Labels: component/mesheryctl

#14100 rename Upload Timestamp and Update Timestamp columns
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
Labels: component/ui

#14112 Enhancement in registry code and fix registry search
  ui/components/MeshModelRegistry/ComponentTree.js
  ui/components/MeshModelRegistry/CreateModelModal.js
  ui/components/MeshModelRegistry/ImportModel.js
  ui/components/MeshModelRegistry/ImportModelModal.js
  ui/components/MeshModelRegistry/MeshModel.style.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
  ui/components/MeshModelRegistry/MesheryTreeViewItem.js
  ui/components/MeshModelRegistry/MesheryTreeViewModel.js
  ui/components/MeshModelRegistry/MesheryTreeViewRegistrants.js
  ui/components/MeshModelRegistry/RelationshipTree.js
  ui/components/MeshModelRegistry/Stepper/CSVStepper.js
  ui/components/MeshModelRegistry/Stepper/UrlStepper.js
  ui/components/MeshModelRegistry/StyledTreeItem.js
  ui/components/MeshModelRegistry/VersionedModelComponentTree.js
  ui/components/MeshModelRegistry/VersionedModelRelationshipTree.js
  ui/components/MeshModelRegistry/hooks.js
  ui/components/Modals/Information/InfoModal.js
  ui/components/NavigatorExtension.js
Labels: component/ui

#14115 [Chore]: Bump Sistent v0.14.168
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13815 feat: removed env deps in indexui spec
  ui/playwright.config.js
  ui/tests/e2e/indexui.spec.js
Labels: component/ui, tests

#14123 Displaced Service Mesh field with Technology field.
  ui/components/MesheryPerformance/index.js
Labels: component/ui

#14125 Fix: Registry page tabs routing is missing
  ui/components/MeshModelRegistry/MeshModelComponent.js
Labels: component/ui

#13923 feat: updated playwright reporter
  ui/tests/e2e/custom-playwright-reporter.js
  ui/tests/e2e/reporterSummary.md
Labels: component/ui, tests

#13944 feat: added jekyll test report update gh action
  .github/workflows/update-jekyll-e2e-tests-results.yml
Labels: area/ci

#14135 Dockerfile Fix
  install/docker/Dockerfile
  install/docker/testing/Dockerfile
Labels: area/docs, component/mesheryctl, issue/dco, docker

#14130 [Docs] Fixed Markdown and Code Block Formatting in Contributing to UI - Sistent
  docs/pages/project/contributing/contributing-ui-sistent.md
Labels: area/docs

#14097 Adding performance tests again
  ui/tests/e2e/performance.spec.js
Labels: component/ui, tests

#14145 mark-my-attendance-for-the-week-of-03-24-2025
  docs/_meetings/week-of-03-24-2025/Dhiraj-Kadam.md
Labels: area/docs

#14141 Attendance-for-week-03/27/2025
  docs/_meetings/week-of-03-24-2025/Lakshya.md
Labels: area/docs

#14140 mark-my-attendance-for-the-week-of-03-24-2025
  docs/_meetings/week-of-03-24-2025/souradip.py
Labels: area/docs

#14151 docs: add test implementation section in cli e2e contribution guide
  go.sum
Labels: area/docs

#14147 Fix: Make a connection chip smaller for the smaller devices
  ui/components/connections/styles.js
Labels: component/ui

#14129 [UI] Removed unnecessary logs
  ui/components/DesignLifeCycle/DryRun.js
  ui/components/DesignLifeCycle/ValidateDesign.js
  ui/components/Filters.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/index.js
  ui/lib/store.js
  ui/machines/operationsCenter.js
  ui/machines/validator/schemaValidatorWorker.js
  ui/themes/hooks.js
  ui/utils/k8s-utils.js
  ui/utils/utils.js
Labels: component/ui

#14156 remove polygon meshery shapes component
  server/meshmodel/meshery-shapes/0.7.1/v1.0.0/components/Polygon.json
  server/meshmodel/meshery-shapes/0.7.2/v1.0.0/components/Polygon.json
Labels: component/server, area/models

#13835 fix: dry run errors not showing up
  server/handlers/design_engine_handler.go
  server/models/pattern/patterns/k8s/k8s.go
Labels: component/server

#14154 Mark my attendence
  docs/_meetings/week-of-03-24-2025/baivab.go
Labels: area/docs

#14155 mark-my-attendace-for-the-week-03-24-2025
  docs/_meetings/week-of-03-24-2025/rushikesh-mane.yaml
Labels: area/docs

#13955 Update publishing workflow documentation and images
  docs/assets/img/kanvas/Publishing-flow.svg
  docs/assets/img/kanvas/approval-queue.png
  docs/assets/img/kanvas/designs-select-design.png
  docs/assets/img/kanvas/designs-select-sidebar.png
  docs/assets/img/kanvas/publish-form.png
  docs/assets/img/kanvas/publish-modal.png
  docs/pages/extensions/kanvas/publishing-a-design.md
Labels: area/docs

#14153 feat: enable e2e test gh action on master push
  .github/workflows/build-ui-and-server.yml
Labels: area/ci

#13937 Added Related Tutorials section to Integrations pages
  docs/_layouts/integration.html
  docs/_sass/elements.scss
Labels: area/docs

#14133 [mesheryctl] ci e2e bats improvment
  .github/workflows/mesheryctl-e2e.yaml
  mesheryctl/Makefile
  mesheryctl/tests/e2e/000-prerequisites/00-servert.bats
  mesheryctl/tests/e2e/helpers/tests_helpers.bash
  mesheryctl/tests/e2e/run_tests.bash
  mesheryctl/tests/e2e/setup_suite.bash
  mesheryctl/tests/e2e/teardown_suite.bash
Labels: component/mesheryctl, area/ci, framework/bats, bash

#14180 [Chore]: Bump Sistent v0.14.169
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#14170 fix: jekyll docs update
  .github/workflows/update-jekyll-e2e-tests-results.yml
Labels: area/ci

#14174 Typo-error in docs
  docs/pages/project/contributing/contributing-cli-tests.md
Labels: area/docs

#14185 fix(mesheryctl-e2e): create BATS libs folder if not existing
  mesheryctl/Makefile
  mesheryctl/tests/e2e/helpers/tests_helpers.bash
Labels: component/mesheryctl

#14194 update meshsync and meshkit
  go.mod
  go.sum
  server/handlers/component_generator_helper.go
  server/machines/helpers/auto_register.go
Labels: component/server
