Repository meshery/meshery, pull requests merged in 2025-06, with the labels that each got.

#14892 form update
  README.md
  docs/_includes/member-form.html
  docs/pages/project/community.md
  docs/pages/project/contributing/contributing-ui.md
  docs/pages/project/contributing/contributing.md
  docs/v0.5/es/project/contributing.html
  docs/v0.5/project/community.html
  docs/v0.5/project/contributing.html
  docs/v0.5/project/contributing/contributing-ui.html
  docs/v0.6/project/community.html
  docs/v0.6/project/contributing.html
  docs/v0.6/project/contributing/contributing-cli.html
  docs/v0.6/project/contributing/contributing-ui.html
  docs/v0.7/project/community.html
  docs/v0.7/project/contributing.html
  docs/v0.7/project/contributing/contributing-cli.html
  docs/v0.7/project/contributing/contributing-ui.html
Labels: area/docs

#14894 fix: validationr results getting cutoff
  ui/components/DesignLifeCycle/styles.js
Labels: component/ui

#14896 Update contributing-ui-sistent.md
  docs/pages/project/contributing/contributing-ui-sistent.md
Labels: area/docs

#14907 [UI] Chore: Package upgrades
  provider-ui/package-lock.json
  provider-ui/package.json
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#14903 Update Enum.js: Clarification of extension point
  ui/utils/Enum.js
Labels: component/ui

#14901 Update Makefile.core.mk: Remote provider entries for EQUINIX_DEV
  install/Makefile.core.mk
Labels: area/lifecycle

#14910 change designs ref to meshery.io cloud
  docs/_layouts/integration.html
Labels: area/docs

#14911 change designs ref from cloud to meshery.io
  docs/_layouts/integration.html
Labels: area/docs

#14918 rename remote provider
  docs/_data/mesheryctlcommands/cmds.yml
  docs/_data/mesheryctlcommands/es_cmds.yml
  docs/pages/reference/rest-api-reference.md
  install/Makefile.core.mk
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  install/docker-extension/ui/src/components/utils/constants.js
  install/docker-extension/ui/src/utils.js
  install/playground/docker/docker-compose.yaml
Labels: area/docs, area/lifecycle, component/extensions, playground

#14919 [Docs] Chore: remove duplicate extension doc page
  docs/_data/toc.yml
  docs/pages/extensions/kanvas/merging-a-design.md
  docs/pages/extensions/kanvas/publishing-a-design.md
  docs/pages/extensions/kanvas/sharing-a-design.md
  docs/pages/extensions/kanvas/tags-set.md
Labels: area/docs

#14927 fix: remote provider flow
  ui/tests/e2e/auth.setup.js
Labels: component/ui, area/tests

#14964 Create neha_dhruw
  docs/_meetings/week-of-06-02-2025/neha_dhruw
Labels: area/docs

#14956 Create GIFTBENSON
  docs/_meetings/week-of-06-02-2025/GIFTBENSON
Labels: area/docs

#14961 Marking my attendance for newcomers meeting for June 5, 2025
  docs/_meetings/week-of-06-02-2025/ritesh-karankal.md
Labels: area/docs

#14959 Marking my attendance for newcomers meeting for June 5, 2025
  docs/_meetings/week-of-06-02-2025/FavourTy.md
Labels: area/docs

#14953 Create Yu_Luo.md
  docs/_meetings/week-of-06-02-2025/Yu_Luo.md
Labels: area/docs

#14951 Newcomers' Attendance - June 5th, 2025
  docs/_meetings/week-of-06-02-2025/anu-apiti.md
Labels: area/docs

#14949 Create Meeting Attendence Yujun Liu
  docs/_meetings/week-of-06-02-2025/create Yujun Liu
Labels: area/docs

#14944 Create Raj-Shekhar.md
  docs/_meetings/week-of-06-02-2025/Raj-Shekhar.md
Labels: area/docs

#14941 Attendance of the newcommers week meeting 2nd week of june.
  docs/_meetings/week-of-06-02-2025/Oscar Gonzalez.md
Labels: area/docs

#14942 Create soumyajyoti_mohanta.md
  docs/_meetings/week-of-06-02-2025/soumyajyoti_mohanta.md
Labels: area/docs

#14935 Create Joyce Liang
  docs/_meetings/week-of-06-02-2025/Joyce Liang
Labels: area/docs

#14939 Create Naman_Verma.md marking my attendence for newcomers meeting Jun…
  docs/_meetings/week-of-06-02-2025/Naman_Verma.md
Labels: area/docs

#14945 Attendance-Ayush-Kumar
  docs/_meetings/week-of-06-02-2025/ayush-kumar.md
Labels: area/docs

#14933 Create Krishna_Shukla.md
  docs/_meetings/week-of-06-02-2025/Krishna_Shukla.md
Labels: area/docs

#14948 Add introduction and mark attendance for shristirajpoot
  docs/_meetings/week-of-06-02-2025/Shristi-rajpoot.md
Labels: area/docs

#14973 feat:attendance for newcomer (shubha987)
  docs/_meetings/week-of-06-02-2025/shubha_ruidas.md
Labels: area/docs

#14993 chore: upgrade to sistent v0.14.199
  install/docker-extension/ui/package-lock.json
  install/docker-extension/ui/package.json
Labels: component/extensions, docker

#14989 docs/releases: add v0.8.98.md
  docs/_releases/v0.8.98.md
Labels: area/docs

#14994 fix global provider not being respected
  server/handlers/provider_handler.go
Labels: component/server

#14965 [Docs] Add Schema Validation and Export Instructions
  docs/pages/project/contributing/contributing-schemas.md
  docs/pages/project/contributing/contributing-ui-schemas.md
Labels: area/docs

#14998 [Fix] Typos in Import Model Wizard
  ui/components/NotificationCenter/formatters/relationship_evaluation.js
  ui/components/Settings/Registry/Stepper/CSVStepper.js
Labels: component/ui

#14997 docs/releases: add timestamp to v0.8.100
  docs/_releases/v0.8.100.md
Labels: area/docs

#14929 fix: ui double scrollbars
  ui/themes/App.styles.js
Labels: component/ui

#14999 fix: datatable page size logic
  server/handlers/connections_handlers.go
  ui/components/connections/ConnectionTable.js
Labels: component/ui, component/server

#15006 Group Reference pages under same heading on overview page
  docs/pages/index.md
Labels: area/docs

#15019 fix(ui): correct typo 'Perfomance' to 'Performance' in Performance Pr…
  ui/components/Performance/index.js
Labels: component/ui

#15004 fix: receive k8s contexts slice from go context as a slice of references
  server/handlers/session_sync_handler.go
  server/helpers/adapters_tracker.go
  server/internal/graphql/resolver/meshsync.go
  server/internal/graphql/resolver/operator.go
  server/models/k8s_context.go
Labels: component/server

#14988 fix(docs): correct broken installation link in contributing-cli-test.md
  docs/pages/project/contributing/contributing-cli-tests.md
Labels: area/docs

#14974 Newcomer's Meeting Attendance 05/06/2025
  docs/_meetings/week-of-06-02-2025/Rhythm_Arora.md
Labels: area/docs

#15061 Create dharm_singh_attendence
  docs/_meetings/dharm_singh_attendence
Labels: area/docs

#15052 fix: error formatting in notification center
  ui/components/NotificationCenter/formatters/error.js
Labels: component/ui

#15015 Fix: Tooltipping Navbar
  ui/components/Header.js
  ui/components/SpacesSwitcher/SpaceSwitcher.js
Labels: component/ui

#15012 Fix: Delete Design Bugs
  ui/components/MesheryPatterns/Cards.styles.js
  ui/components/MesheryPatterns/MesheryPatterns.js
Labels: component/ui

#14996 Update README
  .github/assets/images/readme/meshery-dashboard-hero-image.png
  .github/assets/images/readme/meshery-performance.gif
  README.md
Labels: area/ci

#15070 Attendance/oseniabdulhaleem
  docs/_meetings/week-of-06-09-2025/Oseni_Abdulhaleem_Software.md
Labels: area/docs, issue/dco

#15086 Update comment-e2e-test.yml
  .github/workflows/comment-e2e-test.yml
Labels: area/ci

#15008 improvement: graphql resolver resync cluster handler
  server/helpers/component_info.json
  server/internal/graphql/resolver/error.go
  server/internal/graphql/resolver/meshsync.go
  server/machines/helpers/error.go
  server/machines/helpers/resync_resources.go
  server/machines/kubernetes/error.go
  server/machines/kubernetes/helpers.go
  server/machines/kubernetes/resync_resources.go
  server/models/error.go
  server/models/meshery_controllers.go
  server/models/meshsync_events.go
Labels: component/server

#15100 fix: omit non func design-id
  ui/components/NotificationCenter/metadata.js
Labels: component/ui

#14990 Revamp and Expand Component Style Guide
  docs/_data/common_representational_shapes.yml
  docs/_data/foundational_geometric_shapes.yml
  docs/_data/specialized_decorative_shapes.yml
  docs/_data/toc.yml
  docs/assets/img/shapes/AWS-models.png
  docs/assets/img/shapes/deployment-dashboard.png
  docs/assets/img/shapes/deployment-icon.png
  docs/assets/img/shapes/deployment-shape.png
  docs/assets/img/shapes/k8s_component.gif
  docs/assets/img/shapes/shapes.png
  docs/pages/extensions/kanvas/component-shape-guide.md
  docs/pages/guides/configuration-management/identifying-components.md
  docs/pages/project/contributing/contributing-models.md
Labels: area/docs

#15093 fix: connection spec fix
  ui/package-lock.json
  ui/package.json
  ui/playwright.config.js
  ui/tests/e2e/connections.spec.js
  ui/tests/e2e/fixtures/project.js
  ui/tests/e2e/utils/waitForSnackBar.js
Labels: component/ui, area/tests

#15098 chore: update SettingsIcon with workspaceIcon similar to org switcher
  ui/components/SpacesSwitcher/WorkspaceSwitcher.js
Labels: component/ui

#15106 Fix: SpaceSwitcher
  ui/components/SpacesSwitcher/SpaceSwitcher.js
Labels: component/ui

#15083 Update build-and-release-edge.yml
  .github/workflows/build-and-release-edge.yml
Labels: area/ci

#15084 Update build-ui-and-server.yml
  .github/workflows/build-ui-and-server.yml
Labels: area/ci

#14868 Remove function calls to avoid restart during context switch
  mesheryctl/internal/cli/root/system/context.go
  mesheryctl/internal/cli/root/system/context_test.go
Labels: component/mesheryctl

#15113 fix: formatting, to prevent failure of make error-util
  docs/_meetings/week-of-06-09-2025/oscar_gonzalez.go
Labels: area/docs

#15132 attendance-19-june-2025-newcomers-meet-Riya-Rahim.md
  docs/_meetings/week-of-06-16-2025/Added-my-attendance
Labels: area/docs

#15128 Marking my Attendance - Adarsh-kumar.md
  docs/_meetings/week-of-06-16-2025/adarsh.md
Labels: area/docs

#15122 Attendance of Nidhish Chauhan 06.16.2025
  docs/_meetings/week-of-06-16-2025/nidhish-chauhan.md
Labels: area/docs

#15125 Create Marking my attendance Nicu Pascalau
  docs/_meetings/week-of-06-16-2025/Marking-my-attendance
Labels: area/docs

#15117 Add attendance of Ruslan Kadyrov 19.06.2025
  docs/_meetings/week-of-06-16-2025/ruslan-kadyrov.md
Labels: area/docs

#15134 [meshery] update: layer5io/meshsync and layer5io/meshery-operator to meshery/meshsync and meshery/meshery-operator
  go.mod
  go.sum
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/pkg/utils/helpers.go
  server/cmd/main.go
  server/handlers/database_handlers.go
  server/handlers/meshsync_handler.go
  server/handlers/middlewares.go
  server/helpers/swagger.yaml
  server/internal/graphql/model/addons_helper.go
  server/internal/graphql/model/control_plane_helper.go
  server/internal/graphql/model/data_plane_helper.go
  server/internal/graphql/model/operator_helper.go
  server/internal/graphql/resolver/meshsync.go
  server/machines/helpers/auto_register.go
  server/models/k8s_context.go
  server/models/meshsync.go
  server/models/meshsync_events.go
  server/models/meshsync_register_queue.go
Labels: component/mesheryctl, component/server

#15137 Add regex support to relationship match
  server/meshmodel/azure-resources/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/relationships/hierarchical-parent-inventory-yuxfl.json
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/deny_relationship_evaluator.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/feasibility_evaluation.rego
Labels: component/server, area/models

#15139 Revert "Merge pull request #15134 from n2h9/update-meshsync-and-operator-deps"
  go.mod
  go.sum
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/pkg/utils/helpers.go
  server/cmd/main.go
  server/handlers/database_handlers.go
  server/handlers/meshsync_handler.go
  server/handlers/middlewares.go
  server/helpers/swagger.yaml
  server/internal/graphql/model/addons_helper.go
  server/internal/graphql/model/control_plane_helper.go
  server/internal/graphql/model/data_plane_helper.go
  server/internal/graphql/model/operator_helper.go
  server/internal/graphql/resolver/meshsync.go
  server/machines/helpers/auto_register.go
  server/models/k8s_context.go
  server/models/meshsync.go
  server/models/meshsync_events.go
  server/models/meshsync_register_queue.go
Labels: component/mesheryctl, component/server

#15140 update: layer5io/meshsync to meshery/meshsync
  go.mod
  go.sum
  server/cmd/main.go
  server/handlers/database_handlers.go
  server/handlers/meshsync_handler.go
  server/handlers/middlewares.go
  server/helpers/swagger.yaml
  server/internal/graphql/model/addons_helper.go
  server/internal/graphql/model/control_plane_helper.go
  server/internal/graphql/model/data_plane_helper.go
  server/internal/graphql/resolver/meshsync.go
  server/machines/helpers/auto_register.go
  server/models/k8s_context.go
  server/models/meshsync.go
  server/models/meshsync_events.go
  server/models/meshsync_register_queue.go
Labels: component/server

#15141 chore: update @sistent/sistent to version 0.14.201
  install/docker-extension/ui/package-lock.json
  install/docker-extension/ui/package.json
Labels: component/extensions

#14799 [meshery] feature: meshsync as a library
  go.mod
  go.sum
  server/cmd/main.go
  server/helpers/component_info.json
  server/machines/kubernetes/connect.go
  server/machines/kubernetes/error.go
  server/models/connections/connections.go
  server/models/default_local_provider.go
  server/models/meshery_controllers.go
Labels: component/server

#15127 newcomer's attendance
  docs/_meetings/week-of-06-16-2025/kirtigoyal.md
Labels: area/docs

#15158 Revert "Merge pull request #14799 from n2h9/feature-meshsync-as-a-lib…
  go.mod
  go.sum
  server/cmd/main.go
  server/helpers/component_info.json
  server/machines/kubernetes/connect.go
  server/machines/kubernetes/error.go
  server/models/connections/connections.go
  server/models/default_local_provider.go
  server/models/meshery_controllers.go
Labels: component/server

#14626 [CI] feature: meshsery server with meshsync integration test
  .github/workflows/server-integration-tests.yml
  Makefile
  server/integration-tests/meshsync/README.MD
  server/integration-tests/meshsync/database_content_assertion_testcases_test.go
  server/integration-tests/meshsync/infrastructure/copy-file-from-deployment.sh
  server/integration-tests/meshsync/infrastructure/curl-upload-kubeconfig-job.yaml
  server/integration-tests/meshsync/infrastructure/curl-upload-kubeconfig.sh
  server/integration-tests/meshsync/infrastructure/setup.sh
  server/integration-tests/meshsync/infrastructure/test-deployment.yaml
  server/integration-tests/meshsync/integration_test.go
Labels: area/ci, component/server

#15166 add support getting mutator data outside of configuration eg displayName
  server/meshmodel/kubernetes/v1.32.0-alpha.3/v1.0.0/relationships/deployment-to-pvc-reference.json
  server/meshmodel/kubernetes/v1.32.0-alpha.3/v1.0.0/relationships/pv-to-pvc-reference.json
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/utils.rego
Labels: component/server, area/models

#15176 [Chore]: Bump Sistent v0.14.202
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#15175 Fix: Navbar Responsiveness
  ui/components/Header.js
  ui/components/Header.styles.js
  ui/components/HeaderMenu.js
  ui/components/SpacesSwitcher/SpaceSwitcher.js
  ui/components/SpacesSwitcher/WorkspaceSwitcher.js
Labels: component/ui

#15178 Revert "Fix: Navbar Responsiveness"
  ui/components/Header.js
  ui/components/Header.styles.js
  ui/components/HeaderMenu.js
  ui/components/SpacesSwitcher/SpaceSwitcher.js
  ui/components/SpacesSwitcher/WorkspaceSwitcher.js
Labels: component/ui

#14814 Container image scanning using trivy
  .github/workflows/image-scan.yml
Labels: area/ci, security

#15146 docs: add k8s request flow tutorial
  docs/_data/toc.yml
  docs/pages/guides/tutorials/kubernetes-request-flow.md
  docs/pages/guides/tutorials/kubernetes-request-flow/k8s-request-flow.png
Labels: area/docs

#15229 attendance Oscar Gonzalez 26.06.2025
  docs/_meetings/week-of-06-23-2025/oscar_gonzalez.md
Labels: area/docs

#15230 mohitg attendance
  docs/_meetings/week-of-06-23-2025/mohitgadhavi.md
Labels: area/docs

#15225 demo: mark my attendance
  docs/_meetings/week-of-06-23-2025/vivek-vishal.md
Labels: area/docs

#15207 Fix: Navbar Responsiveness.
  ui/assets/icons/DashboardSwitcherIcon.js
  ui/components/Header.js
  ui/components/Header.styles.js
  ui/components/HeaderMenu.js
  ui/components/SpacesSwitcher/MobileViewSwitcher.js
  ui/components/SpacesSwitcher/SpaceSwitcher.js
  ui/components/SpacesSwitcher/WorkspaceSwitcher.js
  ui/components/User.js
Labels: component/ui

#15203 Created Yash_Sheorey.md marking myself as a contributor, ikr im late …
  docs/_meetings/week-of-06-02-2025/Yash_Sheorey.md
Labels: area/docs

#15252 Add reference relationship docs
  docs/assets/img/meshmodel/relationships/embedded-design-edge-reference.js
  docs/pages/concepts/logical/relationships.md
Labels: area/docs

#15257 fix docker extension login and routing
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  install/docker-extension/ui/src/components/utils/constants.js
Labels: component/extensions
