Repository meshery/meshery, pull requests merged in 2025-05, with the labels that each got.

#14564 Add include for additing training videos on individual contributing docs
  docs/_includes/training-video.html
  docs/pages/project/contributing/ci-build-and-release.md
Labels: area/docs

#14574 [Relationship evaluation] add support for advanced matching strategies
  go.mod
  go.sum
  server/meshmodel/kubernetes/v1.32.0-alpha.3/v1.0.0/relationships/edge-non-binding-network-duixv.json
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/edge_non_binding.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/eval_rules.rego
Labels: component/server, area/models, opa

#14605 fix: build failed
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#14606 Revert "Bump react-share from 4.4.1 to 5.2.2 in /ui"
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#14609 e2e tests for mesheryctl component search command
  mesheryctl/tests/e2e/005-component/02-component-search.bats
  mesheryctl/tests/e2e/005-component/fixtures/component-search/valid-model/0.7.2/v1.0.0/components/component.json
  mesheryctl/tests/e2e/005-component/fixtures/component-search/valid-model/0.7.2/v1.0.0/model.json
Labels: component/mesheryctl, area/tests

#14616 fix: 14552: update nighthawk-go version from v1.0.3 to v1.0.6
  go.mod
  go.sum
  server/helpers/load_test_interface.go
Labels: component/server

#14619 Meetup attedance at BBSR
  docs/_meetings/week-of-04-28-2025/Deepak Pradhan
Labels: area/docs

#14623 meetup at bbsr saumya-mohapatra
  docs/_meetings/week-of-04-28-2025/Saumya-Mohapatra
Labels: area/docs

#14621 meetup-attendance-of-srikant-snehit
  docs/_meetings/week-of-04-28-2025/srikant-snehit.md
Labels: area/docs

#14620 Meetup-attendence-Anshuman-Mishra
  docs/_meetings/week-of-04-28-2025/Anshuman-Mishra.md
Labels: area/docs

#14618 Meetup attandance of Sibasankar Bisoyi
  docs/_meetings/week-0f-04-28-2025/Sibasankar-Bisoyi
Labels: area/docs

#14622 meetup-attendance of-saswat-tripathy
  docs/_meetings/week-of-04-28-2025/saswat-tripathy
Labels: area/docs

#14630 fix(meshery-server): prevent golangci-lint fail
  server/handlers/meshery_pattern_handler.go
Labels: area/tests, component/server

#14628 Add new features in workspace modal
  ui/assets/icons/MoveFileIcon.js
  ui/components/Filters.js
  ui/components/FlipCard.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryFilters/FiltersGrid.js
  ui/components/MesheryMetrics.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPerformance/Dashboard.js
  ui/components/MesheryPerformance/PerformanceCalendar.js
  ui/components/MesheryPerformance/PerformanceCard.js
  ui/components/MesheryPerformance/PerformanceResults.js
  ui/components/Modals/Information/InfoModal.js
  ui/components/SpacesSwitcher/DesignViewListItem.js
  ui/components/SpacesSwitcher/MainDesignsContent.js
  ui/components/SpacesSwitcher/MainViewsContent.js
  ui/components/SpacesSwitcher/MenuComponent.js
  ui/components/SpacesSwitcher/MyDesignsContent.js
  ui/components/SpacesSwitcher/MyViewsContent.js
  ui/components/SpacesSwitcher/RecentContent.js
  ui/components/SpacesSwitcher/ShareModal.js
  ui/components/SpacesSwitcher/SharedContent.js
  ui/components/SpacesSwitcher/WorkspaceContent.js
  ui/components/SpacesSwitcher/WorkspaceModal.js
  ui/components/SpacesSwitcher/WorkspaceSwitcher.js
  ui/components/SpacesSwitcher/components.js
  ui/components/SpacesSwitcher/hooks.js
  ui/components/SpacesSwitcher/styles.js
  ui/components/ViewInfoModal.js
  ui/package-lock.json
  ui/package.json
  ui/rtk-query/design.js
  ui/rtk-query/resource.js
  ui/rtk-query/user.js
  ui/rtk-query/view.js
  ui/rtk-query/workspace.js
  ui/utils/Enum.js
  ui/utils/utils.js
Labels: component/ui

#14635 fix workspace modal crash in annonymous session
  ui/components/SpacesSwitcher/SpaceSwitcher.js
  ui/components/SpacesSwitcher/WorkspaceSwitcher.js
Labels: component/ui

#14637 chore(ui): fix eslint error in SpaceSwitcher component
  ui/components/SpacesSwitcher/SpaceSwitcher.js
Labels: component/ui

#14614 fix(mesheryctl-e2e): updating model view command failing
  mesheryctl/tests/e2e/002-model/02-model-import.bats
  mesheryctl/tests/e2e/002-model/05-model-view.bats
  mesheryctl/tests/e2e/002-model/testdata/model-view/exp_out_existing_model.txt
  mesheryctl/tests/e2e/002-model/testdata/model-view/exp_out_json.txt
  mesheryctl/tests/e2e/002-model/testdata/model-view/exp_out_yaml.txt
Labels: kind/bug, component/mesheryctl, area/tests, framework/bats

#14638 fix: e.get function is not defined issue
  ui/components/Lifecycle/Workspaces/WorkspaceDataTable.js
  ui/components/Lifecycle/Workspaces/WorkspaceGridView.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/SpacesSwitcher/SpaceSwitcher.js
  ui/components/SpacesSwitcher/WorkspaceModal.js
  ui/components/SpacesSwitcher/WorkspaceSwitcher.js
  ui/utils/hooks/useCurrentOrganization.js
Labels: component/ui

#14560 Add UI route param to distinguish table view
  ui/components/MesheryPatterns.js
Labels: component/ui

#14639 fix: typo in workspace modal
  ui/components/SpacesSwitcher/WorkspaceContent.js
Labels: component/ui

#14640 fix: e.get function is undefined issue
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Workspaces/WorkspaceDataTable.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/SpacesSwitcher/SpaceSwitcher.js
  ui/components/SpacesSwitcher/WorkspaceModal.js
  ui/components/SpacesSwitcher/WorkspaceSwitcher.js
  ui/components/UserPreferences/spaces-preferences.js
  ui/components/connections/ConnectionTable.js
  ui/rtk-query/ability.js
  ui/utils/can.js
  ui/utils/hooks/useCurrentOrganization.js
  ui/utils/hooks/useStateValue.js
  ui/utils/utils.js
Labels: component/ui

#14641 [Chore]: Bump Sistent v0.14.184
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#14645 use both immutable and plain javascript for redux
  ui/components/DashboardComponent/widgets/getting-started/index.js
  ui/components/General/error-404/CurrentSession.js
  ui/components/General/error-404/OrgSwitcher.js
  ui/components/NavigatorExtension.js
Labels: component/ui

#14646 [Chore]: Bump Sistent v0.14.185
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#14648 use view info component for kanvas
  ui/components/NavigatorExtension.js
  ui/components/SpacesSwitcher/MainViewsContent.js
  ui/components/ViewInfoModal.js
Labels: component/ui

#14659 Create chethan.md
  docs/_meetings/week-of-05-05-2025/chethan.md
Labels: area/docs

#14658 Mark my Attendance
  docs/_meetings/week-of-05-05-2035
Labels: area/docs

#14657 Create community-activity
  docs/_meetings/week-of-05-05-2025/marvin-murithi.md
Labels: area/docs

#14655 mark my attendance
  docs/_meetings/week-of-05-05-2025/ashok kumar.md
Labels: area/docs

#14654 Create Leul-Adnew.md
  docs/_meetings/week-of-05-05-2025/Leul-Adnew.md
Labels: area/docs

#14660 Create oscar_gonzalez.yaml
  docs/_meetings/week-of-05-05-2025/oscar_gonzalez.yaml
Labels: area/docs

#14652 making my attendance for the week of 5th
  docs/_meetings/week-of-05-05-2025/bhavana-attendance
Labels: area/docs

#14650 marking my attendance for the week of 5th May, 2025
  docs/_meetings/week-of-05-05-2025/vivek-vishal.md
Labels: area/docs

#14663 remove permssion for show workspace for anonymous user
  ui/components/Lifecycle/Workspaces/index.js
Labels: component/ui

#14664 update contributing ui widget guide
  docs/pages/project/contributing/contributing-ui-widgets.md
Labels: area/docs

#14615 Fix URL in model import e2e test for valid OCI artifact
  mesheryctl/tests/e2e/002-model/02-model-import.bats
Labels: component/mesheryctl, area/tests

#14649 migrate infomodal from axios to rtk-query
  ui/components/Modals/Information/InfoModal.js
Labels: component/ui, area/tests

#14669 set default name for aliases
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/alias_policy.rego
Labels: component/server, area/models

#14670 [Chore]: Bump Sistent v0.14.186
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#14667 Add collaboration avatar in workspace modal for design and view
  ui/components/SpacesSwitcher/DesignViewListItem.js
  ui/components/SpacesSwitcher/MainDesignsContent.js
  ui/components/SpacesSwitcher/MainViewsContent.js
  ui/components/SpacesSwitcher/styles.js
  ui/rtk-query/user.js
Labels: component/ui

#14671 [mod]: fixed script not running tests, modified script to be extensible
  mesheryctl/tests/e2e/run_tests_local.sh
Labels: component/mesheryctl, area/tests

#14674 created azure tutorial
  docs/_data/toc.yml
  docs/pages/guides/tutorials/deploy-azure-storage-account-with-meshery.md
Labels: area/docs

#14672 fix: added connection name to remote provider
  server/models/remote_provider.go
Labels: component/server

#14676 Enable Meshery edge release to staging
  .github/workflows/build-and-release-edge.yml
  .github/workflows/cncf-staging-playground-deploy-meshery.yaml
Labels: area/ci

#14678 fix: permission issue in workspace modal for anonymous user
  ui/components/SpacesSwitcher/RecentContent.js
  ui/components/SpacesSwitcher/SharedContent.js
  ui/components/SpacesSwitcher/WorkspaceContent.js
  ui/components/SpacesSwitcher/WorkspaceModal.js
Labels: component/ui

#14666 Scroll feature in code blocks for docs
  docs/_sass/clipboard.scss
Labels: area/docs

#14176 docs: updated docs for docker-extension install
  docs/pages/installation/docker-extension.md
Labels: issue/stale, area/docs

#14677 update generate handler
  go.mod
  go.sum
  server/handlers/component_generation.go
  server/handlers/component_handler.go
Labels: pr/do-not-merge, component/server

#14688 update deployment to pod relationship
  server/meshmodel/kubernetes/v1.32.0-alpha.3/v1.0.0/relationships/hierarchical-parent-alias-iicqa.json
Labels: component/server, area/models

#14693 [Chore]: Bump Sistent v0.14.187
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#14695 Fix: Broken Workspace Author Link
  ui/components/SpacesSwitcher/DesignViewListItem.js
Labels: component/ui

#14698 [Chore]: Bump Sistent v0.14.188
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#14687 Publish modal axios fetch migrated to rtk query
  ui/components/Modals/PublishModal.js
Labels: component/ui

#14708 Create oscar-gonzalez.md
  docs/_meetings/week-of-05-12-2025/oscar-gonzalez.md
Labels: area/docs

#14725 Create Absra-Girma.md
  docs/_meetings/week-of-05-12-2025/Absra-Girma
Labels: area/docs

#14726 Meeting attendance Anirudh_S_Jahagirdar.md
  docs/_meetings/week-of-05-12-2025/Anirudh_S_Jahagirdar.md
Labels: area/docs

#14724 Mark my attendace
  docs/_meetings/week-of-05-12-2025/Liben
Labels: area/docs

#14722 marking attendance for newcomers meet week 12 may 2025
  docs/_meetings/week-of-05-12-2025/Sulochan-Mahajan.md
Labels: area/docs

#14723 Create faheem-mushtaq.md
  docs/_meetings/week-of-05-12-2025/faheem-mushtaq.md
Labels: area/docs

#14719 Attendance - Create Leul-Adnew.md
  docs/_meetings/week-of-05-12-2025/Leul-Adnew.md
Labels: area/docs

#14718 marking my attendance anjan Phani raj narla
  docs/_meetings/week-of-05-12-2025/Anjan-Phani-Raj-Narla.md
Labels: area/docs

#14716 Attendance for weekly meeting.
  docs/_meetings/week-of-05-12-2025/Sayanjit-attendance.md
Labels: area/docs

#14714 Marking my attendance Siddhant Pragyan Sinha for 15th May 2025
  docs/_meetings/week-of-05-12-2025/Siddhant-Pragyan-Sinha.md
Labels: area/docs

#14712 Create madina_amankeldinova.md
  docs/_meetings/week-of-05-12-2025/madina_amankeldinova.md
Labels: area/docs

#14711 Marking my attendance garvit_khandelwal
  docs/_meetings/week-of-05-12-2025/garvit_khandelwal.md
Labels: area/docs

#14730 [Provider UI] Look like link, not button
  provider-ui/components/Provider.js
Labels: component/ui

#14691 chore(mesheryctl-connections): refactor experimental connection command
  docs/_data/mesheryctlcommands/cmds.yml
  mesheryctl/internal/cli/pkg/api/meshery.go
  mesheryctl/internal/cli/root/connections/connection.go
  mesheryctl/internal/cli/root/connections/connections.go
  mesheryctl/internal/cli/root/connections/delete.go
  mesheryctl/internal/cli/root/connections/list.go
Labels: area/docs, component/mesheryctl

#14731 ci(documentation): fix github action go setup version
  .github/workflows/mesheryctl-ci.yml
Labels: area/ci

#14699 Add contributing guide for Schema-Driven UI development in Meshery
  docs/_data/toc.yml
  docs/pages/project/contributing/contributing-schemas-ui.md
  docs/pages/project/contributing/contributing-schemas.md
Labels: area/docs

#14733 Make workspace modal context as a global context
  ui/components/Lifecycle/Workspaces/WorkSpaceContentDataTable.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/MesheryMeshInterface/PatternService/RJSF_wrapper.js
  ui/components/MesheryPatterns.js
  ui/components/Modals/Information/InfoModal.js
  ui/components/NavigatorExtension.js
  ui/components/SpacesSwitcher/MainDesignsContent.js
  ui/components/SpacesSwitcher/MainViewsContent.js
  ui/components/SpacesSwitcher/WorkspaceModal.js
  ui/components/SpacesSwitcher/WorkspaceSwitcher.js
  ui/pages/_app.js
  ui/utils/context/WorkspaceModalContextProvider.js
Labels: component/ui

#14625 fixed component view
  mesheryctl/internal/cli/root/components/component.go
  mesheryctl/internal/cli/root/components/view.go
Labels: component/mesheryctl

#14738 fix: adjusted playwright config
  ui/playwright.config.js
Labels: component/ui

#14737 fix: ui drift for adapter test
  ui/tests/e2e/service_mesh_lifecycle.spec.js
  ui/tests/e2e/settings.spec.js
Labels: component/ui, area/tests

#14701 [chore]: Test Vulnerability Scanning
  .github/workflows/vex.yaml
Labels: area/ci

#14735 Migrated MesheryPerformance component to rtk-query
  ui/components/MesheryPerformance/index.js
  ui/rtk-query/telemetry.js
Labels: component/ui

#14697 fix: migrate resource-table from datafetch wrapper function to rtk-query
  ui/components/DashboardComponent/resources/resources-table.js
Labels: component/ui

#14692 fix: connection page bug fixes
  ui/components/connections/ConnectionTable.js
  ui/pages/_app.js
Labels: component/ui

#14743 [chore] remove capitalized Azure models
  server/meshmodel/azure-ApiManagement/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/Api.json
  server/meshmodel/azure-ApiManagement/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/ApiVersionSet.json
  server/meshmodel/azure-ApiManagement/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/AuthorizationProvider.json
  server/meshmodel/azure-ApiManagement/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/AuthorizationProvidersAuthorization.json
  server/meshmodel/azure-ApiManagement/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/AuthorizationProvidersAuthorizationsAccessPolicy.json
  server/meshmodel/azure-ApiManagement/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/Backend.json
  server/meshmodel/azure-ApiManagement/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/NamedValue.json
  server/meshmodel/azure-ApiManagement/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/Policy.json
  server/meshmodel/azure-ApiManagement/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/PolicyFragment.json
  server/meshmodel/azure-ApiManagement/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/Product.json
  server/meshmodel/azure-ApiManagement/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/ProductApi.json
  server/meshmodel/azure-ApiManagement/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/ProductPolicy.json
  server/meshmodel/azure-ApiManagement/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/Service.json
  server/meshmodel/azure-ApiManagement/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/Subscription.json
  server/meshmodel/azure-ApiManagement/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/model.json
  server/meshmodel/azure-App/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/AuthConfig.json
  server/meshmodel/azure-App/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/ContainerApp.json
  server/meshmodel/azure-App/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/Job.json
  server/meshmodel/azure-App/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/ManagedEnvironment.json
  server/meshmodel/azure-App/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/model.json
  server/meshmodel/azure-AppConfiguration/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/ConfigurationStore.json
  server/meshmodel/azure-AppConfiguration/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/model.json
  server/meshmodel/azure-Authorization/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/RoleAssignment.json
  server/meshmodel/azure-Authorization/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/RoleDefinition.json
  server/meshmodel/azure-Authorization/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/model.json
  server/meshmodel/azure-Batch/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/BatchAccount.json
  server/meshmodel/azure-Batch/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/model.json
  server/meshmodel/azure-Cache/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/Redis.json
  server/meshmodel/azure-Cache/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/RedisEnterprise.json
  server/meshmodel/azure-Cache/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/RedisEnterpriseDatabase.json
  server/meshmodel/azure-Cache/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/RedisFirewallRule.json
  server/meshmodel/azure-Cache/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/RedisLinkedServer.json
  server/meshmodel/azure-Cache/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/components/RedisPatchSchedule.json
  server/meshmodel/azure-Cache/azureserviceoperator_customresourcedefinitions_v2.13.0.yaml/v1.0.0/model.json
Labels: component/server, area/models

#14728 Prometheus components axios fetch migrated to rtk query
  ui/components/telemetry/prometheus/PrometheusComponent.js
  ui/components/telemetry/prometheus/PrometheusConfigComponent.js
  ui/components/telemetry/prometheus/PrometheusSelectionComponent.js
  ui/rtk-query/connection.js
  ui/rtk-query/telemetry.js
Labels: component/ui

#14759 chore: remove debug log not needed
  mesheryctl/internal/cli/pkg/display/pagination.go
Labels: component/mesheryctl

#14760 Make workspace modal responsive
  ui/components/SpacesSwitcher/DesignViewListItem.js
  ui/components/SpacesSwitcher/MainDesignsContent.js
  ui/components/SpacesSwitcher/MenuComponent.js
  ui/components/SpacesSwitcher/MyDesignsContent.js
  ui/components/SpacesSwitcher/MyViewsContent.js
  ui/components/SpacesSwitcher/RecentContent.js
  ui/components/SpacesSwitcher/SharedContent.js
  ui/components/SpacesSwitcher/UserAvatarComponent.js
  ui/components/SpacesSwitcher/WorkspaceContent.js
  ui/components/SpacesSwitcher/WorkspaceModal.js
  ui/components/SpacesSwitcher/components.js
  ui/components/SpacesSwitcher/styles.js
Labels: component/ui

#14761 add visibility filter option for get workspace design
  server/handlers/workspace_handlers.go
  server/models/default_local_provider.go
  server/models/providers.go
  server/models/remote_provider.go
  server/models/workspace_persister.go
Labels: component/server

#14763 link contribut to ui and contribute to schemas docs
  docs/_data/toc.yml
  docs/pages/project/contributing/contributing-ui-schemas.md
  docs/pages/project/contributing/contributing-ui.md
Labels: area/docs

#14764 Attempt to fix 'no space left' error
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#14758 Fix: Missing Models Label-Green Icons
  ui/public/static/img/model-categories/label-green/cloud-native-storage-label-green.svg
  ui/public/static/img/model-categories/label-green/security-compliance-label-green.svg
Labels: component/ui

#14766 [Docs] Extensibility: provider examples
  docs/pages/extensibility/providers.md
  go.mod
  server/handlers/events_streamer.go
Labels: area/docs, component/server

#14771 Fix error in cncf-staging-playground-deploy-meshery.yaml
  .github/workflows/cncf-staging-playground-deploy-meshery.yaml
Labels: area/ci

#14681 Fix: grafanaURL should be a string.
  ui/components/telemetry/grafana/GrafanaComponent.js
  ui/components/telemetry/grafana/GrafanaCustomChart.js
Labels: kind/bug, component/ui

#14734 Added attendance file for Ehtesham Zahid
  docs/_meetings/week-of-05-05-2025/Ehtesham-Zahid.md
Labels: area/docs, issue/dco

#14749 Fix: Navbar Styling and Settings btn
  ui/components/Header.js
  ui/components/Header.styles.js
  ui/components/HeaderMenu.js
Labels: component/ui

#14772 update collaborators extension
  ui/components/Header.js
  ui/components/RemoteComponent.js
  ui/components/SpacesSwitcher/MainDesignsContent.js
  ui/components/SpacesSwitcher/MainViewsContent.js
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#14775 fix extension point rerendering issues
  ui/components/ExtensionSandbox.js
  ui/components/Header.js
  ui/components/RemoteComponent.js
Labels: component/ui, component/extensions

#14755 updated the server url for component search
  mesheryctl/internal/cli/root/components/view.go
Labels: component/mesheryctl

#14790 Create Harbinder_Singh.md
  docs/_meetings/week-of-0519-2025/Harbinder_Singh.md
Labels: area/docs

#14789 Created Nitin-shukla.md on 22-May-2025
  docs/_meetings/week-of-05-19-2025/Nitin-shukla.md
Labels: area/docs

#14787 Mark my attendace may 22 newcommers meeting
  docs/_meetings/week-of-05-19-2025/liben-hailu
Labels: area/docs

#14788 Create aanish.md
  docs/_meetings/week-of-05-19-2025/aanish.md
Labels: area/docs

#14791 docs: add newcomer introduction and meeting attendance (22-May-2025)
  docs/_meetings/week-of-05-19-2025/Deep.md
Labels: area/docs

#14783 Create oscar gonzalez.md
  docs/_meetings/week-of-05-19-2025/oscar gonzalez.md
Labels: area/docs

#14784 Create week-of-05-19-2025-Eric.json
  docs/_meetings/week-of-05-19-2025/Eric.json
Labels: area/docs

#14802 Fix wrong routes && paths for navigator in Registry components
  ui/components/Settings/Registry/ComponentTree.js
  ui/components/Settings/Registry/ImportModelModal.js
  ui/components/Settings/Registry/MeshModelComponent.js
  ui/components/Settings/Registry/MeshModelDetails.js
  ui/components/Settings/Registry/MesheryTreeView.js
  ui/components/Settings/Registry/MesheryTreeViewItem.js
  ui/components/Settings/Registry/MesheryTreeViewModel.js
  ui/components/Settings/Registry/MesheryTreeViewRegistrants.js
  ui/components/Settings/Registry/RelationshipTree.js
  ui/components/Settings/Registry/Stepper/FinishModelGenerateStep.js
  ui/components/Settings/Registry/VersionedModelComponentTree.js
  ui/components/Settings/Registry/VersionedModelRelationshipTree.js
  ui/components/Settings/Registry/hooks.js
  ui/pages/settings/index.js
Labels: component/ui

#14800 migrated useTelemetry hooks from dataFetch to use rtk query
  ui/components/hooks/useTelemetryHook.js
  ui/rtk-query/telemetry.js
Labels: component/ui

#14807 [Chore]: Bump Sistent v0.14.191
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#14801 Add bulk operation in workspace modal
  ui/assets/icons/MoveFileIcon.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/SpacesSwitcher/DesignViewListItem.js
  ui/components/SpacesSwitcher/MainDesignsContent.js
  ui/components/SpacesSwitcher/MainViewsContent.js
  ui/components/SpacesSwitcher/MenuComponent.js
  ui/components/SpacesSwitcher/MyDesignsContent.js
  ui/components/SpacesSwitcher/MyViewsContent.js
  ui/components/SpacesSwitcher/RecentContent.js
  ui/components/SpacesSwitcher/ShareModal.js
  ui/components/SpacesSwitcher/SharedContent.js
  ui/components/SpacesSwitcher/WorkspaceContent.js
  ui/components/SpacesSwitcher/WorkspaceContentMoveModal.js
  ui/components/SpacesSwitcher/WorkspaceModal.js
  ui/components/SpacesSwitcher/components.js
  ui/components/SpacesSwitcher/hooks.js
  ui/components/SpacesSwitcher/styles.js
  ui/components/TroubleshootingComponent.js
  ui/components/hooks/useTelemetryHook.js
  ui/package-lock.json
  ui/rtk-query/design.js
  ui/rtk-query/view.js
  ui/rtk-query/workspace.js
  ui/utils/context/WorkspaceModalContextProvider.js
Labels: component/ui

#14803 Worspace and organization switcher enhancements
  go.mod
  go.sum
  server/models/preference.go
  ui/components/General/error-404/CurrentSession.js
  ui/components/Header.js
  ui/components/SpacesSwitcher/SpaceSwitcher.js
  ui/components/SpacesSwitcher/WorkspaceSwitcher.js
  ui/rtk-query/ability.js
  ui/rtk-query/user.js
Labels: component/ui, component/server

#14812 Add support for moving designs/views between workspaces
  server/handlers/workspace_handlers.go
  server/models/default_local_provider.go
  server/models/handlers.go
  server/models/providers.go
  server/models/remote_provider.go
  server/models/workspace_persister.go
  server/router/server.go
Labels: component/server

#14816 [Chore]: Bump Sistent v0.14.192
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#14815 Add some left over functionality in workspace table
  ui/components/Dashboard/widgets/WorkspaceActivityWidget.js
  ui/components/Lifecycle/Workspaces/WorkSpaceContentDataTable.js
  ui/components/Lifecycle/Workspaces/WorkspaceDataTable.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/SpacesSwitcher/MainDesignsContent.js
  ui/components/SpacesSwitcher/MyDesignsContent.js
  ui/components/SpacesSwitcher/WorkspaceContentMoveModal.js
  ui/components/SpacesSwitcher/WorkspaceModal.js
  ui/components/SpacesSwitcher/WorkspaceSwitcher.js
  ui/rtk-query/design.js
  ui/rtk-query/user.js
  ui/rtk-query/workspace.js
Labels: component/ui

#14818 [Chore]: Bump Sistent v0.14.193
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#14826 make ui dependencies compatible with meshery extensions
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#14834 fix: docker build
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#14838 change workspace modal recent heading
  ui/components/SpacesSwitcher/WorkspaceModal.js
Labels: component/ui

#14839 fix: workspace list on open modal issue
  ui/components/SpacesSwitcher/WorkspaceModal.js
Labels: component/ui

#14851 Marking Attendence
  docs/_meetings/week-of-05-26-2025/Huzaif.md
Labels: area/docs

#14849 Marking Attendence Week 26/05/2025
  docs/_meetings/week-of-05-26-2025/himanshu.md
Labels: area/docs

#14852 fix: dashboard resource table api failed issue
  ui/components/Dashboard/resources/resources-table.js
  ui/components/SpacesSwitcher/WorkspaceModal.js
Labels: component/ui

#14848 marking-my-attendance-for-week-of-05-26-2025.md
  docs/_meetings/week-of-05-26-2025/priyansh-sao.md
Labels: area/docs

#14845 marking my attendance for the week of 26th May - tirukovelamanoj
  docs/_meetings/week-of-05-26-2025/tirukovelamanoj.md
Labels: area/docs

#14843 Marking Attendance - Create Leul-Adnew.md
  docs/_meetings/week-of-05-26-2025/Leul-Adnew.md
Labels: area/docs

#14842 Create Oscar Gonzalez.yml
  docs/_meetings/week-of-05-26-2025/Oscar Gonzalez.yml
Labels: area/docs

#14841 marking my attendance for the week of 26th May, 2025
  docs/_meetings/week-of-05-26-2025/vivek-vishal.md
Labels: area/docs
