Repository meshery/meshery, pull requests merged in 2025-08, with the labels that each got.

#15451 [mesheryctl] Add e2e test for component list command
  mesheryctl/tests/e2e/005-component/01-component-list.bats
  mesheryctl/tests/e2e/helpers/constants.bash
Labels: component/mesheryctl, area/tests

#15493 add: Hover ability on already selected menuItem inside the organization/workspace switcher.
  ui/components/SpacesSwitcher/SpaceSwitcher.js
  ui/components/SpacesSwitcher/WorkspaceSwitcher.js
Labels: component/ui

#15510 Chore use information about meshsync deployment mode from connection
  go.mod
  go.sum
  server/cmd/main.go
  server/handlers/k8sconfig_handler.go
  server/helpers/component_info.json
  server/machines/kubernetes/connect.go
  server/machines/kubernetes/discover.go
  server/machines/kubernetes/error.go
  server/models/default_local_provider.go
  server/models/providers.go
  server/models/remote_provider.go
Labels: component/server

#15517 [server] chore: remove outdated todo
  server/handlers/k8sconfig_handler.go
Labels: component/server

#15519 [Chore]: Update to Sistent v0.14.213
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#15520 [Chore]: Update to Sistent v0.14.214
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#15522 Fix elsint issue; add description for Comment component
  server/meshmodel/meshery-core/0.7.1/v1.0.0/components/Comment.json
  server/meshmodel/meshery-core/0.7.2/v1.0.0/components/Comment.json
  ui/components/SpacesSwitcher/WorkspaceSwitcher.js
Labels: component/ui, component/server, area/models

#15525 chore: update setup_suite script to update meshery port forwarding
  mesheryctl/tests/e2e/setup_suite.bash
Labels: component/mesheryctl, area/tests

#15535 [Chore]: Update to Sistent v0.14.217
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#15538 create attendance-folder
  docs/_meetings/2025/week-of-08-04-2025/index.md
Labels: area/docs

#15542 Create varad-attendace.md
  docs/_meetings/2025/week-of-08-04-2025/varad-attendace.md
Labels: area/docs

#15544 attendance_07_08_2025
  docs/_meetings/2025/week-of-08-04-2025/Oscar_Gonzalez.md
Labels: area/docs

#15545 Create aman-valiyakath-attendance.md to track attendance
  docs/_meetings/2025/week-of-08-04-2025/aman-valiyakath-attendance.md
Labels: area/docs

#15549 Create Rajesh-N-attendance.md
  docs/_meetings/2025/week-of-08-04-2025/Rajesh-N-attendance.md
Labels: area/docs

#15559 [Docs] Permission Keys Reference: Add callout to relevant contributing page
  docs/pages/reference/permissions.md
Labels: area/docs

#15565 [Chore]: Update to Sistent v0.14.218
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#15472 chore: skip adapter tests
  ui/tests/e2e/service_mesh_lifecycle.spec.js
  ui/tests/e2e/settings.spec.js
Labels: component/ui, area/tests

#15572 [server]: chore: update tmp_meshkit channel broker to proper channel broker from real meshkit
  server/models/meshery_controllers.go
Labels: component/server

#15583 Attendance folder for newcomers meet.
  docs/_meetings/2025/week-of-08-11-2025/index.js
Labels: area/docs

#15599 [CI] Create OSSF scorecard.yml
  .github/workflows/scorecard.yml
Labels: area/ci

#15597 Create Sanjay-Vishnoi-attendance.md
  docs/_meetings/2025/week-of-08-11-2025/sanjay-vishnoi-attendance.md
Labels: area/docs

#15596 Create ritesh-karankal.md
  docs/_meetings/2025/week-of-08-11-2025/ritesh-karankal.md
Labels: area/docs

#15595 Create Ahmed_Samaila.md
  docs/_meetings/2025/week-of-08-11-2025/Ahmed_Samaila.md
Labels: area/docs

#15593 Suraj-kumar00 Introduction | New Contributor
  docs/_meetings/2025/week-of-08-11-2025/index.js
Labels: area/docs

#15594 Create rijusmit-biswas-attendance.md
  docs/_meetings/2025/week-of-08-11-2025/rijusmit-biswas-attendance.md
Labels: area/docs

#15591 akash.md
  docs/_meetings/2025/week-of-08-11-2025/akash.md
Labels: area/docs

#15590 attendance_oscar_14_08_2025
  docs/_meetings/2025/week-of-08-11-2025/oscar_gonzalez.md
Labels: area/docs

#15601 [CI] Allow OpenSSF code scanner to be run ad hoc; Stop running on merge to master
  .github/workflows/scorecard.yml
Labels: area/ci

#15587 Marking Attendance Naman Verma
  docs/_meetings/2025/week-of-08-11-2025/Naman_Verma.md
Labels: area/docs

#15582 [Docs]: Add missing Adapter Version in all adapter docs
  docs/_adapters/app-mesh.md
  docs/_adapters/cilium.md
  docs/_adapters/consul/consul.md
  docs/_adapters/istio/istio.md
  docs/_adapters/kuma/kuma.md
  docs/_adapters/linkerd.md
  docs/_adapters/nginx-sm.md
  docs/_adapters/nighthawk.md
  docs/_adapters/nsm/nsm.md
  docs/_adapters/tanzu-sm.md
  docs/_adapters/traefik-mesh.md
Labels: area/docs

#15610 [Chore]: Update to Sistent v0.15.0
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#15634 [chore]:attendance folder for 21st aug.
  docs/_meetings/2025/week-of-08-18-2025/index.md
Labels: area/docs

#15642 Create Divyansh-Raj-attendance.md
  docs/_meetings/2025/week-of-08-18-2025/Divyansh-Raj-attendance.md
Labels: area/docs

#15648 Create sparsh-jain-attendence.md
  docs/_meetings/2025/week-of-08-18-2025/sparsh-jain-attendence.md
Labels: area/docs

#15657 [Chore]: Update to Sistent v0.15.6
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#15560 add: adds ability for existing connections to change their deployment mode b/w 'operator' && 'embedded' (point_2&point_3)
  ui/components/connections/ConnectionTable.js
  ui/components/connections/metadata.js
  ui/rtk-query/connection.js
  ui/utils/Enum.js
Labels: component/ui

#15638 avni-mahajan-attendance.md
  docs/_meetings/2025/week-of-08-18-2025/avni-mahajan-attendance.md
Labels: area/docs

#15671 [server] fix: flush meshsync when provider is remote: take machine from machine traacker by connectionID instead of k8s context id
  server/internal/graphql/resolver/meshsync.go
Labels: component/server

#15636 Create varad-gupta-attendace.md
  docs/_meetings/2025/week-of-08-18-2025/varad-gupta-attendace.md
Labels: area/docs

#15675 [Chore]: Update to Sistent v0.15.7
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#15680 Add attendance folder for newcomers meeting of 28th aug
  docs/_meetings/2025/week-of-08-25-2025/index.md
Labels: area/docs

#15688 Create Abdul-Attendence.md
  docs/_meetings/2025/week-of-08-25-2025/Abdul-Attendence.md
Labels: area/docs

#15690 Create Aman-attendance.md
  docs/_meetings/2025/week-of-08-25-2025/Aman-attendance.md
Labels: area/docs

#15691 avni-mahajan-attendance.md
  docs/_meetings/2025/week-of-08-25-2025/avni-mahajan-attendance.md
Labels: area/docs

#15693 Create satarupa-deb-attendance.md
  docs/_meetings/2025/week-of-08-25-2025/satarupa-deb-attendance.md
Labels: area/docs

#15694 Add Rajesh's attendance and introduction document
  docs/_meetings/2025/week-of-08-25-2025/rajesh-n-attendance.md
Labels: area/docs

#15695 Create Dineshraj Dhanapathy.md
  docs/_meetings/2025/week-of-08-25-2025/Dineshraj Dhanapathy.md
Labels: area/docs

#15702 Update events_streamer.go for improved functionality
  server/handlers/events_streamer.go
Labels: component/server

#15700 [ui]: chore: connectivity buttons: update meshsync connectivity button text
  ui/components/hooks/useKubernetesHook.js
Labels: component/ui

#15698 create yaqoob-attendence.md
  docs/_meetings/2025/week-of-0519-2025/yaqoob.md
Labels: area/docs, issue/dco

#15674 fix: using same data source for all k8 connection chips.
  ui/components/Dashboard/view.js
  ui/components/Header.js
  ui/components/connections/metadata.js
Labels: component/ui

#15658 Nemy/meshery
  docs/_meetings/2025/week-of-08-18-2025/Nemy.md
Labels: area/docs

#15646 Create Nemy.md
  docs/_meetings/2025/week-of-08-18-2025/Nemy.md
Labels: area/docs, issue/dco

#15633 Fix: Database Summary Table Scrolling Behavior Problem
  ui/components/DatabaseSummary.js
Labels: component/ui

#15486 adanshahid
  docs/_meetings/2025/week-of-07-28-2025/adanShahid.md
Labels: area/docs, issue/dco

#15718 chore(mesheryctl): update list table output implementation after upgrade to v1.0.x
  mesheryctl/internal/cli/pkg/display/display.go
  mesheryctl/internal/cli/pkg/display/pagination.go
  mesheryctl/internal/cli/root/design/list.go
  mesheryctl/internal/cli/root/filter/list.go
  mesheryctl/internal/cli/root/model/import.go
  mesheryctl/internal/cli/root/perf/profile.go
  mesheryctl/internal/cli/root/perf/result.go
  mesheryctl/internal/cli/root/system/status.go
  mesheryctl/internal/cli/root/version.go
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl
