Repository meshery/meshery, pull requests merged in 2025-10, with the labels that each got.

#15836 Fix Meshery Helm chart installation with `meshery-operator.enabled=true`
  install/kubernetes/helm/meshery/Chart.lock
  install/kubernetes/helm/meshery/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-operator-0.8.0.tgz
  install/kubernetes/helm/meshery/values.yaml
Labels: framework/helm, kubernetes

#15902 fix(e2e bats): tests 05-model-view.bats fail
  mesheryctl/tests/e2e/002-model/05-model-view.bats
  mesheryctl/tests/e2e/002-model/testdata/model-view/exp_out_existing_model.txt
  mesheryctl/tests/e2e/002-model/testdata/model-view/exp_out_json.txt
  mesheryctl/tests/e2e/002-model/testdata/model-view/exp_out_yaml.txt
Labels: component/mesheryctl, area/tests

#15962 Fix: remove duplicate community member form line
  docs/pages/project/contributing/contributing.md
Labels: area/docs

#16025 Add Rajesh Nagarajan's attendance note
  docs/_meetings/2025/week-of-09-29-2025/Rajesh-Nagarajan-11.md
Labels: area/docs

#16023 attendace_01.10.2025
  docs/_meetings/2025/week-of-09-29-2025/oscar_gonzalez.md
Labels: area/docs

#16021 Create roshan.md
  docs/_meetings/2025/week-of-09-29-2025/roshan.md
Labels: area/docs

#16019 Aastha_Bhat-Mark_Attendance
  docs/_meetings/2025/week-of-09-29-2025/Aastha_Bhat-Mark_Attendance
Labels: area/docs

#16015 Create Fatma_Hashem
  docs/_meetings/2025/week-of-09-29-2025/Fatma_Hashem
Labels: area/docs

#16012 Add marking_attendance.md for meeting notes
  docs/_meetings/2025/week-of-09-29-2025/marking_attendance.md
Labels: area/docs

#16014 (James) Kanin Kearpimy - Introduction
  docs/_meetings/2025/week-of-09-29-2025/(James)_Kanin_Kearpimy.md
Labels: area/docs

#16022 Create Mohammed_Affan
  docs/_meetings/2025/week-of-09-29-2025/Mohammed_Affan
Labels: area/docs

#16010 Create marking_attendance.md
  docs/_meetings/2025/week-of-09-29-2025/marking_attendance.md
Labels: area/docs

#16018 Create Kishore B.md
  docs/_meetings/2025/week-of-09-29-2025/Kishore B.md
Labels: area/docs

#16017 meeting attendance
  docs/_meetings/2025/week-of-09-22-2025/Amisha_Chhajed.md
Labels: area/docs

#16047 [Docs] Exclude meeting minutes and attendance records from Jekyll collection
  docs/meetings/archive/weekly.md
Labels: area/docs

#16013 Introduction Kavya_Katal.md
  docs/_meetings/2025/week-of-09-22-2025/Kavya_Katal.md
Labels: area/docs

#16016 Attendance
  docs/_meetings/2025/week-of-09-29-2025/tanishka.md
Labels: area/docs

#16011 Create SutanjoyPal.md
  docs/_meetings/2025/week-of-09-29-2025/SutanjoyPal.md
Labels: area/docs

#16065 [dependencies] use meshery/meshery-operator isntead of layer5io/meshery-operator
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/pkg/utils/helpers.go
  server/internal/graphql/model/operator_helper.go
Labels: component/mesheryctl, component/server

#16071 [Model catalog] Import cluster-registry model and build the model OCI…
  hacktoberfest_contributions/cluster-registry/cluster-registry.tar
Labels: hacktoberfest

#16070 [Model catalog] Import clusternet-agent model and build the model OCI…
  hacktoberfest_contributions/clusternet-agent/clusternet-agent.tar
Labels: hacktoberfest

#16068 [Model catalog] Import cnpg-sandbox model and build the model OCI ima…
  hacktoberfest_contributions/cnpg-sandbox/cnpg-sandbox.tar
Labels: hacktoberfest

#16033 Add ClickHouse + OpenTelemetry + HyperDX architecture design
  hacktoberfest_contributions/clickhouse-architecture/design.yml
Labels: hacktoberfest

#16106 Readme: update hero with play button
  .github/assets/images/readme/meshery-dashboard-hero-image.png
Labels: area/ci

#16113 Add ms payments rest design #16097
  hacktoberfest_contributions/ms-payments-rest/ms-payments-rest.yml
Labels: hacktoberfest-accepted

#16123 [Meshery Design] Import ms-emails-grpc helm chart and publish to meshery catalog
  hacktoberfest_contributions/ms-emails-grpc-0.0.11.tgz_c5802d25dfeb.yaml
Labels: hacktoberfest-accepted
