Repository meshery/meshery, pull requests merged in 2025-02, with the labels that each got.

#13430 [Chore]: Bump Sistent v0.14.148
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13423 Add support for workspace data table, teams, views and recent activity
  ui/assets/icons/DesignIcon.js
  ui/assets/icons/Workspace.js
  ui/components/Lifecycle/Environments/styles.js
  ui/components/Lifecycle/Workspaces/MesheryWorkspaceCard.js
  ui/components/Lifecycle/Workspaces/hooks.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/Lifecycle/Workspaces/styles.js
  ui/components/Lifecycle/Workspaces/workspace-card.js
  ui/components/Lifecycle/Workspaces/workspace-table.js
  ui/components/MesheryPatterns.js
  ui/components/Modal.js
  ui/components/ViewSwitch.js
  ui/rtk-query/user.js
  ui/rtk-query/workspace.js
  ui/utils/hooks/useNotification.js
  ui/utils/permission_constants.js
Labels: component/ui, pr/do-not-merge

#13449 [Chore]: Bump Sistent v0.14.149
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13452 [Chore]: Bump Sistent v0.14.150
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13446 Migrating events endpoint to system endpoints
  server/handlers/server_events_configuration_handler.go
  server/router/server.go
  ui/rtk-query/notificationCenter.js
Labels: component/ui, component/server

#13456 Souvik/chore/release
  ROADMAP.md
  docs/_releases/roadmap-v0.7.md
  docs/_releases/roadmap-v0.8.md
  docs/_releases/roadmap-v0.9.md
  go.mod
  go.sum
Labels: area/docs

#13458 fix: onclick behaviour for the kanvas menu
  ui/components/General/error-404/index.js
  ui/components/General/error-404/styles.js
  ui/components/Navigator.js
  ui/rtk-query/ability.js
Labels: component/ui

#13459 replace discuss link and rm layer5 yt links
  docs/_includes/footer.html
  docs/pages/project/community.md
  docs/pages/reference/error-codes.md
  ui/components/General/error-404/index.js
Labels: area/docs, component/ui

#13460 add support for kustomize
  go.mod
  go.sum
  server/handlers/design_import.go
Labels: component/server

#13469 chore
  docs/_includes/header.html
  docs/pages/guides/tutorials/deploy-cassandra-with-statefulset.md
  docs/pages/guides/tutorials/deploy-php-redis.md
  docs/pages/guides/tutorials/kubernetes-configmaps-secrets.md
  docs/pages/guides/tutorials/kubernetes-pods.md
  docs/pages/guides/tutorials/wordpress-mysql-persistentvolume.md
Labels: area/docs

#13471 Fix: Corrected casing of 'visibility' to maintain consistency
  ui/components/MesheryPatterns.js
Labels: component/ui

#13475 Update vendor links
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  install/docker-extension/ui/src/components/utils/constants.js
  mesheryctl/internal/cli/root/system/stop.go
  provider-ui/lib/data-fetch.js
  provider-ui/pages/auth/redirect.js
  server/machines/helpers/auto_register.go
  ui/components/Popup.js
  ui/components/TroubleshootingModalComponent.js
  ui/pages/extensions.js
  ui/utils/Enum.js
Labels: component/mesheryctl, component/ui, component/extensions, component/server

#13474 update environment doc links
  mesheryctl/internal/cli/root/environments/create.go
  mesheryctl/internal/cli/root/environments/delete.go
  mesheryctl/internal/cli/root/environments/environment.go
  mesheryctl/internal/cli/root/environments/list.go
Labels: component/mesheryctl

#13422 marking-my-attendance-abhimanyu-27-jan
  docs/_meetings/week-of-01-27-2025/abhimanyu.md
Labels: area/docs

#13468 Fix Placeholder Overlap in TextField When Selecting Available Adapter on First Render
  ui/components/MeshAdapterConfigComponent.js
Labels: component/ui

#13464 [mesheryctl] nit: improve error logging for `registry generate` using csv files from local directory
  mesheryctl/internal/cli/root/registry/generate.go
Labels: component/mesheryctl

#13485 chore: remove -n flag and update permalink file for helm kanvas snapshot
  docs/pages/extensions/helm-kanvas-snapshot/index.md
Labels: area/docs

#13479 Rename crds
  docs/pages/concepts/architectural/meshsync.md
  docs/pages/reference/meshync-crd-reference.md
  install/kubernetes/helm/meshery-operator/charts/meshery-broker/templates/meshery_v1alpha1_broker_cr.tpl
  install/kubernetes/helm/meshery-operator/charts/meshery-meshsync/templates/meshery_v1alpha1_broker_cr.tpl
  install/kubernetes/helm/meshery-operator/crds/crds.yaml
  install/kubernetes/helm/meshery-operator/templates/clusterrole.yaml
  install/kubernetes/helm/meshery/crds/crds.yaml
Labels: area/docs, framework/helm, kubernetes

#13497 [Docs] fix a typo
  docs/pages/project/contributing/contributing-models-quick-start.md
Labels: area/docs

#13499 Ad gupta patch 2
  docs/_meetings/week-of-01-06-2025/awadhesh-gupta
  docs/_meetings/week-of-01-06-2025/awadhesh-intro
Labels: area/docs

#13495 Create marking-my-attendance-for-the-week-of-02-03-2025.md
  docs/_meetings/week-of-02-03-2025/marking-my-attendance-for-the-week-of-02-03-2025.md
Labels: area/docs

#13494 Marking My Attendance for the newcomers Meeting 02-03-2025
  docs/_meetings/week-of-02-03-2025/Arpit_Srivastava.md
Labels: area/docs

#13493 Create oscar-gonzalez.md
  docs/_meetings/week-of-02-03-2025/oscar-gonzalez.md
Labels: area/docs

#13498 Create Pranjali_Bhardwaj
  docs/_meetings/week-of-02-03-2025/Pranjali_Bhardwaj
Labels: area/docs

#13500 update discussion forum links
  .github/ISSUE_TEMPLATE/ci.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/fbug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/meshery-extensions_bug.md
  .github/ISSUE_TEMPLATE/meshery-extensions_feature.md
  .github/ISSUE_TEMPLATE/meshery-ui_bug.md
  .github/ISSUE_TEMPLATE/meshery-ui_feature.md
  .github/ISSUE_TEMPLATE/mesheryctl_bug.md
  .github/ISSUE_TEMPLATE/mesheryctl_feature.md
  .github/ISSUE_TEMPLATE/models.md
  .github/ISSUE_TEMPLATE/playground.md
  .github/config.yml
  README.md
  docs/_data/navigation.yml
  docs/_includes/discuss.html
  docs/_includes/footer.html
  docs/_includes/related-discussions.html
  docs/pages/concepts/architectural/architecture.md
  docs/pages/concepts/architectural/catalog.md
  docs/pages/extensions/kanvas/index.md
  docs/pages/extensions/kanvas/merging-a-design.md
  docs/pages/extensions/kanvas/sharing-a-design.md
  docs/pages/index.md
  docs/pages/project/contributing/contributing-docs.md
  docs/pages/project/contributing/contributing.md
  docs/pages/reference/error-codes.md
  install/docker-extension/Dockerfile
  install/docker-extension/README.md
  ui/components/ErrorPage.js
  ui/components/General/error-404/index.js
  ui/components/Navigator.js
  ui/components/TroubleshootingModalComponent.js
Labels: area/docs, area/ci, component/ui, component/extensions

#13502 Update meshery-linkerd references to use the new repository path
  README.md
  install/deployment_yamls/k8s/meshery-linkerd-deployment.yaml
  install/docker/Dockerfile
  install/kubernetes/helm/meshery/charts/meshery-linkerd/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-linkerd/README.md
  install/kubernetes/helm/meshery/charts/meshery-linkerd/values.yaml
  install/mesheryapp.dockerapp/docker-compose.yml
  install/playground/docker/docker-compose.yaml
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl, framework/helm, kubernetes, playground

#13506 ci/chore/more docker repos
  install/deployment_yamls/k8s/meshery-app-mesh-deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-app-mesh/README.md
  install/kubernetes/helm/meshery/charts/meshery-app-mesh/values.yaml
  mesheryctl/pkg/utils/helpers.go
Labels: component/mesheryctl, framework/helm, kubernetes

#13507 Update links
  .github/workflows/discussions-data-files-update.yml
  docs/_data/discuss/meshery.json
  docs/_data/discuss/mesheryctl.json
  docs/_data/navigation.yml
  docs/_data/toc.yml
  docs/_includes/discuss.html
  docs/_includes/footer.html
  docs/_includes/related-discussions.html
  docs/pages/concepts/architectural/architecture.md
  docs/pages/concepts/architectural/catalog.md
  docs/pages/extensions/kanvas/index.md
  docs/pages/extensions/kanvas/merging-a-design.md
  docs/pages/extensions/kanvas/sharing-a-design.md
  docs/pages/guides/tutorials/deploy-cassandra-with-statefulset.md
  docs/pages/guides/tutorials/deploy-php-redis.md
  docs/pages/guides/tutorials/exploring-kubernetes-cronjobs.md
  docs/pages/guides/tutorials/kubernetes-pods.md
  docs/pages/guides/tutorials/wordpress-mysql-persistentvolume.md
  docs/pages/index.md
  docs/pages/project/contributing/contributing-docs.md
  docs/pages/project/contributing/contributing.md
  docs/pages/project/security-vulnerabilities.md
  docs/pages/reference/error-codes.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-environment-create.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-environment-delete.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-environment-list.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-environment.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-workspace-create.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-workspace-list.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-workspace.md
Labels: area/docs, area/ci

#13508 refactor: removed the kube status error formatter (handled in meshkit now)
  server/models/pattern/patterns/k8s/error.go
  server/models/pattern/patterns/k8s/k8s.go
Labels: component/server

#13503 Cleanup pattern post handler
  docs/_data/swagger.yml
  go.sum
  server/handlers/meshery_pattern_handler.go
  server/helpers/swagger.yaml
  ui/components/Modals/Information/InfoModal.js
  ui/package-lock.json
  ui/package.json
Labels: area/docs, component/ui, component/server

#13516 [Chore]: Bump Sistent v0.14.151
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13482 Final migration of MUIV4 to MUIv5 / Sistent
  CONTRIBUTING.md
  ui/components/DesignLifeCycle/styles.js
  ui/components/ErrorPage.js
  ui/components/Filters.js
  ui/components/General/error-404/OrgSwitcher.js
  ui/components/General/error-404/RequestForm.js
  ui/components/General/error-404/index.js
  ui/components/Header.styles.js
  ui/components/HeaderMenu.js
  ui/components/Lifecycle/Environments/index.js
  ui/components/Lifecycle/Environments/styles.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/Lifecycle/Workspaces/styles.js
  ui/components/MeshModelRegistry/MeshModel.style.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/components/MesheryCredentialComponent.js
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/Accordion.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ArrayFieldTemlate.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomBaseInput.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomCheckboxWidget.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomSelectWidget.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/ObjectFieldTemplate.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/WrapIfAdditionalTemplate.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
  ui/components/MesheryMetrics.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/Cards.styles.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/MesheryPatterns/style.js
  ui/components/MesheryPerformance/Dashboard.js
  ui/components/MesheryPerformance/PerformanceCard.js
  ui/components/MesheryPerformance/PerformanceProfiles.js
  ui/components/MesherySettingsPerformanceComponent.js
  ui/components/NotificationCenter/index.js
  ui/components/PageContext.js
  ui/components/SistentWrapper.js
  ui/components/TroubleshootingModalComponent.js
  ui/components/TypingFilter/index.js
  ui/components/TypingFilter/style.js
  ui/components/UserPreferences/spaces-preferences.js
  ui/components/configuratorComponents/MeshModel/index.js
  ui/components/connections/ConnectionChip.js
  ui/components/connections/ConnectionTable.js
  ui/components/connections/index.js
  ui/components/connections/meshSync/Stepper/index.js
  ui/components/connections/styles.js
  ui/components/multi-select-wrapper.js
  ui/components/reusable-tooltip.js
  ui/components/telemetry/grafana/GrafanaCustomGaugeChart.js
  ui/components/telemetry/grafana/GrafanaSelectionComponent.js
  ui/css/disableComponent.styles.js
  ui/package-lock.json
  ui/package.json
  ui/pages/_app.js
  ui/remote-component.config.js
  ui/themes/App.styles.js
  ui/themes/app.js
  ui/themes/index.js
  ui/themes/rjsf.js
Labels: component/ui, component/extensions

#13525 Update kanvas.yml
  .github/workflows/kanvas.yml
Labels: area/ci

#13524 Fix[UI]: prevent advancing from environment step without k8s cluster selection
  ui/components/DesignLifeCycle/DeployStepper.js
Labels: component/ui

#13519 Update example number
  docs/pages/concepts/logical/relationships.md
Labels: area/docs

#13467 Adding number list in the notification center
  ui/components/NotificationCenter/metadata.js
Labels: component/ui

#13540 update event description
  server/handlers/design_import.go
Labels: component/server

#13537 Fix docs link for Meshsync's documentation
  docs/pages/concepts/logical/connections.md
  docs/v0.7/concepts/logical/connections.html
Labels: area/docs

#13539 Fix some regression, responsive issue and already present theme issue
  ui/assets/styles/general/tool.styles.js
  ui/components/CustomAvatar.js
  ui/components/DashboardComponent/charts/ConnectionCharts.js
  ui/components/DashboardComponent/charts/DashboardMeshModelGraph.js
  ui/components/DashboardComponent/charts/MesheryConfigurationCharts.js
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/view.js
  ui/components/Filters.js
  ui/components/General/style.js
  ui/components/Header.js
  ui/components/Header.styles.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/components/MesheryMeshInterface/PatternService/RJSFCustomComponents/CustomBaseInput.js
  ui/components/MesheryPerformance/Dashboard.js
  ui/components/Navigator.js
  ui/components/ReactSelectWrapper.js
  ui/components/connections/ConnectionChip.js
  ui/components/connections/styles.js
  ui/pages/_app.js
  ui/themes/App.styles.js
  ui/themes/rjsf.js
Labels: component/ui

#13420 [mesheryctl] Fix error logs for non importable files
  mesheryctl/internal/cli/root/model/import.go
  server/handlers/componetgenratorhelper.go
Labels: component/mesheryctl, component/server

#13534 fix: notification panel visibility when scrolling
  ui/pages/_app.js
  ui/themes/App.styles.js
Labels: component/ui

#13172 adds org command
  docs/_data/mesheryctlcommands/cmds.yml
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/internal/cli/root/orgs/list.go
  mesheryctl/internal/cli/root/orgs/org.go
Labels: area/docs, component/mesheryctl

#13547 Fix errors in PR #13420
  server/handlers/componetgenratorhelper.go
Labels: component/server

#13549 fix: some rjsf and notification theme
  ui/themes/App.styles.js
  ui/themes/rjsf.js
Labels: component/ui

#13486 Converted Node Capacity Values to Readable Units
  ui/components/DashboardComponent/view-component.js
Labels: component/ui

#13557 show workspace information based on the permission
  ui/components/Lifecycle/Workspaces/MesheryWorkspaceCard.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/components/Lifecycle/Workspaces/workspace-table.js
  ui/utils/permission_constants.js
Labels: component/ui

#13553 Import perf logs
  server/handlers/design_import.go
Labels: component/server

#13559 set capabilities to be empty for declarations
  server/handlers/policy_relationship_handler.go
  server/models/pattern/core/pattern.go
Labels: component/server

#13476 [mesheryctl] refactor and enhance `mesheryctl design import`
  mesheryctl/helpers/component_info.json
  mesheryctl/internal/cli/root/design/error.go
  mesheryctl/internal/cli/root/design/import.go
  mesheryctl/internal/cli/root/design/import_test.go
  mesheryctl/internal/cli/root/design/onboard.go
  mesheryctl/internal/cli/root/design/onboard_test.go
Labels: component/mesheryctl

#13560 Manifest to design conversion optimization
  go.mod
  go.sum
  server/handlers/design_import.go
  server/handlers/policy_relationship_handler.go
  server/models/pattern/core/pattern.go
Labels: component/server

#13564 [Docs] Update documentation for cloud native infrastructure and remove service mesh references
  des-all-pods-m3.yaml
  docs/_data/mesheryctlcommands/cmds.yml
  docs/_data/notes/node-metrics-collection.md
  docs/_includes/compatibility/past-results.html
  docs/_meetings/week-of-01-27-2025/abhimanyu.md
  docs/_models/docker.md
  docs/_models/prometheus.md
  docs/pages/concepts/logical/components.md
  docs/pages/extensibility/providers.md
  docs/pages/getting-started/overview.md
  docs/pages/guides/infrastructure-management/deploying-sample-apps.md
  docs/pages/guides/infrastructure-management/gitops-with-meshery.md
  docs/pages/guides/performance-management/meshery-metrics.md
  docs/pages/guides/performance-management/performance-management.md
  docs/pages/guides/smi-conformance.md
  docs/pages/index.md
  docs/pages/installation/index.md
  docs/pages/installation/kubesphere.md
  docs/pages/project/playground.md
  get-all-pods-m3.yaml
Labels: area/docs

#13567 write http errors
  server/handlers/design_import.go
Labels: component/server

#13568 fixed the missing s in design
  docs/pages/concepts/logical/relationships.md
Labels: area/docs

#13571 docs: Add YouTube recording of e2e test training session
  docs/pages/project/contributing/contributing-ui-tests.md
Labels: area/docs

#13512 Fix: Improve notification text box styling
  ui/components/TypingFilter/style.js
Labels: component/ui

#13510 Add meeting attendance for Zihan Kuang in newcomers meeting (02-03-2025)
  FETCH_HEAD
  docs/_meetings/week-of-02-03-2025/zihan-kuang.md
Labels: area/docs

#13575 use brand color of the success notification
  ui/themes/App.styles.js
Labels: component/ui

#13582 docs: update archive script
  docs/meshery
  docs/script.sh
Labels: area/docs

#13543 remove unused dependencies for meshery ui
  ui/components/VerticalCarousel/VerticalCarousel.js
  ui/package-lock.json
  ui/package.json
Labels: component/ui, pr/do-not-merge

#13598 realign connection info button
  ui/components/connections/ConnectionChip.js
  ui/components/connections/ConnectionTable.js
Labels: component/ui

#13606 Marking attendence for 02-10-2025
  docs/_meetings/week-of-02-10-2025/Ishaan-Sharma-attendance.md
Labels: area/docs

#13605 mark attandence for week of 02-10-2025
  docs/_meetings/week-of-02-10-2025/falgun-patel.md
Labels: area/docs

#13604 Create mahadevan-ks-feb-13-attendance.md
  docs/_meetings/week-of-02-10-2025/mahadevan-ks-feb-13-attendance.md
Labels: area/docs

#13603 Marking attandence for week of 02-10-2025
  docs/_meetings/week-of-02-10-2025/Harsh_Prakash.md
Labels: area/docs

#13600 mark-attandance-for-the-week-of-02-10-2025
  docs/_meetings/week-of-02-10-2025/vivek-vishal.md
Labels: area/docs

#13538 Fixed the duplicate import sub-command
  docs/_data/mesheryctlcommands/cmds.yml
  docs/pages/reference/mesheryctl-commands.md
  mesheryctl/internal/cli/root/model/generate.go
Labels: area/docs, component/mesheryctl

#13610 [Chore]: Bump Sistent v0.14.153
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13504 enhancement: Optimize Notification UI
  ui/components/DataFormatter/index.js
  ui/components/DesignLifeCycle/DeploymentSummary.js
  ui/components/NotificationCenter/metadata.js
  ui/components/NotificationCenter/notification.js
  ui/components/NotificationCenter/notificationCenter.style.js
Labels: component/ui

#13618 [Chore]: Bump Sistent v0.14.154
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13612 Update node version 18 to node 20
  .github/workflows/build-ui-and-server.yml
  .github/workflows/build-ui-server-reusable-workflow.yml
  .github/workflows/redocly.yml
  Makefile
  docs/pages/project/contributing/contributing-ui.md
  install/docker/Dockerfile
  install/docker/testing/Dockerfile
  provider-ui/package-lock.json
  provider-ui/package.json
  ui/README.md
  ui/components/Markdown.js
  ui/package-lock.json
  ui/package.json
Labels: area/docs, area/ci, component/ui, pr/do-not-merge

#13616 Evaluation Optimizations
  server/handlers/policy_relationship_handler.go
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/alias_policy.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/evaluation.rego
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/matchlabels-policy.rego
Labels: component/server, area/models

#13608 chore: remove extra Qanelas Soft font files, keep only Regular
  docs/_sass/fonts.scss
  docs/assets/fonts/qanelas-soft/QanelasSoftBlack.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftBlackItalic.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftBold.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftBoldItalic.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftExtraBold.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftExtraBoldItalic.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftHeavy.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftHeavyItalic.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftLight.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftLightItalic.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftMedium.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftMediumItalic.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftRegularItalic.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftSemiBold.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftSemiBoldItalic.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftThin.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftThinItalic.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftUltraLight.otf
  docs/assets/fonts/qanelas-soft/QanelasSoftUltraLightItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftBlack.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftBlackItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftBold.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftBoldItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftExtraBold.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftExtraBoldItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftHeavy.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftHeavyItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftLight.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftLightItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftMedium.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftMediumItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftRegularItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftSemiBold.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftSemiBoldItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftThin.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftThinItalic.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftUltraLight.otf
  ui/public/static/fonts/qanelas-soft/QanelasSoftUltraLightItalic.otf
  ui/public/static/style/font.css
Labels: area/docs, component/ui

#13545 Fix performance test failure in local provider
  server/models/default_local_provider.go
Labels: component/server

#13624 Show only honeycomb widget for the local provider
  ui/components/DashboardComponent/defaultLayout.js
  ui/components/DashboardComponent/index.js
Labels: component/ui

#13627 Fix nil crash
  go.mod
  go.sum
  server/handlers/policy_relationship_handler.go
Labels: component/server

#13633 fix(docs): remove incorrect diagram from Credentials page
  docs/assets/img/meshsync/states-for-unmanaged-connections.svg
  docs/pages/concepts/logical/credentials.md
Labels: area/docs

#13637 [Chore]: Bump Sistent v0.14.155
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13636 fix: getting started progress bar is not working
  ui/components/DashboardComponent/widgets/getting-started/index.js
  ui/components/Lifecycle/Workspaces/index.js
  ui/rtk-query/user.js
Labels: component/ui

#13642 [Chore]: Bump Sistent v0.14.156
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13649 Remove mui/styles and mui/lab library
  ui/components/Filters.js
  ui/components/MesheryFilters/FiltersCard.js
  ui/components/MesheryPatterns/Cards.styles.js
  ui/components/MesheryPatterns/MesheryPatternCard.js
  ui/components/Modals/ImportModal.js
  ui/components/YamlDialog.js
  ui/package-lock.json
  ui/package.json
  ui/remote-component.config.js
Labels: component/ui, component/extensions

#13640 Enabled collaborator extension
  ui/components/ExtensionSandbox.js
Labels: component/ui, pr/do-not-merge, component/extensions

#13639 fix[ui]: Improve contrast and enhance readability in performance page
  ui/components/MesheryPerformance/style.js
Labels: component/ui

#13583 Meshery UI : Refactor MesheryResult from Class to Functional Component
  ui/components/MesheryResults.js
  ui/rtk-query/meshResult.js
Labels: component/ui

#13650 [docs/ux] Helm Kanvas Snapshot
  docs/pages/extensions/helm-kanvas-snapshot/index.md
Labels: area/docs

#13632 docs: fix link formatting in readme and fix lint errors
  README.md
  ui/components/connections/ConnectionChip.js
Labels: component/ui

#13658 fix: dashboard tabs crash issue
  ui/components/DashboardComponent/resources/configuration/config.js
  ui/components/DashboardComponent/resources/crds/config.js
  ui/components/DashboardComponent/resources/namespace/config.js
  ui/components/DashboardComponent/resources/network/config.js
  ui/components/DashboardComponent/resources/nodes/config.js
  ui/components/DashboardComponent/resources/security/config.js
  ui/components/DashboardComponent/resources/storage/config.js
  ui/components/DashboardComponent/resources/workloads/config.js
  ui/components/DashboardComponent/view.js
  ui/components/MesherySettingsEnvButtons.js
  ui/components/connections/ConnectionTable.js
  ui/components/connections/metadata.js
Labels: component/ui

#13660 [Chore]: Bump Sistent v0.14.157
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13629 Add Blog Feed Widget on Dashboard
  ui/components/DashboardComponent/defaultLayout.js
  ui/components/DashboardComponent/widgets/LatestBlogs.js
  ui/components/DashboardComponent/widgets/Thumbnails/LatestBlogs.png
  ui/components/DashboardComponent/widgets/getWidgets.js
Labels: component/ui

#13661 Revert "Delete .github/workflows/build-ui-server-reusable-workflow.yml"
  .github/workflows/build-ui-server-reusable-workflow.yml
Labels: area/ci

#13390 [provider ui] initiate move to dark "mode"
  provider-ui/components/Footer.js
  provider-ui/components/Provider.js
  provider-ui/components/Provider.style.js
  provider-ui/components/ProviderLayout.js
  provider-ui/components/SistentWrapper.js
  provider-ui/package-lock.json
  provider-ui/package.json
  provider-ui/pages/_app.js
  provider-ui/pages/_document.js
  provider-ui/public/static/img/meshery-logo/meshery-logo-dark-text-noBG.png
  provider-ui/styles/theme.js
Labels: component/ui, pr/draft

#13663 refactor: convert GrafanaChart from class based to functional component
  ui/components/telemetry/grafana/GrafanaCharts.js
Labels: component/ui

#13664 fix: playwright test failing
  ui/tests/e2e/connections.spec.js
Labels: component/ui, tests

#13672 fix: connection page failing test
  ui/tests/e2e/connections.spec.js
Labels: component/ui, tests

#13673 Update build-ui-server-reusable-workflow.yml
  .github/workflows/build-ui-server-reusable-workflow.yml
Labels: area/ci

#13675 fix: registry page drop down ignore label issue
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/components/MeshModelRegistry/MesheryTreeView.js
  ui/themes/App.styles.js
Labels: component/ui

#13689 20-Feb-2025 marking attendance register
  docs/_meetings/week-of-02-17-2025/tsotetsi-thapelo.md
Labels: area/docs

#13678 marking-my-attendance-for-the-week-of-02-17-2025
  docs/_meetings/week-of-02-17-2025/vivek-vishal.md
Labels: area/docs

#13692 Create Add-Me-File
  docs/_meetings/week-of-02-17-2025/Mercy-Boma-Naps-Nkari.md
Labels: area/docs

#13680 Marking the attandence for week-02-17-2025
  docs/_meetings/week-of-02-17-2025/harsh-prakash.md
Labels: area/docs

#13683 Marking-My-Attendance-For-Week-17-02-25
  docs/_meetings/week-of-02-17-2025/Shreekara-Rajendra.md
Labels: area/docs

#13681 Marking-My-Attendance-For-Week-17-02-25
  docs/_meetings/week-of-02-17-2025/kush-kapadia.md
Labels: area/docs

#13676 [UI]: `extension/[...component].js` file from Class-Based Component to Functional Component
  ui/pages/extension/[...component].js
Labels: component/ui

#13421 doc: added contributing guide to meshery schema
  docs/_data/toc.yml
  docs/pages/project/contributing/contributing-schemas.md
Labels: area/docs

#13694 fix: sidebar navitems icons color when selected
  ui/components/Navigator.js
Labels: component/ui

#13696 Revert "[UI]: `extension/[...component].js` file from Class-Based Component to Functional Component"
  ui/pages/extension/[...component].js
Labels: component/ui

#13697 Update Event-formatting docs
  ui/components/NotificationCenter/README.md
  ui/tests/e2e/indexui.spec.js
Labels: component/ui, tests

#13698 [Chore]: Bump Sistent v0.14.158
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13699 [CI] Use correct secret in release drafter workflow
  .github/workflows/release-drafter.yml
Labels: area/ci

#13674 fix: responsive issue for the dashboard
  ui/components/DashboardComponent/components.js
  ui/components/DashboardComponent/index.js
Labels: component/ui

#13701 reinstate padding for the snackbar
  ui/components/DashboardComponent/components.js
  ui/themes/App.styles.js
Labels: component/ui

#13703 Create Aman-mogal.md
  docs/_meetings/week-of-02-17-2025/Aman-mogal.md
Labels: area/docs

#13708 Chore: Avoid deprecated golangci-lint config; Enhance Meshery Error Code details
  .golangci.yml
  docs/_data/errorref/meshkit_errors_export.json
  package-lock.json
Labels: area/docs

#13709 [CI] Chore: Upgrade to Ubuntu 24.04 as the runner
  .github/workflows/build-and-preview-site.yml
  .github/workflows/build-and-release-dde.yml
  .github/workflows/build-and-release-edge.yml
  .github/workflows/build-and-release-stable.yml
  .github/workflows/build-release.yml
  .github/workflows/build-ui-and-server.yml
  .github/workflows/build-ui-server-reusable-workflow.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2etest.yaml
  .github/workflows/error-codes-updater.yaml
  .github/workflows/eslint-gh.yml
  .github/workflows/generate_keys.yml
  .github/workflows/go-mod-sync.yaml
  .github/workflows/go-testing-ci.yml
  .github/workflows/graphql.yml
  .github/workflows/helm-chart-releaser.yml
  .github/workflows/integrations-updater.yml
  .github/workflows/invitations.yml
  .github/workflows/label-commenter.yml
  .github/workflows/labeler.yml
  .github/workflows/mesheryctl-ci.yml
  .github/workflows/mesheryctl-e2e.yaml
  .github/workflows/model-generator.yml
  .github/workflows/multi-platform.yml
  .github/workflows/notify-providers.yaml
  .github/workflows/preview-site.yml
  .github/workflows/redocly.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-notes.yml
  .github/workflows/slack.yml
  .github/workflows/swagger.yml
  .github/workflows/test_adapters.yaml
  .github/workflows/test_adaptersv2.yaml
Labels: area/ci

#13710 leecalcote/golang/chore
  .github/workflows/build-and-release-ctl.yml
Labels: area/ci

#13711 [Provider UI] Add Qanelas Soft Regular font
  provider-ui/public/static/fonts/qanelas-soft/QanelasSoftRegular.otf
Labels: component/ui

#13712 [CI] Tag-name property for Homebrew packages
  .github/workflows/build-and-release-ctl.yml
Labels: area/ci

#13713 [Provider UI] Style fix
  provider-ui/components/Footer.js
  provider-ui/components/Provider.js
  provider-ui/components/Provider.style.js
  provider-ui/components/ProviderLayout.js
  provider-ui/pages/_app.js
Labels: component/ui

#13722 [Chore]: Bump Sistent v0.14.159
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#13732 fix: build step failure experiements
  provider-ui/components/Footer.js
  provider-ui/components/Provider.js
  provider-ui/components/Provider.style.js
  provider-ui/components/ProviderLayout.js
  provider-ui/pages/_app.js
Labels: area/ci, component/ui

#13741 feat: Change font family in Children component to ensure differentiation from root
  ui/components/DataFormatter/index.js
  ui/components/LoadingComponents/LoadingComponentServer.js
  ui/components/Modals/Information/styles.js
  ui/components/SpacesSwitcher/SpaceSwitcher.js
  ui/components/TroubleshootingModalComponent.js
Labels: component/ui

#13684 fix: fix shape generic node and polygon
  docs/assets/shapes/GenericNode.svg
  docs/assets/shapes/Polygon.svg
Labels: area/docs

#13724 Fix/prom charts UI remote provider
  server/models/remote_provider.go
  ui/components/StyledAccordion.js
  ui/components/telemetry/grafana/GrafanaCustomCharts.js
  ui/components/telemetry/prometheus/PrometheusComponent.js
  ui/components/telemetry/prometheus/PrometheusSelectionComponent.js
Labels: component/ui, component/server

#13720 Enhance footer styling and layout adjustments for improved responsive…
  docs/Gemfile.lock
  docs/_sass/footer.scss
  docs/_sass/layout.scss
  docs/_sass/root-variables.scss
Labels: area/docs

#13721 fix linting issue in provider ui
  provider-ui/.eslintrc.js
  provider-ui/components/Footer.js
  provider-ui/components/Provider.js
  provider-ui/components/Provider.style.js
  provider-ui/components/ProviderLayout.js
  provider-ui/next.config.js
  provider-ui/pages/_app.js
  provider-ui/pages/_document.js
  provider-ui/pages/auth/login.js
  provider-ui/ui_dev_server.js
Labels: component/ui

#13745 Don't lint UI and Provider UI on PRs with only Docs updates.
  .github/workflows/eslint-gh.yml
Labels: area/ci

#13718 fix: removed unused fetch util
  ui/tests/e2e/utils/fetch.js
Labels: component/ui, tests

#13747 [FIX] Settings: Overview charts have clipping and overflow in color legend
  ui/components/BBChart.js
Labels: component/ui

#13749 Fix issue with the dashboard
  ui/components/DashboardComponent/components.js
  ui/components/DashboardComponent/defaultLayout.js
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/style.js
  ui/components/DashboardComponent/widgets/LatestBlogs.js
  ui/themes/App.styles.js
Labels: component/ui

#13750 fix(ui): resolve horizontal overflow issue on Dashboard
  ui/themes/App.styles.js
Labels: component/ui

#13755 Display only data with valid children in the registrant tab
  ui/components/MeshModelRegistry/MeshModelComponent.js
Labels: component/ui

#13765 Add carousel for smaller screen in dashboard tabs menu
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/resources/resources-sub-menu.js
  ui/components/DashboardComponent/resources/resources-table.js
  ui/components/DashboardComponent/style.js
  ui/components/MeshModelRegistry/MeshModelDetails.js
  ui/themes/App.styles.js
Labels: component/ui

#13767 make resource detail view and tables responsive
  ui/components/DashboardComponent/index.js
  ui/components/DashboardComponent/overview.js
  ui/components/DashboardComponent/view-component.js
  ui/components/DashboardComponent/view.js
  ui/components/Filters.js
  ui/components/Header.js
  ui/components/MeshModelRegistry/MeshModelComponent.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesheryPatterns.js
  ui/components/configuratorComponents/MeshModel/index.js
Labels: component/ui

#13752 Improve Font Loading, Adjust Width, and Add Image Path Fallback
  provider-ui/components/Provider.js
  provider-ui/components/Provider.style.js
  provider-ui/components/SistentWrapper.js
  provider-ui/pages/_app.js
  provider-ui/public/static/style/index.css
Labels: component/ui

#13769 Enhance responsiveness for the drawer and header
  ui/components/Header.js
  ui/components/Header.styles.js
  ui/components/Navigator.js
  ui/themes/App.styles.js
Labels: component/ui

#13770 Fix broken links in the Overview & Installation section of the Meshery documentation
  docs/_includes/related-discussions.html
  docs/pages/installation/aks.md
  docs/pages/installation/brew.md
  docs/pages/installation/codespaces.md
  docs/pages/installation/docker-extension.md
  docs/pages/installation/eks.md
  docs/pages/installation/gke.md
  docs/pages/installation/kubernetes.md
  docs/pages/installation/minikube.md
Labels: area/docs

#13729 Fix/clean lightbox issue
  docs/assets/css/lightbox.css
  docs/assets/js/lightbox.js
  docs/pages/project/contributing/contributing-docs.md
Labels: area/docs

#13773 enhance styling for the scrollbar
  ui/public/static/style/index.css
Labels: component/ui

#13528 Add tutorial - Embedding Designs in Wordpress
  docs/pages/guides/tutorials/embedding-design-in-wordpress/add-custom-html.png
  docs/pages/guides/tutorials/embedding-design-in-wordpress/copy-url.png
  docs/pages/guides/tutorials/embedding-design-in-wordpress/embedded-design-preview.png
  docs/pages/guides/tutorials/embedding-design-in-wordpress/embeddesign-HTML.png
  docs/pages/guides/tutorials/embedding-design-in-wordpress/embeddesign.png
  docs/pages/guides/tutorials/embedding-design-in-wordpress/expand-designs-kanvas.png
  docs/pages/guides/tutorials/embedding-design-in-wordpress/meshery-design-custom-html.png
  docs/pages/guides/tutorials/embedding-design-in-wordpress/quickaction-exportdesign.png
  docs/pages/guides/tutorials/embedding-design-in-wordpress/upload-js-wordpress.png
  docs/pages/guides/tutorials/embedding-meshery-design-in-wordpress.md
Labels: area/docs

#13775 Migrate navigator component from class based to functional based comp…
  ui/components/Navigator.js
  ui/rtk-query/user.js
Labels: component/ui

#13777 Convert RemoteExtension to functional component from class component
  ui/pages/extension/[...component].js
Labels: component/ui

#13771 [CI] Workflow bom.yaml only run in meshery/meshery
  .github/workflows/bom.yaml
Labels: area/ci

#13655 [Header.js] Convert class component to functional component
  ui/components/Header.js
  ui/components/HeaderMenu.js
  ui/components/SpacesSwitcher/SpaceSwitcher.js
  ui/components/User.js
  ui/rtk-query/ability.js
Labels: component/ui, issue/dco

#13725 [e2e] - Increased coverage on homepage (Performance)
  ui/tests/e2e/performance.spec.js
Labels: component/ui, tests

#13774 Fix pattern crud in confgigurator
  ui/components/MesheryPatterns.js
  ui/components/configuratorComponents/MeshModel/hooks/useDesignLifecycle.js
Labels: component/ui

#13787 fix: colloborator not loading in the first render issue
  ui/components/ExtensionSandbox.js
Labels: component/ui, component/extensions

#13788 Revert "[e2e] - Increased coverage on homepage (Performance)"
  ui/tests/e2e/performance.spec.js
Labels: component/ui, tests

#13792 Leecalcote/docs/broken-links
  docs/_data/toc.yml
  docs/_modelscustominfo/aws-ec2.md
  docs/pages/concepts/architectural/adapters.md
  docs/pages/concepts/architectural/architecture.md
  docs/pages/guides/configuration-management/configuration-management.md
  docs/pages/guides/configuration-management/exporting-models.md
  docs/pages/guides/infrastructure-management/gitops-with-meshery.md
  docs/pages/guides/mesheryctl/running-system-checks-using-mesheryctl.md
  docs/pages/guides/performance-management/performance-management.md
  docs/pages/guides/troubleshooting/meshery-operator-meshsync-troubleshooting.md
  docs/pages/guides/tutorials/deploy-aws-ec2-instances-with-meshery.md
  docs/pages/project/compatibility_matrix/compatibility.md
Labels: area/docs

#13791 Delete docs/pages/project/contributing/contributing-cypress.md
  docs/pages/project/contributing/contributing-cypress.md
Labels: area/docs

#13790 [CI] Update from `ubuntu-20.04` to `ubuntu-24.04` as runner
  .github/workflows/build-and-release-stable.yml
Labels: area/ci

#13793 docs: broken-links
  docs/_data/toc.yml
  docs/pages/guides/infrastructure-management/lifecycle-management.md
  docs/pages/guides/performance-management/performance-management.md
  docs/pages/reference/meshync-crd-reference.md
Labels: area/docs
