Repository meshery/meshery, pull requests merged in 2025-07, with the labels that each got.

#15260 update model definition ouput path for remote provider
  .github/workflows/integrations-updater.yml
Labels: area/ci

#15270 Delete server/meshmodel/kubernetes/v1.32.0-alpha.3/v1.0.0/relationshi…
  server/meshmodel/kubernetes/v1.32.0-alpha.3/v1.0.0/relationships/sibling-matchlabels.json
Labels: component/server, area/models

#14888 e2e tests for component view
  mesheryctl/internal/cli/root/components/view.go
  mesheryctl/tests/e2e/005-component/03-component-view.bats
  mesheryctl/tests/e2e/005-component/testdata/component-view/exp_out_json.txt
  mesheryctl/tests/e2e/005-component/testdata/component-view/exp_out_yaml.txt
Labels: component/mesheryctl, area/tests

#15259 Upgraded jwt library to 5.2.2 with neccesary dep changes
  go.mod
  go.sum
  server/models/remote_auth.go
Labels: component/server

#15285 Attendance 3 of july
  docs/_meetings/week-of-06-30-2025/oscar_gonzalez.md
Labels: area/docs

#15289 July 3 Attendance
  docs/_meetings/week-of-06-30-2025/samuel-raj.md
Labels: area/docs

#15291 create goodness-eboh.md
  docs/_meetings/week-of-06-30-2025/goodness-eboh.md
Labels: area/docs

#15292 mark my attendance for the week of 30th , June , 2025 Create towoju-charles.md
  docs/_meetings/week-of-06-30-2025/towoju-charles.md
Labels: area/docs

#15294 Meeting Attendance Jul 3rd
  docs/_meetings/week-of-06-30-2025/Gaurav_Deep.md
Labels: area/docs

#15295 Mark my attendance for July 3rd 2025
  docs/_meetings/week-of-06-30-2025/preston-mayieka.md
Labels: area/docs

#15286 demo: mark my attendance for the week of 30th June, 2025
  docs/_meetings/week-of-06-30-2025/vivek-vishal.md
Labels: area/docs

#15182 Fix: Share options overflow outside dialog container on performance chart modal
  ui/components/MesheryChart.js
Labels: area/docs, area/ci, component/ui, component/server, issue/dco, area/models

#15037 TypeScript Initialisation
  install/docker/Dockerfile
  install/docker/testing/Dockerfile
  ui/.babelrc
  ui/.eslintignore
  ui/.eslintrc.js
  ui/constants/colors.ts
  ui/constants/endpoints.ts
  ui/constants/navigator.ts
  ui/jsconfig.json
  ui/next-env.d.ts
  ui/next.config.js
  ui/package-lock.json
  ui/package.json
  ui/themes/app.ts
  ui/themes/index.ts
  ui/themes/rjsf.ts
  ui/tsconfig.json
  ui/utils/Enum.ts
  ui/utils/URLValidator.ts
  ui/utils/camelCaseToSentanceCase.ts
  ui/utils/charts.ts
  ui/utils/cypress-gql/graphql-test-utils.ts
  ui/utils/debounce.js
  ui/utils/debounce.ts
  ui/utils/dimension.ts
  ui/utils/fallback.ts
  ui/utils/fileDownloader.ts
  ui/utils/helpers/kubernetesHelpers.ts
  ui/utils/helpers/mesheryOperator.ts
  ui/utils/helpers/serviceMeshes.ts
  ui/utils/nameMapper.ts
  ui/utils/permission_constants.ts
  ui/utils/responsive-column.ts
  ui/utils/zIndex.ts
Labels: component/ui

#15325 Fixing Typos in mesheryctl exp organization command
  mesheryctl/internal/cli/root/organizations/list.go
  mesheryctl/internal/cli/root/organizations/organization.go
Labels: component/mesheryctl

#15331 fix: add null checks for validators in design validation functions
  ui/machines/validator/designValidator.js
Labels: component/ui

#15332 Revert "TypeScript Initialisation"
  install/docker/Dockerfile
  install/docker/testing/Dockerfile
  ui/.babelrc
  ui/.eslintignore
  ui/.eslintrc.js
  ui/constants/colors.js
  ui/constants/endpoints.js
  ui/constants/navigator.js
  ui/jsconfig.json
  ui/next-env.d.ts
  ui/next.config.js
  ui/package-lock.json
  ui/package.json
  ui/themes/app.js
  ui/themes/index.js
  ui/themes/rjsf.js
  ui/tsconfig.json
  ui/utils/Enum.js
  ui/utils/URLValidator.js
  ui/utils/camelCaseToSentanceCase.js
  ui/utils/charts.js
  ui/utils/cypress-gql/graphql-test-utils.js
  ui/utils/debounce.js
  ui/utils/debounce.ts
  ui/utils/dimension.js
  ui/utils/fallback.js
  ui/utils/fileDownloader.js
  ui/utils/helpers/kubernetesHelpers.js
  ui/utils/helpers/mesheryOperator.js
  ui/utils/helpers/serviceMeshes.js
  ui/utils/nameMapper.js
  ui/utils/permission_constants.js
  ui/utils/responsive-column.js
  ui/utils/zIndex.js
Labels: component/ui

#15338 fix relationship wildcard match
  server/meshmodel/meshery-core/0.7.2/v1.0.0/policies/feasibility_evaluation.rego
Labels: component/server, area/models

#15340 [Chore]: Bump Sistent v0.14.204
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#15248 Docs: Refactor Kanvas guide into general extension troubleshooting
  docs/_data/toc.yml
  docs/pages/guides/troubleshooting/enable-extension.md
Labels: area/docs

#15353 Marking My Attendance for week-of-07-07-2025
  docs/_meetings/2025/week-of-07-07-2025/animesh-kumar.md
  docs/_meetings/2025/week-of-07-07-2025/temp.txt
Labels: area/docs

#15352 Jul 10 attendance
  docs/_meetings/2025/week-of-07-07-2025/Preston-mayieka.md
Labels: area/docs

#15351 Jul 10 Meeting Attendance
  docs/_meetings/2025/week-of-07-07-2025/Gaurav_Deep.md
Labels: area/docs

#15349 Create create-attendence.md
  docs/_meetings/2025/week-of-07-07-2025/create-attendence.md
Labels: area/docs

#15348 Create Subhampaul.md
  docs/_meetings/2025/week-of-07-07-2025/Subhampaul.md
Labels: area/docs

#15347 Create Edison-Ordonez.md
  docs/_meetings/2025/week-of-07-07-2025/Edison-Ordonez.md
Labels: area/docs

#15350 Creating my first PR
  docs/_meetings/2025/week-of-07-07-2025/albshoji.txt
Labels: area/docs

#15245 feature: schema driven connection: use connection from schema in (instead of) models/connections and model/environments
  go.mod
  go.sum
  mesheryctl/internal/cli/root/environments/create.go
  mesheryctl/internal/cli/root/model/init.go
  server/handlers/grafana_handlers.go
  server/handlers/k8sconfig_handler.go
  server/handlers/prometheus_handlers.go
  server/models/connection_persister.go
  server/models/connections/connections.go
  server/models/default_local_provider.go
  server/models/environment_persister.go
  server/models/environments/environment.go
  server/models/remote_provider.go
Labels: component/mesheryctl, component/server

#15367 Fix: Switcher tooltip on initial render
  ui/components/SpacesSwitcher/SpaceSwitcher.js
Labels: component/ui

#15316 fix/image-scan issue spam
  .github/workflows/image-scan.yml
Labels: area/ci

#15363 [UI] fix: environment card: handle two formats of deleted_at field
  ui/components/Lifecycle/Environments/environment-card.js
Labels: component/ui

#15382 enhanced import command error message
  mesheryctl/internal/cli/root/model/import.go
Labels: component/mesheryctl

#15250 Fix: Adding Tooltip in Workspace Modal
  ui/components/SpacesSwitcher/DesignViewListItem.js
  ui/components/SpacesSwitcher/WorkspaceModal.js
  ui/components/SpacesSwitcher/WorkspaceSwitcher.js
Labels: component/ui

#15404 Itsagarverma patch 1
  docs/_meetings/2025/week-of-07-14-2025/Sagar-Verma
Labels: area/docs

#15403 attendance_17_07_2025
  docs/_meetings/2025/week-of-07-14-2025/oscar_gonzalez.md
Labels: area/docs

#15398 new comer task by Adnaan Ali
  docs/_meetings/2025/week-of-07-14-2025/Adnaan_Ali
Labels: area/docs

#15395 Create shiva_shankar.md
  docs/_meetings/2025/week-of-07-14-2025/shiva_shankar.md
Labels: area/docs

#15394 Create Leul-Adnew.md - marking my attendance
  docs/_meetings/2025/week-of-07-14-2025/Leul-Adnew.md
Labels: area/docs

#15390 Mark my attendace July 17, 2025
  docs/_meetings/2025/week-of-07-14-2025/Naman_Verma.md
Labels: area/docs

#15410 fix: added no connection helper string
  ui/components/DesignLifeCycle/DeployStepper.js
  ui/components/DesignLifeCycle/SelectDeploymentTarget.js
Labels: component/ui

#15411 update go version to 1.24
  .github/workflows/build-and-release-ctl.yml
  .github/workflows/build-and-release-stable.yml
  .github/workflows/build-ui-and-server.yml
  .github/workflows/build-ui-server-reusable-workflow.yml
  .github/workflows/error-codes-updater.yaml
  .github/workflows/go-mod-sync.yaml
  .github/workflows/go-testing-ci.yml
  .github/workflows/mesheryctl-ci.yml
  .github/workflows/mesheryctl-e2e.yaml
  .github/workflows/model-generator.yml
  .github/workflows/server-integration-tests.yml
  go.mod
  install/Makefile.core.mk
  install/docker-extension/Dockerfile
  install/docker-extension/go.mod
  install/docker/Dockerfile
  install/docker/testing/Dockerfile
Labels: area/ci, area/lifecycle, component/extensions

#15362 Reapply "Merge pull request #14799 from n2h9/feature-meshsync-as-a-library
  go.mod
  go.sum
  server/cmd/main.go
  server/machines/kubernetes/connect.go
  server/models/meshery_controllers.go
  server/models/meshsync_events.go
Labels: component/server

#15417 chore: mesheryctl update model init templates: disable connection tem…
  go.mod
  go.sum
  mesheryctl/internal/cli/root/model/init.go
  mesheryctl/internal/cli/root/model/init_test.go
Labels: component/mesheryctl

#15324 [UI] Added missing VerticalPodAutoscaler icon and fixed icon flicker …
  ui/public/static/img/meshmodels/kubernetes/color/leases-color.svg
  ui/public/static/img/meshmodels/kubernetes/color/verticalpodautoscaler-color.svg
Labels: component/ui

#15420 chore: move model init model build command from experimental command to ordinary commands
  docs/_data/mesheryctlcommands/cmds.yml
  mesheryctl/internal/cli/root/experimental/experimental.go
  mesheryctl/internal/cli/root/model/build.go
  mesheryctl/internal/cli/root/model/build_test.go
  mesheryctl/internal/cli/root/model/init.go
  mesheryctl/internal/cli/root/model/init_test.go
  mesheryctl/internal/cli/root/model/model-exp.go
  mesheryctl/internal/cli/root/model/model.go
  mesheryctl/internal/cli/root/model/testdata/model.build.error.folder-does-not-exist.golden
  mesheryctl/internal/cli/root/model/testdata/model.build.error.not-supporting-multiple-versions-build.golden
  mesheryctl/internal/cli/root/model/testdata/model.build.error.usage.golden
  mesheryctl/internal/cli/root/model/testdata/model.init.aws-dynamodb-controller-in-yaml.output.golden
  mesheryctl/internal/cli/root/model/testdata/model.init.aws-ec2-controller.output.golden
  mesheryctl/internal/cli/root/model/testdata/model.init.custom-dir-2.aws-ec2-controller.output.golden
  mesheryctl/internal/cli/root/model/testdata/model.init.custom-dir.aws-ec2-controller.output.golden
  mesheryctl/internal/cli/root/model/testdata/model.init.custom-relative-parent-dir.aws-ec2-controller.output.golden
Labels: area/docs, component/mesheryctl

#15426 [Chore]: Bump Sistent v0.14.206
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#15428 [Chore]: Bump Sistent v0.14.207
  ui/package-lock.json
  ui/package.json
Labels: component/ui

#15343 docs: update Schema Contribution guide with real use case examples
  docs/pages/project/contributing/contributing-schemas.md
Labels: area/docs

#15441 attendance_oscarGonzalez_24-07-2035
  docs/_meetings/2025/week-of-07-21-2025/oscar_gonzalez.md
Labels: area/docs

#15434 Create varad-attendance-24-07-2025.md
  docs/_meetings/2025/week-of-07-21-2025/varad-attendance-24-07-2025.md
Labels: area/docs

#15436 attendance
  docs/_meetings/2025/week-of-07-21-2025/arindam.md
Labels: area/docs

#15276 Added tutorial for azure operator and resources
  docs/pages/guides/tutorials/azure-resources-deployment.md
Labels: area/docs

#15452 chore: move code which writes docker compose config
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/pkg/utils/helpers.go
  mesheryctl/pkg/utils/platform.go
Labels: component/mesheryctl, area/lifecycle

#15440 [mesheryctl] add e2e tests for mesheryctl system stop
  mesheryctl/tests/e2e/001-system/04-system-stop.bats
Labels: component/mesheryctl, area/tests

#15473 fix: registry icons depends on routing , causes trouble in fetching when used in kanvas
  ui/components/NotificationCenter/formatters/model_registration.js
Labels: component/ui

#15474 faheem.md - newcomer
  docs/_meetings/2025/week-of-07-28-2025/faheem.md
Labels: area/docs

#15478 Create JunaidAli.md
  docs/_meetings/2025/week-of-07-28-2025/JunaidAli.md
Labels: area/docs

#15480 Create vanshika-sabharwal-attendance.md
  docs/_meetings/2025/week-of-07-28-2025/vanshika-sabharwal-attendance.md
Labels: area/docs

#15481 attendance: Shigraf Salik
  docs/_meetings/2025/week-of-07-28-2025/ShigrafSalik.md
Labels: area/docs

#15482 Create Ahmed_Hossam_attendance.md
  docs/_meetings/2025/week-of-07-28-2025/Ahmed_Hossam_attendance.md
Labels: area/docs

#15485 Create Het Shah.md
  docs/_meetings/2025/week-of-07-28-2025/Het Shah.md
Labels: area/docs

#15475 Create varad-gupta.md
  docs/_meetings/2025/week-of-07-28-2025/varad-gupta.md
Labels: area/docs
